Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: isort_nucliadb
        name: Isort
        entry: isort --profile black -c
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)(^nucliadb_performace/)
        types: ["python"]

      - id: black_nucliadb
        name: Black
        entry: black --check --verbose
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)(^nucliadb_performace/)
        types: ["python"]

      - id: flake8_nucliadb
        name: Flake8
        entry: flake8 --config=nucliadb/setup.cfg
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)(^nucliadb_performace/)
        types: ["python"]

      - id: rustfmt_nucliadb
        name: fmt
        entry: cargo +nightly fmt --check
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nucliadb
        name: clippy
        entry: cargo clippy --all-features -- -D warnings
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

fix
  nucliadb/nucliadb/common/datamanagers/resources.py
  nucliadb/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/nucliadb/reader/api/v1/export_import.py
  nucliadb/nucliadb/reader/api/v1/services.py
  nucliadb/nucliadb/search/search/predict_proxy.py
  nucliadb/nucliadb/writer/api/v1/export_import.py
Due: none

format
  nucliadb/nucliadb/ingest/tests/unit/service/test_writer.py
  nucliadb/nucliadb/search/search/predict_proxy.py
  nucliadb/nucliadb/search/tests/unit/search/test_query.py
  nucliadb/nucliadb/tests/integration/common/datamanagers/test_entities.py
  nucliadb/nucliadb/tests/unit/common/cluster/test_rollover.py
Due: none

fix
  nucliadb/nucliadb/ingest/tests/integration/consumer/test_materializer.py
Due: none

fix
  nucliadb/nucliadb/common/datamanagers/resources.py
  nucliadb/nucliadb/ingest/tests/integration/consumer/test_materializer.py
Due: none

only primary merges
  nucliadb_node/src/bin/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

only primary merges (#1976)
  nucliadb_node/src/bin/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

happy clippy
  nucliadb_vectors2/src/data_point_provider/reader.rs
  nucliadb_vectors2/src/data_point_provider/writer.rs
Due: none

damit
  nucliadb_vectors2/src/data_point_provider/reader.rs
Due: none

Fix typo
  nucliadb/nucliadb/writer/back_pressure.py
Due: none

Fix processing client
  nucliadb/nucliadb/common/http_clients/processing.py
Due: none

Fix processing client /stats (#1977)
  nucliadb/nucliadb/common/http_clients/processing.py
  nucliadb/nucliadb/writer/back_pressure.py
Due: none

Improve typing for traced jetstream
  nucliadb/nucliadb/common/cluster/rollover.py
  nucliadb/nucliadb/writer/back_pressure.py
  nucliadb_telemetry/nucliadb_telemetry/jetstream.py
  nucliadb_utils/nucliadb_utils/nats.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Fix NATS timeouts by actually asking for the proper consumer
  nucliadb/nucliadb/writer/back_pressure.py
Due: none

Fix tests
  nucliadb/nucliadb/writer/tests/unit/test_back_pressure.py
Due: none

Fix test
  nucliadb/nucliadb/writer/tests/unit/test_back_pressure.py
Due: none

Lints
  nucliadb/nucliadb/writer/tests/unit/test_back_pressure.py
Due: none

Fix pre-commit and use make targets
  .pre-commit-config.yaml
Due: none

Fix NATS timeouts by actually asking for the proper consumer (#1979)
  nucliadb/nucliadb/writer/back_pressure.py
  nucliadb/nucliadb/writer/tests/unit/test_back_pressure.py
Due: none

open data points (#1968)
  Cargo.lock
  nucliadb_vectors2/Cargo.toml
  nucliadb_vectors2/src/data_point_provider/reader.rs
  nucliadb_vectors2/src/data_point_provider/writer.rs
Due: none

Improve typing for traced jetstream (#1978)
  nucliadb/nucliadb/common/cluster/rollover.py
  nucliadb/nucliadb/writer/back_pressure.py
  nucliadb/nucliadb/writer/tests/unit/test_back_pressure.py
  nucliadb_telemetry/nucliadb_telemetry/jetstream.py
  nucliadb_utils/nucliadb_utils/nats.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Fix pre-commit and use make targets (#1980)
  .pre-commit-config.yaml
Due: none

secondaries dont finalize
  nucliadb_node/src/bin/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

secondaries dont finalize (#1981)
  nucliadb_node/src/bin/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Commit on merge sends merge request
  nucliadb_core/src/lib.rs
  nucliadb_core/src/merge.rs
  nucliadb_core/src/vectors.rs
  nucliadb_node/src/lifecycle.rs
  nucliadb_node/src/merge/errors.rs
  nucliadb_node/src/merge/global.rs
  nucliadb_node/src/merge/mod.rs
  nucliadb_node/src/merge/scheduler.rs
  nucliadb_node/src/merge/work.rs
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_node/src/shards/shard_writer.rs
  nucliadb_node/tests/common/node_services.rs
  nucliadb_node_binding/src/writer.rs
  nucliadb_vectors/src/service/reader.rs
  nucliadb_vectors/src/service/writer.rs
  nucliadb_vectors2/src/data_point_provider/writer.rs
  nucliadb_vectors2/src/indexset/mod.rs
  nucliadb_vectors2/src/service/reader.rs
  nucliadb_vectors2/src/service/writer.rs
  vectors_benchmark/src/binaries/1m_stats.rs
  vectors_benchmark/src/binaries/vectors_benchmark.rs
Due: rustfmt_nucliadb, clippy_nucliadb

formatting
  nucliadb_core/src/vectors.rs
Due: none

Remove unused MergeSource::OnCommit
  nucliadb_core/src/metrics/metric/vectors.rs
  nucliadb_node/src/merge/scheduler.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Vectors replication from state (#1933)
  nucliadb_core/src/lib.rs
  nucliadb_node/tests/common/node_services.rs
  nucliadb_node/tests/common/resources.rs
  nucliadb_node/tests/test_replication.rs
  nucliadb_vectors2/src/data_point_provider/mod.rs
  nucliadb_vectors2/src/data_point_provider/replication.rs
  nucliadb_vectors2/src/data_point_provider/state.rs
  nucliadb_vectors2/src/service/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Better docs for chat endpoint x-synchronous
  .pre-commit-config.yaml
  nucliadb/nucliadb/search/api/v1/chat.py
  nucliadb/nucliadb/search/api/v1/resource/chat.py
Due: none

Change message
  nucliadb/nucliadb/search/api/v1/chat.py
  nucliadb/nucliadb/search/api/v1/resource/chat.py
Due: none

Again
  nucliadb/nucliadb/search/api/v1/chat.py
  nucliadb/nucliadb/search/api/v1/resource/chat.py
Due: none

Add back pressure feature flag for non-disturbing testing
  nucliadb/nucliadb/writer/back_pressure.py
  nucliadb_utils/nucliadb_utils/const.py
  nucliadb_utils/nucliadb_utils/featureflagging.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Better docs for chat x sync (#1982)
  .pre-commit-config.yaml
  nucliadb/nucliadb/search/api/v1/chat.py
  nucliadb/nucliadb/search/api/v1/resource/chat.py
Due: none

Proxy predict errors to client
  nucliadb/nucliadb/search/api/v1/chat.py
  nucliadb/nucliadb/search/api/v1/feedback.py
  nucliadb/nucliadb/search/api/v1/find.py
  nucliadb/nucliadb/search/api/v1/resource/chat.py
  nucliadb/nucliadb/search/api/v1/search.py
  nucliadb/nucliadb/search/api/v1/summarize.py
Due: none

Add back pressure feature flag for non-disturbing testing (#1983)
  nucliadb/nucliadb/writer/back_pressure.py
  nucliadb_utils/nucliadb_utils/const.py
  nucliadb_utils/nucliadb_utils/featureflagging.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Move scheduler config to Settings
  nucliadb_node/src/settings/inner_settings.rs
  nucliadb_node/src/settings/mod.rs
  nucliadb_node/src/settings/providers.rs
Due: rustfmt_nucliadb, clippy_nucliadb

implement shard rebalancing
  charts/nucliadb_ingest/templates/rebalance.cronjob.yaml
  nucliadb/nucliadb/common/cluster/rebalance.py
  nucliadb/nucliadb/common/cluster/rollover.py
  nucliadb/nucliadb/common/cluster/utils.py
  nucliadb/nucliadb/common/datamanagers/kb.py
  nucliadb/nucliadb/common/datamanagers/resources.py
  nucliadb/nucliadb/common/locking.py
  nucliadb/nucliadb/ingest/consumer/shard_creator.py
  nucliadb/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/nucliadb/ingest/orm/processor/__init__.py
  nucliadb/nucliadb/ingest/service/writer.py
  nucliadb/nucliadb/ingest/tests/integration/ingest/test_ingest.py
  nucliadb/nucliadb/ingest/tests/integration/orm/test_processor.py
  nucliadb/nucliadb/ingest/tests/integration/servicer/test_knowledgebox_servicer.py
  nucliadb/nucliadb/ingest/tests/unit/consumer/test_shard_creator.py
  nucliadb/nucliadb/metrics_exporter.py
  nucliadb/nucliadb/migrator/context.py
  nucliadb/nucliadb/migrator/datamanager.py
  nucliadb/nucliadb/migrator/migrator.py
  nucliadb/nucliadb/purge/orphan_shards.py
  nucliadb/nucliadb/reader/api/v1/knowledgebox.py
  nucliadb/nucliadb/tests/integration/common/cluster/test_rebalance.py
  nucliadb/nucliadb/tests/integration/common/test_locking.py
  nucliadb/nucliadb/train/nodes.py
  nucliadb/setup.py
  nucliadb_utils/nucliadb_utils/cache/locking.py
  nucliadb_utils/nucliadb_utils/const.py
  nucliadb_utils/nucliadb_utils/featureflagging.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Review comments
  nucliadb_vectors/src/service/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Fix GC loop in node binding
  nucliadb_node_binding/src/collect_garbage.rs
Due: none

Fix GC loop in node binding (#1985)
  nucliadb_node_binding/src/collect_garbage.rs
Due: none
