Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint_nucliadb
        name: Lint nucliadb
        entry: make -C nucliadb lint
        language: system
        files: (^nucliadb/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_dataset
        name: Lint nucliadb_dataset
        entry: make -C nucliadb_dataset lint
        language: system
        files: (^nucliadb_dataset/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_models
        name: Lint nucliadb_models
        entry: make -C nucliadb_models lint
        language: system
        files: (^nucliadb_models/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_node
        name: Lint nucliadb_node
        entry: make -C nucliadb_node lint
        language: system
        files: (^nucliadb_node/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_node_binding
        name: Lint nucliadb_node_binding
        entry: make -C nucliadb_node_binding lint
        language: system
        files: (^nucliadb_node_binding/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_performance
        name: Lint nucliadb_performance
        entry: make -C nucliadb_performance lint
        language: system
        files: (^nucliadb_performance/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_sdk
        name: Lint nucliadb_sdk
        entry: make -C nucliadb_sdk lint
        language: system
        files: (^nucliadb_sdk/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_telemetry
        name: Lint nucliadb_telemetry
        entry: make -C nucliadb_telemetry lint
        language: system
        files: (^nucliadb_telemetry/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_utils
        name: Lint nucliadb_utils
        entry: make -C nucliadb_utils lint
        language: system
        files: (^nucliadb_utils/)
        types: ["python"]
        pass_filenames: false

      - id: rustfmt_nucliadb
        name: fmt
        entry: cargo fmt --check
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nucliadb
        name: clippy
        entry: cargo clippy --all-features -- -D warnings
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

validate resource icon too
  nucliadb_models/src/nucliadb_models/writer.py
Due: lint_nucliadb_models

fix
  nucliadb/src/nucliadb/writer/api/v1/upload.py
Due: lint_nucliadb

Validate content type
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/writer/api/v1/upload.py
  nucliadb/src/nucliadb/writer/resource/basic.py
  nucliadb/src/nucliadb/writer/resource/field.py
  nucliadb/tests/ingest/unit/orm/test_resource.py
  nucliadb/tests/standalone/integration/test_upload_download.py
  nucliadb/tests/writer/test_fields.py
  nucliadb/tests/writer/test_files.py
  nucliadb/tests/writer/unit/api/v1/test_upload.py
  nucliadb_models/src/nucliadb_models/common.py
  nucliadb_models/src/nucliadb_models/content_types.py
  nucliadb_models/src/nucliadb_models/writer.py
Due: lint_nucliadb, lint_nucliadb_models

Simpler
  nucliadb_models/src/nucliadb_models/writer.py
Due: lint_nucliadb_models

Validate content type (#2404)
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/writer/api/v1/upload.py
  nucliadb/src/nucliadb/writer/resource/basic.py
  nucliadb/src/nucliadb/writer/resource/field.py
  nucliadb/tests/ingest/unit/orm/test_resource.py
  nucliadb/tests/standalone/integration/test_upload_download.py
  nucliadb/tests/writer/test_fields.py
  nucliadb/tests/writer/test_files.py
  nucliadb/tests/writer/unit/api/v1/test_upload.py
  nucliadb_models/src/nucliadb_models/common.py
  nucliadb_models/src/nucliadb_models/content_types.py
  nucliadb_models/src/nucliadb_models/writer.py
Due: lint_nucliadb, lint_nucliadb_models

Add migration
  nucliadb/src/migrations/0026_fix_high_cardinality_content_types.py
Due: lint_nucliadb

Soft remove it
  e2e/test_e2e.py
  nucliadb/src/nucliadb/search/api/v1/chat.py
  nucliadb/src/nucliadb/search/api/v1/resource/chat.py
  nucliadb/tests/nucliadb/integration/test_chat.py
  nucliadb/tests/search/unit/api/v1/resource/test_chat.py
  nucliadb/tests/search/unit/api/v1/test_chat.py
  nucliadb_sdk/README.md
  nucliadb_sdk/src/nucliadb_sdk/v2/docstrings.py
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
  nucliadb_sdk/tests/test_chat.py
  nucliadb_sdk/tests/test_sdk.py
  nucliadb_sdk/tests/test_sdk_async.py
  nucliadb_utils/src/nucliadb_utils/const.py
Due: lint_nucliadb, lint_nucliadb_sdk, lint_nucliadb_utils

Do not include them in openai schema
  nucliadb/src/nucliadb/search/api/v1/chat.py
  nucliadb/src/nucliadb/search/api/v1/resource/chat.py
Due: lint_nucliadb

fix flag name
  nucliadb_utils/src/nucliadb_utils/const.py
Due: lint_nucliadb_utils

Do not depend on models on e2e
  e2e/test_e2e.py
Due: none

fix test
  e2e/test_e2e.py
Due: none

Add field streaming
  nucliadb/src/nucliadb/train/api/v1/check.py
  nucliadb/src/nucliadb/train/generator.py
  nucliadb/src/nucliadb/train/generators/field_streaming.py
  nucliadb/src/nucliadb/train/types.py
  nucliadb_dataset/src/nucliadb_dataset/dataset.py
  nucliadb_dataset/src/nucliadb_dataset/mapping.py
  nucliadb_dataset/src/nucliadb_dataset/tasks.py
  nucliadb_protos/dataset.proto
  nucliadb_protos/python/src/nucliadb_protos/dataset_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/dataset_pb2.pyi
Due: lint_nucliadb, lint_nucliadb_dataset

fix ci
  nucliadb/tests/standalone/integration/test_upload_download.py
Due: lint_nucliadb

try
  nucliadb/tests/standalone/integration/test_upload_download.py
Due: lint_nucliadb

Add extra
  nucliadb/tests/standalone/integration/test_upload_download.py
  nucliadb_models/src/nucliadb_models/content_types.py
Due: lint_nucliadb, lint_nucliadb_models

Fix CI (#2407)
  nucliadb/tests/standalone/integration/test_upload_download.py
  nucliadb_models/src/nucliadb_models/content_types.py
Due: lint_nucliadb, lint_nucliadb_models

Do not decrease coverage
  nucliadb/src/nucliadb/search/api/v1/chat.py
  nucliadb/src/nucliadb/search/search/chat/query.py
Due: lint_nucliadb

(soft) remove chat endpoint (#2406)
  e2e/test_e2e.py
  nucliadb/src/nucliadb/search/api/v1/chat.py
  nucliadb/src/nucliadb/search/api/v1/resource/chat.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/tests/nucliadb/integration/test_chat.py
  nucliadb/tests/search/unit/api/v1/resource/test_chat.py
  nucliadb/tests/search/unit/api/v1/test_chat.py
  nucliadb_sdk/README.md
  nucliadb_sdk/src/nucliadb_sdk/v2/docstrings.py
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
  nucliadb_sdk/tests/test_chat.py
  nucliadb_sdk/tests/test_sdk.py
  nucliadb_sdk/tests/test_sdk_async.py
  nucliadb_utils/src/nucliadb_utils/const.py
Due: lint_nucliadb, lint_nucliadb_sdk, lint_nucliadb_utils

add comment
  nucliadb/src/migrations/0026_fix_high_cardinality_content_types.py
Due: lint_nucliadb

Add more metrics for pgcatalog search
  nucliadb/src/nucliadb/search/search/pgcatalog.py
Due: lint_nucliadb

Add migration to fix high cardinality content type (#2405)
  nucliadb/src/migrations/0026_fix_high_cardinality_content_types.py
Due: lint_nucliadb

Add more metrics for pgcatalog search (#2408)
  nucliadb/src/nucliadb/search/search/pgcatalog.py
Due: lint_nucliadb

Fix broken doc links
  README.md
  charts/nucliadb/values.yaml
  docs/README.md
  nucliadb/setup.py
  nucliadb/src/nucliadb/search/api/v1/find.py
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/search/fetch.py
  nucliadb/src/nucliadb/standalone/app.py
  nucliadb/src/nucliadb/standalone/settings.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_sdk/setup.py
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_sdk

align
  README.md
Due: none

fix twitter
  README.md
Due: none

Fix broken doc links (#2409)
  README.md
  charts/nucliadb/values.yaml
  docs/README.md
  nucliadb/setup.py
  nucliadb/src/nucliadb/search/api/v1/find.py
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/search/fetch.py
  nucliadb/src/nucliadb/standalone/app.py
  nucliadb/src/nucliadb/standalone/settings.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_sdk/setup.py
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_sdk

Implemented
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb/src/nucliadb/common/ids.py
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/reader/api/v1/download.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/src/nucliadb/search/search/fetch.py
  nucliadb/src/nucliadb/search/search/paragraphs.py
  nucliadb/src/nucliadb/train/generators/field_classifier.py
  nucliadb/src/nucliadb/train/generators/image_classifier.py
  nucliadb/src/nucliadb/train/generators/paragraph_streaming.py
  nucliadb/src/nucliadb/train/generators/question_answer_streaming.py
  nucliadb/src/nucliadb/train/generators/sentence_classifier.py
  nucliadb/src/nucliadb/train/generators/token_classifier.py
  nucliadb/src/nucliadb/train/generators/utils.py
  nucliadb/tests/ingest/fixtures.py
  nucliadb/tests/search/unit/search/test_chat_prompt.py
  nucliadb/tests/train/test_question_answer_streaming.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

fix tests
  nucliadb/tests/nucliadb/unit/common/external_index_providers/test_pinecone.py
  nucliadb/tests/search/unit/search/results_hydrator/test_base.py
  nucliadb/tests/search/unit/search/test_chat_prompt.py
Due: lint_nucliadb

Add integration tests
  nucliadb/tests/nucliadb/integration/test_ask.py
  nucliadb_sdk/tests/test_ask.py
Due: lint_nucliadb, lint_nucliadb_sdk

add docs
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb_models

wip
  nucliadb/src/nucliadb/search/api/v1/find.py
  nucliadb/src/nucliadb/search/search/cache.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/src/nucliadb/search/search/find_merge.py
  nucliadb/src/nucliadb/search/search/merge.py
  nucliadb/src/nucliadb/search/search/paragraphs.py
  nucliadb/src/nucliadb/search/search/results_hydrator/base.py
Due: lint_nucliadb

Done
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb/src/nucliadb/common/ids.py
  nucliadb/src/nucliadb/ingest/orm/brain.py
  nucliadb/src/nucliadb/search/api/v1/ask.py
  nucliadb/src/nucliadb/search/api/v1/find.py
  nucliadb/src/nucliadb/search/api/v1/resource/search.py
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/api/v1/suggest.py
  nucliadb/src/nucliadb/search/search/cache.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/src/nucliadb/search/search/find_merge.py
  nucliadb/src/nucliadb/search/search/merge.py
  nucliadb/src/nucliadb/search/search/paragraphs.py
  nucliadb/src/nucliadb/search/search/results_hydrator/base.py
  nucliadb/tests/nucliadb/unit/common/test_ids.py
Due: lint_nucliadb

do not fetch resources and extracted text twice (#2411)
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb/src/nucliadb/common/ids.py
  nucliadb/src/nucliadb/ingest/orm/brain.py
  nucliadb/src/nucliadb/search/api/v1/ask.py
  nucliadb/src/nucliadb/search/api/v1/find.py
  nucliadb/src/nucliadb/search/api/v1/resource/search.py
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/api/v1/suggest.py
  nucliadb/src/nucliadb/search/search/cache.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/src/nucliadb/search/search/find_merge.py
  nucliadb/src/nucliadb/search/search/merge.py
  nucliadb/src/nucliadb/search/search/paragraphs.py
  nucliadb/src/nucliadb/search/search/results_hydrator/base.py
  nucliadb/tests/nucliadb/unit/common/test_ids.py
Due: lint_nucliadb

Be able to log payloads from specific kbids for debugging purposes
  nucliadb/src/nucliadb/search/api/v1/ask.py
  nucliadb/src/nucliadb/search/api/v1/find.py
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/search/utils.py
  nucliadb/tests/search/unit/search/search/test_utils.py
  nucliadb_utils/src/nucliadb_utils/const.py
  nucliadb_utils/src/nucliadb_utils/featureflagging.py
Due: lint_nucliadb, lint_nucliadb_utils

more complete test
  nucliadb/tests/search/unit/search/search/test_utils.py
Due: lint_nucliadb

Be able to log payloads from specific kbids for debugging purposes (#2412)
  nucliadb/src/nucliadb/search/api/v1/ask.py
  nucliadb/src/nucliadb/search/api/v1/find.py
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/search/utils.py
  nucliadb/tests/search/unit/search/search/test_utils.py
  nucliadb_utils/src/nucliadb_utils/const.py
  nucliadb_utils/src/nucliadb_utils/featureflagging.py
Due: lint_nucliadb, lint_nucliadb_utils
