Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: isort_nucliadb
        name: Isort
        entry: isort --profile black -c
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)
        types: ["python"]

      - id: black_nucliadb
        name: Black
        entry: black --check --verbose
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)
        types: ["python"]

      - id: flake8_nucliadb
        name: Flake8
        entry: flake8 --config=nucliadb/setup.cfg
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)
        types: ["python"]

      - id: rustfmt_nucliadb
        name: fmt
        entry: cargo +nightly fmt --check
        language: system
        files: (^nucliadb_vectors/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_paragraphs/)|(^nucliadb_texts/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nucliadb
        name: clippy
        entry: cargo clippy --all-features -- -D warnings
        language: system
        files: (^nucliadb_vectors/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_paragraphs/)|(^nucliadb_texts/)
        types: ["rust"]
        pass_filenames: false

Adapting question answer data model to something better for model scalability (#1501)
  nucliadb_protos/python/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/nucliadb_protos/dataset_pb2.py
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/nucliadb_protos/migrations_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodesidecar_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.py
  nucliadb_protos/python/nucliadb_protos/replication_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/standalone_pb2.py
  nucliadb_protos/python/nucliadb_protos/train_pb2.py
  nucliadb_protos/python/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/utils_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/writer_pb2_grpc.pyi
  nucliadb_protos/resources.proto
  nucliadb_protos/rust/src/resources.rs
Due: none

fix QA structure
  nucliadb_protos/python/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/nucliadb_protos/dataset_pb2.py
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/nucliadb_protos/migrations_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodesidecar_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.py
  nucliadb_protos/python/nucliadb_protos/replication_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/standalone_pb2.py
  nucliadb_protos/python/nucliadb_protos/train_pb2.py
  nucliadb_protos/python/nucliadb_protos/utils_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.py
  nucliadb_protos/resources.proto
  nucliadb_protos/rust/src/resources.rs
Due: none

fix QA structure (#1504)
  nucliadb_protos/python/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/nucliadb_protos/dataset_pb2.py
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/nucliadb_protos/migrations_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodesidecar_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.py
  nucliadb_protos/python/nucliadb_protos/replication_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/standalone_pb2.py
  nucliadb_protos/python/nucliadb_protos/train_pb2.py
  nucliadb_protos/python/nucliadb_protos/utils_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.py
  nucliadb_protos/resources.proto
  nucliadb_protos/rust/src/resources.rs
Due: none

fix documentation
  nucliadb/nucliadb/writer/api/v1/upload.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

renamed
  nucliadb/nucliadb/writer/api/v1/upload.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Done
  nucliadb/nucliadb/reader/api/v1/download.py
  nucliadb/nucliadb/reader/api/v1/resource.py
  nucliadb/nucliadb/writer/api/v1/field.py
  nucliadb/nucliadb/writer/api/v1/resource.py
  nucliadb/nucliadb/writer/api/v1/upload.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Done
  nucliadb/nucliadb/writer/api/v1/upload.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Move token classification unit test to it's folder
  nucliadb/nucliadb/train/tests/test_token_classification.py
  nucliadb/nucliadb/train/tests/unit/generators/test_token_classifier.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

missing one in train
  nucliadb/nucliadb/train/api/v1/trainset.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Fix documentation for resource slug endpoints (#1445)
  nucliadb/nucliadb/reader/api/v1/download.py
  nucliadb/nucliadb/reader/api/v1/resource.py
  nucliadb/nucliadb/train/api/v1/trainset.py
  nucliadb/nucliadb/writer/api/v1/field.py
  nucliadb/nucliadb/writer/api/v1/resource.py
  nucliadb/nucliadb/writer/api/v1/upload.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

BM stores field builders to be more flexible
  nucliadb/nucliadb/tests/utils/broker_messages/__init__.py
  nucliadb/nucliadb/tests/utils/broker_messages/fields.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Use bm utils for token classification test
  nucliadb/nucliadb/train/tests/test_paragraph_classification.py
  nucliadb/nucliadb/train/tests/test_sentence_classification.py
  nucliadb/nucliadb/train/tests/test_token_classification.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Clean up some tests
  nucliadb/nucliadb/train/tests/fixtures.py
  nucliadb/nucliadb/train/tests/test_paragraph_classification.py
  nucliadb/nucliadb/train/tests/test_sentence_classification.py
  nucliadb/nucliadb/train/tests/test_token_classification.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Revert and start again with new datasets training (#1500)
  nucliadb/nucliadb/tests/utils/broker_messages.py
  nucliadb/nucliadb/tests/utils/broker_messages/__init__.py
  nucliadb/nucliadb/tests/utils/broker_messages/fields.py
  nucliadb/nucliadb/tests/utils/broker_messages/helpers.py
  nucliadb/nucliadb/train/generator.py
  nucliadb/nucliadb/train/generators/field_classifier.py
  nucliadb/nucliadb/train/generators/paragraph_classifier.py
  nucliadb/nucliadb/train/tests/fixtures.py
  nucliadb/nucliadb/train/tests/test_field_classification.py
  nucliadb/nucliadb/train/tests/test_paragraph_classification.py
  nucliadb/nucliadb/train/tests/test_sentence_classification.py
  nucliadb/nucliadb/train/tests/test_token_classification.py
  nucliadb/nucliadb/train/tests/unit/generators/test_token_classifier.py
  nucliadb/nucliadb/writer/resource/basic.py
  nucliadb_dataset/nucliadb_dataset/dataset.py
  nucliadb_dataset/nucliadb_dataset/mapping.py
  nucliadb_dataset/nucliadb_dataset/tests/fixtures.py
  nucliadb_dataset/nucliadb_dataset/tests/integration/test_exporters.py
  nucliadb_dataset/nucliadb_dataset/tests/integration/test_field_classifier.py
  nucliadb_dataset/nucliadb_dataset/tests/integration/test_paragraph_classifier.py
  nucliadb_protos/dataset.proto
  nucliadb_protos/python/nucliadb_protos/dataset_pb2.py
  nucliadb_protos/python/nucliadb_protos/dataset_pb2.pyi
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

remove paragraphs unwraps
  nucliadb_paragraphs/src/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

disable livenessProbe for read replica (#1502)
  charts/nucliadb_node/templates/node.replicas.deploy.yaml
Due: none

doc(README): remove typo
  README.md
Due: none

remove paragraphs unwraps (#1505)
  nucliadb_paragraphs/src/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

remove debug config for index node and just use RUST_LOG env var
  charts/nucliadb_node/templates/node.cm.yaml
  charts/nucliadb_node/values.yaml
Due: none

remove debug config for index node and just use RUST_LOG env var (#1507)
  charts/nucliadb_node/templates/node.cm.yaml
  charts/nucliadb_node/values.yaml
Due: none

fix primary address
  charts/nucliadb_node/templates/node.replicas.deploy.yaml
Due: none

fix primary address (#1508)
  charts/nucliadb_node/templates/node.replicas.deploy.yaml
Due: none

revert done
  Cargo.lock
  Dockerfile.withbinding
  nucliadb/nucliadb/tests/integration/search/test_search.py
  nucliadb_core/src/lib.rs
  nucliadb_node/Cargo.toml
  nucliadb_node/src/lifecycle.rs
  nucliadb_node/src/shards/mod.rs
  nucliadb_node/src/shards/providers/provider_traits.rs
  nucliadb_node/src/shards/providers/unbounded_cache/async_unbounded_writer.rs
  nucliadb_node/src/shards/providers/unbounded_cache/unbounded_reader.rs
  nucliadb_node/src/shards/providers/unbounded_cache/unbounded_writer.rs
  nucliadb_node/src/shards/scheduler.rs
  nucliadb_node/src/shards/shard_writer.rs
  nucliadb_node/tests/test_replication.rs
  nucliadb_node_binding/src/writer.rs
  nucliadb_paragraphs/Cargo.toml
  nucliadb_paragraphs/src/stop_words.rs
  nucliadb_paragraphs/src/writer.rs
  nucliadb_relations/src/service/writer.rs
  nucliadb_sdk/nucliadb_sdk/tests/fixtures.py
  nucliadb_sdk/nucliadb_sdk/tests/test_search.py
  nucliadb_sdk/nucliadb_sdk/v2/sdk.py
  nucliadb_texts/Cargo.toml
  nucliadb_texts/src/writer.rs
  nucliadb_texts/tests/test_writer.rs
  nucliadb_vectors/src/data_point/mod.rs
  nucliadb_vectors/src/data_point_provider/merge_worker.rs
  nucliadb_vectors/src/data_point_provider/merger.rs
  nucliadb_vectors/src/data_point_provider/mod.rs
  nucliadb_vectors/src/data_point_provider/state.rs
  nucliadb_vectors/src/service/writer.rs
  vectors_benchmark/src/binaries/1m_stats.rs
  vectors_benchmark/src/binaries/real_data_benchmark.rs
  vectors_benchmark/src/binaries/vectors_benchmark.rs
  vectors_benchmark/src/engines/no_engine.rs
  vectors_benchmark/src/engines/vectors.rs
  vectors_benchmark/src/lib.rs
  vectors_benchmark/src/writer.rs
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

fix revert
  Dockerfile.withbinding
  nucliadb/nucliadb/tests/integration/search/test_search.py
  nucliadb_node/tests/test_replication.rs
  nucliadb_sdk/nucliadb_sdk/tests/fixtures.py
  nucliadb_sdk/nucliadb_sdk/tests/test_search.py
  nucliadb_sdk/nucliadb_sdk/v2/sdk.py
  nucliadb_vectors/src/data_point/mod.rs
  nucliadb_vectors/src/data_point_provider/state.rs
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

revert done (#1509)
  Cargo.lock
  nucliadb_core/src/lib.rs
  nucliadb_node/Cargo.toml
  nucliadb_node/src/lifecycle.rs
  nucliadb_node/src/shards/mod.rs
  nucliadb_node/src/shards/providers/provider_traits.rs
  nucliadb_node/src/shards/providers/unbounded_cache/async_unbounded_writer.rs
  nucliadb_node/src/shards/providers/unbounded_cache/unbounded_reader.rs
  nucliadb_node/src/shards/providers/unbounded_cache/unbounded_writer.rs
  nucliadb_node/src/shards/scheduler.rs
  nucliadb_node/src/shards/shard_writer.rs
  nucliadb_node_binding/src/writer.rs
  nucliadb_paragraphs/Cargo.toml
  nucliadb_paragraphs/src/stop_words.rs
  nucliadb_paragraphs/src/writer.rs
  nucliadb_relations/src/service/writer.rs
  nucliadb_texts/Cargo.toml
  nucliadb_texts/src/writer.rs
  nucliadb_texts/tests/test_writer.rs
  nucliadb_vectors/src/data_point_provider/merge_worker.rs
  nucliadb_vectors/src/data_point_provider/merger.rs
  nucliadb_vectors/src/data_point_provider/mod.rs
  nucliadb_vectors/src/data_point_provider/state.rs
  nucliadb_vectors/src/service/writer.rs
  vectors_benchmark/src/binaries/1m_stats.rs
  vectors_benchmark/src/binaries/real_data_benchmark.rs
  vectors_benchmark/src/binaries/vectors_benchmark.rs
  vectors_benchmark/src/engines/no_engine.rs
  vectors_benchmark/src/engines/vectors.rs
  vectors_benchmark/src/lib.rs
  vectors_benchmark/src/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

0.17 but ours
  Cargo.lock
  nucliadb_paragraphs/Cargo.toml
  nucliadb_relations/Cargo.toml
  nucliadb_texts/Cargo.toml
Due: none

0.17 but ours (#1510)
  Cargo.lock
  nucliadb_paragraphs/Cargo.toml
  nucliadb_relations/Cargo.toml
  nucliadb_texts/Cargo.toml
Due: none

Update README.md
  README.md
Due: none

wip
  nucliadb_node/src/shards/shard_reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

1st: Make it work
  nucliadb_node/src/shards/shard_reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Revert "wip"
  nucliadb_node/src/shards/shard_reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Revert "1st: Make it work"
  nucliadb_node/src/shards/shard_reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

wip
  nucliadb_core/src/paragraphs.rs
  nucliadb_core/src/texts.rs
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_texts/src/reader.rs
  nucliadb_texts/src/search_query.rs
  nucliadb_vectors/src/service/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Add test
  nucliadb/nucliadb/tests/integration/search/test_filters.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

wip
  nucliadb/nucliadb/tests/integration/search/test_filters.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Add test suite
  nucliadb/nucliadb/ingest/orm/processor/__init__.py
  nucliadb/nucliadb/tests/integration/search/test_filters.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Add new train tasks (protobuf)
  nucliadb_protos/dataset.proto
  nucliadb_protos/python/nucliadb_protos/dataset_pb2.py
  nucliadb_protos/python/nucliadb_protos/dataset_pb2.pyi
Due: none

Set specifics per field type in bm building
  nucliadb/nucliadb/tests/utils/broker_messages/__init__.py
  nucliadb/nucliadb/train/tests/test_paragraph_classification.py
  nucliadb/nucliadb/train/tests/test_sentence_classification.py
  nucliadb/nucliadb/train/tests/test_token_classification.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Simplify train generator code
  nucliadb/nucliadb/train/generator.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb
