Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

lint_nucliadb:
  name: Lint nucliadb
  entry: make -C nucliadb lint
  language: system
  pass_filenames: false

lint_nucliadb_dataset:
  name: Lint nucliadb_dataset
  entry: make -C nucliadb_dataset lint
  language: system
  pass_filenames: false

lint_nucliadb_models:
  name: Lint nucliadb_models
  entry: make -C nucliadb_models lint
  language: system
  pass_filenames: false

lint_nucliadb_node:
  name: Lint nucliadb_node
  entry: make -C nucliadb_node lint
  language: system
  pass_filenames: false

lint_nucliadb_node_binding:
  name: Lint nucliadb_node_binding
  entry: make -C nucliadb_node_binding lint
  language: system
  pass_filenames: false

lint_nucliadb_performance:
  name: Lint nucliadb_performance
  entry: make -C nucliadb_performance lint
  language: system
  pass_filenames: false

lint_nucliadb_sdk:
  name: Lint nucliadb_sdk
  entry: make -C nucliadb_sdk lint
  language: system
  pass_filenames: false

lint_nucliadb_telemetry:
  name: Lint nucliadb_telemetry
  entry: make -C nucliadb_telemetry lint
  language: system
  pass_filenames: false

lint_nucliadb_utils:
  name: Lint nucliadb_utils
  entry: make -C nucliadb_utils lint
  language: system
  pass_filenames: false

rustfmt_nucliadb:
  name: fmt
  entry: cargo fmt --check
  language: system
  pass_filenames: false

clippy_nucliadb:
  name: clippy
  entry: cargo clippy --all-features -- -D warnings
  language: system
  pass_filenames: false

simpler
  nucliadb/src/nucliadb/search/search/chat/ask.py
Due: lint_nucliadb

Implement prefilter
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/query.py
Due: lint_nucliadb

add test
  nucliadb/tests/nucliadb/integration/test_ask.py
Due: lint_nucliadb

cleanup
  nucliadb/tests/nucliadb/integration/test_ask.py
Due: lint_nucliadb

Add hidden field to update
  nucliadb/src/nucliadb/ingest/serialize.py
  nucliadb/src/nucliadb/writer/api/v1/resource.py
  nucliadb/src/nucliadb/writer/resource/basic.py
  nucliadb_models/src/nucliadb_models/resource.py
  nucliadb_models/src/nucliadb_models/writer.py
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/resources.proto
  nucliadb_protos/rust/src/resources.rs
Due: lint_nucliadb, lint_nucliadb_models

Search APIs
  nucliadb/src/nucliadb/ingest/orm/brain.py
  nucliadb/src/nucliadb/search/api/v1/find.py
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb_models/src/nucliadb_models/labels.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

Catalog
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

Change how we serialize to avoid breaking nucliadb_sdk tests for some dark pydantic bug
  nucliadb/src/nucliadb/search/api/v1/ask.py
Due: lint_nucliadb

Fix circular dependency
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/exceptions.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/tests/nucliadb/integration/test_ask.py
Due: lint_nucliadb

Return prefilter prequeries too
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/tests/nucliadb/integration/test_ask.py
Due: lint_nucliadb

Fix test
  nucliadb/tests/nucliadb/integration/test_ask.py
Due: lint_nucliadb

Prefilter prequery rag strategy (#2465)
  nucliadb/src/nucliadb/common/ids.py
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/exceptions.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/tests/nucliadb/integration/test_ask.py
  nucliadb/tests/nucliadb/unit/common/test_ids.py
  nucliadb/tests/search/unit/search/test_chat_prompt.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

wip
  Cargo.lock
  Cargo.toml
  nucliadb_node/Cargo.toml
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_texts3/Cargo.toml
  nucliadb_texts3/src/lib.rs
  nucliadb_texts3/src/query_io.rs
  nucliadb_texts3/src/reader.rs
  nucliadb_texts3/src/schema.rs
  nucliadb_texts3/src/search_query.rs
  nucliadb_texts3/src/writer.rs
  nucliadb_texts3/tests/common/mod.rs
  nucliadb_texts3/tests/test_reader.rs
  nucliadb_texts3/tests/test_search.rs
  nucliadb_texts3/tests/test_streaming.rs
  nucliadb_texts3/tests/test_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Add citation threshold on ask
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/tests/nucliadb/integration/test_ask.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

wip
  nucliadb_models/src/nucliadb_models/internal/shards.py
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_node/src/shards/shard_writer.rs
  nucliadb_protos/noderesources.proto
  nucliadb_protos/python/src/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/noderesources_pb2.pyi
  nucliadb_protos/rust/src/noderesources.rs
  nucliadb_texts3/src/reader.rs
  nucliadb_texts3/src/schema.rs
  nucliadb_texts3/src/search_query.rs
  nucliadb_texts3/src/writer.rs
Due: lint_nucliadb_models, rustfmt_nucliadb, clippy_nucliadb

Fix python version to minor version
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/nucliadb_node_release.yml
  .github/workflows/public_release.yml
  .github/workflows/release.yml
Due: none

Fix python version to minor version (#2468)
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/nucliadb_node_release.yml
  .github/workflows/public_release.yml
  .github/workflows/release.yml
Due: none

Fix enum normalization
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb_models

Build nucliadb image in parallel
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Build nucliadb image in parallel (#2470)
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Support hidden + filtering paragraph labels
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/tests/nucliadb/integration/search/test_filters.py
  nucliadb/tests/reader/integration/api/v1/test_reader_resource.py
Due: lint_nucliadb

Tests
  nucliadb/tests/nucliadb/integration/search/test_hidden.py
  nucliadb/tests/writer/unit/api/v1/test_resource.py
Due: lint_nucliadb

Fix Pinecone /find response field ids
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/src/nucliadb/search/search/find_merge.py
  nucliadb/src/nucliadb/search/search/merge.py
  nucliadb/src/nucliadb/search/search/paragraphs.py
  nucliadb/src/nucliadb/search/search/results_hydrator/base.py
  nucliadb/tests/search/integration/search/test_paragraphs.py
  nucliadb/tests/search/unit/search/test_paragraphs.py
Due: lint_nucliadb

Use FieldId instead of manually deconstructing the id
  nucliadb/src/nucliadb/search/search/results_hydrator/base.py
Due: lint_nucliadb

Autogenerate prequeries for resource ask with json answer schema
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/tests/nucliadb/integration/test_ask.py
  nucliadb/tests/search/unit/search/search/chat/test_ask.py
Due: lint_nucliadb

increase coverage
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
Due: lint_nucliadb

Fix Pinecone /find response field ids (#2471)
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/src/nucliadb/search/search/find_merge.py
  nucliadb/src/nucliadb/search/search/merge.py
  nucliadb/src/nucliadb/search/search/paragraphs.py
  nucliadb/src/nucliadb/search/search/results_hydrator/base.py
  nucliadb/tests/search/integration/search/test_paragraphs.py
  nucliadb/tests/search/unit/search/test_paragraphs.py
Due: lint_nucliadb

Format
  nucliadb/tests/nucliadb/integration/search/test_filters.py
  nucliadb/tests/nucliadb/integration/search/test_hidden.py
Due: lint_nucliadb

Autogenerate prequeries for resource ask with answer json schema (#2472)
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/tests/nucliadb/integration/test_ask.py
  nucliadb/tests/search/unit/search/search/chat/test_ask.py
Due: lint_nucliadb

Hide "hidden" field
  nucliadb/src/nucliadb/search/api/v1/find.py
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb_models/src/nucliadb_models/resource.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_models/src/nucliadb_models/writer.py
Due: lint_nucliadb, lint_nucliadb_models

fixes
  nucliadb_node/src/shards/shard_writer.rs
  nucliadb_node/src/shards/versioning.rs
  nucliadb_texts3/src/reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Feature flag to enable new texts
  Cargo.lock
  nucliadb_node/Cargo.toml
  nucliadb_node/src/cache/writer_cache.rs
  nucliadb_node/src/settings.rs
  nucliadb_node/src/shards/shard_writer.rs
  nucliadb_node/src/shards/tests.rs
Due: rustfmt_nucliadb, clippy_nucliadb

fix types
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb_models

Send the user request instead of the parsed request, for a list of selected endpoints
  nucliadb/src/nucliadb/search/api/v1/ask.py
  nucliadb_protos/audit.proto
  nucliadb_protos/python/src/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/audit_pb2.pyi
  nucliadb_protos/rust/src/audit.rs
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
Due: lint_nucliadb, lint_nucliadb_utils

Don't forget the /
  nucliadb_texts3/src/reader.rs
Due: none

Add user request and model to audit (#2463)
  nucliadb/src/nucliadb/search/api/v1/ask.py
  nucliadb/src/nucliadb/search/predict.py
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/tests/search/unit/test_predict.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_protos/audit.proto
  nucliadb_protos/python/src/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/audit_pb2.pyi
  nucliadb_protos/rust/src/audit.rs
  nucliadb_utils/src/nucliadb_utils/audit/audit.py
  nucliadb_utils/src/nucliadb_utils/audit/basic.py
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
  nucliadb_utils/tests/unit/audit/test_stream.py
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_utils

Better wording
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb_models

Add rephrase query prompt
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/predict.py
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

Add citation threshold on ask (#2466)
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/tests/nucliadb/integration/test_ask.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

Add rephrase query prompt (#2473)
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/predict.py
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

Path conditions:
  lint_nucliadb: any of: (^nucliadb/) and \.py$
  lint_nucliadb_dataset: any of: (^nucliadb_dataset/) and \.py$
  lint_nucliadb_models: any of: (^nucliadb_models/) and \.py$
  lint_nucliadb_node: any of: (^nucliadb_node/) and \.py$
  lint_nucliadb_node_binding: any of: (^nucliadb_node_binding/) and \.py$
  lint_nucliadb_performance: any of: (^nucliadb_performance/) and \.py$
  lint_nucliadb_sdk: any of: (^nucliadb_sdk/) and \.py$
  lint_nucliadb_telemetry: any of: (^nucliadb_telemetry/) and \.py$
  lint_nucliadb_utils: any of: (^nucliadb_utils/) and \.py$
  rustfmt_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
  clippy_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
