Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort_ingest, black_ingest, flake8_ingest, isort_utils, black_utils, flake8_utils

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: isort_ingest
    name: ISort Ingest
    entry: isort --profile black -c
    language: system
    files: nucliadb_ingest/.*\.py$$
  - id: black_ingest
    name: Black Ingest
    entry: black --check --verbose
    language: system
    files: nucliadb_ingest/.*\.py$$
  - id: flake8_ingest
    name: Flake8 Ingest
    entry: flake8 --config=nucliadb_ingest/setup.cfg
    language: system
    files: nucliadb_ingest/.*\.py$$
  - id: isort_utils
    name: ISort UTILS
    entry: isort --profile black -c
    language: system
    files: nucliadb_utils/.*\.py$$
  - id: black_utils
    name: Black UTILS
    entry: black --check --verbose
    language: system
    files: nucliadb_utils/.*\.py$$
  - id: flake8_utils
    name: Flake8 UTILS
    entry: flake8 --config=nucliadb_utils/setup.cfg
    language: system
    files: nucliadb_utils/.*\.py$$

fixing original query processing
  nucliadb_paragraphs_tantivy/src/reader.rs
  nucliadb_paragraphs_tantivy/src/search_query.rs
Due: none

fixing original query processing (#287)
  nucliadb_paragraphs_tantivy/src/reader.rs
  nucliadb_paragraphs_tantivy/src/search_query.rs
Due: none

wip faker
  nucliadb_ingest/nucliadb_ingest/tests/fixtures.py
  nucliadb_search/nucliadb_search/api/v1/search.py
  nucliadb_search/nucliadb_search/search/query.py
  nucliadb_search/nucliadb_search/tests/fixtures.py
  nucliadb_search/nucliadb_search/tests/test_basic_search.py
  test-requirements.txt
Due: isort_ingest, black_ingest, flake8_ingest

Make sort param really optional
  nucliadb_search/nucliadb_search/api/models.py
  nucliadb_search/nucliadb_search/api/v1/resource.py
  nucliadb_search/nucliadb_search/api/v1/search.py
  nucliadb_search/nucliadb_search/search/query.py
Due: none

Make sort param really optional (#288)
  nucliadb_search/nucliadb_search/api/models.py
  nucliadb_search/nucliadb_search/api/v1/resource.py
  nucliadb_search/nucliadb_search/api/v1/search.py
  nucliadb_search/nucliadb_search/search/query.py
Due: none

wip
  charts/nucliadb_reader/templates/reader.vs.yaml
  charts/nucliadb_search/templates/search.vs.yaml
  charts/nucliadb_writer/templates/writer.vs.yaml
  docs/internal/SEARCH.md
  nucliadb_reader/nucliadb_reader/api/v1/resource.py
  nucliadb_reader/nucliadb_reader/api/v1/router.py
Due: none

Rename resources to rid
  nucliadb/nucliadb/tests/test_api.py
  nucliadb/nucliadb/tests/test_relations.py
  nucliadb/nucliadb/tests/test_search.py
  nucliadb/nucliadb/tests/test_usermetadata.py
  nucliadb_client/nucliadb_client/resource.py
  nucliadb_models/nucliadb_models/common.py
  nucliadb_one/nucliadb_one/tests/test_basic.py
  nucliadb_one/nucliadb_one/tests/test_delete_field.py
  nucliadb_one/nucliadb_one/tests/test_fieldmetadata.py
  nucliadb_reader/nucliadb_reader/api/v1/download.py
  nucliadb_reader/nucliadb_reader/api/v1/resource.py
  nucliadb_reader/nucliadb_reader/api/v1/router.py
  nucliadb_reader/nucliadb_reader/tests/test_reader_file_download.py
  nucliadb_reader/nucliadb_reader/tests/test_reader_resource.py
  nucliadb_reader/nucliadb_reader/tests/test_reader_resource_field.py
  nucliadb_search/nucliadb_search/api/v1/resource.py
  nucliadb_search/nucliadb_search/api/v1/router.py
  nucliadb_writer/nucliadb_writer/api/v1/router.py
  nucliadb_writer/nucliadb_writer/api/v1/upload.py
  nucliadb_writer/nucliadb_writer/tests/test_files.py
  nucliadb_writer/nucliadb_writer/tests/test_resources.py
Due: none

wip
  nucliadb_reader/nucliadb_reader/api/v1/resource.py
Due: none

Remove unused and dup constants
  nucliadb_reader/nucliadb_reader/api/v1/router.py
  nucliadb_search/nucliadb_search/api/v1/router.py
Due: none

Be able to GET by slug
  nucliadb_models/nucliadb_models/serialize.py
  nucliadb_reader/nucliadb_reader/api/v1/resource.py
  nucliadb_reader/nucliadb_reader/api/v1/router.py
Due: none

Add test for the GET by slug
  nucliadb_ingest/nucliadb_ingest/tests/fixtures.py
  nucliadb_models/nucliadb_models/serialize.py
  nucliadb_reader/nucliadb_reader/api/v1/resource.py
  nucliadb_reader/nucliadb_reader/tests/test_reader_resource.py
Due: isort_ingest, black_ingest, flake8_ingest

Make undefined slug default to uuid
  nucliadb/nucliadb/tests/test_resources.py
  nucliadb_ingest/nucliadb_ingest/orm/knowledgebox.py
Due: isort_ingest, black_ingest, flake8_ingest

Rename search query param: max-score to min-score (#284)
  nucliadb_search/nucliadb_search/api/models.py
  nucliadb_search/nucliadb_search/api/v1/search.py
  nucliadb_search/nucliadb_search/search/merge.py
Due: none

removed cyclic dependency between ingest and models
  nucliadb_ingest/nucliadb_ingest/serialize.py
  nucliadb_models/requirements-sources.txt
  nucliadb_reader/nucliadb_reader/api/v1/resource.py
  nucliadb_search/nucliadb_search/api/models.py
  nucliadb_search/nucliadb_search/api/v1/resource.py
  nucliadb_search/nucliadb_search/api/v1/search.py
  nucliadb_search/nucliadb_search/api/v1/suggest.py
  nucliadb_search/nucliadb_search/search/fetch.py
  nucliadb_search/nucliadb_search/search/merge.py
Due: isort_ingest, black_ingest, flake8_ingest

removed cyclic dependency between ingest and models (#291)
  nucliadb_ingest/nucliadb_ingest/serialize.py
  nucliadb_models/requirements-sources.txt
  nucliadb_reader/nucliadb_reader/api/v1/resource.py
  nucliadb_search/nucliadb_search/api/models.py
  nucliadb_search/nucliadb_search/api/v1/resource.py
  nucliadb_search/nucliadb_search/api/v1/search.py
  nucliadb_search/nucliadb_search/api/v1/suggest.py
  nucliadb_search/nucliadb_search/search/fetch.py
  nucliadb_search/nucliadb_search/search/merge.py
Due: isort_ingest, black_ingest, flake8_ingest

Fix
  nucliadb_one/CHANGELOG
Due: none

NER PB + PIP install
  .github/workflows/nucliadb_ingest_release.yml
  .github/workflows/nucliadb_one_release.yml
  .github/workflows/nucliadb_reader_release.yml
  .github/workflows/nucliadb_search_release.yml
  .github/workflows/nucliadb_train_release.yml
  .github/workflows/nucliadb_writer_release.yml
  nucliadb/CHANGELOG
  nucliadb/config.yaml
  nucliadb/requirements.txt
  nucliadb_ingest/CHANGELOG
  nucliadb_ingest/requirements.txt
  nucliadb_models/requirements.txt
  nucliadb_node/requirements.txt
  nucliadb_one/CHANGELOG
  nucliadb_one/requirements.txt
  nucliadb_protos/python/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/writer_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/writer_pb2_grpc.pyi
  nucliadb_protos/resources.proto
  nucliadb_protos/rust/src/resources.rs
  nucliadb_reader/CHANGELOG
  nucliadb_reader/requirements.txt
  nucliadb_search/CHANGELOG
  nucliadb_search/requirements.txt
  nucliadb_train/CHANGELOG
  nucliadb_train/requirements.txt
  nucliadb_utils/CHANGELOG.rst
  nucliadb_utils/VERSION
  nucliadb_utils/requirements.txt
  nucliadb_writer/CHANGELOG
  nucliadb_writer/requirements.txt
Due: none

Missing code
  nucliadb_protos/python/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/nucliadb_protos/audit_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/train_pb2.py
  nucliadb_protos/python/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/utils_pb2.py
  nucliadb_protos/python/nucliadb_protos/utils_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/writer_pb2_grpc.pyi
  nucliadb_protos/rust/src/nodereader.rs
  nucliadb_protos/rust/src/nodewriter.rs
Due: none

Fix builds
  Dockerfile
  Dockerfile.ingest
  Dockerfile.reader
  Dockerfile.search
  Dockerfile.train
  Dockerfile.writer
Due: none

Fix
  nucliadb_models/requirements.txt
Due: none

Fix reader
  nucliadb_reader/setup.py
Due: none

Fix req
  nucliadb_ingest/requirements.txt
Due: none

Typo
  nucliadb_ingest/requirements.txt
Due: none

fix
  nucliadb_ingest/nucliadb_ingest/orm/resource.py
  nucliadb_models/nucliadb_models/serialize.py
  nucliadb_reader/nucliadb_reader/api/v1/resource.py
  nucliadb_reader/nucliadb_reader/tests/test_reader_resource.py
  nucliadb_writer/nucliadb_writer/api/v1/resource.py
  nucliadb_writer/nucliadb_writer/api/v1/router.py
Due: isort_ingest, black_ingest, flake8_ingest

Fix deploy
  nucliadb_search/setup.py
Due: none

Release utils and protos
  .github/workflows/nucliadb_utils_release.yml
  nucliadb_protos/python/CHANGELOG.rst
  nucliadb_protos/python/VERSION
Due: none

nucliadb Utils
  .github/workflows/nucliadb_utils_release.yml
Due: none

Skip windows lru compilation
  nucliadb_utils/setup.py
Due: isort_utils, black_utils, flake8_utils

Utils deploy
  .github/workflows/nucliadb_utils_release.yml
  nucliadb_utils/setup.py
Due: isort_utils, black_utils, flake8_utils

Release nucliadb_utils
  .github/workflows/nucliadb_utils_release.yml
Due: none

typo
  .github/workflows/nucliadb_utils_release.yml
Due: none

Added reader resource and download endpoints by slug
  nucliadb_ingest/nucliadb_ingest/orm/knowledgebox.py
  nucliadb_ingest/nucliadb_ingest/orm/resource.py
  nucliadb_ingest/nucliadb_ingest/serialize.py
  nucliadb_ingest/nucliadb_ingest/tests/fixtures.py
  nucliadb_reader/nucliadb_reader/api/v1/download.py
  nucliadb_reader/nucliadb_reader/api/v1/resource.py
  nucliadb_reader/nucliadb_reader/api/v1/router.py
  nucliadb_reader/nucliadb_reader/tests/test_reader_file_download.py
  nucliadb_reader/nucliadb_reader/tests/test_reader_resource.py
  nucliadb_reader/nucliadb_reader/tests/test_reader_resource_field.py
Due: isort_ingest, black_ingest, flake8_ingest

Add new slug virtual services
  charts/nucliadb_reader/templates/reader.vs.yaml
Due: none

Lower codecov targets
  .github/.codecov.yml
Due: none

Add negative test
  nucliadb_reader/nucliadb_reader/tests/test_reader_file_download.py
Due: none

Extend test
  nucliadb_reader/nucliadb_reader/api/v1/resource.py
  nucliadb_reader/nucliadb_reader/tests/test_reader_resource.py
Due: none

undo changes
  nucliadb_ingest/nucliadb_ingest/orm/resource.py
Due: isort_ingest, black_ingest, flake8_ingest

Reader endpoints by slug (#292)
  .github/.codecov.yml
  charts/nucliadb_reader/templates/reader.vs.yaml
  nucliadb_ingest/nucliadb_ingest/orm/knowledgebox.py
  nucliadb_ingest/nucliadb_ingest/serialize.py
  nucliadb_ingest/nucliadb_ingest/tests/fixtures.py
  nucliadb_reader/nucliadb_reader/api/v1/download.py
  nucliadb_reader/nucliadb_reader/api/v1/resource.py
  nucliadb_reader/nucliadb_reader/api/v1/router.py
  nucliadb_reader/nucliadb_reader/tests/test_reader_file_download.py
  nucliadb_reader/nucliadb_reader/tests/test_reader_resource.py
  nucliadb_reader/nucliadb_reader/tests/test_reader_resource_field.py
Due: isort_ingest, black_ingest, flake8_ingest

Fix nucliadb
  .github/workflows/nucliadb_utils_release.yml
Due: none
