Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

isort_nucliadb:
  name: Isort
  entry: isort --profile black -c
  language: system

black_nucliadb:
  name: Black
  entry: black --check --verbose
  language: system

flake8_nucliadb:
  name: Flake8
  entry: flake8 --config=nucliadb/setup.cfg
  language: system

rustfmt_nucliadb:
  name: fmt
  entry: cargo +nightly fmt --check
  language: system
  pass_filenames: false

clippy_nucliadb:
  name: clippy
  entry: cargo clippy --all-features -- -D warnings
  language: system
  pass_filenames: false

Add aws zone to sdk (#1715)
  nucliadb_sdk/nucliadb_sdk/tests/test_sdk.py
  nucliadb_sdk/nucliadb_sdk/v2/sdk.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

bump jwcrypto
  nucliadb/requirements.lock.txt
  nucliadb/requirements.txt
Due: none

update openssl
  Cargo.lock
Due: none

update openssl (#1718)
  Cargo.lock
Due: none

bump jwcrypto (#1717)
  nucliadb/requirements.lock.txt
  nucliadb/requirements.txt
Due: none

better logging
  nucliadb/nucliadb/ingest/partitions.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

add sentry alert too
  nucliadb/nucliadb/ingest/partitions.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

do not assign partitions to orm grpc
  nucliadb/nucliadb/ingest/app.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

do not assign partitions to orm grpc
  nucliadb/nucliadb/ingest/service/writer.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

add samply in the docker images
  Dockerfile.node
  Dockerfile.node_local
Due: none

Add samply in the docker images (#1448)
  Dockerfile.node
  Dockerfile.node_local
Due: none

processing v2 integration
  nucliadb/nucliadb/common/http_clients/processing.py
  nucliadb/nucliadb/ingest/app.py
  nucliadb/nucliadb/ingest/consumer/pull_v2.py
  nucliadb/nucliadb/ingest/consumer/service.py
  nucliadb/nucliadb/ingest/processing.py
  nucliadb/setup.py
  nucliadb_utils/nucliadb_utils/const.py
  nucliadb_utils/nucliadb_utils/featureflagging.py
  nucliadb_utils/nucliadb_utils/settings.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

add deployment
  charts/nucliadb_ingest/templates/ingest-pull.deploy.yaml
Due: none

writer will only send to the first partition
  nucliadb/nucliadb/ingest/partitions.py
  nucliadb/nucliadb/ingest/service/writer.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Remove async cache provider
  nucliadb_node/src/bin/writer.rs
  nucliadb_node/src/grpc/grpc_reader.rs
  nucliadb_node/src/grpc/grpc_writer.rs
  nucliadb_node/src/replication/replicator.rs
  nucliadb_node/src/replication/service.rs
  nucliadb_node/src/shards/metadata.rs
  nucliadb_node/src/shards/providers/mod.rs
  nucliadb_node/src/shards/providers/provider_traits.rs
  nucliadb_node/src/shards/providers/unbounded_cache/async_unbounded_reader.rs
  nucliadb_node/src/shards/providers/unbounded_cache/async_unbounded_writer.rs
  nucliadb_node/src/shards/providers/unbounded_cache/mod.rs
  nucliadb_node/src/shards/providers/unbounded_cache/unbounded_reader.rs
  nucliadb_node/src/shards/providers/unbounded_cache/unbounded_writer.rs
  nucliadb_node/src/shards/shard_writer.rs
  nucliadb_node/tests/common/node_services.rs
  nucliadb_node/tests/test_replication.rs
Due: rustfmt_nucliadb, clippy_nucliadb

remove old nucliadb_client
  .github/.codecov.yml
  .gitignore
  .licenserc.yaml
  mypy.ini
  nucliadb/nucliadb/ingest/partitions.py
  nucliadb_client/MANIFEST.in
  nucliadb_client/Makefile
  nucliadb_client/README.md
  nucliadb_client/VERSION
  nucliadb_client/examples/Makefile
  nucliadb_client/examples/requirements-stackoverflow.txt
  nucliadb_client/examples/simple.py
  nucliadb_client/examples/stackoverflow.py
  nucliadb_client/examples/vectors.py
  nucliadb_client/nucliadb_client/__init__.py
  nucliadb_client/nucliadb_client/client.py
  nucliadb_client/nucliadb_client/exceptions.py
  nucliadb_client/nucliadb_client/export.py
  nucliadb_client/nucliadb_client/importing.py
  nucliadb_client/nucliadb_client/knowledgebox.py
  nucliadb_client/nucliadb_client/py.typed
  nucliadb_client/nucliadb_client/resource.py
  nucliadb_client/nucliadb_client/tests/__init__.py
  nucliadb_client/nucliadb_client/tests/conftest.py
  nucliadb_client/nucliadb_client/tests/fixtures.py
  nucliadb_client/nucliadb_client/tests/test_export.py
  nucliadb_client/nucliadb_client/tests/test_knowledgebox.py
  nucliadb_client/nucliadb_client/tests/test_resource.py
  nucliadb_client/nucliadb_client/utils.py
  nucliadb_client/requirements-source.txt
  nucliadb_client/requirements-test.txt
  nucliadb_client/requirements.txt
  nucliadb_client/setup.cfg
  nucliadb_client/setup.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Add sdk test as example of security search
  nucliadb_sdk/nucliadb_sdk/tests/test_security.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Run a single blocking task per grpc call
  nucliadb_node/src/grpc/grpc_reader.rs
  nucliadb_node/src/grpc/grpc_writer.rs
  nucliadb_node/src/shards/metadata.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Get secondary nodes on members list endpoint too
  nucliadb/nucliadb/common/cluster/manager.py
  nucliadb/nucliadb/search/app.py
  nucliadb/nucliadb/search/tests/unit/test_app.py
  nucliadb/nucliadb/tests/unit/common/cluster/test_manager.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Get secondary nodes on members list endpoint too
  nucliadb/nucliadb/ingest/partitions.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix typo
  nucliadb/nucliadb/common/cluster/manager.py
  nucliadb/nucliadb/search/app.py
  nucliadb/nucliadb/tests/unit/common/cluster/test_manager.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

more isolated test
  nucliadb/nucliadb/tests/unit/common/cluster/test_manager.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix lint errors
  nucliadb/nucliadb/ingest/partitions.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Remove shard cache traits
  nucliadb_node/src/grpc/grpc_reader.rs
  nucliadb_node/src/grpc/grpc_writer.rs
  nucliadb_node/src/replication/replicator.rs
  nucliadb_node/src/replication/service.rs
  nucliadb_node/src/shards/providers/mod.rs
  nucliadb_node/src/shards/providers/provider_traits.rs
  nucliadb_node/src/shards/providers/unbounded_cache/unbounded_reader.rs
  nucliadb_node/src/shards/providers/unbounded_cache/unbounded_writer.rs
  nucliadb_node/tests/test_replication.rs
  nucliadb_node_binding/src/reader.rs
  nucliadb_node_binding/src/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Format
  nucliadb_node/src/replication/replicator.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Update protos to reflect new training
  nucliadb_protos/dataset.proto
  nucliadb_protos/python/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/nucliadb_protos/dataset_pb2.py
  nucliadb_protos/python/nucliadb_protos/dataset_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/nucliadb_protos/migrations_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.py
  nucliadb_protos/python/nucliadb_protos/replication_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/nucliadb_protos/standalone_pb2.py
  nucliadb_protos/python/nucliadb_protos/train_pb2.py
  nucliadb_protos/python/nucliadb_protos/utils_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.py
Due: none

Train returns question and answer paragraphs
  nucliadb/nucliadb/train/generators/question_answer_streaming.py
  nucliadb/nucliadb/train/tests/test_question_answer_streaming.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Update Q&A dataset to use new format
  nucliadb_dataset/nucliadb_dataset/dataset.py
  nucliadb_dataset/nucliadb_dataset/mapping.py
  nucliadb_dataset/nucliadb_dataset/tests/integration/test_question_answer_streaming.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

improve index node repr
  nucliadb/nucliadb/common/cluster/base.py
  nucliadb/nucliadb/tests/unit/common/cluster/test_manager.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Add sdk security example (#1722)
  nucliadb/nucliadb/ingest/partitions.py
  nucliadb_sdk/nucliadb_sdk/tests/test_security.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Remove old nucliadb_client (#1721)
  .github/.codecov.yml
  .gitignore
  .licenserc.yaml
  mypy.ini
  nucliadb_client/MANIFEST.in
  nucliadb_client/Makefile
  nucliadb_client/README.md
  nucliadb_client/VERSION
  nucliadb_client/examples/Makefile
  nucliadb_client/examples/requirements-stackoverflow.txt
  nucliadb_client/examples/simple.py
  nucliadb_client/examples/stackoverflow.py
  nucliadb_client/examples/vectors.py
  nucliadb_client/nucliadb_client/__init__.py
  nucliadb_client/nucliadb_client/client.py
  nucliadb_client/nucliadb_client/exceptions.py
  nucliadb_client/nucliadb_client/export.py
  nucliadb_client/nucliadb_client/importing.py
  nucliadb_client/nucliadb_client/knowledgebox.py
  nucliadb_client/nucliadb_client/py.typed
  nucliadb_client/nucliadb_client/resource.py
  nucliadb_client/nucliadb_client/tests/__init__.py
  nucliadb_client/nucliadb_client/tests/conftest.py
  nucliadb_client/nucliadb_client/tests/fixtures.py
  nucliadb_client/nucliadb_client/tests/test_export.py
  nucliadb_client/nucliadb_client/tests/test_knowledgebox.py
  nucliadb_client/nucliadb_client/tests/test_resource.py
  nucliadb_client/nucliadb_client/utils.py
  nucliadb_client/requirements-source.txt
  nucliadb_client/requirements-test.txt
  nucliadb_client/requirements.txt
  nucliadb_client/setup.cfg
  nucliadb_client/setup.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

save txn state
  nucliadb/nucliadb/ingest/consumer/pull_v2.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Return secondary nodes too on cluster members endpoint (#1723)
  nucliadb/nucliadb/common/cluster/base.py
  nucliadb/nucliadb/common/cluster/manager.py
  nucliadb/nucliadb/search/app.py
  nucliadb/nucliadb/search/tests/unit/test_app.py
  nucliadb/nucliadb/tests/unit/common/cluster/test_manager.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Handle get_paragraph errors while streaming Q&A
  nucliadb/nucliadb/train/generators/question_answer_streaming.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Lints
  nucliadb/nucliadb/train/generators/question_answer_streaming.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

More lints
  nucliadb/nucliadb/train/generators/question_answer_streaming.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

done
  nucliadb/nucliadb/middleware_transaction.py
  nucliadb/nucliadb/search/api/v1/resource/search.py
  nucliadb/nucliadb/search/api/v1/search.py
  nucliadb/nucliadb/search/api/v1/suggest.py
  nucliadb/nucliadb/search/app.py
  nucliadb/nucliadb/search/predict.py
  nucliadb/nucliadb/search/requesters/utils.py
  nucliadb/nucliadb/search/search/cache.py
  nucliadb/nucliadb/search/search/fetch.py
  nucliadb/nucliadb/search/search/find_merge.py
  nucliadb/nucliadb/standalone/app.py
  nucliadb/nucliadb/standalone/run.py
  nucliadb/nucliadb/train/app.py
  nucliadb/nucliadb/train/generators/utils.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

better
  nucliadb/nucliadb/middleware_transaction.py
  nucliadb/nucliadb/search/predict.py
  nucliadb/nucliadb/search/search/cache.py
  nucliadb/nucliadb/search/search/fetch.py
  nucliadb/nucliadb/search/search/find_merge.py
  nucliadb/nucliadb/standalone/app.py
  nucliadb/nucliadb/standalone/run.py
  nucliadb/nucliadb/train/generator.py
  nucliadb/nucliadb/train/generators/utils.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Path conditions:
  isort_nucliadb: any of: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/) and \.py$
  black_nucliadb: any of: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/) and \.py$
  flake8_nucliadb: any of: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/) and \.py$
  rustfmt_nucliadb: any of: (^nucliadb_vectors/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_paragraphs/)|(^nucliadb_texts/) and \.rs$
  clippy_nucliadb: any of: (^nucliadb_vectors/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_paragraphs/)|(^nucliadb_texts/) and \.rs$
