Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

lint_nucliadb:
  name: Lint nucliadb
  entry: make -C nucliadb lint
  language: system
  pass_filenames: false

lint_nucliadb_dataset:
  name: Lint nucliadb_dataset
  entry: make -C nucliadb_dataset lint
  language: system
  pass_filenames: false

lint_nucliadb_models:
  name: Lint nucliadb_models
  entry: make -C nucliadb_models lint
  language: system
  pass_filenames: false

lint_nucliadb_node:
  name: Lint nucliadb_node
  entry: make -C nucliadb_node lint
  language: system
  pass_filenames: false

lint_nucliadb_node_binding:
  name: Lint nucliadb_node_binding
  entry: make -C nucliadb_node_binding lint
  language: system
  pass_filenames: false

lint_nucliadb_performance:
  name: Lint nucliadb_performance
  entry: make -C nucliadb_performance lint
  language: system
  pass_filenames: false

lint_nucliadb_sdk:
  name: Lint nucliadb_sdk
  entry: make -C nucliadb_sdk lint
  language: system
  pass_filenames: false

lint_nucliadb_telemetry:
  name: Lint nucliadb_telemetry
  entry: make -C nucliadb_telemetry lint
  language: system
  pass_filenames: false

lint_nucliadb_utils:
  name: Lint nucliadb_utils
  entry: make -C nucliadb_utils lint
  language: system
  pass_filenames: false

rustfmt_nucliadb:
  name: fmt
  entry: cargo fmt --check
  language: system
  pass_filenames: false

clippy_nucliadb:
  name: clippy
  entry: cargo clippy --all-features -- -D warnings
  language: system
  pass_filenames: false

Add external index provider manager
  nucliadb/src/nucliadb/common/external_index_providers/__init__.py
  nucliadb/src/nucliadb/common/external_index_providers/base.py
  nucliadb/src/nucliadb/common/external_index_providers/manager.py
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb/src/nucliadb/common/external_index_providers/settings.py
Due: lint_nucliadb

More
  nucliadb/src/nucliadb/ingest/orm/processor/__init__.py
  nucliadb_utils/src/nucliadb_utils/aiopynecone/client.py
  nucliadb_utils/src/nucliadb_utils/aiopynecone/models.py
  nucliadb_utils/tests/unit/aiopynecone/test_client.py
Due: lint_nucliadb, lint_nucliadb_utils

Add tests
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb/tests/nucliadb/unit/common/external_index_providers/test_pinecone.py
Due: lint_nucliadb

Add tests
  nucliadb/tests/nucliadb/unit/common/external_index_providers/test_pinecone.py
Due: lint_nucliadb

Discard labels
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb/tests/nucliadb/unit/common/external_index_providers/test_pinecone.py
Due: lint_nucliadb

Fix cron indentation
  charts/nucliadb_ingest/templates/rebalance.cronjob.yaml
Due: none

Charts: Parametrize env(From) configurations (#2316)
  .github/workflows/ci.yml
  charts/nucliadb_ingest/templates/_cronjob_purge.tpl
  charts/nucliadb_ingest/templates/_helpers.tpl
  charts/nucliadb_ingest/templates/exporter.deploy.yaml
  charts/nucliadb_ingest/templates/ingest-orm-grpc.deploy.yaml
  charts/nucliadb_ingest/templates/ingest-processed-consumer.deploy.yaml
  charts/nucliadb_ingest/templates/ingest-subscriber-workers.deploy.yaml
  charts/nucliadb_ingest/templates/ingest.sts.yaml
  charts/nucliadb_ingest/templates/migrator.deploy.yaml
  charts/nucliadb_ingest/templates/rebalance.cronjob.yaml
  charts/nucliadb_ingest/values.yaml
  charts/nucliadb_node/templates/_helpers.tpl
  charts/nucliadb_node/templates/node.replicas.deploy.yaml
  charts/nucliadb_node/templates/node.sts.yaml
  charts/nucliadb_node/values.yaml
  charts/nucliadb_reader/templates/_helpers.tpl
  charts/nucliadb_reader/templates/reader.deploy.yaml
  charts/nucliadb_reader/values.yaml
  charts/nucliadb_search/templates/_helpers.tpl
  charts/nucliadb_search/templates/search.deploy.yaml
  charts/nucliadb_search/values.yaml
  charts/nucliadb_train/templates/_helpers.tpl
  charts/nucliadb_train/templates/train.deploy.yaml
  charts/nucliadb_train/values.yaml
  charts/nucliadb_writer/templates/_helpers.tpl
  charts/nucliadb_writer/templates/writer.deploy.yaml
  charts/nucliadb_writer/values.yaml
Due: none

GH CI: Set Helm version to v3.15.3
  .github/workflows/deploy.yml
  .github/workflows/public_release.yml
  .github/workflows/release.yml
Due: none

GH CI: Set Helm version to v3.15.3 (#2319)
  .github/workflows/deploy.yml
  .github/workflows/public_release.yml
  .github/workflows/release.yml
Due: none

adapt to comments
  nucliadb/src/nucliadb/common/datamanagers/atomic.py
  nucliadb/src/nucliadb/common/external_index_providers/base.py
  nucliadb/src/nucliadb/common/external_index_providers/manager.py
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb/src/nucliadb/common/external_index_providers/settings.py
  nucliadb/tests/nucliadb/unit/common/external_index_providers/test_pinecone.py
Due: lint_nucliadb

Add more coverage
  nucliadb/tests/nucliadb/unit/common/external_index_providers/test_manager.py
Due: lint_nucliadb

Pinecone writes (#2318)
  nucliadb/src/nucliadb/common/datamanagers/atomic.py
  nucliadb/src/nucliadb/common/external_index_providers/__init__.py
  nucliadb/src/nucliadb/common/external_index_providers/base.py
  nucliadb/src/nucliadb/common/external_index_providers/manager.py
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb/src/nucliadb/common/external_index_providers/settings.py
  nucliadb/src/nucliadb/ingest/orm/processor/__init__.py
  nucliadb/tests/nucliadb/unit/common/external_index_providers/test_manager.py
  nucliadb/tests/nucliadb/unit/common/external_index_providers/test_pinecone.py
  nucliadb_utils/src/nucliadb_utils/aiopynecone/client.py
  nucliadb_utils/src/nucliadb_utils/aiopynecone/models.py
  nucliadb_utils/tests/unit/aiopynecone/test_client.py
Due: lint_nucliadb, lint_nucliadb_utils

Revert "Fix confusing features values on /chat, /find and /search (#2310)"
  nucliadb/src/nucliadb/search/api/v1/find.py
  nucliadb/src/nucliadb/search/api/v1/resource/search.py
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/tests/search/integration/requesters/test_utils.py
  nucliadb/tests/search/unit/search/search/chat/test_query.py
  nucliadb/tests/search/unit/search/test_query.py
  nucliadb_dataset/Makefile
  nucliadb_dataset/src/nucliadb_dataset/dataset.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_models/tests/test_search.py
  nucliadb_sdk/Makefile
  nucliadb_sdk/src/nucliadb_sdk/tests/fixtures.py
Due: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_sdk

Revert "Fix confusing features values on /chat, /find and /search (#2310)" (#2320)
  nucliadb/src/nucliadb/search/api/v1/find.py
  nucliadb/src/nucliadb/search/api/v1/resource/search.py
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/tests/search/integration/requesters/test_utils.py
  nucliadb/tests/search/unit/search/search/chat/test_query.py
  nucliadb/tests/search/unit/search/test_query.py
  nucliadb_dataset/Makefile
  nucliadb_dataset/src/nucliadb_dataset/dataset.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_models/tests/test_search.py
  nucliadb_sdk/Makefile
  nucliadb_sdk/src/nucliadb_sdk/tests/fixtures.py
Due: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_sdk

Pinecone KB in standalone
  nucliadb/src/nucliadb/writer/api/v1/knowledgebox.py
  nucliadb_models/src/nucliadb_models/external_index_providers.py
  nucliadb_models/src/nucliadb_models/resource.py
Due: lint_nucliadb, lint_nucliadb_models

Less locking when deleting resources
  nucliadb/src/nucliadb/common/cluster/rebalance.py
  nucliadb/src/nucliadb/common/datamanagers/resources.py
Due: lint_nucliadb

Feature flag cleanup
  nucliadb/src/nucliadb/reader/app.py
  nucliadb/src/nucliadb/search/app.py
  nucliadb/src/nucliadb/search/search/find_merge.py
  nucliadb/src/nucliadb/train/app.py
  nucliadb/src/nucliadb/writer/app.py
  nucliadb_sidecar/src/nucliadb_sidecar/indexer.py
  nucliadb_utils/src/nucliadb_utils/const.py
  nucliadb_utils/src/nucliadb_utils/featureflagging.py
Due: lint_nucliadb, lint_nucliadb_utils

Less locking when deleting resources (#2321)
  nucliadb/src/nucliadb/common/cluster/rebalance.py
  nucliadb/src/nucliadb/common/datamanagers/resources.py
Due: lint_nucliadb

wip
  nucliadb/src/nucliadb/search/search/find.py
Due: lint_nucliadb

work in progress
  nucliadb/src/nucliadb/common/external_index_providers/base.py
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb/src/nucliadb/common/external_index_providers/settings.py
  nucliadb/src/nucliadb/ingest/orm/processor/__init__.py
  nucliadb/src/nucliadb/search/search/find.py
Due: lint_nucliadb

Revert "Revert "Fix confusing features values on /chat, /find and /search (#2310)" (#2320)"
  nucliadb/src/nucliadb/search/api/v1/find.py
  nucliadb/src/nucliadb/search/api/v1/resource/search.py
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/tests/search/integration/requesters/test_utils.py
  nucliadb/tests/search/unit/search/search/chat/test_query.py
  nucliadb/tests/search/unit/search/test_query.py
  nucliadb_dataset/Makefile
  nucliadb_dataset/src/nucliadb_dataset/dataset.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_models/tests/test_search.py
  nucliadb_sdk/Makefile
  nucliadb_sdk/src/nucliadb_sdk/tests/fixtures.py
Due: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_sdk

Fix container registry substitution
  .github/workflows/deploy.yml
Due: none

Fix container registry substitution (#2324)
  .github/workflows/deploy.yml
Due: none

Full bw/c
  nucliadb/src/nucliadb/search/api/v1/find.py
  nucliadb/src/nucliadb/search/api/v1/resource/search.py
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/tests/search/integration/requesters/test_utils.py
  nucliadb/tests/search/unit/search/search/chat/test_query.py
  nucliadb/tests/search/unit/search/test_query.py
  nucliadb_dataset/src/nucliadb_dataset/dataset.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_models/tests/test_search.py
Due: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models

Work in progress
  nucliadb/src/nucliadb/common/external_index_providers/base.py
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/src/nucliadb/search/search/results_hydrator/__init__.py
  nucliadb/src/nucliadb/search/search/results_hydrator/base.py
  nucliadb/src/nucliadb/search/search/results_hydrator/pinecone.py
Due: lint_nucliadb

wip
  nucliadb/src/nucliadb/common/external_index_providers/base.py
  nucliadb/src/nucliadb/search/search/results_hydrator/base.py
Due: lint_nucliadb

wip
  nucliadb/src/nucliadb/common/external_index_providers/base.py
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb/src/nucliadb/search/search/results_hydrator/base.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

wip
  nucliadb/src/nucliadb/common/external_index_providers/base.py
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb/src/nucliadb/search/search/results_hydrator/base.py
Due: lint_nucliadb

Change ChatOptions test
  nucliadb_models/tests/test_search.py
Due: lint_nucliadb_models

Catalog search
  nucliadb/src/nucliadb/search/api/v1/search.py
Due: lint_nucliadb

Catalog update
  nucliadb/src/nucliadb/ingest/orm/processor/__init__.py
Due: lint_nucliadb

wip
  nucliadb/src/nucliadb/common/external_index_providers/base.py
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/src/nucliadb/search/search/paragraphs.py
  nucliadb/src/nucliadb/search/search/results_hydrator/base.py
Due: lint_nucliadb

reuse ids parsing logic
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb/src/nucliadb/common/ids.py
  nucliadb/src/nucliadb/search/search/results_hydrator/base.py
Due: lint_nucliadb

Add unit tests to ids logic
  nucliadb/tests/nucliadb/unit/common/test_ids.py
Due: lint_nucliadb

Revert "Revert "Fix confusing features values on /chat, /find and /search (#2310)" (#2320)" (#2323)
  nucliadb_dataset/Makefile
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_models/tests/test_search.py
  nucliadb_sdk/Makefile
  nucliadb_sdk/src/nucliadb_sdk/tests/fixtures.py
Due: lint_nucliadb_models, lint_nucliadb_sdk

fix
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
Due: lint_nucliadb

More search options
  nucliadb/src/nucliadb/search/api/v1/search.py
Due: lint_nucliadb

Paging
  nucliadb/src/nucliadb/search/api/v1/search.py
Due: lint_nucliadb

Fix comments
  nucliadb/src/nucliadb/common/external_index_providers/base.py
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb/src/nucliadb/search/search/results_hydrator/base.py
  nucliadb/src/nucliadb/search/search/results_hydrator/pinecone.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

Path conditions:
  lint_nucliadb: any of: (^nucliadb/) and \.py$
  lint_nucliadb_dataset: any of: (^nucliadb_dataset/) and \.py$
  lint_nucliadb_models: any of: (^nucliadb_models/) and \.py$
  lint_nucliadb_node: any of: (^nucliadb_node/) and \.py$
  lint_nucliadb_node_binding: any of: (^nucliadb_node_binding/) and \.py$
  lint_nucliadb_performance: any of: (^nucliadb_performance/) and \.py$
  lint_nucliadb_sdk: any of: (^nucliadb_sdk/) and \.py$
  lint_nucliadb_telemetry: any of: (^nucliadb_telemetry/) and \.py$
  lint_nucliadb_utils: any of: (^nucliadb_utils/) and \.py$
  rustfmt_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
  clippy_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
