Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

lint_nucliadb:
  name: Lint nucliadb
  entry: make -C nucliadb lint
  language: system
  pass_filenames: false

lint_nucliadb_dataset:
  name: Lint nucliadb_dataset
  entry: make -C nucliadb_dataset lint
  language: system
  pass_filenames: false

lint_nucliadb_models:
  name: Lint nucliadb_models
  entry: make -C nucliadb_models lint
  language: system
  pass_filenames: false

lint_nucliadb_node:
  name: Lint nucliadb_node
  entry: make -C nucliadb_node lint
  language: system
  pass_filenames: false

lint_nucliadb_node_binding:
  name: Lint nucliadb_node_binding
  entry: make -C nucliadb_node_binding lint
  language: system
  pass_filenames: false

lint_nucliadb_performance:
  name: Lint nucliadb_performance
  entry: make -C nucliadb_performance lint
  language: system
  pass_filenames: false

lint_nucliadb_sdk:
  name: Lint nucliadb_sdk
  entry: make -C nucliadb_sdk lint
  language: system
  pass_filenames: false

lint_nucliadb_telemetry:
  name: Lint nucliadb_telemetry
  entry: make -C nucliadb_telemetry lint
  language: system
  pass_filenames: false

lint_nucliadb_utils:
  name: Lint nucliadb_utils
  entry: make -C nucliadb_utils lint
  language: system
  pass_filenames: false

rustfmt_nucliadb:
  name: fmt
  entry: cargo fmt --check
  language: system
  pass_filenames: false

clippy_nucliadb:
  name: clippy
  entry: cargo clippy --all-features -- -D warnings
  language: system
  pass_filenames: false

Remove ORM mix from resources datamanager
  nucliadb/src/migrations/0003_allfields_key.py
  nucliadb/src/nucliadb/common/cluster/rollover.py
  nucliadb/src/nucliadb/common/cluster/utils.py
  nucliadb/src/nucliadb/common/datamanagers/resources.py
  nucliadb/src/nucliadb/export_import/utils.py
Due: lint_nucliadb

Remove get_resource_uuid_from_slug from KnowledgeBox and use datamanager
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/src/nucliadb/ingest/orm/processor/__init__.py
  nucliadb/src/nucliadb/ingest/serialize.py
  nucliadb/src/nucliadb/reader/api/v1/download.py
  nucliadb/src/nucliadb/reader/api/v1/resource.py
  nucliadb/src/nucliadb/search/search/summarize.py
  nucliadb/tests/ingest/integration/orm/test_orm_knowledgebox.py
Due: lint_nucliadb

Use atomic datamanager
  nucliadb/src/nucliadb/common/cluster/manager.py
  nucliadb/src/nucliadb/common/datamanagers/atomic.py
Due: lint_nucliadb

Update GHA due to node<20 deprecation (#2311)
  .github/actions/push-img-nucliadb/action.yml
  .github/workflows/bump-version.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/e2e.yml
  .github/workflows/nucliadb_node_release.yml
  .github/workflows/public_release.yml
  .github/workflows/release.yml
Due: none

Be able to configure timeouts and parallelism via settings
  nucliadb/src/nucliadb/common/external_index_providers/manager.py
  nucliadb/src/nucliadb/common/external_index_providers/settings.py
Due: lint_nucliadb

Separate
  nucliadb/src/nucliadb/common/external_index_providers/base.py
  nucliadb/src/nucliadb/common/external_index_providers/manager.py
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
Due: lint_nucliadb

Add retry logic on pinecone client (#2313)
  nucliadb_utils/src/nucliadb_utils/aiopynecone/client.py
  nucliadb_utils/src/nucliadb_utils/aiopynecone/exceptions.py
  nucliadb_utils/tests/unit/aiopynecone/test_client.py
Due: lint_nucliadb_utils

Validate index host names for pinecone
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/tests/nucliadb/integration/test_pinecone_kb.py
  nucliadb_utils/src/nucliadb_utils/aiopynecone/client.py
  nucliadb_utils/src/nucliadb_utils/aiopynecone/exceptions.py
  nucliadb_utils/src/nucliadb_utils/aiopynecone/models.py
  nucliadb_utils/tests/unit/aiopynecone/test_client.py
Due: lint_nucliadb, lint_nucliadb_utils

Validate index host names for pinecone
  nucliadb_utils/src/nucliadb_utils/aiopynecone/exceptions.py
Due: lint_nucliadb_utils

fix
  nucliadb_utils/tests/unit/aiopynecone/test_client.py
Due: lint_nucliadb_utils

Charts: Parametrize env(From) configurations
  charts/nucliadb_ingest/templates/_cronjob_purge.tpl
  charts/nucliadb_ingest/templates/_helpers.tpl
  charts/nucliadb_ingest/templates/exporter.deploy.yaml
  charts/nucliadb_ingest/templates/ingest-orm-grpc.deploy.yaml
  charts/nucliadb_ingest/templates/ingest-processed-consumer.deploy.yaml
  charts/nucliadb_ingest/templates/ingest-subscriber-workers.deploy.yaml
  charts/nucliadb_ingest/templates/ingest.sts.yaml
  charts/nucliadb_ingest/templates/migrator.deploy.yaml
  charts/nucliadb_ingest/templates/rebalance.cronjob.yaml
  charts/nucliadb_ingest/values.yaml
  charts/nucliadb_node/templates/node.replicas.deploy.yaml
  charts/nucliadb_node/templates/node.sts.yaml
  charts/nucliadb_node/values.yaml
  charts/nucliadb_reader/templates/_helpers.tpl
  charts/nucliadb_reader/templates/reader.deploy.yaml
  charts/nucliadb_reader/values.yaml
  charts/nucliadb_search/templates/_helpers.tpl
  charts/nucliadb_search/templates/search.deploy.yaml
  charts/nucliadb_search/values.yaml
  charts/nucliadb_train/templates/_helpers.tpl
  charts/nucliadb_train/templates/train.deploy.yaml
  charts/nucliadb_train/values.yaml
  charts/nucliadb_writer/templates/_helpers.tpl
  charts/nucliadb_writer/templates/writer.deploy.yaml
  charts/nucliadb_writer/values.yaml
Due: none

Clear fields from index message that are already sent to pinecone
  nucliadb/src/nucliadb/common/external_index_providers/base.py
  nucliadb/src/nucliadb/common/external_index_providers/manager.py
  nucliadb/src/nucliadb/ingest/orm/processor/__init__.py
Due: lint_nucliadb

Add external index manager
  nucliadb/src/nucliadb/common/external_index_providers/__init__.py
  nucliadb/src/nucliadb/common/external_index_providers/manager.py
  nucliadb/src/nucliadb/ingest/orm/processor/__init__.py
Due: lint_nucliadb

wip
  nucliadb/src/nucliadb/writer/api/v1/knowledgebox.py
  nucliadb_models/src/nucliadb_models/resource.py
Due: lint_nucliadb, lint_nucliadb_models

Limit pinecone index name length
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/tests/nucliadb/integration/test_pinecone_kb.py
  nucliadb_utils/src/nucliadb_utils/aiopynecone/models.py
  nucliadb_utils/tests/unit/aiopynecone/test_client.py
Due: lint_nucliadb, lint_nucliadb_utils

Rollback external index on error
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/tests/nucliadb/integration/test_pinecone_kb.py
Due: lint_nucliadb

more fixes
  nucliadb/src/nucliadb/ingest/orm/processor/__init__.py
  nucliadb/src/nucliadb/writer/api/v1/knowledgebox.py
  nucliadb_models/src/nucliadb_models/resource.py
Due: lint_nucliadb, lint_nucliadb_models

better
  nucliadb/src/nucliadb/ingest/orm/processor/__init__.py
Due: lint_nucliadb

Better
  nucliadb_utils/src/nucliadb_utils/aiopynecone/models.py
Due: lint_nucliadb_utils

more
  nucliadb/src/nucliadb/common/external_index_providers/manager.py
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb/src/nucliadb/ingest/orm/processor/__init__.py
  nucliadb_utils/src/nucliadb_utils/aiopynecone/client.py
  nucliadb_utils/src/nucliadb_utils/aiopynecone/exceptions.py
  nucliadb_utils/src/nucliadb_utils/aiopynecone/models.py
  nucliadb_utils/tests/unit/aiopynecone/test_client.py
Due: lint_nucliadb, lint_nucliadb_utils

Make envFrom optional
  charts/nucliadb_ingest/templates/exporter.deploy.yaml
  charts/nucliadb_ingest/templates/ingest-orm-grpc.deploy.yaml
  charts/nucliadb_ingest/templates/ingest-processed-consumer.deploy.yaml
  charts/nucliadb_ingest/templates/ingest-subscriber-workers.deploy.yaml
  charts/nucliadb_ingest/templates/ingest.sts.yaml
  charts/nucliadb_ingest/templates/migrator.deploy.yaml
  charts/nucliadb_node/templates/node.replicas.deploy.yaml
  charts/nucliadb_node/templates/node.sts.yaml
  charts/nucliadb_reader/templates/reader.deploy.yaml
  charts/nucliadb_search/templates/search.deploy.yaml
  charts/nucliadb_train/templates/train.deploy.yaml
  charts/nucliadb_writer/templates/writer.deploy.yaml
Due: none

Make envFrom optional #2
  charts/nucliadb_ingest/templates/_cronjob_purge.tpl
  charts/nucliadb_ingest/templates/rebalance.cronjob.yaml
Due: none

Validate index host names for pinecone (#2315)
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/tests/nucliadb/integration/test_pinecone_kb.py
  nucliadb_utils/src/nucliadb_utils/aiopynecone/client.py
  nucliadb_utils/src/nucliadb_utils/aiopynecone/exceptions.py
  nucliadb_utils/src/nucliadb_utils/aiopynecone/models.py
  nucliadb_utils/tests/unit/aiopynecone/test_client.py
Due: lint_nucliadb, lint_nucliadb_utils

no upsert zero vectors
  nucliadb_utils/src/nucliadb_utils/aiopynecone/client.py
Due: lint_nucliadb_utils

Update charts/nucliadb_shared/templates/nucliadb.cm.yaml
  charts/nucliadb_shared/templates/nucliadb.cm.yaml
Due: none

NDB Shared: Create Kubernetes secret for sensitive values (#2312)
  charts/nucliadb_shared/templates/nucliadb.cm.yaml
  charts/nucliadb_shared/templates/nucliadb.secret.yaml
  charts/nucliadb_shared/values.yaml
Due: none

Search: add sane default
  charts/nucliadb_search/values.yaml
Due: none

Node add Helm template
  charts/nucliadb_node/templates/_helpers.tpl
Due: none

Use newer version of Helm
  .github/workflows/ci.yml
Due: none

Shared Chart: Base64 encode secret values
  charts/nucliadb_shared/templates/nucliadb.secret.yaml
Due: none

Update app lable
  charts/nucliadb_shared/templates/nucliadb.secret.yaml
Due: none

Shared Chart: Base64 encode secret values (#2317)
  charts/nucliadb_shared/templates/nucliadb.secret.yaml
Due: none

Add metrics to manager
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
Due: lint_nucliadb

wip
  nucliadb/src/nucliadb/search/search/find.py
Due: lint_nucliadb

Use NatsConnectionManager in KbUsageUtility
  nucliadb_utils/src/nucliadb_utils/nuclia_usage/utils/kb_usage_report.py
  nucliadb_utils/tests/unit/nuclia_usage/test_kb_usage_report.py
Due: lint_nucliadb_utils

Path conditions:
  lint_nucliadb: any of: (^nucliadb/) and \.py$
  lint_nucliadb_dataset: any of: (^nucliadb_dataset/) and \.py$
  lint_nucliadb_models: any of: (^nucliadb_models/) and \.py$
  lint_nucliadb_node: any of: (^nucliadb_node/) and \.py$
  lint_nucliadb_node_binding: any of: (^nucliadb_node_binding/) and \.py$
  lint_nucliadb_performance: any of: (^nucliadb_performance/) and \.py$
  lint_nucliadb_sdk: any of: (^nucliadb_sdk/) and \.py$
  lint_nucliadb_telemetry: any of: (^nucliadb_telemetry/) and \.py$
  lint_nucliadb_utils: any of: (^nucliadb_utils/) and \.py$
  rustfmt_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
  clippy_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
