Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nidx, clippy_nidx

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint_nucliadb
        name: Lint nucliadb
        entry: make -C nucliadb lint
        language: system
        files: (^nucliadb/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_dataset
        name: Lint nucliadb_dataset
        entry: make -C nucliadb_dataset lint
        language: system
        files: (^nucliadb_dataset/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_models
        name: Lint nucliadb_models
        entry: make -C nucliadb_models lint
        language: system
        files: (^nucliadb_models/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_sdk
        name: Lint nucliadb_sdk
        entry: make -C nucliadb_sdk lint
        language: system
        files: (^nucliadb_sdk/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_telemetry
        name: Lint nucliadb_telemetry
        entry: make -C nucliadb_telemetry lint
        language: system
        files: (^nucliadb_telemetry/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_utils
        name: Lint nucliadb_utils
        entry: make -C nucliadb_utils lint
        language: system
        files: (^nucliadb_utils/)
        types: ["python"]
        pass_filenames: false

      - id: rustfmt_nidx
        name: Rust format check for nidx
        entry: cargo fmt --check --all --manifest-path nidx/Cargo.toml
        language: system
        files: (^nidx/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nidx
        name: Clippy warning check for nidx
        entry: cargo clippy --all-features --manifest-path nidx/Cargo.toml -- -D warnings
        language: system
        files: (^nidx/)
        types: ["rust"]
        pass_filenames: false

Switch to safer sentinel
  nucliadb/src/nucliadb/ingest/fields/conversation.py
  nucliadb/src/nucliadb/writer/api/v1/field.py
  nucliadb/src/nucliadb/writer/resource/field.py
  nucliadb_protos/resources.proto
Due: lint_nucliadb

Typing for dummy_nidx_utility
  nucliadb/tests/ndbfixtures/nidx.py
Due: lint_nucliadb

Already using nats for pubsub, no need to mock it
  nucliadb/tests/ingest/integration/consumer/test_materializer.py
Due: lint_nucliadb

Typing and avoid global settings manipulation
  nucliadb/tests/ingest/integration/consumer/test_pull.py
  nucliadb/tests/ingest/integration/consumer/test_shard_creator.py
  nucliadb/tests/ndbfixtures/common.py
Due: lint_nucliadb

Fix put conversation
  nucliadb/src/nucliadb/writer/api/v1/field.py
  nucliadb/tests/writer/unit/resources/test_field.py
Due: lint_nucliadb

Revert "Remove duplicated local_files and use the safe one"
  nucliadb/tests/ingest/fixtures.py
  nucliadb/tests/ndbfixtures/common.py
Due: lint_nucliadb

Explain local_files problem
  nucliadb/tests/ingest/fixtures.py
Due: lint_nucliadb

Alias no longer used
  nucliadb/tests/ndbfixtures/ingest.py
Due: lint_nucliadb

Train gRPC doesn't need local_files fixture
  nucliadb/tests/ndbfixtures/train.py
Due: lint_nucliadb

Remove duplicated local_storage fixture (now for real)
  nucliadb/tests/ingest/fixtures.py
  nucliadb/tests/ndbfixtures/common.py
  nucliadb/tests/reader/integration/api/v1/test_reader_file_download.py
Due: lint_nucliadb

Typing, docs and minor rename
  nucliadb/tests/ndbfixtures/resources.py
Due: lint_nucliadb

Port ingest/fixtures.py to ndbfixtures
  nucliadb/tests/conftest.py
  nucliadb/tests/ingest/conftest.py
  nucliadb/tests/ingest/fixtures.py
  nucliadb/tests/ingest/integration/consumer/test_materializer.py
  nucliadb/tests/ingest/integration/ingest/test_vectorsets.py
  nucliadb/tests/ingest/integration/orm/test_index_message.py
  nucliadb/tests/ingest/integration/orm/test_orm_knowledgebox.py
  nucliadb/tests/ingest/integration/orm/test_orm_resource.py
  nucliadb/tests/ndbfixtures/ingest.py
  nucliadb/tests/ndbfixtures/resources.py
  nucliadb/tests/ndbfixtures/search.py
  nucliadb/tests/nucliadb/integration/test_purge_vectorsets.py
  nucliadb/tests/nucliadb/integration/test_vectorsets.py
  nucliadb/tests/reader/integration/api/v1/test_reader_file_download.py
  nucliadb/tests/search/conftest.py
  nucliadb/tests/search/integration/reader/test_notifications.py
Due: lint_nucliadb

Fix test
  nucliadb/tests/nucliadb/integration/test_matryoshka_embeddings.py
Due: lint_nucliadb

Check for duplicate message idents (#3313)
  nucliadb/src/nucliadb/ingest/fields/conversation.py
  nucliadb/src/nucliadb/writer/api/v1/field.py
  nucliadb/src/nucliadb/writer/resource/field.py
  nucliadb/tests/nucliadb/integration/test_conversation.py
  nucliadb/tests/writer/test_fields.py
  nucliadb/tests/writer/unit/resources/test_field.py
  nucliadb_protos/resources.proto
Due: lint_nucliadb

Remove pinecone code
  nucliadb/src/nucliadb/common/external_index_providers/manager.py
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb/src/nucliadb/common/external_index_providers/settings.py
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/src/nucliadb/writer/api/v1/knowledgebox.py
  nucliadb/tests/nucliadb/integration/test_pinecone_kb.py
  nucliadb/tests/nucliadb/unit/common/external_index_providers/test_manager.py
  nucliadb/tests/nucliadb/unit/common/external_index_providers/test_pinecone.py
  nucliadb_models/src/nucliadb_models/external_index_providers.py
  nucliadb_models/src/nucliadb_models/resource.py
  nucliadb_utils/src/nucliadb_utils/aiopynecone/__init__.py
  nucliadb_utils/src/nucliadb_utils/aiopynecone/client.py
  nucliadb_utils/src/nucliadb_utils/aiopynecone/exceptions.py
  nucliadb_utils/src/nucliadb_utils/aiopynecone/models.py
  nucliadb_utils/src/nucliadb_utils/utilities.py
  nucliadb_utils/tests/unit/aiopynecone/__init__.py
  nucliadb_utils/tests/unit/aiopynecone/test_client.py
  nucliadb_utils/tests/unit/test_utilities.py
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_utils

Remove
  nucliadb/tests/ingest/unit/service/test_writer.py
  nucliadb_models/src/nucliadb_models/external_index_providers.py
  nucliadb_models/src/nucliadb_models/resource.py
Due: lint_nucliadb, lint_nucliadb_models

extend test
  nucliadb/tests/ingest/unit/orm/test_brain.py
Due: lint_nucliadb

More optimal append detection
  nucliadb/src/nucliadb/ingest/fields/conversation.py
Due: lint_nucliadb

Extend unit test
  nucliadb/tests/ingest/unit/orm/test_brain.py
Due: lint_nucliadb

poc
  nucliadb/src/nucliadb/ingest/fields/conversation.py
  nucliadb/src/nucliadb/writer/api/v1/resource.py
  nucliadb/src/nucliadb/writer/resource/field.py
Due: lint_nucliadb

Slighlty refactor catalog_update to ease changes
  nucliadb/src/migrations/0023_backfill_pg_catalog.py
  nucliadb/src/migrations/0038_backfill_catalog_field_labels.py
  nucliadb/src/nucliadb/common/catalog/__init__.py
  nucliadb/src/nucliadb/common/catalog/utils.py
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
Due: lint_nucliadb

Add test
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
  nucliadb/src/nucliadb/writer/resource/field.py
  nucliadb/src/nucliadb/writer/settings.py
  nucliadb/tests/nucliadb/integration/test_conversation.py
Due: lint_nucliadb

fix
  nucliadb/src/nucliadb/writer/settings.py
Due: lint_nucliadb

Add limits to origin metadata
  nucliadb_models/src/nucliadb_models/metadata.py
Due: lint_nucliadb_models

Validate inner tags
  nucliadb_models/src/nucliadb_models/metadata.py
Due: lint_nucliadb_models

Add test
  nucliadb/tests/nucliadb/integration/test_api.py
  nucliadb_models/src/nucliadb_models/metadata.py
Due: lint_nucliadb, lint_nucliadb_models

Add test
  nucliadb_models/src/nucliadb_models/metadata.py
Due: lint_nucliadb_models

Add test
  nucliadb/tests/nucliadb/integration/test_api.py
Due: lint_nucliadb

Add origin metadata limits (#3316)
  nucliadb/tests/nucliadb/integration/test_api.py
  nucliadb_models/src/nucliadb_models/metadata.py
Due: lint_nucliadb, lint_nucliadb_models

fix docstring
  nucliadb_models/src/nucliadb_models/external_index_providers.py
Due: lint_nucliadb_models

Remove pinecone integration (#3315)
  nucliadb/src/nucliadb/common/external_index_providers/manager.py
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb/src/nucliadb/common/external_index_providers/settings.py
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/src/nucliadb/writer/api/v1/knowledgebox.py
  nucliadb/tests/ingest/unit/service/test_writer.py
  nucliadb/tests/nucliadb/integration/test_pinecone_kb.py
  nucliadb/tests/nucliadb/unit/common/external_index_providers/test_manager.py
  nucliadb/tests/nucliadb/unit/common/external_index_providers/test_pinecone.py
  nucliadb_models/src/nucliadb_models/external_index_providers.py
  nucliadb_utils/src/nucliadb_utils/aiopynecone/__init__.py
  nucliadb_utils/src/nucliadb_utils/aiopynecone/client.py
  nucliadb_utils/src/nucliadb_utils/aiopynecone/exceptions.py
  nucliadb_utils/src/nucliadb_utils/aiopynecone/models.py
  nucliadb_utils/src/nucliadb_utils/utilities.py
  nucliadb_utils/tests/unit/aiopynecone/__init__.py
  nucliadb_utils/tests/unit/aiopynecone/test_client.py
  nucliadb_utils/tests/unit/test_utilities.py
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_utils

e2e: Update features URL endpoint to RAG progress CDN
  e2e/conf/chart.values.yaml
Due: none

WIP
  nucliadb/src/nucliadb/common/cluster/rebalance.py
Due: lint_nucliadb

Fix tantivy bug queries instead of fail
  nucliadb/src/nucliadb/search/search/query_parser/parsers/common.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/find.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/search.py
  nucliadb/tests/search/unit/search/search/test_common_query_parser.py
Due: lint_nucliadb

Fix invalid query too to avoid empty results
  nucliadb/src/nucliadb/search/search/query_parser/parsers/common.py
  nucliadb/tests/search/unit/search/search/test_common_query_parser.py
Due: lint_nucliadb

wip
  nucliadb/src/nucliadb/common/cluster/rebalance.py
  nucliadb/tests/nucliadb/unit/common/cluster/test_rebalance.py
Due: lint_nucliadb
