Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nidx, clippy_nidx

lint_nucliadb:
  name: Lint nucliadb
  entry: make -C nucliadb lint
  language: system
  pass_filenames: false

lint_nucliadb_dataset:
  name: Lint nucliadb_dataset
  entry: make -C nucliadb_dataset lint
  language: system
  pass_filenames: false

lint_nucliadb_models:
  name: Lint nucliadb_models
  entry: make -C nucliadb_models lint
  language: system
  pass_filenames: false

lint_nucliadb_sdk:
  name: Lint nucliadb_sdk
  entry: make -C nucliadb_sdk lint
  language: system
  pass_filenames: false

lint_nucliadb_telemetry:
  name: Lint nucliadb_telemetry
  entry: make -C nucliadb_telemetry lint
  language: system
  pass_filenames: false

lint_nucliadb_utils:
  name: Lint nucliadb_utils
  entry: make -C nucliadb_utils lint
  language: system
  pass_filenames: false

rustfmt_nidx:
  name: Rust format check for nidx
  entry: cargo fmt --check --all --manifest-path nidx/Cargo.toml
  language: system
  pass_filenames: false

clippy_nidx:
  name: Clippy warning check for nidx
  entry: cargo clippy --all-features --manifest-path nidx/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

less nesting
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
Due: lint_nucliadb

Reimplement locking into a separate pg table
  nucliadb/src/nucliadb/common/locking.py
Due: lint_nucliadb

less nesting
  nucliadb/src/migrations/pg/0013_locks_table.py
Due: lint_nucliadb

Parallelize ops
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
  nucliadb/src/nucliadb/ingest/orm/resource.py
Due: lint_nucliadb

Simpler resource locking (#3542)
  nucliadb/src/nucliadb/common/cluster/rebalance.py
  nucliadb/src/nucliadb/common/locking.py
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
  nucliadb/src/nucliadb/ingest/service/writer.py
  nucliadb/tests/ingest/unit/service/test_writer.py
  nucliadb/tests/nucliadb/integration/test_api.py
  nucliadb_protos/writer.proto
Due: lint_nucliadb

Add metrics to locking
  nucliadb/src/nucliadb/common/locking.py
Due: lint_nucliadb

Add metrics to locking
  nucliadb/src/nucliadb/common/locking.py
  nucliadb/src/nucliadb/migrator/migrator.py
Due: lint_nucliadb

monotonic
  nucliadb/src/nucliadb/common/locking.py
Due: lint_nucliadb

fix monotonic cannot be used here
  nucliadb/src/nucliadb/common/locking.py
Due: lint_nucliadb

Add metrics to locking (#3547)
  nucliadb/src/nucliadb/common/locking.py
  nucliadb/src/nucliadb/migrator/migrator.py
Due: lint_nucliadb

Powerful /retrieve query proposal
  nucliadb_models/src/nucliadb_models/retrieval.py
Due: lint_nucliadb_models

Reduce pull timeout
  nucliadb/src/nucliadb/ingest/consumer/pull.py
Due: lint_nucliadb

Fix sentry errors for deleted kbs
  nucliadb/src/nucliadb/ingest/consumer/auditing.py
  nucliadb/src/nucliadb/ingest/consumer/shard_creator.py
Due: lint_nucliadb

Fix sentry errors for deleted kbs (#3551)
  nucliadb/src/nucliadb/ingest/consumer/auditing.py
  nucliadb/src/nucliadb/ingest/consumer/shard_creator.py
Due: lint_nucliadb

Add log for when a KB is deleted
  nucliadb/src/nucliadb/ingest/service/writer.py
Due: lint_nucliadb

Add log for when a KB is deleted (#3552)
  nucliadb/src/nucliadb/ingest/service/writer.py
Due: lint_nucliadb

Parallelize processor ops (#3546)
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
  nucliadb/src/nucliadb/ingest/orm/resource.py
Due: lint_nucliadb

Add distrubted_locks table locking implementation
  nucliadb/src/migrations/pg/0013_distributed_locks.py
  nucliadb/src/nucliadb/common/locking.py
Due: lint_nucliadb

warning
  nucliadb/src/nucliadb/common/locking.py
Due: lint_nucliadb

Use bisect to find field paragraphs faster
  nucliadb/src/nucliadb/search/augmentor/paragraphs.py
Due: lint_nucliadb

Remove unused local driver
  nucliadb/src/nucliadb/common/maindb/local.py
  nucliadb/src/nucliadb/common/maindb/utils.py
  nucliadb/src/nucliadb/ingest/settings.py
  nucliadb/src/nucliadb/standalone/config.py
  nucliadb/tests/nucliadb/integration/common/maindb/test_drivers.py
Due: lint_nucliadb

Use bisect in db_paragraph_metadata too
  nucliadb/src/nucliadb/search/augmentor/paragraphs.py
Due: lint_nucliadb

Remove unused local driver (#3556)
  nucliadb/src/nucliadb/common/maindb/local.py
  nucliadb/src/nucliadb/common/maindb/utils.py
  nucliadb/src/nucliadb/ingest/settings.py
  nucliadb/src/nucliadb/standalone/config.py
  nucliadb/tests/nucliadb/integration/common/maindb/test_drivers.py
Due: lint_nucliadb

Use bisect to find field paragraphs faster (#3555)
  nucliadb/src/nucliadb/search/augmentor/paragraphs.py
Due: lint_nucliadb

Extend tests
  nucliadb/src/nucliadb/common/locking.py
  nucliadb/tests/nucliadb/integration/common/test_locking.py
Due: lint_nucliadb

Remove abstraction
  nucliadb/src/nucliadb/common/locking.py
Due: lint_nucliadb

Separate pg table for distributed locks (#3554)
  nucliadb/src/migrations/pg/0013_distributed_locks.py
  nucliadb/src/nucliadb/common/locking.py
  nucliadb/tests/nucliadb/integration/common/test_locking.py
Due: lint_nucliadb

migration logs
  nucliadb/src/nucliadb/migrator/migrator.py
Due: lint_nucliadb

Handle FastAPI validation errors (422) on SDK
  nucliadb_sdk/src/nucliadb_sdk/v2/exceptions.py
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
  nucliadb_sdk/tests/test_augment.py
  nucliadb_sdk/tests/test_retrieve.py
Due: lint_nucliadb_sdk

Handle 412 with low level exception too
  nucliadb_sdk/src/nucliadb_sdk/v2/exceptions.py
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
Due: lint_nucliadb_sdk

Fix tests
  nucliadb_sdk/tests/test_sdk.py
  nucliadb_sdk/tests/test_sdk_async.py
Due: lint_nucliadb_sdk

Handle FastAPI validation errors (422) on SDK (#3560)
  nucliadb_sdk/src/nucliadb_sdk/v2/exceptions.py
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
  nucliadb_sdk/tests/test_augment.py
  nucliadb_sdk/tests/test_retrieve.py
  nucliadb_sdk/tests/test_sdk.py
  nucliadb_sdk/tests/test_sdk_async.py
Due: lint_nucliadb_sdk

Better readability for disabled overrides
  nucliadb_models/src/nucliadb_models/retrieval.py
Due: lint_nucliadb_models

Implement parsing for new high level requests
  nucliadb/src/nucliadb/search/search/query_parser/parsers/retrieve.py
  nucliadb_sdk/tests/test_retrieve.py
Due: lint_nucliadb, lint_nucliadb_sdk

Path conditions:
  lint_nucliadb: any of: (^nucliadb/) and \.py$
  lint_nucliadb_dataset: any of: (^nucliadb_dataset/) and \.py$
  lint_nucliadb_models: any of: (^nucliadb_models/) and \.py$
  lint_nucliadb_sdk: any of: (^nucliadb_sdk/) and \.py$
  lint_nucliadb_telemetry: any of: (^nucliadb_telemetry/) and \.py$
  lint_nucliadb_utils: any of: (^nucliadb_utils/) and \.py$
  rustfmt_nidx: any of: (^nidx/) and \.rs$
  clippy_nidx: any of: (^nidx/) and \.rs$
