Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: isort_nucliadb
        name: Isort
        entry: isort --profile black -c
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)
        types: ["python"]

      - id: black_nucliadb
        name: Black
        entry: black --check --verbose
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)
        types: ["python"]

      - id: flake8_nucliadb
        name: Flake8
        entry: flake8 --config=nucliadb/setup.cfg
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)
        types: ["python"]

      - id: rustfmt_nucliadb
        name: fmt
        entry: cargo +nightly fmt --check
        language: system
        files: (^nucliadb_vectors/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_paragraphs/)|(^nucliadb_texts/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nucliadb
        name: clippy
        entry: cargo clippy --all-features -- -D warnings
        language: system
        files: (^nucliadb_vectors/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_paragraphs/)|(^nucliadb_texts/)
        types: ["rust"]
        pass_filenames: false

output filters as well
  nucliadb/nucliadb/ingest/orm/brain.py
  nucliadb/nucliadb/search/search/merge.py
  nucliadb/nucliadb/search/search/query.py
  nucliadb/nucliadb/search/tests/integration/api/v1/test_search.py
  nucliadb/nucliadb/tests/integration/search/test_autofilters.py
  nucliadb_models/nucliadb_models/labels.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

better naming
  nucliadb/nucliadb/search/search/merge.py
  nucliadb/nucliadb/search/search/query.py
  nucliadb_models/nucliadb_models/labels.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

lint
  nucliadb_models/nucliadb_models/labels.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

better error msg
  nucliadb/nucliadb/tests/integration/search/test_search.py
  nucliadb_dataset/nucliadb_dataset/dataset.py
  nucliadb_sdk/nucliadb_sdk/tests/test_search.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix
  nucliadb/nucliadb/tests/integration/test_find.py
  nucliadb_sdk/nucliadb_sdk/knowledgebox.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix tests
  nucliadb/nucliadb/search/tests/integration/api/v1/test_search.py
  nucliadb_models/nucliadb_models/labels.py
  nucliadb_sdk/nucliadb_sdk/knowledgebox.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix
  nucliadb/nucliadb/tests/integration/search/test_search.py
  nucliadb/nucliadb/tests/integration/test_suggest.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

date range in vectors
  nucliadb_core/src/query_planner.rs
  nucliadb_texts/src/reader.rs
  nucliadb_texts/src/search_query.rs
Due: rustfmt_nucliadb, clippy_nucliadb

cleaning
  nucliadb_texts/src/reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

fix
  nucliadb_core/src/query_planner.rs
Due: none

test
  nucliadb_node/tests/test_date_range_search.rs
Due: rustfmt_nucliadb, clippy_nucliadb

happy clippy
  nucliadb_node/tests/test_date_range_search.rs
  nucliadb_paragraphs/src/stop_words.rs
Due: rustfmt_nucliadb, clippy_nucliadb

date range in vectors (#1552)
  nucliadb_core/src/query_planner.rs
  nucliadb_node/tests/test_date_range_search.rs
  nucliadb_paragraphs/src/stop_words.rs
  nucliadb_texts/src/reader.rs
  nucliadb_texts/src/search_query.rs
Due: rustfmt_nucliadb, clippy_nucliadb

extend test to vectors too
  nucliadb/nucliadb/tests/integration/search/test_search_date_ranges_filter.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Add exhaustive tests for date range filtering
  nucliadb/nucliadb/tests/integration/search/test_search_date_ranges_filter.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Added tests
  nucliadb/nucliadb/tests/integration/search/test_search_date_ranges_filter.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Make sure to reindex resource if resource metadata changes
  nucliadb/nucliadb/tests/integration/search/test_search_date_ranges_filter.py
  nucliadb/nucliadb/writer/api/v1/resource.py
  nucliadb/nucliadb/writer/resource/basic.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

support better filtering naming and origin metadata support (#1548)
  nucliadb/migrations/0002_rollover_shards.py
  nucliadb/nucliadb/ingest/orm/brain.py
  nucliadb/nucliadb/ingest/orm/labels.py
  nucliadb/nucliadb/ingest/orm/resource.py
  nucliadb/nucliadb/ingest/tests/unit/orm/test_brain.py
  nucliadb/nucliadb/search/api/v1/chat.py
  nucliadb/nucliadb/search/api/v1/find.py
  nucliadb/nucliadb/search/api/v1/resource/ask.py
  nucliadb/nucliadb/search/api/v1/resource/chat.py
  nucliadb/nucliadb/search/api/v1/resource/search.py
  nucliadb/nucliadb/search/api/v1/search.py
  nucliadb/nucliadb/search/search/exceptions.py
  nucliadb/nucliadb/search/search/merge.py
  nucliadb/nucliadb/search/search/query.py
  nucliadb/nucliadb/search/tests/integration/api/v1/test_search.py
  nucliadb/nucliadb/tests/integration/search/test_autofilters.py
  nucliadb/nucliadb/tests/integration/search/test_search.py
  nucliadb/nucliadb/tests/integration/test_find.py
  nucliadb/nucliadb/tests/integration/test_suggest.py
  nucliadb_dataset/nucliadb_dataset/dataset.py
  nucliadb_models/nucliadb_models/labels.py
  nucliadb_sdk/nucliadb_sdk/knowledgebox.py
  nucliadb_sdk/nucliadb_sdk/tests/test_search.py
  nucliadb_utils/nucliadb_utils/const.py
  nucliadb_utils/nucliadb_utils/featureflagging.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

.
  nucliadb_protos/nodewriter.proto
Due: none

leave hnsw out for now
  nucliadb/nucliadb/tests/integration/search/test_search_date_ranges_filter.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

add rollover migration
  nucliadb/migrations/0002_rollover_shards.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix
  nucliadb/migrations/0004_rollover_shards.py
  nucliadb_protos/nodewriter.proto
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix metrics port
  charts/nucliadb_node/templates/node.sts.yaml
Due: none

fix
  charts/nucliadb/templates/sts.yaml
Due: none

Fix metrics port and node annotation (#1562)
  charts/nucliadb/templates/sts.yaml
  charts/nucliadb_node/templates/node.sts.yaml
Due: none

Add rollover migration (#1561)
  nucliadb/migrations/0004_rollover_shards.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix updating read replica status in auto discovery
  nucliadb/nucliadb/common/cluster/discovery/base.py
  nucliadb/nucliadb/common/cluster/discovery/k8s.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix
  nucliadb/nucliadb/common/cluster/discovery/base.py
  nucliadb/nucliadb/common/cluster/discovery/k8s.py
  nucliadb_protos/nodewriter.proto
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

lint
  nucliadb/nucliadb/common/cluster/discovery/base.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix
  nucliadb/nucliadb/common/cluster/discovery/base.py
  nucliadb/nucliadb/tests/unit/common/cluster/discovery/test_k8s.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix
  nucliadb/nucliadb/common/cluster/discovery/base.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

only primaries
  nucliadb/nucliadb/metrics_exporter.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Fix updating read replica (#1563)
  nucliadb/nucliadb/common/cluster/discovery/base.py
  nucliadb/nucliadb/common/cluster/discovery/k8s.py
  nucliadb/nucliadb/metrics_exporter.py
  nucliadb/nucliadb/tests/unit/common/cluster/discovery/test_k8s.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix check for read replica
  nucliadb/nucliadb/common/cluster/discovery/base.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix sorted nodes to not include secondaries
  nucliadb/nucliadb/common/cluster/manager.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

log exceptions during migration
  nucliadb/nucliadb/common/cluster/rollover.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

log exceptions during migration (#1564)
  nucliadb/nucliadb/common/cluster/rollover.py
  nucliadb/nucliadb/metrics_exporter.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix primary id wiring
  nucliadb/nucliadb/common/cluster/discovery/base.py
  nucliadb/nucliadb/common/cluster/discovery/k8s.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb
