Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

isort_nucliadb:
  name: Isort
  entry: isort --profile black -c
  language: system

black_nucliadb:
  name: Black
  entry: black --check --verbose
  language: system

flake8_nucliadb:
  name: Flake8
  entry: flake8 --config=nucliadb/setup.cfg
  language: system

rustfmt_nucliadb:
  name: fmt
  entry: cargo +nightly fmt --check
  language: system
  pass_filenames: false

clippy_nucliadb:
  name: clippy
  entry: cargo clippy --all-features -- -D warnings
  language: system
  pass_filenames: false

fix tests
  nucliadb/nucliadb/train/tests/conftest.py
  nucliadb/nucliadb/writer/tests/fixtures.py
  nucliadb/nucliadb/writer/tests/test_tus.py
  nucliadb/nucliadb/writer/tus/dm.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

simpler
  nucliadb_performance/Makefile
Due: none

Try to reproduce the issue
  nucliadb/nucliadb/writer/tus/__init__.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

move to metadata for management
  Cargo.lock
  nucliadb_node/src/grpc/grpc_writer.rs
  nucliadb_node/src/replication/replicator.rs
  nucliadb_node/src/replication/service.rs
  nucliadb_node/src/shards/change_state.rs
  nucliadb_node/src/shards/metadata.rs
  nucliadb_node/src/shards/mod.rs
  nucliadb_node/src/shards/providers/provider_traits.rs
  nucliadb_node/src/shards/providers/unbounded_cache/async_unbounded_writer.rs
  nucliadb_node/src/shards/providers/unbounded_cache/unbounded_writer.rs
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_node/src/shards/shard_writer.rs
  nucliadb_node/tests/test_replication.rs
  nucliadb_node_binding/Cargo.toml
  nucliadb_node_binding/src/writer.rs
  nucliadb_vectors/src/service/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

tweak
  nucliadb_node/src/replication/service.rs
  nucliadb_node/src/shards/metadata.rs
Due: rustfmt_nucliadb, clippy_nucliadb

better error log update cluster info
  nucliadb/nucliadb/common/cluster/discovery/k8s.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

cluster management fixes
  nucliadb/nucliadb/common/cluster/discovery/base.py
  nucliadb/nucliadb/common/cluster/discovery/k8s.py
  nucliadb/nucliadb/common/cluster/discovery/types.py
  nucliadb/nucliadb/common/cluster/exceptions.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

add test
  nucliadb/nucliadb/common/cluster/discovery/k8s.py
  nucliadb/nucliadb/tests/unit/common/cluster/discovery/test_k8s.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

wip
  nucliadb/nucliadb/search/api/v1/chat.py
  nucliadb/nucliadb/search/search/chat/prompt.py
  nucliadb/nucliadb/search/search/chat/query.py
  nucliadb/nucliadb/tests/integration/test_chat.py
  nucliadb_models/nucliadb_models/search.py
  nucliadb_sdk/nucliadb_sdk/v2/sdk.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Fixed
  .github/workflows/nucliadb_writer.yml
  nucliadb/nucliadb/writer/api/v1/upload.py
  nucliadb/nucliadb/writer/tests/fixtures.py
  nucliadb/nucliadb/writer/tests/test_files.py
  nucliadb/nucliadb/writer/tus/__init__.py
  nucliadb/nucliadb/writer/tus/gcs.py
  nucliadb/nucliadb/writer/tus/pg.py
  nucliadb/nucliadb/writer/tus/s3.py
  nucliadb/nucliadb/writer/tus/storage.py
  nucliadb_utils/nucliadb_utils/storages/__init__.py
  nucliadb_utils/nucliadb_utils/storages/s3.py
  nucliadb_utils/nucliadb_utils/tests/conftest.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Cleaner
  nucliadb_utils/nucliadb_utils/storages/s3.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix envvar
  .github/workflows/nucliadb_writer.yml
Due: none

not ready to run for pg: need to implement indexing bucket creation first
  nucliadb/nucliadb/writer/tests/fixtures.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

better
  nucliadb/nucliadb/writer/api/v1/upload.py
  nucliadb/nucliadb/writer/tests/test_files.py
  nucliadb/nucliadb/writer/tus/gcs.py
  nucliadb/nucliadb/writer/tus/pg.py
  nucliadb/nucliadb/writer/tus/s3.py
  nucliadb/nucliadb/writer/tus/storage.py
  nucliadb_utils/nucliadb_utils/storages/gcs.py
  nucliadb_utils/nucliadb_utils/storages/s3.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix
  .github/workflows/nucliadb_writer.yml
  nucliadb/nucliadb/writer/tests/fixtures.py
  nucliadb_utils/nucliadb_utils/tests/conftest.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix
  nucliadb/nucliadb/writer/api/v1/upload.py
  nucliadb/nucliadb/writer/tus/local.py
  nucliadb/nucliadb/writer/tus/storage.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

comment e2e
  e2e/test_e2e.py
Due: none

better
  nucliadb/nucliadb/search/api/v1/chat.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix s3 storage start
  nucliadb_utils/nucliadb_utils/storages/s3.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

More storage fixes: protobuf default string is empty string, not none
  nucliadb_utils/nucliadb_utils/storages/gcs.py
  nucliadb_utils/nucliadb_utils/storages/s3.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Print all errors
  nucliadb_performance/nucliadb_performance/standalone/test_search.py
  nucliadb_performance/nucliadb_performance/utils/misc.py
Due: none

better
  nucliadb_performance/nucliadb_performance/utils/misc.py
Due: none

better
  nucliadb_performance/nucliadb_performance/standalone/test_search.py
Due: none

better
  nucliadb_performance/nucliadb_performance/standalone/test_search.py
  nucliadb_performance/nucliadb_performance/utils/errors.py
  nucliadb_performance/nucliadb_performance/utils/misc.py
Due: none

Simpler
  nucliadb_performance/Makefile
  nucliadb_performance/lock.py
  nucliadb_performance/nucliadb_performance/hosted/test_search_cluster.py
  nucliadb_performance/nucliadb_performance/hosted/test_search_kb.py
  nucliadb_performance/nucliadb_performance/standalone/test_search.py
  nucliadb_performance/nucliadb_performance/utils/metrics.py
  nucliadb_performance/nucliadb_performance/utils/misc.py
Due: none

tweaks
  nucliadb_performance/nucliadb_performance/settings.py
  nucliadb_performance/nucliadb_performance/standalone/test_search.py
  nucliadb_performance/nucliadb_performance/utils/metrics.py
Due: none

cluster auto discovery fixes (#1639)
  nucliadb/nucliadb/common/cluster/discovery/base.py
  nucliadb/nucliadb/common/cluster/discovery/k8s.py
  nucliadb/nucliadb/common/cluster/discovery/types.py
  nucliadb/nucliadb/common/cluster/exceptions.py
  nucliadb/nucliadb/tests/unit/common/cluster/discovery/test_k8s.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix test
  nucliadb_node/src/shards/metadata.rs
Due: rustfmt_nucliadb, clippy_nucliadb

print better
  nucliadb_performance/nucliadb_performance/utils/metrics.py
Due: none

Fix TUS uploads with s3 driver (#1637)
  .github/workflows/nucliadb_writer.yml
  e2e/test_e2e.py
  nucliadb/nucliadb/writer/api/v1/upload.py
  nucliadb/nucliadb/writer/tests/fixtures.py
  nucliadb/nucliadb/writer/tests/test_files.py
  nucliadb/nucliadb/writer/tus/gcs.py
  nucliadb/nucliadb/writer/tus/local.py
  nucliadb/nucliadb/writer/tus/pg.py
  nucliadb/nucliadb/writer/tus/s3.py
  nucliadb/nucliadb/writer/tus/storage.py
  nucliadb_utils/nucliadb_utils/storages/__init__.py
  nucliadb_utils/nucliadb_utils/storages/gcs.py
  nucliadb_utils/nucliadb_utils/storages/s3.py
  nucliadb_utils/nucliadb_utils/tests/conftest.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

better retries
  nucliadb/nucliadb/common/cluster/discovery/base.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Done
  nucliadb/nucliadb/search/api/v1/chat.py
  nucliadb/nucliadb/tests/integration/test_chat.py
  nucliadb_sdk/nucliadb_sdk/tests/test_chat.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

better retries (#1641)
  nucliadb/nucliadb/common/cluster/discovery/base.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

improve lookup handling for nodes that are new and not ready
  nucliadb/nucliadb/common/cluster/discovery/k8s.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

slug is not modifiable
  nucliadb_models/nucliadb_models/writer.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

improve lookup handling for nodes that are new and not ready (#1642)
  nucliadb/nucliadb/common/cluster/discovery/k8s.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Path conditions:
  isort_nucliadb: any of: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/) and \.py$
  black_nucliadb: any of: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/) and \.py$
  flake8_nucliadb: any of: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/) and \.py$
  rustfmt_nucliadb: any of: (^nucliadb_vectors/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_paragraphs/)|(^nucliadb_texts/) and \.rs$
  clippy_nucliadb: any of: (^nucliadb_vectors/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_paragraphs/)|(^nucliadb_texts/) and \.rs$
