Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nidx, clippy_nidx

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint_nucliadb
        name: Lint nucliadb
        entry: make -C nucliadb lint
        language: system
        files: (^nucliadb/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_dataset
        name: Lint nucliadb_dataset
        entry: make -C nucliadb_dataset lint
        language: system
        files: (^nucliadb_dataset/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_models
        name: Lint nucliadb_models
        entry: make -C nucliadb_models lint
        language: system
        files: (^nucliadb_models/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_sdk
        name: Lint nucliadb_sdk
        entry: make -C nucliadb_sdk lint
        language: system
        files: (^nucliadb_sdk/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_telemetry
        name: Lint nucliadb_telemetry
        entry: make -C nucliadb_telemetry lint
        language: system
        files: (^nucliadb_telemetry/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_utils
        name: Lint nucliadb_utils
        entry: make -C nucliadb_utils lint
        language: system
        files: (^nucliadb_utils/)
        types: ["python"]
        pass_filenames: false

      - id: rustfmt_nidx
        name: Rust format check for nidx
        entry: cargo fmt --check --all --manifest-path nidx/Cargo.toml
        language: system
        files: (^nidx/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nidx
        name: Clippy warning check for nidx
        entry: cargo clippy --all-features --manifest-path nidx/Cargo.toml -- -D warnings
        language: system
        files: (^nidx/)
        types: ["rust"]
        pass_filenames: false

Update ruff and mypy
  mypy.ini
  ruff.toml
Due: none

New lints
  nucliadb/src/nucliadb/common/cluster/utils.py
  nucliadb/src/nucliadb/ingest/processing.py
  nucliadb/tests/train/test_field_streaming.py
  nucliadb_utils/src/nucliadb_utils/storages/gcs.py
Due: lint_nucliadb, lint_nucliadb_utils

Change imports from typing_extensions that made it to 3.11
  nucliadb/src/nucliadb/common/cache.py
  nucliadb/src/nucliadb/common/catalog/pg.py
  nucliadb/src/nucliadb/common/datamanagers/atomic.py
  nucliadb/src/nucliadb/common/datamanagers/resources.py
  nucliadb/src/nucliadb/common/filter_expression.py
  nucliadb/src/nucliadb/ingest/fields/key_value.py
  nucliadb/src/nucliadb/ingest/serialize.py
  nucliadb/src/nucliadb/learning_proxy.py
  nucliadb/src/nucliadb/models/internal/augment.py
  nucliadb/src/nucliadb/search/augmentor/augmentor.py
  nucliadb/src/nucliadb/search/augmentor/fields.py
  nucliadb/src/nucliadb/search/augmentor/paragraphs.py
  nucliadb/src/nucliadb/search/augmentor/resources.py
  nucliadb/src/nucliadb/search/predict_models.py
  nucliadb/src/nucliadb/search/requesters/utils.py
  nucliadb/src/nucliadb/search/search/hydrator/fields.py
  nucliadb/src/nucliadb/search/search/hydrator/images.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/catalog.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/graph.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/retrieve.py
  nucliadb/src/nucliadb/search/search/rerankers.py
  nucliadb/tests/nucliadb/integration/test_key_value_fields.py
  nucliadb/tests/nucliadb/integration/test_suggest.py
  nucliadb/tests/nucliadb/unit/test_internal_models_augment.py
  nucliadb_models/src/nucliadb_models/augment.py
  nucliadb_models/src/nucliadb_models/common.py
  nucliadb_models/src/nucliadb_models/filters.py
  nucliadb_models/src/nucliadb_models/graph/requests.py
  nucliadb_models/src/nucliadb_models/key_value.py
  nucliadb_models/src/nucliadb_models/kv_schemas.py
  nucliadb_models/src/nucliadb_models/labels.py
  nucliadb_models/src/nucliadb_models/metadata.py
  nucliadb_models/src/nucliadb_models/retrieval.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_models/src/nucliadb_models/text.py
  nucliadb_telemetry/src/nucliadb_telemetry/metrics.py
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_telemetry

Remove unused installs in CI
  .github/workflows/nidx_binding_release.yml
Due: none

more cleanup
  nucliadb/src/migrations/0032_remove_old_relations.py
  nucliadb/src/nucliadb/common/datamanagers/atomic.py
  nucliadb/src/nucliadb/common/locking.py
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/src/nucliadb/ingest/orm/processor/sequence_manager.py
  nucliadb/src/nucliadb/purge/__init__.py
  nucliadb/src/nucliadb/reader/api/v1/export_import.py
  nucliadb/tests/ingest/unit/orm/test_processor.py
  nucliadb/tests/nucliadb/migrations/__init__.py
  nucliadb/tests/nucliadb/migrations/test_migration_0018.py
  nucliadb/tests/nucliadb/migrations/test_migration_0021.py
  nucliadb/tests/nucliadb/migrations/test_migration_0028.py
  nucliadb/tests/nucliadb/migrations/test_migration_0030.py
  nucliadb/tests/nucliadb/migrations/test_migration_0039.py
  nucliadb/tests/nucliadb/migrations/test_migration_0040.py
  nucliadb/tests/nucliadb/migrations/test_migration_0044.py
  nucliadb/tests/nucliadb/migrations/test_migration_0045.py
  nucliadb/tests/nucliadb/migrations/test_migration_0046.py
  nucliadb/tests/nucliadb/migrations/test_migration_0047.py
  nucliadb/tests/nucliadb/migrations/test_migration_0048.py
  nucliadb/tests/nucliadb/migrations/test_migration_0049.py
  nucliadb/tests/nucliadb/migrations/test_migration_0051.py
  nucliadb/tests/nucliadb/migrations/test_migration_0052.py
  nucliadb/tests/search/unit/search/test_query_parsing.py
  nucliadb/tests/search/unit/test_rank_fusion.py
  nucliadb/tests/writer/test_files.py
  nucliadb/tests/writer/test_resources.py
Due: lint_nucliadb

Remove unused from __future__ import annotations
  nucliadb/src/nucliadb/ingest/fields/base.py
  nucliadb/src/nucliadb/ingest/fields/key_value.py
  nucliadb/src/nucliadb/metrics_exporter.py
  nucliadb/src/nucliadb/train/resource.py
  nucliadb/src/nucliadb/writer/tus/storage.py
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
  nucliadb_utils/src/nucliadb_utils/utilities.py
Due: lint_nucliadb, lint_nucliadb_sdk, lint_nucliadb_utils

propagate x-kb-visibility-headers-to-learning
  nucliadb/src/nucliadb/ingest/processing.py
  nucliadb/src/nucliadb/learning_proxy.py
  nucliadb/src/nucliadb/middleware/__init__.py
  nucliadb/src/nucliadb/reader/app.py
  nucliadb/src/nucliadb/search/app.py
  nucliadb/src/nucliadb/search/predict.py
  nucliadb/src/nucliadb/standalone/app.py
  nucliadb/src/nucliadb/writer/app.py
  nucliadb/tests/ingest/unit/test_processing.py
  nucliadb/tests/nucliadb/unit/middleware/test_middleware.py
  nucliadb/tests/nucliadb/unit/test_learning_proxy.py
  nucliadb/tests/search/unit/test_predict.py
Due: lint_nucliadb

fix lint
  nucliadb/tests/nucliadb/unit/test_learning_proxy.py
Due: lint_nucliadb

improve docstring
  nucliadb/src/nucliadb/middleware/__init__.py
Due: lint_nucliadb

propagate x-kb-visibility header to learning (#3950)
  nucliadb/src/nucliadb/ingest/processing.py
  nucliadb/src/nucliadb/learning_proxy.py
  nucliadb/src/nucliadb/middleware/__init__.py
  nucliadb/src/nucliadb/reader/app.py
  nucliadb/src/nucliadb/search/app.py
  nucliadb/src/nucliadb/search/predict.py
  nucliadb/src/nucliadb/standalone/app.py
  nucliadb/src/nucliadb/writer/app.py
  nucliadb/tests/ingest/unit/test_processing.py
  nucliadb/tests/nucliadb/unit/middleware/test_middleware.py
  nucliadb/tests/nucliadb/unit/test_learning_proxy.py
  nucliadb/tests/search/unit/test_predict.py
Due: lint_nucliadb

wip
  nucliadb/src/nucliadb/common/maindb/collections.py
  nucliadb/tests/conftest.py
  nucliadb/tests/nucliadb/integration/common/datamanagers/test_fields_v2.py
  nucliadb/tests/search/conftest.py
Due: lint_nucliadb

wip
  nucliadb/src/nucliadb/common/datamanagers/conversations.py
  nucliadb/src/nucliadb/common/datamanagers/fields.py
  nucliadb/src/nucliadb/common/datamanagers/kb.py
  nucliadb/src/nucliadb/common/datamanagers/marklogic_documents.py
  nucliadb/src/nucliadb/common/datamanagers/resources.py
  nucliadb/src/nucliadb/common/marklogic/client.py
  nucliadb/src/nucliadb/common/marklogic/document_deletion.py
  nucliadb/src/nucliadb/common/marklogic/document_update.py
  nucliadb/src/nucliadb/ingest/fields/base.py
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/tests/nucliadb/integration/common/datamanagers/test_fields_v2.py
  nucliadb/tests/train/test_list_paragraphs.py
Due: lint_nucliadb
