Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nidx, clippy_nidx

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint_nucliadb
        name: Lint nucliadb
        entry: make -C nucliadb lint
        language: system
        files: (^nucliadb/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_dataset
        name: Lint nucliadb_dataset
        entry: make -C nucliadb_dataset lint
        language: system
        files: (^nucliadb_dataset/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_models
        name: Lint nucliadb_models
        entry: make -C nucliadb_models lint
        language: system
        files: (^nucliadb_models/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_sdk
        name: Lint nucliadb_sdk
        entry: make -C nucliadb_sdk lint
        language: system
        files: (^nucliadb_sdk/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_telemetry
        name: Lint nucliadb_telemetry
        entry: make -C nucliadb_telemetry lint
        language: system
        files: (^nucliadb_telemetry/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_utils
        name: Lint nucliadb_utils
        entry: make -C nucliadb_utils lint
        language: system
        files: (^nucliadb_utils/)
        types: ["python"]
        pass_filenames: false

      - id: rustfmt_nidx
        name: Rust format check for nidx
        entry: cargo fmt --check --all --manifest-path nidx/Cargo.toml
        language: system
        files: (^nidx/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nidx
        name: Clippy warning check for nidx
        entry: cargo clippy --all-features --manifest-path nidx/Cargo.toml -- -D warnings
        language: system
        files: (^nidx/)
        types: ["rust"]
        pass_filenames: false

testing
  nucliadb/src/nucliadb/search/predict.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/tests/nucliadb/integration/test_ask.py
  nucliadb/tests/nucliadb/integration/test_find.py
  uv.lock
Due: lint_nucliadb

Sort imports
  nucliadb/tests/nucliadb/integration/test_ask.py
  nucliadb/tests/nucliadb/integration/test_find.py
Due: lint_nucliadb

Extend test
  nucliadb/tests/nucliadb/integration/test_ask.py
Due: lint_nucliadb

format
  nucliadb/tests/nucliadb/integration/test_ask.py
Due: lint_nucliadb

fix
  nucliadb/tests/nucliadb/integration/test_ask.py
Due: lint_nucliadb

fix
  nucliadb/tests/nucliadb/integration/test_find.py
Due: lint_nucliadb

Address comments
  nucliadb/src/nucliadb/search/predict.py
  nucliadb/src/nucliadb/search/predict_models.py
  nucliadb/src/nucliadb/search/search/query_parser/fetcher.py
  nucliadb/tests/nucliadb/integration/test_ask.py
  nucliadb/tests/nucliadb/integration/test_find.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

fix test
  nucliadb/tests/nucliadb/integration/test_find.py
Due: lint_nucliadb

Ask / Find with query image (#3227)
  nucliadb/src/nucliadb/search/predict.py
  nucliadb/src/nucliadb/search/predict_models.py
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/src/nucliadb/search/search/query_parser/fetcher.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/ask.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/find.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/search.py
  nucliadb/tests/nucliadb/integration/test_ask.py
  nucliadb/tests/nucliadb/integration/test_find.py
  nucliadb/tests/search/unit/search/test_chat_prompt.py
  nucliadb/tests/search/unit/search/test_query.py
  nucliadb_models/src/nucliadb_models/search.py
  uv.lock
Due: lint_nucliadb, lint_nucliadb_models

Use rephrased image query for keyword search
  nucliadb/src/nucliadb/search/predict.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/common.py
  nucliadb/tests/ndbfixtures/common.py
  nucliadb/tests/search/unit/search/test_query_parsing.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

Fix
  nucliadb/tests/search/unit/search/test_query_parsing.py
  nucliadb/tests/search/unit/test_rank_fusion.py
Due: lint_nucliadb

Fix
  nucliadb/tests/search/unit/search/test_query_parsing.py
Due: lint_nucliadb

undo changes
  nucliadb/src/nucliadb/search/predict.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/common.py
  nucliadb/tests/ndbfixtures/common.py
  nucliadb/tests/nucliadb/integration/test_vectorsets.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

try now
  nucliadb/tests/nucliadb/integration/test_vectorsets.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

new try
  nucliadb/src/nucliadb/search/predict.py
  nucliadb/tests/ndbfixtures/common.py
  nucliadb/tests/search/unit/search/test_query_parsing.py
Due: lint_nucliadb

Will it work?
  nucliadb/src/nucliadb/search/search/query_parser/parsers/common.py
Due: lint_nucliadb

Fixes
  nucliadb/tests/search/unit/search/test_query_parsing.py
  nucliadb/tests/search/unit/test_rank_fusion.py
Due: lint_nucliadb

fix test
  nucliadb/tests/nucliadb/integration/test_ask.py
Due: lint_nucliadb

Use rephrased image query for keyword search (#3242)
  nucliadb/src/nucliadb/search/predict.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/common.py
  nucliadb/tests/nucliadb/integration/test_ask.py
  nucliadb/tests/search/unit/search/test_query_parsing.py
  nucliadb/tests/search/unit/test_rank_fusion.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

Add comments and refactor for a better code readibility
  nucliadb/src/nucliadb/ingest/fields/base.py
  nucliadb/src/nucliadb/ingest/fields/conversation.py
  nucliadb/src/nucliadb/reader/api/v1/download.py
  nucliadb/src/nucliadb/writer/resource/field.py
  nucliadb_utils/src/nucliadb_utils/storages/storage.py
Due: lint_nucliadb, lint_nucliadb_utils

Add more comments
  nucliadb/src/nucliadb/ingest/fields/conversation.py
Due: lint_nucliadb

Better variables
  nucliadb/src/nucliadb/ingest/fields/conversation.py
Due: lint_nucliadb

Stop using deprecated utcnow
  nucliadb/src/nucliadb/export_import/datamanager.py
  nucliadb/src/nucliadb/openapi.py
  nucliadb/tests/ingest/fixtures.py
  nucliadb/tests/ndbfixtures/train.py
  nucliadb/tests/writer/test_fields.py
  nucliadb/tests/writer/test_resources.py
  nucliadb_telemetry/src/nucliadb_telemetry/logs.py
Due: lint_nucliadb, lint_nucliadb_telemetry

move back
  nucliadb/src/nucliadb/ingest/fields/conversation.py
Due: lint_nucliadb

fix test after rename
  nucliadb/tests/writer/unit/resources/test_field.py
Due: lint_nucliadb

Add comments on conversation field implementation (#3243)
  nucliadb/src/nucliadb/ingest/fields/base.py
  nucliadb/src/nucliadb/ingest/fields/conversation.py
  nucliadb/src/nucliadb/reader/api/v1/download.py
  nucliadb/src/nucliadb/writer/resource/field.py
  nucliadb/tests/writer/unit/resources/test_field.py
  nucliadb_utils/src/nucliadb_utils/storages/storage.py
Due: lint_nucliadb, lint_nucliadb_utils

Stop using deprecated utcnow (#3244)
  nucliadb/src/nucliadb/export_import/datamanager.py
  nucliadb/src/nucliadb/openapi.py
  nucliadb/tests/ingest/fixtures.py
  nucliadb/tests/ndbfixtures/train.py
  nucliadb/tests/writer/test_fields.py
  nucliadb/tests/writer/test_resources.py
  nucliadb_telemetry/src/nucliadb_telemetry/logs.py
Due: lint_nucliadb, lint_nucliadb_telemetry

wip
  nucliadb/src/nucliadb/ingest/fields/base.py
Due: lint_nucliadb

Raise if idents are duplicate in the request
  nucliadb/src/nucliadb/writer/api/v1/field.py
  nucliadb_models/src/nucliadb_models/conversation.py
Due: lint_nucliadb, lint_nucliadb_models

fix
  nucliadb/src/nucliadb/writer/api/v1/field.py
Due: lint_nucliadb

Add test
  nucliadb/tests/nucliadb/integration/test_conversation.py
Due: lint_nucliadb

Make sure message idents are not duplicate in a conversation field (#3246)
  nucliadb/src/nucliadb/writer/api/v1/field.py
  nucliadb/tests/nucliadb/integration/test_conversation.py
  nucliadb_models/src/nucliadb_models/conversation.py
Due: lint_nucliadb, lint_nucliadb_models
