Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

lint_nucliadb:
  name: Lint nucliadb
  entry: make -C nucliadb lint
  language: system

lint_nucliadb_dataset:
  name: Lint nucliadb_dataset
  entry: make -C nucliadb_dataset lint
  language: system

lint_nucliadb_models:
  name: Lint nucliadb_models
  entry: make -C nucliadb_models lint
  language: system

lint_nucliadb_node:
  name: Lint nucliadb_node
  entry: make -C nucliadb_node lint
  language: system

lint_nucliadb_node_binding:
  name: Lint nucliadb_node_binding
  entry: make -C nucliadb_node_binding lint
  language: system

lint_nucliadb_performance:
  name: Lint nucliadb_performance
  entry: make -C nucliadb_performance lint
  language: system

lint_nucliadb_sdk:
  name: Lint nucliadb_sdk
  entry: make -C nucliadb_sdk lint
  language: system

lint_nucliadb_telemetry:
  name: Lint nucliadb_telemetry
  entry: make -C nucliadb_telemetry lint
  language: system

lint_nucliadb_utils:
  name: Lint nucliadb_utils
  entry: make -C nucliadb_utils lint
  language: system

rustfmt_nucliadb:
  name: fmt
  entry: cargo +nightly fmt --check
  language: system
  pass_filenames: false

clippy_nucliadb:
  name: clippy
  entry: cargo clippy --all-features -- -D warnings
  language: system
  pass_filenames: false

Lints
  nucliadb_sidecar/src/nucliadb_sidecar/app.py
Due: none

Fix usage of deprecated pkg_resources
  nucliadb/src/nucliadb/ingest/app.py
  nucliadb/src/nucliadb/purge/__init__.py
  nucliadb/src/nucliadb/purge/orphan_shards.py
  nucliadb/src/nucliadb/reader/app.py
  nucliadb/src/nucliadb/search/app.py
  nucliadb/src/nucliadb/standalone/versions.py
  nucliadb/src/nucliadb/train/app.py
  nucliadb/src/nucliadb/train/upload.py
  nucliadb/src/nucliadb/writer/app.py
  nucliadb_sidecar/src/nucliadb_sidecar/app.py
Due: lint_nucliadb

Fix delete custom synonyms API
  nucliadb/src/nucliadb/writer/api/v1/services.py
Due: lint_nucliadb

Remove comment
  nucliadb/tests/search/unit/search/test_fetch.py
Due: lint_nucliadb

Fix usage of deprecated pydantic v1 methods
  nucliadb/src/nucliadb/common/http_clients/processing.py
  nucliadb/src/nucliadb/learning_proxy.py
  nucliadb/src/nucliadb/search/predict.py
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/src/nucliadb/train/uploader.py
  nucliadb/src/nucliadb/writer/resource/basic.py
  nucliadb/tests/fixtures.py
  nucliadb/tests/nucliadb/integration/search/test_filters.py
  nucliadb/tests/nucliadb/integration/test_api.py
  nucliadb/tests/nucliadb/integration/test_conversation.py
  nucliadb/tests/nucliadb/integration/test_summarize.py
  nucliadb/tests/nucliadb/unit/tasks/test_producer.py
  nucliadb/tests/nucliadb/unit/test_learning_proxy.py
  nucliadb/tests/reader/integration/api/v1/test_services.py
  nucliadb/tests/writer/test_service.py
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
  nucliadb_telemetry/src/nucliadb_telemetry/logs.py
Due: lint_nucliadb, lint_nucliadb_sdk, lint_nucliadb_telemetry

Fix nucliadb_telemetry workflow
  .github/workflows/nucliadb_telemetry.yml
Due: none

make proto
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2_grpc.pyi
  nucliadb_protos/resources.proto
  nucliadb_protos/rust/src/resources.rs
Due: none

wip
  nucliadb/src/migrations/0022_fill_model.py
Due: lint_nucliadb

Check that dimension > 0 at shard creation
  nucliadb/src/migrations/0022_fill_model.py
  nucliadb_vectors/src/config.rs
Due: lint_nucliadb, rustfmt_nucliadb, clippy_nucliadb

Fix warnings and bugs (#2227)
  .github/workflows/nucliadb_telemetry.yml
  nucliadb/src/nucliadb/common/http_clients/processing.py
  nucliadb/src/nucliadb/ingest/app.py
  nucliadb/src/nucliadb/learning_proxy.py
  nucliadb/src/nucliadb/purge/__init__.py
  nucliadb/src/nucliadb/purge/orphan_shards.py
  nucliadb/src/nucliadb/reader/app.py
  nucliadb/src/nucliadb/search/app.py
  nucliadb/src/nucliadb/search/predict.py
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/src/nucliadb/standalone/versions.py
  nucliadb/src/nucliadb/train/app.py
  nucliadb/src/nucliadb/train/upload.py
  nucliadb/src/nucliadb/train/uploader.py
  nucliadb/src/nucliadb/writer/api/v1/services.py
  nucliadb/src/nucliadb/writer/app.py
  nucliadb/src/nucliadb/writer/resource/basic.py
  nucliadb/tests/fixtures.py
  nucliadb/tests/nucliadb/integration/search/test_filters.py
  nucliadb/tests/nucliadb/integration/test_api.py
  nucliadb/tests/nucliadb/integration/test_conversation.py
  nucliadb/tests/nucliadb/integration/test_summarize.py
  nucliadb/tests/nucliadb/unit/tasks/test_producer.py
  nucliadb/tests/nucliadb/unit/test_learning_proxy.py
  nucliadb/tests/reader/integration/api/v1/test_services.py
  nucliadb/tests/search/unit/search/test_fetch.py
  nucliadb/tests/writer/test_service.py
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
  nucliadb_sidecar/src/nucliadb_sidecar/app.py
  nucliadb_telemetry/src/nucliadb_telemetry/logs.py
Due: lint_nucliadb, lint_nucliadb_sdk, lint_nucliadb_telemetry

Better rag strategies validation
  nucliadb/tests/nucliadb/integration/test_ask.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

Add `ruff check --fix` in format target where missing
  nucliadb_dataset/Makefile
  nucliadb_models/Makefile
  nucliadb_node/Makefile
  nucliadb_performance/Makefile
  nucliadb_sdk/Makefile
  nucliadb_sidecar/Makefile
  nucliadb_telemetry/Makefile
  nucliadb_utils/Makefile
Due: none

Properly type metrics observer decorator factory
  nucliadb_telemetry/src/nucliadb_telemetry/metrics.py
Due: lint_nucliadb_telemetry

Fix more mypy issues
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/predict.py
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

Better rag strategies validation (#2231)
  nucliadb/tests/nucliadb/integration/test_ask.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

Fix Relation model validator
  nucliadb_models/src/nucliadb_models/metadata.py
Due: lint_nucliadb_models

Add test for Relation model validator
  nucliadb/tests/nucliadb/unit/test_models_validators.py
Due: lint_nucliadb

Fix Relation model validator (#2234)
  nucliadb/tests/nucliadb/unit/test_models_validators.py
  nucliadb_models/src/nucliadb_models/metadata.py
Due: lint_nucliadb, lint_nucliadb_models

Wip
  nucliadb/src/nucliadb/writer/api/v1/upload.py
  nucliadb/src/nucliadb/writer/tus/__init__.py
  nucliadb/src/nucliadb/writer/tus/azure.py
  nucliadb/src/nucliadb/writer/tus/gcs.py
  nucliadb/src/nucliadb/writer/tus/storage.py
  nucliadb/tests/fixtures.py
  nucliadb/tests/standalone/integration/test_upload_download.py
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/resources.proto
  nucliadb_protos/rust/src/resources.rs
  nucliadb_utils/src/nucliadb_utils/settings.py
  nucliadb_utils/src/nucliadb_utils/storages/azure.py
  nucliadb_utils/src/nucliadb_utils/storages/object_store.py
  nucliadb_utils/src/nucliadb_utils/storages/storage.py
  nucliadb_utils/src/nucliadb_utils/tests/azure.py
  nucliadb_utils/src/nucliadb_utils/utilities.py
  nucliadb_utils/tests/integration/storages/test_object_store.py
Due: lint_nucliadb, lint_nucliadb_utils

fix
  nucliadb/src/nucliadb/writer/tus/azure.py
Due: lint_nucliadb

fix
  nucliadb/src/nucliadb/writer/api/v1/upload.py
  nucliadb/src/nucliadb/writer/tus/azure.py
  nucliadb/tests/standalone/integration/test_upload_download.py
Due: lint_nucliadb

Update lock
  pdm.lock
Due: none

Implement rust side too
  nucliadb_node/Cargo.toml
  nucliadb_node/src/settings.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Tweak buckets for generative first chunk metric
  nucliadb/src/nucliadb/search/search/metrics.py
Due: lint_nucliadb

Remove leftovers from lint nucliadb in a single command
  nucliadb/Makefile
Due: none

Add dep
  pdm.lock
Due: none

add dep
  nucliadb/requirements.txt
Due: none

wip
  nucliadb/src/nucliadb/writer/api/v1/upload.py
  nucliadb_utils/src/nucliadb_utils/storages/gcs.py
  nucliadb_utils/src/nucliadb_utils/storages/object_store.py
Due: lint_nucliadb, lint_nucliadb_utils

Use ruff as formater in all makefiles
  nucliadb/Makefile
  nucliadb_dataset/Makefile
  nucliadb_models/Makefile
  nucliadb_node/Makefile
  nucliadb_node_binding/Makefile
  nucliadb_performance/Makefile
  nucliadb_sdk/Makefile
  nucliadb_sidecar/Makefile
  nucliadb_telemetry/Makefile
  nucliadb_utils/Makefile
Due: none

Update ruff and remove black and isort from deps
  pdm.lock
  pyproject.toml
Due: none

Configure ruff to replace isort
  ruff.toml
Due: none

ruff nucliadb_utils
  nucliadb_utils/setup.py
  nucliadb_utils/src/nucliadb_utils/asyncio_utils.py
  nucliadb_utils/src/nucliadb_utils/audit/audit.py
  nucliadb_utils/src/nucliadb_utils/audit/basic.py
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
  nucliadb_utils/src/nucliadb_utils/authentication.py
  nucliadb_utils/src/nucliadb_utils/cache/nats.py
  nucliadb_utils/src/nucliadb_utils/debug.py
  nucliadb_utils/src/nucliadb_utils/fastapi/versioning.py
  nucliadb_utils/src/nucliadb_utils/featureflagging.py
  nucliadb_utils/src/nucliadb_utils/grpc.py
  nucliadb_utils/src/nucliadb_utils/helpers.py
  nucliadb_utils/src/nucliadb_utils/indexing.py
  nucliadb_utils/src/nucliadb_utils/nats.py
  nucliadb_utils/src/nucliadb_utils/run.py
  nucliadb_utils/src/nucliadb_utils/settings.py
  nucliadb_utils/src/nucliadb_utils/signals.py
  nucliadb_utils/src/nucliadb_utils/storages/exceptions.py
  nucliadb_utils/src/nucliadb_utils/storages/gcs.py
  nucliadb_utils/src/nucliadb_utils/storages/local.py
  nucliadb_utils/src/nucliadb_utils/storages/nuclia.py
  nucliadb_utils/src/nucliadb_utils/storages/s3.py
  nucliadb_utils/src/nucliadb_utils/storages/storage.py
  nucliadb_utils/src/nucliadb_utils/tests/asyncbenchmark.py
  nucliadb_utils/src/nucliadb_utils/tests/gcs.py
  nucliadb_utils/src/nucliadb_utils/tests/nats.py
  nucliadb_utils/src/nucliadb_utils/transaction.py
  nucliadb_utils/src/nucliadb_utils/utilities.py
  nucliadb_utils/tests/integration/storages/test_field_storage.py
  nucliadb_utils/tests/unit/audit/test_stream.py
  nucliadb_utils/tests/unit/fastapi/test_run.py
  nucliadb_utils/tests/unit/nuclia_usage/test_kb_usage_report.py
  nucliadb_utils/tests/unit/storages/test_gcs.py
  nucliadb_utils/tests/unit/storages/test_storage.py
  nucliadb_utils/tests/unit/test_authentication.py
  nucliadb_utils/tests/unit/test_nats.py
  nucliadb_utils/tests/unit/test_tests.py
  nucliadb_utils/tests/unit/test_transaction.py
  nucliadb_utils/tests/unit/test_utilities.py
Due: lint_nucliadb_utils

ruff nucliadb_telemetry
  nucliadb_telemetry/setup.py
  nucliadb_telemetry/src/nucliadb_telemetry/batch_span.py
  nucliadb_telemetry/src/nucliadb_telemetry/context.py
  nucliadb_telemetry/src/nucliadb_telemetry/errors.py
  nucliadb_telemetry/src/nucliadb_telemetry/fastapi/__init__.py
  nucliadb_telemetry/src/nucliadb_telemetry/fastapi/context.py
  nucliadb_telemetry/src/nucliadb_telemetry/fastapi/metrics.py
  nucliadb_telemetry/src/nucliadb_telemetry/fastapi/tracing.py
  nucliadb_telemetry/src/nucliadb_telemetry/fastapi/utils.py
  nucliadb_telemetry/src/nucliadb_telemetry/grpc.py
  nucliadb_telemetry/src/nucliadb_telemetry/grpc_metrics.py
  nucliadb_telemetry/src/nucliadb_telemetry/grpc_sentry.py
  nucliadb_telemetry/src/nucliadb_telemetry/jetstream.py
  nucliadb_telemetry/src/nucliadb_telemetry/logs.py
  nucliadb_telemetry/src/nucliadb_telemetry/metrics.py
  nucliadb_telemetry/src/nucliadb_telemetry/tests/telemetry.py
  nucliadb_telemetry/src/nucliadb_telemetry/tikv.py
  nucliadb_telemetry/src/nucliadb_telemetry/tracerprovider.py
  nucliadb_telemetry/tests/integration/test_fastapi.py
  nucliadb_telemetry/tests/integration/test_telemetry.py
  nucliadb_telemetry/tests/test_sentry_interceptor.py
  nucliadb_telemetry/tests/unit/fastapi/test_tracing.py
  nucliadb_telemetry/tests/unit/test_errors.py
  nucliadb_telemetry/tests/unit/test_logs.py
  nucliadb_telemetry/tests/unit/test_metrics.py
  nucliadb_telemetry/tests/unit/test_tikv_instrumentation.py
Due: lint_nucliadb_telemetry

ruff nucliadb_sdk
  nucliadb_sdk/setup.py
  nucliadb_sdk/src/nucliadb_sdk/tests/fixtures.py
  nucliadb_sdk/src/nucliadb_sdk/v2/docstrings.py
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
  nucliadb_sdk/tests/test_ask.py
  nucliadb_sdk/tests/test_chat.py
  nucliadb_sdk/tests/test_crud.py
  nucliadb_sdk/tests/test_export_import.py
  nucliadb_sdk/tests/test_sdk_async.py
  nucliadb_sdk/tests/test_search.py
  nucliadb_sdk/tests/test_security.py
Due: lint_nucliadb_sdk

ruff nucliadb_dataset
  nucliadb_dataset/setup.py
  nucliadb_dataset/src/nucliadb_dataset/api.py
  nucliadb_dataset/src/nucliadb_dataset/dataset.py
  nucliadb_dataset/src/nucliadb_dataset/export.py
  nucliadb_dataset/src/nucliadb_dataset/mapping.py
  nucliadb_dataset/src/nucliadb_dataset/nuclia.py
  nucliadb_dataset/src/nucliadb_dataset/run.py
  nucliadb_dataset/src/nucliadb_dataset/settings.py
  nucliadb_dataset/src/nucliadb_dataset/streamer.py
  nucliadb_dataset/src/nucliadb_dataset/tasks.py
  nucliadb_dataset/src/nucliadb_dataset/tests/fixtures.py
  nucliadb_dataset/tests/integration/test_exporters.py
  nucliadb_dataset/tests/integration/test_field_classifier.py
  nucliadb_dataset/tests/integration/test_paragraph_classifier.py
  nucliadb_dataset/tests/integration/test_paragraph_streaming.py
  nucliadb_dataset/tests/integration/test_question_answer_streaming.py
  nucliadb_dataset/tests/integration/test_token_classifier.py
  nucliadb_dataset/tests/integration/utils.py
Due: lint_nucliadb_dataset

ruff nucliadb_models
  nucliadb_models/setup.py
  nucliadb_models/src/nucliadb_models/common.py
  nucliadb_models/src/nucliadb_models/entities.py
  nucliadb_models/src/nucliadb_models/metadata.py
  nucliadb_models/src/nucliadb_models/notifications.py
  nucliadb_models/src/nucliadb_models/resource.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_models/src/nucliadb_models/synonyms.py
  nucliadb_models/src/nucliadb_models/vectors.py
  nucliadb_models/src/nucliadb_models/writer.py
Due: lint_nucliadb_models

ruff nucliadb_sidecar
  nucliadb_sidecar/setup.py
  nucliadb_sidecar/src/nucliadb_sidecar/app.py
  nucliadb_sidecar/src/nucliadb_sidecar/indexer.py
  nucliadb_sidecar/src/nucliadb_sidecar/listeners/indexed_publisher.py
  nucliadb_sidecar/src/nucliadb_sidecar/signals.py
  nucliadb_sidecar/src/nucliadb_sidecar/writer.py
  nucliadb_sidecar/tests/fixtures.py
  nucliadb_sidecar/tests/integration/test_indexing.py
  nucliadb_sidecar/tests/unit/test_app.py
  nucliadb_sidecar/tests/unit/test_indexed_publisher.py
  nucliadb_sidecar/tests/unit/test_indexer.py
  nucliadb_sidecar/tests/unit/test_pull.py
Due: none

Path conditions:
  lint_nucliadb: any of: (^nucliadb/) and \.py$
  lint_nucliadb_dataset: any of: (^nucliadb_dataset/) and \.py$
  lint_nucliadb_models: any of: (^nucliadb_models/) and \.py$
  lint_nucliadb_node: any of: (^nucliadb_node/) and \.py$
  lint_nucliadb_node_binding: any of: (^nucliadb_node_binding/) and \.py$
  lint_nucliadb_performance: any of: (^nucliadb_performance/) and \.py$
  lint_nucliadb_sdk: any of: (^nucliadb_sdk/) and \.py$
  lint_nucliadb_telemetry: any of: (^nucliadb_telemetry/) and \.py$
  lint_nucliadb_utils: any of: (^nucliadb_utils/) and \.py$
  rustfmt_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
  clippy_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
