Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

lint_nucliadb:
  name: Lint nucliadb
  entry: make -C nucliadb lint
  language: system
  pass_filenames: false

lint_nucliadb_dataset:
  name: Lint nucliadb_dataset
  entry: make -C nucliadb_dataset lint
  language: system
  pass_filenames: false

lint_nucliadb_models:
  name: Lint nucliadb_models
  entry: make -C nucliadb_models lint
  language: system
  pass_filenames: false

lint_nucliadb_node:
  name: Lint nucliadb_node
  entry: make -C nucliadb_node lint
  language: system
  pass_filenames: false

lint_nucliadb_node_binding:
  name: Lint nucliadb_node_binding
  entry: make -C nucliadb_node_binding lint
  language: system
  pass_filenames: false

lint_nucliadb_performance:
  name: Lint nucliadb_performance
  entry: make -C nucliadb_performance lint
  language: system
  pass_filenames: false

lint_nucliadb_sdk:
  name: Lint nucliadb_sdk
  entry: make -C nucliadb_sdk lint
  language: system
  pass_filenames: false

lint_nucliadb_telemetry:
  name: Lint nucliadb_telemetry
  entry: make -C nucliadb_telemetry lint
  language: system
  pass_filenames: false

lint_nucliadb_utils:
  name: Lint nucliadb_utils
  entry: make -C nucliadb_utils lint
  language: system
  pass_filenames: false

rustfmt_nucliadb:
  name: fmt
  entry: cargo fmt --check
  language: system
  pass_filenames: false

clippy_nucliadb:
  name: clippy
  entry: cargo clippy --all-features -- -D warnings
  language: system
  pass_filenames: false

Add tests
  nucliadb/src/nucliadb/search/search/predict_proxy.py
Due: lint_nucliadb

Add tests
  nucliadb/src/nucliadb/search/search/predict_proxy.py
  nucliadb/tests/nucliadb/integration/test_predict_proxy.py
Due: lint_nucliadb

Update dockerfile pdm
  Dockerfile
  Dockerfile.withbinding
Due: none

Restore pdm.lock
  pdm.lock
Due: none

Knowledge graph query (#2885)
  nidx/nidx_relation/src/graph_query_parser.rs
  nidx/nidx_relation/src/lib.rs
  nidx/nidx_relation/src/reader.rs
  nidx/nidx_relation/tests/common/mod.rs
  nidx/nidx_relation/tests/test_graph_search.rs
  nidx/nidx_relation/tests/test_reader.rs
  nidx/nidx_relation/tests/test_writer.rs
Due: none

Update cryptography (#2904)
  pdm.lock
  pyproject.toml
Due: none

No need to send json
  nucliadb/src/nucliadb/learning_proxy.py
  nucliadb/src/nucliadb/writer/api/v1/learning_config.py
  nucliadb/tests/nucliadb/unit/test_learning_proxy.py
Due: lint_nucliadb

Move PDM dependencies to dev
  .github/workflows/ci.yml
  .github/workflows/public_release.yml
  Dockerfile
  Dockerfile.withbinding
  Makefile
  docs/README.md
  pdm.lock
  pyproject.toml
Due: none

pdm version
  Dockerfile
  Dockerfile.withbinding
Due: none

linting
  nucliadb/tests/search/unit/search/test_query.py
  nucliadb_models/src/nucliadb_models/filter.py
Due: lint_nucliadb, lint_nucliadb_models

Fix test
  nucliadb/src/nucliadb/learning_proxy.py
Due: lint_nucliadb

Remove legacy indexing utility (#2903)
  nucliadb/src/nucliadb/common/cluster/rebalance.py
  nucliadb/src/nucliadb/common/cluster/rollover.py
  nucliadb/src/nucliadb/common/cluster/utils.py
  nucliadb/src/nucliadb/common/context/__init__.py
  nucliadb/src/nucliadb/ingest/app.py
  nucliadb/tests/ingest/fixtures.py
  nucliadb/tests/ndbfixtures/search.py
  nucliadb/tests/nucliadb/integration/test_vectorsets.py
  nucliadb/tests/search/conftest.py
  nucliadb_utils/src/nucliadb_utils/const.py
  nucliadb_utils/src/nucliadb_utils/indexing.py
  nucliadb_utils/src/nucliadb_utils/tests/indexing.py
  nucliadb_utils/src/nucliadb_utils/utilities.py
  nucliadb_utils/tests/unit/test_tests.py
Due: lint_nucliadb, lint_nucliadb_utils

Run some filters with expressions
  nucliadb/tests/nucliadb/integration/search/test_filters.py
Due: lint_nucliadb

Move PDM dependencies to dev (#2906)
  .github/workflows/ci.yml
  .github/workflows/public_release.yml
  Dockerfile
  Dockerfile.withbinding
  Makefile
  docs/README.md
  pdm.lock
  pyproject.toml
Due: none

add proxy for extract strategies (#2897)
  charts/nucliadb_reader/templates/reader.vs.yaml
  charts/nucliadb_writer/templates/writer.vs.yaml
  nucliadb/src/nucliadb/learning_proxy.py
  nucliadb/src/nucliadb/reader/api/v1/learning_config.py
  nucliadb/src/nucliadb/writer/api/v1/learning_config.py
Due: lint_nucliadb

More tests
  nucliadb/tests/nucliadb/integration/search/test_filters_expression.py
  nucliadb_models/src/nucliadb_models/filter.py
Due: lint_nucliadb, lint_nucliadb_models

remove test
  nucliadb_sdk/tests/test_sdk.py
  nucliadb_sdk/tests/test_sdk_async.py
Due: lint_nucliadb_sdk

Return 404 on labelset not existing
  nucliadb/src/nucliadb/reader/api/v1/services.py
Due: lint_nucliadb

more tests
  nucliadb/tests/nucliadb/integration/search/test_filters_expression.py
  nucliadb/tests/nucliadb/integration/test_data_augmentation_field_generation.py
Due: lint_nucliadb

Update responses
  nucliadb/src/nucliadb/reader/api/v1/services.py
Due: lint_nucliadb

fix test
  nucliadb/tests/nucliadb/integration/test_labelsets.py
Due: lint_nucliadb

remove generic methods
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
  nucliadb_sdk/tests/test_sdk.py
  nucliadb_sdk/tests/test_sdk_async.py
Due: lint_nucliadb_sdk

Proxy more predict endpoints (#2905)
  nucliadb/src/nucliadb/search/search/predict_proxy.py
  nucliadb/tests/nucliadb/integration/test_predict_proxy.py
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
Due: lint_nucliadb, lint_nucliadb_sdk

Fix
  nucliadb_models/src/nucliadb_models/filter.py
Due: lint_nucliadb_models

Return 404 on labelset not existing (#2907)
  nucliadb/src/nucliadb/reader/api/v1/services.py
  nucliadb/tests/nucliadb/integration/test_labelsets.py
Due: lint_nucliadb

Nucliadb filter expressions api (#2902)
  nucliadb/src/nucliadb/common/ids.py
  nucliadb/src/nucliadb/search/api/v1/find.py
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/api/v1/suggest.py
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/src/nucliadb/search/search/query_parser/filter_expression.py
  nucliadb/tests/nucliadb/integration/search/test_filters.py
  nucliadb/tests/nucliadb/integration/search/test_filters_expression.py
  nucliadb/tests/nucliadb/integration/test_data_augmentation_field_generation.py
  nucliadb/tests/search/unit/search/test_query.py
  nucliadb_models/src/nucliadb_models/filter.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

fix extract strategy delete
  nucliadb/src/nucliadb/writer/api/v1/learning_config.py
Due: lint_nucliadb

fix extract strategy delete (#2908)
  nucliadb/src/nucliadb/writer/api/v1/learning_config.py
Due: lint_nucliadb

Add nuclia-models req to nucliadb_sdk
  nucliadb_sdk/pyproject.toml
Due: none

lock
  nucliadb_sdk/pyproject.toml
  pdm.lock
Due: none

Add nuclia-models req to nucliadb_sdk (#2909)
  nucliadb_sdk/pyproject.toml
  pdm.lock
Due: none

Add paragraph_filter to suggest and operator
  nidx/nidx_paragraph/src/lib.rs
  nidx/nidx_paragraph/src/reader.rs
  nidx/nidx_paragraph/src/request_types.rs
  nidx/nidx_paragraph/src/search_query.rs
  nidx/nidx_paragraph/tests/reader.rs
  nidx/nidx_vector/src/data_point/mod.rs
  nidx/nidx_vector/src/data_point_provider/reader.rs
  nidx/nidx_vector/src/formula/mod.rs
  nidx/nidx_vector/src/inverted_index.rs
  nidx/nidx_vector/src/request_types.rs
  nidx/nidx_vector/tests/test_basic_search.rs
  nidx/src/searcher/query_planner.rs
  nidx/src/searcher/shard_suggest.rs
  nucliadb_protos/nodereader.proto
Due: none

Operator in API and tests
  nidx/nidx_paragraph/src/search_query.rs
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/tests/nucliadb/integration/search/test_filters.py
  nucliadb_models/src/nucliadb_models/filter.py
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.pyi
Due: lint_nucliadb, lint_nucliadb_models

Add migration
  nucliadb/src/migrations/0031_languages_deduplication.py
Due: lint_nucliadb

Restore duplicate filter for paragraphs
  nidx/nidx_paragraph/src/request_types.rs
  nidx/nidx_paragraph/src/search_query.rs
  nidx/src/searcher/query_planner.rs
Due: none

Add filter_expression to resource search endpoint
  nucliadb/src/nucliadb/search/api/v1/resource/search.py
  nucliadb/src/nucliadb/search/search/query.py
Due: lint_nucliadb

Suggest tests and better validation
  nucliadb/src/nucliadb/search/api/v1/resource/search.py
  nucliadb/src/nucliadb/search/api/v1/suggest.py
  nucliadb/tests/nucliadb/integration/test_suggest.py
Due: lint_nucliadb

Tests for resource search
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/tests/nucliadb/integration/search/test_search.py
Due: lint_nucliadb

Test for ask on resource
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/tests/nucliadb/integration/search/test_search.py
  nucliadb/tests/nucliadb/integration/test_ask.py
Due: lint_nucliadb

Test prequeries filter
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/tests/nucliadb/integration/test_ask.py
Due: lint_nucliadb

Path conditions:
  lint_nucliadb: any of: (^nucliadb/) and \.py$
  lint_nucliadb_dataset: any of: (^nucliadb_dataset/) and \.py$
  lint_nucliadb_models: any of: (^nucliadb_models/) and \.py$
  lint_nucliadb_node: any of: (^nucliadb_node/) and \.py$
  lint_nucliadb_node_binding: any of: (^nucliadb_node_binding/) and \.py$
  lint_nucliadb_performance: any of: (^nucliadb_performance/) and \.py$
  lint_nucliadb_sdk: any of: (^nucliadb_sdk/) and \.py$
  lint_nucliadb_telemetry: any of: (^nucliadb_telemetry/) and \.py$
  lint_nucliadb_utils: any of: (^nucliadb_utils/) and \.py$
  rustfmt_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
  clippy_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
