Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint_nucliadb
        name: Lint nucliadb
        entry: make -C nucliadb lint
        language: system
        files: (^nucliadb/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_dataset
        name: Lint nucliadb_dataset
        entry: make -C nucliadb_dataset lint
        language: system
        files: (^nucliadb_dataset/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_models
        name: Lint nucliadb_models
        entry: make -C nucliadb_models lint
        language: system
        files: (^nucliadb_models/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_node
        name: Lint nucliadb_node
        entry: make -C nucliadb_node lint
        language: system
        files: (^nucliadb_node/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_node_binding
        name: Lint nucliadb_node_binding
        entry: make -C nucliadb_node_binding lint
        language: system
        files: (^nucliadb_node_binding/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_performance
        name: Lint nucliadb_performance
        entry: make -C nucliadb_performance lint
        language: system
        files: (^nucliadb_performance/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_sdk
        name: Lint nucliadb_sdk
        entry: make -C nucliadb_sdk lint
        language: system
        files: (^nucliadb_sdk/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_telemetry
        name: Lint nucliadb_telemetry
        entry: make -C nucliadb_telemetry lint
        language: system
        files: (^nucliadb_telemetry/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_utils
        name: Lint nucliadb_utils
        entry: make -C nucliadb_utils lint
        language: system
        files: (^nucliadb_utils/)
        types: ["python"]
        pass_filenames: false

      - id: rustfmt_nucliadb
        name: fmt
        entry: cargo fmt --check
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nucliadb
        name: clippy
        entry: cargo clippy --all-features -- -D warnings
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

fix more mypy
  nucliadb/src/nucliadb/standalone/purge.py
  nucliadb/src/nucliadb/standalone/run.py
Due: lint_nucliadb

fix more
  nucliadb_dataset/src/nucliadb_dataset/run.py
Due: lint_nucliadb_dataset

Fix
  nucliadb/src/nucliadb/search/api/v1/find.py
  nucliadb/src/nucliadb/search/api/v1/resource/search.py
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/api/v1/suggest.py
  nucliadb/tests/nucliadb/integration/test_api.py
  nucliadb_models/src/nucliadb_models/conversation.py
  nucliadb_models/src/nucliadb_models/metadata.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_models/src/nucliadb_models/utils.py
Due: lint_nucliadb, lint_nucliadb_models

Add missing dependency
  nucliadb_utils/requirements.txt
Due: none

Fix azurite
  nucliadb_utils/requirements-storages.txt
  nucliadb_utils/src/nucliadb_utils/tests/azure.py
  pdm.lock
Due: lint_nucliadb_utils

Extend test
  nucliadb/tests/nucliadb/integration/test_api.py
Due: lint_nucliadb

Better
  nucliadb_models/src/nucliadb_models/utils.py
Due: lint_nucliadb_models

Lower kubernetes asyncio
  nucliadb/requirements.txt
  pdm.lock
Due: none

Properly validate datetime params (#2376)
  nucliadb/src/nucliadb/search/api/v1/find.py
  nucliadb/src/nucliadb/search/api/v1/resource/search.py
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/api/v1/suggest.py
  nucliadb/tests/nucliadb/integration/test_api.py
  nucliadb_models/src/nucliadb_models/conversation.py
  nucliadb_models/src/nucliadb_models/metadata.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_models/src/nucliadb_models/utils.py
Due: lint_nucliadb, lint_nucliadb_models

Update dependencies (#2375)
  nucliadb/requirements.txt
  nucliadb/src/nucliadb/common/datamanagers/rollover.py
  nucliadb/src/nucliadb/standalone/purge.py
  nucliadb/src/nucliadb/standalone/run.py
  nucliadb/tests/search/integration/requesters/test_utils.py
  nucliadb/tests/search/unit/search/test_query.py
  nucliadb_dataset/src/nucliadb_dataset/run.py
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
  nucliadb_utils/requirements-storages.txt
  nucliadb_utils/requirements.txt
  nucliadb_utils/src/nucliadb_utils/tests/azure.py
  pdm.lock
Due: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_sdk, lint_nucliadb_utils

wip
  nucliadb/src/migrations/0009_upgrade_relations_and_texts_to_v2.py
  nucliadb/src/migrations/0010_fix_corrupt_indexes.py
  nucliadb/src/migrations/0012_rollover_shards.py
  nucliadb/src/migrations/0014_rollover_shards.py
  nucliadb/src/migrations/0015_targeted_rollover.py
  nucliadb/src/migrations/0016_upgrade_to_paragraphs_v2.py
  nucliadb/src/migrations/0019_upgrade_to_paragraphs_v3.py
  nucliadb/src/migrations/0020_drain_nodes_from_cluster.py
  nucliadb/src/migrations/0022_fix_paragraph_deletion_bug.py
  nucliadb/src/nucliadb/common/cluster/rollover.py
  nucliadb/src/nucliadb/common/cluster/utils.py
  nucliadb/src/nucliadb/migrator/migrator.py
  nucliadb/tests/nucliadb/integration/common/cluster/test_rollover.py
  nucliadb/tests/nucliadb/integration/search/test_filters.py
  nucliadb/tests/nucliadb/unit/common/cluster/test_rollover.py
Due: lint_nucliadb

Index to external index on proper condition
  nucliadb/src/nucliadb/ingest/orm/processor/__init__.py
  nucliadb/src/nucliadb/ingest/service/writer.py
Due: lint_nucliadb

Revert "Properly validate datetime params (#2376)"
  nucliadb/src/nucliadb/search/api/v1/find.py
  nucliadb/src/nucliadb/search/api/v1/resource/search.py
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/api/v1/suggest.py
  nucliadb/tests/nucliadb/integration/test_api.py
  nucliadb_models/src/nucliadb_models/conversation.py
  nucliadb_models/src/nucliadb_models/metadata.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_models/src/nucliadb_models/utils.py
Due: lint_nucliadb, lint_nucliadb_models

Fixed incompatibility validating datetime on 3.10
  nucliadb_models/src/nucliadb_models/metadata.py
Due: lint_nucliadb_models

Use proper origin model in resource creation
  nucliadb/tests/nucliadb/integration/test_api.py
  nucliadb_models/src/nucliadb_models/writer.py
Due: lint_nucliadb, lint_nucliadb_models

Use proper origin model in resource creation
  nucliadb_models/src/nucliadb_models/writer.py
Due: lint_nucliadb_models

Do not do custom validations for datetimes on output fields (#2377)
  nucliadb/tests/nucliadb/integration/test_api.py
  nucliadb_models/src/nucliadb_models/metadata.py
  nucliadb_models/src/nucliadb_models/writer.py
Due: lint_nucliadb, lint_nucliadb_models

Index to external index on proper condition (#2378)
  nucliadb/src/nucliadb/ingest/orm/processor/__init__.py
  nucliadb/src/nucliadb/ingest/service/writer.py
Due: lint_nucliadb

send bytes estimated kb_usage
  nucliadb/src/nucliadb/ingest/consumer/auditing.py
  nucliadb_utils/src/nucliadb_utils/audit/audit.py
  nucliadb_utils/src/nucliadb_utils/audit/basic.py
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
  nucliadb_utils/src/nucliadb_utils/nuclia_usage/protos/kb_usage_pb2.py
  nucliadb_utils/src/nucliadb_utils/nuclia_usage/protos/kb_usage_pb2.pyi
  nucliadb_utils/src/nucliadb_utils/nuclia_usage/protos/kb_usage_pb2_grpc.py
  nucliadb_utils/src/nucliadb_utils/nuclia_usage/protos/kb_usage_pb2_grpc.pyi
  nucliadb_utils/src/nucliadb_utils/nuclia_usage/utils/kb_usage_report.py
Due: lint_nucliadb, lint_nucliadb_utils

Add more metrics to pinecone client and compute vectors async
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb_utils/src/nucliadb_utils/aiopynecone/client.py
Due: lint_nucliadb, lint_nucliadb_utils

fix
  nucliadb/src/nucliadb/ingest/consumer/auditing.py
Due: lint_nucliadb

use constant
  nucliadb/src/nucliadb/common/constants.py
  nucliadb/src/nucliadb/ingest/consumer/auditing.py
  nucliadb/src/nucliadb/search/api/v1/knowledgebox.py
Due: lint_nucliadb

add license
  nucliadb/src/nucliadb/common/constants.py
Due: lint_nucliadb

fix no cover
  nucliadb/src/nucliadb/ingest/orm/processor/__init__.py
  nucliadb/src/nucliadb/train/generators/question_answer_streaming.py
  nucliadb_sidecar/src/nucliadb_sidecar/app.py
Due: lint_nucliadb

send audit chat context pointer
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb_protos/audit.proto
  nucliadb_protos/python/src/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/audit_pb2.pyi
Due: lint_nucliadb

make pointer optional and update test
  nucliadb_protos/audit.proto
  nucliadb_protos/python/src/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/audit_pb2.pyi
  nucliadb_utils/tests/unit/audit/test_stream.py
Due: lint_nucliadb_utils

update rust proto
  nucliadb_protos/rust/src/audit.rs
Due: none

fix typo
  nucliadb_utils/tests/unit/audit/test_stream.py
Due: lint_nucliadb_utils

send bytes estimated kb_usage (#2379)
  nucliadb/src/nucliadb/common/constants.py
  nucliadb/src/nucliadb/ingest/consumer/auditing.py
  nucliadb/src/nucliadb/search/api/v1/knowledgebox.py
  nucliadb_utils/src/nucliadb_utils/audit/audit.py
  nucliadb_utils/src/nucliadb_utils/audit/basic.py
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
  nucliadb_utils/src/nucliadb_utils/nuclia_usage/protos/kb_usage_pb2.py
  nucliadb_utils/src/nucliadb_utils/nuclia_usage/protos/kb_usage_pb2.pyi
  nucliadb_utils/src/nucliadb_utils/nuclia_usage/protos/kb_usage_pb2_grpc.py
  nucliadb_utils/src/nucliadb_utils/nuclia_usage/utils/kb_usage_report.py
Due: lint_nucliadb, lint_nucliadb_utils

More explicit comment
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
Due: lint_nucliadb

More metrics
  nucliadb_utils/src/nucliadb_utils/aiopynecone/client.py
Due: lint_nucliadb_utils

use gcs sa credentials
  nucliadb/src/nucliadb/writer/tus/gcs.py
  nucliadb_utils/src/nucliadb_utils/storages/gcs.py
Due: lint_nucliadb, lint_nucliadb_utils

Add log
  nucliadb_utils/src/nucliadb_utils/aiopynecone/client.py
Due: lint_nucliadb_utils

More flexible
  nucliadb_utils/src/nucliadb_utils/aiopynecone/client.py
Due: lint_nucliadb_utils

type ignore
  nucliadb/src/nucliadb/writer/tus/gcs.py
  nucliadb_utils/src/nucliadb_utils/storages/gcs.py
Due: lint_nucliadb, lint_nucliadb_utils

fix test
  nucliadb_utils/src/nucliadb_utils/aiopynecone/client.py
Due: lint_nucliadb_utils

Do not block computing vectors (#2380)
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb/src/nucliadb/ingest/orm/processor/__init__.py
  nucliadb/src/nucliadb/train/generators/question_answer_streaming.py
  nucliadb_sidecar/src/nucliadb_sidecar/app.py
  nucliadb_utils/src/nucliadb_utils/aiopynecone/client.py
Due: lint_nucliadb, lint_nucliadb_utils

use gcs sa credentials (#2382)
  nucliadb/src/nucliadb/writer/tus/gcs.py
  nucliadb_utils/src/nucliadb_utils/storages/gcs.py
Due: lint_nucliadb, lint_nucliadb_utils

Fix upload storage util expiration check
  nucliadb/src/nucliadb/writer/tus/gcs.py
Due: lint_nucliadb
