Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: isort_nucliadb
        name: Isort
        entry: isort --profile black -c
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)(^nucliadb_performace/)
        types: ["python"]

      - id: black_nucliadb
        name: Black
        entry: black --check --verbose
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)(^nucliadb_performace/)
        types: ["python"]

      - id: flake8_nucliadb
        name: Flake8
        entry: flake8 --config=nucliadb/setup.cfg
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)(^nucliadb_performace/)
        types: ["python"]

      - id: rustfmt_nucliadb
        name: fmt
        entry: cargo +nightly fmt --check
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nucliadb
        name: clippy
        entry: cargo clippy --all-features -- -D warnings
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

Fix
  nucliadb/nucliadb/standalone/tests/integration/test_upload_download.py
  nucliadb/nucliadb/writer/api/v1/upload.py
  nucliadb/nucliadb/writer/tus/s3.py
Due: none

Better handle resumable uri not found errors on tus patch (#1887)
  nucliadb/nucliadb/standalone/tests/integration/test_upload_download.py
  nucliadb/nucliadb/writer/api/v1/upload.py
  nucliadb/nucliadb/writer/tus/s3.py
Due: none

Bump dependencies to fix vulnerabilities (#1881)
  nucliadb/requirements.lock.txt
Due: none

Collect learning id on chat audit too
  nucliadb/nucliadb/search/search/chat/query.py
  nucliadb_protos/audit.proto
  nucliadb_protos/python/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/nucliadb_protos/audit_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/dataset_pb2.py
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/nucliadb_protos/migrations_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.py
  nucliadb_protos/python/nucliadb_protos/replication_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/nucliadb_protos/standalone_pb2.py
  nucliadb_protos/python/nucliadb_protos/train_pb2.py
  nucliadb_protos/python/nucliadb_protos/utils_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.py
  nucliadb_utils/nucliadb_utils/audit/audit.py
  nucliadb_utils/nucliadb_utils/audit/basic.py
  nucliadb_utils/nucliadb_utils/audit/stream.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Collect learning id on chat audit too
  nucliadb_utils/nucliadb_utils/tests/unit/audit/test_stream.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix flake
  nucliadb_utils/nucliadb_utils/tests/unit/audit/test_stream.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Collect learning id on chat audit (#1890)
  nucliadb/nucliadb/search/search/chat/query.py
  nucliadb_protos/audit.proto
  nucliadb_protos/python/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/nucliadb_protos/audit_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/dataset_pb2.py
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/nucliadb_protos/migrations_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.py
  nucliadb_protos/python/nucliadb_protos/replication_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/nucliadb_protos/standalone_pb2.py
  nucliadb_protos/python/nucliadb_protos/train_pb2.py
  nucliadb_protos/python/nucliadb_protos/utils_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.py
  nucliadb_utils/nucliadb_utils/audit/audit.py
  nucliadb_utils/nucliadb_utils/audit/basic.py
  nucliadb_utils/nucliadb_utils/audit/stream.py
  nucliadb_utils/nucliadb_utils/tests/unit/audit/test_stream.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

wip
  nucliadb/nucliadb/common/cluster/base.py
  nucliadb/nucliadb/common/cluster/discovery/base.py
  nucliadb/nucliadb/common/cluster/discovery/single.py
  nucliadb/nucliadb/common/cluster/discovery/types.py
  nucliadb/nucliadb/common/cluster/manager.py
  nucliadb/nucliadb/common/cluster/standalone/index_node.py
  nucliadb/nucliadb/common/cluster/standalone/service.py
  nucliadb/nucliadb/common/cluster/standalone/utils.py
  nucliadb/nucliadb/tests/unit/common/cluster/discovery/test_k8s.py
  nucliadb/nucliadb/tests/unit/common/cluster/standalone/test_service.py
  nucliadb_protos/python/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/nucliadb_protos/dataset_pb2.py
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/nucliadb_protos/migrations_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.py
  nucliadb_protos/python/nucliadb_protos/replication_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/nucliadb_protos/standalone_pb2.py
  nucliadb_protos/python/nucliadb_protos/standalone_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/train_pb2.py
  nucliadb_protos/python/nucliadb_protos/utils_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.py
  nucliadb_protos/standalone.proto
Due: none

done
  nucliadb/nucliadb/common/cluster/base.py
  nucliadb/nucliadb/common/cluster/discovery/base.py
  nucliadb/nucliadb/common/cluster/discovery/k8s.py
  nucliadb/nucliadb/common/cluster/discovery/types.py
  nucliadb/nucliadb/common/cluster/manager.py
  nucliadb/nucliadb/common/cluster/rollover.py
  nucliadb/nucliadb/common/cluster/standalone/index_node.py
  nucliadb/nucliadb/common/cluster/standalone/utils.py
  nucliadb/nucliadb/ingest/tests/fixtures.py
  nucliadb/nucliadb/search/tests/unit/search/requesters/test_utils.py
  nucliadb/nucliadb/tests/integration/common/cluster/test_manager.py
  nucliadb/nucliadb/tests/unit/common/cluster/discovery/test_k8s.py
  nucliadb/nucliadb/tests/unit/common/cluster/test_cluster.py
  nucliadb/nucliadb/tests/unit/common/cluster/test_manager.py
Due: none

save-data-file
  .github/workflows/nucliadb_search.yml
Due: none

use env instead of secrets (not a secret)
  .github/workflows/nucliadb_node.yml
Due: none

workload identity for search
  .github/workflows/nucliadb_search.yml
Due: none

workload identity for node
  .github/workflows/nucliadb_node.yml
Due: none

permissions.contents=write
  .github/workflows/nucliadb_search.yml
Due: none

fully re-enable github-action-benchmark
  .github/workflows/nucliadb_search.yml
Due: none

cosmetic changes
  .github/workflows/nucliadb_search.yml
Due: none

comment-always
  .github/workflows/nucliadb_search.yml
Due: none

tests pull images from artifact repository
  nucliadb/nucliadb/search/tests/node.py
  nucliadb_node/nucliadb_node/tests/fixtures.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

minimal call to github-action-benchmark
  .github/workflows/nucliadb_search.yml
Due: none

Fix test
  nucliadb/nucliadb/tests/unit/common/cluster/test_rollover.py
Due: none

fix more tests
  nucliadb/nucliadb/search/app.py
  nucliadb/nucliadb/search/tests/unit/test_app.py
  nucliadb/nucliadb/standalone/api_router.py
Due: none

Simplify merger removing MergeQuery trait
  nucliadb_node/src/lifecycle.rs
  nucliadb_vectors/src/data_point_provider/merge_worker.rs
  nucliadb_vectors/src/data_point_provider/merger.rs
  nucliadb_vectors/src/data_point_provider/mod.rs
  nucliadb_vectors/src/service/writer.rs
  vectors_benchmark/src/binaries/1m_stats.rs
  vectors_benchmark/src/binaries/real_data_benchmark.rs
  vectors_benchmark/src/binaries/vectors_benchmark.rs
Due: rustfmt_nucliadb, clippy_nucliadb

garbage collector finished
  nucliadb_vectors/src/data_point_provider/mod.rs
  nucliadb_vectors/src/data_point_provider/reader.rs
  nucliadb_vectors/src/data_point_provider/writer.rs
  nucliadb_vectors/src/lib.rs
Due: rustfmt_nucliadb, clippy_nucliadb

garbage collector finished
  nucliadb_vectors/src/data_point_provider/garbage_collector.rs
Due: rustfmt_nucliadb, clippy_nucliadb

tests pull images from artifact repository (#1888)
  .github/workflows/nucliadb_node.yml
  .github/workflows/nucliadb_search.yml
  nucliadb/nucliadb/search/tests/node.py
  nucliadb_node/nucliadb_node/tests/fixtures.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

merge operation
  nucliadb_vectors/src/data_point_provider/mod.rs
  nucliadb_vectors/src/data_point_provider/writer.rs
  nucliadb_vectors/src/lib.rs
Due: rustfmt_nucliadb, clippy_nucliadb

happy clippy
  nucliadb_vectors/src/data_point_provider/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

nucliadb_node.yml: fix permissions
  .github/workflows/nucliadb_node.yml
Due: none

nucliadb_node.yml: fix permissions (#1892)
  .github/workflows/nucliadb_node.yml
Due: none

merge + tests
  nucliadb_vectors/src/data_point_provider/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

fix accidental pin drop
  nucliadb_vectors/src/data_point_provider/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

permissions for clippy
  .github/workflows/nucliadb_node.yml
Due: none

back to global permissions.contents=read
  .github/workflows/nucliadb_node.yml
Due: none

permissions for clippy (#1893)
  .github/workflows/nucliadb_node.yml
Due: none

Remove Unimplemented facets feature from find endpoints (#1882)
  nucliadb/nucliadb/search/api/v1/find.py
  nucliadb/nucliadb/search/search/find.py
  nucliadb/nucliadb/search/search/find_merge.py
  nucliadb/nucliadb/search/search/query.py
  nucliadb/nucliadb/tests/integration/search/test_search.py
  nucliadb_models/nucliadb_models/search.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

all pulls from Artifact Repository (#1877)
  .github/workflows/nucliadb_ingest.yml
  .github/workflows/nucliadb_node.yml
  .github/workflows/nucliadb_reader.yml
  .github/workflows/nucliadb_train.yml
  .github/workflows/nucliadb_writer.yml
Due: none

add shards and node info on catalog
  nucliadb/nucliadb/search/api/v1/search.py
  nucliadb/nucliadb/tests/integration/search/test_search.py
Due: none

merge on commit
  nucliadb_vectors/src/data_point_provider/mod.rs
Due: rustfmt_nucliadb, clippy_nucliadb

suggestions
  nucliadb_vectors/src/data_point_provider/mod.rs
Due: rustfmt_nucliadb, clippy_nucliadb

control merge params through env vars
  nucliadb_vectors/src/data_point_provider/mod.rs
Due: rustfmt_nucliadb, clippy_nucliadb
