Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nidx, clippy_nidx

lint_nucliadb:
  name: Lint nucliadb
  entry: make -C nucliadb lint
  language: system
  pass_filenames: false

lint_nucliadb_dataset:
  name: Lint nucliadb_dataset
  entry: make -C nucliadb_dataset lint
  language: system
  pass_filenames: false

lint_nucliadb_models:
  name: Lint nucliadb_models
  entry: make -C nucliadb_models lint
  language: system
  pass_filenames: false

lint_nucliadb_sdk:
  name: Lint nucliadb_sdk
  entry: make -C nucliadb_sdk lint
  language: system
  pass_filenames: false

lint_nucliadb_telemetry:
  name: Lint nucliadb_telemetry
  entry: make -C nucliadb_telemetry lint
  language: system
  pass_filenames: false

lint_nucliadb_utils:
  name: Lint nucliadb_utils
  entry: make -C nucliadb_utils lint
  language: system
  pass_filenames: false

rustfmt_nidx:
  name: Rust format check for nidx
  entry: cargo fmt --check --all --manifest-path nidx/Cargo.toml
  language: system
  pass_filenames: false

clippy_nidx:
  name: Clippy warning check for nidx
  entry: cargo clippy --all-features --manifest-path nidx/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

Nidx parallel segment search (#3333)
  nidx/nidx_vector/src/searcher.rs
Due: rustfmt_nidx, clippy_nidx

Move index update to metadata
  nidx/.sqlx/query-6d0675409f24dd88f46eb91e979d40447c8d79ff33c517febe0c1752f0096707.json
  nidx/src/api/grpc.rs
  nidx/src/metadata/index.rs
Due: rustfmt_nidx, clippy_nidx

Revert "Nidx parallel segment search (#3333)"
  nidx/nidx_vector/src/searcher.rs
Due: rustfmt_nidx, clippy_nidx

Move configure shards logic to a different function for easier tests
  nidx/src/api/grpc.rs
  nidx/src/api/shards.rs
Due: rustfmt_nidx, clippy_nidx

Simple pre-warm configuration test
  nidx/tests/test_shards_api.rs
Due: rustfmt_nidx, clippy_nidx

Revert "Nidx parallel segment search (#3333)" (#3335)
  nidx/nidx_vector/src/searcher.rs
Due: rustfmt_nidx, clippy_nidx

Migrate search configurations (#3331)
  nucliadb/src/migrations/0040_migrate_search_configurations.py
  nucliadb/tests/nucliadb/migrations/test_migration_0040.py
  nucliadb_models/src/nucliadb_models/configuration.py
Due: lint_nucliadb, lint_nucliadb_models

Add RAO router to search and hard-copy /ask
  nucliadb/src/nucliadb/search/api/rao/__init__.py
  nucliadb/src/nucliadb/search/api/rao/ask.py
  nucliadb/src/nucliadb/search/api/rao/router.py
  nucliadb/src/nucliadb/search/app.py
  nucliadb/src/nucliadb/standalone/app.py
Due: lint_nucliadb

Avoid re-parsing to get the graph reranker
  nucliadb/src/nucliadb/rao/chat/ask.py
  nucliadb/src/nucliadb/rao/chat/find.py
  nucliadb/src/nucliadb/rao/chat/query.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/ask.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/common.py
Due: lint_nucliadb

Copy chat/query.py to rao
  nucliadb/src/nucliadb/rao/chat/query.py
Due: lint_nucliadb

RAO /ask uses /find under the hood
  nucliadb/src/nucliadb/rao/chat/ask.py
  nucliadb/src/nucliadb/rao/chat/find.py
  nucliadb/src/nucliadb/rao/chat/query.py
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/tests/ndbfixtures/standalone.py
Due: lint_nucliadb

Copy chat/ask.py to rao
  nucliadb/src/nucliadb/rao/__init__.py
  nucliadb/src/nucliadb/rao/chat/__init__.py
  nucliadb/src/nucliadb/rao/chat/ask.py
  nucliadb/src/nucliadb/search/api/rao/ask.py
Due: lint_nucliadb

Don't need fetcher anymore in retrieval results
  nucliadb/src/nucliadb/rao/chat/ask.py
Due: lint_nucliadb

Use buffered writers in DataStore v2
  nidx/nidx_vector/src/data_store/v2.rs
  nidx/nidx_vector/src/data_store/v2/paragraph_store.rs
  nidx/nidx_vector/src/data_store/v2/quant_vector_store.rs
  nidx/nidx_vector/src/data_store/v2/vector_store.rs
Due: rustfmt_nidx, clippy_nidx

Do not double-build indexes
  nidx/nidx_vector/src/segment.rs
Due: rustfmt_nidx, clippy_nidx

Save some metadata operations during segment download
  nidx/src/segment_store.rs
Due: rustfmt_nidx, clippy_nidx

Small tweaks to disk writes (#3337)
  nidx/nidx_vector/src/data_store/v2.rs
  nidx/nidx_vector/src/data_store/v2/paragraph_store.rs
  nidx/nidx_vector/src/data_store/v2/quant_vector_store.rs
  nidx/nidx_vector/src/data_store/v2/vector_store.rs
  nidx/nidx_vector/src/segment.rs
  nidx/src/segment_store.rs
Due: rustfmt_nidx, clippy_nidx

LLM citations on nucliadb sdk
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
Due: lint_nucliadb_sdk

Add authorizer security groups override to resource ask endpoints
  Makefile
  nucliadb/src/nucliadb/search/api/v1/resource/ask.py
  nucliadb/tests/search/integration/api/v1/test_ask_security.py
Due: lint_nucliadb

Clean makefile
  Makefile
Due: none

LLM citations on nucliadb sdk (#3338)
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
Due: lint_nucliadb_sdk

Makefile (#3340)
  Makefile
Due: none

Add authorizer security groups override to resource ask endpoints (#3339)
  Makefile
  nucliadb/src/nucliadb/search/api/v1/resource/ask.py
  nucliadb/tests/search/integration/api/v1/test_ask_security.py
Due: lint_nucliadb

Add x-nucliadb-user to standalone reader and writer
  nucliadb/tests/ndbfixtures/reader.py
  nucliadb/tests/ndbfixtures/writer.py
Due: lint_nucliadb

Add nucliadb_search magic ndbfixture for cluster and standalone
  nucliadb/tests/ndbfixtures/magic.py
  nucliadb/tests/ndbfixtures/search.py
Due: lint_nucliadb

Use deploy mode cluster in search tests instead of cluster_nucliadb_search
  nucliadb/tests/search/integration/api/v1/test_ask_audit.py
  nucliadb/tests/search/integration/api/v1/test_ask_security.py
  nucliadb/tests/search/integration/api/v1/test_find.py
  nucliadb/tests/search/integration/api/v1/test_search.py
  nucliadb/tests/search/integration/api/v1/test_suggest.py
  nucliadb/tests/search/integration/requesters/test_utils.py
Due: lint_nucliadb

Remove unused fixture
  nucliadb/tests/ndbfixtures/nidx.py
Due: lint_nucliadb

Fixture typing
  nucliadb/tests/ndbfixtures/nidx.py
  nucliadb/tests/search/integration/api/v1/test_ask_audit.py
  nucliadb_utils/src/nucliadb_utils/tests/fixtures.py
Due: lint_nucliadb, lint_nucliadb_utils

Fix obscure lazy fixture ordering issue
  nucliadb/tests/ndbfixtures/search.py
Due: lint_nucliadb

Use standalone to fix obscure issue with ask-audit test
  nucliadb/tests/search/integration/api/v1/test_ask_audit.py
Due: lint_nucliadb

Go back to cluster_nucliadb_search for those tests...
  nucliadb/tests/search/integration/api/v1/test_ask_audit.py
  nucliadb/tests/search/integration/api/v1/test_ask_security.py
Due: lint_nucliadb

add providers endpoint learning proxy
  charts/nucliadb_reader/templates/reader.vs.yaml
  e2e/test_e2e.py
  nucliadb/src/nucliadb/reader/api/v1/learning_config.py
  nucliadb/tests/reader/integration/api/v1/test_learning_config.py
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
Due: lint_nucliadb, lint_nucliadb_sdk

ndbfixture: use deploy_modes in search tests (#3341)
  nucliadb/tests/ndbfixtures/magic.py
  nucliadb/tests/ndbfixtures/nidx.py
  nucliadb/tests/ndbfixtures/reader.py
  nucliadb/tests/ndbfixtures/search.py
  nucliadb/tests/ndbfixtures/writer.py
  nucliadb/tests/search/integration/api/v1/test_ask_audit.py
  nucliadb/tests/search/integration/api/v1/test_find.py
  nucliadb/tests/search/integration/api/v1/test_search.py
  nucliadb/tests/search/integration/api/v1/test_suggest.py
  nucliadb/tests/search/integration/requesters/test_utils.py
  nucliadb_utils/src/nucliadb_utils/tests/fixtures.py
Due: lint_nucliadb, lint_nucliadb_utils

Add pre-warm option to indexes to open with MAP_POPULATE
  nidx/nidx_vector/src/inverted_index.rs
  nidx/nidx_vector/src/inverted_index/fst_index.rs
  nidx/nidx_vector/src/inverted_index/map.rs
  nidx/nidx_vector/src/segment.rs
Due: rustfmt_nidx, clippy_nidx

Quantized vectors prewarming
  nidx/nidx_vector/src/data_store.rs
  nidx/nidx_vector/src/data_store/v1.rs
  nidx/nidx_vector/src/data_store/v2/paragraph_store.rs
  nidx/nidx_vector/src/data_store/v2/quant_vector_store.rs
  nidx/nidx_vector/src/data_store/v2/vector_store.rs
  nidx/nidx_vector/src/segment.rs
Due: rustfmt_nidx, clippy_nidx

ShardCreatorHandler wasn't using storage
  nucliadb/src/nucliadb/ingest/consumer/service.py
  nucliadb/src/nucliadb/ingest/consumer/shard_creator.py
  nucliadb/tests/ingest/integration/consumer/test_shard_creator.py
  nucliadb/tests/ingest/unit/consumer/test_shard_creator.py
  nucliadb/tests/nucliadb/integration/search/test_search.py
Due: lint_nucliadb

Configure pre-warming on new shards after rollover
  nucliadb/src/nucliadb/common/cluster/rollover.py
  nucliadb/tests/nucliadb/integration/common/cluster/test_rollover.py
Due: lint_nucliadb

Require callers to set prewarm to create a shard
  nucliadb/src/nucliadb/common/cluster/manager.py
  nucliadb/tests/nucliadb/unit/common/cluster/test_kb_shard_manager.py
Due: lint_nucliadb

Pre-warm in KB update
  nidx/nidx_protos/nidx.proto
  nidx/nidx_protos/nodewriter.proto
  nucliadb/src/nucliadb/common/cluster/manager.py
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/src/nucliadb/ingest/service/writer.py
  nucliadb/src/nucliadb/migrator/datamanager.py
  nucliadb/src/nucliadb/writer/api/v1/knowledgebox.py
  nucliadb/tests/ingest/integration/servicer/test_knowledgebox.py
Due: lint_nucliadb

Rebalance uses KB pre-warm configuration
  nucliadb/src/nucliadb/common/cluster/rebalance.py
  nucliadb/tests/nucliadb/integration/common/cluster/test_rebalance.py
Due: lint_nucliadb

Path conditions:
  lint_nucliadb: any of: (^nucliadb/) and \.py$
  lint_nucliadb_dataset: any of: (^nucliadb_dataset/) and \.py$
  lint_nucliadb_models: any of: (^nucliadb_models/) and \.py$
  lint_nucliadb_sdk: any of: (^nucliadb_sdk/) and \.py$
  lint_nucliadb_telemetry: any of: (^nucliadb_telemetry/) and \.py$
  lint_nucliadb_utils: any of: (^nucliadb_utils/) and \.py$
  rustfmt_nidx: any of: (^nidx/) and \.rs$
  clippy_nidx: any of: (^nidx/) and \.rs$
