Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: isort_nucliadb
        name: Isort
        entry: isort --profile black -c
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)(^nucliadb_performace/)
        types: ["python"]

      - id: black_nucliadb
        name: Black
        entry: black --check --verbose
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)(^nucliadb_performace/)
        types: ["python"]

      - id: flake8_nucliadb
        name: Flake8
        entry: flake8 --config=nucliadb/setup.cfg
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)(^nucliadb_performace/)
        types: ["python"]

      - id: rustfmt_nucliadb
        name: fmt
        entry: cargo +nightly fmt --check
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nucliadb
        name: clippy
        entry: cargo clippy --all-features -- -D warnings
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

Reload write state on replication
  nucliadb_node/src/replication/replicator.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Correct ordering of segments
  nucliadb_vectors/src/data_point_provider/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

dont merge if there is not enough work
  nucliadb_vectors/src/data_point_provider/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

gix bug
  nucliadb_vectors/src/data_point_provider/mod.rs
Due: rustfmt_nucliadb, clippy_nucliadb

gix bug (#1920)
  nucliadb_vectors/src/data_point_provider/mod.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Revert "Fix can process (#1919)"
  nucliadb/nucliadb/ingest/consumer/consumer.py
Due: none

Revert "Back off processed consumers when node indexing queues are behind (#1918)"
  nucliadb/nucliadb/ingest/consumer/consumer.py
  nucliadb/nucliadb/ingest/tests/unit/consumer/test_consumer.py
  nucliadb_utils/nucliadb_utils/settings.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Revert can process logic on processed consumer (#1921)
  nucliadb/nucliadb/ingest/consumer/consumer.py
  nucliadb/nucliadb/ingest/tests/unit/consumer/test_consumer.py
  nucliadb_utils/nucliadb_utils/settings.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

work in progress
  nucliadb/nucliadb/writer/rate_limits.py
  nucliadb/nucliadb/writer/settings.py
Due: none

fmt
  nucliadb_vectors/src/data_point_provider/mod.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Apply backpressue on writer endpoints
  nucliadb/nucliadb/writer/api/v1/export_import.py
  nucliadb/nucliadb/writer/api/v1/resource.py
  nucliadb/nucliadb/writer/api/v1/upload.py
  nucliadb/nucliadb/writer/back_pressure.py
  nucliadb/nucliadb/writer/rate_limits.py
  nucliadb/nucliadb/writer/settings.py
Due: none

wip
  nucliadb/nucliadb/writer/back_pressure.py
Due: none

Do not clone so much
  nucliadb_paragraphs/src/reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Do not clone so much (#1923)
  nucliadb_paragraphs/src/reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

allow migration of specific kbs
  nucliadb/migrations/0012_rollover_shards.py
Due: none

.
  nucliadb/migrations/0012_rollover_shards.py
Due: none

allow migration of specific kbs (#1924)
  nucliadb/migrations/0012_rollover_shards.py
Due: none

Better
  nucliadb/nucliadb/common/http_clients/processing.py
  nucliadb/nucliadb/writer/back_pressure.py
  nucliadb/nucliadb/writer/settings.py
Due: none

fix naming
  nucliadb/nucliadb/writer/back_pressure.py
  nucliadb/nucliadb/writer/settings.py
Due: none

wip: tests
  nucliadb/nucliadb/tests/unit/http_clients/test_processing.py
  nucliadb/nucliadb/writer/back_pressure.py
  nucliadb/nucliadb/writer/tests/unit/test_back_pressure.py
Due: none

Add vector merge metrics
  Dockerfile.node
  Dockerfile.node_local
  nucliadb_core/src/metrics/meters/mod.rs
  nucliadb_core/src/metrics/meters/noop.rs
  nucliadb_core/src/metrics/meters/prometheus.rs
  nucliadb_core/src/metrics/metric/mod.rs
  nucliadb_core/src/metrics/metric/vectors.rs
  nucliadb_core/src/metrics/mod.rs
  nucliadb_core/src/metrics/tests.rs
  nucliadb_core/src/vectors.rs
  nucliadb_node/Makefile
  nucliadb_node/src/merge/scheduler.rs
  nucliadb_node/src/shards/shard_writer.rs
  nucliadb_vectors/src/data_point_provider/writer.rs
  nucliadb_vectors/src/service/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

push
  nucliadb/nucliadb/export_import/utils.py
Due: none

Fix
  nucliadb/nucliadb/writer/back_pressure.py
  nucliadb/nucliadb/writer/settings.py
  nucliadb/nucliadb/writer/tests/unit/test_back_pressure.py
Due: none

reposition
  nucliadb/nucliadb/writer/back_pressure.py
Due: none

comment
  nucliadb/nucliadb/writer/back_pressure.py
Due: none

Fix warnings
  nucliadb_core/src/metrics/metric/vectors.rs
  nucliadb_vectors/src/service/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

merge on commit
  nucliadb_vectors/src/data_point_provider/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

using doc index more
  nucliadb/nucliadb/ingest/orm/entities.py
Due: none

fix error response
  nucliadb/nucliadb/ingest/service/writer.py
Due: none

Revert "using doc index more"
  nucliadb/nucliadb/ingest/orm/entities.py
Due: none

fix test
  nucliadb_sdk/nucliadb_sdk/tests/test_export_import.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix test
  nucliadb/nucliadb/tests/integration/test_export_import.py
Due: none

fix test
  nucliadb/nucliadb/tests/integration/test_api.py
Due: none

Improve NER performance (#1914)
  nucliadb/nucliadb/common/cluster/grpc_node_dummy.py
  nucliadb/nucliadb/common/cluster/manager.py
  nucliadb/nucliadb/common/cluster/standalone/grpc_node_binding.py
  nucliadb/nucliadb/ingest/orm/entities.py
  nucliadb/nucliadb/ingest/service/writer.py
  nucliadb/nucliadb/reader/api/v1/services.py
  nucliadb/nucliadb/standalone/tests/integration/test_services.py
  nucliadb/nucliadb/tests/integration/test_api.py
  nucliadb/nucliadb/tests/integration/test_entities.py
  nucliadb/nucliadb/tests/integration/test_export_import.py
  nucliadb/nucliadb/tests/unit/common/cluster/standalone/test_service.py
  nucliadb_core/src/relations.rs
  nucliadb_models/nucliadb_models/entities.py
  nucliadb_node/src/grpc/grpc_reader.rs
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_node_binding/src/reader.rs
  nucliadb_protos/nodereader.proto
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2_grpc.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2_grpc.pyi
  nucliadb_protos/rust/src/nodereader.rs
  nucliadb_relations/src/service/reader.rs
  nucliadb_relations/src/service/tests.rs
  nucliadb_relations2/src/reader.rs
  nucliadb_sdk/nucliadb_sdk/tests/test_export_import.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

Be fully backwards compatible with previous api
  nucliadb_models/nucliadb_models/entities.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

wip: singleton
  nucliadb/nucliadb/common/http_clients/processing.py
  nucliadb/nucliadb/tests/unit/http_clients/test_processing.py
  nucliadb/nucliadb/writer/back_pressure.py
Due: none

Fix
  nucliadb/nucliadb/tests/integration/test_api.py
  nucliadb/nucliadb/tests/integration/test_entities.py
Due: none

Be fully backwards compatible with previous api (#1926)
  nucliadb/nucliadb/tests/integration/test_api.py
  nucliadb/nucliadb/tests/integration/test_entities.py
  nucliadb_models/nucliadb_models/entities.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

wip: singleton
  nucliadb/nucliadb/common/http_clients/processing.py
  nucliadb/nucliadb/writer/back_pressure.py
  nucliadb/nucliadb/writer/tests/unit/test_back_pressure.py
Due: none

dont hard fail if merger installed
  nucliadb_node/src/lifecycle.rs
  nucliadb_node/tests/common/node_services.rs
  nucliadb_node_binding/src/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb
