Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

isort_nucliadb:
  name: Isort
  entry: isort --profile black -c
  language: system

black_nucliadb:
  name: Black
  entry: black --check --verbose
  language: system

flake8_nucliadb:
  name: Flake8
  entry: flake8 --config=nucliadb/setup.cfg
  language: system

rustfmt_nucliadb:
  name: fmt
  entry: cargo +nightly fmt --check
  language: system
  pass_filenames: false

clippy_nucliadb:
  name: clippy
  entry: cargo clippy --all-features -- -D warnings
  language: system
  pass_filenames: false

Delete nucliadb-sdk v1 (#1827)
  docs/notebooks/Comparing different embeddings with NucliaDB.ipynb
  docs/notebooks/NUCLIADB_-_Code_search_demo.ipynb
  docs/notebooks/NUCLIADB_for_Data_Scientists - First_steps.ipynb
  docs/notebooks/Semantic Search in minutes with NucliaDB.ipynb
  nucliadb_sdk/README.md
  nucliadb_sdk/nucliadb_sdk/__init__.py
  nucliadb_sdk/nucliadb_sdk/client.py
  nucliadb_sdk/nucliadb_sdk/entities.py
  nucliadb_sdk/nucliadb_sdk/file.py
  nucliadb_sdk/nucliadb_sdk/find.py
  nucliadb_sdk/nucliadb_sdk/knowledgebox.py
  nucliadb_sdk/nucliadb_sdk/labels.py
  nucliadb_sdk/nucliadb_sdk/resource.py
  nucliadb_sdk/nucliadb_sdk/search.py
  nucliadb_sdk/nucliadb_sdk/tests/fixtures.py
  nucliadb_sdk/nucliadb_sdk/utils.py
  nucliadb_sdk/nucliadb_sdk/v2/__init__.py
  nucliadb_sdk/nucliadb_sdk/vectors.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Proxy feedback collect endpoint
  e2e/test_e2e.py
  nucliadb/nucliadb/search/api/v1/feedback.py
  nucliadb/nucliadb/search/api/v1/predict_proxy.py
  nucliadb/nucliadb/search/search/predict_proxy.py
  nucliadb/nucliadb/tests/integration/test_predict_proxy.py
Due: none

better
  nucliadb/nucliadb/learning_collector.py
  nucliadb/nucliadb/learning_config.py
  nucliadb/nucliadb/search/tests/fixtures.py
  nucliadb/nucliadb/standalone/config.py
  nucliadb_utils/nucliadb_utils/settings.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Added
  charts/nucliadb_reader/templates/reader.vs.yaml
  nucliadb/nucliadb/learning_collector.py
  nucliadb/nucliadb/reader/api/v1/__init__.py
  nucliadb/nucliadb/reader/api/v1/learning_collector.py
  nucliadb/nucliadb/reader/tests/integration/api/v1/test_learning_collector.py
  nucliadb/nucliadb/search/search/predict_proxy.py
  nucliadb_utils/nucliadb_utils/settings.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Fix e2e
  e2e/test_e2e.py
Due: none

add test
  nucliadb/nucliadb/reader/api/v1/__init__.py
  nucliadb/nucliadb/reader/tests/integration/api/v1/test_learning_collector.py
  nucliadb/nucliadb/reader/tests/integration/api/v1/test_learning_config.py
  nucliadb/nucliadb/tests/unit/test_learning_collector.py
  nucliadb_utils/nucliadb_utils/settings.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

run e2e tests separately
  e2e/test_e2e.py
Due: none

remove test
  nucliadb/nucliadb/tests/integration/test_predict_proxy.py
Due: none

remove config references
  nucliadb/nucliadb/learning_collector.py
Due: none

fix tests
  nucliadb/nucliadb/tests/unit/test_learning_collector.py
  nucliadb/nucliadb/tests/unit/test_learning_config.py
Due: none

wip
  nucliadb/nucliadb/learning_collector.py
  nucliadb_sdk/nucliadb_sdk/v2/sdk.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix
  nucliadb/nucliadb/search/search/predict_proxy.py
Due: none

Fix unit test for GCS
  nucliadb_utils/nucliadb_utils/tests/unit/storages/test_gcs.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Fix pytest warning
  nucliadb_utils/nucliadb_utils/tests/unit/fastapi/test_run.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix markdown
  nucliadb_sdk/README.md
Due: none

fix send x-stf-user header
  nucliadb/nucliadb/learning_config.py
  nucliadb/nucliadb/tests/unit/test_learning_config.py
Due: none

FOUND THE BUG
  nucliadb_paragraphs/src/query_io.rs
  nucliadb_texts/src/query_io.rs
  nucliadb_texts/src/reader.rs
  nucliadb_texts/tests/test_search.rs
  nucliadb_texts2/src/query_io.rs
  nucliadb_texts2/src/reader.rs
  nucliadb_texts2/tests/test_search.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Upgrade vectors index metadata in-place
  nucliadb_vectors/src/data_point_provider/mod.rs
  nucliadb_vectors/src/data_point_provider/segment_manager.rs
  nucliadb_vectors/src/data_point_provider/state_v1.rs
  nucliadb_vectors/src/data_types/dtrie_ram.rs
  nucliadb_vectors/src/data_types/mod.rs
  nucliadb_vectors/src/indexset/mod.rs
  nucliadb_vectors/src/indexset/state.rs
  nucliadb_vectors/src/lib.rs
  nucliadb_vectors/src/service/reader.rs
  nucliadb_vectors/src/service/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Remove too much context from unrelated entities log
  nucliadb/nucliadb/search/search/merge.py
Due: none

Check filter expression is supported
  nucliadb/nucliadb/search/search/query.py
  nucliadb/nucliadb/search/tests/unit/search/test_filters.py
  nucliadb/nucliadb/search/tests/unit/search/test_query.py
  nucliadb/requirements-test.txt
  nucliadb/requirements.lock.txt
  nucliadb/requirements.txt
Due: none

Remove too much context from unrelated entities log (#1840)
  nucliadb/nucliadb/search/search/merge.py
Due: none

Proxy headers too: except the host
  nucliadb/nucliadb/learning_config.py
  nucliadb/nucliadb/reader/api/v1/learning_config.py
  nucliadb/nucliadb/reader/tests/integration/api/v1/test_learning_config.py
  nucliadb/nucliadb/tests/unit/test_learning_config.py
Due: none

Fix GCS delete bucket status code (#1835)
  nucliadb/nucliadb/tests/integration/test_purge.py
  nucliadb_utils/nucliadb_utils/storages/gcs.py
  nucliadb_utils/nucliadb_utils/tests/unit/fastapi/test_run.py
  nucliadb_utils/nucliadb_utils/tests/unit/storages/test_gcs.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Add unit tests to s3 parse_status_code
  nucliadb_utils/nucliadb_utils/tests/unit/storages/test_aws.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Fix error code parsing for AWS S3 responses
  nucliadb_utils/nucliadb_utils/storages/exceptions.py
  nucliadb_utils/nucliadb_utils/storages/s3.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Upgrade fake S3 docker image
  nucliadb_utils/nucliadb_utils/tests/s3.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

use new public api for predict
  nucliadb/nucliadb/search/predict.py
  nucliadb/nucliadb/search/search/predict_proxy.py
  nucliadb/nucliadb/search/tests/unit/test_predict.py
Due: none

Revert "Upgrade fake S3 docker image"
  nucliadb_utils/nucliadb_utils/tests/s3.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Migrate on the fly to reduce matching
  nucliadb_vectors/src/data_point_provider/mod.rs
  nucliadb_vectors/src/data_point_provider/segment_manager.rs
  nucliadb_vectors/src/data_point_provider/state_v1.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Mypy...
  nucliadb_utils/nucliadb_utils/tests/unit/storages/test_aws.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Add mypy to pre-commit
  .pre-commit-config.yaml
Due: none

expand filter expression with auto filters
  nucliadb/nucliadb/search/search/query.py
Due: none

Fix error code parsing for AWS S3 responses (#1837)
  .pre-commit-config.yaml
  nucliadb_utils/nucliadb_utils/storages/exceptions.py
  nucliadb_utils/nucliadb_utils/storages/s3.py
  nucliadb_utils/nucliadb_utils/tests/unit/storages/test_aws.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix warning
  nucliadb_sdk/README.md
Due: none

propagate filter to text
  nucliadb_core/src/query_planner.rs
Due: none

wip
  nucliadb/nucliadb/ingest/service/writer.py
  nucliadb/nucliadb/learning_config.py
  nucliadb/nucliadb/writer/api/v1/knowledgebox.py
  nucliadb_models/nucliadb_models/resource.py
  nucliadb_protos/knowledgebox.proto
  nucliadb_utils/nucliadb_utils/settings.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

send empty payload
  nucliadb/nucliadb/ingest/service/writer.py
Due: none

done
  nucliadb/nucliadb/ingest/service/writer.py
  nucliadb/nucliadb/learning_config.py
  nucliadb_models/nucliadb_models/resource.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

add unit tests
  nucliadb/nucliadb/tests/unit/test_learning_config.py
Due: none

fix e2e
  e2e/test_e2e.py
Due: none

Path conditions:
  isort_nucliadb: any of: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)(^nucliadb_performace/) and \.py$
  black_nucliadb: any of: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)(^nucliadb_performace/) and \.py$
  flake8_nucliadb: any of: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)(^nucliadb_performace/) and \.py$
  rustfmt_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
  clippy_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
