Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint_nucliadb
        name: Lint nucliadb
        entry: make -C nucliadb lint
        language: system
        files: (^nucliadb/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_dataset
        name: Lint nucliadb_dataset
        entry: make -C nucliadb_dataset lint
        language: system
        files: (^nucliadb_dataset/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_models
        name: Lint nucliadb_models
        entry: make -C nucliadb_models lint
        language: system
        files: (^nucliadb_models/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_node
        name: Lint nucliadb_node
        entry: make -C nucliadb_node lint
        language: system
        files: (^nucliadb_node/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_node_binding
        name: Lint nucliadb_node_binding
        entry: make -C nucliadb_node_binding lint
        language: system
        files: (^nucliadb_node_binding/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_performance
        name: Lint nucliadb_performance
        entry: make -C nucliadb_performance lint
        language: system
        files: (^nucliadb_performance/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_sdk
        name: Lint nucliadb_sdk
        entry: make -C nucliadb_sdk lint
        language: system
        files: (^nucliadb_sdk/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_telemetry
        name: Lint nucliadb_telemetry
        entry: make -C nucliadb_telemetry lint
        language: system
        files: (^nucliadb_telemetry/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_utils
        name: Lint nucliadb_utils
        entry: make -C nucliadb_utils lint
        language: system
        files: (^nucliadb_utils/)
        types: ["python"]
        pass_filenames: false

      - id: rustfmt_nucliadb
        name: fmt
        entry: cargo fmt --check
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nucliadb
        name: clippy
        entry: cargo clippy --all-features -- -D warnings
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

Install dependencies for building virtual env
  .github/workflows/ci.yml
  nucliadb/tests/search/fixtures.py
Due: lint_nucliadb

Import well known path in nidx_protos
  .github/workflows/ci.yml
  nidx/nidx_protos/build.py
Due: none

Build nidx image for search tests
  .github/workflows/ci.yml
Due: none

Config rust cache workspaces
  .github/workflows/ci.yml
Due: none

Remove ignored params from resource search endpoint
  nucliadb/src/nucliadb/search/api/v1/resource/search.py
  nucliadb/src/nucliadb/search/search/merge.py
Due: lint_nucliadb

Not ready to replace paragraph search request
  nucliadb/src/nucliadb/search/search/shards.py
Due: lint_nucliadb

Remove RelationSearch
  nidx/nidx_protos/src/nidx.proto
  nidx/src/searcher/grpc.rs
  nucliadb_node/src/grpc/grpc_reader.rs
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_node/tests/test_search_relations.rs
  nucliadb_node_binding/src/reader.rs
  nucliadb_protos/nodereader.proto
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2_grpc.py
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2_grpc.pyi
  nucliadb_protos/rust/src/nodereader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Replace last direct call to ParagraphSearch (tests)
  nucliadb/tests/search/integration/api/v1/test_search.py
Due: lint_nucliadb

Update protos
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2_grpc.py
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2_grpc.pyi
Due: none

No more VectorSearch
  nidx/nidx_protos/src/nidx.proto
  nidx/src/searcher/grpc.rs
  nucliadb/tests/search/integration/api/v1/test_search.py
  nucliadb_node/src/grpc/grpc_reader.rs
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_node_binding/src/reader.rs
  nucliadb_protos/nodereader.proto
  nucliadb_protos/rust/src/nodereader.rs
Due: lint_nucliadb, rustfmt_nucliadb, clippy_nucliadb

No more RelationSearch either
  nucliadb/src/nucliadb/ingest/orm/entities.py
  nucliadb/src/nucliadb/search/search/shards.py
Due: lint_nucliadb

Don't call RelationSearch anymore (py)
  nucliadb/src/nucliadb/common/cluster/grpc_node_dummy.py
  nucliadb/src/nucliadb/common/cluster/standalone/grpc_node_binding.py
Due: lint_nucliadb

Return appropiate paragraph response
  nucliadb/src/nucliadb/search/search/shards.py
Due: lint_nucliadb

Cleanup query_paragraph_shard
  nucliadb/src/nucliadb/search/api/v1/resource/search.py
  nucliadb/src/nucliadb/search/requesters/utils.py
  nucliadb/src/nucliadb/search/search/merge.py
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/src/nucliadb/search/search/shards.py
Due: lint_nucliadb

Fix test
  nucliadb/tests/search/integration/api/v1/test_search.py
Due: lint_nucliadb

No more DocumentSearch
  nidx/nidx_protos/src/nidx.proto
  nidx/src/searcher/grpc.rs
  nucliadb/tests/search/integration/api/v1/test_search.py
  nucliadb_node/src/grpc/grpc_reader.rs
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_node_binding/src/reader.rs
  nucliadb_protos/nodereader.proto
  nucliadb_protos/rust/src/nodereader.rs
Due: lint_nucliadb, rustfmt_nucliadb, clippy_nucliadb

Typo in type
  nucliadb_paragraphs3/src/set_query.rs
Due: none

Remove test using document search
  nucliadb_node_binding/tests/integration/test_indexing.py
Due: lint_nucliadb_node_binding

Convert ParagraphSearchRequest to SearchRequest
  nucliadb/src/nucliadb/search/search/shards.py
Due: lint_nucliadb

No more ParagraphSearch (grpc)
  nidx/nidx_protos/src/nidx.proto
  nidx/src/searcher/grpc.rs
  nucliadb/src/nucliadb/common/cluster/standalone/grpc_node_binding.py
  nucliadb_node/src/grpc/grpc_reader.rs
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_node_binding/src/reader.rs
  nucliadb_protos/nodereader.proto
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2_grpc.py
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2_grpc.pyi
  nucliadb_protos/rust/src/nodereader.rs
Due: lint_nucliadb, rustfmt_nucliadb, clippy_nucliadb

Let's try again with paragraph search :)
  nucliadb/src/nucliadb/search/search/shards.py
Due: lint_nucliadb

Fix unit tests
  nucliadb/tests/search/unit/test_merge.py
Due: lint_nucliadb

Cleanup relations_shard
  nucliadb/src/nucliadb/search/requesters/utils.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/src/nucliadb/search/search/shards.py
Due: lint_nucliadb

Remove paragraph and relation search methods
  nucliadb/src/nucliadb/search/api/v1/resource/search.py
  nucliadb/src/nucliadb/search/requesters/utils.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/tests/search/unit/search/requesters/test_utils.py
Due: lint_nucliadb

Tiny fix
  .github/workflows/ci.yml
Due: none

Tired of waiting for CI...
  Dockerfile.nidx_prebuilt
Due: none

Remove *Search gRPC methods and cleanup search (#2626)
  nidx/nidx_protos/src/nidx.proto
  nidx/src/searcher/grpc.rs
  nucliadb/src/nucliadb/common/cluster/grpc_node_dummy.py
  nucliadb/src/nucliadb/common/cluster/standalone/grpc_node_binding.py
  nucliadb/src/nucliadb/ingest/orm/entities.py
  nucliadb/src/nucliadb/search/api/v1/resource/search.py
  nucliadb/src/nucliadb/search/requesters/utils.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/src/nucliadb/search/search/merge.py
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/src/nucliadb/search/search/shards.py
  nucliadb/tests/search/integration/api/v1/test_search.py
  nucliadb/tests/search/unit/search/requesters/test_utils.py
  nucliadb/tests/search/unit/test_merge.py
  nucliadb_node/src/grpc/grpc_reader.rs
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_node/tests/test_search_relations.rs
  nucliadb_node_binding/src/reader.rs
  nucliadb_node_binding/tests/integration/test_indexing.py
  nucliadb_paragraphs3/src/set_query.rs
  nucliadb_protos/nodereader.proto
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2_grpc.py
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2_grpc.pyi
  nucliadb_protos/rust/src/nodereader.rs
Due: lint_nucliadb, lint_nucliadb_node_binding, rustfmt_nucliadb, clippy_nucliadb

Demo of standalone tests
  nidx/nidx_binding/src/lib.rs
  nidx/src/searcher.rs
  nidx/src/searcher/sync.rs
  nucliadb/src/nucliadb/common/nidx.py
  nucliadb/src/nucliadb/search/requesters/utils.py
  nucliadb/tests/nucliadb/integration/test_ask.py
Due: lint_nucliadb

Automatically handle wait_for_sync based on client requests
  nidx/src/searcher/shard_search.rs
  nucliadb/tests/fixtures.py
  nucliadb/tests/nucliadb/integration/common/cluster/test_rebalance.py
  nucliadb/tests/nucliadb/integration/test_ask.py
Due: lint_nucliadb

CI: enable nidx search tests (#2628)
  .github/workflows/ci.yml
  Dockerfile.nidx_prebuilt
  nidx/nidx_protos/build.py
  nucliadb/tests/search/fixtures.py
  nucliadb/tests/search/integration/api/v1/test_search.py
Due: lint_nucliadb

Implement deletions nidx
  nidx/nidx_binding/src/lib.rs
  nidx/src/indexer.rs
  nidx/tests/common/services.rs
  nidx/tests/synced_searcher.rs
  nucliadb/src/nucliadb/common/cluster/manager.py
  nucliadb/tests/fixtures.py
  nucliadb/tests/nucliadb/integration/common/cluster/test_rebalance.py
  nucliadb/tests/utils/__init__.py
Due: lint_nucliadb

Small test fixes
  nucliadb/src/nucliadb/writer/tus/gcs.py
  nucliadb/tests/nucliadb/integration/test_api.py
Due: lint_nucliadb

Charts: Use serviceAccountName instead of deprecated serviceAccount (#2590)
  charts/nidx/templates/indexer-deploy.yaml
  charts/nidx/templates/scheduler-deploy.yaml
  charts/nidx/templates/searcher-deploy.yaml
  charts/nidx/templates/worker-deploy.yaml
  charts/nucliadb/templates/sts.yaml
  charts/nucliadb_ingest/templates/_cronjob_purge.tpl
  charts/nucliadb_ingest/templates/exporter.deploy.yaml
  charts/nucliadb_ingest/templates/ingest-orm-grpc.deploy.yaml
  charts/nucliadb_ingest/templates/ingest-processed-consumer.deploy.yaml
  charts/nucliadb_ingest/templates/ingest-subscriber-workers.deploy.yaml
  charts/nucliadb_ingest/templates/ingest.sts.yaml
  charts/nucliadb_ingest/templates/migrator.deploy.yaml
  charts/nucliadb_ingest/templates/rebalance.cronjob.yaml
  charts/nucliadb_node/templates/node.replicas.deploy.yaml
  charts/nucliadb_node/templates/node.sts.yaml
  charts/nucliadb_reader/templates/reader.deploy.yaml
  charts/nucliadb_search/templates/search.deploy.yaml
  charts/nucliadb_train/templates/train.deploy.yaml
  charts/nucliadb_writer/templates/writer.deploy.yaml
Due: none

I don't know anymore
  nidx/nidx_binding/src/lib.rs
  nidx/nidx_tests/src/lib.rs
  nidx/src/indexer.rs
  nidx/tests/synced_searcher.rs
  nucliadb/tests/nucliadb/integration/test_reindex.py
Due: lint_nucliadb

Catch nats timeout errors
  nucliadb/src/nucliadb/writer/api/v1/transaction.py
  nucliadb_utils/src/nucliadb_utils/transaction.py
Due: lint_nucliadb, lint_nucliadb_utils

missing file
  nucliadb/tests/utils/dirty_index.py
Due: lint_nucliadb

lint
  nucliadb/tests/nucliadb/integration/test_api.py
  nucliadb/tests/nucliadb/integration/test_reindex.py
Due: lint_nucliadb

Fix import
  nucliadb/src/nucliadb/writer/tus/gcs.py
Due: lint_nucliadb

Standalone tests (except rollovers) (#2629)
  nidx/nidx_binding/src/lib.rs
  nidx/nidx_tests/src/lib.rs
  nidx/src/indexer.rs
  nidx/src/searcher.rs
  nidx/src/searcher/shard_search.rs
  nidx/src/searcher/sync.rs
  nidx/tests/common/services.rs
  nidx/tests/synced_searcher.rs
  nucliadb/src/nucliadb/common/cluster/manager.py
  nucliadb/src/nucliadb/common/nidx.py
  nucliadb/src/nucliadb/search/requesters/utils.py
  nucliadb/src/nucliadb/writer/tus/gcs.py
  nucliadb/tests/fixtures.py
  nucliadb/tests/nucliadb/integration/test_ask.py
  nucliadb/tests/nucliadb/integration/test_reindex.py
  nucliadb/tests/utils/__init__.py
  nucliadb/tests/utils/dirty_index.py
Due: lint_nucliadb
