Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

isort_nucliadb:
  name: Isort
  entry: isort --profile black -c
  language: system

black_nucliadb:
  name: Black
  entry: black --check --verbose
  language: system

flake8_nucliadb:
  name: Flake8
  entry: flake8 --config=nucliadb/setup.cfg
  language: system

rustfmt_nucliadb:
  name: fmt
  entry: cargo +nightly fmt --check
  language: system
  pass_filenames: false

clippy_nucliadb:
  name: clippy
  entry: cargo clippy --all-features -- -D warnings
  language: system
  pass_filenames: false

fix
  nucliadb/nucliadb/common/cluster/manager.py
  nucliadb/nucliadb/search/requesters/utils.py
  nucliadb/nucliadb/tests/integration/test_chat.py
Due: none

fix test
  nucliadb/nucliadb/search/tests/unit/test_predict.py
Due: none

Use read only transaction more on search (#1726)
  nucliadb/nucliadb/common/cluster/manager.py
  nucliadb/nucliadb/common/datamanagers/cluster.py
  nucliadb/nucliadb/common/datamanagers/kb.py
  nucliadb/nucliadb/common/maindb/pg.py
  nucliadb/nucliadb/common/maindb/tikv.py
  nucliadb/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/nucliadb/search/predict.py
  nucliadb/nucliadb/search/requesters/utils.py
  nucliadb/nucliadb/search/search/chat/prompt.py
  nucliadb/nucliadb/search/search/query.py
  nucliadb/nucliadb/search/tests/unit/test_predict.py
  nucliadb/nucliadb/tests/integration/test_chat.py
  nucliadb_node/nucliadb_node/tests/fixtures.py
  nucliadb_node/nucliadb_node/tests/unit/test_indexer.py
  nucliadb_utils/nucliadb_utils/keys.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Add prometheus metrics to resource cache
  nucliadb_core/src/metrics/meters/mod.rs
  nucliadb_core/src/metrics/meters/prometheus.rs
  nucliadb_core/src/metrics/metric/mod.rs
  nucliadb_core/src/metrics/metric/shard_cache.rs
  nucliadb_node/src/grpc/grpc_reader.rs
  nucliadb_node/src/grpc/grpc_writer.rs
  nucliadb_node/src/shards/providers/shard_cache/resource_cache.rs
Due: rustfmt_nucliadb, clippy_nucliadb

wip
  nucliadb_models/nucliadb_models/__init__.py
  nucliadb_models/nucliadb_models/query.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

wip
  nucliadb_models/nucliadb_models/query.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

more validation for rag strategies
  nucliadb/nucliadb/search/search/chat/prompt.py
  nucliadb/nucliadb/tests/integration/test_chat.py
  nucliadb_models/nucliadb_models/search.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Make resource cache tests more consistent when running single threaded
  nucliadb_node/src/shards/providers/shard_cache/resource_cache.rs
Due: rustfmt_nucliadb, clippy_nucliadb

fix predict test
  nucliadb/nucliadb/search/tests/unit/test_predict.py
Due: none

remove duplicate test: it is already being tested in nucliadb/integration
  nucliadb/nucliadb/search/tests/integration/api/v1/test_search.py
Due: none

move test to nucliadb/integration
  nucliadb/nucliadb/search/tests/integration/api/v1/test_search.py
  nucliadb/nucliadb/tests/integration/search/test_search.py
Due: none

moved more tests
  nucliadb/nucliadb/search/tests/integration/api/v1/test_search.py
  nucliadb/nucliadb/tests/integration/search/test_search.py
Due: none

more
  nucliadb/nucliadb/search/tests/integration/api/v1/test_knowledgebox.py
  nucliadb/nucliadb/search/tests/integration/api/v1/test_search.py
  nucliadb/nucliadb/search/tests/integration/api/v1/test_suggest.py
  nucliadb/nucliadb/tests/integration/test_suggest.py
Due: none

Add more tests
  nucliadb/nucliadb/search/api/v1/chat.py
  nucliadb/nucliadb/tests/integration/test_chat.py
Due: none

moved find test
  nucliadb/nucliadb/search/tests/integration/api/v1/test_find.py
  nucliadb/nucliadb/search/tests/integration/requesters/test_utils.py
  nucliadb/nucliadb/tests/integration/test_find.py
Due: none

remove find test: duplicate!
  nucliadb/nucliadb/search/tests/integration/api/v1/test_find.py
Due: none

run all combinations, but not in parallel
  .github/workflows/nucliadb_search.yml
Due: none

fix predict tests
  nucliadb/nucliadb/search/tests/unit/test_predict.py
Due: none

fix more tests
  nucliadb/nucliadb/search/tests/unit/search/test_chat_prompt.py
  nucliadb/nucliadb/search/tests/unit/search/test_query.py
Due: none

More validation for rag strategies (#1776)
  nucliadb/nucliadb/search/api/v1/chat.py
  nucliadb/nucliadb/search/search/chat/prompt.py
  nucliadb/nucliadb/search/tests/unit/search/test_chat_prompt.py
  nucliadb/nucliadb/search/tests/unit/search/test_query.py
  nucliadb/nucliadb/search/tests/unit/test_predict.py
  nucliadb/nucliadb/tests/integration/test_chat.py
  nucliadb_models/nucliadb_models/search.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix versions
  .github/workflows/release.yml
Due: none

fix test
  nucliadb/nucliadb/search/tests/integration/requesters/test_utils.py
Due: none

fix versions (#1778)
  .github/workflows/release.yml
Due: none

fix persitent volume for chart
  charts/nucliadb/templates/sts.yaml
Due: none

Reduce heavy search integration tests (#1777)
  .github/workflows/nucliadb_search.yml
  nucliadb/nucliadb/search/tests/integration/api/v1/test_find.py
  nucliadb/nucliadb/search/tests/integration/api/v1/test_knowledgebox.py
  nucliadb/nucliadb/search/tests/integration/api/v1/test_search.py
  nucliadb/nucliadb/search/tests/integration/api/v1/test_suggest.py
  nucliadb/nucliadb/search/tests/integration/requesters/test_utils.py
  nucliadb/nucliadb/tests/integration/search/test_search.py
  nucliadb/nucliadb/tests/integration/test_find.py
  nucliadb/nucliadb/tests/integration/test_suggest.py
Due: none

fix chart version semVer2
  .github/workflows/release.yml
Due: none

Fix persitent volume claim for chart (#1779)
  .github/workflows/release.yml
  charts/nucliadb/templates/sts.yaml
Due: none

Add prometheus metrics to resource cache (#1774)
  nucliadb_core/src/metrics/meters/mod.rs
  nucliadb_core/src/metrics/meters/prometheus.rs
  nucliadb_core/src/metrics/metric/mod.rs
  nucliadb_core/src/metrics/metric/shard_cache.rs
  nucliadb_node/src/grpc/grpc_reader.rs
  nucliadb_node/src/grpc/grpc_writer.rs
  nucliadb_node/src/shards/providers/shard_cache/resource_cache.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Let the install script create the systemd unit (#1772)
  scripts/install-vm.sh
Due: none

nicer api
  nucliadb_models/nucliadb_models/query.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

polishments
  nucliadb_models/nucliadb_models/query.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

done
  .github/workflows/release.yml
  charts/nucliadb/Chart.yaml
  charts/nucliadb/templates/sts.yaml
Due: none

restrict aiohttp
  nucliadb/requirements.txt
  nucliadb_utils/requirements.txt
Due: none

Fix helm chart publishing (#1780)
  .github/workflows/release.yml
  charts/nucliadb/Chart.yaml
  charts/nucliadb/templates/sts.yaml
  nucliadb/requirements.txt
  nucliadb_utils/requirements.txt
Due: none

Install script also installs an upgrade script
  scripts/install-vm.sh
Due: none

Use a more clear naming between shard and node replicas
  nucliadb/nucliadb/common/cluster/manager.py
  nucliadb/nucliadb/search/api/v1/search.py
  nucliadb/nucliadb/search/requesters/utils.py
  nucliadb/nucliadb/search/search/chat/query.py
  nucliadb/nucliadb/search/search/find.py
Due: none

Lints
  nucliadb/nucliadb/common/cluster/manager.py
Due: none

Test multiple combinations of nodes and read replicas
  nucliadb/nucliadb/tests/unit/common/cluster/test_manager.py
Due: none

choose_node prefer secondaries when read_only
  nucliadb/nucliadb/common/cluster/manager.py
Due: none

Path conditions:
  isort_nucliadb: any of: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)(^nucliadb_performace/) and \.py$
  black_nucliadb: any of: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)(^nucliadb_performace/) and \.py$
  flake8_nucliadb: any of: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)(^nucliadb_performace/) and \.py$
  rustfmt_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
  clippy_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
