Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint_nucliadb
        name: Lint nucliadb
        entry: make -C nucliadb lint
        language: system
        files: (^nucliadb/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_dataset
        name: Lint nucliadb_dataset
        entry: make -C nucliadb_dataset lint
        language: system
        files: (^nucliadb_dataset/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_models
        name: Lint nucliadb_models
        entry: make -C nucliadb_models lint
        language: system
        files: (^nucliadb_models/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_node
        name: Lint nucliadb_node
        entry: make -C nucliadb_node lint
        language: system
        files: (^nucliadb_node/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_node_binding
        name: Lint nucliadb_node_binding
        entry: make -C nucliadb_node_binding lint
        language: system
        files: (^nucliadb_node_binding/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_performance
        name: Lint nucliadb_performance
        entry: make -C nucliadb_performance lint
        language: system
        files: (^nucliadb_performance/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_sdk
        name: Lint nucliadb_sdk
        entry: make -C nucliadb_sdk lint
        language: system
        files: (^nucliadb_sdk/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_telemetry
        name: Lint nucliadb_telemetry
        entry: make -C nucliadb_telemetry lint
        language: system
        files: (^nucliadb_telemetry/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_utils
        name: Lint nucliadb_utils
        entry: make -C nucliadb_utils lint
        language: system
        files: (^nucliadb_utils/)
        types: ["python"]
        pass_filenames: false

      - id: rustfmt_nucliadb
        name: fmt
        entry: cargo fmt --check
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nucliadb
        name: clippy
        entry: cargo clippy --all-features -- -D warnings
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

Migrate more search tests
  nidx/src/searcher/shard_search.rs
  nidx/tests/common/services.rs
  nidx/tests/test_date_range_search.rs
  nidx/tests/test_search_fields_filtering.rs
  nidx/tests/test_search_relations.rs
  nidx/tests/test_search_sorting.rs
  nidx/tests/test_security_search.rs
Due: none

Migrate date filter test
  nidx/nidx_paragraph/src/lib.rs
  nidx/nidx_relation/src/lib.rs
  nidx/nidx_tantivy/src/lib.rs
  nidx/nidx_tests/src/lib.rs
  nidx/nidx_text/src/lib.rs
  nidx/src/searcher/sync.rs
  nidx/tests/common/services.rs
  nidx/tests/shards_api.rs
  nidx/tests/test_date_range_search.rs
Due: none

Missing shard_suggest module
  nidx/src/searcher/shard_suggest.rs
Due: none

Remove unneeded allow
  nidx/tests/test_suggest.rs
Due: none

Add basic tests for shards with/without vectorsets
  nidx/tests/test_vectorsets.rs
Due: none

Implement add and list vectorsets
  nidx/src/api/grpc.rs
  nidx/tests/test_vectorsets.rs
Due: none

Remove rayon from relations and don't parallelize sugggest
  nidx/Cargo.lock
  nidx/nidx_relation/Cargo.toml
  nidx/nidx_relation/src/lib.rs
Due: none

Text fields with new line behavior on processing
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/resources.proto
  nucliadb_protos/rust/src/resources.rs
Due: none

Upload
  nucliadb_models/src/nucliadb_models/text.py
Due: lint_nucliadb_models

Implement remove vectorsets
  nidx/src/api/grpc.rs
  nidx/src/api/shards.rs
  nidx/tests/test_vectorsets.rs
Due: none

cargo fmt
  nidx/src/api/grpc.rs
  nidx/tests/test_vectorsets.rs
Due: none

Text fields with new line behavior on processing (#2623)
  nucliadb_models/src/nucliadb_models/text.py
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/resources.proto
  nucliadb_protos/rust/src/resources.rs
Due: lint_nucliadb_models

Change error string
  nidx/src/api/shards.rs
Due: none

Nidx search test (#2619)
  nidx/Cargo.lock
  nidx/Cargo.toml
  nidx/nidx_paragraph/src/lib.rs
  nidx/nidx_relation/src/lib.rs
  nidx/nidx_tantivy/src/lib.rs
  nidx/nidx_tests/src/lib.rs
  nidx/nidx_text/src/lib.rs
  nidx/src/api/grpc.rs
  nidx/src/api/shards.rs
  nidx/src/searcher.rs
  nidx/src/searcher/grpc.rs
  nidx/src/searcher/shard_search.rs
  nidx/src/searcher/shard_suggest.rs
  nidx/src/searcher/sync.rs
  nidx/tests/common/services.rs
  nidx/tests/shards_api.rs
  nidx/tests/test_date_range_search.rs
  nidx/tests/test_search_fields_filtering.rs
  nidx/tests/test_search_relations.rs
  nidx/tests/test_search_sorting.rs
  nidx/tests/test_security_search.rs
  nidx/tests/test_suggest.rs
  nidx/tests/test_vector_normalization.rs
  nidx/tests/test_vectorsets.rs
Due: none

Skeleton for binding and pyprotos
  nidx/Cargo.lock
  nidx/Cargo.toml
  nidx/nidx_binding/Cargo.toml
  nidx/nidx_binding/pyproject.toml
  nidx/nidx_binding/src/lib.rs
  nidx/nidx_protos/build.py
  nidx/nidx_protos/pyproject.toml
  nidx/src/settings.rs
Due: none

Indexer and scheduler in binding
  nidx/.sqlx/query-8493bb0059b013eaca42fd10cd7d04f0d06a8acaed379eff0d23f3229edde9ee.json
  nidx/nidx_binding/src/lib.rs
  nidx/src/indexer.rs
  nidx/src/maintenance/scheduler.rs
  nidx/src/maintenance/worker.rs
  nidx/src/metadata.rs
  nucliadb/src/nucliadb/common/nidx.py
Due: lint_nucliadb

Separate nidx utility
  nidx/nidx_binding/src/lib.rs
  nidx/src/settings.rs
  nucliadb/src/nucliadb/common/cluster/settings.py
  nucliadb/src/nucliadb/common/nidx.py
  nucliadb/src/nucliadb/ingest/app.py
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/src/nucliadb/standalone/config.py
Due: lint_nucliadb

Update nucliadb/src/nucliadb/common/cluster/settings.py
  nucliadb/src/nucliadb/common/cluster/settings.py
Due: lint_nucliadb

nidx_binding example usage
  nidx/nidx_binding/src/lib.rs
  nidx/nidx_protos/build.py
  nidx/nidx_protos/pyproject.toml
  nucliadb/src/nucliadb/common/cluster/manager.py
  nucliadb/src/nucliadb/common/nidx.py
  pdm.lock
  pyproject.toml
Due: lint_nucliadb

trigger ci
  nidx/src/metadata.rs
Due: none

Use nidx for search
  nucliadb/src/nucliadb/common/nidx.py
  nucliadb/src/nucliadb/search/requesters/utils.py
Due: lint_nucliadb

No nidx in CI
  .github/workflows/ci.yml
Due: none

Do not deploy when jobs were skipped
  .github/workflows/deploy.yml
Due: none

Optional nidx
  nucliadb/src/nucliadb/common/nidx.py
Due: lint_nucliadb

Nidx binding (#2620)
  .github/workflows/ci.yml
  nidx/.sqlx/query-8493bb0059b013eaca42fd10cd7d04f0d06a8acaed379eff0d23f3229edde9ee.json
  nidx/Cargo.lock
  nidx/Cargo.toml
  nidx/nidx_binding/Cargo.toml
  nidx/nidx_binding/pyproject.toml
  nidx/nidx_binding/src/lib.rs
  nidx/nidx_protos/build.py
  nidx/nidx_protos/pyproject.toml
  nidx/src/indexer.rs
  nidx/src/maintenance/scheduler.rs
  nidx/src/maintenance/worker.rs
  nidx/src/metadata.rs
  nidx/src/settings.rs
  nucliadb/src/nucliadb/common/cluster/manager.py
  nucliadb/src/nucliadb/common/cluster/settings.py
  nucliadb/src/nucliadb/common/nidx.py
  nucliadb/src/nucliadb/ingest/app.py
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/src/nucliadb/search/requesters/utils.py
  nucliadb/src/nucliadb/standalone/config.py
  pdm.lock
  pyproject.toml
Due: lint_nucliadb

Port suggest to nidx
  nidx/Cargo.lock
  nidx/nidx_relation/Cargo.toml
Due: none

nidx: Storage settings for tests
  nidx/src/searcher/sync.rs
  nucliadb/src/nucliadb/common/nidx.py
  nucliadb/tests/fixtures.py
  nucliadb_utils/src/nucliadb_utils/settings.py
  nucliadb_utils/src/nucliadb_utils/tests/gcs.py
  nucliadb_utils/src/nucliadb_utils/tests/local.py
  nucliadb_utils/src/nucliadb_utils/tests/s3.py
Due: lint_nucliadb, lint_nucliadb_utils

Global nidx toggle
  nucliadb/src/nucliadb/common/nidx.py
  nucliadb/src/nucliadb/search/api/v1/find.py
  nucliadb/src/nucliadb/search/requesters/utils.py
  nucliadb/src/nucliadb/search/search/find.py
Due: lint_nucliadb

Do not deploy when jobs were skipped (#2624)
  .github/workflows/deploy.yml
Due: none

fix merge:No rayon
  nidx/Cargo.lock
  nidx/nidx_relation/Cargo.toml
Due: none

lint
  nucliadb/src/nucliadb/common/cluster/settings.py
  nucliadb/src/nucliadb/common/nidx.py
Due: lint_nucliadb

More optional nidx
  nucliadb/src/nucliadb/common/nidx.py
Due: lint_nucliadb

Nidx binding for tests (#2625)
  nidx/src/searcher/sync.rs
  nucliadb/src/nucliadb/common/cluster/settings.py
  nucliadb/src/nucliadb/common/nidx.py
  nucliadb/src/nucliadb/search/api/v1/find.py
  nucliadb/src/nucliadb/search/requesters/utils.py
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/tests/fixtures.py
  nucliadb_utils/src/nucliadb_utils/settings.py
  nucliadb_utils/src/nucliadb_utils/tests/gcs.py
  nucliadb_utils/src/nucliadb_utils/tests/local.py
  nucliadb_utils/src/nucliadb_utils/tests/s3.py
Due: lint_nucliadb, lint_nucliadb_utils

Reuse session nidx/node fixture
  nucliadb/tests/search/node.py
Due: lint_nucliadb

Search tests
  nidx/.sqlx/query-ee3945337ad0bd6b57de7e60613a9cd10eced6e76235f7fb0fdd7fa528f4a191.json
  nidx/src/api.rs
  nidx/src/main.rs
  nidx/src/metadata/shard.rs
  nidx/src/searcher.rs
  nucliadb/src/nucliadb/search/lifecycle.py
  nucliadb/tests/search/fixtures.py
  nucliadb/tests/search/integration/api/v1/test_search.py
  nucliadb/tests/search/node.py
Due: lint_nucliadb

Correctly disable nidx fixture
  nucliadb/tests/search/node.py
Due: lint_nucliadb

Happy mypy
  nucliadb/tests/search/fixtures.py
Due: lint_nucliadb

Allow running search cluster tests with nidx (#2627)
  nidx/.sqlx/query-ee3945337ad0bd6b57de7e60613a9cd10eced6e76235f7fb0fdd7fa528f4a191.json
  nidx/src/api.rs
  nidx/src/main.rs
  nidx/src/metadata/shard.rs
  nidx/src/searcher.rs
  nucliadb/src/nucliadb/search/lifecycle.py
  nucliadb/tests/search/fixtures.py
  nucliadb/tests/search/integration/api/v1/test_search.py
  nucliadb/tests/search/node.py
Due: lint_nucliadb

CI: enable nidx search tests
  .github/workflows/ci.yml
Due: none

Re-add flaky tests mark
  nucliadb/tests/search/integration/api/v1/test_search.py
Due: lint_nucliadb
