Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

lint_nucliadb:
  name: Lint nucliadb
  entry: make -C nucliadb lint
  language: system

lint_nucliadb_dataset:
  name: Lint nucliadb_dataset
  entry: make -C nucliadb_dataset lint
  language: system

lint_nucliadb_models:
  name: Lint nucliadb_models
  entry: make -C nucliadb_models lint
  language: system

lint_nucliadb_node:
  name: Lint nucliadb_node
  entry: make -C nucliadb_node lint
  language: system

lint_nucliadb_node_binding:
  name: Lint nucliadb_node_binding
  entry: make -C nucliadb_node_binding lint
  language: system

lint_nucliadb_performance:
  name: Lint nucliadb_performance
  entry: make -C nucliadb_performance lint
  language: system

lint_nucliadb_sdk:
  name: Lint nucliadb_sdk
  entry: make -C nucliadb_sdk lint
  language: system

lint_nucliadb_telemetry:
  name: Lint nucliadb_telemetry
  entry: make -C nucliadb_telemetry lint
  language: system

lint_nucliadb_utils:
  name: Lint nucliadb_utils
  entry: make -C nucliadb_utils lint
  language: system

rustfmt_nucliadb:
  name: fmt
  entry: cargo +nightly fmt --check
  language: system
  pass_filenames: false

clippy_nucliadb:
  name: clippy
  entry: cargo clippy --all-features -- -D warnings
  language: system
  pass_filenames: false

Try now
  nucliadb_node/nucliadb_node/tests/unit/test_indexer.py
  nucliadb_utils/nucliadb_utils/featureflagging.py
Due: lint_nucliadb_node, lint_nucliadb_utils

try
  scripts/install-vm.sh
Due: none

Fix
  scripts/install-vm.sh
Due: none

Fix
  Makefile
Due: none

Update nucliadb/nucliadb/search/search/query.py
  nucliadb/nucliadb/search/search/query.py
Due: lint_nucliadb

Fix
  nucliadb/nucliadb/search/search/query.py
Due: lint_nucliadb

from lock
  scripts/install-vm.sh
Due: none

Fix tests
  nucliadb_node/nucliadb_node/tests/integration/test_indexing.py
Due: lint_nucliadb_node

try remote lock txt
  scripts/install-vm.sh
Due: none

Added limits to pagination (#2108)
  Makefile
  nucliadb/nucliadb/search/api/v1/utils.py
  nucliadb/nucliadb/search/search/query.py
  nucliadb/nucliadb/tests/integration/test_api.py
  nucliadb_models/nucliadb_models/common.py
  nucliadb_models/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

Fix fedora e2e (#2109)
  scripts/install-vm.sh
Due: none

Be able to index a resource by storage referece (#2094)
  Cargo.lock
  nucliadb/nucliadb/common/cluster/grpc_node_dummy.py
  nucliadb/nucliadb/common/cluster/manager.py
  nucliadb/nucliadb/search/tests/integration/api/v1/test_search.py
  nucliadb/nucliadb/search/tests/node.py
  nucliadb_core/src/metrics/meters/prometheus.rs
  nucliadb_node/Cargo.toml
  nucliadb_node/nucliadb_node/indexer.py
  nucliadb_node/nucliadb_node/tests/fixtures.py
  nucliadb_node/nucliadb_node/tests/integration/test_indexing.py
  nucliadb_node/nucliadb_node/tests/unit/test_indexer.py
  nucliadb_node/nucliadb_node/writer.py
  nucliadb_node/src/grpc/grpc_writer.rs
  nucliadb_node/src/settings.rs
  nucliadb_node/tests/test_set_resource_from_storage.rs
  nucliadb_node_binding/src/writer.rs
  nucliadb_protos/nodewriter.proto
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2_grpc.py
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2_grpc.pyi
  nucliadb_protos/rust/src/nodewriter.rs
  nucliadb_utils/nucliadb_utils/const.py
  nucliadb_utils/nucliadb_utils/featureflagging.py
  scripts/install-vm.sh
Due: lint_nucliadb, lint_nucliadb_node, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

fix
  scripts/install-vm.sh
Due: none

more resilient env var serialization
  nucliadb_node/src/settings.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Set shard id
  nucliadb_node/nucliadb_node/indexer.py
  nucliadb_node/src/grpc/grpc_writer.rs
Due: lint_nucliadb_node, rustfmt_nucliadb, clippy_nucliadb

Set shard id
  nucliadb_node/src/grpc/grpc_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Simulate the same resource payload as when coming from storage
  nucliadb_node/src/grpc/grpc_writer.rs
  nucliadb_node/tests/test_set_resource_from_storage.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Fix fedora install too
  nucliadb_node/tests/test_set_resource_from_storage.rs
  scripts/install-vm.sh
Due: rustfmt_nucliadb, clippy_nucliadb

Set resource from storage tweaks (#2111)
  nucliadb_node/nucliadb_node/indexer.py
  nucliadb_node/src/grpc/grpc_writer.rs
  nucliadb_node/src/settings.rs
  nucliadb_node/tests/test_set_resource_from_storage.rs
  scripts/install-vm.sh
Due: lint_nucliadb_node, rustfmt_nucliadb, clippy_nucliadb

Faster HNSW insertion (#2102)
  nucliadb_vectors/src/data_point/ops_hnsw.rs
  nucliadb_vectors/src/data_point/params.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Fix S3 storage delete_object param name
  nucliadb_utils/nucliadb_utils/storages/s3.py
Due: lint_nucliadb_utils

Deprecated unused OpStatus fields and don't compute counters anymore
  nucliadb/nucliadb/common/cluster/grpc_node_dummy.py
  nucliadb_node/src/grpc/grpc_writer.rs
  nucliadb_node/src/shards/shard_writer.rs
  nucliadb_node_binding/src/writer.rs
  nucliadb_protos/nodewriter.proto
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.py
  nucliadb_protos/rust/src/nodewriter.rs
Due: lint_nucliadb, rustfmt_nucliadb, clippy_nucliadb

alias
  nucliadb_node/src/shards/versioning.rs
Due: rustfmt_nucliadb, clippy_nucliadb

alias (#2115)
  nucliadb_node/src/shards/versioning.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Add shard indexes metadata file (#2103)
  nucliadb_core/src/query_planner.rs
  nucliadb_core/src/vectors.rs
  nucliadb_node/src/shards/indexes.rs
  nucliadb_node/src/shards/metadata.rs
  nucliadb_node/src/shards/mod.rs
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_node/src/shards/shard_writer.rs
  nucliadb_node/src/shards/versioning.rs
  nucliadb_vectors/src/service/reader.rs
  nucliadb_vectors/src/service/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Deprecated unused OpStatus fields and don't compute counters anymore (#2114)
  nucliadb/nucliadb/common/cluster/grpc_node_dummy.py
  nucliadb_node/src/grpc/grpc_writer.rs
  nucliadb_node/src/shards/shard_writer.rs
  nucliadb_node_binding/src/writer.rs
  nucliadb_protos/nodewriter.proto
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.py
  nucliadb_protos/rust/src/nodewriter.rs
Due: lint_nucliadb, rustfmt_nucliadb, clippy_nucliadb

Create indexes passsing its config by value
  nucliadb_node/src/shards/shard_writer.rs
  nucliadb_paragraphs2/src/reader.rs
  nucliadb_paragraphs2/src/writer.rs
  nucliadb_paragraphs3/src/reader.rs
  nucliadb_paragraphs3/src/writer.rs
  nucliadb_relations2/src/writer.rs
  nucliadb_relations2/tests/test_reader.rs
  nucliadb_relations2/tests/test_writer.rs
  nucliadb_texts2/src/writer.rs
  nucliadb_texts2/tests/common/mod.rs
  nucliadb_texts2/tests/test_reader.rs
  nucliadb_texts2/tests/test_writer.rs
  nucliadb_vectors/src/service/reader.rs
  nucliadb_vectors/src/service/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Create indexes passsing its config by value (#2116)
  nucliadb_node/src/shards/shard_writer.rs
  nucliadb_paragraphs2/src/reader.rs
  nucliadb_paragraphs2/src/writer.rs
  nucliadb_paragraphs3/src/reader.rs
  nucliadb_paragraphs3/src/writer.rs
  nucliadb_relations2/src/writer.rs
  nucliadb_relations2/tests/test_reader.rs
  nucliadb_relations2/tests/test_writer.rs
  nucliadb_texts2/src/writer.rs
  nucliadb_texts2/tests/common/mod.rs
  nucliadb_texts2/tests/test_reader.rs
  nucliadb_texts2/tests/test_writer.rs
  nucliadb_vectors/src/service/reader.rs
  nucliadb_vectors/src/service/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Less locking in ShardWriter
  nucliadb_core/src/paragraphs.rs
  nucliadb_core/src/relations.rs
  nucliadb_core/src/texts.rs
  nucliadb_core/src/vectors.rs
  nucliadb_node/src/cache/writer_cache.rs
  nucliadb_node/src/shards/shard_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

bump
  Makefile
  nucliadb/requirements.lock.txt
  nucliadb/requirements.txt
  nucliadb_node/requirements.txt
  nucliadb_protos/python/setup.py
  nucliadb_telemetry/requirements-test.txt
  nucliadb_telemetry/setup.py
  test-requirements.txt
Due: lint_nucliadb_telemetry

Store indexes file using write-and-rename
  nucliadb_node/src/shards/indexes.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Use tracing::info instead of println
  nucliadb_node/src/settings.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Fix
  nucliadb/nucliadb/reader/tests/fixtures.py
  nucliadb/nucliadb/writer/tests/fixtures.py
Due: lint_nucliadb

fix
  nucliadb/nucliadb/tests/fixtures.py
Due: lint_nucliadb

fix types
  nucliadb/nucliadb/writer/tests/fixtures.py
Due: lint_nucliadb

Less locking in ShardWriter (#2117)
  nucliadb_core/src/paragraphs.rs
  nucliadb_core/src/relations.rs
  nucliadb_core/src/texts.rs
  nucliadb_core/src/vectors.rs
  nucliadb_node/src/cache/writer_cache.rs
  nucliadb_node/src/shards/shard_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Flush contents before renaming
  nucliadb_node/src/shards/indexes.rs
Due: rustfmt_nucliadb, clippy_nucliadb

fix more tests
  nucliadb/nucliadb/reader/tests/benchmarks/test_knowledgebox.py
  nucliadb/nucliadb/standalone/tests/fixtures.py
  nucliadb/nucliadb/writer/tests/fixtures.py
  nucliadb/nucliadb/writer/tests/test_knowledgebox.py
  nucliadb/nucliadb/writer/tests/test_service.py
Due: lint_nucliadb

Store indexes file by write and rename (#2120)
  nucliadb_node/src/settings.rs
  nucliadb_node/src/shards/indexes.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Path conditions:
  lint_nucliadb: any of: (^nucliadb/) and \.py$
  lint_nucliadb_dataset: any of: (^nucliadb_dataset/) and \.py$
  lint_nucliadb_models: any of: (^nucliadb_models/) and \.py$
  lint_nucliadb_node: any of: (^nucliadb_node/) and \.py$
  lint_nucliadb_node_binding: any of: (^nucliadb_node_binding/) and \.py$
  lint_nucliadb_performance: any of: (^nucliadb_performance/) and \.py$
  lint_nucliadb_sdk: any of: (^nucliadb_sdk/) and \.py$
  lint_nucliadb_telemetry: any of: (^nucliadb_telemetry/) and \.py$
  lint_nucliadb_utils: any of: (^nucliadb_utils/) and \.py$
  rustfmt_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
  clippy_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
