Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort_ingest, black_ingest, flake8_ingest, isort_utils, black_utils, flake8_utils

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: isort_ingest
    name: ISort Ingest
    entry: isort --profile black -c
    language: system
    files: nucliadb_ingest/.*\.py$$
  - id: black_ingest
    name: Black Ingest
    entry: black --check --verbose
    language: system
    files: nucliadb_ingest/.*\.py$$
  - id: flake8_ingest
    name: Flake8 Ingest
    entry: flake8 --config=nucliadb_ingest/setup.cfg
    language: system
    files: nucliadb_ingest/.*\.py$$
  - id: isort_utils
    name: ISort UTILS
    entry: isort --profile black -c
    language: system
    files: nucliadb_utils/.*\.py$$
  - id: black_utils
    name: Black UTILS
    entry: black --check --verbose
    language: system
    files: nucliadb_utils/.*\.py$$
  - id: flake8_utils
    name: Flake8 UTILS
    entry: flake8 --config=nucliadb_utils/setup.cfg
    language: system
    files: nucliadb_utils/.*\.py$$

Added boolean field on EntityGroups
  nucliadb_models/nucliadb_models/entities.py
  nucliadb_protos/knowledgebox.proto
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.pyi
  nucliadb_protos/rust/src/knowledgebox.rs
  nucliadb_protos/rust/src/nodereader.rs
  nucliadb_protos/rust/src/nodewriter.rs
  nucliadb_writer/nucliadb_writer/api/v1/services.py
  nucliadb_writer/nucliadb_writer/tests/test_service.py
Due: none

Fix test
  nucliadb_one/nucliadb_one/tests/test_services.py
Due: none

Fix pagination (#264)
  nucliadb_search/nucliadb_search/api/v1/search.py
  nucliadb_search/nucliadb_search/search/merge.py
  nucliadb_search/nucliadb_search/tests/test_basic_search.py
Due: none

Added boolean `custom` field on EntityGroups (#266)
  nucliadb_ingest/nucliadb_ingest/tests/servicer/test_entities_servicer.py
  nucliadb_models/nucliadb_models/entities.py
  nucliadb_one/nucliadb_one/tests/test_services.py
  nucliadb_protos/knowledgebox.proto
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.pyi
  nucliadb_protos/rust/src/knowledgebox.rs
  nucliadb_protos/rust/src/nodereader.rs
  nucliadb_protos/rust/src/nodewriter.rs
  nucliadb_writer/nucliadb_writer/api/v1/services.py
  nucliadb_writer/nucliadb_writer/tests/test_service.py
Due: isort_ingest, black_ingest, flake8_ingest

More fixing increase coverage
  Makefile
  nucliadb_client/examples/vectors.py
  nucliadb_client/nucliadb_client/client.py
  nucliadb_client/nucliadb_client/exceptions.py
  nucliadb_client/nucliadb_client/tests/__init__.py
  nucliadb_client/nucliadb_client/tests/test_export.py
  nucliadb_client/nucliadb_client/tests/test_resource.py
  nucliadb_ingest/nucliadb_ingest/service/__init__.py
  nucliadb_ingest/nucliadb_ingest/settings.py
  nucliadb_ingest/nucliadb_ingest/tests/servicer/test_export.py
  nucliadb_telemetry/nucliadb_telemetry/grpc.py
Due: isort_ingest, black_ingest, flake8_ingest

codecov
  nucliadb_ingest/nucliadb_ingest/orm/resource.py
  nucliadb_ingest/nucliadb_ingest/service/writer.py
  nucliadb_ingest/nucliadb_ingest/tests/servicer/test_export.py
  nucliadb_telemetry/nucliadb_telemetry/grpc.py
Due: isort_ingest, black_ingest, flake8_ingest

Fixing Export (#270)
  Makefile
  nucliadb_client/examples/Makefile
  nucliadb_client/examples/exporting.py
  nucliadb_client/examples/vectors.py
  nucliadb_client/nucliadb_client/__init__.py
  nucliadb_client/nucliadb_client/client.py
  nucliadb_client/nucliadb_client/exceptions.py
  nucliadb_client/nucliadb_client/knowledgebox.py
  nucliadb_client/nucliadb_client/tests/__init__.py
  nucliadb_client/nucliadb_client/tests/fixtures.py
  nucliadb_client/nucliadb_client/tests/test_export.py
  nucliadb_client/requirements.txt
  nucliadb_ingest/nucliadb_ingest/orm/resource.py
  nucliadb_ingest/nucliadb_ingest/service/__init__.py
  nucliadb_ingest/nucliadb_ingest/service/writer.py
  nucliadb_ingest/nucliadb_ingest/settings.py
  nucliadb_ingest/nucliadb_ingest/tests/servicer/test_export.py
  nucliadb_telemetry/nucliadb_telemetry/grpc.py
  nucliadb_utils/nucliadb_utils/storages/local.py
  nucliadb_writer/nucliadb_writer/tus/local.py
Due: isort_ingest, black_ingest, flake8_ingest, isort_utils, black_utils, flake8_utils

Avoid vectors on export as option
  .github/workflows/nucliadb_client.yml
  .github/workflows/nucliadb_client_release.yml
  nucliadb_client/examples/Makefile
  nucliadb_ingest/nucliadb_ingest/orm/resource.py
  nucliadb_ingest/nucliadb_ingest/service/writer.py
  nucliadb_ingest/nucliadb_ingest/tests/servicer/test_export.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/rust/src/fdbwriter.rs
  nucliadb_protos/rust/src/nodereader.rs
  nucliadb_protos/rust/src/nodewriter.rs
  nucliadb_protos/writer.proto
Due: isort_ingest, black_ingest, flake8_ingest

Add validator for TokenSplit start and end fields
  nucliadb_models/nucliadb_models/metadata.py
Due: none

Update fieldmetadata tests with token and some other changes
  nucliadb_one/nucliadb_one/tests/test_fieldmetadata.py
Due: none

WIP
  nucliadb_ingest/nucliadb_ingest/orm/resource.py
  nucliadb_models/nucliadb_models/common.py
  nucliadb_models/nucliadb_models/metadata.py
  nucliadb_models/nucliadb_models/resource.py
  nucliadb_models/nucliadb_models/serialize.py
  nucliadb_models/nucliadb_models/utils.py
  nucliadb_one/nucliadb_one/tests/test_fieldmetadata.py
  nucliadb_protos/resources.proto
  nucliadb_reader/nucliadb_reader/api/models.py
  nucliadb_writer/nucliadb_writer/resource/basic.py
  nucliadb_writer/nucliadb_writer/resource/field.py
Due: isort_ingest, black_ingest, flake8_ingest

WIP
  nucliadb_ingest/nucliadb_ingest/orm/resource.py
  nucliadb_models/nucliadb_models/common.py
  nucliadb_models/nucliadb_models/resource.py
  nucliadb_models/nucliadb_models/serialize.py
  nucliadb_models/nucliadb_models/utils.py
  nucliadb_one/nucliadb_one/tests/test_fieldmetadata.py
  nucliadb_reader/nucliadb_reader/api/v1/resource.py
  nucliadb_writer/nucliadb_writer/resource/basic.py
Due: isort_ingest, black_ingest, flake8_ingest

Fix error with set_basic and update fieldmetadata tests
  nucliadb_ingest/nucliadb_ingest/orm/resource.py
  nucliadb_one/nucliadb_one/tests/test_fieldmetadata.py
Due: isort_ingest, black_ingest, flake8_ingest

Clean comments
  nucliadb_one/nucliadb_one/tests/test_fieldmetadata.py
Due: none

WIP TokenSplit validations
  nucliadb_models/nucliadb_models/metadata.py
  nucliadb_one/nucliadb_one/tests/test_fieldmetadata.py
Due: none

Test for fieldmetadata deletion
  nucliadb_one/nucliadb_one/tests/test_fieldmetadata.py
Due: none

Use generate_field_id to represent fields uniquely
  nucliadb_ingest/nucliadb_ingest/orm/resource.py
Due: isort_ingest, black_ingest, flake8_ingest

Implement fieldmetadata update
  nucliadb_ingest/nucliadb_ingest/orm/resource.py
Due: isort_ingest, black_ingest, flake8_ingest

Update protos (generated)
  nucliadb_protos/python/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/rust/src/resources.rs
Due: none

Fix black
  nucliadb_one/nucliadb_one/tests/test_fieldmetadata.py
Due: none

Remove validation of start and end and fix tests
  nucliadb_models/nucliadb_models/metadata.py
  nucliadb_one/nucliadb_one/tests/test_fieldmetadata.py
  nucliadb_reader/nucliadb_reader/tests/test_reader_resource.py
  nucliadb_writer/nucliadb_writer/tests/test_resources.py
Due: none

FIx
  .github/workflows/nucliadb.yml
  Makefile
Due: none

xfail flaky tests on Github actions
  nucliadb_search/nucliadb_search/tests/test_basic_search.py
Due: none

Adding fieldmetadata on resources (#267)
  nucliadb_ingest/nucliadb_ingest/orm/resource.py
  nucliadb_models/nucliadb_models/common.py
  nucliadb_models/nucliadb_models/metadata.py
  nucliadb_models/nucliadb_models/resource.py
  nucliadb_models/nucliadb_models/serialize.py
  nucliadb_one/nucliadb_one/tests/test_fieldmetadata.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/resources.proto
  nucliadb_protos/rust/src/resources.rs
  nucliadb_reader/nucliadb_reader/api/models.py
  nucliadb_reader/nucliadb_reader/api/v1/resource.py
  nucliadb_reader/nucliadb_reader/tests/test_reader_resource.py
  nucliadb_search/nucliadb_search/tests/test_basic_search.py
  nucliadb_writer/nucliadb_writer/resource/basic.py
  nucliadb_writer/nucliadb_writer/resource/field.py
  nucliadb_writer/nucliadb_writer/tests/test_resources.py
Due: isort_ingest, black_ingest, flake8_ingest

Try releasing nucliadb_client
  .github/workflows/nucliadb_client_release.yml
  nucliadb_client/CHANGELOG
  nucliadb_client/CHANGELOG.md
  nucliadb_client/VERSION
  nucliadb_client/setup.py
Due: none

Release again
  .github/workflows/nucliadb_client.yml
  .github/workflows/nucliadb_client_release.yml
  .gitignore
Due: none

Fix again
  .github/workflows/nucliadb_client_release.yml
  nucliadb_client/examples/exporting.py
  nucliadb_client/examples/stackoverflow.py
  nucliadb_client/examples/vectors.py
Due: none

Fix
  .github/workflows/nucliadb_client.yml
  .github/workflows/nucliadb_client_release.yml
Due: none

Release models
  .github/workflows/nucliadb_client_release.yml
  .github/workflows/nucliadb_models_release.yml
  nucliadb_client/requirements.txt
  nucliadb_models/CHANGELOG
  nucliadb_models/CHANGELOG.md
  nucliadb_models/VERSION
  nucliadb_models/setup.py
Due: none

Fix
  .github/workflows/nucliadb_client_release.yml
  .github/workflows/nucliadb_models_release.yml
  nucliadb_client/requirements-test.txt
Due: none

Fuix
  .github/workflows/nucliadb_client_release.yml
  .github/workflows/nucliadb_models_release.yml
Due: none

Fix classifiers
  nucliadb_client/setup.py
  nucliadb_models/setup.py
Due: none

Fix
  nucliadb_models/CHANGELOG.md
  nucliadb_models/VERSION
Due: none

Fix
  .github/workflows/nucliadb_client_release.yml
  nucliadb_models/setup.py
Due: none

search | chart | allow POST on kb search
  charts/nucliadb_search/templates/search.vs.yaml
Due: none

search | chart | allow POST on kb search (#271)
  charts/nucliadb_search/templates/search.vs.yaml
Due: none

Releasing dataset and telemetry
  .github/workflows/nucliadb_dataset_release.yml
  .github/workflows/nucliadb_models_release.yml
  .github/workflows/nucliadb_protos_release.yml
  .github/workflows/nucliadb_utils_release.yml
  nucliadb_dataset/CHANGELOG.rst
  nucliadb_dataset/VERSION
  nucliadb_dataset/requirements.txt
  nucliadb_ingest/requirements.txt
  nucliadb_node/requirements.txt
  nucliadb_protos/python/CHANGELOG.rst
  nucliadb_protos/python/VERSION
  nucliadb_protos/python/requirements.txt
  nucliadb_telemetry/CHANGELOG.rst
  nucliadb_telemetry/VERSION
  nucliadb_telemetry/requirements.txt
  nucliadb_train/requirements.txt
Due: none

Fix protos release
  .github/workflows/nucliadb_protos_release.yml
Due: none

Store the filename metadata properly on gcloud
  nucliadb_ingest/nucliadb_ingest/tests/fixtures.py
  nucliadb_one/nucliadb_one/tests/fixtures.py
  nucliadb_one/nucliadb_one/tests/test_upload_download.py
  nucliadb_reader/nucliadb_reader/api/v1/download.py
  nucliadb_reader/nucliadb_reader/tests/test_reader_file_download.py
  nucliadb_writer/nucliadb_writer/api/v1/upload.py
  nucliadb_writer/nucliadb_writer/tests/test_files.py
  nucliadb_writer/nucliadb_writer/tests/test_tus.py
  nucliadb_writer/nucliadb_writer/tus/gcs.py
Due: isort_ingest, black_ingest, flake8_ingest

Fixed bug
  nucliadb_one/nucliadb_one/tests/fixtures.py
  nucliadb_one/nucliadb_one/tests/test_upload_download.py
Due: none
