Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint_nucliadb
        name: Lint nucliadb
        entry: make -C nucliadb lint
        language: system
        files: (^nucliadb/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_dataset
        name: Lint nucliadb_dataset
        entry: make -C nucliadb_dataset lint
        language: system
        files: (^nucliadb_dataset/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_models
        name: Lint nucliadb_models
        entry: make -C nucliadb_models lint
        language: system
        files: (^nucliadb_models/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_node
        name: Lint nucliadb_node
        entry: make -C nucliadb_node lint
        language: system
        files: (^nucliadb_node/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_node_binding
        name: Lint nucliadb_node_binding
        entry: make -C nucliadb_node_binding lint
        language: system
        files: (^nucliadb_node_binding/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_performance
        name: Lint nucliadb_performance
        entry: make -C nucliadb_performance lint
        language: system
        files: (^nucliadb_performance/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_sdk
        name: Lint nucliadb_sdk
        entry: make -C nucliadb_sdk lint
        language: system
        files: (^nucliadb_sdk/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_telemetry
        name: Lint nucliadb_telemetry
        entry: make -C nucliadb_telemetry lint
        language: system
        files: (^nucliadb_telemetry/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_utils
        name: Lint nucliadb_utils
        entry: make -C nucliadb_utils lint
        language: system
        files: (^nucliadb_utils/)
        types: ["python"]
        pass_filenames: false

      - id: rustfmt_nucliadb
        name: fmt
        entry: cargo fmt --check
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nucliadb
        name: clippy
        entry: cargo clippy --all-features -- -D warnings
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

Move only_for_onprem decorator to api/utils.py
  nucliadb/src/nucliadb/writer/api/utils.py
  nucliadb/src/nucliadb/writer/api/v1/knowledgebox.py
Due: lint_nucliadb

Renames
  nucliadb/src/nucliadb/writer/api/v1/knowledgebox.py
Due: lint_nucliadb

Implement an in-memory learning config service
  nucliadb/src/nucliadb/learning_proxy.py
  nucliadb/tests/nucliadb/unit/test_learning_proxy.py
Due: lint_nucliadb

Add new endpoitn for KB creation + import
  nucliadb/src/nucliadb/writer/api/v1/export_import.py
Due: lint_nucliadb

/kbs/import return a proper model
  nucliadb/src/nucliadb/writer/api/v1/export_import.py
  nucliadb_models/src/nucliadb_models/export_import.py
Due: lint_nucliadb, lint_nucliadb_models

Hide endpoint from openapi
  nucliadb/src/nucliadb/writer/api/v1/export_import.py
Due: lint_nucliadb

Use global LRU to store in memory learning configs
  nucliadb/src/nucliadb/learning_proxy.py
Due: lint_nucliadb

Return HTTP error instead of a generic exception
  nucliadb/src/nucliadb/writer/api/v1/export_import.py
Due: lint_nucliadb

Export reset_config in nucliadb package (#2445)
  nucliadb/src/nucliadb/tests/config.py
  nucliadb/tests/fixtures.py
  test-requirements.txt
Due: lint_nucliadb

Support multiple fields
  nucliadb_node/tests/test_search_fields_filtering.rs
  nucliadb_vectors/src/formula/mod.rs
  nucliadb_vectors/src/service/reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Add an index on KBID for counting results
  nucliadb/src/migrations/pg/0003_catalog_kbid_index.py
Due: lint_nucliadb

Generate a default configuration if it's empty
  nucliadb/src/nucliadb/learning_proxy.py
Due: lint_nucliadb

Don't pop elements from the payload
  nucliadb/src/nucliadb/writer/api/v1/knowledgebox.py
Due: lint_nucliadb

Add an index on KBID for counting results (#2447)
  nucliadb/src/migrations/pg/0003_catalog_kbid_index.py
Due: lint_nucliadb

Filter by field in semantic search aswell (#2441)
  nucliadb_core/src/query_planner.rs
  nucliadb_node/tests/test_search_fields_filtering.rs
  nucliadb_protos/nodereader.proto
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.pyi
  nucliadb_protos/rust/src/nodereader.rs
  nucliadb_vectors/src/formula/mod.rs
  nucliadb_vectors/src/service/reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

collect feedback from learning on activity
  nucliadb/src/nucliadb/search/api/v1/feedback.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_protos/audit.proto
  nucliadb_protos/python/src/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/audit_pb2.pyi
  nucliadb_utils/src/nucliadb_utils/audit/audit.py
  nucliadb_utils/src/nucliadb_utils/audit/basic.py
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_utils

move kb usage proto to nucliadb
  Makefile
  nucliadb_protos/kb_usage.proto
  nucliadb_protos/python/src/nucliadb_protos/kb_usage_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/kb_usage_pb2.pyi
  nucliadb_utils/src/nucliadb_utils/nuclia_usage/protos/__init__.py
  nucliadb_utils/src/nucliadb_utils/nuclia_usage/protos/kb_usage_pb2.py
  nucliadb_utils/src/nucliadb_utils/nuclia_usage/protos/kb_usage_pb2_grpc.py
  nucliadb_utils/src/nucliadb_utils/nuclia_usage/protos/kb_usage_pb2_grpc.pyi
Due: lint_nucliadb_utils

-
  nucliadb/tests/ingest/integration/consumer/test_materializer.py
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
  nucliadb_utils/src/nucliadb_utils/nuclia_usage/utils/kb_usage_report.py
  nucliadb_utils/tests/unit/nuclia_usage/test_kb_usage_report.py
Due: lint_nucliadb, lint_nucliadb_utils

format
  nucliadb/tests/ingest/integration/consumer/test_materializer.py
Due: lint_nucliadb

fix pipeline protos up to date
  nucliadb_protos/python/src/nucliadb_protos/kb_usage_pb2.pyi
Due: none

move kb usage proto to nucliadb (#2449)
  Makefile
  nucliadb/tests/ingest/integration/consumer/test_materializer.py
  nucliadb_protos/kb_usage.proto
  nucliadb_protos/python/src/nucliadb_protos/kb_usage_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/kb_usage_pb2.pyi
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
  nucliadb_utils/src/nucliadb_utils/nuclia_usage/protos/__init__.py
  nucliadb_utils/src/nucliadb_utils/nuclia_usage/protos/kb_usage_pb2.py
  nucliadb_utils/src/nucliadb_utils/nuclia_usage/protos/kb_usage_pb2_grpc.py
  nucliadb_utils/src/nucliadb_utils/nuclia_usage/protos/kb_usage_pb2_grpc.pyi
  nucliadb_utils/src/nucliadb_utils/nuclia_usage/utils/kb_usage_report.py
  nucliadb_utils/tests/unit/nuclia_usage/test_kb_usage_report.py
Due: lint_nucliadb, lint_nucliadb_utils

Add create_kb_from_import to the SDK
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
Due: lint_nucliadb_sdk

Revert "Don't pop elements from the payload"
  nucliadb/src/nucliadb/writer/api/v1/knowledgebox.py
Due: lint_nucliadb

fix pipeline
  nucliadb_protos/python/src/nucliadb_protos/audit_pb2.pyi
  nucliadb_protos/rust/src/audit.rs
Due: none

Local build uses pipbinding for speed
  Dockerfile.pipbinding
  Makefile
Due: none

fix pipeline
  nucliadb/src/nucliadb/search/api/v1/feedback.py
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2_grpc.pyi
Due: lint_nucliadb

fix pipeline
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
Due: lint_nucliadb_utils

Improve keyword filtering to use the same tokeinzer as when indexing
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/tests/nucliadb/integration/test_find.py
  nucliadb_texts2/src/query_io.rs
Due: lint_nucliadb

Paralellize fetching resources
  nucliadb/src/nucliadb/search/search/fetch.py
Due: lint_nucliadb

Local build uses pipbinding for speed (#2450)
  Dockerfile.pipbinding
  Makefile
Due: none

Paralellize fetching resources (#2452)
  nucliadb/src/nucliadb/search/search/fetch.py
Due: lint_nucliadb

Use default tokenizer
  nucliadb_texts2/src/query_io.rs
Due: none

Improve keyword filtering to use the same tokeinzer as when indexing (#2451)
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/tests/nucliadb/integration/test_find.py
  nucliadb_texts2/src/query_io.rs
Due: lint_nucliadb

Enable deployment to dev environment
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

fix
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb_models

Fix tests
  nucliadb/src/nucliadb/search/predict.py
Due: lint_nucliadb

Remove more from python
  nucliadb/src/nucliadb/common/cluster/base.py
  nucliadb/src/nucliadb/common/cluster/manager.py
  nucliadb/src/nucliadb/common/cluster/rollover.py
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/src/nucliadb/writer/api/v1/knowledgebox.py
  nucliadb/tests/ingest/integration/orm/test_orm_knowledgebox.py
  nucliadb/tests/ingest/unit/orm/test_knowledgebox_release_channel.py
  nucliadb/tests/nucliadb/integration/test_purge.py
  nucliadb_models/src/nucliadb_models/resource.py
  nucliadb_node_binding/tests/integration/test_indexing.py
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_node_binding

Remove more
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/tests/fixtures.py
  nucliadb/tests/ingest/integration/orm/test_orm_knowledgebox.py
  nucliadb/tests/ingest/unit/service/test_writer.py
  nucliadb/tests/nucliadb/integration/test_api.py
  nucliadb_models/src/nucliadb_models/resource.py
Due: lint_nucliadb, lint_nucliadb_models

collect feedback from learning on activity (#2448)
  nucliadb/src/nucliadb/search/api/v1/feedback.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_protos/audit.proto
  nucliadb_protos/python/src/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/audit_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2_grpc.pyi
  nucliadb_protos/rust/src/audit.rs
  nucliadb_utils/src/nucliadb_utils/audit/audit.py
  nucliadb_utils/src/nucliadb_utils/audit/basic.py
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_utils
