Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint_nucliadb
        name: Lint nucliadb
        entry: make -C nucliadb lint
        language: system
        files: (^nucliadb/)
        types: ["python"]

      - id: lint_nucliadb_dataset
        name: Lint nucliadb_dataset
        entry: make -C nucliadb_dataset lint
        language: system
        files: (^nucliadb_dataset/)
        types: ["python"]

      - id: lint_nucliadb_models
        name: Lint nucliadb_models
        entry: make -C nucliadb_models lint
        language: system
        files: (^nucliadb_models/)
        types: ["python"]

      - id: lint_nucliadb_node
        name: Lint nucliadb_node
        entry: make -C nucliadb_node lint
        language: system
        files: (^nucliadb_node/)
        types: ["python"]

      - id: lint_nucliadb_node_binding
        name: Lint nucliadb_node_binding
        entry: make -C nucliadb_node_binding lint
        language: system
        files: (^nucliadb_node_binding/)
        types: ["python"]

      - id: lint_nucliadb_performance
        name: Lint nucliadb_performance
        entry: make -C nucliadb_performance lint
        language: system
        files: (^nucliadb_performance/)
        types: ["python"]

      - id: lint_nucliadb_sdk
        name: Lint nucliadb_sdk
        entry: make -C nucliadb_sdk lint
        language: system
        files: (^nucliadb_sdk/)
        types: ["python"]

      - id: lint_nucliadb_telemetry
        name: Lint nucliadb_telemetry
        entry: make -C nucliadb_telemetry lint
        language: system
        files: (^nucliadb_telemetry/)
        types: ["python"]

      - id: lint_nucliadb_utils
        name: Lint nucliadb_utils
        entry: make -C nucliadb_utils lint
        language: system
        files: (^nucliadb_utils/)
        types: ["python"]

      - id: rustfmt_nucliadb
        name: fmt
        entry: cargo +nightly fmt --check
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nucliadb
        name: clippy
        entry: cargo clippy --all-features -- -D warnings
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

fix again
  nucliadb/nucliadb/search/search/chat/prompt.py
  nucliadb/nucliadb/search/search/query.py
  nucliadb/nucliadb/tests/integration/search/test_autofilters.py
Due: lint_nucliadb

fix
  charts/nucliadb/templates/sts.yaml
  charts/nucliadb/templates/worker.yaml
Due: none

fixes
  nucliadb/nucliadb/search/search/query.py
  nucliadb/nucliadb/tests/integration/search/test_search.py
Due: lint_nucliadb

blah
  .github/workflows/e2e.yml
Due: none

.
  .github/workflows/e2e.yml
Due: none

more info
  e2e/test_e2e.py
  nucliadb/nucliadb/common/cluster/discovery/k8s.py
  nucliadb/nucliadb/ingest/consumer/pull.py
Due: lint_nucliadb

try
  charts/nucliadb/templates/worker.yaml
  e2e/test_e2e.py
  nucliadb/nucliadb/ingest/consumer/pull.py
Due: lint_nucliadb

Standalone node roles, support standalone pull worker (#1990)
  .github/workflows/e2e.yml
  charts/nucliadb/templates/worker.yaml
  charts/nucliadb/values.yaml
  e2e/run-e2e-tests.sh
  e2e/test_e2e.py
  nucliadb/nucliadb/common/cluster/discovery/k8s.py
  nucliadb/nucliadb/common/cluster/manager.py
  nucliadb/nucliadb/common/cluster/settings.py
  nucliadb/nucliadb/common/cluster/standalone/utils.py
  nucliadb/nucliadb/common/cluster/utils.py
  nucliadb/nucliadb/standalone/config.py
  nucliadb/nucliadb/standalone/run.py
  nucliadb/nucliadb/standalone/settings.py
  nucliadb/nucliadb/tests/integration/common/cluster/test_rebalance.py
Due: lint_nucliadb

missing pod annotations for worker in standalone
  charts/nucliadb/templates/worker.yaml
Due: none

missing pod annotations for worker in standalone (#2003)
  charts/nucliadb/templates/worker.yaml
Due: none

Fix test
  nucliadb/nucliadb/tests/integration/test_chat.py
Due: lint_nucliadb

fix rebalance cronjob
  charts/nucliadb_ingest/templates/rebalance.cronjob.yaml
Due: none

fix rebalance cronjob (#2004)
  charts/nucliadb_ingest/templates/rebalance.cronjob.yaml
Due: none

fix txn id for delete in rebalance
  nucliadb/nucliadb/common/cluster/utils.py
Due: lint_nucliadb

fix txn id for delete in rebalance (#2005)
  nucliadb/nucliadb/common/cluster/utils.py
Due: lint_nucliadb

pod ip can be none
  nucliadb/nucliadb/common/cluster/discovery/k8s.py
Due: lint_nucliadb

.
  nucliadb/nucliadb/common/cluster/discovery/k8s.py
Due: lint_nucliadb

partition is inputed as a string
  nucliadb/nucliadb/common/cluster/utils.py
Due: lint_nucliadb

partition is inputed as a string (#2007)
  nucliadb/nucliadb/common/cluster/utils.py
Due: lint_nucliadb

Do not trace update()
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_vectors/src/service/reader.rs
  nucliadb_vectors2/src/service/reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Do not trace update() (#2008)
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_vectors/src/service/reader.rs
  nucliadb_vectors2/src/service/reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Keep markdown on process (#1997)
  nucliadb/nucliadb/ingest/orm/resource.py
  nucliadb/nucliadb/ingest/tests/unit/orm/test_resource.py
  nucliadb_models/nucliadb_models/conversation.py
  nucliadb_models/nucliadb_models/text.py
  nucliadb_protos/python/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/nucliadb_protos/dataset_pb2.py
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/nucliadb_protos/migrations_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.py
  nucliadb_protos/python/nucliadb_protos/replication_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/standalone_pb2.py
  nucliadb_protos/python/nucliadb_protos/train_pb2.py
  nucliadb_protos/python/nucliadb_protos/utils_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.py
  nucliadb_protos/resources.proto
  nucliadb_protos/rust/src/resources.rs
Due: lint_nucliadb, lint_nucliadb_models

Fix
  nucliadb/nucliadb/tests/integration/test_chat.py
Due: lint_nucliadb

pod ip can be none (#2006)
  nucliadb/nucliadb/common/cluster/discovery/k8s.py
Due: lint_nucliadb

Add more context to errors on get active shards
  nucliadb/nucliadb/common/cluster/manager.py
Due: lint_nucliadb

Add more context to errors on get active shards (#2009)
  nucliadb/nucliadb/common/cluster/manager.py
Due: lint_nucliadb

Correct B/c for multi shard KBs
  nucliadb/nucliadb/common/cluster/manager.py
Due: lint_nucliadb

fix
  nucliadb/nucliadb/search/predict.py
  nucliadb/nucliadb/search/search/query.py
  nucliadb/nucliadb/search/settings.py
  nucliadb/nucliadb/tests/integration/test_chat.py
Due: lint_nucliadb

.
  nucliadb/nucliadb/search/search/query.py
Due: lint_nucliadb

Correct B/c for multi shard KBs (#2010)
  nucliadb/nucliadb/common/cluster/manager.py
Due: lint_nucliadb

Add paragraph label for type of paragraph
  nucliadb/nucliadb/ingest/orm/brain.py
  nucliadb_models/nucliadb_models/labels.py
Due: lint_nucliadb, lint_nucliadb_models

Parametrize sidecar indexer delay after error (#1996)
  nucliadb_node/nucliadb_node/indexer.py
  nucliadb_node/nucliadb_node/settings.py
Due: lint_nucliadb_node

fix issue trying to rollover deleted resource
  nucliadb/nucliadb/common/cluster/rollover.py
Due: lint_nucliadb

Add pod affinity rule for replicas zone aware placement
  charts/nucliadb_node/templates/node.replicas.deploy.yaml
  charts/nucliadb_node/values.yaml
Due: none

Add pod affinity rule for replicas zone aware placement (#2012)
  charts/nucliadb_node/templates/node.replicas.deploy.yaml
  charts/nucliadb_node/values.yaml
Due: none

support pull processor queue and offsets
  nucliadb/nucliadb/common/datamanagers/__init__.py
  nucliadb/nucliadb/common/http_clients/processing.py
  nucliadb/nucliadb/ingest/consumer/pull.py
Due: lint_nucliadb

missing
  nucliadb/nucliadb/common/datamanagers/processing.py
Due: lint_nucliadb

.
  nucliadb/nucliadb/common/datamanagers/processing.py
Due: lint_nucliadb

fix
  nucliadb/nucliadb/tests/unit/http_clients/test_processing.py
Due: lint_nucliadb
