Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nidx, clippy_nidx

lint_nucliadb:
  name: Lint nucliadb
  entry: make -C nucliadb lint
  language: system
  pass_filenames: false

lint_nucliadb_dataset:
  name: Lint nucliadb_dataset
  entry: make -C nucliadb_dataset lint
  language: system
  pass_filenames: false

lint_nucliadb_models:
  name: Lint nucliadb_models
  entry: make -C nucliadb_models lint
  language: system
  pass_filenames: false

lint_nucliadb_sdk:
  name: Lint nucliadb_sdk
  entry: make -C nucliadb_sdk lint
  language: system
  pass_filenames: false

lint_nucliadb_telemetry:
  name: Lint nucliadb_telemetry
  entry: make -C nucliadb_telemetry lint
  language: system
  pass_filenames: false

lint_nucliadb_utils:
  name: Lint nucliadb_utils
  entry: make -C nucliadb_utils lint
  language: system
  pass_filenames: false

rustfmt_nidx:
  name: Rust format check for nidx
  entry: cargo fmt --check --all --manifest-path nidx/Cargo.toml
  language: system
  pass_filenames: false

clippy_nidx:
  name: Clippy warning check for nidx
  entry: cargo clippy --all-features --manifest-path nidx/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

Hide back_pressure cache key inside function
  nucliadb/src/nucliadb/common/back_pressure/cache.py
  nucliadb/src/nucliadb/common/back_pressure/materializer.py
  nucliadb/tests/nucliadb/unit/common/test_back_pressure.py
Due: lint_nucliadb

Build nidx docker image before tests
  .github/workflows/ci.yml
Due: none

Better global state management
  nucliadb_utils/src/nucliadb_utils/tests/fixtures.py
Due: lint_nucliadb_utils

Fix back pressure unit tests
  nucliadb/tests/nucliadb/unit/common/test_back_pressure.py
Due: lint_nucliadb

Add description on public models
  nucliadb_models/src/nucliadb_models/resource.py
Due: lint_nucliadb_models

Add DELETE /resources to writer virtual service
  charts/nucliadb_writer/templates/writer.vs.yaml
Due: none

Add magic nidx_utility fixture to overwrite dummy
  nucliadb/tests/ndbfixtures/magic.py
  nucliadb/tests/ndbfixtures/nidx.py
Due: lint_nucliadb

Implement batch deletion (w/o nats) using nidx streams
  nucliadb/src/nucliadb/tasks/deleter.py
  nucliadb/src/nucliadb/writer/api/v1/resource.py
  nucliadb/tests/ndbfixtures/resources/simples.py
  nucliadb/tests/nucliadb/integration/test_batch_delete_resources.py
  nucliadb_models/src/nucliadb_models/resource.py
Due: lint_nucliadb, lint_nucliadb_models

Use datamanager instead of shard_manager
  nucliadb/src/nucliadb/writer/api/v1/resource.py
Due: lint_nucliadb

Rename deleter consumer
  nucliadb/src/nucliadb/ingest/app.py
  nucliadb/src/nucliadb/tasks/deleter.py
  nucliadb/tests/ndbfixtures/ingest.py
  nucliadb/tests/nucliadb/integration/test_batch_delete_resources.py
Due: lint_nucliadb

Remove background tasks and x-synchronous
  nucliadb/src/nucliadb/writer/api/v1/resource.py
Due: lint_nucliadb

Use actual train service name in its application context
  nucliadb/src/nucliadb/train/lifecycle.py
Due: lint_nucliadb

Batch deletion through NATS
  nucliadb/src/nucliadb/ingest/app.py
  nucliadb/src/nucliadb/tasks/deleter.py
  nucliadb/src/nucliadb/writer/api/v1/resource.py
  nucliadb/tests/ndbfixtures/ingest.py
  nucliadb/tests/nucliadb/integration/test_batch_delete_resources.py
Due: lint_nucliadb

Don't force local transaction in reader. Fix tests
  nucliadb/tests/ndbfixtures/reader.py
  nucliadb/tests/ndbfixtures/resources/simples.py
  nucliadb/tests/nucliadb/integration/test_batch_delete_resources.py
Due: lint_nucliadb

Don't start unused utilities in nucliadb_reader
  nucliadb/src/nucliadb/reader/lifecycle.py
Due: lint_nucliadb

nidx image needs nidx binary
  .github/workflows/ci.yml
Due: none

Restrict filter to resource properties only
  nucliadb/src/nucliadb/common/filter_expression.py
  nucliadb/src/nucliadb/writer/api/v1/resource.py
  nucliadb/tests/nucliadb/integration/test_batch_delete_resources.py
  nucliadb_models/src/nucliadb_models/resource.py
Due: lint_nucliadb, lint_nucliadb_models

Back pressure deleter tasks
  nucliadb/src/nucliadb/tasks/deleter.py
  nucliadb/tests/ndbfixtures/common.py
  nucliadb/tests/nucliadb/integration/test_batch_delete_resources.py
Due: lint_nucliadb

Test train against the actual nidx (not a mock)
  nucliadb/tests/ndbfixtures/train.py
Due: lint_nucliadb

Endpoint summary
  nucliadb/src/nucliadb/writer/api/v1/resource.py
Due: lint_nucliadb

Add missing checkout
  .github/workflows/ci.yml
Due: none

CI passed needs msv python lints too
  .github/workflows/ci.yml
Due: none

Fix MSV Python lints back to v3.10
  .github/workflows/ci.yml
Due: none

Build nidx image instead of passing through slow cache
  .github/workflows/ci.yml
Due: none

Jobs now depend on build-nidx-binary
  .github/workflows/ci.yml
Due: none

Move transaction module out of writer.api to avoid circular imports
  nucliadb/src/nucliadb/tasks/deleter.py
  nucliadb/src/nucliadb/writer/api/v1/field.py
  nucliadb/src/nucliadb/writer/api/v1/resource.py
  nucliadb/src/nucliadb/writer/api/v1/upload.py
  nucliadb/src/nucliadb/writer/transaction.py
  nucliadb/tests/writer/test_resources.py
Due: lint_nucliadb

Better exception handling for nucliadb subprocess not running
  nucliadb_sdk/src/nucliadb_sdk/tests/fixtures.py
Due: lint_nucliadb_sdk

Bump pyjwt (Python) 2.13.0 -> 2.15.1
  uv.lock
Due: none

Security bump
  uv.lock
Due: none

Batch resource deletion (#3924)
  .github/workflows/ci.yml
  charts/nucliadb_writer/templates/writer.vs.yaml
  nucliadb/src/nucliadb/common/back_pressure/cache.py
  nucliadb/src/nucliadb/common/back_pressure/materializer.py
  nucliadb/src/nucliadb/common/back_pressure/utils.py
  nucliadb/src/nucliadb/common/filter_expression.py
  nucliadb/src/nucliadb/ingest/app.py
  nucliadb/src/nucliadb/reader/lifecycle.py
  nucliadb/src/nucliadb/tasks/deleter.py
  nucliadb/src/nucliadb/train/lifecycle.py
  nucliadb/src/nucliadb/writer/api/v1/field.py
  nucliadb/src/nucliadb/writer/api/v1/resource.py
  nucliadb/src/nucliadb/writer/api/v1/upload.py
  nucliadb/src/nucliadb/writer/transaction.py
  nucliadb/tests/ndbfixtures/common.py
  nucliadb/tests/ndbfixtures/ingest.py
  nucliadb/tests/ndbfixtures/magic.py
  nucliadb/tests/ndbfixtures/nidx.py
  nucliadb/tests/ndbfixtures/reader.py
  nucliadb/tests/ndbfixtures/resources/simples.py
  nucliadb/tests/ndbfixtures/train.py
  nucliadb/tests/ndbfixtures/utils.py
  nucliadb/tests/nucliadb/integration/test_batch_delete_resources.py
  nucliadb/tests/nucliadb/unit/common/test_back_pressure.py
  nucliadb/tests/writer/test_resources.py
  nucliadb_models/src/nucliadb_models/resource.py
  nucliadb_sdk/src/nucliadb_sdk/tests/fixtures.py
  nucliadb_utils/src/nucliadb_utils/tests/fixtures.py
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_sdk, lint_nucliadb_utils

Wip
  nucliadb/src/migrations/marklogic/0001_bootstrap.py
  nucliadb/src/nucliadb/common/datamanagers/kb.py
  nucliadb/src/nucliadb/common/datamanagers/resources.py
  nucliadb/src/nucliadb/common/maindb/index_paths.py
  nucliadb/src/nucliadb/common/maindb/marklogic.py
  nucliadb/tests/nucliadb/integration/common/datamanagers/test_resources.py
  nucliadb/tests/nucliadb/integration/common/maindb/test_drivers.py
Due: lint_nucliadb

Add Guardrail results to Chat audit
  nucliadb/src/nucliadb/search/predict.py
  nucliadb/src/nucliadb/search/search/predict_proxy.py
  nucliadb/tests/search/unit/search/test_predict_proxy.py
  nucliadb_protos/audit.proto
  nucliadb_utils/src/nucliadb_utils/audit/audit.py
  nucliadb_utils/src/nucliadb_utils/audit/basic.py
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
Due: lint_nucliadb, lint_nucliadb_utils

Initialize back pressure in ingest-subscriber-workers
  nucliadb/src/nucliadb/ingest/app.py
  nucliadb/src/nucliadb/tasks/deleter.py
  nucliadb/src/nucliadb/writer/lifecycle.py
Due: lint_nucliadb

Initialize back pressure in ingest-subscriber-workers (#3929)
  nucliadb/src/nucliadb/ingest/app.py
  nucliadb/src/nucliadb/tasks/deleter.py
  nucliadb/src/nucliadb/writer/lifecycle.py
Due: lint_nucliadb

Update test_predict_proxy.py
  nucliadb/tests/search/unit/search/test_predict_proxy.py
Due: lint_nucliadb

Migrate AWS Claude 4.1 Opus search configurations
  nucliadb/src/migrations/0053_migrate_search_configurations.py
  nucliadb/tests/nucliadb/migrations/test_migration_0053.py
Due: lint_nucliadb

Initialize processing engine in ingest-subcriber-workers
  nucliadb/src/nucliadb/ingest/app.py
Due: lint_nucliadb

Initialize processing engine in ingest-subcriber-workers (#3932)
  nucliadb/src/nucliadb/ingest/app.py
Due: lint_nucliadb

Adds Guardrail outcomes to ChatAudit (#3930)
  nucliadb/src/nucliadb/search/predict.py
  nucliadb/src/nucliadb/search/search/predict_proxy.py
  nucliadb/tests/search/unit/search/test_predict_proxy.py
  nucliadb_protos/audit.proto
  nucliadb_utils/src/nucliadb_utils/audit/audit.py
  nucliadb_utils/src/nucliadb_utils/audit/basic.py
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
Due: lint_nucliadb, lint_nucliadb_utils

Path conditions:
  lint_nucliadb: any of: (^nucliadb/) and \.py$
  lint_nucliadb_dataset: any of: (^nucliadb_dataset/) and \.py$
  lint_nucliadb_models: any of: (^nucliadb_models/) and \.py$
  lint_nucliadb_sdk: any of: (^nucliadb_sdk/) and \.py$
  lint_nucliadb_telemetry: any of: (^nucliadb_telemetry/) and \.py$
  lint_nucliadb_utils: any of: (^nucliadb_utils/) and \.py$
  rustfmt_nidx: any of: (^nidx/) and \.rs$
  clippy_nidx: any of: (^nidx/) and \.rs$
