Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nidx, clippy_nidx

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint_nucliadb
        name: Lint nucliadb
        entry: make -C nucliadb lint
        language: system
        files: (^nucliadb/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_dataset
        name: Lint nucliadb_dataset
        entry: make -C nucliadb_dataset lint
        language: system
        files: (^nucliadb_dataset/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_models
        name: Lint nucliadb_models
        entry: make -C nucliadb_models lint
        language: system
        files: (^nucliadb_models/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_sdk
        name: Lint nucliadb_sdk
        entry: make -C nucliadb_sdk lint
        language: system
        files: (^nucliadb_sdk/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_telemetry
        name: Lint nucliadb_telemetry
        entry: make -C nucliadb_telemetry lint
        language: system
        files: (^nucliadb_telemetry/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_utils
        name: Lint nucliadb_utils
        entry: make -C nucliadb_utils lint
        language: system
        files: (^nucliadb_utils/)
        types: ["python"]
        pass_filenames: false

      - id: rustfmt_nidx
        name: Rust format check for nidx
        entry: cargo fmt --check --all --manifest-path nidx/Cargo.toml
        language: system
        files: (^nidx/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nidx
        name: Clippy warning check for nidx
        entry: cargo clippy --all-features --manifest-path nidx/Cargo.toml -- -D warnings
        language: system
        files: (^nidx/)
        types: ["rust"]
        pass_filenames: false

Add more tests to security integration test
  nidx/tests/integration/security_search.rs
Due: rustfmt_nidx, clippy_nidx

add graph test
  nucliadb/tests/nucliadb/integration/search/graph/test_graph_path_search.py
  nucliadb/tests/nucliadb/integration/test_security.py
Due: lint_nucliadb

Be able to enforce security groups at kb level (#3583)
  nidx/nidx_text/src/reader.rs
  nidx/nidx_text/src/request_types.rs
  nidx/nidx_text/src/schema.rs
  nidx/nidx_text/src/search_query.rs
  nidx/nidx_text/tests/test_search.rs
  nidx/src/searcher/query_planner.rs
  nidx/src/searcher/shard_search.rs
  nidx/tests/integration/security_search.rs
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/src/nucliadb/ingest/service/writer.py
  nucliadb/src/nucliadb/search/api/v1/find.py
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/api/v1/suggest.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/find.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/graph.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/retrieve.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/search.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/suggest.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/unit_retrieval.py
  nucliadb/src/nucliadb/search/search/utils.py
  nucliadb/src/nucliadb/writer/api/v1/knowledgebox.py
  nucliadb/tests/ingest/unit/service/test_writer.py
  nucliadb/tests/nucliadb/integration/search/graph/test_graph_path_search.py
  nucliadb/tests/nucliadb/integration/test_security.py
  nucliadb/tests/search/integration/api/v1/test_retrieve.py
  nucliadb_models/src/nucliadb_models/graph/requests.py
  nucliadb_models/src/nucliadb_models/resource.py
  nucliadb_models/src/nucliadb_models/retrieval.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_protos/knowledgebox.proto
  nucliadb_protos/writer.proto
Due: lint_nucliadb, lint_nucliadb_models, rustfmt_nidx, clippy_nidx

Tantivy 0.26 (#3587)
  nidx/Cargo.lock
  nidx/Cargo.toml
  nidx/nidx_paragraph/Cargo.toml
  nidx/nidx_paragraph/src/reader.rs
  nidx/nidx_paragraph/src/search_response.rs
  nidx/nidx_relation/Cargo.toml
  nidx/nidx_relation/src/reader.rs
  nidx/nidx_relation/tests/test_graph_query_parser_search.rs
  nidx/nidx_tantivy/Cargo.toml
  nidx/nidx_text/Cargo.toml
  nidx/nidx_text/src/reader.rs
  nidx/nidx_text/src/schema.rs
Due: rustfmt_nidx, clippy_nidx

Test build nidx
  .github/workflows/nidx_binding_release.yml
Due: none

Test build nidx (#3589)
  .github/workflows/nidx_binding_release.yml
Due: none

Get shard ids from KB
  nucliadb/src/nucliadb/common/cache.py
  nucliadb/src/nucliadb/search/search/paragraphs.py
Due: lint_nucliadb

Don't use splits in Python yet either
  nucliadb/src/nucliadb/common/cache.py
  nucliadb/src/nucliadb/search/search/paragraphs.py
Due: lint_nucliadb

Add flipt-client to nucliadb_utils
  nucliadb_utils/pyproject.toml
  uv.lock
Due: none

Fix get text with encoded field ids
  nidx/nidx_text/src/reader.rs
Due: rustfmt_nidx, clippy_nidx

Comment split just to make sure we don't misuse it
  nidx/nidx_protos/nidx.proto
Due: none

Naive implementation of extracted text endpoint
  nidx/nidx_text/src/lib.rs
  nidx/nidx_text/src/reader.rs
  nidx/nidx_text/src/schema.rs
  nidx/src/searcher.rs
  nidx/src/searcher/grpc.rs
  nidx/src/searcher/shard_text.rs
Due: rustfmt_nidx, clippy_nidx

Handle missing Flipt token and add debug logs
  nucliadb/src/nucliadb/common/cache.py
  nucliadb_utils/src/nucliadb_utils/featureflagging.py
Due: lint_nucliadb, lint_nucliadb_utils

Integrate Flipt to our FF system
  charts/nucliadb_shared/templates/nucliadb.cm.yaml
  charts/nucliadb_shared/values.yaml
  nucliadb/src/nucliadb/common/cache.py
  nucliadb/src/nucliadb/search/search/paragraphs.py
  nucliadb_utils/src/nucliadb_utils/const.py
  nucliadb_utils/src/nucliadb_utils/featureflagging.py
  nucliadb_utils/src/nucliadb_utils/utilities.py
Due: lint_nucliadb, lint_nucliadb_utils

Use Field field_id instead of building it
  nucliadb/src/nucliadb/search/search/cache.py
Due: lint_nucliadb

WIP gRPC method to retrieve extracted text from nidx
  nidx/nidx_protos/nidx.proto
Due: none

Pass FF name to Flipt
  nucliadb_utils/src/nucliadb_utils/const.py
  nucliadb_utils/src/nucliadb_utils/featureflagging.py
Due: lint_nucliadb_utils

Query the specific resource shard
  nucliadb/src/nucliadb/common/cache.py
  nucliadb/src/nucliadb/search/search/paragraphs.py
Due: lint_nucliadb

Fix comment on paragraph id
  nidx/nidx_protos/nidx.proto
Due: none

Add nidx as ET storage flag to new shard
  nucliadb/src/nucliadb/common/cluster/manager.py
  nucliadb/src/nucliadb/common/cluster/rollover.py
Due: lint_nucliadb

Log timings and start transitioning to Flipt
  nidx/src/searcher/shard_text.rs
  nucliadb/src/nucliadb/common/cache.py
  nucliadb/src/nucliadb/search/search/paragraphs.py
  nucliadb_utils/src/nucliadb_utils/const.py
  nucliadb_utils/src/nucliadb_utils/featureflagging.py
  nucliadb_utils/src/nucliadb_utils/utilities.py
Due: lint_nucliadb, lint_nucliadb_utils, rustfmt_nidx, clippy_nidx

Add comment about query selection
  nidx/nidx_text/src/reader.rs
Due: rustfmt_nidx, clippy_nidx

Use types instead of strings
  nucliadb/src/nucliadb/common/nidx.py
Due: lint_nucliadb

Fix import
  nidx/nidx_text/src/reader.rs
Due: rustfmt_nidx, clippy_nidx

Remove FF from mr.flagly
  nucliadb_utils/src/nucliadb_utils/featureflagging.py
Due: lint_nucliadb_utils

Feature flagged naive implementation for Python
  nucliadb/src/nucliadb/common/cache.py
  nucliadb/src/nucliadb/search/search/paragraphs.py
  nucliadb_utils/src/nucliadb_utils/const.py
  nucliadb_utils/src/nucliadb_utils/featureflagging.py
Due: lint_nucliadb, lint_nucliadb_utils

Add features field to new shard proto
  nidx/nidx_protos/nodewriter.proto
  nidx/src/api/grpc.rs
  nidx/src/api/shards.rs
  nidx/src/metadata/index.rs
  nidx/tests/integration/shards_api.rs
  nidx/tests/integration/vector_relation_index.rs
Due: rustfmt_nidx, clippy_nidx

Use encoded field id for faster filtering
  nidx/nidx_text/src/lib.rs
  nidx/nidx_text/src/reader.rs
  nidx/src/searcher/shard_text.rs
Due: rustfmt_nidx, clippy_nidx

Update for tantivy 0.26
  nidx/nidx_text/src/reader.rs
Due: rustfmt_nidx, clippy_nidx

Fix unit tests
  nucliadb/tests/search/unit/search/test_paragraphs.py
Due: lint_nucliadb

Replace bincode with wincode
  nidx/Cargo.lock
  nidx/nidx_vector/Cargo.toml
  nidx/nidx_vector/src/data_store/v2/paragraph_store.rs
  nidx/nidx_vector/src/field_list_metadata.rs
  nidx/nidx_vector/src/lib.rs
  nidx/nidx_vector/src/segment.rs
  nidx/nidx_vector/src/utils.rs
Due: rustfmt_nidx, clippy_nidx

Lock opentelemetry version for jaeger compatibility
  nucliadb_telemetry/pyproject.toml
  uv.lock
Due: none

Lock opentelemetry version for jaeger compatibility (#3591)
  nucliadb_telemetry/pyproject.toml
  uv.lock
Due: none

Support OTLP exporter in nucliadb_telemetry
  nucliadb_telemetry/pyproject.toml
  nucliadb_telemetry/src/nucliadb_telemetry/context.py
  nucliadb_telemetry/src/nucliadb_telemetry/settings.py
  nucliadb_telemetry/src/nucliadb_telemetry/tests/telemetry.py
  nucliadb_telemetry/src/nucliadb_telemetry/utils.py
  uv.lock
Due: lint_nucliadb_telemetry

Fix flipt enabled flag taking server url into account
  nucliadb_utils/src/nucliadb_utils/featureflagging.py
Due: lint_nucliadb_utils

Error handling for evaluation errors
  nucliadb_utils/src/nucliadb_utils/featureflagging.py
Due: lint_nucliadb_utils

Pass kbid as context to has_feature
  nucliadb/src/nucliadb/common/cluster/manager.py
  nucliadb/src/nucliadb/common/cluster/rollover.py
Due: lint_nucliadb

Use FLIPT_SERVER_URL as env var
  charts/nucliadb_shared/templates/nucliadb.cm.yaml
Due: none

Fix unbound local error when flipt evaluation fails
  nucliadb_utils/src/nucliadb_utils/featureflagging.py
Due: lint_nucliadb_utils

Do not send too much events to sentry
  nucliadb/src/nucliadb/common/back_pressure/materializer.py
  nucliadb/src/nucliadb/search/search/fetch.py
  nucliadb/src/nucliadb/search/search/paragraphs.py
  nucliadb/src/nucliadb/train/generators/field_classifier.py
  nucliadb/src/nucliadb/train/generators/field_streaming.py
  nucliadb/src/nucliadb/train/generators/paragraph_streaming.py
  nucliadb/src/nucliadb/train/generators/question_answer_streaming.py
  nucliadb/src/nucliadb/train/generators/sentence_classifier.py
  nucliadb/src/nucliadb/train/generators/token_classifier.py
  nucliadb/src/nucliadb/train/generators/utils.py
  nucliadb_telemetry/src/nucliadb_telemetry/batch_span.py
  nucliadb_telemetry/src/nucliadb_telemetry/jaeger.py
Due: lint_nucliadb, lint_nucliadb_telemetry
