Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nidx, clippy_nidx

lint_nucliadb:
  name: Lint nucliadb
  entry: make -C nucliadb lint
  language: system
  pass_filenames: false

lint_nucliadb_dataset:
  name: Lint nucliadb_dataset
  entry: make -C nucliadb_dataset lint
  language: system
  pass_filenames: false

lint_nucliadb_models:
  name: Lint nucliadb_models
  entry: make -C nucliadb_models lint
  language: system
  pass_filenames: false

lint_nucliadb_sdk:
  name: Lint nucliadb_sdk
  entry: make -C nucliadb_sdk lint
  language: system
  pass_filenames: false

lint_nucliadb_telemetry:
  name: Lint nucliadb_telemetry
  entry: make -C nucliadb_telemetry lint
  language: system
  pass_filenames: false

lint_nucliadb_utils:
  name: Lint nucliadb_utils
  entry: make -C nucliadb_utils lint
  language: system
  pass_filenames: false

rustfmt_nidx:
  name: Rust format check for nidx
  entry: cargo fmt --check --all --manifest-path nidx/Cargo.toml
  language: system
  pass_filenames: false

clippy_nidx:
  name: Clippy warning check for nidx
  entry: cargo clippy --all-features --manifest-path nidx/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

Remove Merge and make rank fusion and reranker optional
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/find.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/search.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/unit_retrieval.py
  nucliadb/tests/search/unit/search/test_query_parsing.py
  nucliadb/tests/search/unit/test_find_post_index.py
  nucliadb/tests/search/unit/test_rank_fusion.py
Due: lint_nucliadb

Fix top_k
  nucliadb/src/nucliadb/search/search/query_parser/parsers/unit_retrieval.py
Due: lint_nucliadb

Use graph response instead of relation subgraph
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/src/nucliadb/search/search/find_merge.py
  nucliadb/src/nucliadb/search/search/merge.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/unit_retrieval.py
Due: lint_nucliadb

Default empty filters for unit retrieval
  nucliadb/src/nucliadb/search/search/query_parser/models.py
  nucliadb/tests/search/unit/test_find_post_index.py
Due: lint_nucliadb

Rename convert_retrieval_to_proto -> legacy_convert_retrieval_to_proto
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/unit_retrieval.py
  nucliadb/tests/search/integration/requesters/test_utils.py
Due: lint_nucliadb

Rename RelationQuery detected_entities -> entry_points
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/src/nucliadb/search/search/find_merge.py
  nucliadb/src/nucliadb/search/search/merge.py
  nucliadb/src/nucliadb/search/search/query_parser/models.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/find.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/search.py
Due: lint_nucliadb

Fix after rebase
  nucliadb/src/nucliadb/search/search/find.py
Due: lint_nucliadb

uv.lock
  uv.lock
Due: none

Remove double list
  nucliadb/src/nucliadb/search/search/chat/query.py
Due: lint_nucliadb

Use graph query for relation search (#3076)
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/src/nucliadb/search/search/find_merge.py
  nucliadb/src/nucliadb/search/search/merge.py
  nucliadb/src/nucliadb/search/search/query_parser/models.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/find.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/search.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/unit_retrieval.py
  nucliadb/tests/nucliadb/integration/search/test_search.py
  nucliadb/tests/search/integration/requesters/test_utils.py
  nucliadb/tests/search/unit/search/test_query_parsing.py
  nucliadb/tests/search/unit/test_find_post_index.py
  nucliadb/tests/search/unit/test_rank_fusion.py
Due: lint_nucliadb

Remove entities subgraph and relation req/res protos
  nucliadb_protos/nodereader.proto
Due: none

Default None for rank_fusion and reranker
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/src/nucliadb/search/search/query_parser/models.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/search.py
  nucliadb/tests/search/unit/test_find_post_index.py
Due: lint_nucliadb

Remove relation search and move tests to python
  nidx/nidx_relation/src/io_maps.rs
  nidx/nidx_relation/src/lib.rs
  nidx/nidx_relation/src/reader.rs
  nidx/nidx_relation/tests/test_reader.rs
  nidx/src/searcher/query_planner.rs
  nidx/src/searcher/shard_search.rs
  nidx/tests/test_date_range_search.rs
  nidx/tests/test_search_relations.rs
  nucliadb/tests/nucliadb/integration/search/graph/test_legacy_relation_search.py
Due: lint_nucliadb, rustfmt_nidx, clippy_nidx

More docs for relation query conversion
  nucliadb/src/nucliadb/search/search/query_parser/parsers/unit_retrieval.py
Due: lint_nucliadb

Move tests to python layer
  nucliadb/tests/ndbfixtures/resources.py
  nucliadb/tests/nucliadb/integration/search/test_search.py
Due: lint_nucliadb

wip activity log proto
  nucliadb_protos/activity_log.proto
Due: none

-
  nucliadb_protos/activity_log.proto
Due: none

Log fixes & workflow fix
  .github/workflows/release.yml
  nucliadb/src/nucliadb/ingest/consumer/consumer.py
  nucliadb_telemetry/src/nucliadb_telemetry/context.py
  ruff.toml
Due: lint_nucliadb, lint_nucliadb_telemetry

Remove legacy relation and entities subgraph search (#3077)
  nidx/nidx_relation/src/io_maps.rs
  nidx/nidx_relation/src/lib.rs
  nidx/nidx_relation/src/reader.rs
  nidx/nidx_relation/tests/test_reader.rs
  nidx/src/searcher/query_planner.rs
  nidx/src/searcher/shard_search.rs
  nidx/tests/test_date_range_search.rs
  nidx/tests/test_search_relations.rs
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/src/nucliadb/search/search/query_parser/models.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/search.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/unit_retrieval.py
  nucliadb/tests/ndbfixtures/resources.py
  nucliadb/tests/nucliadb/integration/search/graph/test_legacy_relation_search.py
  nucliadb/tests/nucliadb/integration/search/test_search.py
  nucliadb/tests/search/unit/test_find_post_index.py
  nucliadb_protos/nodereader.proto
Due: lint_nucliadb, rustfmt_nidx, clippy_nidx

Decouple /search and /find features (aka, SearchOptions)
  nucliadb/src/nucliadb/search/api/v1/find.py
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/common.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/find.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/search.py
  nucliadb/src/nucliadb/search/search/utils.py
  nucliadb/tests/nucliadb/integration/search/test_filters.py
  nucliadb/tests/nucliadb/integration/search/test_search.py
  nucliadb/tests/nucliadb/integration/search/test_search_date_ranges_filter.py
  nucliadb/tests/nucliadb/integration/test_deletion.py
  nucliadb/tests/nucliadb/integration/test_find.py
  nucliadb/tests/search/unit/search/search/chat/test_ask.py
  nucliadb/tests/search/unit/search/search/chat/test_query.py
  nucliadb/tests/search/unit/search/search/test_common_query_parser.py
  nucliadb/tests/search/unit/search/search/test_utils.py
  nucliadb/tests/search/unit/search/test_query.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_models/tests/test_search.py
  nucliadb_sdk/tests/test_request_serialization.py
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_sdk

Add missing super class str to FindOptions
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb_models

Separate audit search request
  nucliadb_protos/audit.proto
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
Due: lint_nucliadb_utils

Log fixes & workflow fix (#3080)
  .github/workflows/release.yml
  nucliadb/src/nucliadb/ingest/consumer/consumer.py
  nucliadb_telemetry/src/nucliadb_telemetry/context.py
  ruff.toml
Due: lint_nucliadb, lint_nucliadb_telemetry

Separate audit search request (#3081)
  nucliadb_protos/audit.proto
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
Due: lint_nucliadb_utils

Move node protos to nidx
  nidx/nidx_protos/build.py
  nidx/nidx_protos/pyproject.toml
  nidx/nidx_protos/src/nidx.proto
  nidx/nidx_protos/src/nodereader.proto
  nidx/nidx_protos/src/noderesources.proto
  nidx/nidx_protos/src/nodewriter.proto
  nucliadb_protos/audit.proto
  nucliadb_protos/build.py
  nucliadb_protos/knowledgebox.proto
  nucliadb_protos/writer.proto
Due: none

Audit search filters
  nucliadb_protos/audit.proto
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
Due: lint_nucliadb_utils

Delete old shard replicas
  nucliadb/src/migrations/0017_multiple_writable_shards.py
  nucliadb/src/nucliadb/common/cluster/utils.py
  nucliadb/src/nucliadb/common/datamanagers/rollover.py
  nucliadb/src/nucliadb/ingest/consumer/shard_creator.py
  nucliadb/tests/nucliadb/migrations/test_migration_0017.py
Due: lint_nucliadb

Fix vector index config
  nucliadb/src/migrations/0025_assign_models_to_kbs_v2.py
  nucliadb/src/nucliadb/common/cluster/manager.py
  nucliadb/src/nucliadb/common/cluster/rollover.py
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/tests/ingest/integration/ingest/test_vectorsets.py
  nucliadb/tests/search/unit/search/requesters/test_utils.py
Due: lint_nucliadb

Fix nidx_protos rust build
  nidx/nidx_protos/build.rs
Due: rustfmt_nidx, clippy_nidx

Fixes
  nucliadb/src/nucliadb/common/cluster/rollover.py
  nucliadb/src/nucliadb/writer/back_pressure.py
Due: lint_nucliadb

I hate protoc
  nidx/nidx_protos/build.py
  nidx/nidx_protos/build.rs
  nidx/nidx_protos/nidx.proto
  nidx/nidx_protos/nodereader.proto
  nidx/nidx_protos/noderesources.proto
  nidx/nidx_protos/nodewriter.proto
Due: rustfmt_nidx, clippy_nidx

Forget about grpc types in nidx for now
  nidx/nidx_protos/build.py
Due: none

Missing file
  nucliadb/src/nucliadb/common/vector_index_config.py
Due: lint_nucliadb

Decouple search and find features (#3078)
  nucliadb/src/nucliadb/search/api/v1/find.py
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/common.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/find.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/search.py
  nucliadb/src/nucliadb/search/search/utils.py
  nucliadb/tests/nucliadb/integration/search/test_filters.py
  nucliadb/tests/nucliadb/integration/search/test_search.py
  nucliadb/tests/nucliadb/integration/search/test_search_date_ranges_filter.py
  nucliadb/tests/nucliadb/integration/test_deletion.py
  nucliadb/tests/nucliadb/integration/test_find.py
  nucliadb/tests/search/unit/search/search/chat/test_ask.py
  nucliadb/tests/search/unit/search/search/chat/test_query.py
  nucliadb/tests/search/unit/search/search/test_common_query_parser.py
  nucliadb/tests/search/unit/search/search/test_utils.py
  nucliadb/tests/search/unit/search/test_query.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_models/tests/test_search.py
  nucliadb_sdk/tests/test_request_serialization.py
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_sdk

Fix rollover/rebalance
  nucliadb_models/src/nucliadb_models/internal/shards.py
Due: lint_nucliadb_models

Audit search filters (#3082)
  nucliadb_protos/audit.proto
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
Due: lint_nucliadb_utils

Fix unit tests
  nucliadb/tests/nucliadb/unit/common/cluster/test_rollover.py
  nucliadb/tests/search/unit/search/requesters/test_utils.py
Due: lint_nucliadb

wip
  nucliadb/tests/nucliadb/integration/test_vectorsets_api.py
  nucliadb/tests/utils/broker_messages/__init__.py
  nucliadb/tests/utils/broker_messages/fields.py
Due: lint_nucliadb

Path conditions:
  lint_nucliadb: any of: (^nucliadb/) and \.py$
  lint_nucliadb_dataset: any of: (^nucliadb_dataset/) and \.py$
  lint_nucliadb_models: any of: (^nucliadb_models/) and \.py$
  lint_nucliadb_sdk: any of: (^nucliadb_sdk/) and \.py$
  lint_nucliadb_telemetry: any of: (^nucliadb_telemetry/) and \.py$
  lint_nucliadb_utils: any of: (^nucliadb_utils/) and \.py$
  rustfmt_nidx: any of: (^nidx/) and \.rs$
  clippy_nidx: any of: (^nidx/) and \.rs$
