Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint_nucliadb
        name: Lint nucliadb
        entry: make -C nucliadb lint
        language: system
        files: (^nucliadb/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_dataset
        name: Lint nucliadb_dataset
        entry: make -C nucliadb_dataset lint
        language: system
        files: (^nucliadb_dataset/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_models
        name: Lint nucliadb_models
        entry: make -C nucliadb_models lint
        language: system
        files: (^nucliadb_models/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_node
        name: Lint nucliadb_node
        entry: make -C nucliadb_node lint
        language: system
        files: (^nucliadb_node/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_node_binding
        name: Lint nucliadb_node_binding
        entry: make -C nucliadb_node_binding lint
        language: system
        files: (^nucliadb_node_binding/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_performance
        name: Lint nucliadb_performance
        entry: make -C nucliadb_performance lint
        language: system
        files: (^nucliadb_performance/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_sdk
        name: Lint nucliadb_sdk
        entry: make -C nucliadb_sdk lint
        language: system
        files: (^nucliadb_sdk/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_telemetry
        name: Lint nucliadb_telemetry
        entry: make -C nucliadb_telemetry lint
        language: system
        files: (^nucliadb_telemetry/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_utils
        name: Lint nucliadb_utils
        entry: make -C nucliadb_utils lint
        language: system
        files: (^nucliadb_utils/)
        types: ["python"]
        pass_filenames: false

      - id: rustfmt_nucliadb
        name: fmt
        entry: cargo fmt --check
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nucliadb
        name: clippy
        entry: cargo clippy --all-features -- -D warnings
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

Fix deprecated payload
  nucliadb/src/nucliadb/ingest/fields/base.py
Due: lint_nucliadb

Fix comment
  nucliadb/src/nucliadb/ingest/fields/base.py
Due: lint_nucliadb

Fix lint
  nucliadb/src/nucliadb/ingest/fields/base.py
Due: lint_nucliadb

Fix vulnerability
  nucliadb/requirements.txt
Due: none

Fix test
  nucliadb/tests/search/unit/search/test_chat_prompt.py
Due: lint_nucliadb

wip
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb_core/src/query_planner.rs
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_texts2/src/reader.rs
  nucliadb_texts2/tests/test_search.rs
Due: lint_nucliadb, lint_nucliadb_models, rustfmt_nucliadb, clippy_nucliadb

add more docs
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb_models

Cleaner ner metadata extension (#2430)
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/tests/search/unit/search/test_chat_prompt.py
Due: lint_nucliadb

Add docs for prequeries (#2431)
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb_models

Fix
  nucliadb_dataset/tests/integration/test_question_answer_streaming.py
Due: lint_nucliadb_dataset

wip
  nucliadb_core/src/query_language/mod.rs
  nucliadb_core/src/query_planner.rs
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_protos/nodereader.proto
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.pyi
  nucliadb_protos/rust/src/nodereader.rs
  nucliadb_texts2/src/query_io.rs
  nucliadb_texts2/src/reader.rs
  nucliadb_texts2/src/search_query.rs
  nucliadb_texts2/tests/test_search.rs
Due: lint_nucliadb_models, rustfmt_nucliadb, clippy_nucliadb

Fix test
  nucliadb/src/nucliadb/train/generators/question_answer_streaming.py
Due: lint_nucliadb

Add mimetype / field and splits of qas (#2422)
  nucliadb/src/nucliadb/ingest/fields/base.py
  nucliadb/src/nucliadb/ingest/serialize.py
  nucliadb/src/nucliadb/train/generators/question_answer_streaming.py
  nucliadb/tests/ingest/fixtures.py
  nucliadb/tests/ingest/integration/ingest/test_ingest.py
  nucliadb/tests/nucliadb/integration/test_api.py
  nucliadb/tests/utils/broker_messages/fields.py
  nucliadb_dataset/tests/integration/test_question_answer_streaming.py
  nucliadb_models/src/nucliadb_models/common.py
  nucliadb_models/src/nucliadb_models/extracted.py
  nucliadb_models/src/nucliadb_models/resource.py
  nucliadb_protos/python/src/nucliadb_protos/dataset_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2_grpc.pyi
  nucliadb_protos/resources.proto
  nucliadb_protos/rust/src/fdbwriter.rs
  nucliadb_protos/rust/src/resources.rs
  nucliadb_protos/writer.proto
Due: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models

Fix test
  nucliadb/tests/nucliadb/integration/test_api.py
Due: lint_nucliadb

Fix test (#2432)
  nucliadb/tests/nucliadb/integration/test_api.py
Due: lint_nucliadb

Add test and wiring to the python side
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/src/nucliadb/search/search/pgcatalog.py
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/tests/nucliadb/integration/test_find.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

wip
  nucliadb_core/src/query_language/mod.rs
  nucliadb_core/src/query_planner.rs
  nucliadb_texts2/src/query_io.rs
Due: none

Fix
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/src/nucliadb/train/generators/question_answer_streaming.py
  nucliadb/tests/nucliadb/integration/test_api.py
  nucliadb/tests/nucliadb/integration/test_find.py
  nucliadb_dataset/tests/integration/test_question_answer_streaming.py
  nucliadb_texts2/src/search_query.rs
  nucliadb_texts2/tests/test_search.rs
Due: lint_nucliadb, lint_nucliadb_dataset

proper format
  nucliadb/src/nucliadb/train/generators/question_answer_streaming.py
  nucliadb/tests/nucliadb/integration/test_api.py
  nucliadb_dataset/tests/integration/test_question_answer_streaming.py
Due: lint_nucliadb, lint_nucliadb_dataset

proper format (#2434)
  nucliadb/src/nucliadb/train/generators/question_answer_streaming.py
  nucliadb/tests/nucliadb/integration/test_api.py
  nucliadb_dataset/tests/integration/test_question_answer_streaming.py
Due: lint_nucliadb, lint_nucliadb_dataset

Fix some more tests
  nucliadb/tests/search/integration/requesters/test_utils.py
  nucliadb/tests/search/unit/search/search/test_pgcatalog.py
  nucliadb/tests/search/unit/search/test_query.py
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_node_binding/src/reader.rs
Due: lint_nucliadb, rustfmt_nucliadb, clippy_nucliadb

Make it work!
  nucliadb/tests/nucliadb/integration/test_find.py
  nucliadb/tests/nucliadb/unit/common/external_index_providers/test_pinecone.py
  nucliadb/tests/search/unit/search/test_query.py
  nucliadb_core/src/query_language/mod.rs
  nucliadb_core/src/query_planner.rs
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_node_binding/src/reader.rs
  nucliadb_texts2/src/query_io.rs
Due: lint_nucliadb, rustfmt_nucliadb, clippy_nucliadb

Cleanup old NewKnowledgeBox gRPC method
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/src/nucliadb/ingest/service/writer.py
  nucliadb/src/nucliadb/writer/api/v1/knowledgebox.py
  nucliadb/tests/ingest/integration/orm/test_orm_knowledgebox.py
  nucliadb/tests/ingest/integration/servicer/test_entities_servicer.py
  nucliadb/tests/ingest/unit/service/test_writer.py
  nucliadb/tests/ndbfixtures/resources.py
  nucliadb/tests/nucliadb/integration/test_matryoshka_embeddings.py
  nucliadb/tests/nucliadb/integration/test_pinecone_kb.py
  nucliadb/tests/nucliadb/migrations/test_migration_0018.py
  nucliadb_protos/knowledgebox.proto
  nucliadb_protos/python/src/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/knowledgebox_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2_grpc.py
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2_grpc.pyi
  nucliadb_protos/rust/src/knowledgebox.rs
  nucliadb_protos/writer.proto
Due: lint_nucliadb

Remove vectorsets v0 FF
  nucliadb/src/nucliadb/search/predict.py
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb_utils/src/nucliadb_utils/const.py
  nucliadb_utils/src/nucliadb_utils/featureflagging.py
Due: lint_nucliadb, lint_nucliadb_utils

Fix tests
  nucliadb/tests/ingest/integration/servicer/test_reindex.py
  nucliadb/tests/ingest/integration/servicer/test_shards_management.py
Due: lint_nucliadb

Make it work!
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb_models

Test more complex use-cases
  nucliadb/tests/nucliadb/integration/test_find.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_texts2/src/query_io.rs
Due: lint_nucliadb, lint_nucliadb_models

Small tweaks
  nucliadb/tests/nucliadb/integration/test_find.py
  nucliadb_texts2/src/query_io.rs
Due: lint_nucliadb

Adapt comments
  nucliadb_core/src/query_language/mod.rs
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_texts2/tests/test_search.rs
Due: lint_nucliadb_models

Cleanup old NewKnowledgeBox gRPC method (#2428)
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/src/nucliadb/ingest/service/writer.py
  nucliadb/src/nucliadb/search/predict.py
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/src/nucliadb/writer/api/v1/knowledgebox.py
  nucliadb/tests/ingest/integration/orm/test_orm_knowledgebox.py
  nucliadb/tests/ingest/integration/servicer/test_entities_servicer.py
  nucliadb/tests/ingest/integration/servicer/test_reindex.py
  nucliadb/tests/ingest/integration/servicer/test_shards_management.py
  nucliadb/tests/ingest/unit/service/test_writer.py
  nucliadb/tests/ndbfixtures/resources.py
  nucliadb/tests/nucliadb/integration/test_matryoshka_embeddings.py
  nucliadb/tests/nucliadb/integration/test_pinecone_kb.py
  nucliadb/tests/nucliadb/migrations/test_migration_0018.py
  nucliadb_protos/knowledgebox.proto
  nucliadb_protos/python/src/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/knowledgebox_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2_grpc.py
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2_grpc.pyi
  nucliadb_protos/rust/src/knowledgebox.rs
  nucliadb_protos/writer.proto
  nucliadb_utils/src/nucliadb_utils/const.py
  nucliadb_utils/src/nucliadb_utils/featureflagging.py
Due: lint_nucliadb, lint_nucliadb_utils

Keyword Filtering (#2433)
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/src/nucliadb/search/search/pgcatalog.py
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/tests/nucliadb/integration/test_find.py
  nucliadb/tests/nucliadb/unit/common/external_index_providers/test_pinecone.py
  nucliadb/tests/search/integration/requesters/test_utils.py
  nucliadb/tests/search/unit/search/search/test_pgcatalog.py
  nucliadb/tests/search/unit/search/test_query.py
  nucliadb_core/src/query_language/mod.rs
  nucliadb_core/src/query_planner.rs
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_protos/nodereader.proto
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.pyi
  nucliadb_protos/rust/src/nodereader.rs
  nucliadb_texts2/src/query_io.rs
  nucliadb_texts2/src/reader.rs
  nucliadb_texts2/src/search_query.rs
  nucliadb_texts2/tests/test_search.rs
Due: lint_nucliadb, lint_nucliadb_models, rustfmt_nucliadb, clippy_nucliadb

wip
  nucliadb/tests/nucliadb/integration/test_find.py
Due: lint_nucliadb

Update cryptography
  pdm.lock
Due: none

Update cryptography (#2437)
  pdm.lock
Due: none

Remove relations from default ask features
  nucliadb/tests/nucliadb/integration/test_ask.py
  nucliadb/tests/search/unit/search/search/chat/test_query.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_sdk/tests/test_ask.py
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_sdk

Implement VectorIds for bindings
  nucliadb/src/nucliadb/common/cluster/standalone/grpc_node_binding.py
  nucliadb_node_binding/src/reader.rs
Due: lint_nucliadb

Update broker message builder to be compatible with vectorsets
  nucliadb/tests/utils/broker_messages/__init__.py
  nucliadb/tests/utils/broker_messages/fields.py
Due: lint_nucliadb

Test reindex id duplication
  nucliadb/tests/nucliadb/integration/test_reindex.py
Due: lint_nucliadb

Implement VectorIds for vectorsets
  nucliadb_node/src/grpc/grpc_reader.rs
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_protos/nodereader.proto
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2_grpc.py
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2_grpc.pyi
  nucliadb_protos/rust/src/nodereader.rs
Due: rustfmt_nucliadb, clippy_nucliadb
