Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

lint_nucliadb:
  name: Lint nucliadb
  entry: make -C nucliadb lint
  language: system

lint_nucliadb_dataset:
  name: Lint nucliadb_dataset
  entry: make -C nucliadb_dataset lint
  language: system

lint_nucliadb_models:
  name: Lint nucliadb_models
  entry: make -C nucliadb_models lint
  language: system

lint_nucliadb_node:
  name: Lint nucliadb_node
  entry: make -C nucliadb_node lint
  language: system

lint_nucliadb_node_binding:
  name: Lint nucliadb_node_binding
  entry: make -C nucliadb_node_binding lint
  language: system

lint_nucliadb_performance:
  name: Lint nucliadb_performance
  entry: make -C nucliadb_performance lint
  language: system

lint_nucliadb_sdk:
  name: Lint nucliadb_sdk
  entry: make -C nucliadb_sdk lint
  language: system

lint_nucliadb_telemetry:
  name: Lint nucliadb_telemetry
  entry: make -C nucliadb_telemetry lint
  language: system

lint_nucliadb_utils:
  name: Lint nucliadb_utils
  entry: make -C nucliadb_utils lint
  language: system

rustfmt_nucliadb:
  name: fmt
  entry: cargo +nightly fmt --check
  language: system
  pass_filenames: false

clippy_nucliadb:
  name: clippy
  entry: cargo clippy --all-features -- -D warnings
  language: system
  pass_filenames: false

Rename vectorsets binding functions
  nucliadb/nucliadb/common/cluster/base.py
  nucliadb/nucliadb/common/cluster/standalone/grpc_node_binding.py
  nucliadb_node_binding/src/writer.rs
Due: lint_nucliadb

Implement vectorsets in node bindings
  nucliadb_node_binding/src/writer.rs
Due: none

Delete unused code
  nucliadb_node/src/shards/shard_reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Improve functions in base node
  nucliadb/nucliadb/common/cluster/base.py
Due: lint_nucliadb

try two methods
  nucliadb/nucliadb/tests/integration/search/test_search.py
Due: lint_nucliadb

Fix typing
  nucliadb/nucliadb/common/cluster/base.py
Due: lint_nucliadb

Switch to argdantic
  mypy.ini
  nucliadb/nucliadb/common/cluster/settings.py
  nucliadb/nucliadb/common/maindb/utils.py
  nucliadb/nucliadb/ingest/settings.py
  nucliadb/nucliadb/learning_proxy.py
  nucliadb/nucliadb/standalone/introspect.py
  nucliadb/nucliadb/standalone/purge.py
  nucliadb/nucliadb/standalone/run.py
  nucliadb/nucliadb/standalone/settings.py
  nucliadb/nucliadb/standalone/tests/unit/test_run.py
  nucliadb/nucliadb/tests/unit/common/maindb/test_utils.py
  nucliadb/requirements.txt
  nucliadb_dataset/nucliadb_dataset/run.py
  nucliadb_dataset/requirements.txt
  nucliadb_sdk/nucliadb_sdk/v2/sdk.py
  nucliadb_telemetry/nucliadb_telemetry/settings.py
  nucliadb_utils/nucliadb_utils/settings.py
  nucliadb_utils/nucliadb_utils/tests/unit/test_utilities.py
  pdm.lock
Due: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils

fix lint
  nucliadb_utils/nucliadb_utils/fastapi/versioning.py
  nucliadb_utils/nucliadb_utils/nuclia_usage/protos/kb_usage_pb2.pyi
  nucliadb_utils/nucliadb_utils/tests/asyncbenchmark.py
  nucliadb_utils/nucliadb_utils/tests/gcs.py
  nucliadb_utils/nucliadb_utils/tests/unit/test_authentication.py
  nucliadb_utils/nucliadb_utils/utilities.py
Due: lint_nucliadb_utils

Switch to argdantic (#2163)
  mypy.ini
  nucliadb/nucliadb/common/cluster/settings.py
  nucliadb/nucliadb/common/maindb/utils.py
  nucliadb/nucliadb/ingest/settings.py
  nucliadb/nucliadb/learning_proxy.py
  nucliadb/nucliadb/standalone/introspect.py
  nucliadb/nucliadb/standalone/purge.py
  nucliadb/nucliadb/standalone/run.py
  nucliadb/nucliadb/standalone/settings.py
  nucliadb/nucliadb/standalone/tests/unit/test_run.py
  nucliadb/nucliadb/tests/unit/common/maindb/test_utils.py
  nucliadb/requirements.txt
  nucliadb_dataset/nucliadb_dataset/run.py
  nucliadb_dataset/requirements.txt
  nucliadb_sdk/nucliadb_sdk/v2/sdk.py
  nucliadb_telemetry/nucliadb_telemetry/settings.py
  nucliadb_utils/nucliadb_utils/settings.py
  nucliadb_utils/nucliadb_utils/tests/unit/test_utilities.py
  pdm.lock
Due: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils

Single app tag for all node replicas (#2160)
  charts/nucliadb_node/templates/node.replicas.svc.yaml
Due: none

Change app label in node replicas deployment
  charts/nucliadb_node/templates/node.replicas.deploy.yaml
  charts/nucliadb_node/templates/node.replicas.svc.yaml
Due: none

fix test
  nucliadb/nucliadb/ingest/tests/unit/consumer/test_auditing.py
Due: lint_nucliadb

Change app label in node replicas deployment (#2164)
  charts/nucliadb_node/templates/node.replicas.deploy.yaml
  charts/nucliadb_node/templates/node.replicas.svc.yaml
Due: none

Add date range filtering for catalog (#2161)
  nucliadb/nucliadb/search/api/v1/search.py
  nucliadb/nucliadb/tests/integration/search/test_search.py
  nucliadb_models/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

Add PyNacl dependency (from nkeys which forgot it)
  nucliadb/requirements.lock.txt
  nucliadb_telemetry/setup.py
  nucliadb_utils/requirements.txt
  pdm.lock
Due: lint_nucliadb_telemetry

Add PyNacl dependency (from nkeys which forgot it) (#2166)
  nucliadb/requirements.lock.txt
  nucliadb_telemetry/setup.py
  nucliadb_utils/requirements.txt
  pdm.lock
Due: lint_nucliadb_telemetry

Delete services
  charts/nucliadb_node/templates/node.replicas.deploy.yaml
  charts/nucliadb_node/templates/node.replicas.svc.yaml
  charts/nucliadb_node/templates/node.svc.yaml
Due: none

rename labels
  charts/nucliadb_node/templates/node.replicas.deploy.yaml
Due: none

K8s selector (#2167)
  charts/nucliadb_node/templates/node.replicas.deploy.yaml
  charts/nucliadb_node/templates/node.replicas.svc.yaml
  charts/nucliadb_node/templates/node.svc.yaml
Due: none

Handle rebalance job being locked
  nucliadb/nucliadb/common/cluster/rebalance.py
  nucliadb/nucliadb/common/locking.py
  nucliadb/nucliadb/tests/unit/common/cluster/test_rebalance.py
  pdm.lock
  pyproject.toml
Due: lint_nucliadb

Change variable name
  nucliadb/nucliadb/ingest/orm/processor/__init__.py
Due: lint_nucliadb

Split shard & vector configuration (#2155)
  nucliadb_core/src/lib.rs
  nucliadb_node/src/cache/writer_cache.rs
  nucliadb_node/src/grpc/grpc_writer.rs
  nucliadb_node/src/lib.rs
  nucliadb_node/src/replication/replicator.rs
  nucliadb_node/src/replication/service.rs
  nucliadb_node/src/shards/metadata.rs
  nucliadb_node/src/shards/shard_writer.rs
  nucliadb_node/src/shards/tests.rs
  nucliadb_node/tests/test_vector_normalization.rs
  nucliadb_node/tests/test_vectorsets.rs
  nucliadb_node_binding/src/writer.rs
  nucliadb_protos/nodewriter.proto
  nucliadb_protos/replication.proto
  nucliadb_protos/rust/src/nodewriter.rs
  nucliadb_protos/rust/src/replication.rs
  nucliadb_vectors/src/config.rs
  nucliadb_vectors/src/data_point/mod.rs
  nucliadb_vectors/src/data_point/tests.rs
  nucliadb_vectors/src/data_point_provider/mod.rs
  nucliadb_vectors/src/data_point_provider/reader.rs
  nucliadb_vectors/src/data_point_provider/writer.rs
  nucliadb_vectors/src/lib.rs
  nucliadb_vectors/src/service/mod.rs
  nucliadb_vectors/src/service/reader.rs
  nucliadb_vectors/src/service/writer.rs
  nucliadb_vectors/tests/test_merge.rs
  vectors_benchmark/src/binaries/1m_stats.rs
  vectors_benchmark/src/binaries/synthetic_recall_benchmark.rs
  vectors_benchmark/src/binaries/vectors_benchmark.rs
  vectors_benchmark/src/engines/vectors.rs
Due: rustfmt_nucliadb, clippy_nucliadb

as constant
  nucliadb/nucliadb/common/cluster/rebalance.py
Due: lint_nucliadb

better test
  nucliadb/nucliadb/tests/unit/common/cluster/test_rebalance.py
Due: lint_nucliadb

Vectorset replication test
  nucliadb_node/tests/test_replication.rs
Due: rustfmt_nucliadb, clippy_nucliadb

done
  pyproject.toml
Due: none

done
  pdm.lock
Due: none

Handle rebalance job being locked (#2168)
  nucliadb/nucliadb/common/cluster/rebalance.py
  nucliadb/nucliadb/common/locking.py
  nucliadb/nucliadb/tests/unit/common/cluster/test_rebalance.py
Due: lint_nucliadb

wip
  nucliadb/nucliadb/search/api/v1/ask.py
  nucliadb/nucliadb/search/api/v1/chat.py
  nucliadb/nucliadb/search/search/ask.py
  nucliadb/nucliadb/search/search/chat/query.py
Due: lint_nucliadb

wip
  nucliadb/nucliadb/search/api/v1/ask.py
  nucliadb/nucliadb/search/api/v1/chat.py
  nucliadb/nucliadb/search/search/chat/ask.py
  nucliadb/nucliadb/search/search/chat/query.py
Due: lint_nucliadb

Add vectorsets support to bindings (#2162)
  nucliadb/nucliadb/common/cluster/base.py
  nucliadb/nucliadb/common/cluster/standalone/grpc_node_binding.py
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_node_binding/src/writer.rs
Due: lint_nucliadb, rustfmt_nucliadb, clippy_nucliadb

wip
  nucliadb/nucliadb/search/api/v1/chat.py
  nucliadb/nucliadb/search/predict.py
  nucliadb/nucliadb/search/search/chat/query.py
  nucliadb/nucliadb/search/tests/unit/search/search/chat/test_query.py
  nucliadb/nucliadb/search/tests/unit/test_predict.py
  nucliadb/nucliadb/tests/integration/test_chat.py
Due: lint_nucliadb

wip
  nucliadb/nucliadb/search/api/v1/chat.py
Due: lint_nucliadb

Fix vectorests bindings after merge without rebase
  nucliadb_node_binding/src/errors.rs
  nucliadb_node_binding/src/writer.rs
Due: none

Fix vectorests bindings after merge without rebase (#2171)
  nucliadb_node_binding/src/errors.rs
  nucliadb_node_binding/src/writer.rs
Due: none

Replicate vectorsets
  nucliadb_core/src/vectors.rs
  nucliadb_node/src/replication/service.rs
  nucliadb_node/src/shards/indexes.rs
  nucliadb_node/src/shards/shard_writer.rs
  nucliadb_vectors/src/service/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Fix requests version for docker
  nucliadb/requirements-test.txt
  nucliadb_sdk/requirements-test.txt
  test-requirements.txt
Due: none

Path conditions:
  lint_nucliadb: any of: (^nucliadb/) and \.py$
  lint_nucliadb_dataset: any of: (^nucliadb_dataset/) and \.py$
  lint_nucliadb_models: any of: (^nucliadb_models/) and \.py$
  lint_nucliadb_node: any of: (^nucliadb_node/) and \.py$
  lint_nucliadb_node_binding: any of: (^nucliadb_node_binding/) and \.py$
  lint_nucliadb_performance: any of: (^nucliadb_performance/) and \.py$
  lint_nucliadb_sdk: any of: (^nucliadb_sdk/) and \.py$
  lint_nucliadb_telemetry: any of: (^nucliadb_telemetry/) and \.py$
  lint_nucliadb_utils: any of: (^nucliadb_utils/) and \.py$
  rustfmt_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
  clippy_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
