Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

lint_nucliadb:
  name: Lint nucliadb
  entry: make -C nucliadb lint
  language: system
  pass_filenames: false

lint_nucliadb_dataset:
  name: Lint nucliadb_dataset
  entry: make -C nucliadb_dataset lint
  language: system
  pass_filenames: false

lint_nucliadb_models:
  name: Lint nucliadb_models
  entry: make -C nucliadb_models lint
  language: system
  pass_filenames: false

lint_nucliadb_node:
  name: Lint nucliadb_node
  entry: make -C nucliadb_node lint
  language: system
  pass_filenames: false

lint_nucliadb_node_binding:
  name: Lint nucliadb_node_binding
  entry: make -C nucliadb_node_binding lint
  language: system
  pass_filenames: false

lint_nucliadb_performance:
  name: Lint nucliadb_performance
  entry: make -C nucliadb_performance lint
  language: system
  pass_filenames: false

lint_nucliadb_sdk:
  name: Lint nucliadb_sdk
  entry: make -C nucliadb_sdk lint
  language: system
  pass_filenames: false

lint_nucliadb_telemetry:
  name: Lint nucliadb_telemetry
  entry: make -C nucliadb_telemetry lint
  language: system
  pass_filenames: false

lint_nucliadb_utils:
  name: Lint nucliadb_utils
  entry: make -C nucliadb_utils lint
  language: system
  pass_filenames: false

rustfmt_nucliadb:
  name: fmt
  entry: cargo fmt --check
  language: system
  pass_filenames: false

clippy_nucliadb:
  name: clippy
  entry: cargo clippy --all-features -- -D warnings
  language: system
  pass_filenames: false

Use oneliners instead of a for
  nidx/src/maintenance/scheduler.rs
Due: none

Fix vector search metadata serialization (#2570)
  nidx/nidx_vector/src/data_point/mod.rs
  nucliadb_vectors/src/data_point/mod.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Add origin field to relation metadata (#2566)
  nucliadb_protos/python/src/nucliadb_protos/utils_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/utils_pb2.pyi
  nucliadb_protos/rust/src/utils.rs
  nucliadb_protos/utils.proto
Due: none

Fix and test seq id in merge scheduling
  nidx/.sqlx/query-3c57c7059d4823d07c20d50520eda813a28f97d286f2c1197f7cddddc169ef23.json
  nidx/nidx_types/src/lib.rs
  nidx/src/maintenance/scheduler.rs
Due: none

Very basic search working
  nidx/.sqlx/query-003a30794c69fa16118ab439d1a289c6884980f791d4206950461204370bc542.json
  nidx/.sqlx/query-0592d80a004cb975976e21de68ca2c9c8bf1ade90950e7a846a4387634f2d1c2.json
  nidx/.sqlx/query-24cb6b683daa42d7125f862e25943ab4be7bf275cd8739f8da4859d701795e1a.json
  nidx/.sqlx/query-92bb5eeed2801592f8b0d75e166736dc89093123931b21fe8cf9eac43a4c7a40.json
  nidx/.sqlx/query-bb28bf103f840e522c3b9985cf51c2e3005b75781fdebe469b0b406415b82529.json
  nidx/.sqlx/query-dbba7b3d3289425bae711aedbf73fbc3699f857f86f84d95c3b556d05c5658b0.json
  nidx/.sqlx/query-de7b3b23f73173c3b58fbfdbfa133aef678154e058359e60d8412978b09a7c61.json
  nidx/.sqlx/query-ea5ade288f09858fdec4b07a184ed93e2519465532fa2398c3e1cb72accf0f92.json
  nidx/.sqlx/query-ee30d1f4cff7d07f41220adf858ec2d50a33af9f44ef19a0ece776affd0514d8.json
  nidx/Cargo.lock
  nidx/Cargo.toml
  nidx/migrations/20241007163501_initial.sql
  nidx/nidx_protos/Cargo.toml
  nidx/nidx_protos/build.rs
  nidx/nidx_protos/src/lib.rs
  nidx/nidx_types/src/lib.rs
  nidx/nidx_vector/src/data_point_provider/mod.rs
  nidx/nidx_vector/src/data_point_provider/reader.rs
  nidx/nidx_vector/src/data_types/dtrie_ram.rs
  nidx/nidx_vector/src/lib.rs
  nidx/src/indexer.rs
  nidx/src/maintenance/worker.rs
  nidx/src/metadata.rs
  nidx/src/metadata/index.rs
  nidx/src/searcher.rs
  nidx/src/searcher/grpc.rs
  nidx/src/searcher/shard_search.rs
  nidx/src/searcher/sync.rs
  nidx/src/segment_store.rs
  nucliadb/src/nucliadb/search/api/v1/find.py
  nucliadb/src/nucliadb/search/requesters/utils.py
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/src/nucliadb/search/settings.py
Due: lint_nucliadb

Better to use seq for DTrie
  nidx/nidx_types/src/lib.rs
  nidx/nidx_vector/src/data_point_provider/mod.rs
  nidx/nidx_vector/src/data_point_provider/reader.rs
  nidx/nidx_vector/src/data_types/dtrie_ram.rs
  nidx/nidx_vector/src/lib.rs
Due: none

lint
  nucliadb/src/nucliadb/search/api/v1/find.py
  nucliadb/src/nucliadb/search/requesters/utils.py
Due: lint_nucliadb

Change default
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb_models

index metadata store for sync
  nidx/nidx_types/src/lib.rs
  nidx/src/metadata/index.rs
  nidx/src/metadata/segment.rs
  nidx/src/searcher.rs
  nidx/src/searcher/grpc.rs
  nidx/src/searcher/shard_search.rs
  nidx/src/searcher/sync.rs
Due: none

Add index id to merge jobs (#2568)
  nidx/.sqlx/query-05f65264d1982a06276c23fb48437cf942f5fc67b0a2ac2924ceff8070392f62.json
  nidx/.sqlx/query-3c57c7059d4823d07c20d50520eda813a28f97d286f2c1197f7cddddc169ef23.json
  nidx/.sqlx/query-4963bae09292bcd89667bd199a6995e7fe10118f26e1a695a7213abadfc88751.json
  nidx/.sqlx/query-5e1f1e5904356fa8b462a0fe3424ea9f612b6c4b338af9b431a2b121b4799f0c.json
  nidx/.sqlx/query-761eca538719a2bd190f070876ba25f3caefa4769372dc74b690a9cf90edc221.json
  nidx/.sqlx/query-cc69b8bd52181ec54f01ce5f76f8f35b5fdae6cfac991720dd0779eb5fbf0d1b.json
  nidx/migrations/20241007163501_initial.sql
  nidx/nidx_types/src/lib.rs
  nidx/src/maintenance/scheduler.rs
  nidx/src/maintenance/worker.rs
  nidx/src/metadata/index.rs
  nidx/src/metadata/merge_job.rs
Due: none

wip
  nucliadb/src/nucliadb/writer/api/v1/knowledgebox.py
Due: lint_nucliadb

Work in progress
  nucliadb/src/nucliadb/writer/api/v1/knowledgebox.py
  nucliadb/src/nucliadb/writer/embeddings.py
Due: lint_nucliadb

Work in progress
  nucliadb/src/nucliadb/writer/embeddings.py
Due: lint_nucliadb

Searcher cache, without reloading
  nidx/Cargo.lock
  nidx/Cargo.toml
  nidx/src/searcher.rs
  nidx/src/searcher/grpc.rs
  nidx/src/searcher/index_cache.rs
  nidx/src/searcher/metadata.rs
  nidx/src/searcher/shard_search.rs
  nidx/src/searcher/sync.rs
Due: none

Refresh searcher on changes
  nidx/src/searcher.rs
  nidx/src/searcher/index_cache.rs
  nidx/src/searcher/metadata.rs
Due: none

Fix cached vectorset in Base field using a dict
  nucliadb/src/nucliadb/ingest/fields/base.py
Due: lint_nucliadb

Test for index message generation with vectorsets
  nucliadb/tests/ingest/fixtures.py
  nucliadb/tests/ingest/integration/orm/test_orm_resource.py
Due: lint_nucliadb

Fix get_vectors when no vectors
  nucliadb/src/nucliadb/ingest/fields/base.py
  nucliadb/tests/ingest/integration/orm/test_orm_resource.py
Due: lint_nucliadb

Fix cached vectorset in Base field using a dict (#2573)
  nucliadb/src/nucliadb/ingest/fields/base.py
  nucliadb/tests/ingest/fixtures.py
  nucliadb/tests/ingest/integration/orm/test_orm_resource.py
Due: lint_nucliadb

Tests for searcher
  nidx/Cargo.lock
  nidx/Cargo.toml
  nidx/nidx_tests/Cargo.toml
  nidx/nidx_tests/src/lib.rs
  nidx/src/indexer.rs
  nidx/src/lib.rs
  nidx/src/metadata.rs
  nidx/src/metadata/index.rs
  nidx/src/searcher.rs
  nidx/src/searcher/index_cache.rs
  nidx/src/searcher/metadata.rs
  nidx/src/searcher/sync.rs
  nidx/tests/synced_searcher.rs
Due: none

Add searcher chart
  charts/nidx/templates/searcher-deploy.yaml
  charts/nidx/templates/searcher-svc.yaml
  charts/nidx/values.yaml
Due: none

sqlx does not see queries in tests
  nidx/src/maintenance/scheduler.rs
  nidx/src/searcher/sync.rs
Due: none

Order FS call
  nidx/src/searcher/sync.rs
Due: none

allow passing paragraph_id to feedback
  nucliadb/src/nucliadb/search/api/v1/feedback.py
  nucliadb/src/nucliadb/search/predict.py
  nucliadb/tests/search/unit/test_predict.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_protos/audit.proto
  nucliadb_protos/python/src/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/audit_pb2.pyi
  nucliadb_utils/src/nucliadb_utils/audit/audit.py
  nucliadb_utils/src/nucliadb_utils/audit/basic.py
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_utils

Add data augmentation to NERs for tracking
  nucliadb_protos/python/src/nucliadb_protos/audit_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/dataset_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/kb_usage_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/knowledgebox_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/migrations_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/noderesources_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/nodewriter_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/nodewriter_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/replication_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/replication_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/standalone_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/standalone_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/utils_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2_grpc.pyi
  nucliadb_protos/resources.proto
  nucliadb_protos/rust/src/resources.rs
Due: none

Compile with correct env
  nucliadb_protos/python/src/nucliadb_protos/audit_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/dataset_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/kb_usage_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/knowledgebox_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/migrations_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/noderesources_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/nodewriter_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/nodewriter_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/replication_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/replication_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/standalone_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/standalone_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/utils_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2_grpc.pyi
Due: none

Update docs
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb_models

Improve docs
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/resources.proto
  nucliadb_protos/rust/src/resources.rs
Due: none

Update docs (#2576)
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb_models

format
  nucliadb/src/nucliadb/search/api/v1/feedback.py
  nucliadb/src/nucliadb/search/predict.py
  nucliadb/tests/search/unit/test_predict.py
Due: lint_nucliadb

Update nidx/src/searcher.rs
  nidx/src/searcher.rs
Due: none

Handle error to avoid ask from failing with a 500
  nucliadb/src/nucliadb/search/search/chat/prompt.py
Due: lint_nucliadb

fix doc
  nidx/src/searcher/grpc.rs
Due: none

Implementation of log merge strategy
  nidx/.sqlx/query-3c57c7059d4823d07c20d50520eda813a28f97d286f2c1197f7cddddc169ef23.json
  nidx/.sqlx/query-8409f5e3b2cf08a3a7bc20d697065b99880943634eaa34a4d065b036d414609d.json
  nidx/.sqlx/query-cfa8466a8f00f1e3df1115e83e50567674de6b10ba1d154f450f1b66ae4352ed.json
  nidx/src/maintenance/scheduler.rs
  nidx/src/settings.rs
Due: none

Move import below copyright
  nidx/src/indexer.rs
Due: none

Fix tests
  nidx/src/maintenance/scheduler.rs
Due: none

Change leftover print for debug!
  nidx/src/maintenance/scheduler.rs
Due: none

Use usize instead of u32 for bottom_bucket_threshold
  nidx/src/maintenance/scheduler.rs
Due: none

Move TODO
  nidx/src/maintenance/scheduler.rs
Due: none

Path conditions:
  lint_nucliadb: any of: (^nucliadb/) and \.py$
  lint_nucliadb_dataset: any of: (^nucliadb_dataset/) and \.py$
  lint_nucliadb_models: any of: (^nucliadb_models/) and \.py$
  lint_nucliadb_node: any of: (^nucliadb_node/) and \.py$
  lint_nucliadb_node_binding: any of: (^nucliadb_node_binding/) and \.py$
  lint_nucliadb_performance: any of: (^nucliadb_performance/) and \.py$
  lint_nucliadb_sdk: any of: (^nucliadb_sdk/) and \.py$
  lint_nucliadb_telemetry: any of: (^nucliadb_telemetry/) and \.py$
  lint_nucliadb_utils: any of: (^nucliadb_utils/) and \.py$
  rustfmt_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
  clippy_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
