Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nidx, clippy_nidx

lint_nucliadb:
  name: Lint nucliadb
  entry: make -C nucliadb lint
  language: system
  pass_filenames: false

lint_nucliadb_dataset:
  name: Lint nucliadb_dataset
  entry: make -C nucliadb_dataset lint
  language: system
  pass_filenames: false

lint_nucliadb_models:
  name: Lint nucliadb_models
  entry: make -C nucliadb_models lint
  language: system
  pass_filenames: false

lint_nucliadb_sdk:
  name: Lint nucliadb_sdk
  entry: make -C nucliadb_sdk lint
  language: system
  pass_filenames: false

lint_nucliadb_telemetry:
  name: Lint nucliadb_telemetry
  entry: make -C nucliadb_telemetry lint
  language: system
  pass_filenames: false

lint_nucliadb_utils:
  name: Lint nucliadb_utils
  entry: make -C nucliadb_utils lint
  language: system
  pass_filenames: false

rustfmt_nidx:
  name: Rust format check for nidx
  entry: cargo fmt --check --all --manifest-path nidx/Cargo.toml
  language: system
  pass_filenames: false

clippy_nidx:
  name: Clippy warning check for nidx
  entry: cargo clippy --all-features --manifest-path nidx/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

Some compatibility fixes
  nucliadb/src/migrations/0039_backfill_converation_splits_metadata.py
  nucliadb/src/nucliadb/ingest/fields/conversation.py
  nucliadb/src/nucliadb/tasks/consumer.py
  nucliadb_dataset/tests/integration/test_question_answer_streaming.py
  nucliadb_telemetry/src/nucliadb_telemetry/fastapi/tracing.py
  uv.lock
Due: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_telemetry

Update deps for Python 3.14 compatibility (#3415)
  nidx/Cargo.lock
  nidx/nidx_binding/Cargo.toml
  nucliadb/pyproject.toml
  nucliadb/src/migrations/0039_backfill_converation_splits_metadata.py
  nucliadb/src/nucliadb/ingest/fields/conversation.py
  nucliadb/src/nucliadb/middleware/__init__.py
  nucliadb/src/nucliadb/standalone/run.py
  nucliadb/src/nucliadb/tasks/consumer.py
  nucliadb_dataset/tests/integration/test_question_answer_streaming.py
  nucliadb_telemetry/src/nucliadb_telemetry/fastapi/tracing.py
  pyproject.toml
  uv.lock
Due: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_telemetry

Mark md5 usage
  nucliadb/src/nucliadb/ingest/fields/text.py
  nucliadb_models/src/nucliadb_models/common.py
  nucliadb_utils/src/nucliadb_utils/storages/storage.py
  nucliadb_utils/src/nucliadb_utils/utilities.py
  nucliadb_utils/tests/unit/test_utilities.py
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_utils

Mark md5 usage (#3416)
  nucliadb/src/nucliadb/ingest/fields/text.py
  nucliadb_models/src/nucliadb_models/common.py
  nucliadb_utils/src/nucliadb_utils/storages/storage.py
  nucliadb_utils/src/nucliadb_utils/utilities.py
  nucliadb_utils/tests/unit/test_utilities.py
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_utils

Add logs for reranker
  nucliadb/src/nucliadb/search/search/rerankers.py
Due: lint_nucliadb

longer delete policy for s3 (#3414)
  nucliadb_utils/src/nucliadb_utils/storages/s3.py
Due: lint_nucliadb_utils

Fix reranking for semantic only search
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/src/nucliadb/search/search/find_merge.py
Due: lint_nucliadb

Add test to validate we send query and rephrased query
  nucliadb/tests/nucliadb/integration/search/post_retrieval/test_reranker.py
Due: lint_nucliadb

Parametrize test to validate different features combinations
  nucliadb/tests/nucliadb/integration/search/post_retrieval/test_reranker.py
Due: lint_nucliadb

Tweak queries to match keyword on philosophy books
  nucliadb/tests/nucliadb/integration/search/post_retrieval/test_reranker.py
Due: lint_nucliadb

Use a resource with vectors ...
  nucliadb/tests/nucliadb/integration/search/post_retrieval/test_reranker.py
Due: lint_nucliadb

Fix reranking for semantic only (#3417)
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/src/nucliadb/search/search/find_merge.py
  nucliadb/tests/nucliadb/integration/search/post_retrieval/test_reranker.py
Due: lint_nucliadb

Classification labels using dict instead of list
  nucliadb/src/nucliadb/models/internal/augment.py
  nucliadb/src/nucliadb/search/augmentor/fields.py
  nucliadb/src/nucliadb/search/augmentor/resources.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
Due: lint_nucliadb

Wiring audit for /retrieve endpoint
  nucliadb/src/nucliadb/search/api/v1/retrieve.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb_utils/src/nucliadb_utils/audit/audit.py
Due: lint_nucliadb, lint_nucliadb_utils

Add ConversationText prop and use augmentor for full resource
  nucliadb/src/nucliadb/models/internal/augment.py
  nucliadb/src/nucliadb/search/augmentor/fields.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/src/nucliadb/search/search/hydrator/__init__.py
  nucliadb/src/nucliadb/search/search/hydrator/fields.py
Due: lint_nucliadb

/augment uses augmentor instead of separate functions
  nucliadb/src/nucliadb/models/internal/augment.py
  nucliadb/src/nucliadb/search/api/v1/augment.py
  nucliadb/src/nucliadb/search/augmentor/augmentor.py
  nucliadb/src/nucliadb/search/augmentor/fields.py
  nucliadb/src/nucliadb/search/augmentor/models.py
  nucliadb/src/nucliadb/search/augmentor/paragraphs.py
  nucliadb/src/nucliadb/search/augmentor/resources.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/src/nucliadb/search/search/find_merge.py
  nucliadb/tests/search/integration/search/test_augmentor.py
  nucliadb/tests/search/unit/search/test_augmentor.py
  nucliadb/tests/search/unit/test_find_post_index.py
Due: lint_nucliadb

Resurrect RPC module for retrieve and augment
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/src/nucliadb/search/search/chat/rpc.py
  nucliadb/tests/ndbfixtures/standalone.py
Due: lint_nucliadb

Remove duplicated function
  nucliadb/src/nucliadb/search/search/chat/prompt.py
Due: lint_nucliadb

Use augment for origin and extra in /ask
  nucliadb/src/nucliadb/search/search/chat/prompt.py
Due: lint_nucliadb

ResourceProp to unify and extend show and extracted
  nucliadb/src/nucliadb/models/internal/augment.py
  nucliadb/src/nucliadb/search/api/v1/augment.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/tests/search/integration/api/v1/test_augment.py
  nucliadb_models/src/nucliadb_models/augment.py
Due: lint_nucliadb, lint_nucliadb_models

Use augment endpoint in part of metadata extension
  nucliadb/src/nucliadb/search/search/chat/prompt.py
Due: lint_nucliadb

Fully replace hydrator for augmentor in prompt
  nucliadb/src/nucliadb/search/augmentor/fields.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/src/nucliadb/search/search/hydrator/__init__.py
  nucliadb/tests/search/unit/search/test_chat_prompt.py
Due: lint_nucliadb

Refactor hydrator paragraph refs to make it more reusable
  nucliadb/src/nucliadb/search/search/hydrator/paragraphs.py
Due: lint_nucliadb

RPC for /find too
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/src/nucliadb/search/search/chat/rpc.py
Due: lint_nucliadb

NERs use /augment
  nucliadb/src/nucliadb/search/search/chat/prompt.py
Due: lint_nucliadb

Neighbour paragraphs uses /augment
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb_models/src/nucliadb_models/augment.py
Due: lint_nucliadb, lint_nucliadb_models

Remove unused (for now) field entities from resource fields
  nucliadb_models/src/nucliadb_models/augment.py
Due: lint_nucliadb_models

Classification labels using /augment
  nucliadb/src/nucliadb/models/internal/augment.py
  nucliadb/src/nucliadb/search/api/v1/augment.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb_models/src/nucliadb_models/augment.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

Full resource only using /augment
  nucliadb/src/nucliadb/search/augmentor/augmentor.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb_models/src/nucliadb_models/augment.py
Due: lint_nucliadb, lint_nucliadb_models

Metadata extension with only 1 call to /augment
  nucliadb/src/nucliadb/search/search/chat/prompt.py
Due: lint_nucliadb

Rewrite rao_find docstring
  nucliadb/src/nucliadb/search/search/chat/query.py
Due: lint_nucliadb

Remove now unused _get_labels
  nucliadb/src/nucliadb/search/search/chat/prompt.py
Due: lint_nucliadb

Hierarchy uses only /augment
  nucliadb/src/nucliadb/search/augmentor/augmentor.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
Due: lint_nucliadb

Implement neighbour paragraphs in /augment
  nucliadb/src/nucliadb/models/internal/augment.py
  nucliadb/src/nucliadb/search/api/v1/augment.py
  nucliadb/src/nucliadb/search/augmentor/paragraphs.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/tests/search/integration/search/test_augmentor.py
Due: lint_nucliadb

Spans are never None
  nucliadb/src/nucliadb/search/search/chat/rpc.py
  nucliadb_telemetry/src/nucliadb_telemetry/fastapi/tracing.py
Due: lint_nucliadb, lint_nucliadb_telemetry

Field extension using /augment
  nucliadb/src/nucliadb/models/internal/augment.py
  nucliadb/src/nucliadb/search/api/v1/augment.py
  nucliadb/src/nucliadb/search/augmentor/augmentor.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb_models/src/nucliadb_models/augment.py
  nucliadb_models/src/nucliadb_models/filters.py
Due: lint_nucliadb, lint_nucliadb_models

Fix test ask using a FF
  nucliadb/tests/nucliadb/integration/test_ask.py
Due: lint_nucliadb

Local RPC
  nucliadb/src/nucliadb/search/search/chat/rpc.py
Due: lint_nucliadb

Fix tests
  nucliadb/tests/nucliadb/integration/search/post_retrieval/test_rank_fusion.py
  nucliadb/tests/nucliadb/integration/search/post_retrieval/test_reranker.py
  nucliadb/tests/nucliadb/unit/test_internal_models_augment.py
  nucliadb_telemetry/tests/integration/test_fastapi.py
Due: lint_nucliadb, lint_nucliadb_telemetry

Better regex for resource ids
  nucliadb_models/src/nucliadb_models/augment.py
Due: lint_nucliadb_models

Path conditions:
  lint_nucliadb: any of: (^nucliadb/) and \.py$
  lint_nucliadb_dataset: any of: (^nucliadb_dataset/) and \.py$
  lint_nucliadb_models: any of: (^nucliadb_models/) and \.py$
  lint_nucliadb_sdk: any of: (^nucliadb_sdk/) and \.py$
  lint_nucliadb_telemetry: any of: (^nucliadb_telemetry/) and \.py$
  lint_nucliadb_utils: any of: (^nucliadb_utils/) and \.py$
  rustfmt_nidx: any of: (^nidx/) and \.rs$
  clippy_nidx: any of: (^nidx/) and \.rs$
