Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nidx, clippy_nidx

lint_nucliadb:
  name: Lint nucliadb
  entry: make -C nucliadb lint
  language: system
  pass_filenames: false

lint_nucliadb_dataset:
  name: Lint nucliadb_dataset
  entry: make -C nucliadb_dataset lint
  language: system
  pass_filenames: false

lint_nucliadb_models:
  name: Lint nucliadb_models
  entry: make -C nucliadb_models lint
  language: system
  pass_filenames: false

lint_nucliadb_sdk:
  name: Lint nucliadb_sdk
  entry: make -C nucliadb_sdk lint
  language: system
  pass_filenames: false

lint_nucliadb_telemetry:
  name: Lint nucliadb_telemetry
  entry: make -C nucliadb_telemetry lint
  language: system
  pass_filenames: false

lint_nucliadb_utils:
  name: Lint nucliadb_utils
  entry: make -C nucliadb_utils lint
  language: system
  pass_filenames: false

rustfmt_nidx:
  name: Rust format check for nidx
  entry: cargo fmt --check --all --manifest-path nidx/Cargo.toml
  language: system
  pass_filenames: false

clippy_nidx:
  name: Clippy warning check for nidx
  entry: cargo clippy --all-features --manifest-path nidx/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

Support datetime eq
  nidx/nidx_json/src/search.rs
  nidx/nidx_protos/nodereader.proto
  nidx/src/searcher/query_planner.rs
  nucliadb/src/nucliadb/common/exceptions.py
  nucliadb/src/nucliadb/common/filter_expression.py
  nucliadb/tests/nucliadb/integration/test_key_value_fields.py
  nucliadb_models/src/nucliadb_models/filters.py
Due: lint_nucliadb, lint_nucliadb_models, rustfmt_nidx, clippy_nidx

Add int/float eq operation in JSON filtering (#3667)
  nidx/nidx_json/src/search.rs
  nidx/nidx_protos/nodereader.proto
  nidx/src/searcher/query_planner.rs
  nucliadb/src/nucliadb/common/exceptions.py
  nucliadb/src/nucliadb/common/filter_expression.py
  nucliadb/tests/nucliadb/integration/test_key_value_fields.py
  nucliadb_models/src/nucliadb_models/filters.py
Due: lint_nucliadb, lint_nucliadb_models, rustfmt_nidx, clippy_nidx

Add integer range to key-value
  nucliadb/src/nucliadb/common/filter_expression.py
  nucliadb/src/nucliadb/common/models_utils/from_proto.py
  nucliadb/src/nucliadb/ingest/fields/key_value.py
  nucliadb/src/nucliadb/ingest/serialize.py
  nucliadb/src/nucliadb/reader/api/models.py
  nucliadb/src/nucliadb/reader/api/v1/resource.py
  nucliadb/src/nucliadb/writer/resource/field.py
  nucliadb/tests/nucliadb/integration/test_key_value_fields.py
  nucliadb_models/src/nucliadb_models/filters.py
  nucliadb_models/src/nucliadb_models/kv_schemas.py
  nucliadb_models/src/nucliadb_models/writer.py
Due: lint_nucliadb, lint_nucliadb_models

Add missing file and update ingest serialize too
  nucliadb/src/nucliadb/ingest/serialize.py
  nucliadb_models/src/nucliadb_models/key_value.py
  nucliadb_models/src/nucliadb_models/resource.py
Due: lint_nucliadb, lint_nucliadb_models

Rename _range_min and _range_max to min and max
  nucliadb/src/nucliadb/common/filter_expression.py
  nucliadb_models/src/nucliadb_models/kv_schemas.py
Due: lint_nucliadb, lint_nucliadb_models

Move KVValue and Range to key_value module
  nucliadb/src/nucliadb/ingest/fields/key_value.py
  nucliadb_models/src/nucliadb_models/key_value.py
  nucliadb_models/src/nucliadb_models/kv_schemas.py
  nucliadb_models/src/nucliadb_models/writer.py
Due: lint_nucliadb, lint_nucliadb_models

Replace RANGE type for range option in field types
  nucliadb/src/nucliadb/common/filter_expression.py
  nucliadb/src/nucliadb/ingest/fields/key_value.py
  nucliadb/tests/nucliadb/integration/test_key_value_fields.py
  nucliadb_models/src/nucliadb_models/kv_schemas.py
Due: lint_nucliadb, lint_nucliadb_models

Add validation for allowed range types
  nucliadb_models/src/nucliadb_models/kv_schemas.py
Due: lint_nucliadb_models

Validate range and non-range field operator use
  nucliadb/src/nucliadb/common/filter_expression.py
Due: lint_nucliadb

Better datetime validation
  nucliadb/src/nucliadb/ingest/fields/key_value.py
Due: lint_nucliadb

Return conversation metadata when getting pages
  nucliadb/src/nucliadb/common/models_utils/from_proto.py
  nucliadb/src/nucliadb/reader/api/v1/resource.py
  nucliadb/tests/nucliadb/integration/test_conversation.py
  nucliadb/tests/reader/unit/reader/api/v1/test_resource.py
  nucliadb/tests/writer/unit/api/v1/test_resource.py
  nucliadb_models/src/nucliadb_models/conversation.py
Due: lint_nucliadb, lint_nucliadb_models

wip
  nucliadb_models/src/nucliadb_models/filters.py
Due: lint_nucliadb_models

wip
  nidx/nidx_protos/nodereader.proto
  nucliadb/src/nucliadb/common/filter_expression.py
  nucliadb_models/src/nucliadb_models/filters.py
Due: lint_nucliadb, lint_nucliadb_models

Fix tests
  nucliadb/tests/nucliadb/integration/test_backups.py
  nucliadb/tests/nucliadb/unit/test_kv_schemas.py
Due: lint_nucliadb

Add integer range to key-value (#3671)
  nucliadb/src/nucliadb/common/filter_expression.py
  nucliadb/src/nucliadb/common/models_utils/from_proto.py
  nucliadb/src/nucliadb/ingest/fields/key_value.py
  nucliadb/src/nucliadb/ingest/serialize.py
  nucliadb/src/nucliadb/reader/api/models.py
  nucliadb/src/nucliadb/reader/api/v1/resource.py
  nucliadb/src/nucliadb/writer/resource/field.py
  nucliadb/tests/nucliadb/integration/test_backups.py
  nucliadb/tests/nucliadb/integration/test_key_value_fields.py
  nucliadb/tests/nucliadb/unit/test_kv_schemas.py
  nucliadb_models/src/nucliadb_models/filters.py
  nucliadb_models/src/nucliadb_models/key_value.py
  nucliadb_models/src/nucliadb_models/kv_schemas.py
  nucliadb_models/src/nucliadb_models/resource.py
  nucliadb_models/src/nucliadb_models/writer.py
Due: lint_nucliadb, lint_nucliadb_models

Extend allowed reasoning efforts
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb_models

Extend allowed reasoning efforts (#3676)
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb_models

fix
  nucliadb/tests/nucliadb/integration/test_conversation.py
Due: lint_nucliadb

Return conversation metadata when getting pages (#3674)
  nucliadb/src/nucliadb/common/models_utils/from_proto.py
  nucliadb/src/nucliadb/reader/api/v1/resource.py
  nucliadb/tests/nucliadb/integration/test_conversation.py
  nucliadb/tests/reader/unit/reader/api/v1/test_resource.py
  nucliadb/tests/writer/unit/api/v1/test_resource.py
  nucliadb_models/src/nucliadb_models/conversation.py
Due: lint_nucliadb, lint_nucliadb_models

try
  nidx/nidx_protos/nodereader.proto
  nidx/nidx_text/src/search_query.rs
  nucliadb/src/nucliadb/common/filter_expression.py
  nucliadb/tests/nucliadb/integration/search/test_filters_expression.py
  nucliadb_models/src/nucliadb_models/filters.py
Due: lint_nucliadb, lint_nucliadb_models, rustfmt_nidx, clippy_nidx

Remove /ask from search VirtualService (#3666)
  charts/nucliadb_search/templates/search.vs.yaml
Due: none

Remove unused fields from paragraph search response
  nidx/nidx_paragraph/src/query_parser.rs
  nidx/nidx_paragraph/src/reader.rs
  nidx/nidx_paragraph/src/search_response.rs
  nidx/nidx_protos/nodereader.proto
  nucliadb/tests/search/unit/test_find_post_index.py
Due: lint_nucliadb, rustfmt_nidx, clippy_nidx

Remove unused fields from document search response
  nidx/nidx_protos/nodereader.proto
  nidx/nidx_text/src/reader.rs
Due: rustfmt_nidx, clippy_nidx

Remove unused fields from vector search response
  nidx/nidx_protos/nodereader.proto
  nidx/nidx_vector/src/searcher.rs
  nucliadb/tests/search/unit/test_find_post_index.py
Due: lint_nucliadb, rustfmt_nidx, clippy_nidx

Add metric to track number of searched shards
  nucliadb/src/nucliadb/search/search/metrics.py
  nucliadb/src/nucliadb/search/search/retrieval.py
Due: lint_nucliadb

Fix test
  nucliadb/tests/nucliadb/integration/search/test_filters_expression.py
Due: lint_nucliadb

fix: Add missing Search Configuration migrations
  nucliadb/src/migrations/0044_migrate_search_configurations.py
  nucliadb/tests/nucliadb/migrations/test_migration_0044.py
Due: lint_nucliadb

fmt
  nucliadb/tests/nucliadb/migrations/test_migration_0044.py
Due: lint_nucliadb

simplify
  nucliadb/tests/nucliadb/migrations/test_migration_0044.py
Due: lint_nucliadb

skip from docs
  nucliadb_models/src/nucliadb_models/filters.py
Due: lint_nucliadb_models

skip from docs
  nucliadb/src/nucliadb/common/filter_expression.py
  nucliadb_models/src/nucliadb_models/filters.py
Due: lint_nucliadb, lint_nucliadb_models

Fix
  nucliadb_models/src/nucliadb_models/filters.py
Due: lint_nucliadb_models

fix lint
  nucliadb/tests/nucliadb/migrations/test_migration_0044.py
Due: lint_nucliadb

Remove redundant key-value schema_id
  nucliadb/src/nucliadb/common/models_utils/from_proto.py
  nucliadb/src/nucliadb/writer/resource/field.py
  nucliadb/tests/nucliadb/integration/test_key_value_fields.py
  nucliadb_models/src/nucliadb_models/key_value.py
  nucliadb_models/src/nucliadb_models/writer.py
Due: lint_nucliadb, lint_nucliadb_models

fix: Add missing Search Configuration migrations (#3680)
  nucliadb/src/migrations/0044_migrate_search_configurations.py
  nucliadb/tests/nucliadb/migrations/test_migration_0044.py
Due: lint_nucliadb

Filtering by resource field prefix (#3675)
  nidx/nidx_protos/nodereader.proto
  nidx/nidx_text/src/search_query.rs
  nucliadb/src/nucliadb/common/filter_expression.py
  nucliadb/tests/nucliadb/integration/search/test_filters_expression.py
  nucliadb_models/src/nucliadb_models/filters.py
Due: lint_nucliadb, lint_nucliadb_models, rustfmt_nidx, clippy_nidx

Fix test
  nucliadb/tests/nucliadb/integration/test_key_value_fields.py
Due: lint_nucliadb

Add metric to track number of searched shards (#3678)
  nucliadb/src/nucliadb/search/search/metrics.py
  nucliadb/src/nucliadb/search/search/retrieval.py
Due: lint_nucliadb

Remove redundant key-value schema_id (#3681)
  nucliadb/src/nucliadb/common/models_utils/from_proto.py
  nucliadb/src/nucliadb/writer/resource/field.py
  nucliadb/tests/nucliadb/integration/test_key_value_fields.py
  nucliadb_models/src/nucliadb_models/key_value.py
  nucliadb_models/src/nucliadb_models/writer.py
Due: lint_nucliadb, lint_nucliadb_models

Path conditions:
  lint_nucliadb: any of: (^nucliadb/) and \.py$
  lint_nucliadb_dataset: any of: (^nucliadb_dataset/) and \.py$
  lint_nucliadb_models: any of: (^nucliadb_models/) and \.py$
  lint_nucliadb_sdk: any of: (^nucliadb_sdk/) and \.py$
  lint_nucliadb_telemetry: any of: (^nucliadb_telemetry/) and \.py$
  lint_nucliadb_utils: any of: (^nucliadb_utils/) and \.py$
  rustfmt_nidx: any of: (^nidx/) and \.rs$
  clippy_nidx: any of: (^nidx/) and \.rs$
