Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

isort_nucliadb:
  name: Isort
  entry: isort --profile black -c
  language: system

black_nucliadb:
  name: Black
  entry: black --check --verbose
  language: system

flake8_nucliadb:
  name: Flake8
  entry: flake8 --config=nucliadb/setup.cfg
  language: system

rustfmt_nucliadb:
  name: fmt
  entry: cargo +nightly fmt --check
  language: system
  pass_filenames: false

clippy_nucliadb:
  name: clippy
  entry: cargo clippy --all-features -- -D warnings
  language: system
  pass_filenames: false

better
  nucliadb/nucliadb/ingest/tests/unit/test_txn_utils.py
  nucliadb/nucliadb/ingest/txn_utils.py
  nucliadb/nucliadb/middleware/__init__.py
  nucliadb/nucliadb/middleware/transaction.py
  nucliadb/nucliadb/search/app.py
  nucliadb/nucliadb/search/predict.py
  nucliadb/nucliadb/search/search/cache.py
  nucliadb/nucliadb/search/search/fetch.py
  nucliadb/nucliadb/search/search/find_merge.py
  nucliadb/nucliadb/standalone/app.py
  nucliadb/nucliadb/standalone/run.py
  nucliadb/nucliadb/train/app.py
  nucliadb/nucliadb/train/generators/utils.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

add test
  nucliadb/nucliadb/middleware/transaction.py
  nucliadb/nucliadb/tests/unit/middleware/test_middleware.py
  nucliadb/nucliadb/tests/unit/middleware/test_transaction.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Better naming
  nucliadb/nucliadb/middleware/transaction.py
  nucliadb/nucliadb/tests/unit/middleware/test_transaction.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix test
  nucliadb/nucliadb/tests/unit/middleware/test_transaction.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Add serviceaccount field for purge cronjob
  charts/nucliadb_ingest/templates/_cronjob_purge.tpl
Due: none

Add serviceaccount field for purge cronjob (#1728)
  charts/nucliadb_ingest/templates/_cronjob_purge.tpl
Due: none

Update Q&A dataset training (#1724)
  nucliadb/nucliadb/train/generators/question_answer_streaming.py
  nucliadb/nucliadb/train/tests/test_question_answer_streaming.py
  nucliadb_dataset/nucliadb_dataset/dataset.py
  nucliadb_dataset/nucliadb_dataset/mapping.py
  nucliadb_dataset/nucliadb_dataset/tests/integration/test_question_answer_streaming.py
  nucliadb_protos/dataset.proto
  nucliadb_protos/python/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/nucliadb_protos/dataset_pb2.py
  nucliadb_protos/python/nucliadb_protos/dataset_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/nucliadb_protos/migrations_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.py
  nucliadb_protos/python/nucliadb_protos/replication_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/nucliadb_protos/standalone_pb2.py
  nucliadb_protos/python/nucliadb_protos/train_pb2.py
  nucliadb_protos/python/nucliadb_protos/utils_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix test of predict
  nucliadb/nucliadb/search/tests/unit/test_predict.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Send primary id on grpc call
  nucliadb/nucliadb/ingest/service/writer.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/rust/src/fdbwriter.rs
  nucliadb_protos/writer.proto
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

remake protos
  nucliadb_protos/python/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/nucliadb_protos/dataset_pb2.py
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/nucliadb_protos/migrations_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.py
  nucliadb_protos/python/nucliadb_protos/replication_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/nucliadb_protos/standalone_pb2.py
  nucliadb_protos/python/nucliadb_protos/train_pb2.py
  nucliadb_protos/python/nucliadb_protos/utils_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.py
Due: none

Send primary id on ListMembers grpc call (#1727)
  nucliadb/nucliadb/ingest/service/writer.py
  nucliadb_protos/python/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/nucliadb_protos/dataset_pb2.py
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/nucliadb_protos/migrations_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.py
  nucliadb_protos/python/nucliadb_protos/replication_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/nucliadb_protos/standalone_pb2.py
  nucliadb_protos/python/nucliadb_protos/train_pb2.py
  nucliadb_protos/python/nucliadb_protos/utils_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/rust/src/fdbwriter.rs
  nucliadb_protos/writer.proto
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

better
  nucliadb/nucliadb/common/http_clients/processing.py
  nucliadb/nucliadb/ingest/app.py
  nucliadb/nucliadb/ingest/consumer/pull_v2.py
  nucliadb/nucliadb/ingest/processing.py
  nucliadb/nucliadb/ingest/settings.py
  nucliadb/nucliadb/standalone/lifecycle.py
  nucliadb_utils/nucliadb_utils/const.py
  nucliadb_utils/nucliadb_utils/featureflagging.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

be able to configure sentry to only log error and above on specific loggers
  nucliadb_telemetry/nucliadb_telemetry/errors.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

lint
  nucliadb_telemetry/nucliadb_telemetry/errors.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix
  nucliadb_telemetry/nucliadb_telemetry/fastapi/__init__.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Return NER family in entity suggestions
  .gitignore
  nucliadb/nucliadb/search/search/merge.py
  nucliadb/nucliadb/tests/integration/test_suggest.py
  nucliadb_models/nucliadb_models/search.py
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_node/tests/test_suggest.rs
  nucliadb_protos/nodereader.proto
  nucliadb_protos/python/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/nucliadb_protos/dataset_pb2.py
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/nucliadb_protos/migrations_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.py
  nucliadb_protos/python/nucliadb_protos/replication_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/nucliadb_protos/standalone_pb2.py
  nucliadb_protos/python/nucliadb_protos/train_pb2.py
  nucliadb_protos/python/nucliadb_protos/utils_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.py
  nucliadb_protos/rust/src/nodereader.rs
  nucliadb_relations2/src/reader.rs
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

Do not do backwards compatibility in grpc api
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_node/tests/test_suggest.rs
  nucliadb_protos/nodereader.proto
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.pyi
  nucliadb_protos/rust/src/nodereader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Fix indexing test
  nucliadb/nucliadb/tests/integration/test_entities.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

add summarize to sdk
  nucliadb_models/nucliadb_models/search.py
  nucliadb_sdk/nucliadb_sdk/tests/test_sdk.py
  nucliadb_sdk/nucliadb_sdk/tests/test_sdk_async.py
  nucliadb_sdk/nucliadb_sdk/tests/test_summarize.py
  nucliadb_sdk/nucliadb_sdk/v2/docstrings.py
  nucliadb_sdk/nucliadb_sdk/v2/sdk.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Return NER family in entity suggestions (#1729)
  .gitignore
  nucliadb/nucliadb/search/search/merge.py
  nucliadb/nucliadb/tests/integration/test_entities.py
  nucliadb/nucliadb/tests/integration/test_suggest.py
  nucliadb_models/nucliadb_models/search.py
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_node/tests/test_suggest.rs
  nucliadb_protos/nodereader.proto
  nucliadb_protos/python/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/nucliadb_protos/dataset_pb2.py
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/nucliadb_protos/migrations_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.py
  nucliadb_protos/python/nucliadb_protos/replication_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/nucliadb_protos/standalone_pb2.py
  nucliadb_protos/python/nucliadb_protos/train_pb2.py
  nucliadb_protos/python/nucliadb_protos/utils_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.py
  nucliadb_protos/rust/src/nodereader.rs
  nucliadb_relations2/src/reader.rs
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

fix summarize no resources found
  nucliadb/nucliadb/search/search/summarize.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Refactor shared read-only transaction logic (#1725)
  nucliadb/nucliadb/ingest/tests/unit/test_txn_utils.py
  nucliadb/nucliadb/ingest/txn_utils.py
  nucliadb/nucliadb/middleware/__init__.py
  nucliadb/nucliadb/middleware/transaction.py
  nucliadb/nucliadb/search/api/v1/resource/search.py
  nucliadb/nucliadb/search/api/v1/search.py
  nucliadb/nucliadb/search/api/v1/suggest.py
  nucliadb/nucliadb/search/app.py
  nucliadb/nucliadb/search/predict.py
  nucliadb/nucliadb/search/requesters/utils.py
  nucliadb/nucliadb/search/search/cache.py
  nucliadb/nucliadb/search/search/fetch.py
  nucliadb/nucliadb/search/search/find_merge.py
  nucliadb/nucliadb/search/tests/unit/test_predict.py
  nucliadb/nucliadb/standalone/app.py
  nucliadb/nucliadb/tests/unit/middleware/test_middleware.py
  nucliadb/nucliadb/tests/unit/middleware/test_transaction.py
  nucliadb/nucliadb/train/app.py
  nucliadb/nucliadb/train/generator.py
  nucliadb/nucliadb/train/generators/utils.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Add migration to upgrade relations and texts to v2
  nucliadb/migrations/0007_upgrade_relations_and_texts_to_v2.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix mypy
  nucliadb/nucliadb/search/search/summarize.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

try without privileged
  charts/nucliadb/templates/sts.yaml
Due: none

Add summarize to sdk (#1731)
  nucliadb/nucliadb/search/search/summarize.py
  nucliadb_models/nucliadb_models/search.py
  nucliadb_sdk/nucliadb_sdk/tests/test_sdk.py
  nucliadb_sdk/nucliadb_sdk/tests/test_sdk_async.py
  nucliadb_sdk/nucliadb_sdk/tests/test_summarize.py
  nucliadb_sdk/nucliadb_sdk/v2/docstrings.py
  nucliadb_sdk/nucliadb_sdk/v2/sdk.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

try without privileged (#1733)
  charts/nucliadb/templates/sts.yaml
Due: none

handle import error
  nucliadb_telemetry/nucliadb_telemetry/errors.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix
  nucliadb_telemetry/nucliadb_telemetry/errors.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

work with root loggers
  nucliadb_telemetry/nucliadb_telemetry/errors.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

versions
  nucliadb_telemetry/nucliadb_telemetry/errors.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Be able to cancel stream after 2 minutes
  nucliadb/nucliadb/reader/api/v1/services.py
  nucliadb/nucliadb/reader/reader/notifications.py
  nucliadb/nucliadb/reader/tests/unit/reader/test_notifications.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Logging sentry integration (#1730)
  nucliadb_telemetry/nucliadb_telemetry/errors.py
  nucliadb_telemetry/nucliadb_telemetry/fastapi/__init__.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fixes
  nucliadb/nucliadb/common/http_clients/processing.py
  nucliadb/nucliadb/ingest/consumer/pull_v2.py
  nucliadb/nucliadb/ingest/processing.py
  nucliadb/nucliadb/standalone/lifecycle.py
  nucliadb/nucliadb/writer/api/v1/field.py
  nucliadb/nucliadb/writer/api/v1/upload.py
  nucliadb/nucliadb/writer/resource/basic.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

conditional
  charts/nucliadb_ingest/templates/ingest-pull.deploy.yaml
  charts/nucliadb_ingest/templates/ingest.cm.yaml
  charts/nucliadb_ingest/values.yaml
  nucliadb/nucliadb/ingest/app.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

simpler
  nucliadb/nucliadb/reader/reader/notifications.py
  nucliadb/nucliadb/reader/tests/unit/reader/test_notifications.py
  nucliadb/requirements.txt
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

better tests
  nucliadb/nucliadb/reader/tests/unit/reader/test_notifications.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Add docs
  docs/tutorials/KB_NOTIFICATIONS.md
  nucliadb/nucliadb/reader/api/v1/services.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

include whether there were errors while processing the resource
  nucliadb/nucliadb/ingest/orm/processor/__init__.py
  nucliadb/nucliadb/reader/api/v1/services.py
  nucliadb/nucliadb/reader/reader/notifications.py
  nucliadb/nucliadb/reader/tests/unit/reader/test_notifications.py
  nucliadb_models/nucliadb_models/notifications.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/rust/src/fdbwriter.rs
  nucliadb_protos/writer.proto
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

update info
  docs/tutorials/KB_NOTIFICATIONS.md
Due: none

Path conditions:
  isort_nucliadb: any of: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/) and \.py$
  black_nucliadb: any of: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/) and \.py$
  flake8_nucliadb: any of: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/) and \.py$
  rustfmt_nucliadb: any of: (^nucliadb_vectors/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_paragraphs/)|(^nucliadb_texts/) and \.rs$
  clippy_nucliadb: any of: (^nucliadb_vectors/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_paragraphs/)|(^nucliadb_texts/) and \.rs$
