Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nidx, clippy_nidx

lint_nucliadb:
  name: Lint nucliadb
  entry: make -C nucliadb lint
  language: system
  pass_filenames: false

lint_nucliadb_dataset:
  name: Lint nucliadb_dataset
  entry: make -C nucliadb_dataset lint
  language: system
  pass_filenames: false

lint_nucliadb_models:
  name: Lint nucliadb_models
  entry: make -C nucliadb_models lint
  language: system
  pass_filenames: false

lint_nucliadb_sdk:
  name: Lint nucliadb_sdk
  entry: make -C nucliadb_sdk lint
  language: system
  pass_filenames: false

lint_nucliadb_telemetry:
  name: Lint nucliadb_telemetry
  entry: make -C nucliadb_telemetry lint
  language: system
  pass_filenames: false

lint_nucliadb_utils:
  name: Lint nucliadb_utils
  entry: make -C nucliadb_utils lint
  language: system
  pass_filenames: false

rustfmt_nidx:
  name: Rust format check for nidx
  entry: cargo fmt --check --all --manifest-path nidx/Cargo.toml
  language: system
  pass_filenames: false

clippy_nidx:
  name: Clippy warning check for nidx
  entry: cargo clippy --all-features --manifest-path nidx/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

Fix test
  nucliadb/tests/nucliadb/integration/test_find.py
Due: lint_nucliadb

add test
  nucliadb/src/nucliadb/common/cluster/rebalance.py
  nucliadb/tests/nucliadb/unit/common/cluster/test_rebalance.py
Due: lint_nucliadb

fix
  nucliadb/src/nucliadb/common/cluster/rebalance.py
Due: lint_nucliadb

Fix tantivy bug queries instead of fail (#3319)
  nucliadb/src/nucliadb/search/search/query_parser/parsers/common.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/find.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/search.py
  nucliadb/tests/nucliadb/integration/test_find.py
  nucliadb/tests/search/unit/search/search/test_common_query_parser.py
Due: lint_nucliadb

Fix
  nucliadb/src/nucliadb/common/cluster/rebalance.py
  nucliadb/src/nucliadb/common/locking.py
  nucliadb/src/nucliadb/ingest/consumer/shard_creator.py
  nucliadb/tests/nucliadb/integration/common/cluster/test_rebalance.py
Due: lint_nucliadb

Update nucliadb/src/nucliadb/common/cluster/rebalance.py
  nucliadb/src/nucliadb/common/cluster/rebalance.py
Due: lint_nucliadb

Better regex replace for tantivy bug
  nucliadb/src/nucliadb/search/search/query_parser/parsers/common.py
  nucliadb/tests/search/unit/search/search/test_common_query_parser.py
Due: lint_nucliadb

Better regex replace for tantivy bug (#3320)
  nucliadb/src/nucliadb/search/search/query_parser/parsers/common.py
  nucliadb/tests/search/unit/search/search/test_common_query_parser.py
Due: lint_nucliadb

wip
  nucliadb/src/nucliadb/common/cluster/rebalance.py
Due: lint_nucliadb

spagetti
  nucliadb/src/nucliadb/common/cluster/rebalance.py
Due: lint_nucliadb

non-spagetti
  nucliadb/src/nucliadb/common/cluster/rebalance.py
Due: lint_nucliadb

nicer
  nucliadb/src/nucliadb/common/cluster/rebalance.py
Due: lint_nucliadb

cleaner
  nucliadb/src/nucliadb/common/cluster/rebalance.py
Due: lint_nucliadb

fix get kb by slug
  charts/nucliadb_reader/templates/reader.vs.yaml
  nucliadb/src/nucliadb/reader/api/v1/knowledgebox.py
  nucliadb/tests/nucliadb/integration/test_api.py
Due: lint_nucliadb

fix get kb by slug
  nucliadb/src/nucliadb/reader/api/v1/knowledgebox.py
Due: lint_nucliadb

fix get kb by slug
  nucliadb/tests/nucliadb/integration/test_api.py
Due: lint_nucliadb

Address comments
  nucliadb/src/nucliadb/common/cluster/rebalance.py
  nucliadb/src/nucliadb/common/datamanagers/atomic.py
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
Due: lint_nucliadb

Fix get kb by slug (#3322)
  charts/nucliadb_reader/templates/reader.vs.yaml
  nucliadb/src/nucliadb/reader/api/v1/knowledgebox.py
  nucliadb/tests/nucliadb/integration/test_api.py
Due: lint_nucliadb

Force rabitq reranker to return results in score order
  nidx/nidx_vector/src/vector_types/rabitq.rs
Due: rustfmt_nidx, clippy_nidx

Force rabitq reranker to return results in score order (#3323)
  nidx/nidx_vector/src/vector_types/rabitq.rs
Due: rustfmt_nidx, clippy_nidx

More explicit fixture name
  nucliadb/tests/ndbfixtures/reader.py
  nucliadb/tests/ndbfixtures/standalone.py
  nucliadb/tests/ndbfixtures/train.py
  nucliadb/tests/ndbfixtures/writer.py
Due: lint_nucliadb

Typing for nats fixtures
  nucliadb_utils/src/nucliadb_utils/tests/nats.py
Due: lint_nucliadb_utils

nidx_utility is not optional
  nucliadb/src/nucliadb/common/nidx.py
Due: lint_nucliadb

Avoid overwriting nats manager utility
  nucliadb_utils/src/nucliadb_utils/utilities.py
Due: lint_nucliadb_utils

Use global_utility in maindb_driver fixture
  nucliadb/tests/ndbfixtures/maindb.py
Due: lint_nucliadb

Finally, remove awful _clean_natsd and solve fixture deps
  nucliadb/tests/ndbfixtures/ingest.py
  nucliadb/tests/ndbfixtures/reader.py
Due: lint_nucliadb

Add nidx_utility fixture
  nucliadb/tests/ndbfixtures/nidx.py
Due: lint_nucliadb

Move transaction_utility fixture to common ndbfixtures
  nucliadb/tests/ndbfixtures/common.py
  nucliadb/tests/ndbfixtures/ingest.py
Due: lint_nucliadb

Cleanup dead code
  nucliadb/src/nucliadb/ingest/consumer/service.py
Due: lint_nucliadb

Properly configure nidx fixture and don't use _clean_natsd for search anymore
  nucliadb/tests/ndbfixtures/ingest.py
  nucliadb/tests/ndbfixtures/nidx.py
  nucliadb/tests/ndbfixtures/search.py
Due: lint_nucliadb

Fix nucliadb fixture alias
  nucliadb/tests/ndbfixtures/standalone.py
Due: lint_nucliadb

Fix export_import standalone tests
  nucliadb/tests/nucliadb/integration/test_export_import.py
Due: lint_nucliadb

Strip account id from slug
  nucliadb/src/nucliadb/reader/api/v1/knowledgebox.py
Due: lint_nucliadb

Fix hacky fixture dependencies (#3324)
  nucliadb/src/nucliadb/common/nidx.py
  nucliadb/src/nucliadb/ingest/consumer/service.py
  nucliadb/tests/ndbfixtures/common.py
  nucliadb/tests/ndbfixtures/ingest.py
  nucliadb/tests/ndbfixtures/maindb.py
  nucliadb/tests/ndbfixtures/nidx.py
  nucliadb/tests/ndbfixtures/reader.py
  nucliadb/tests/ndbfixtures/search.py
  nucliadb/tests/ndbfixtures/standalone.py
  nucliadb/tests/ndbfixtures/train.py
  nucliadb/tests/ndbfixtures/writer.py
  nucliadb/tests/nucliadb/integration/test_export_import.py
  nucliadb_utils/src/nucliadb_utils/tests/nats.py
  nucliadb_utils/src/nucliadb_utils/utilities.py
Due: lint_nucliadb, lint_nucliadb_utils

Strip account id from slug (#3325)
  nucliadb/src/nucliadb/reader/api/v1/knowledgebox.py
Due: lint_nucliadb

log target
  nidx/src/telemetry/log_format.rs
Due: rustfmt_nidx, clippy_nidx

Remove random search id
  nidx/nidx_paragraph/src/reader.rs
  nidx/nidx_paragraph/src/request_types.rs
  nidx/nidx_paragraph/tests/reader.rs
  nidx/nidx_text/src/reader.rs
  nidx/nidx_text/src/request_types.rs
  nidx/nidx_text/tests/test_search.rs
  nidx/nidx_vector/src/indexer.rs
  nidx/nidx_vector/src/request_types.rs
  nidx/nidx_vector/src/searcher.rs
  nidx/src/searcher/query_planner.rs
  nidx/src/searcher/shard_search.rs
Due: rustfmt_nidx, clippy_nidx

Segment search debug log
  nidx/nidx_vector/src/segment.rs
Due: rustfmt_nidx, clippy_nidx

Path conditions:
  lint_nucliadb: any of: (^nucliadb/) and \.py$
  lint_nucliadb_dataset: any of: (^nucliadb_dataset/) and \.py$
  lint_nucliadb_models: any of: (^nucliadb_models/) and \.py$
  lint_nucliadb_sdk: any of: (^nucliadb_sdk/) and \.py$
  lint_nucliadb_telemetry: any of: (^nucliadb_telemetry/) and \.py$
  lint_nucliadb_utils: any of: (^nucliadb_utils/) and \.py$
  rustfmt_nidx: any of: (^nidx/) and \.rs$
  clippy_nidx: any of: (^nidx/) and \.rs$
