Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint_nucliadb
        name: Lint nucliadb
        entry: make -C nucliadb lint
        language: system
        files: (^nucliadb/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_dataset
        name: Lint nucliadb_dataset
        entry: make -C nucliadb_dataset lint
        language: system
        files: (^nucliadb_dataset/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_models
        name: Lint nucliadb_models
        entry: make -C nucliadb_models lint
        language: system
        files: (^nucliadb_models/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_node
        name: Lint nucliadb_node
        entry: make -C nucliadb_node lint
        language: system
        files: (^nucliadb_node/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_node_binding
        name: Lint nucliadb_node_binding
        entry: make -C nucliadb_node_binding lint
        language: system
        files: (^nucliadb_node_binding/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_performance
        name: Lint nucliadb_performance
        entry: make -C nucliadb_performance lint
        language: system
        files: (^nucliadb_performance/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_sdk
        name: Lint nucliadb_sdk
        entry: make -C nucliadb_sdk lint
        language: system
        files: (^nucliadb_sdk/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_telemetry
        name: Lint nucliadb_telemetry
        entry: make -C nucliadb_telemetry lint
        language: system
        files: (^nucliadb_telemetry/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_utils
        name: Lint nucliadb_utils
        entry: make -C nucliadb_utils lint
        language: system
        files: (^nucliadb_utils/)
        types: ["python"]
        pass_filenames: false

      - id: rustfmt_nucliadb
        name: fmt
        entry: cargo fmt --check
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nucliadb
        name: clippy
        entry: cargo clippy --all-features -- -D warnings
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

Implement new exact and fuzzy matches
  nidx/nidx_relation/src/graph_query_parser.rs
  nidx/nidx_relation/tests/test_graph_search.rs
Due: none

More consistent
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/src/nucliadb/purge/__init__.py
  nucliadb/src/nucliadb/writer/api/v1/vectorsets.py
Due: lint_nucliadb

Rename, fix prefix search query and proper fuzzy impl
  nidx/nidx_relation/src/graph_query_parser.rs
  nidx/nidx_relation/src/reader.rs
Due: none

Rename deprecated match kinds
  nidx/tests/test_search_relations.rs
Due: none

Apply rename to python side
  nucliadb/src/nucliadb/search/search/query_parser/parsers/graph.py
Due: lint_nucliadb

Simplify fuzzy word
  nidx/nidx_relation/src/graph_query_parser.rs
Due: none

Format
  nidx/nidx_relation/src/graph_query_parser.rs
Due: none

Update make and pre-commit for nidx
  .pre-commit-config.yaml
  Makefile
Due: none

Unleash node query power (#3004)
  nidx/nidx_relation/src/graph_query_parser.rs
  nidx/nidx_relation/src/reader.rs
  nidx/nidx_relation/tests/test_graph_search.rs
  nidx/tests/test_search_relations.rs
  nucliadb/src/nucliadb/search/search/query_parser/parsers/graph.py
  nucliadb_protos/nodereader.proto
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.pyi
Due: lint_nucliadb

fix
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/src/nucliadb/writer/api/v1/vectorsets.py
  nucliadb/tests/nucliadb/integration/test_vectorsets_api.py
Due: lint_nucliadb

Do not delete vectorsets that are active (#2999)
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/src/nucliadb/writer/api/v1/vectorsets.py
  nucliadb/src/nucliadb/writer/tus/gcs.py
  nucliadb/tests/nucliadb/integration/test_vectorsets_api.py
  nucliadb_utils/src/nucliadb_utils/storages/azure.py
  nucliadb_utils/tests/integration/storages/test_storage.py
Due: lint_nucliadb, lint_nucliadb_utils

Update make and pre-commit for nidx (#3006)
  .pre-commit-config.yaml
  Makefile
Due: none

improve predict errors handling
  nucliadb/src/nucliadb/search/predict.py
  nucliadb/tests/search/unit/test_predict.py
Due: lint_nucliadb

more
  nucliadb/src/nucliadb/writer/api/v1/knowledgebox.py
Due: lint_nucliadb

handle status code
  nucliadb/src/nucliadb/search/predict.py
Due: lint_nucliadb

Improve resource shard txn handling
  nucliadb/src/nucliadb/common/datamanagers/cluster.py
  nucliadb/src/nucliadb/common/datamanagers/resources.py
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
Due: lint_nucliadb

fix reindex
  nucliadb/src/nucliadb/ingest/service/writer.py
Due: lint_nucliadb

Use graph search for indexed entities search
  nucliadb/src/nucliadb/ingest/orm/entities.py
  nucliadb_protos/nodereader.proto
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.pyi
Due: lint_nucliadb

Change python parser to use new node matching
  nucliadb/src/nucliadb/search/search/query_parser/parsers/graph.py
Due: lint_nucliadb

Use graph search in graph RAG fuzzy search instead of relation prefix
  nucliadb/src/nucliadb/search/search/graph_strategy.py
  nucliadb/src/nucliadb/search/search/merge.py
Due: lint_nucliadb

Make suggest use graph search instead of a search per prefix
  nidx/nidx_relation/src/lib.rs
  nidx/nidx_relation/src/reader.rs
Due: none

fix tests
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
Due: lint_nucliadb

Increase suggest results to 20
  nidx/nidx_paragraph/src/reader.rs
  nidx/nidx_relation/src/reader.rs
  nidx/tests/test_search_relations.rs
Due: none

Remove user entity annotations
  nucliadb/src/nucliadb/ingest/orm/brain.py
  nucliadb/src/nucliadb/train/generators/token_classifier.py
  nucliadb/src/nucliadb/writer/resource/basic.py
  nucliadb/tests/ingest/fixtures.py
  nucliadb/tests/ingest/integration/orm/test_orm_resource.py
  nucliadb/tests/nucliadb/integration/search/test_filters.py
  nucliadb/tests/nucliadb/integration/test_entities.py
  nucliadb/tests/train/test_token_classification.py
  nucliadb/tests/utils/broker_messages/fields.py
  nucliadb_dataset/src/nucliadb_dataset/tests/fixtures.py
  nucliadb_dataset/tests/integration/test_token_classifier.py
  nucliadb_models/src/nucliadb_models/metadata.py
  nucliadb_protos/python/src/nucliadb_protos/dataset_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2_grpc.pyi
  nucliadb_protos/resources.proto
Due: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models

Rename NodeMatchKind to NodeMatchKindName
  nucliadb/src/nucliadb/search/search/query_parser/parsers/graph.py
  nucliadb_models/src/nucliadb_models/graph/requests.py
Due: lint_nucliadb, lint_nucliadb_models

Increase graph strategy top_k
  nucliadb/src/nucliadb/search/search/graph_strategy.py
Due: lint_nucliadb

Improve logging on predict errors (#3005)
  nucliadb/src/nucliadb/search/predict.py
  nucliadb/src/nucliadb/writer/api/v1/knowledgebox.py
  nucliadb/tests/search/unit/test_predict.py
Due: lint_nucliadb

Increase entity search top_k
  nucliadb/src/nucliadb/ingest/orm/entities.py
Due: lint_nucliadb

fix
  nucliadb/src/nucliadb/common/datamanagers/resources.py
Due: lint_nucliadb

remove tests
  nucliadb/tests/nucliadb/integration/test_tokens.py
  nucliadb/tests/standalone/integration/test_fieldmetadata.py
  nucliadb/tests/writer/test_resources.py
  nucliadb_sdk/tests/test_crud.py
Due: lint_nucliadb, lint_nucliadb_sdk

fix for_update usage (#3010)
  nucliadb/src/nucliadb/common/datamanagers/resources.py
Due: lint_nucliadb

Fix flaky test
  nidx/tests/test_suggest.rs
Due: none

Fix another test
  nidx/nidx_relation/tests/test_reader.rs
Due: none

Suggest don't hide errors anymore
  nidx/nidx_relation/src/lib.rs
  nidx/src/searcher/shard_suggest.rs
Due: none

Use more graph search in search API (#3007)
  nidx/nidx_paragraph/src/reader.rs
  nidx/nidx_relation/src/lib.rs
  nidx/nidx_relation/src/reader.rs
  nidx/nidx_relation/tests/test_reader.rs
  nidx/src/searcher/shard_suggest.rs
  nidx/tests/test_search_relations.rs
  nidx/tests/test_suggest.rs
  nucliadb/src/nucliadb/ingest/orm/entities.py
  nucliadb/src/nucliadb/search/search/graph_strategy.py
  nucliadb/src/nucliadb/search/search/merge.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/graph.py
  nucliadb_models/src/nucliadb_models/graph/requests.py
  nucliadb_protos/nodereader.proto
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.pyi
Due: lint_nucliadb, lint_nucliadb_models

Add locks to avoid multiple calls to predict /query
  nucliadb/src/nucliadb/search/search/query_parser/fetcher.py
  nucliadb/tests/nucliadb/integration/test_ask.py
Due: lint_nucliadb

Add locks to avoid multiple calls to predict /query (#3011)
  nucliadb/src/nucliadb/search/search/query_parser/fetcher.py
  nucliadb/tests/nucliadb/integration/test_ask.py
Due: lint_nucliadb

Do not audit on 404
  nucliadb/tests/ingest/integration/ingest/test_ingest.py
  nucliadb/tests/search/integration/api/v1/test_ask_audit.py
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
Due: lint_nucliadb, lint_nucliadb_utils

Do not audit on 404
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
Due: lint_nucliadb_utils
