Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint_nucliadb
        name: Lint nucliadb
        entry: make -C nucliadb lint
        language: system
        files: (^nucliadb/)
        types: ["python"]

      - id: lint_nucliadb_dataset
        name: Lint nucliadb_dataset
        entry: make -C nucliadb_dataset lint
        language: system
        files: (^nucliadb_dataset/)
        types: ["python"]

      - id: lint_nucliadb_models
        name: Lint nucliadb_models
        entry: make -C nucliadb_models lint
        language: system
        files: (^nucliadb_models/)
        types: ["python"]

      - id: lint_nucliadb_node
        name: Lint nucliadb_node
        entry: make -C nucliadb_node lint
        language: system
        files: (^nucliadb_node/)
        types: ["python"]

      - id: lint_nucliadb_node_binding
        name: Lint nucliadb_node_binding
        entry: make -C nucliadb_node_binding lint
        language: system
        files: (^nucliadb_node_binding/)
        types: ["python"]

      - id: lint_nucliadb_performance
        name: Lint nucliadb_performance
        entry: make -C nucliadb_performance lint
        language: system
        files: (^nucliadb_performance/)
        types: ["python"]

      - id: lint_nucliadb_sdk
        name: Lint nucliadb_sdk
        entry: make -C nucliadb_sdk lint
        language: system
        files: (^nucliadb_sdk/)
        types: ["python"]

      - id: lint_nucliadb_telemetry
        name: Lint nucliadb_telemetry
        entry: make -C nucliadb_telemetry lint
        language: system
        files: (^nucliadb_telemetry/)
        types: ["python"]

      - id: lint_nucliadb_utils
        name: Lint nucliadb_utils
        entry: make -C nucliadb_utils lint
        language: system
        files: (^nucliadb_utils/)
        types: ["python"]

      - id: rustfmt_nucliadb
        name: fmt
        entry: cargo +nightly fmt --check
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nucliadb
        name: clippy
        entry: cargo clippy --all-features -- -D warnings
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

Fix requests version for docker (#2173)
  nucliadb/requirements-test.txt
  nucliadb_sdk/requirements-test.txt
  test-requirements.txt
Due: none

Fix processing driver config
  nucliadb/nucliadb/ingest/processing.py
Due: lint_nucliadb

improve displayed screen on standalone
  nucliadb/nucliadb/standalone/run.py
Due: lint_nucliadb

improve displayed screen on standalone
  nucliadb/nucliadb/ingest/processing.py
Due: lint_nucliadb

Fix type
  nucliadb/nucliadb/ingest/processing.py
Due: lint_nucliadb

Isolate in a function
  nucliadb/nucliadb/ingest/processing.py
Due: lint_nucliadb

fix test ?
  nucliadb/nucliadb/standalone/tests/unit/test_migrations.py
Due: lint_nucliadb

Send paragraph images by default
  nucliadb/nucliadb/search/search/chat/prompt.py
Due: lint_nucliadb

Supports Python 3.12
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/nucliadb.yml
  .github/workflows/nucliadb_dataset.yml
  .github/workflows/nucliadb_ingest.yml
  .github/workflows/nucliadb_migrations.yml
  .github/workflows/nucliadb_models.yml
  .github/workflows/nucliadb_node.yml
  .github/workflows/nucliadb_node_binding.yml
  .github/workflows/nucliadb_node_release.yml
  .github/workflows/nucliadb_reader.yml
  .github/workflows/nucliadb_sdk.yml
  .github/workflows/nucliadb_search.yml
  .github/workflows/nucliadb_standalone.yml
  .github/workflows/nucliadb_telemetry.yml
  .github/workflows/nucliadb_train.yml
  .github/workflows/nucliadb_utils.yml
  .github/workflows/nucliadb_writer.yml
  .github/workflows/public_release.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  Dockerfile
  Dockerfile.node_sidecar
  Dockerfile.rust
  Dockerfile.withbinding
  nucliadb/nucliadb/train/tests/test_get_info.py
  nucliadb/nucliadb/train/tests/test_get_ontology_count.py
  nucliadb/setup.py
  nucliadb_dataset/setup.py
  nucliadb_models/setup.py
  nucliadb_node/setup.py
  nucliadb_performance/setup.py
  nucliadb_sdk/setup.py
  nucliadb_telemetry/setup.py
  nucliadb_utils/setup.py
  pdm.lock
  pyproject.toml
  test-requirements.txt
Due: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils

Update flake8 to newer version, compatible with 3.12
  code-requirements.txt
  pdm.lock
  pyproject.toml
Due: none

Fix processing storage driver enum usage (#2174)
  nucliadb/nucliadb/ingest/processing.py
  nucliadb/nucliadb/standalone/run.py
  nucliadb/nucliadb/standalone/tests/unit/test_migrations.py
Due: lint_nucliadb

Fix test
  nucliadb/nucliadb/tests/integration/common/datamanagers/test_synonyms.py
Due: lint_nucliadb

Use datamanagers from reader and writer APIs
  nucliadb/nucliadb/reader/api/v1/services.py
  nucliadb/nucliadb/writer/api/v1/services.py
Due: lint_nucliadb

Change Synonyms ORM object to a datamanager
  nucliadb/nucliadb/common/datamanagers/synonyms.py
  nucliadb/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/nucliadb/ingest/tests/integration/orm/test_orm_synonyms.py
  nucliadb/nucliadb/search/search/query.py
  nucliadb/nucliadb/tests/integration/common/datamanagers/test_synonyms.py
Due: lint_nucliadb

Rename to cleaner get/set/delete API
  nucliadb/nucliadb/common/datamanagers/synonyms.py
  nucliadb/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/nucliadb/reader/api/v1/services.py
  nucliadb/nucliadb/search/search/query.py
  nucliadb/nucliadb/tests/integration/common/datamanagers/test_synonyms.py
  nucliadb/nucliadb/writer/api/v1/services.py
Due: lint_nucliadb

Fix lints
  nucliadb/nucliadb/common/datamanagers/__init__.py
Due: lint_nucliadb

Rely on global exception handling
  nucliadb/nucliadb/reader/api/v1/services.py
  nucliadb/nucliadb/writer/api/v1/services.py
Due: lint_nucliadb

Cleanup ingest gRPC synonyms methods
  nucliadb/nucliadb/ingest/service/writer.py
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/replication_pb2.py
  nucliadb_protos/python/nucliadb_protos/replication_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/writer_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/writer_pb2_grpc.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2_grpc.pyi
  nucliadb_protos/rust/src/fdbwriter.rs
  nucliadb_protos/writer.proto
Due: lint_nucliadb

Include necessary files in sdist
  nucliadb_node/Cargo.toml
  nucliadb_node_binding/.cargo
  nucliadb_node_binding/nucliadb_protos
  nucliadb_node_binding/pyproject.toml
Due: none

Synonyms datamanager (#2169)
  nucliadb/nucliadb/common/datamanagers/__init__.py
  nucliadb/nucliadb/common/datamanagers/synonyms.py
  nucliadb/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/nucliadb/ingest/service/writer.py
  nucliadb/nucliadb/ingest/tests/integration/orm/test_orm_synonyms.py
  nucliadb/nucliadb/reader/api/v1/services.py
  nucliadb/nucliadb/search/search/query.py
  nucliadb/nucliadb/tests/integration/common/datamanagers/test_synonyms.py
  nucliadb/nucliadb/writer/api/v1/services.py
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/replication_pb2.py
  nucliadb_protos/python/nucliadb_protos/replication_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/writer_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/writer_pb2_grpc.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2_grpc.pyi
  nucliadb_protos/rust/src/fdbwriter.rs
  nucliadb_protos/writer.proto
Due: lint_nucliadb

Extend BrokerMessage with vectorsets
  nucliadb_protos/python/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/resources.proto
  nucliadb_protos/rust/src/resources.rs
Due: none

Include necessary files in sdist (#2177)
  nucliadb_node/Cargo.toml
  nucliadb_node_binding/.cargo
  nucliadb_node_binding/nucliadb_protos
  nucliadb_node_binding/pyproject.toml
Due: none

Integrate with docker
  nucliadb/requirements.txt
  nucliadb_utils/nucliadb_utils/settings.py
  nucliadb_utils/nucliadb_utils/storages/azure.py
  nucliadb_utils/nucliadb_utils/tests/azure.py
  nucliadb_utils/nucliadb_utils/tests/conftest.py
  nucliadb_utils/nucliadb_utils/tests/integration/storages/test_storage.py
  pdm.lock
  pyproject.toml
Due: lint_nucliadb_utils

register utility on global state
  nucliadb_utils/nucliadb_utils/tests/azure.py
Due: lint_nucliadb_utils

Typo
  Dockerfile.node_sidecar
Due: none

Replicate vectorsets (#2172)
  nucliadb_core/src/vectors.rs
  nucliadb_node/src/replication/service.rs
  nucliadb_node/src/shards/indexes.rs
  nucliadb_node/src/shards/shard_writer.rs
  nucliadb_node/tests/test_replication.rs
  nucliadb_vectors/src/service/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Lint
  .github/workflows/nucliadb_node_release.yml
  mypy.ini
  nucliadb_node_binding/Cargo.toml
  nucliadb_telemetry/nucliadb_telemetry/batch_span.py
  nucliadb_telemetry/nucliadb_telemetry/grpc.py
  nucliadb_utils/nucliadb_utils/signals.py
Due: lint_nucliadb_telemetry, lint_nucliadb_utils

Fix test
  nucliadb_telemetry/nucliadb_telemetry/tests/unit/test_logs.py
Due: lint_nucliadb_telemetry

wip
  nucliadb/nucliadb/reader/api/v1/download.py
  nucliadb_utils/nucliadb_utils/storages/azure.py
  nucliadb_utils/nucliadb_utils/storages/gcs.py
  nucliadb_utils/nucliadb_utils/storages/local.py
  nucliadb_utils/nucliadb_utils/storages/pg.py
  nucliadb_utils/nucliadb_utils/storages/s3.py
  nucliadb_utils/nucliadb_utils/storages/storage.py
  nucliadb_utils/nucliadb_utils/tests/integration/storages/test_field_storage.py
  nucliadb_utils/nucliadb_utils/tests/integration/storages/test_storage.py
  nucliadb_utils/nucliadb_utils/tests/unit/storages/test_pg.py
Due: lint_nucliadb, lint_nucliadb_utils

Restore node services
  charts/nucliadb_node/templates/node.replicas.svc.yaml
  charts/nucliadb_node/templates/node.svc.yaml
Due: none

Restore node services (#2180)
  charts/nucliadb_node/templates/node.replicas.svc.yaml
  charts/nucliadb_node/templates/node.svc.yaml
Due: none

address PR comments
  nucliadb_utils/nucliadb_utils/nuclia_usage/utils/kb_usage_report.py
  nucliadb_utils/nucliadb_utils/tests/unit/nuclia_usage/test_kb_usage_report.py
Due: lint_nucliadb_utils

update protos
  nucliadb_utils/nucliadb_utils/nuclia_usage/protos/kb_usage_pb2.py
  nucliadb_utils/nucliadb_utils/nuclia_usage/protos/kb_usage_pb2.pyi
  nucliadb_utils/nucliadb_utils/nuclia_usage/protos/kb_usage_pb2_grpc.py
Due: lint_nucliadb_utils

Clean some ingest dead code
  nucliadb/nucliadb/ingest/fields/base.py
  nucliadb/nucliadb/ingest/fields/file.py
  nucliadb/nucliadb/ingest/fields/link.py
  nucliadb/nucliadb/ingest/orm/brain.py
  nucliadb/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/nucliadb/ingest/orm/resource.py
  nucliadb/nucliadb/ingest/processing.py
Due: lint_nucliadb

Remove dead StorageField build_cf
  nucliadb_utils/nucliadb_utils/storages/storage.py
  nucliadb_utils/nucliadb_utils/tests/unit/storages/test_storage.py
Due: lint_nucliadb_utils

Reprocess external links as well
  nucliadb/nucliadb/writer/resource/field.py
Due: lint_nucliadb

Reprocess external links as well (#2183)
  nucliadb/nucliadb/writer/resource/field.py
Due: lint_nucliadb

Check source instead
  nucliadb/nucliadb/writer/resource/field.py
Due: lint_nucliadb

Check source instead (#2184)
  nucliadb/nucliadb/writer/resource/field.py
Due: lint_nucliadb
