Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

isort_nucliadb:
  name: Isort
  entry: isort --profile black -c
  language: system

black_nucliadb:
  name: Black
  entry: black --check --verbose
  language: system

flake8_nucliadb:
  name: Flake8
  entry: flake8 --config=nucliadb/setup.cfg
  language: system

rustfmt_nucliadb:
  name: fmt
  entry: cargo +nightly fmt --check
  language: system
  pass_filenames: false

clippy_nucliadb:
  name: clippy
  entry: cargo clippy --all-features -- -D warnings
  language: system
  pass_filenames: false

Targeted rollover (#1948)
  nucliadb/migrations/0015_targeted_rollover.py
Due: none

be able to trigger rollover for specific kb
  nucliadb/nucliadb/migrator/datamanager.py
  nucliadb/nucliadb/migrator/migrator.py
  nucliadb/nucliadb/tests/integration/migrator/test_migrator.py
Due: none

tweak
  nucliadb/nucliadb/migrator/migrator.py
Due: none

Revert "Filter HNSW during BFS in a single pass (#1940)" (#1950)
  Cargo.lock
  nucliadb/migrations/0003_allfields_key.py
  nucliadb_vectors/Cargo.toml
  nucliadb_vectors/src/data_point/ops_hnsw.rs
Due: rustfmt_nucliadb, clippy_nucliadb

single pass bfs
  nucliadb_vectors/src/data_point/ops_hnsw.rs
Due: rustfmt_nucliadb, clippy_nucliadb

.
  nucliadb/nucliadb/migrator/migrator.py
Due: none

fix
  nucliadb/nucliadb/migrator/migrator.py
  nucliadb/nucliadb/tests/integration/migrator/test_migrator.py
Due: none

fixes in accuracy
  nucliadb_vectors/src/data_point/ops_hnsw.rs
Due: rustfmt_nucliadb, clippy_nucliadb

be able to trigger rollover for specific kb (#1951)
  nucliadb/nucliadb/migrator/datamanager.py
  nucliadb/nucliadb/migrator/migrator.py
  nucliadb/nucliadb/tests/integration/migrator/test_migrator.py
Due: none

@javitonino suggestions
  Cargo.lock
  nucliadb_vectors/Cargo.toml
  nucliadb_vectors/src/data_point/ops_hnsw.rs
Due: rustfmt_nucliadb, clippy_nucliadb

single pass bfs (#1952)
  Cargo.lock
  nucliadb_vectors/Cargo.toml
  nucliadb_vectors/src/data_point/ops_hnsw.rs
Due: rustfmt_nucliadb, clippy_nucliadb

replace istio cors policy
  charts/nucliadb_reader/templates/reader.vs.yaml
  charts/nucliadb_search/templates/search.vs.yaml
  charts/nucliadb_train/templates/train.vs.yaml
  charts/nucliadb_writer/templates/writer.vs.yaml
  nucliadb/nucliadb/reader/app.py
  nucliadb/nucliadb/search/app.py
  nucliadb/nucliadb/train/app.py
  nucliadb/nucliadb/writer/app.py
Due: none

wip
  nucliadb/nucliadb/common/cluster/rollover.py
Due: none

rename allowed_domains to allow_origins
  nucliadb_utils/nucliadb_utils/cors.py
  nucliadb_utils/nucliadb_utils/tests/unit/test_cors.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

rename variable name
  nucliadb_utils/nucliadb_utils/cors.py
  nucliadb_utils/nucliadb_utils/tests/unit/test_cors.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Lets see how to integrate query endpoint on nucliadb
  nucliadb/nucliadb/search/predict.py
  nucliadb/nucliadb/search/search/query.py
  nucliadb_models/nucliadb_models/search.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

query parsing info available in chat
  nucliadb/nucliadb/search/api/v1/find.py
  nucliadb/nucliadb/search/search/chat/prompt.py
  nucliadb/nucliadb/search/search/chat/query.py
  nucliadb/nucliadb/search/search/find.py
  nucliadb/nucliadb/search/search/query.py
  nucliadb_utils/nucliadb_utils/const.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

notes
  nucliadb/nucliadb/search/api/v1/chat.py
Due: none

POC: Table processing with query parsing (#1956)
  nucliadb/nucliadb/search/api/v1/chat.py
  nucliadb/nucliadb/search/api/v1/find.py
  nucliadb/nucliadb/search/search/chat/prompt.py
  nucliadb/nucliadb/search/search/chat/query.py
  nucliadb/nucliadb/search/search/find.py
  nucliadb/nucliadb/search/search/query.py
  nucliadb_utils/nucliadb_utils/const.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Add test for migrations validator
  nucliadb/nucliadb/migrator/utils.py
  nucliadb/nucliadb/tests/unit/migrator/test_migrator.py
Due: none

wip
  nucliadb/nucliadb/common/cluster/rollover.py
  nucliadb/nucliadb/common/datamanagers/rollover.py
Due: none

Image send to predict
  nucliadb/nucliadb/ingest/orm/brain.py
  nucliadb/nucliadb/ingest/orm/processor/__init__.py
  nucliadb/nucliadb/search/predict.py
  nucliadb/nucliadb/search/search/chat/images.py
  nucliadb/nucliadb/search/search/chat/prompt.py
  nucliadb/nucliadb/search/search/chat/query.py
  nucliadb/nucliadb/search/search/find_merge.py
  nucliadb/nucliadb/search/search/query.py
  nucliadb_models/nucliadb_models/search.py
  nucliadb_protos/noderesources.proto
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/replication_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/replication_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/writer_pb2_grpc.pyi
  nucliadb_protos/rust/src/noderesources.rs
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Update nucliadb/nucliadb/search/search/chat/images.py
  nucliadb/nucliadb/search/search/chat/images.py
Due: none

Add migration validation action (#1947)
  .github/workflows/nucliadb_migrations.yml
  nucliadb/nucliadb/migrator/command.py
  nucliadb/nucliadb/migrator/exceptions.py
  nucliadb/nucliadb/migrator/utils.py
  nucliadb/nucliadb/tests/unit/migrator/test_migrator.py
  nucliadb/setup.py
Due: none

Fix lint
  nucliadb/nucliadb/search/tests/unit/search/test_chat_prompt.py
Due: none

better wiring of materializer
  nucliadb/nucliadb/writer/app.py
  nucliadb/nucliadb/writer/back_pressure.py
Due: none

Fix lint
  nucliadb_models/nucliadb_models/search.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

remove istio cors policy (#1953)
  charts/nucliadb_reader/templates/reader.vs.yaml
  charts/nucliadb_search/templates/search.vs.yaml
  charts/nucliadb_train/templates/train.vs.yaml
  charts/nucliadb_writer/templates/writer.vs.yaml
  nucliadb/nucliadb/reader/app.py
  nucliadb/nucliadb/search/app.py
  nucliadb/nucliadb/train/app.py
  nucliadb/nucliadb/writer/app.py
  nucliadb_utils/nucliadb_utils/cors.py
  nucliadb_utils/nucliadb_utils/tests/unit/test_cors.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Rollback to accept all methods
  nucliadb/nucliadb/reader/app.py
  nucliadb/nucliadb/search/app.py
  nucliadb/nucliadb/train/app.py
  nucliadb/nucliadb/writer/app.py
Due: none

Allow all origins by default
  nucliadb_utils/nucliadb_utils/settings.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Accept all methods and all origins by default (#1957)
  nucliadb/nucliadb/reader/app.py
  nucliadb/nucliadb/search/app.py
  nucliadb/nucliadb/train/app.py
  nucliadb/nucliadb/writer/app.py
  nucliadb_utils/nucliadb_utils/settings.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

min lenght
  nucliadb_models/nucliadb_models/search.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

validate prompt has at least one character
  nucliadb_models/nucliadb_models/search.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

version 1 should not collect gc that often
  nucliadb_core/src/vectors.rs
  nucliadb_node/src/grpc/grpc_writer.rs
  nucliadb_node/src/shards/shard_writer.rs
  nucliadb_node_binding/src/writer.rs
  nucliadb_vectors/src/service/writer.rs
  nucliadb_vectors2/src/service/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Add Rag Image Strategies
  nucliadb_models/nucliadb_models/search.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Better naming
  nucliadb_models/nucliadb_models/search.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Learning config should only be deleted for onprem
  nucliadb/nucliadb/ingest/service/writer.py
Due: none

Fix comment
  nucliadb_models/nucliadb_models/search.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Path conditions:
  isort_nucliadb: any of: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)(^nucliadb_performace/) and \.py$
  black_nucliadb: any of: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)(^nucliadb_performace/) and \.py$
  flake8_nucliadb: any of: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)(^nucliadb_performace/) and \.py$
  rustfmt_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
  clippy_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
