Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: isort_nucliadb
        name: Isort
        entry: isort --profile black -c
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)
        types: ["python"]

      - id: black_nucliadb
        name: Black
        entry: black --check --verbose
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)
        types: ["python"]

      - id: flake8_nucliadb
        name: Flake8
        entry: flake8 --config=nucliadb/setup.cfg
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)
        types: ["python"]

      - id: rustfmt_nucliadb
        name: fmt
        entry: cargo +nightly fmt --check
        language: system
        files: (^nucliadb_vectors/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_paragraphs/)|(^nucliadb_texts/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nucliadb
        name: clippy
        entry: cargo clippy --all-features -- -D warnings
        language: system
        files: (^nucliadb_vectors/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_paragraphs/)|(^nucliadb_texts/)
        types: ["rust"]
        pass_filenames: false

fix primary id wiring (#1565)
  nucliadb/nucliadb/common/cluster/discovery/base.py
  nucliadb/nucliadb/common/cluster/discovery/k8s.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Add exhaustive tests for date range filtering (#1560)
  nucliadb/nucliadb/tests/integration/search/test_search_date_ranges_filter.py
  nucliadb/nucliadb/writer/api/v1/resource.py
  nucliadb/nucliadb/writer/resource/basic.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Add user prompt to chat endpoint (#1553)
  nucliadb/nucliadb/search/api/v1/chat.py
  nucliadb/nucliadb/search/predict.py
  nucliadb/nucliadb/search/search/chat/query.py
  nucliadb/nucliadb/search/tests/unit/test_predict.py
  nucliadb_models/nucliadb_models/search.py
  nucliadb_sdk/nucliadb_sdk/tests/test_chat.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

wip
  nucliadb/nucliadb/ingest/orm/processor/__init__.py
  nucliadb/nucliadb/tests/integration/search/test_search_date_ranges_filter.py
  nucliadb/nucliadb/tests/utils/broker_messages/__init__.py
  nucliadb/nucliadb/tests/utils/broker_messages/fields.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Fix default parameters on search
  nucliadb_models/nucliadb_models/search.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Fix
  nucliadb/nucliadb/reader/api/v1/resource.py
  nucliadb_models/nucliadb_models/search.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Fix default parameters on search (#1567)
  nucliadb/nucliadb/reader/api/v1/resource.py
  nucliadb_models/nucliadb_models/search.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Fix
  nucliadb/nucliadb/search/search/merge.py
  nucliadb_utils/nucliadb_utils/const.py
  nucliadb_utils/nucliadb_utils/featureflagging.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Update run-tikv.sh
  scripts/run-tikv.sh
Due: none

switch to the master branch
  nucliadb/requirements.lock.txt
  nucliadb/requirements.txt
  scripts/install-system-deps.sh
Due: none

Add rust test
  nucliadb_node/tests/test_date_range_search.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Fix: multiple conditions are considered as AND
  nucliadb_node/tests/test_date_range_search.rs
  nucliadb_texts/src/reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Fix prefiltering when no valid fields found
  nucliadb_core/src/query_planner.rs
  nucliadb_node/src/shards/shard_reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

proper prefilter query
  nucliadb_texts/src/reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Add comment for @hermeGarcia
  nucliadb_core/src/query_planner.rs
Due: none

Add test
  nucliadb/nucliadb/tests/integration/search/test_search.py
  nucliadb/nucliadb/tests/integration/search/test_search_date_ranges_filter.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

update comment
  nucliadb_core/src/query_planner.rs
Due: none

better
  nucliadb/nucliadb/tests/integration/search/test_search_date_ranges_filter.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix edge case
  nucliadb_texts/src/reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

test
  nucliadb_node/tests/test_date_range_search.rs
Due: rustfmt_nucliadb, clippy_nucliadb

all
  nucliadb_texts/src/reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Fix date range filtering (#1566)
  nucliadb/nucliadb/tests/integration/search/test_search.py
  nucliadb/nucliadb/tests/integration/search/test_search_date_ranges_filter.py
  nucliadb_core/src/query_planner.rs
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_node/tests/test_date_range_search.rs
  nucliadb_texts/src/reader.rs
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

Give progress for export downloads too
  nucliadb/nucliadb/export_import/datamanager.py
  nucliadb/nucliadb/export_import/exporter.py
  nucliadb/nucliadb/reader/api/v1/export_import.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Improve progress reporting on imports
  nucliadb/nucliadb/export_import/importer.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Improve progress reporting on imports
  nucliadb/nucliadb/export_import/datamanager.py
  nucliadb/nucliadb/export_import/importer.py
  nucliadb/nucliadb/export_import/models.py
  nucliadb/nucliadb/writer/api/v1/export_import.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Improve progress reporting on imports (#1574)
  nucliadb/nucliadb/export_import/datamanager.py
  nucliadb/nucliadb/export_import/exporter.py
  nucliadb/nucliadb/export_import/importer.py
  nucliadb/nucliadb/export_import/models.py
  nucliadb/nucliadb/reader/api/v1/export_import.py
  nucliadb/nucliadb/writer/api/v1/export_import.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Refactored maindb driver fixtures in a separate module
  nucliadb/nucliadb/export_import/utils.py
  nucliadb/nucliadb/search/api/v1/suggest.py
  nucliadb/nucliadb/tests/integration/test_upload.py
  nucliadb/nucliadb/tests/unit/export_import/test_utils.py
  nucliadb/nucliadb/writer/tus/dm.py
  nucliadb/nucliadb/writer/tus/gcs.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Refactored maindb driver fixtures in a separate module (#1575)
  nucliadb/nucliadb/export_import/utils.py
  nucliadb/nucliadb/search/api/v1/suggest.py
  nucliadb/nucliadb/tests/integration/test_upload.py
  nucliadb/nucliadb/tests/unit/export_import/test_utils.py
  nucliadb/nucliadb/writer/tus/dm.py
  nucliadb/nucliadb/writer/tus/gcs.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

rename contributor into nucliadb admin
  nucliadb/nucliadb/standalone/app.py
  nucliadb/nucliadb/standalone/run.py
  nucliadb/requirements.txt
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Do performance tests on nucliadb standalone
  .github/workflows/nucliadb_performance.yml
  nucliadb/nucliadb/export_import/datamanager.py
  nucliadb/nucliadb/middleware.py
  nucliadb/nucliadb/reader/api/v1/export_import.py
  nucliadb/nucliadb/search/app.py
  nucliadb/nucliadb/standalone/app.py
  nucliadb_models/nucliadb_models/export_import.py
  nucliadb_performance/Makefile
  nucliadb_performance/kb_requests.json
  nucliadb_performance/nucliadb_performance/hosted/__init__.py
  nucliadb_performance/nucliadb_performance/hosted/test_search_cluster.py
  nucliadb_performance/nucliadb_performance/hosted/test_search_kb.py
  nucliadb_performance/nucliadb_performance/settings.py
  nucliadb_performance/nucliadb_performance/standalone/__init__.py
  nucliadb_performance/nucliadb_performance/standalone/test_search.py
  nucliadb_performance/nucliadb_performance/test_search_kb.py
  nucliadb_performance/nucliadb_performance/utils/__init__.py
  nucliadb_performance/nucliadb_performance/utils/kbs.py
  nucliadb_performance/nucliadb_performance/utils/metrics.py
  nucliadb_performance/nucliadb_performance/utils/misc.py
  nucliadb_performance/nucliadb_performance/utils/saved_searches.py
  nucliadb_performance/nucliadb_performance/utils/vectors.py
  nucliadb_performance/saved_searches.json
  nucliadb_sdk/nucliadb_sdk/v2/sdk.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

remove
  nucliadb/nucliadb/export_import/datamanager.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

remove
  nucliadb/nucliadb/reader/api/v1/export_import.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

remove
  nucliadb_models/nucliadb_models/export_import.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

only set error log level when we are use file logging
  nucliadb_telemetry/nucliadb_telemetry/logs.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

only set error log level when we are use file logging (#1577)
  nucliadb_telemetry/nucliadb_telemetry/logs.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

redirect contributor -> admin
  nucliadb/nucliadb/standalone/app.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

lint
  nucliadb/nucliadb/standalone/app.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

bump
  VERSION
Due: none

rename contributor into nucliadb admin (#1576)
  VERSION
  nucliadb/nucliadb/standalone/app.py
  nucliadb/nucliadb/standalone/run.py
  nucliadb/requirements.txt
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

more
  .github/workflows/nucliadb_performance.yml
  nucliadb/nucliadb/standalone/app.py
  nucliadb_performance/Makefile
  nucliadb_performance/nucliadb_performance/hosted/test_search_kb.py
  nucliadb_performance/nucliadb_performance/settings.py
  nucliadb_performance/nucliadb_performance/standalone/test_search.py
  nucliadb_performance/nucliadb_performance/utils/metrics.py
  nucliadb_performance/nucliadb_performance/utils/misc.py
  nucliadb_performance/nucliadb_performance/utils/saved_requests.py
  nucliadb_performance/nucliadb_performance/utils/saved_searches.py
  nucliadb_performance/nucliadb_performance/utils/vectors.py
  nucliadb_performance/saved_searches.json
  nucliadb_performance/standalone_search_requests.json
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb
