Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint_nucliadb
        name: Lint nucliadb
        entry: make -C nucliadb lint
        language: system
        files: (^nucliadb/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_dataset
        name: Lint nucliadb_dataset
        entry: make -C nucliadb_dataset lint
        language: system
        files: (^nucliadb_dataset/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_models
        name: Lint nucliadb_models
        entry: make -C nucliadb_models lint
        language: system
        files: (^nucliadb_models/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_node
        name: Lint nucliadb_node
        entry: make -C nucliadb_node lint
        language: system
        files: (^nucliadb_node/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_node_binding
        name: Lint nucliadb_node_binding
        entry: make -C nucliadb_node_binding lint
        language: system
        files: (^nucliadb_node_binding/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_performance
        name: Lint nucliadb_performance
        entry: make -C nucliadb_performance lint
        language: system
        files: (^nucliadb_performance/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_sdk
        name: Lint nucliadb_sdk
        entry: make -C nucliadb_sdk lint
        language: system
        files: (^nucliadb_sdk/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_telemetry
        name: Lint nucliadb_telemetry
        entry: make -C nucliadb_telemetry lint
        language: system
        files: (^nucliadb_telemetry/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_utils
        name: Lint nucliadb_utils
        entry: make -C nucliadb_utils lint
        language: system
        files: (^nucliadb_utils/)
        types: ["python"]
        pass_filenames: false

      - id: rustfmt_nucliadb
        name: fmt
        entry: cargo fmt --check
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nucliadb
        name: clippy
        entry: cargo clippy --all-features -- -D warnings
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

Better test
  nucliadb/tests/nucliadb/integration/test_notifications.py
Due: lint_nucliadb

revert
  nucliadb/tests/ndbfixtures/ingest.py
Due: lint_nucliadb

Move to search tests
  nucliadb/tests/search/integration/reader/test_notifications.py
Due: lint_nucliadb

Nucliadb indexed notification (#2881)
  nidx/nidx_protos/src/nidx.proto
  nidx/src/indexer.rs
  nucliadb/tests/search/integration/reader/test_notifications.py
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/writer.proto
Due: lint_nucliadb

Remove unused introspect logic
  nucliadb/src/nucliadb/standalone/api_router.py
  nucliadb/src/nucliadb/standalone/introspect.py
  nucliadb/tests/standalone/integration/test_introspect.py
  nucliadb/tests/standalone/unit/test_introspect.py
Due: lint_nucliadb

Remove unused introspect logic (#2882)
  nucliadb/src/nucliadb/standalone/api_router.py
  nucliadb/src/nucliadb/standalone/introspect.py
  nucliadb/tests/standalone/integration/test_introspect.py
  nucliadb/tests/standalone/unit/test_introspect.py
Due: lint_nucliadb

Remove multi-match booster reranker (#2874)
  nucliadb/src/nucliadb/search/search/query_parser/models.py
  nucliadb/src/nucliadb/search/search/query_parser/parser.py
  nucliadb/src/nucliadb/search/search/rerankers.py
  nucliadb/tests/ndbfixtures/common.py
  nucliadb/tests/nucliadb/integration/search/post_retrieval/test_ask_reranking.py
  nucliadb/tests/nucliadb/integration/search/post_retrieval/test_rank_fusion.py
  nucliadb/tests/nucliadb/integration/search/post_retrieval/test_reranker.py
  nucliadb/tests/nucliadb/integration/search/test_filters.py
  nucliadb/tests/nucliadb/integration/test_ask.py
  nucliadb/tests/nucliadb/integration/test_find.py
  nucliadb/tests/search/unit/search/test_query_parsing.py
  nucliadb/tests/search/unit/test_find_post_index.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_sdk/tests/test_ask.py
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_sdk

Deduplicate input languages
  nucliadb/src/nucliadb/writer/resource/basic.py
Due: lint_nucliadb

Set a limit to the languages field
  nucliadb_models/src/nucliadb_models/metadata.py
Due: lint_nucliadb_models

Deduplicate languages input by the user (#2883)
  nucliadb/src/nucliadb/writer/resource/basic.py
  nucliadb_models/src/nucliadb_models/metadata.py
Due: lint_nucliadb, lint_nucliadb_models

Force relation labels in tests
  nidx/nidx_relation/tests/common/mod.rs
  nidx/nidx_relation/tests/test_reader.rs
  nidx/nidx_relation/tests/test_writer.rs
Due: none

Move TestOpener to common
  nidx/nidx_relation/tests/common/mod.rs
  nidx/nidx_relation/tests/test_reader.rs
Due: none

Allow nidx searcher to read cluster status
  charts/nidx/templates/searcher-rbac.yaml
Due: none

Allow nidx searcher to read cluster status (#2884)
  charts/nidx/templates/searcher-rbac.yaml
Due: none

Implement single hop graph queries
  nidx/nidx_relation/src/graph_query_parser.rs
  nidx/nidx_relation/src/lib.rs
  nidx/nidx_relation/src/reader.rs
  nidx/nidx_relation/tests/test_graph_search.rs
Due: none

Avoid irrelevant groups of (Occur::Must, AllQuery)
  nidx/nidx_relation/src/graph_query_parser.rs
Due: none

Relation query uses path query instead of general graph query
  nidx/nidx_relation/src/graph_query_parser.rs
Due: none

Move graph search logic to GraphSearcher
  nidx/nidx_relation/src/graph_query_parser.rs
  nidx/nidx_relation/src/reader.rs
Due: none

Add headless service for nidx searchers
  charts/nidx/templates/searcher-svc.yaml
  nidx/src/searcher/shard_selector.rs
Due: none

Format
  nidx/src/searcher/shard_selector.rs
Due: none

set subdomain
  charts/nidx/templates/searcher-deploy.yaml
Due: none

try with ips
  charts/nidx/templates/searcher-deploy.yaml
  charts/nidx/templates/searcher-svc.yaml
  nidx/src/searcher/shard_selector.rs
Due: none

Nidx searcher cluster rbac (#2886)
  charts/nidx/templates/searcher-deploy.yaml
  nidx/src/searcher/shard_selector.rs
Due: none

Fix pyproject bump of nucliadb
  bump.py
Due: none

Fix pyproject bump of nucliadb (#2887)
  bump.py
Due: none

Use pod ip, not host ip
  nidx/src/searcher/shard_selector.rs
Due: none

Better info messages
  nidx/src/searcher/shard_selector.rs
Due: none

Force sync new shards
  nidx/src/metadata/index.rs
  nidx/src/searcher/sync.rs
  nidx/tests/test_searcher_cluster.rs
Due: none

sqlx
  nidx/.sqlx/query-b94e349dbc0daec57f8f8f6e9e2dffb06100b1bb2b41d297c9f3b191da37a83d.json
Due: none

nidx clustering fixes (#2888)
  nidx/.sqlx/query-b94e349dbc0daec57f8f8f6e9e2dffb06100b1bb2b41d297c9f3b191da37a83d.json
  nidx/src/metadata/index.rs
  nidx/src/searcher/shard_selector.rs
  nidx/src/searcher/sync.rs
  nidx/tests/test_searcher_cluster.rs
Due: none

Implement fuzzy search for nodes
  nidx/nidx_relation/src/graph_query_parser.rs
  nidx/nidx_relation/tests/test_graph_search.rs
Due: none

Refactor fuzzy and remove AND expressions
  nidx/nidx_relation/src/graph_query_parser.rs
  nidx/nidx_relation/tests/test_graph_search.rs
Due: none

Add paragraph related paragraphs
  nucliadb_models/src/nucliadb_models/common.py
Due: lint_nucliadb_models

wip
  nucliadb/src/nucliadb/search/predict.py
  nucliadb_utils/src/nucliadb_utils/const.py
  nucliadb_utils/src/nucliadb_utils/featureflagging.py
  run_agents.py
Due: lint_nucliadb, lint_nucliadb_utils

Implement a multi-statement OR
  nidx/nidx_relation/src/graph_query_parser.rs
  nidx/nidx_relation/tests/test_graph_search.rs
Due: none

Add TODOs
  nidx/nidx_relation/src/graph_query_parser.rs
Due: none
