Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nidx, clippy_nidx

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint_nucliadb
        name: Lint nucliadb
        entry: make -C nucliadb lint
        language: system
        files: (^nucliadb/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_dataset
        name: Lint nucliadb_dataset
        entry: make -C nucliadb_dataset lint
        language: system
        files: (^nucliadb_dataset/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_models
        name: Lint nucliadb_models
        entry: make -C nucliadb_models lint
        language: system
        files: (^nucliadb_models/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_sdk
        name: Lint nucliadb_sdk
        entry: make -C nucliadb_sdk lint
        language: system
        files: (^nucliadb_sdk/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_telemetry
        name: Lint nucliadb_telemetry
        entry: make -C nucliadb_telemetry lint
        language: system
        files: (^nucliadb_telemetry/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_utils
        name: Lint nucliadb_utils
        entry: make -C nucliadb_utils lint
        language: system
        files: (^nucliadb_utils/)
        types: ["python"]
        pass_filenames: false

      - id: rustfmt_nidx
        name: Rust format check for nidx
        entry: cargo fmt --check --all --manifest-path nidx/Cargo.toml
        language: system
        files: (^nidx/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nidx
        name: Clippy warning check for nidx
        entry: cargo clippy --all-features --manifest-path nidx/Cargo.toml -- -D warnings
        language: system
        files: (^nidx/)
        types: ["rust"]
        pass_filenames: false

Make retry after parsing safer
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
Due: lint_nucliadb_sdk

Make retry after parsing safer (#3470)
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
Due: lint_nucliadb_sdk

Move graph strategy tests to a different file
  nucliadb/tests/nucliadb/ask/test_ask.py
  nucliadb/tests/nucliadb/ask/test_ask_graph_strategy.py
Due: lint_nucliadb

FF graph strategy implementations
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/old_graph_strategy.py
  nucliadb/tests/nucliadb/ask/test_ask_graph_strategy.py
Due: lint_nucliadb

/retrieve and /augment as internal endpoints
  nucliadb/src/nucliadb/search/api/v1/augment.py
  nucliadb/src/nucliadb/search/api/v1/retrieve.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/src/nucliadb/search/search/chat/rpc.py
  nucliadb/tests/nucliadb/integration/test_synonyms.py
  nucliadb/tests/search/integration/api/v1/test_augment.py
  nucliadb/tests/search/integration/api/v1/test_retrieve.py
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
Due: lint_nucliadb, lint_nucliadb_sdk

Internal /graph/nodes endpoint
  nucliadb/src/nucliadb/search/api/v1/graph.py
Due: lint_nucliadb

Expose fuzzy words in graph API
  nucliadb/src/nucliadb/search/search/query_parser/parsers/graph.py
  nucliadb_models/src/nucliadb_models/graph/requests.py
Due: lint_nucliadb, lint_nucliadb_models

Add graph_nodes RPC
  nucliadb/src/nucliadb/search/search/chat/rpc.py
Due: lint_nucliadb

Rewrite fuzzy_search_entities using HTTP API
  nucliadb/src/nucliadb/search/search/graph_strategy.py
Due: lint_nucliadb

Add missing type annotation to augment_and_rerank
  nucliadb/src/nucliadb/search/search/chat/query.py
Due: lint_nucliadb

Use version of hydrate_and_rerank that uses /augment
  nucliadb/src/nucliadb/search/search/graph_strategy.py
Due: lint_nucliadb

Rewrite find_graph_neighbours using HTTP API
  nucliadb/src/nucliadb/search/api/v1/graph.py
  nucliadb/src/nucliadb/search/search/chat/rpc.py
  nucliadb/src/nucliadb/search/search/graph_merge.py
  nucliadb/src/nucliadb/search/search/graph_strategy.py
  nucliadb_models/src/nucliadb_models/graph/responses.py
Due: lint_nucliadb, lint_nucliadb_models

Use from_proto dicts instead of custom function
  nucliadb/src/nucliadb/search/search/graph_strategy.py
  nucliadb/src/nucliadb/search/search/merge.py
  nucliadb/src/nucliadb/search/search/old_graph_strategy.py
Due: lint_nucliadb

Comment
  nucliadb/src/nucliadb/search/search/graph_strategy.py
Due: lint_nucliadb

Undo /internal endpoints
  nucliadb/src/nucliadb/search/api/v1/augment.py
  nucliadb/src/nucliadb/search/api/v1/graph.py
  nucliadb/src/nucliadb/search/api/v1/retrieve.py
  nucliadb/src/nucliadb/search/search/chat/rpc.py
  nucliadb/tests/nucliadb/integration/test_synonyms.py
  nucliadb/tests/search/integration/api/v1/test_augment.py
  nucliadb/tests/search/integration/api/v1/test_retrieve.py
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
Due: lint_nucliadb, lint_nucliadb_sdk

Ask decoupling (11): graph strategy (#3471)
  nucliadb/src/nucliadb/search/api/v1/augment.py
  nucliadb/src/nucliadb/search/api/v1/graph.py
  nucliadb/src/nucliadb/search/api/v1/retrieve.py
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/src/nucliadb/search/search/chat/rpc.py
  nucliadb/src/nucliadb/search/search/graph_merge.py
  nucliadb/src/nucliadb/search/search/merge.py
  nucliadb/src/nucliadb/search/search/old_graph_strategy.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/graph.py
  nucliadb/tests/nucliadb/ask/test_ask.py
  nucliadb/tests/nucliadb/ask/test_ask_graph_strategy.py
  nucliadb_models/src/nucliadb_models/graph/requests.py
  nucliadb_models/src/nucliadb_models/graph/responses.py
Due: lint_nucliadb, lint_nucliadb_models

Disable audit for RAO /ask (and internal find)
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/tests/nucliadb/ask/test_ask_audit.py
Due: lint_nucliadb

Update deps
  uv.lock
Due: none

Skip another audit test
  nucliadb/tests/nucliadb/ask/test_ask.py
Due: lint_nucliadb

Remove dead code
  nucliadb/src/nucliadb/search/search/chat/rpc.py
Due: lint_nucliadb

Update all rust deps
  nidx/Cargo.lock
  nidx/Cargo.toml
  nidx/nidx_paragraph/Cargo.toml
  nidx/nidx_protos/Cargo.toml
  nidx/nidx_tantivy/Cargo.toml
  nidx/nidx_text/Cargo.toml
  nidx/nidx_vector/Cargo.toml
Due: none

Fix upgrade stuff·
  nidx/Cargo.lock
  nidx/Cargo.toml
  nidx/nidx_paragraph/Cargo.toml
  nidx/nidx_protos/Cargo.toml
  nidx/nidx_protos/build.rs
  nidx/nidx_tantivy/Cargo.toml
  nidx/nidx_tantivy/src/index_reader.rs
  nidx/nidx_vector/Cargo.toml
  nidx/nidx_vector/src/hnsw/build.rs
  nidx/nidx_vector/src/inverted_index/fst_index.rs
  nidx/nidx_vector/src/inverted_index/map.rs
  nidx/nidx_vector/src/segment.rs
  nidx/nidx_vector/src/vector_types/rabitq.rs
  nidx/src/import_export.rs
  nidx/src/indexer.rs
  nidx/src/scheduler/purge_tasks.rs
  nidx/src/searcher/index_cache.rs
  nidx/src/searcher/sync.rs
  nidx/src/segment_store.rs
  nidx/src/telemetry.rs
  nidx/src/telemetry/log_format.rs
  nidx/src/telemetry/middleware.rs
Due: rustfmt_nidx, clippy_nidx

Add basic renovate configuration
  .github/renovate.json
Due: none

Ask decoupling (12): disable audit for RAO /ask (and internal find) (#3472)
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/tests/nucliadb/ask/test_ask.py
  nucliadb/tests/nucliadb/ask/test_ask_audit.py
Due: lint_nucliadb

Use HTTP version
  nucliadb/src/nucliadb/search/search/chat/rpc.py
Due: lint_nucliadb

Update deps (#3473)
  uv.lock
Due: none

axum update changes
  nidx/nidx_vector/tests/test_relation.rs
  nidx/src/api/grpc.rs
Due: rustfmt_nidx, clippy_nidx

Update azure
  uv.lock
Due: none

Fix float precision
  nidx/nidx_vector/tests/test_basic_search.rs
Due: rustfmt_nidx, clippy_nidx

Add basic renovate configuration (#3476)
  .github/renovate.json
Due: none

Update azure (#3478)
  uv.lock
Due: none

Do not update python 3.10 for linting
  .github/renovate.json
Due: none

Update rust deps (#3477)
  nidx/Cargo.lock
  nidx/Cargo.toml
  nidx/nidx_paragraph/Cargo.toml
  nidx/nidx_protos/Cargo.toml
  nidx/nidx_protos/build.rs
  nidx/nidx_tantivy/Cargo.toml
  nidx/nidx_tantivy/src/index_reader.rs
  nidx/nidx_text/Cargo.toml
  nidx/nidx_vector/Cargo.toml
  nidx/nidx_vector/src/hnsw/build.rs
  nidx/nidx_vector/src/inverted_index/fst_index.rs
  nidx/nidx_vector/src/inverted_index/map.rs
  nidx/nidx_vector/src/segment.rs
  nidx/nidx_vector/src/vector_types/rabitq.rs
  nidx/nidx_vector/tests/test_basic_search.rs
  nidx/nidx_vector/tests/test_relation.rs
  nidx/src/api/grpc.rs
  nidx/src/import_export.rs
  nidx/src/indexer.rs
  nidx/src/scheduler/purge_tasks.rs
  nidx/src/searcher/index_cache.rs
  nidx/src/searcher/sync.rs
  nidx/src/segment_store.rs
  nidx/src/telemetry.rs
  nidx/src/telemetry/log_format.rs
  nidx/src/telemetry/middleware.rs
Due: rustfmt_nidx, clippy_nidx

Do not update python 3.10 for linting (#3481)
  .github/renovate.json
Due: none

Fix RelationType to be JSON-serializable
  nucliadb_models/src/nucliadb_models/metadata.py
Due: lint_nucliadb_models

Fix year
  .github/workflows/ci.yml
  .licenserc.yaml
Due: none

Also update toolchain version
  rust-toolchain.toml
Due: none

Do not update old python
  .github/workflows/ci.yml
Due: none

clippy
  nidx/nidx_vector/src/data_store/v1/trie.rs
Due: rustfmt_nidx, clippy_nidx

Fix settings case
  nidx/src/settings.rs
Due: rustfmt_nidx, clippy_nidx
