Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

lint_nucliadb:
  name: Lint nucliadb
  entry: make -C nucliadb lint
  language: system
  pass_filenames: false

lint_nucliadb_dataset:
  name: Lint nucliadb_dataset
  entry: make -C nucliadb_dataset lint
  language: system
  pass_filenames: false

lint_nucliadb_models:
  name: Lint nucliadb_models
  entry: make -C nucliadb_models lint
  language: system
  pass_filenames: false

lint_nucliadb_node:
  name: Lint nucliadb_node
  entry: make -C nucliadb_node lint
  language: system
  pass_filenames: false

lint_nucliadb_node_binding:
  name: Lint nucliadb_node_binding
  entry: make -C nucliadb_node_binding lint
  language: system
  pass_filenames: false

lint_nucliadb_performance:
  name: Lint nucliadb_performance
  entry: make -C nucliadb_performance lint
  language: system
  pass_filenames: false

lint_nucliadb_sdk:
  name: Lint nucliadb_sdk
  entry: make -C nucliadb_sdk lint
  language: system
  pass_filenames: false

lint_nucliadb_telemetry:
  name: Lint nucliadb_telemetry
  entry: make -C nucliadb_telemetry lint
  language: system
  pass_filenames: false

lint_nucliadb_utils:
  name: Lint nucliadb_utils
  entry: make -C nucliadb_utils lint
  language: system
  pass_filenames: false

rustfmt_nucliadb:
  name: fmt
  entry: cargo fmt --check
  language: system
  pass_filenames: false

clippy_nucliadb:
  name: clippy
  entry: cargo clippy --all-features -- -D warnings
  language: system
  pass_filenames: false

Cancel pull task on unsubscribe
  nucliadb_utils/src/nucliadb_utils/nats.py
  nucliadb_utils/tests/unit/test_nats.py
Due: lint_nucliadb_utils

Fix
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/tests/nucliadb/integration/test_ask.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

fix lint
  nucliadb/tests/nucliadb/integration/test_ask.py
Due: lint_nucliadb

Debug Ask Endpoint (#2701)
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/tests/nucliadb/integration/test_ask.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

Fix cancellation
  nucliadb_utils/src/nucliadb_utils/nats.py
Due: lint_nucliadb_utils

Ingest nats pull consumers (#2692)
  nucliadb/src/nucliadb/ingest/consumer/consumer.py
  nucliadb/src/nucliadb/ingest/consumer/service.py
  nucliadb/tests/ingest/integration/ingest/test_ingest.py
  nucliadb/tests/nucliadb/unit/tasks/conftest.py
  nucliadb_telemetry/src/nucliadb_telemetry/jetstream.py
  nucliadb_utils/src/nucliadb_utils/const.py
  nucliadb_utils/src/nucliadb_utils/featureflagging.py
  nucliadb_utils/src/nucliadb_utils/nats.py
  nucliadb_utils/src/nucliadb_utils/tests/gcs.py
  nucliadb_utils/tests/unit/test_nats.py
  pdm.lock
  pyproject.toml
Due: lint_nucliadb, lint_nucliadb_telemetry, lint_nucliadb_utils

Fix last sequence id from the stream
  nucliadb/src/nucliadb/ingest/consumer/consumer.py
Due: lint_nucliadb

fix
  nucliadb/src/nucliadb/ingest/consumer/consumer.py
Due: lint_nucliadb

Fix last sequence id from the stream (#2702)
  nucliadb/src/nucliadb/ingest/consumer/consumer.py
Due: lint_nucliadb

Buffered reads in download and unpack
  nidx/src/segment_store.rs
Due: none

Cleaner reload of indexes
  nidx/src/searcher.rs
  nidx/src/searcher/index_cache.rs
Due: none

Do not require python 3.9 lints to deploy
  .github/workflows/ci.yml
Due: none

Add metrics for index refresh
  charts/nidx/templates/searcher-deploy.yaml
  nidx/src/metrics.rs
  nidx/src/searcher.rs
  nidx/src/searcher/index_cache.rs
  nidx/src/searcher/sync.rs
Due: none

Add some metrics
  nidx/src/metrics.rs
  nidx/src/searcher/sync.rs
Due: none

Only initially synced if no errors
  nidx/src/searcher/sync.rs
Due: none

Add control socket to chart
  charts/nidx/templates/api-deploy.yaml
  charts/nidx/templates/indexer-deploy.yaml
  charts/nidx/templates/scheduler-deploy.yaml
  charts/nidx/templates/searcher-deploy.yaml
  charts/nidx/templates/worker-deploy.yaml
Due: none

Do not require python 3.9 lints to deploy (#2704)
  .github/workflows/ci.yml
Due: none

wip
  .github/workflows/ci.yml
  nucliadb_utils/src/nucliadb_utils/storages/azure.py
  nucliadb_utils/src/nucliadb_utils/storages/gcs.py
  nucliadb_utils/src/nucliadb_utils/storages/local.py
  nucliadb_utils/src/nucliadb_utils/storages/s3.py
  nucliadb_utils/src/nucliadb_utils/storages/storage.py
  nucliadb_utils/tests/integration/storages/test_storage.py
Due: lint_nucliadb_utils

Fix gcs and local
  nucliadb_utils/src/nucliadb_utils/storages/gcs.py
  nucliadb_utils/src/nucliadb_utils/storages/local.py
  nucliadb_utils/src/nucliadb_utils/tests/gcs.py
Due: lint_nucliadb_utils

add metrics
  nucliadb_utils/src/nucliadb_utils/storages/gcs.py
  nucliadb_utils/src/nucliadb_utils/storages/s3.py
Due: lint_nucliadb_utils

Add comment
  nucliadb_utils/src/nucliadb_utils/tests/gcs.py
Due: lint_nucliadb_utils

Nidx search swap (#2703)
  charts/nidx/templates/api-deploy.yaml
  charts/nidx/templates/indexer-deploy.yaml
  charts/nidx/templates/scheduler-deploy.yaml
  charts/nidx/templates/searcher-deploy.yaml
  charts/nidx/templates/worker-deploy.yaml
  nidx/src/metrics.rs
  nidx/src/searcher.rs
  nidx/src/searcher/index_cache.rs
  nidx/src/searcher/sync.rs
  nidx/src/segment_store.rs
Due: none

Open metrics port for podmonitor
  charts/nidx/templates/searcher-deploy.yaml
Due: none

Open metrics port for podmonitor (#2706)
  charts/nidx/templates/searcher-deploy.yaml
Due: none

Do not require querying metadata during search
  nidx/.sqlx/query-8493140d788604d498a4e48da4158708572ccc9d60185290a00d549cc84533db.json
  nidx/.sqlx/query-cdf1f95428fdb92ed0eb2d4e3e401fa8bd7c75fea30582ee4c8ec0c74c3cb990.json
  nidx/nidx_binding/src/lib.rs
  nidx/src/metadata/index.rs
  nidx/src/searcher.rs
  nidx/src/searcher/grpc.rs
  nidx/src/searcher/index_cache.rs
  nidx/src/searcher/shard_search.rs
  nidx/src/searcher/shard_suggest.rs
  nidx/src/searcher/streams.rs
  nidx/src/searcher/sync.rs
  nidx/tests/common/services.rs
  nidx/tests/shards_api.rs
Due: none

wip
  nucliadb_utils/src/nucliadb_utils/storages/azure.py
  nucliadb_utils/src/nucliadb_utils/storages/gcs.py
  nucliadb_utils/src/nucliadb_utils/storages/local.py
  nucliadb_utils/src/nucliadb_utils/storages/s3.py
  nucliadb_utils/src/nucliadb_utils/storages/storage.py
  nucliadb_utils/src/nucliadb_utils/tests/gcs.py
Due: lint_nucliadb_utils

Remove indexing messages in standalone mode
  nidx/src/indexer.rs
  nucliadb/src/nucliadb/common/cluster/manager.py
  nucliadb_utils/src/nucliadb_utils/storages/local.py
Due: lint_nucliadb, lint_nucliadb_utils

Index to all indexes transactionally
  nidx/src/indexer.rs
  nidx/src/metadata/index.rs
  nidx/src/worker.rs
Due: none

Linting pass
  nidx/nidx_paragraph/src/fuzzy_query.rs
  nidx/nidx_vector/src/data_point/disk_hnsw.rs
  nidx/src/indexer.rs
Due: none

Remove some outdated TODOs
  nidx/nidx_paragraph/src/resource_indexer.rs
  nidx/nidx_vector/src/lib.rs
  nidx/src/api/shards.rs
  nidx/src/indexer.rs
  nidx/src/metadata/index.rs
  nidx/src/scheduler.rs
  nidx/src/worker.rs
Due: none

Update dependencies
  Cargo.lock
Due: none

Allow unicode license
  deny.toml
Due: none

Update dependencies (#2709)
  Cargo.lock
  deny.toml
Due: none

mypy happiness
  nucliadb/src/nucliadb/common/cluster/manager.py
Due: lint_nucliadb

Fix attachment images rag strategy
  nucliadb/src/nucliadb/search/search/chat/images.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
Due: lint_nucliadb

Nidx atomic indexing (#2708)
  nidx/nidx_paragraph/src/fuzzy_query.rs
  nidx/nidx_paragraph/src/resource_indexer.rs
  nidx/nidx_vector/src/data_point/disk_hnsw.rs
  nidx/nidx_vector/src/lib.rs
  nidx/src/api/shards.rs
  nidx/src/indexer.rs
  nidx/src/metadata/index.rs
  nidx/src/scheduler.rs
  nidx/src/worker.rs
  nucliadb/src/nucliadb/common/cluster/manager.py
  nucliadb_utils/src/nucliadb_utils/storages/local.py
Due: lint_nucliadb, lint_nucliadb_utils

Do not require querying metadata during search (#2707)
  nidx/.sqlx/query-8493140d788604d498a4e48da4158708572ccc9d60185290a00d549cc84533db.json
  nidx/.sqlx/query-cdf1f95428fdb92ed0eb2d4e3e401fa8bd7c75fea30582ee4c8ec0c74c3cb990.json
  nidx/nidx_binding/src/lib.rs
  nidx/src/metadata/index.rs
  nidx/src/searcher.rs
  nidx/src/searcher/grpc.rs
  nidx/src/searcher/index_cache.rs
  nidx/src/searcher/shard_search.rs
  nidx/src/searcher/shard_suggest.rs
  nidx/src/searcher/streams.rs
  nidx/src/searcher/sync.rs
  nidx/tests/common/services.rs
  nidx/tests/shards_api.rs
Due: none

Fix attachment images rag strategy (#2710)
  nucliadb/src/nucliadb/search/search/chat/images.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
Due: lint_nucliadb

Remove temporary code for nats pull consumers
  nucliadb/src/nucliadb/ingest/consumer/consumer.py
Due: lint_nucliadb

Remove more
  nucliadb_utils/src/nucliadb_utils/const.py
  nucliadb_utils/src/nucliadb_utils/featureflagging.py
Due: lint_nucliadb_utils

Path conditions:
  lint_nucliadb: any of: (^nucliadb/) and \.py$
  lint_nucliadb_dataset: any of: (^nucliadb_dataset/) and \.py$
  lint_nucliadb_models: any of: (^nucliadb_models/) and \.py$
  lint_nucliadb_node: any of: (^nucliadb_node/) and \.py$
  lint_nucliadb_node_binding: any of: (^nucliadb_node_binding/) and \.py$
  lint_nucliadb_performance: any of: (^nucliadb_performance/) and \.py$
  lint_nucliadb_sdk: any of: (^nucliadb_sdk/) and \.py$
  lint_nucliadb_telemetry: any of: (^nucliadb_telemetry/) and \.py$
  lint_nucliadb_utils: any of: (^nucliadb_utils/) and \.py$
  rustfmt_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
  clippy_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
