Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: isort_nucliadb
        name: Isort
        entry: isort --profile black -c
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)
        types: ["python"]

      - id: black_nucliadb
        name: Black
        entry: black --check --verbose
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)
        types: ["python"]

      - id: flake8_nucliadb
        name: Flake8
        entry: flake8 --config=nucliadb/setup.cfg
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)
        types: ["python"]

      - id: rustfmt_nucliadb
        name: fmt
        entry: cargo +nightly fmt --check
        language: system
        files: (^nucliadb_vectors/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_paragraphs/)|(^nucliadb_texts/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nucliadb
        name: clippy
        entry: cargo clippy --all-features -- -D warnings
        language: system
        files: (^nucliadb_vectors/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_paragraphs/)|(^nucliadb_texts/)
        types: ["rust"]
        pass_filenames: false

Do not use assert in code
  nucliadb/nucliadb/export_import/datamanager.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Make sure to cleanup blob storage after exports/imports (#1461)
  nucliadb/nucliadb/export_import/datamanager.py
  nucliadb/nucliadb/export_import/importer.py
  nucliadb/nucliadb/export_import/models.py
  nucliadb/nucliadb/reader/api/v1/export_import.py
  nucliadb/nucliadb/tests/integration/export_import/test_datamanager.py
  nucliadb/nucliadb/tests/unit/export_import/test_datamanager.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Fix more memory leaks on search
  nucliadb/nucliadb/search/search/merge.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Fix more memory leaks on search (#1463)
  nucliadb/nucliadb/search/search/merge.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

close semaphore on drop
  nucliadb_node/src/shards/providers/unbounded_cache/async_unbounded_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

merge and gc as task
  nucliadb_node/src/shards/mod.rs
  nucliadb_node/src/shards/providers/unbounded_cache/async_unbounded_writer.rs
  nucliadb_node/src/shards/scheduler.rs
  nucliadb_node/src/shards/shard_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

control parallel scheduling jobs
  nucliadb_node/src/shards/providers/unbounded_cache/async_unbounded_writer.rs
  nucliadb_node/src/shards/scheduler.rs
Due: rustfmt_nucliadb, clippy_nucliadb

tipo
  nucliadb_node/src/shards/scheduler.rs
Due: rustfmt_nucliadb, clippy_nucliadb

improvements
  nucliadb_core/src/lib.rs
  nucliadb_core/src/metrics/mod.rs
  nucliadb_node/src/replication/mod.rs
  nucliadb_node/src/replication/replicator.rs
  nucliadb_paragraphs/src/writer.rs
  nucliadb_relations/src/service/writer.rs
  nucliadb_texts/src/writer.rs
  nucliadb_vectors/src/service/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

fix
  nucliadb_node/src/bin/reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

better
  nucliadb_node/src/replication/replicator.rs
Due: rustfmt_nucliadb, clippy_nucliadb

merge and gc as task (#1462)
  nucliadb_node/src/shards/mod.rs
  nucliadb_node/src/shards/providers/unbounded_cache/async_unbounded_writer.rs
  nucliadb_node/src/shards/scheduler.rs
  nucliadb_node/src/shards/shard_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Revert "merge and gc as task (#1462)"
  nucliadb_node/src/shards/mod.rs
  nucliadb_node/src/shards/providers/unbounded_cache/async_unbounded_writer.rs
  nucliadb_node/src/shards/scheduler.rs
  nucliadb_node/src/shards/shard_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

fix merging and only gc on interval
  nucliadb_node/src/shards/scheduler.rs
  nucliadb_node/src/shards/shard_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

.
  nucliadb_node/src/shards/shard_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Done
  Dockerfile
  nucliadb_performance/nucliadb_performance/test_search_cluster.py
  nucliadb_performance/nucliadb_performance/utils.py
  nucliadb_performance/requirements.txt
  nucliadb_protos/rust/src/resources.rs
Due: none

reset
  nucliadb_protos/rust/src/resources.rs
Due: none

Tweaks in benchmark script (#1466)
  Dockerfile
  nucliadb_performance/nucliadb_performance/test_search_cluster.py
  nucliadb_performance/nucliadb_performance/utils.py
  nucliadb_performance/requirements.txt
Due: none

Revert "merge and gc as task (#1462)" (#1464)
  nucliadb_node/src/shards/mod.rs
  nucliadb_node/src/shards/providers/unbounded_cache/async_unbounded_writer.rs
  nucliadb_node/src/shards/scheduler.rs
  nucliadb_node/src/shards/shard_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

misses a sync
  nucliadb_protos/python/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/writer_pb2_grpc.pyi
Due: none

more build fix
  nucliadb_protos/rust/src/resources.rs
Due: none

misses a sync (#1468)
  nucliadb_protos/python/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/writer_pb2_grpc.pyi
  nucliadb_protos/rust/src/resources.rs
Due: none

Allow field and paragraph classifications without labels
  nucliadb/nucliadb/train/generator.py
  nucliadb/nucliadb/train/generators/field_classifier.py
  nucliadb_dataset/nucliadb_dataset/dataset.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

remove replica count from components that have hpa
  charts/nucliadb_reader/templates/reader.deploy.yaml
  charts/nucliadb_reader/values.yaml
  charts/nucliadb_search/templates/search.deploy.yaml
  charts/nucliadb_search/values.yaml
  charts/nucliadb_train/templates/train.deploy.yaml
  charts/nucliadb_train/values.yaml
  charts/nucliadb_writer/templates/writer.deploy.yaml
  charts/nucliadb_writer/values.yaml
Due: none

Parametrize makefile
  nucliadb_performance/Makefile
Due: none

remove replica count from components that have hpa (#1470)
  charts/nucliadb_reader/templates/reader.deploy.yaml
  charts/nucliadb_reader/values.yaml
  charts/nucliadb_search/templates/search.deploy.yaml
  charts/nucliadb_search/values.yaml
  charts/nucliadb_train/templates/train.deploy.yaml
  charts/nucliadb_train/values.yaml
  charts/nucliadb_writer/templates/writer.deploy.yaml
  charts/nucliadb_writer/values.yaml
Due: none

Add help
  nucliadb_performance/Makefile
Due: none

Improve perf makefile (#1471)
  nucliadb_performance/Makefile
Due: none

handle span dropped logs better
  nucliadb_telemetry/nucliadb_telemetry/batch_span.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

tweak
  nucliadb_telemetry/nucliadb_telemetry/batch_span.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

handle span dropped logs better (#1472)
  nucliadb_telemetry/nucliadb_telemetry/batch_span.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

retry flaky test
  nucliadb/nucliadb/search/tests/integration/api/v1/test_find.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

limit max number of paragraphs and mark errors
  nucliadb/nucliadb/common/cluster/settings.py
  nucliadb/nucliadb/ingest/orm/exceptions.py
  nucliadb/nucliadb/ingest/orm/processor/__init__.py
  nucliadb/nucliadb/ingest/orm/resource.py
  nucliadb/nucliadb/ingest/tests/integration/ingest/test_ingest.py
  nucliadb/nucliadb/ingest/tests/unit/orm/test_processor.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Cleaner and parametrize kb script
  nucliadb_performance/Makefile
  nucliadb_performance/nucliadb_performance/test_search_cluster.py
  nucliadb_performance/nucliadb_performance/test_search_kb.py
  nucliadb_performance/nucliadb_performance/utils.py
Due: none

Get stats about cluster size
  nucliadb_performance/nucliadb_performance/test_search_cluster.py
  nucliadb_performance/nucliadb_performance/utils.py
Due: none

Get stats about cluster size
  nucliadb_performance/nucliadb_performance/utils.py
Due: none

Better
  nucliadb_performance/nucliadb_performance/test_search_cluster.py
  nucliadb_performance/nucliadb_performance/test_search_kb.py
  nucliadb_performance/nucliadb_performance/utils.py
Due: none

better
  nucliadb_performance/nucliadb_performance/test_search_cluster.py
  nucliadb_performance/nucliadb_performance/test_search_kb.py
  nucliadb_performance/nucliadb_performance/utils.py
Due: none

Fix condition in generator
  nucliadb/nucliadb/train/generator.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb
