Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nidx, clippy_nidx

lint_nucliadb:
  name: Lint nucliadb
  entry: make -C nucliadb lint
  language: system
  pass_filenames: false

lint_nucliadb_dataset:
  name: Lint nucliadb_dataset
  entry: make -C nucliadb_dataset lint
  language: system
  pass_filenames: false

lint_nucliadb_models:
  name: Lint nucliadb_models
  entry: make -C nucliadb_models lint
  language: system
  pass_filenames: false

lint_nucliadb_sdk:
  name: Lint nucliadb_sdk
  entry: make -C nucliadb_sdk lint
  language: system
  pass_filenames: false

lint_nucliadb_telemetry:
  name: Lint nucliadb_telemetry
  entry: make -C nucliadb_telemetry lint
  language: system
  pass_filenames: false

lint_nucliadb_utils:
  name: Lint nucliadb_utils
  entry: make -C nucliadb_utils lint
  language: system
  pass_filenames: false

rustfmt_nidx:
  name: Rust format check for nidx
  entry: cargo fmt --check --all --manifest-path nidx/Cargo.toml
  language: system
  pass_filenames: false

clippy_nidx:
  name: Clippy warning check for nidx
  entry: cargo clippy --all-features --manifest-path nidx/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

Add basic audit implementation for retrieve and augment
  nucliadb_utils/src/nucliadb_utils/audit/audit.py
  nucliadb_utils/src/nucliadb_utils/audit/basic.py
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
Due: lint_nucliadb_utils

Naive and simplistic /retrieve and /augment audit
  nucliadb_protos/audit.proto
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
Due: lint_nucliadb_utils

Add audit request type for RAO /ask
  nucliadb_protos/audit.proto
Due: none

Add some comments on audit types
  nucliadb_protos/audit.proto
Due: none

Fix tests that relied on the invalid span bug
  nucliadb/tests/ingest/integration/ingest/test_ingest.py
  nucliadb/tests/nucliadb/integration/search/test_search.py
Due: lint_nucliadb

Fix
  nucliadb/tests/ingest/integration/ingest/test_ingest.py
Due: lint_nucliadb

Release audit retrieve and augment under FF
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
  nucliadb_utils/src/nucliadb_utils/const.py
  nucliadb_utils/src/nucliadb_utils/featureflagging.py
Due: lint_nucliadb_utils

Reorder imports to avoid circular import
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
Due: lint_nucliadb_utils

Audits for retrieve augment and RAO (#3523)
  nucliadb/src/nucliadb/search/api/v1/augment.py
  nucliadb/src/nucliadb/search/api/v1/retrieve.py
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/tests/ingest/integration/ingest/test_ingest.py
  nucliadb/tests/nucliadb/integration/search/test_search.py
  nucliadb_protos/audit.proto
  nucliadb_telemetry/src/nucliadb_telemetry/context.py
  nucliadb_telemetry/src/nucliadb_telemetry/logs.py
  nucliadb_utils/src/nucliadb_utils/audit/audit.py
  nucliadb_utils/src/nucliadb_utils/audit/basic.py
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
  nucliadb_utils/src/nucliadb_utils/const.py
  nucliadb_utils/src/nucliadb_utils/featureflagging.py
Due: lint_nucliadb, lint_nucliadb_telemetry, lint_nucliadb_utils

Split BM in two messages
  nucliadb/src/nucliadb/export_import/utils.py
  nucliadb/src/nucliadb/ingest/fields/base.py
  nucliadb/src/nucliadb/ingest/orm/broker_message.py
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/tests/utils/broker_messages/__init__.py
  nucliadb/tests/utils/broker_messages/fields.py
  nucliadb_protos/resources.proto
  nucliadb_protos/writer.proto
Due: lint_nucliadb

create/store node/edge vectorsets
  nucliadb/src/nucliadb/common/cluster/manager.py
  nucliadb/src/nucliadb/common/cluster/rollover.py
  nucliadb/src/nucliadb/common/datamanagers/__init__.py
  nucliadb/src/nucliadb/ingest/fields/base.py
  nucliadb/src/nucliadb/ingest/orm/broker_message.py
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/src/nucliadb/ingest/service/writer.py
  nucliadb_protos/writer.proto
Due: lint_nucliadb

Config for standalone & tests
  nucliadb/src/nucliadb/learning_proxy.py
  nucliadb/src/nucliadb/writer/api/v1/knowledgebox.py
Due: lint_nucliadb

fix todos
  nucliadb/src/nucliadb/common/datamanagers/graph_vectorsets.py
  nucliadb/src/nucliadb/ingest/orm/resource.py
Due: lint_nucliadb

Semantic graph config (#3524)
  nucliadb/src/nucliadb/common/cluster/manager.py
  nucliadb/src/nucliadb/common/cluster/rollover.py
  nucliadb/src/nucliadb/common/datamanagers/__init__.py
  nucliadb/src/nucliadb/common/datamanagers/graph_vectorsets.py
  nucliadb/src/nucliadb/export_import/utils.py
  nucliadb/src/nucliadb/ingest/fields/base.py
  nucliadb/src/nucliadb/ingest/orm/broker_message.py
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/ingest/service/writer.py
  nucliadb/src/nucliadb/learning_proxy.py
  nucliadb/src/nucliadb/writer/api/v1/knowledgebox.py
  nucliadb/tests/utils/broker_messages/__init__.py
  nucliadb/tests/utils/broker_messages/fields.py
  nucliadb_protos/resources.proto
  nucliadb_protos/writer.proto
Due: lint_nucliadb

Granular canary deployment for /ask by kbid
  charts/nucliadb_search/templates/search.vs.yaml
Due: none

Granular canary deployment for /ask by kbid (#3527)
  charts/nucliadb_search/templates/search.vs.yaml
Due: none

Use NUA API for graph nodes
  nidx/nidx_protos/nodereader.proto
  nidx/src/searcher/query_planner.rs
  nidx/src/searcher/shard_search.rs
  nidx/tests/integration/vector_relation_index.rs
  nucliadb/src/nucliadb/search/predict_models.py
  nucliadb/src/nucliadb/search/search/chat/fetcher.py
  nucliadb/src/nucliadb/search/search/query_parser/fetcher.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/graph.py
  nucliadb/tests/nucliadb/integration/test_semantic_graph.py
  nucliadb_models/src/nucliadb_models/graph/requests.py
  nucliadb_models/src/nucliadb_models/internal/predict.py
Due: lint_nucliadb, lint_nucliadb_models, rustfmt_nidx, clippy_nidx

Use NUA API for graph nodes (#3528)
  nidx/nidx_protos/nodereader.proto
  nidx/src/searcher/query_planner.rs
  nidx/src/searcher/shard_search.rs
  nidx/tests/integration/vector_relation_index.rs
  nucliadb/src/nucliadb/search/predict_models.py
  nucliadb/src/nucliadb/search/search/chat/fetcher.py
  nucliadb/src/nucliadb/search/search/query_parser/fetcher.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/graph.py
  nucliadb/tests/nucliadb/integration/test_semantic_graph.py
  nucliadb_models/src/nucliadb_models/graph/requests.py
  nucliadb_models/src/nucliadb_models/internal/predict.py
Due: lint_nucliadb, lint_nucliadb_models, rustfmt_nidx, clippy_nidx

Do not expect sentences on graph search query
  nucliadb/src/nucliadb/search/search/query_parser/parsers/graph.py
  nucliadb_models/src/nucliadb_models/internal/predict.py
Due: lint_nucliadb, lint_nucliadb_models

Do not expect sentences on graph search query (#3529)
  nucliadb/src/nucliadb/search/search/query_parser/parsers/graph.py
  nucliadb_models/src/nucliadb_models/internal/predict.py
Due: lint_nucliadb, lint_nucliadb_models

Delete /ask decoupled
  .github/workflows/ci.yml
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/src/nucliadb/search/search/graph_strategy.py
  nucliadb/tests/nucliadb/ask/test_ask.py
  nucliadb/tests/nucliadb/ask/test_ask_graph_strategy.py
  nucliadb/tests/nucliadb/ask/test_ask_prompt.py
  nucliadb/tests/nucliadb/integration/search/post_retrieval/test_ask_reranking.py
  nucliadb/tests/nucliadb/integration/search/post_retrieval/test_rank_fusion.py
  nucliadb/tests/nucliadb/integration/search/post_retrieval/test_reranker.py
  nucliadb/tests/search/unit/search/test_graph_strategy.py
  nucliadb_utils/src/nucliadb_utils/const.py
  nucliadb_utils/src/nucliadb_utils/featureflagging.py
Due: lint_nucliadb, lint_nucliadb_utils

Move old_prompt and old_graph_stragy back to normal
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/src/nucliadb/search/search/graph_strategy.py
  nucliadb/tests/nucliadb/ask/test_ask_conversation_strategies.py
  nucliadb/tests/nucliadb/ask/test_ask_graph_strategy.py
  nucliadb/tests/nucliadb/ask/test_ask_prompt.py
  nucliadb/tests/search/unit/search/test_chat_prompt.py
  nucliadb/tests/search/unit/search/test_graph_strategy.py
Due: lint_nucliadb

Fix mock in test
  nucliadb/tests/nucliadb/integration/search/post_retrieval/test_ask_reranking.py
Due: lint_nucliadb

Rename
  nucliadb/src/nucliadb/search/search/chat/ask.py
Due: lint_nucliadb

Remove RAO parser and fetcher
  nucliadb/src/nucliadb/search/search/chat/fetcher.py
  nucliadb/src/nucliadb/search/search/chat/parser.py
  nucliadb/tests/search/unit/search/test_rao_parser.py
Due: lint_nucliadb

Remove mocks
  nucliadb/tests/nucliadb/ask/test_ask_prompt.py
Due: lint_nucliadb

Fix another mock
  nucliadb/tests/search/unit/search/search/chat/test_query.py
Due: lint_nucliadb

Fix more tests
  nucliadb/tests/nucliadb/ask/test_ask_conversation_strategies.py
  nucliadb/tests/nucliadb/ask/test_ask_prompt.py
Due: lint_nucliadb

Another mock fix
  nucliadb/tests/nucliadb/ask/test_ask_prompt.py
Due: lint_nucliadb

Remove matrix for ask decoupled
  .github/workflows/ci.yml
Due: none

Delete /ask decoupled (#3530)
  .github/workflows/ci.yml
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/fetcher.py
  nucliadb/src/nucliadb/search/search/chat/old_prompt.py
  nucliadb/src/nucliadb/search/search/chat/parser.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/src/nucliadb/search/search/graph_strategy.py
  nucliadb/src/nucliadb/search/search/old_graph_strategy.py
  nucliadb/tests/nucliadb/ask/test_ask.py
  nucliadb/tests/nucliadb/ask/test_ask_conversation_strategies.py
  nucliadb/tests/nucliadb/ask/test_ask_graph_strategy.py
  nucliadb/tests/nucliadb/ask/test_ask_prompt.py
  nucliadb/tests/nucliadb/integration/search/post_retrieval/test_ask_reranking.py
  nucliadb/tests/nucliadb/integration/search/post_retrieval/test_rank_fusion.py
  nucliadb/tests/nucliadb/integration/search/post_retrieval/test_reranker.py
  nucliadb/tests/search/unit/search/search/chat/test_query.py
  nucliadb/tests/search/unit/search/test_chat_prompt.py
  nucliadb/tests/search/unit/search/test_rao_parser.py
  nucliadb_utils/src/nucliadb_utils/const.py
  nucliadb_utils/src/nucliadb_utils/featureflagging.py
Due: lint_nucliadb, lint_nucliadb_utils

Update nidx deps
  nidx/Cargo.lock
Due: none

Update nidx deps (#3532)
  nidx/Cargo.lock
Due: none

Observe new metrics for /retrieve and /augment
  nucliadb/src/nucliadb/search/api/v1/augment.py
  nucliadb/src/nucliadb/search/augmentor/augmentor.py
  nucliadb/src/nucliadb/search/augmentor/paragraphs.py
  nucliadb/src/nucliadb/search/augmentor/resources.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/retrieve.py
  nucliadb/src/nucliadb/search/search/utils.py
Due: lint_nucliadb

Remove leading / from field extension strategy filter
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb_models

Observe new metrics for /retrieve and /augment (#3533)
  nucliadb/src/nucliadb/search/api/v1/augment.py
  nucliadb/src/nucliadb/search/augmentor/augmentor.py
  nucliadb/src/nucliadb/search/augmentor/paragraphs.py
  nucliadb/src/nucliadb/search/augmentor/resources.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/retrieve.py
  nucliadb/src/nucliadb/search/search/utils.py
Due: lint_nucliadb

Add a test for the change
  nucliadb_models/tests/test_search.py
Due: lint_nucliadb_models

Remove leading / from field extension strategy filter (#3535)
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_models/tests/test_search.py
Due: lint_nucliadb_models

Observe Python garbage collector
  charts/nucliadb_search/values.yaml
  nucliadb_telemetry/src/nucliadb_telemetry/fastapi/__init__.py
  nucliadb_telemetry/src/nucliadb_telemetry/metrics.py
  nucliadb_telemetry/src/nucliadb_telemetry/settings.py
Due: lint_nucliadb_telemetry

Remove unused code
  nucliadb_telemetry/src/nucliadb_telemetry/metrics.py
Due: lint_nucliadb_telemetry

Path conditions:
  lint_nucliadb: any of: (^nucliadb/) and \.py$
  lint_nucliadb_dataset: any of: (^nucliadb_dataset/) and \.py$
  lint_nucliadb_models: any of: (^nucliadb_models/) and \.py$
  lint_nucliadb_sdk: any of: (^nucliadb_sdk/) and \.py$
  lint_nucliadb_telemetry: any of: (^nucliadb_telemetry/) and \.py$
  lint_nucliadb_utils: any of: (^nucliadb_utils/) and \.py$
  rustfmt_nidx: any of: (^nidx/) and \.rs$
  clippy_nidx: any of: (^nidx/) and \.rs$
