Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nidx, clippy_nidx

lint_nucliadb:
  name: Lint nucliadb
  entry: make -C nucliadb lint
  language: system
  pass_filenames: false

lint_nucliadb_dataset:
  name: Lint nucliadb_dataset
  entry: make -C nucliadb_dataset lint
  language: system
  pass_filenames: false

lint_nucliadb_models:
  name: Lint nucliadb_models
  entry: make -C nucliadb_models lint
  language: system
  pass_filenames: false

lint_nucliadb_sdk:
  name: Lint nucliadb_sdk
  entry: make -C nucliadb_sdk lint
  language: system
  pass_filenames: false

lint_nucliadb_telemetry:
  name: Lint nucliadb_telemetry
  entry: make -C nucliadb_telemetry lint
  language: system
  pass_filenames: false

lint_nucliadb_utils:
  name: Lint nucliadb_utils
  entry: make -C nucliadb_utils lint
  language: system
  pass_filenames: false

rustfmt_nidx:
  name: Rust format check for nidx
  entry: cargo fmt --check --all --manifest-path nidx/Cargo.toml
  language: system
  pass_filenames: false

clippy_nidx:
  name: Clippy warning check for nidx
  entry: cargo clippy --all-features --manifest-path nidx/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

Migrate Nova Premier search configurations to Nova Pro
  nucliadb/src/migrations/0051_migrate_search_configurations.py
  nucliadb/tests/nucliadb/migrations/test_migration_0051.py
Due: lint_nucliadb

Fix lint
  nucliadb/src/migrations/0051_migrate_search_configurations.py
  nucliadb/tests/nucliadb/migrations/test_migration_0051.py
Due: lint_nucliadb

Migrate Nova Premier search configurations to Nova Pro (#3896)
  nucliadb/src/migrations/0051_migrate_search_configurations.py
  nucliadb/tests/nucliadb/migrations/test_migration_0051.py
Due: lint_nucliadb

Test nidx facets
  nucliadb/src/nucliadb/common/catalog/pg.py
Due: lint_nucliadb

Preserve resource metadata when uploading files
  nucliadb/src/nucliadb/writer/api/v1/upload.py
  nucliadb/tests/writer/unit/api/v1/test_upload.py
Due: lint_nucliadb

Preserve resource metadata when uploading files (#3899)
  nucliadb/src/nucliadb/writer/api/v1/upload.py
  nucliadb/tests/writer/unit/api/v1/test_upload.py
Due: lint_nucliadb

format
  nucliadb/src/nucliadb/common/catalog/pg.py
Due: lint_nucliadb

Return more facets
  nidx/nidx_paragraph/src/search_response.rs
  nidx/nidx_text/src/reader.rs
Due: rustfmt_nidx, clippy_nidx

Propagate resource title and slug to all Processing entry points
  nucliadb/src/nucliadb/writer/api/v1/field.py
  nucliadb/src/nucliadb/writer/api/v1/resource.py
  nucliadb/src/nucliadb/writer/api/v1/upload.py
  nucliadb/src/nucliadb/writer/resource/basic.py
  nucliadb/tests/writer/test_fields.py
  nucliadb/tests/writer/test_reprocess_file_field.py
  nucliadb/tests/writer/test_resources.py
  nucliadb/tests/writer/unit/resources/test_basic.py
Due: lint_nucliadb

Fix lint
  nucliadb/tests/writer/test_fields.py
  nucliadb/tests/writer/test_resources.py
Due: lint_nucliadb

Refactor resource title and slug handling in processing functions
  nucliadb/src/nucliadb/writer/api/v1/field.py
  nucliadb/src/nucliadb/writer/api/v1/resource.py
  nucliadb/src/nucliadb/writer/resource/basic.py
  nucliadb/tests/writer/test_resources.py
  nucliadb/tests/writer/unit/resources/test_basic.py
Due: lint_nucliadb

Fix lint
  nucliadb/src/nucliadb/writer/api/v1/resource.py
Due: lint_nucliadb

Send title slug on upload resource (#3903)
  nucliadb/src/nucliadb/writer/api/v1/field.py
  nucliadb/src/nucliadb/writer/api/v1/resource.py
  nucliadb/src/nucliadb/writer/api/v1/upload.py
  nucliadb/src/nucliadb/writer/resource/basic.py
  nucliadb/tests/writer/test_fields.py
  nucliadb/tests/writer/test_reprocess_file_field.py
  nucliadb/tests/writer/test_resources.py
Due: lint_nucliadb

done
  nucliadb/src/nucliadb/models/internal/augment.py
  nucliadb/src/nucliadb/search/api/v1/augment.py
  nucliadb/src/nucliadb/search/augmentor/fields.py
  nucliadb/tests/search/integration/api/v1/test_augment.py
  nucliadb_models/src/nucliadb_models/augment.py
Due: lint_nucliadb, lint_nucliadb_models

add tests
  nucliadb/src/nucliadb/models/internal/augment.py
  nucliadb/tests/search/integration/api/v1/test_augment.py
  nucliadb_models/src/nucliadb_models/augment.py
Due: lint_nucliadb, lint_nucliadb_models

Agument: support for key value fields (#3906)
  nucliadb/src/nucliadb/models/internal/augment.py
  nucliadb/src/nucliadb/search/api/v1/augment.py
  nucliadb/src/nucliadb/search/augmentor/fields.py
  nucliadb/tests/search/integration/api/v1/test_augment.py
  nucliadb_models/src/nucliadb_models/augment.py
Due: lint_nucliadb, lint_nucliadb_models

Test nidx facets for catalog (#3897)
  nidx/nidx_paragraph/src/search_response.rs
  nidx/nidx_text/src/reader.rs
  nucliadb/src/nucliadb/common/catalog/pg.py
Due: lint_nucliadb, rustfmt_nidx, clippy_nidx

improve purge
  nucliadb/src/nucliadb/purge/__init__.py
  nucliadb_utils/src/nucliadb_utils/storages/azure.py
  nucliadb_utils/src/nucliadb_utils/storages/gcs.py
  nucliadb_utils/src/nucliadb_utils/storages/s3.py
  nucliadb_utils/tests/unit/storages/test_gcs.py
  nucliadb_utils/tests/unit/storages/test_s3_onefs.py
Due: lint_nucliadb, lint_nucliadb_utils

fix tests
  nucliadb_utils/src/nucliadb_utils/storages/gcs.py
  nucliadb_utils/tests/unit/storages/test_gcs.py
Due: lint_nucliadb_utils

improve purge (#3895)
  nucliadb/src/nucliadb/purge/__init__.py
  nucliadb_utils/src/nucliadb_utils/storages/azure.py
  nucliadb_utils/src/nucliadb_utils/storages/gcs.py
  nucliadb_utils/src/nucliadb_utils/storages/s3.py
  nucliadb_utils/tests/unit/storages/test_gcs.py
  nucliadb_utils/tests/unit/storages/test_s3_onefs.py
Due: lint_nucliadb, lint_nucliadb_utils

Bump rustls (Rust) 0.23.40 -> 0.23.43
  nidx/Cargo.lock
Due: none

Update nidx docker Rust version
  Dockerfile.nidx
Due: none

Bump rustls (Rust) 0.23.40 -> 0.23.43 (#3910)
  nidx/Cargo.lock
Due: none

Add S3 timeouts
  nucliadb_utils/src/nucliadb_utils/storages/s3.py
Due: lint_nucliadb_utils

Fix
  nucliadb_utils/src/nucliadb_utils/storages/s3.py
Due: lint_nucliadb_utils

Add S3 timeouts (#3914)
  nucliadb_utils/src/nucliadb_utils/storages/s3.py
Due: lint_nucliadb_utils

Migrate Sonnet 4.5 and Azure OpenAI 4o models
  nucliadb/src/migrations/0052_migrate_search_configurations.py
  nucliadb/tests/nucliadb/migrations/test_migration_0052.py
Due: lint_nucliadb

Unify secrets for ghapp
  .github/workflows/_build-img-nucliadb.yml
  .github/workflows/bump-version.yml
  .github/workflows/deploy.yml
  .github/workflows/public_release.yml
  .github/workflows/release.yml
Due: none

change this too
  .github/workflows/_build-img-nucliadb.yml
  .github/workflows/bump-version.yml
Due: none

Update bump-version.yml
  .github/workflows/bump-version.yml
Due: none

fix licensing text
  nucliadb/src/migrations/0052_migrate_search_configurations.py
  nucliadb/tests/nucliadb/migrations/test_migration_0052.py
Due: lint_nucliadb

remove o3 mini too
  nucliadb/src/migrations/0052_migrate_search_configurations.py
  nucliadb/tests/nucliadb/migrations/test_migration_0052.py
Due: lint_nucliadb

Bump anyio (Python) 4.13.0 -> 4.14.2
  uv.lock
Due: none

Bump anyio (Python) 4.13.0 -> 4.14.2 (#3921)
  uv.lock
Due: none

Migrate Sonnet 4.5, Azure GPT-4o, GPT-4o mini and o3-mini (#3916)
  nucliadb/src/migrations/0052_migrate_search_configurations.py
  nucliadb/tests/nucliadb/migrations/test_migration_0052.py
Due: lint_nucliadb

add user id default value
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_models/tests/test_search.py
Due: lint_nucliadb_models

Update kb_usage.proto
  nucliadb_protos/kb_usage.proto
Due: none

Update kb_usage.proto (#3925)
  nucliadb_protos/kb_usage.proto
Due: none

Implement a test ApplicationContext that fits with fixtures
  nucliadb/tests/ndbfixtures/ingest.py
  nucliadb/tests/ndbfixtures/utils.py
Due: lint_nucliadb

Move onprem check inside is_back_pressure_enabled
  nucliadb/src/nucliadb/common/back_pressure/materializer.py
  nucliadb/src/nucliadb/common/back_pressure/utils.py
Due: lint_nucliadb

Path conditions:
  lint_nucliadb: any of: (^nucliadb/) and \.py$
  lint_nucliadb_dataset: any of: (^nucliadb_dataset/) and \.py$
  lint_nucliadb_models: any of: (^nucliadb_models/) and \.py$
  lint_nucliadb_sdk: any of: (^nucliadb_sdk/) and \.py$
  lint_nucliadb_telemetry: any of: (^nucliadb_telemetry/) and \.py$
  lint_nucliadb_utils: any of: (^nucliadb_utils/) and \.py$
  rustfmt_nidx: any of: (^nidx/) and \.rs$
  clippy_nidx: any of: (^nidx/) and \.rs$
