Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: isort_nucliadb
        name: Isort
        entry: isort --profile black -c
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)
        types: ["python"]

      - id: black_nucliadb
        name: Black
        entry: black --check --verbose
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)
        types: ["python"]

      - id: flake8_nucliadb
        name: Flake8
        entry: flake8 --config=nucliadb/setup.cfg
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)
        types: ["python"]

      - id: rustfmt_nucliadb
        name: fmt
        entry: cargo +nightly fmt --check
        language: system
        files: (^nucliadb_vectors/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_paragraphs/)|(^nucliadb_texts/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nucliadb
        name: clippy
        entry: cargo clippy --all-features -- -D warnings
        language: system
        files: (^nucliadb_vectors/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_paragraphs/)|(^nucliadb_texts/)
        types: ["rust"]
        pass_filenames: false

Add key filtering
  nucliadb_paragraphs/src/stop_words.rs
  nucliadb_texts/src/search_query.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Simplify
  nucliadb_node/src/shards/shard_reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

debugging
  nucliadb_node/src/replication/replicator.rs
Due: rustfmt_nucliadb, clippy_nucliadb

disable istio
  charts/nucliadb_node/templates/node.replicas.deploy.yaml
  charts/nucliadb_node/templates/node.sts.yaml
  nucliadb_node/tests/common/node_services.rs
  nucliadb_node/tests/test_replication.rs
Due: rustfmt_nucliadb, clippy_nucliadb

fmt
  nucliadb_node/tests/test_replication.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Replication updates (#1512)
  charts/nucliadb_node/templates/node.replicas.deploy.yaml
  charts/nucliadb_node/templates/node.sts.yaml
  nucliadb_node/src/replication/replicator.rs
  nucliadb_node/tests/common/node_services.rs
  nucliadb_node/tests/test_replication.rs
Due: rustfmt_nucliadb, clippy_nucliadb

In a separate proto attr
  nucliadb_core/src/texts.rs
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_protos/nodereader.proto
  nucliadb_protos/python/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/nucliadb_protos/dataset_pb2.py
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/nucliadb_protos/migrations_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodesidecar_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.py
  nucliadb_protos/python/nucliadb_protos/replication_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/nucliadb_protos/standalone_pb2.py
  nucliadb_protos/python/nucliadb_protos/train_pb2.py
  nucliadb_protos/python/nucliadb_protos/utils_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.py
  nucliadb_protos/rust/src/nodereader.rs
  nucliadb_texts/src/reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

revert gc integration on sidecar
  nucliadb/nucliadb/common/cluster/manager.py
  nucliadb/nucliadb/common/cluster/standalone/grpc_node_binding.py
  nucliadb/nucliadb/tests/unit/common/cluster/test_manager.py
  nucliadb_node/nucliadb_node/pull.py
  nucliadb_node/nucliadb_node/tests/unit/test_pull.py
  nucliadb_node/nucliadb_node/writer.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

bump version
  VERSION
Due: none

test
  nucliadb_node/src/replication/replicator.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Add todos
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_protos/nodereader.proto
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.pyi
  nucliadb_protos/rust/src/nodereader.rs
  nucliadb_texts/src/search_query.rs
Due: rustfmt_nucliadb, clippy_nucliadb

revert gc integration on sidecar (#1513)
  nucliadb/nucliadb/common/cluster/manager.py
  nucliadb/nucliadb/common/cluster/standalone/grpc_node_binding.py
  nucliadb/nucliadb/tests/unit/common/cluster/test_manager.py
  nucliadb_node/nucliadb_node/pull.py
  nucliadb_node/nucliadb_node/tests/unit/test_pull.py
  nucliadb_node/nucliadb_node/writer.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

bump version (#1514)
  VERSION
Due: none

fix gc lock implementation
  nucliadb_node/src/grpc/grpc_writer.rs
  nucliadb_node/src/replication/replicator.rs
  nucliadb_node/src/replication/service.rs
  nucliadb_node/src/shards/shard_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

enable metrics on node read replicas
  charts/nucliadb_node/templates/node.replicas.svc.yaml
Due: none

log levels
  nucliadb_node/src/replication/service.rs
Due: rustfmt_nucliadb, clippy_nucliadb

another
  nucliadb_node/src/replication/replicator.rs
Due: rustfmt_nucliadb, clippy_nucliadb

promote origin dates to indexed dates
  nucliadb/nucliadb/ingest/orm/brain.py
  nucliadb/nucliadb/ingest/tests/unit/orm/test_brain.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

promote origin dates to indexed dates (#1518)
  nucliadb/nucliadb/ingest/orm/brain.py
  nucliadb/nucliadb/ingest/tests/unit/orm/test_brain.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

enable metrics on node read replicas (#1517)
  charts/nucliadb_node/templates/node.replicas.svc.yaml
Due: none

fix: typo
  README.md
Due: none

lint
  nucliadb_node/src/replication/service.rs
  nucliadb_node/src/shards/shard_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

update logs and fix metric for replication
  nucliadb_node/src/replication/replicator.rs
  nucliadb_node/src/replication/service.rs
Due: rustfmt_nucliadb, clippy_nucliadb

fix charts
  charts/nucliadb_node/templates/node.replicas.deploy.yaml
  charts/nucliadb_node/values.yaml
Due: none

fix
  charts/nucliadb_node/templates/node.replicas.deploy.yaml
Due: none

update logs, fix metric for replication, fix chart sync (#1520)
  charts/nucliadb_node/templates/node.replicas.deploy.yaml
  charts/nucliadb_node/values.yaml
  nucliadb_node/src/replication/replicator.rs
  nucliadb_node/src/replication/service.rs
Due: rustfmt_nucliadb, clippy_nucliadb

tweak logs for replication
  nucliadb_node/src/replication/replicator.rs
Due: rustfmt_nucliadb, clippy_nucliadb

support concurrent shard replication
  nucliadb_node/src/replication/replicator.rs
  nucliadb_node/src/settings/mod.rs
  nucliadb_node/src/settings/providers.rs
Due: rustfmt_nucliadb, clippy_nucliadb

use config
  nucliadb_node/src/replication/replicator.rs
  nucliadb_node/src/settings/mod.rs
Due: rustfmt_nucliadb, clippy_nucliadb

better
  nucliadb_node/src/grpc/grpc_writer.rs
  nucliadb_node/src/replication/replicator.rs
  nucliadb_node/src/shards/shard_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

revert
  nucliadb_node/src/grpc/grpc_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Integrate with experimental release channel
  nucliadb_node/src/shards/shard_reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Improve naming
  nucliadb_core/src/texts.rs
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_texts/src/reader.rs
  nucliadb_texts/src/search_query.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Do not propagate field and resource labels anymore
  nucliadb/nucliadb/ingest/orm/brain.py
  nucliadb/nucliadb/ingest/orm/processor/__init__.py
  nucliadb_paragraphs/src/writer.rs
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

tweak logs for replication (#1521)
  nucliadb_node/src/replication/replicator.rs
Due: rustfmt_nucliadb, clippy_nucliadb

support concurrent shard replication (#1489)
  nucliadb_node/src/replication/replicator.rs
  nucliadb_node/src/settings/mod.rs
  nucliadb_node/src/settings/providers.rs
Due: rustfmt_nucliadb, clippy_nucliadb

fix gc lock implementation for replication (#1516)
  nucliadb_node/src/replication/replicator.rs
  nucliadb_node/src/replication/service.rs
  nucliadb_node/src/shards/shard_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

better replication healthy check
  nucliadb_node/src/replication/health.rs
  nucliadb_node/src/replication/replicator.rs
  nucliadb_node/src/settings/mod.rs
  nucliadb_node/src/settings/providers.rs
Due: rustfmt_nucliadb, clippy_nucliadb

oops
  nucliadb_node/src/settings/mod.rs
Due: rustfmt_nucliadb, clippy_nucliadb

better replication healthy check (#1522)
  nucliadb_node/src/replication/health.rs
  nucliadb_node/src/replication/replicator.rs
  nucliadb_node/src/settings/mod.rs
  nucliadb_node/src/settings/providers.rs
Due: rustfmt_nucliadb, clippy_nucliadb
