Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

lint_nucliadb:
  name: Lint nucliadb
  entry: make -C nucliadb lint
  language: system
  pass_filenames: false

lint_nucliadb_dataset:
  name: Lint nucliadb_dataset
  entry: make -C nucliadb_dataset lint
  language: system
  pass_filenames: false

lint_nucliadb_models:
  name: Lint nucliadb_models
  entry: make -C nucliadb_models lint
  language: system
  pass_filenames: false

lint_nucliadb_node:
  name: Lint nucliadb_node
  entry: make -C nucliadb_node lint
  language: system
  pass_filenames: false

lint_nucliadb_node_binding:
  name: Lint nucliadb_node_binding
  entry: make -C nucliadb_node_binding lint
  language: system
  pass_filenames: false

lint_nucliadb_performance:
  name: Lint nucliadb_performance
  entry: make -C nucliadb_performance lint
  language: system
  pass_filenames: false

lint_nucliadb_sdk:
  name: Lint nucliadb_sdk
  entry: make -C nucliadb_sdk lint
  language: system
  pass_filenames: false

lint_nucliadb_telemetry:
  name: Lint nucliadb_telemetry
  entry: make -C nucliadb_telemetry lint
  language: system
  pass_filenames: false

lint_nucliadb_utils:
  name: Lint nucliadb_utils
  entry: make -C nucliadb_utils lint
  language: system
  pass_filenames: false

rustfmt_nucliadb:
  name: fmt
  entry: cargo fmt --check
  language: system
  pass_filenames: false

clippy_nucliadb:
  name: clippy
  entry: cargo clippy --all-features -- -D warnings
  language: system
  pass_filenames: false

Text v2: faster prefiltering (#2791)
  nidx/Cargo.lock
  nidx/nidx_paragraph/tests/reader.rs
  nidx/nidx_text/Cargo.toml
  nidx/nidx_text/src/lib.rs
  nidx/nidx_text/src/reader.rs
  nidx/nidx_text/src/resource_indexer.rs
  nidx/nidx_text/src/schema.rs
  nidx/nidx_text/src/search_query.rs
  nidx/nidx_text/tests/common/mod.rs
  nidx/nidx_text/tests/test_flow.rs
  nidx/nidx_vector/src/indexer.rs
  nidx/src/indexer.rs
  nidx/src/metadata/index.rs
  nidx/src/searcher/index_cache.rs
  nidx/src/worker.rs
  nidx/tests/test_date_range_search.rs
Due: none

Better
  nucliadb/src/nucliadb/writer/tus/gcs.py
  nucliadb/tests/standalone/integration/test_upload_download.py
Due: lint_nucliadb

Fix empty tus uploads on GCS (#2794)
  nucliadb/src/nucliadb/writer/api/v1/upload.py
  nucliadb/src/nucliadb/writer/tus/gcs.py
  nucliadb/tests/standalone/integration/test_upload_download.py
Due: lint_nucliadb

Update nidx merge jobs metrics before scheduling more
  nidx/src/scheduler.rs
  nidx/src/scheduler/metrics_task.rs
Due: none

Use vectorset storage field kind and remove default from ingest (#2789)
  nucliadb/src/nucliadb/common/datamanagers/vectorsets.py
  nucliadb/src/nucliadb/ingest/fields/base.py
  nucliadb/src/nucliadb/ingest/orm/brain.py
  nucliadb/src/nucliadb/ingest/orm/broker_message.py
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/ingest/serialize.py
  nucliadb/src/nucliadb/ingest/service/writer.py
  nucliadb/src/nucliadb/purge/__init__.py
  nucliadb/src/nucliadb/train/nodes.py
  nucliadb/src/nucliadb/train/resource.py
  nucliadb/tests/ingest/fixtures.py
  nucliadb/tests/ingest/integration/ingest/test_ingest.py
  nucliadb/tests/ingest/integration/ingest/test_vectorsets.py
  nucliadb/tests/ingest/integration/orm/test_orm_resource.py
  nucliadb/tests/ingest/integration/orm/test_orm_vectors.py
  nucliadb/tests/ingest/unit/orm/test_brain_vectors.py
  nucliadb/tests/ingest/unit/orm/test_resource.py
  nucliadb/tests/nucliadb/integration/test_purge_vectorsets.py
  nucliadb/tests/train/test_list_paragraphs.py
  nucliadb_protos/knowledgebox.proto
  nucliadb_protos/python/src/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/knowledgebox_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2_grpc.pyi
  nucliadb_protos/rust/src/knowledgebox.rs
Due: lint_nucliadb

Extend vectorset test with rollver and processing bw/c with default vs
  nucliadb/tests/nucliadb/integration/test_vectorsets_api.py
Due: lint_nucliadb

Update nidx merge jobs metrics before scheduling more (#2795)
  nidx/src/scheduler.rs
  nidx/src/scheduler/metrics_task.rs
Due: none

Extend vectorset test with rollver and processing bw/c with default vs (#2796)
  nucliadb/tests/nucliadb/integration/test_vectorsets_api.py
Due: lint_nucliadb

Tweak CI
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/nucliadb_node_release.yml
  Dockerfile.node
  Dockerfile.node_prebuilt
  Dockerfile.node_sidecar
Due: none

fix ci yaml
  .github/workflows/deploy.yml
Due: none

Also remove helm charts for node
  charts/nucliadb_node/Chart.yaml
  charts/nucliadb_node/templates/_helpers.tpl
  charts/nucliadb_node/templates/node.cm.yaml
  charts/nucliadb_node/templates/node.pdb.yaml
  charts/nucliadb_node/templates/node.replicas.deploy.yaml
  charts/nucliadb_node/templates/node.replicas.svc.yaml
  charts/nucliadb_node/templates/node.secret.yaml
  charts/nucliadb_node/templates/node.sm.yaml
  charts/nucliadb_node/templates/node.sts.yaml
  charts/nucliadb_node/templates/node.svc.yaml
  charts/nucliadb_node/values.yaml
Due: none

Fix reader tests
  nucliadb/tests/ndbfixtures/reader.py
Due: lint_nucliadb

Remove more node from CI
  .github/workflows/ci.yml
  Cargo.lock
Due: none

More ci fixes
  .github/workflows/ci.yml
  Makefile
Due: none

Fix test broken in merge
  nucliadb/tests/ingest/integration/orm/test_orm_resource.py
  nucliadb/tests/train/test_list_paragraphs.py
Due: lint_nucliadb

deny action
  .github/workflows/ci.yml
Due: none

Fix dockerfiles
  Dockerfile.pipbinding
  Dockerfile.withbinding
  Makefile
  nucliadb/requirements.txt
  pdm.lock
Due: none

lint
  nucliadb/tests/ingest/integration/orm/test_orm_resource.py
Due: lint_nucliadb

remove cluster info from /introspect
  .github/workflows/ci.yml
  nucliadb/src/nucliadb/standalone/introspect.py
  nucliadb/tests/standalone/integration/test_introspect.py
Due: lint_nucliadb

nidx required pg version in sdk tests
  nucliadb_sdk/src/nucliadb_sdk/tests/fixtures.py
Due: lint_nucliadb_sdk

Force vectorset kind for new vectorsets
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
Due: lint_nucliadb

sdk test
  nucliadb_dataset/src/nucliadb_dataset/tests/fixtures.py
  nucliadb_dataset/tests/integration/test_field_classifier.py
  nucliadb_dataset/tests/integration/test_question_answer_streaming.py
  nucliadb_dataset/tests/integration/test_token_classifier.py
Due: lint_nucliadb_dataset

Force vectorset kind for new vectorsets (#2798)
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
Due: lint_nucliadb

Add module to writer API
  nucliadb/src/nucliadb/writer/api/v1/__init__.py
Due: lint_nucliadb

Fix typo
  nucliadb/tests/writer/unit/test_vectorsets.py
Due: lint_nucliadb

No more vectorsets API in ingest
  nucliadb_protos/python/src/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2_grpc.py
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2_grpc.pyi
  nucliadb_protos/rust/src/fdbwriter.rs
  nucliadb_protos/writer.proto
Due: none

Remove vectorsets gRPC API
  nucliadb/src/nucliadb/ingest/service/writer.py
  nucliadb/src/nucliadb/writer/vectorsets.py
  nucliadb/tests/nucliadb/integration/test_purge_vectorsets.py
  nucliadb/tests/nucliadb/integration/test_vectorsets_api.py
Due: lint_nucliadb

Move vectorset writer API to a new module and handle delete conflict
  nucliadb/src/nucliadb/writer/api/v1/knowledgebox.py
  nucliadb/src/nucliadb/writer/api/v1/vectorsets.py
  nucliadb/src/nucliadb/writer/vectorsets.py
Due: lint_nucliadb

Don't get storage inside maindb transaction
  nucliadb/src/nucliadb/writer/vectorsets.py
Due: lint_nucliadb

Ensure same job cannot be taken multiple times
  nidx/.sqlx/query-2b065a363f58caed60e3706603c1260dbf5a4c795604a5b68edda22eb07fec1b.json
  nidx/src/metadata/merge_job.rs
Due: none

Ensure same job cannot be taken multiple times (#2799)
  nidx/.sqlx/query-2b065a363f58caed60e3706603c1260dbf5a4c795604a5b68edda22eb07fec1b.json
  nidx/src/metadata/merge_job.rs
Due: none

Add missing test utils module
  nucliadb/tests/utils/vectorsets.py
Due: lint_nucliadb

Remove useless vectorset ingest gRPC API (#2800)
  nucliadb/src/nucliadb/ingest/service/writer.py
  nucliadb/src/nucliadb/writer/api/v1/__init__.py
  nucliadb/src/nucliadb/writer/api/v1/knowledgebox.py
  nucliadb/src/nucliadb/writer/api/v1/vectorsets.py
  nucliadb/src/nucliadb/writer/vectorsets.py
  nucliadb/tests/nucliadb/integration/test_purge_vectorsets.py
  nucliadb/tests/nucliadb/integration/test_vectorsets_api.py
  nucliadb/tests/utils/vectorsets.py
  nucliadb/tests/writer/unit/test_vectorsets.py
  nucliadb_protos/python/src/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2_grpc.py
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2_grpc.pyi
  nucliadb_protos/rust/src/fdbwriter.rs
  nucliadb_protos/writer.proto
Due: lint_nucliadb

Control via FF
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/ingest/serialize.py
  nucliadb_utils/src/nucliadb_utils/const.py
  nucliadb_utils/src/nucliadb_utils/featureflagging.py
Due: lint_nucliadb, lint_nucliadb_utils

Return status/error in apis (#2782)
  nucliadb/src/nucliadb/common/datamanagers/fields.py
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/ingest/serialize.py
  nucliadb/src/nucliadb/reader/api/models.py
  nucliadb/src/nucliadb/reader/api/v1/resource.py
  nucliadb/src/nucliadb/writer/api/v1/upload.py
  nucliadb/tests/nucliadb/integration/test_processing_status.py
  nucliadb_models/src/nucliadb_models/resource.py
  nucliadb_utils/src/nucliadb_utils/const.py
  nucliadb_utils/src/nucliadb_utils/featureflagging.py
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_utils

new status code for not enough data response
  nucliadb/src/nucliadb/search/predict.py
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb_protos/audit.proto
  nucliadb_protos/python/src/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/audit_pb2.pyi
  nucliadb_protos/rust/src/audit.rs
  nucliadb_utils/src/nucliadb_utils/audit/audit.py
  nucliadb_utils/src/nucliadb_utils/audit/basic.py
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
Due: lint_nucliadb, lint_nucliadb_utils

adds VLLM_EXTRACTION to usage protos
  nucliadb_protos/kb_usage.proto
  nucliadb_protos/python/src/nucliadb_protos/kb_usage_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/kb_usage_pb2.pyi
Due: none

fix tests
  nucliadb/src/nucliadb/search/search/chat/ask.py
Due: lint_nucliadb

add test and fix
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/tests/search/unit/search/search/chat/test_query.py
Due: lint_nucliadb

fix
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb_protos/audit.proto
  nucliadb_protos/python/src/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/audit_pb2.pyi
  nucliadb_utils/src/nucliadb_utils/audit/audit.py
  nucliadb_utils/src/nucliadb_utils/audit/basic.py
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
Due: lint_nucliadb, lint_nucliadb_utils

Path conditions:
  lint_nucliadb: any of: (^nucliadb/) and \.py$
  lint_nucliadb_dataset: any of: (^nucliadb_dataset/) and \.py$
  lint_nucliadb_models: any of: (^nucliadb_models/) and \.py$
  lint_nucliadb_node: any of: (^nucliadb_node/) and \.py$
  lint_nucliadb_node_binding: any of: (^nucliadb_node_binding/) and \.py$
  lint_nucliadb_performance: any of: (^nucliadb_performance/) and \.py$
  lint_nucliadb_sdk: any of: (^nucliadb_sdk/) and \.py$
  lint_nucliadb_telemetry: any of: (^nucliadb_telemetry/) and \.py$
  lint_nucliadb_utils: any of: (^nucliadb_utils/) and \.py$
  rustfmt_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
  clippy_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
