Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nidx, clippy_nidx

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint_nucliadb
        name: Lint nucliadb
        entry: make -C nucliadb lint
        language: system
        files: (^nucliadb/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_dataset
        name: Lint nucliadb_dataset
        entry: make -C nucliadb_dataset lint
        language: system
        files: (^nucliadb_dataset/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_models
        name: Lint nucliadb_models
        entry: make -C nucliadb_models lint
        language: system
        files: (^nucliadb_models/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_sdk
        name: Lint nucliadb_sdk
        entry: make -C nucliadb_sdk lint
        language: system
        files: (^nucliadb_sdk/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_telemetry
        name: Lint nucliadb_telemetry
        entry: make -C nucliadb_telemetry lint
        language: system
        files: (^nucliadb_telemetry/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_utils
        name: Lint nucliadb_utils
        entry: make -C nucliadb_utils lint
        language: system
        files: (^nucliadb_utils/)
        types: ["python"]
        pass_filenames: false

      - id: rustfmt_nidx
        name: Rust format check for nidx
        entry: cargo fmt --check --all --manifest-path nidx/Cargo.toml
        language: system
        files: (^nidx/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nidx
        name: Clippy warning check for nidx
        entry: cargo clippy --all-features --manifest-path nidx/Cargo.toml -- -D warnings
        language: system
        files: (^nidx/)
        types: ["rust"]
        pass_filenames: false

Explain TCP_NODELAY (#3636)
  nidx/src/grpc_server.rs
Due: rustfmt_nidx, clippy_nidx

Allow to define the UUID on local on prem NucliaDB
  nucliadb/src/nucliadb/writer/api/v1/knowledgebox.py
  nucliadb/tests/writer/test_knowledgebox.py
  nucliadb_models/src/nucliadb_models/resource.py
Due: lint_nucliadb, lint_nucliadb_models

UUID
  nucliadb_models/src/nucliadb_models/resource.py
Due: lint_nucliadb_models

Fix lint
  nucliadb/src/nucliadb/writer/api/v1/knowledgebox.py
Due: lint_nucliadb

Stronger definition
  nucliadb/src/nucliadb/writer/api/v1/knowledgebox.py
Due: lint_nucliadb

Fix
  nucliadb/tests/writer/test_knowledgebox.py
Due: lint_nucliadb

Allow to define the UUID on local on prem NucliaDB (#3638)
  nucliadb/src/nucliadb/writer/api/v1/knowledgebox.py
  nucliadb/tests/writer/test_knowledgebox.py
  nucliadb_models/src/nucliadb_models/resource.py
Due: lint_nucliadb, lint_nucliadb_models

Bump urllib3 (Python) 2.6.3 -> 2.7.0
  uv.lock
Due: none

Bump urllib3 (Python) 2.6.3 -> 2.7.0 (#3639)
  uv.lock
Due: none

Add compat S3 options to support OneFS
  nucliadb/src/nucliadb/writer/tus/__init__.py
  nucliadb/src/nucliadb/writer/tus/s3.py
Due: lint_nucliadb

Fix test and add missing types
  nucliadb/tests/writer/test_tus.py
Due: lint_nucliadb

Add compat S3 options to support OneFS (#3640)
  nucliadb/src/nucliadb/writer/tus/__init__.py
  nucliadb/src/nucliadb/writer/tus/s3.py
  nucliadb/tests/writer/test_tus.py
Due: lint_nucliadb

Cleanup /ask canary release
  charts/nucliadb_search/templates/search.vs.yaml
Due: none

Cleanup /ask canary release (#3641)
  charts/nucliadb_search/templates/search.vs.yaml
Due: none

Cleanup nidx-as-extracted-text-storage FF
  nidx/nidx_text/src/lib.rs
  nidx/src/api/shards.rs
  nidx/src/metadata/index.rs
  nucliadb/src/nucliadb/common/cluster/manager.py
  nucliadb/src/nucliadb/common/cluster/rollover.py
  nucliadb/src/nucliadb/search/augmentor/augmentor.py
  nucliadb/src/nucliadb/search/augmentor/fields.py
  nucliadb/src/nucliadb/search/augmentor/paragraphs.py
  nucliadb_utils/src/nucliadb_utils/const.py
Due: lint_nucliadb, lint_nucliadb_utils, rustfmt_nidx, clippy_nidx

Fix test
  nidx/src/metadata/index.rs
Due: rustfmt_nidx, clippy_nidx

Cleanup nidx-as-extracted-text-storage FF (#3642)
  nidx/nidx_text/src/lib.rs
  nidx/src/api/shards.rs
  nidx/src/metadata/index.rs
  nucliadb/src/nucliadb/common/cluster/manager.py
  nucliadb/src/nucliadb/common/cluster/rollover.py
  nucliadb/src/nucliadb/search/augmentor/augmentor.py
  nucliadb/src/nucliadb/search/augmentor/fields.py
  nucliadb/src/nucliadb/search/augmentor/paragraphs.py
  nucliadb_utils/src/nucliadb_utils/const.py
Due: lint_nucliadb, lint_nucliadb_utils, rustfmt_nidx, clippy_nidx

Remove deduplication
  nidx/nidx_vector/src/config.rs
  nidx/nidx_vector/src/data_store/v2.rs
  nidx/nidx_vector/src/data_store/v2/paragraph_store.rs
  nidx/nidx_vector/src/field_list_metadata.rs
  nidx/nidx_vector/src/indexer.rs
  nidx/nidx_vector/src/inverted_index.rs
  nidx/nidx_vector/src/inverted_index/relation.rs
  nidx/nidx_vector/src/lib.rs
  nidx/nidx_vector/src/segment.rs
  nidx/nidx_vector/tests/test_relation.rs
  nidx/src/searcher/query_planner.rs
  nidx/tests/integration/vector_relation_index.rs
  nucliadb/src/nucliadb/ingest/orm/brain_v2.py
  nucliadb/src/nucliadb/ingest/orm/index_message.py
  nucliadb_protos/utils.proto
Due: lint_nucliadb, rustfmt_nidx, clippy_nidx

Reorder protos to avoid storing field_id
  nidx/nidx_protos/noderesources.proto
  nidx/nidx_vector/src/indexer.rs
  nidx/nidx_vector/tests/test_relation.rs
  nidx/tests/integration/vector_relation_index.rs
  nucliadb/src/nucliadb/ingest/orm/brain_v2.py
  nucliadb_protos/utils.proto
Due: lint_nucliadb, rustfmt_nidx, clippy_nidx

Nidx: Support for S3 endpoint TLS validation option
  charts/nidx/README.md
  charts/nidx/values.yaml
  nidx/src/settings.rs
Due: rustfmt_nidx, clippy_nidx

Update helm values/docs
  charts/nidx/README.md
  charts/nidx/values.yaml
Due: none

Fix bool option
  nidx/src/settings.rs
Due: rustfmt_nidx, clippy_nidx

Support key-value filtering in /retrieve
  nucliadb/src/nucliadb/search/search/query_parser/parsers/retrieve.py
  nucliadb/tests/ndbfixtures/resources/__init__.py
  nucliadb/tests/ndbfixtures/resources/clothing_store.py
  nucliadb/tests/search/integration/api/v1/test_retrieve.py
Due: lint_nucliadb

Skip /query endpoint for rephrased query if not needed
  nucliadb/src/nucliadb/search/search/query_parser/parsers/common.py
Due: lint_nucliadb

Added test
  nucliadb/src/nucliadb/common/models_utils/to_proto.py
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/reader/api/v1/download.py
  nucliadb/src/nucliadb/reader/api/v1/resource.py
  nucliadb/src/nucliadb/writer/resource/field.py
  nucliadb/tests/nucliadb/integration/test_conversation.py
  nucliadb_models/src/nucliadb_models/common.py
Due: lint_nucliadb, lint_nucliadb_models

wip
  nucliadb/src/nucliadb/common/datamanagers/fields.py
  nucliadb/src/nucliadb/common/filter_expression.py
  nucliadb/src/nucliadb/common/ids.py
  nucliadb/src/nucliadb/common/models_utils/from_proto.py
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/reader/api/v1/download.py
  nucliadb/src/nucliadb/search/api/v1/hydrate.py
  nucliadb/src/nucliadb/search/augmentor/augmentor.py
  nucliadb/src/nucliadb/search/augmentor/fields.py
  nucliadb/src/nucliadb/search/augmentor/paragraphs.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/src/nucliadb/search/search/fetch.py
  nucliadb/src/nucliadb/search/search/paragraphs.py
  nucliadb/src/nucliadb/train/generators/field_classifier.py
  nucliadb/src/nucliadb/train/generators/field_streaming.py
  nucliadb/src/nucliadb/train/generators/paragraph_streaming.py
  nucliadb/src/nucliadb/train/generators/question_answer_streaming.py
  nucliadb/src/nucliadb/train/generators/sentence_classifier.py
  nucliadb/src/nucliadb/train/generators/token_classifier.py
  nucliadb/src/nucliadb/train/generators/utils.py
  nucliadb/tests/ndbfixtures/ingest.py
  nucliadb/tests/nucliadb/unit/common/test_ids.py
  nucliadb/tests/search/unit/search/test_chat_prompt.py
  nucliadb/tests/utils/broker_messages/fields.py
Due: lint_nucliadb

wip
  nucliadb/src/nucliadb/ingest/orm/index_message.py
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/search/search/hydrator/images.py
  nucliadb/src/nucliadb/train/generators/token_classifier.py
  nucliadb/src/nucliadb/writer/resource/field.py
  nucliadb/tests/ingest/integration/ingest/test_ingest.py
  nucliadb/tests/ingest/integration/orm/test_orm_extracted.py
  nucliadb/tests/ingest/integration/orm/test_orm_field_conversation.py
  nucliadb/tests/ingest/integration/orm/test_orm_field_file.py
  nucliadb/tests/ingest/integration/orm/test_orm_field_link.py
  nucliadb/tests/ingest/integration/orm/test_orm_field_text.py
  nucliadb/tests/ingest/integration/orm/test_orm_file_extracted.py
  nucliadb/tests/ingest/integration/orm/test_orm_large_metadata.py
  nucliadb/tests/ingest/integration/orm/test_orm_link_extracted.py
  nucliadb/tests/ingest/integration/orm/test_orm_metadata.py
  nucliadb/tests/ingest/integration/orm/test_orm_vectors.py
  nucliadb/tests/nucliadb/migrations/test_migration_0039.py
Due: lint_nucliadb

finish lint fixes
  nucliadb/src/migrations/0039_backfill_converation_splits_metadata.py
  nucliadb/src/nucliadb/search/search/paragraphs.py
  nucliadb/src/nucliadb/train/generators/paragraph_streaming.py
  nucliadb/src/nucliadb/train/generators/question_answer_streaming.py
  nucliadb/src/nucliadb/train/generators/sentence_classifier.py
  nucliadb/src/nucliadb/train/generators/utils.py
  nucliadb/tests/ingest/integration/ingest/test_ingest.py
Due: lint_nucliadb

simpler
  charts/nidx/values.yaml
  nidx/src/settings.rs
Due: rustfmt_nidx, clippy_nidx

Support key-value filtering in /retrieve (#3646)
  nucliadb/src/nucliadb/search/search/query_parser/parsers/retrieve.py
  nucliadb/tests/ndbfixtures/resources/__init__.py
  nucliadb/tests/ndbfixtures/resources/clothing_store.py
  nucliadb/tests/search/integration/api/v1/test_retrieve.py
Due: lint_nucliadb

simpler
  nucliadb/src/nucliadb/reader/api/v1/download.py
  nucliadb/src/nucliadb/reader/api/v1/resource.py
  nucliadb/src/nucliadb/search/search/fetch.py
  nucliadb/src/nucliadb/search/search/paragraphs.py
  nucliadb/src/nucliadb/train/generators/field_classifier.py
  nucliadb/src/nucliadb/train/generators/field_streaming.py
  nucliadb/src/nucliadb/train/generators/paragraph_streaming.py
  nucliadb/src/nucliadb/train/generators/question_answer_streaming.py
  nucliadb/src/nucliadb/train/generators/sentence_classifier.py
  nucliadb/src/nucliadb/train/generators/token_classifier.py
  nucliadb/src/nucliadb/train/generators/utils.py
Due: lint_nucliadb

Remove deduplication for relation node/edge vectors (#3643)
  nidx/nidx_protos/noderesources.proto
  nidx/nidx_vector/src/config.rs
  nidx/nidx_vector/src/data_store/v2.rs
  nidx/nidx_vector/src/data_store/v2/paragraph_store.rs
  nidx/nidx_vector/src/field_list_metadata.rs
  nidx/nidx_vector/src/indexer.rs
  nidx/nidx_vector/src/inverted_index.rs
  nidx/nidx_vector/src/inverted_index/relation.rs
  nidx/nidx_vector/src/lib.rs
  nidx/nidx_vector/src/segment.rs
  nidx/nidx_vector/tests/test_relation.rs
  nidx/src/searcher/query_planner.rs
  nidx/tests/integration/vector_relation_index.rs
  nucliadb/src/nucliadb/ingest/orm/brain_v2.py
  nucliadb/src/nucliadb/ingest/orm/index_message.py
Due: lint_nucliadb, rustfmt_nidx, clippy_nidx

Nidx: Support for S3 endpoint TLS validation option (#3644)
  charts/nidx/README.md
  charts/nidx/values.yaml
  nidx/src/settings.rs
Due: rustfmt_nidx, clippy_nidx

Remove jaeger
  nucliadb_telemetry/pyproject.toml
  nucliadb_telemetry/src/nucliadb_telemetry/batch_span.py
  nucliadb_telemetry/src/nucliadb_telemetry/jaeger.py
  nucliadb_telemetry/src/nucliadb_telemetry/settings.py
  nucliadb_telemetry/src/nucliadb_telemetry/tests/telemetry.py
  nucliadb_telemetry/src/nucliadb_telemetry/tracerprovider.py
  nucliadb_telemetry/src/nucliadb_telemetry/utils.py
  nucliadb_telemetry/tests/integration/test_telemetry.py
  uv.lock
Due: lint_nucliadb_telemetry

verify ssl certificate value
  charts/nucliadb_shared/templates/nucliadb.cm.yaml
  nucliadb/src/nucliadb/writer/tus/__init__.py
  nucliadb/src/nucliadb/writer/tus/s3.py
  nucliadb_utils/src/nucliadb_utils/settings.py
  nucliadb_utils/src/nucliadb_utils/storages/s3.py
  nucliadb_utils/src/nucliadb_utils/tests/s3.py
  nucliadb_utils/src/nucliadb_utils/utilities.py
Due: lint_nucliadb, lint_nucliadb_utils

verify ssl certificate value (#3648)
  charts/nucliadb_shared/templates/nucliadb.cm.yaml
  nucliadb/src/nucliadb/writer/tus/__init__.py
  nucliadb/src/nucliadb/writer/tus/s3.py
  nucliadb_utils/src/nucliadb_utils/settings.py
  nucliadb_utils/src/nucliadb_utils/storages/s3.py
  nucliadb_utils/src/nucliadb_utils/tests/s3.py
  nucliadb_utils/src/nucliadb_utils/utilities.py
Due: lint_nucliadb, lint_nucliadb_utils

simplify more
  nucliadb/src/nucliadb/ingest/orm/index_message.py
  nucliadb/src/nucliadb/writer/resource/field.py
Due: lint_nucliadb

simplify more
  nucliadb/src/nucliadb/ingest/orm/resource.py
Due: lint_nucliadb
