Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nidx, clippy_nidx

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint_nucliadb
        name: Lint nucliadb
        entry: make -C nucliadb lint
        language: system
        files: (^nucliadb/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_dataset
        name: Lint nucliadb_dataset
        entry: make -C nucliadb_dataset lint
        language: system
        files: (^nucliadb_dataset/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_models
        name: Lint nucliadb_models
        entry: make -C nucliadb_models lint
        language: system
        files: (^nucliadb_models/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_sdk
        name: Lint nucliadb_sdk
        entry: make -C nucliadb_sdk lint
        language: system
        files: (^nucliadb_sdk/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_telemetry
        name: Lint nucliadb_telemetry
        entry: make -C nucliadb_telemetry lint
        language: system
        files: (^nucliadb_telemetry/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_utils
        name: Lint nucliadb_utils
        entry: make -C nucliadb_utils lint
        language: system
        files: (^nucliadb_utils/)
        types: ["python"]
        pass_filenames: false

      - id: rustfmt_nidx
        name: Rust format check for nidx
        entry: cargo fmt --check --all --manifest-path nidx/Cargo.toml
        language: system
        files: (^nidx/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nidx
        name: Clippy warning check for nidx
        entry: cargo clippy --all-features --manifest-path nidx/Cargo.toml -- -D warnings
        language: system
        files: (^nidx/)
        types: ["rust"]
        pass_filenames: false

Adding multivector support
  nidx/Cargo.lock
  nidx/nidx_vector/Cargo.toml
  nidx/nidx_vector/src/config.rs
  nidx/nidx_vector/src/data_point/mod.rs
  nidx/nidx_vector/src/data_point/tests.rs
  nidx/nidx_vector/src/data_point_provider/reader.rs
  nidx/nidx_vector/src/data_store/v1.rs
  nidx/nidx_vector/src/data_store/v1/store.rs
  nidx/nidx_vector/src/data_store/v2.rs
  nidx/nidx_vector/src/data_store/v2/paragraph_store.rs
  nidx/nidx_vector/src/data_store/v2/vector_store.rs
  nidx/nidx_vector/src/formula/mod.rs
  nidx/nidx_vector/src/indexer.rs
  nidx/nidx_vector/tests/test_basic_search.rs
  nidx/nidx_vector/tests/test_hidden.rs
  nidx/src/import_export.rs
  nidx/src/indexer.rs
  nidx/src/metadata.rs
  nidx/src/metadata/merge_job.rs
  nidx/src/scheduler/merge_task.rs
  nidx/src/searcher/sync.rs
  nidx/tests/test_shards_api.rs
  nidx/tests/test_synced_searcher.rs
Due: rustfmt_nidx, clippy_nidx

Extract multivector logic
  nidx/nidx_vector/src/config.rs
  nidx/nidx_vector/src/data_point_provider/reader.rs
  nidx/nidx_vector/src/indexer.rs
  nidx/nidx_vector/src/lib.rs
  nidx/nidx_vector/src/multivector.rs
Due: rustfmt_nidx, clippy_nidx

test
  nidx/nidx_vector/src/data_point/mod.rs
  nidx/nidx_vector/src/data_point/ops_hnsw.rs
  nidx/nidx_vector/src/data_point_provider/reader.rs
  nidx/nidx_vector/src/lib.rs
  nidx/nidx_vector/tests/test_maxsim.rs
Due: rustfmt_nidx, clippy_nidx

Remove deprecated page_number
  nidx/nidx_paragraph/src/reader.rs
  nidx/nidx_paragraph/src/request_types.rs
  nidx/nidx_paragraph/src/search_response.rs
  nidx/nidx_paragraph/tests/reader.rs
  nidx/nidx_protos/nodereader.proto
  nidx/nidx_text/src/reader.rs
  nidx/nidx_text/src/request_types.rs
  nidx/nidx_text/tests/test_search.rs
  nidx/nidx_vector/src/data_point_provider/reader.rs
  nidx/nidx_vector/src/request_types.rs
  nidx/src/searcher/query_planner.rs
  nidx/tests/test_date_range_search.rs
  nidx/tests/test_search_filtering.rs
  nidx/tests/test_search_sorting.rs
  nidx/tests/test_vector_normalization.rs
Due: rustfmt_nidx, clippy_nidx

adds split strategy to fields
  nucliadb_protos/resources.proto
Due: none

adds split strategy to fields (#3222)
  nucliadb_protos/resources.proto
Due: none

Override title on resource reprocess
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/ingest/orm/utils.py
  nucliadb/src/nucliadb/writer/api/v1/field.py
  nucliadb/src/nucliadb/writer/api/v1/resource.py
  nucliadb/src/nucliadb/writer/resource/basic.py
  nucliadb/tests/nucliadb/integration/test_api.py
Due: lint_nucliadb

Lock tools version
  .github/workflows/ci.yml
Due: none

Data store v2 (#3219)
  nidx/Cargo.lock
  nidx/nidx_vector/Cargo.toml
  nidx/nidx_vector/src/config.rs
  nidx/nidx_vector/src/data_point/mod.rs
  nidx/nidx_vector/src/data_point/ops_hnsw.rs
  nidx/nidx_vector/src/data_point/tests.rs
  nidx/nidx_vector/src/data_point_provider/reader.rs
  nidx/nidx_vector/src/data_store.rs
  nidx/nidx_vector/src/data_store/v1.rs
  nidx/nidx_vector/src/data_store/v1/node.rs
  nidx/nidx_vector/src/data_store/v1/store.rs
  nidx/nidx_vector/src/data_store/v1/trie.rs
  nidx/nidx_vector/src/data_store/v1/trie_ram.rs
  nidx/nidx_vector/src/data_store/v2.rs
  nidx/nidx_vector/src/data_store/v2/paragraph_store.rs
  nidx/nidx_vector/src/data_store/v2/vector_store.rs
  nidx/nidx_vector/src/data_types.rs
  nidx/nidx_vector/src/indexer.rs
  nidx/nidx_vector/src/inverted_index.rs
  nidx/nidx_vector/src/lib.rs
  nidx/nidx_vector/tests/test_basic_search.rs
  nidx/nidx_vector/tests/test_hidden.rs
  nidx/src/import_export.rs
  nidx/src/indexer.rs
  nidx/src/metadata.rs
  nidx/src/metadata/merge_job.rs
  nidx/src/scheduler/merge_task.rs
  nidx/src/searcher/sync.rs
  nidx/tests/test_shards_api.rs
  nidx/tests/test_synced_searcher.rs
Due: rustfmt_nidx, clippy_nidx

Add docs
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/writer/api/v1/field.py
  nucliadb/src/nucliadb/writer/api/v1/resource.py
  nucliadb/tests/nucliadb/integration/test_api.py
Due: lint_nucliadb

Add docs
  nucliadb/src/nucliadb/writer/resource/basic.py
Due: lint_nucliadb

Multivector (#3220)
  .github/workflows/ci.yml
  nidx/Cargo.lock
  nidx/nidx_vector/Cargo.toml
  nidx/nidx_vector/src/config.rs
  nidx/nidx_vector/src/data_point/mod.rs
  nidx/nidx_vector/src/data_point/ops_hnsw.rs
  nidx/nidx_vector/src/data_point/tests.rs
  nidx/nidx_vector/src/data_point_provider/reader.rs
  nidx/nidx_vector/src/data_store/v1.rs
  nidx/nidx_vector/src/data_store/v1/store.rs
  nidx/nidx_vector/src/data_store/v2.rs
  nidx/nidx_vector/src/data_store/v2/paragraph_store.rs
  nidx/nidx_vector/src/data_store/v2/vector_store.rs
  nidx/nidx_vector/src/formula/mod.rs
  nidx/nidx_vector/src/indexer.rs
  nidx/nidx_vector/src/lib.rs
  nidx/nidx_vector/src/multivector.rs
  nidx/nidx_vector/tests/test_basic_search.rs
  nidx/nidx_vector/tests/test_hidden.rs
  nidx/nidx_vector/tests/test_maxsim.rs
  nidx/src/import_export.rs
  nidx/src/indexer.rs
  nidx/src/metadata.rs
  nidx/src/metadata/merge_job.rs
  nidx/src/scheduler/merge_task.rs
  nidx/src/searcher/sync.rs
  nidx/tests/test_shards_api.rs
  nidx/tests/test_synced_searcher.rs
Due: rustfmt_nidx, clippy_nidx

Fixes
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/tests/nucliadb/unit/common/external_index_providers/test_pinecone.py
  nucliadb/tests/search/unit/test_find_post_index.py
Due: lint_nucliadb

Pagination tests out
  nidx/tests/test_search_sorting.rs
Due: rustfmt_nidx, clippy_nidx

Tweak param name
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/ingest/orm/utils.py
  nucliadb/src/nucliadb/writer/api/v1/field.py
  nucliadb/src/nucliadb/writer/api/v1/resource.py
  nucliadb/tests/nucliadb/integration/test_api.py
Due: lint_nucliadb

Remove deprecated page_number (#3221)
  nidx/nidx_paragraph/src/reader.rs
  nidx/nidx_paragraph/src/request_types.rs
  nidx/nidx_paragraph/src/search_response.rs
  nidx/nidx_paragraph/tests/reader.rs
  nidx/nidx_protos/nodereader.proto
  nidx/nidx_text/src/reader.rs
  nidx/nidx_text/src/request_types.rs
  nidx/nidx_text/tests/test_search.rs
  nidx/nidx_vector/src/data_point_provider/reader.rs
  nidx/nidx_vector/src/request_types.rs
  nidx/src/searcher/query_planner.rs
  nidx/tests/test_date_range_search.rs
  nidx/tests/test_search_filtering.rs
  nidx/tests/test_search_sorting.rs
  nidx/tests/test_vector_normalization.rs
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/tests/nucliadb/unit/common/external_index_providers/test_pinecone.py
  nucliadb/tests/search/unit/test_find_post_index.py
Due: lint_nucliadb, rustfmt_nidx, clippy_nidx

Extract HNSW code
  nidx/nidx_vector/src/data_point/mod.rs
  nidx/nidx_vector/src/hnsw.rs
  nidx/nidx_vector/src/hnsw/disk_hnsw.rs
  nidx/nidx_vector/src/hnsw/ops_hnsw.rs
  nidx/nidx_vector/src/hnsw/params.rs
  nidx/nidx_vector/src/hnsw/ram_hnsw.rs
  nidx/nidx_vector/src/lib.rs
Due: rustfmt_nidx, clippy_nidx

Rename DataPoint -> Segment
  nidx/nidx_vector/src/data_point_provider/mod.rs
  nidx/nidx_vector/src/data_store/v1.rs
  nidx/nidx_vector/src/data_store/v1/store.rs
  nidx/nidx_vector/src/data_store/v2.rs
  nidx/nidx_vector/src/data_store/v2/paragraph_store.rs
  nidx/nidx_vector/src/indexer.rs
  nidx/nidx_vector/src/lib.rs
  nidx/nidx_vector/src/searcher.rs
  nidx/nidx_vector/src/segment.rs
  nidx/nidx_vector/src/segment/tests.rs
  nidx/nidx_vector/tests/test_basic_search.rs
  nidx/nidx_vector/tests/test_hidden.rs
  nidx/nidx_vector/tests/test_maxsim.rs
Due: rustfmt_nidx, clippy_nidx

Rename formula module
  nidx/nidx_vector/src/formula.rs
Due: rustfmt_nidx, clippy_nidx

Simplify SearchRequest from trait to struct
  nidx/nidx_vector/src/searcher.rs
Due: rustfmt_nidx, clippy_nidx

fmt
  nidx/nidx_vector/src/data_store/v2/paragraph_store.rs
Due: rustfmt_nidx, clippy_nidx

Renames on nidx_vector (#3224)
  nidx/nidx_vector/src/data_store/v1.rs
  nidx/nidx_vector/src/data_store/v1/store.rs
  nidx/nidx_vector/src/data_store/v2.rs
  nidx/nidx_vector/src/data_store/v2/paragraph_store.rs
  nidx/nidx_vector/src/formula.rs
  nidx/nidx_vector/src/hnsw.rs
  nidx/nidx_vector/src/hnsw/disk_hnsw.rs
  nidx/nidx_vector/src/hnsw/ops_hnsw.rs
  nidx/nidx_vector/src/hnsw/params.rs
  nidx/nidx_vector/src/hnsw/ram_hnsw.rs
  nidx/nidx_vector/src/indexer.rs
  nidx/nidx_vector/src/lib.rs
  nidx/nidx_vector/src/searcher.rs
  nidx/nidx_vector/src/segment.rs
  nidx/nidx_vector/src/segment/tests.rs
  nidx/nidx_vector/tests/test_basic_search.rs
  nidx/nidx_vector/tests/test_hidden.rs
  nidx/nidx_vector/tests/test_maxsim.rs
Due: rustfmt_nidx, clippy_nidx

Allow title reset on resource reprocess (#3223)
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/writer/api/v1/field.py
  nucliadb/src/nucliadb/writer/api/v1/resource.py
  nucliadb/tests/nucliadb/integration/test_api.py
Due: lint_nucliadb

Better reset title implementation
  nucliadb/src/nucliadb/common/datamanagers/resources.py
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/writer/api/v1/field.py
  nucliadb/src/nucliadb/writer/api/v1/resource.py
  nucliadb_protos/writer.proto
Due: lint_nucliadb

reuse basic
  nucliadb/src/nucliadb/common/datamanagers/resources.py
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/writer/api/v1/field.py
  nucliadb/src/nucliadb/writer/api/v1/resource.py
  nucliadb_protos/resources.proto
  nucliadb_protos/writer.proto
Due: lint_nucliadb

reuse basic
  nucliadb/src/nucliadb/common/datamanagers/resources.py
Due: lint_nucliadb

reuse basic
  nucliadb/src/nucliadb/ingest/orm/resource.py
Due: lint_nucliadb

Add log
  nucliadb/src/nucliadb/ingest/orm/resource.py
Due: lint_nucliadb

Extend test
  nucliadb/tests/nucliadb/integration/test_api.py
Due: lint_nucliadb

Better reset title (#3225)
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/writer/api/v1/field.py
  nucliadb/src/nucliadb/writer/api/v1/resource.py
  nucliadb/tests/nucliadb/integration/test_api.py
  nucliadb_protos/resources.proto
Due: lint_nucliadb

Fix graph search prefilter
  nidx/nidx_relation/src/reader.rs
  nidx/nidx_relation/tests/test_graph_search.rs
Due: rustfmt_nidx, clippy_nidx

Fix graph search prefilter (#3226)
  nidx/nidx_relation/src/reader.rs
  nidx/nidx_relation/tests/test_graph_search.rs
Due: rustfmt_nidx, clippy_nidx

first commit
  nucliadb/src/nucliadb/search/predict.py
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/src/nucliadb/search/search/query_parser/fetcher.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/ask.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/find.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/search.py
  nucliadb/tests/search/unit/search/test_chat_prompt.py
  nucliadb/tests/search/unit/search/test_query.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

Do not consider processor warnings as errors
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/ingest/serialize.py
  nucliadb/src/nucliadb/reader/api/v1/resource.py
  nucliadb/tests/nucliadb/integration/test_processing_status.py
  nucliadb_models/src/nucliadb_models/resource.py
Due: lint_nucliadb, lint_nucliadb_models

Do not consider processor warnings as errors (#3228)
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/ingest/serialize.py
  nucliadb/src/nucliadb/reader/api/v1/resource.py
  nucliadb/tests/nucliadb/integration/test_processing_status.py
  nucliadb_models/src/nucliadb_models/resource.py
Due: lint_nucliadb, lint_nucliadb_models

Incompatibilities
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
Due: lint_nucliadb
