Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

lint_nucliadb:
  name: Lint nucliadb
  entry: make -C nucliadb lint
  language: system
  pass_filenames: false

lint_nucliadb_dataset:
  name: Lint nucliadb_dataset
  entry: make -C nucliadb_dataset lint
  language: system
  pass_filenames: false

lint_nucliadb_models:
  name: Lint nucliadb_models
  entry: make -C nucliadb_models lint
  language: system
  pass_filenames: false

lint_nucliadb_node:
  name: Lint nucliadb_node
  entry: make -C nucliadb_node lint
  language: system
  pass_filenames: false

lint_nucliadb_node_binding:
  name: Lint nucliadb_node_binding
  entry: make -C nucliadb_node_binding lint
  language: system
  pass_filenames: false

lint_nucliadb_performance:
  name: Lint nucliadb_performance
  entry: make -C nucliadb_performance lint
  language: system
  pass_filenames: false

lint_nucliadb_sdk:
  name: Lint nucliadb_sdk
  entry: make -C nucliadb_sdk lint
  language: system
  pass_filenames: false

lint_nucliadb_telemetry:
  name: Lint nucliadb_telemetry
  entry: make -C nucliadb_telemetry lint
  language: system
  pass_filenames: false

lint_nucliadb_utils:
  name: Lint nucliadb_utils
  entry: make -C nucliadb_utils lint
  language: system
  pass_filenames: false

rustfmt_nucliadb:
  name: fmt
  entry: cargo fmt --check
  language: system
  pass_filenames: false

clippy_nucliadb:
  name: clippy
  entry: cargo clippy --all-features -- -D warnings
  language: system
  pass_filenames: false

wip
  nucliadb/src/nucliadb/ingest/processing.py
  nucliadb/src/nucliadb/writer/api/v1/upload.py
  nucliadb_models/src/nucliadb_models/file.py
  nucliadb_models/src/nucliadb_models/text.py
  nucliadb_models/src/nucliadb_models/writer.py
  nucliadb_protos/python/src/nucliadb_protos/dataset_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2_grpc.pyi
  nucliadb_protos/resources.proto
  nucliadb_protos/rust/src/resources.rs
Due: lint_nucliadb, lint_nucliadb_models

Done
  nucliadb/src/nucliadb/writer/api/v1/upload.py
  nucliadb_models/src/nucliadb_models/writer.py
Due: lint_nucliadb, lint_nucliadb_models

Split on blankline
  nucliadb/src/nucliadb/writer/api/v1/upload.py
  nucliadb/src/nucliadb/writer/resource/field.py
  nucliadb/tests/nucliadb/integration/test_api.py
  nucliadb/tests/writer/unit/api/v1/test_upload.py
  nucliadb_models/src/nucliadb_models/text.py
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/resources.proto
  nucliadb_protos/rust/src/resources.rs
Due: lint_nucliadb, lint_nucliadb_models

More structured
  nucliadb/src/nucliadb/writer/resource/field.py
  nucliadb/tests/nucliadb/integration/test_api.py
  nucliadb_models/src/nucliadb_models/text.py
  nucliadb_protos/python/src/nucliadb_protos/dataset_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2_grpc.pyi
  nucliadb_protos/resources.proto
  nucliadb_protos/rust/src/resources.rs
Due: lint_nucliadb, lint_nucliadb_models

Remake protos
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.py
Due: none

Revert reranker refactor, performance improvements and fixes (#2543)
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/src/nucliadb/search/search/find_merge.py
  nucliadb/src/nucliadb/search/search/rerankers.py
  nucliadb/src/nucliadb/search/search/results_hydrator/__init__.py
  nucliadb/src/nucliadb/search/search/results_hydrator/base.py
  nucliadb/tests/nucliadb/integration/test_ask.py
  nucliadb/tests/nucliadb/integration/test_find.py
  nucliadb/tests/search/unit/search/results_hydrator/test_base.py
  nucliadb/tests/search/unit/search/test_hydrator.py
  nucliadb/tests/search/unit/test_find_merge.py
  nucliadb/tests/search/unit/test_find_post_index.py
  nucliadb/tests/search/unit/test_reranker.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

Revert "Revert reranker refactor, performance improvements and fixes (#2543)"
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/src/nucliadb/search/search/find_merge.py
  nucliadb/src/nucliadb/search/search/hydrator.py
  nucliadb/src/nucliadb/search/search/rerankers.py
  nucliadb/src/nucliadb/search/search/results_hydrator/__init__.py
  nucliadb/tests/nucliadb/integration/search/test_reranker.py
  nucliadb/tests/nucliadb/integration/test_ask.py
  nucliadb/tests/nucliadb/integration/test_find.py
  nucliadb/tests/search/unit/search/results_hydrator/test_base.py
  nucliadb/tests/search/unit/search/test_hydrator.py
  nucliadb/tests/search/unit/test_find_merge.py
  nucliadb/tests/search/unit/test_find_post_index.py
  nucliadb/tests/search/unit/test_reranker.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

fulltext index
  nidx/Cargo.lock
  nidx/Cargo.toml
  nidx/nidx_fulltext/Cargo.toml
  nidx/nidx_fulltext/src/lib.rs
  nidx/nidx_fulltext/src/query_io.rs
  nidx/nidx_fulltext/src/reader.rs
  nidx/nidx_fulltext/src/schema.rs
  nidx/nidx_fulltext/src/search_query.rs
  nidx/nidx_fulltext/src/writer.rs
  nidx/nidx_fulltext/tests/common/mod.rs
  nidx/nidx_fulltext/tests/test_reader.rs
  nidx/nidx_fulltext/tests/test_search.rs
  nidx/nidx_fulltext/tests/test_streaming.rs
  nidx/nidx_fulltext/tests/test_writer.rs
  nidx/nidx_vector/src/lib.rs
  nidx/src/indexer.rs
  nidx/src/maintenance/scheduler.rs
  nidx/src/maintenance/worker.rs
  nidx/src/searcher.rs
Due: none

Allow processing options
  nucliadb/src/nucliadb/writer/api/v1/upload.py
  nucliadb/src/nucliadb/writer/resource/field.py
  nucliadb/tests/writer/unit/api/v1/test_upload.py
  nucliadb_models/src/nucliadb_models/file.py
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/resources.proto
  nucliadb_protos/rust/src/resources.rs
Due: lint_nucliadb, lint_nucliadb_models

Fix
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/src/nucliadb/search/search/chat/query.py
Due: lint_nucliadb

cleanup
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/tests/nucliadb/integration/test_ask.py
Due: lint_nucliadb

Simpler reranking on ask (#2545)
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/tests/nucliadb/integration/test_ask.py
Due: lint_nucliadb

remove email metadata
  nucliadb_protos/python/src/nucliadb_protos/dataset_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2_grpc.pyi
  nucliadb_protos/resources.proto
  nucliadb_protos/rust/src/resources.rs
Due: none

Add code
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/resources.proto
  nucliadb_protos/rust/src/resources.rs
Due: lint_nucliadb

Don't rerank in predict anymore + tests
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/tests/nucliadb/integration/search/post_retrieval/__init__.py
  nucliadb/tests/nucliadb/integration/search/post_retrieval/test_ask_reranking.py
  nucliadb/tests/nucliadb/integration/search/post_retrieval/test_rank_fusion_merge.py
  nucliadb/tests/nucliadb/integration/search/post_retrieval/test_reranker.py
  nucliadb/tests/nucliadb/integration/test_ask.py
Due: lint_nucliadb

Fix hydrate_and_rerank resources
  nucliadb/src/nucliadb/search/search/find_merge.py
Due: lint_nucliadb

/ask returns by alias
  nucliadb/src/nucliadb/search/search/chat/ask.py
Due: lint_nucliadb

Done
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/tests/nucliadb/integration/test_api.py
Due: lint_nucliadb

Add type safety to db ids
  nidx/Cargo.lock
  nidx/Cargo.toml
  nidx/launch.sh
  nidx/nidx_text/Cargo.toml
  nidx/nidx_text/src/lib.rs
  nidx/nidx_text/src/query_io.rs
  nidx/nidx_text/src/reader.rs
  nidx/nidx_text/src/schema.rs
  nidx/nidx_text/src/search_query.rs
  nidx/nidx_text/src/writer.rs
  nidx/nidx_text/tests/common/mod.rs
  nidx/nidx_text/tests/test_reader.rs
  nidx/nidx_text/tests/test_search.rs
  nidx/nidx_text/tests/test_streaming.rs
  nidx/nidx_text/tests/test_writer.rs
  nidx/nidx_types/Cargo.toml
  nidx/nidx_types/src/lib.rs
  nidx/nidx_vector/Cargo.toml
  nidx/nidx_vector/src/lib.rs
  nidx/src/indexer.rs
  nidx/src/main.rs
  nidx/src/maintenance/worker.rs
  nidx/src/metadata.rs
  nidx/src/metadata/index.rs
  nidx/src/metadata/merge_job.rs
  nidx/src/metadata/segment.rs
  nidx/src/searcher.rs
  nidx/src/settings.rs
Due: none

Cleanup indexer
  nidx/Cargo.lock
  nidx/Cargo.toml
  nidx/nidx_text/Cargo.toml
  nidx/nidx_types/Cargo.toml
  nidx/nidx_vector/Cargo.toml
  nidx/src/indexer.rs
  nidx/src/lib.rs
  nidx/src/main.rs
  nidx/src/maintenance/worker.rs
  nidx/src/metadata.rs
  nidx/src/metadata/index.rs
  nidx/src/metadata/segment.rs
  nidx/src/searcher.rs
Due: none

Rename
  nucliadb/src/nucliadb/ingest/orm/brain.py
Due: lint_nucliadb

Fix one occurrence
  nucliadb/src/nucliadb/ingest/orm/brain.py
Due: lint_nucliadb

Cleanup scheduler
  nidx/src/indexer.rs
  nidx/src/maintenance/scheduler.rs
  nidx/src/maintenance/worker.rs
  nidx/src/metadata.rs
  nidx/src/metadata/segment.rs
Due: none

Bump dependencies
  pdm.lock
Due: none

Use sets instead of lists
  nucliadb/src/nucliadb/ingest/orm/brain.py
  nucliadb_models/src/nucliadb_models/labels.py
Due: lint_nucliadb, lint_nucliadb_models

Basic logging
  nidx/Cargo.lock
  nidx/Cargo.toml
  nidx/launch.sh
  nidx/src/main.rs
Due: none

Upload module
  nidx/src/upload.rs
Due: none

More cpu blocking stuff from protobuff
  nucliadb/src/nucliadb/ingest/orm/brain.py
Due: lint_nucliadb

remove unused func
  nucliadb/src/nucliadb/search/api/v1/ask.py
Due: lint_nucliadb

Clean worker
  nidx/nidx_text/src/lib.rs
  nidx/nidx_vector/src/lib.rs
  nidx/src/maintenance/worker.rs
  nidx/src/metadata/deletion.rs
  nidx/src/metadata/index.rs
Due: none

Give up indexing after some retries
  nidx/src/indexer.rs
Due: none

Fix tests
  nucliadb_models/src/nucliadb_models/labels.py
Due: lint_nucliadb_models

Remove unused method
  nucliadb/src/migrations/0003_allfields_key.py
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/src/nucliadb/search/search/fetch.py
  nucliadb/src/nucliadb/search/search/paragraphs.py
  nucliadb/src/nucliadb/train/generators/field_classifier.py
  nucliadb/src/nucliadb/train/generators/image_classifier.py
  nucliadb/src/nucliadb/train/generators/paragraph_streaming.py
  nucliadb/src/nucliadb/train/generators/sentence_classifier.py
  nucliadb/src/nucliadb/train/generators/token_classifier.py
  nucliadb/src/nucliadb/train/generators/utils.py
  nucliadb/tests/ingest/fixtures.py
  nucliadb/tests/search/unit/search/test_chat_prompt.py
Due: lint_nucliadb

Add warning for labels scanning
  nucliadb/src/nucliadb/common/datamanagers/labels.py
Due: lint_nucliadb

Update comments
  nucliadb/tests/nucliadb/integration/search/post_retrieval/test_ask_reranking.py
Due: lint_nucliadb

Bump dependencies (#2548)
  pdm.lock
Due: none

Reranker refactor perf and fixes (#2547)
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/src/nucliadb/search/search/find_merge.py
  nucliadb/src/nucliadb/search/search/hydrator.py
  nucliadb/src/nucliadb/search/search/rerankers.py
  nucliadb/tests/nucliadb/integration/search/post_retrieval/__init__.py
  nucliadb/tests/nucliadb/integration/search/post_retrieval/test_ask_reranking.py
  nucliadb/tests/nucliadb/integration/search/post_retrieval/test_rank_fusion_merge.py
  nucliadb/tests/nucliadb/integration/search/post_retrieval/test_reranker.py
  nucliadb/tests/nucliadb/integration/test_ask.py
  nucliadb/tests/nucliadb/integration/test_find.py
  nucliadb/tests/search/unit/search/results_hydrator/test_base.py
  nucliadb/tests/search/unit/search/test_hydrator.py
  nucliadb/tests/search/unit/test_find_merge.py
  nucliadb/tests/search/unit/test_find_post_index.py
  nucliadb/tests/search/unit/test_reranker.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

Remove WIP stuff
  nidx/Cargo.lock
  nidx/Cargo.toml
  nidx/launch.sh
  nidx/nidx_text/Cargo.toml
  nidx/nidx_text/src/lib.rs
  nidx/nidx_text/src/query_io.rs
  nidx/nidx_text/src/reader.rs
  nidx/nidx_text/src/schema.rs
  nidx/nidx_text/src/search_query.rs
  nidx/nidx_text/src/writer.rs
  nidx/nidx_text/tests/common/mod.rs
  nidx/nidx_text/tests/test_reader.rs
  nidx/nidx_text/tests/test_search.rs
  nidx/nidx_text/tests/test_streaming.rs
  nidx/nidx_text/tests/test_writer.rs
  nidx/nidx_vector/src/lib.rs
  nidx/src/indexer.rs
  nidx/src/lib.rs
  nidx/src/main.rs
  nidx/src/maintenance/scheduler.rs
  nidx/src/maintenance/worker.rs
  nidx/src/metadata.rs
  nidx/src/metadata/shard.rs
  nidx/src/searcher.rs
Due: none

Bring in nucliadb_vectors to nidx
  nidx/Cargo.lock
  nidx/Cargo.toml
  nidx/nidx_vector/Cargo.toml
  nidx/nidx_vector/README.md
  nidx/nidx_vector/docs/README.md
  nidx/nidx_vector/docs/labels.drawio.svg
  nidx/nidx_vector/src/config.rs
  nidx/nidx_vector/src/data_point/disk_hnsw.rs
  nidx/nidx_vector/src/data_point/mod.rs
  nidx/nidx_vector/src/data_point/node.rs
  nidx/nidx_vector/src/data_point/ops_hnsw.rs
  nidx/nidx_vector/src/data_point/params.rs
  nidx/nidx_vector/src/data_point/ram_hnsw.rs
  nidx/nidx_vector/src/data_point/tests.rs
  nidx/nidx_vector/src/data_point_provider/garbage_collector.rs
  nidx/nidx_vector/src/data_point_provider/mod.rs
  nidx/nidx_vector/src/data_point_provider/reader.rs
  nidx/nidx_vector/src/data_point_provider/state.rs
  nidx/nidx_vector/src/data_point_provider/writer.rs
  nidx/nidx_vector/src/data_types/data_store.rs
  nidx/nidx_vector/src/data_types/dtrie_ram.rs
  nidx/nidx_vector/src/data_types/mod.rs
  nidx/nidx_vector/src/data_types/trie.rs
  nidx/nidx_vector/src/data_types/trie_ram.rs
  nidx/nidx_vector/src/formula/mod.rs
  nidx/nidx_vector/src/lib.rs
  nidx/nidx_vector/src/query_language.rs
  nidx/nidx_vector/src/service/mod.rs
  nidx/nidx_vector/src/service/query_io.rs
  nidx/nidx_vector/src/service/reader.rs
  nidx/nidx_vector/src/service/writer.rs
  nidx/nidx_vector/src/utils.rs
  nidx/nidx_vector/src/vector_types/dense_f32.rs
  nidx/nidx_vector/src/vector_types/dense_f32_unaligned.rs
  nidx/nidx_vector/src/vector_types/mod.rs
  nidx/nidx_vector/tests/test_basic_search.rs
  nidx/nidx_vector/tests/test_hidden.rs
  nidx/src/indexer.rs
  nidx/src/test.rs
Due: none

Delete GC
  nidx/nidx_vector/src/data_point_provider/garbage_collector.rs
  nidx/nidx_vector/src/data_point_provider/mod.rs
  nidx/nidx_vector/src/data_point_provider/writer.rs
  nidx/nidx_vector/src/lib.rs
  nidx/nidx_vector/src/service/writer.rs
Due: none

Path conditions:
  lint_nucliadb: any of: (^nucliadb/) and \.py$
  lint_nucliadb_dataset: any of: (^nucliadb_dataset/) and \.py$
  lint_nucliadb_models: any of: (^nucliadb_models/) and \.py$
  lint_nucliadb_node: any of: (^nucliadb_node/) and \.py$
  lint_nucliadb_node_binding: any of: (^nucliadb_node_binding/) and \.py$
  lint_nucliadb_performance: any of: (^nucliadb_performance/) and \.py$
  lint_nucliadb_sdk: any of: (^nucliadb_sdk/) and \.py$
  lint_nucliadb_telemetry: any of: (^nucliadb_telemetry/) and \.py$
  lint_nucliadb_utils: any of: (^nucliadb_utils/) and \.py$
  rustfmt_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
  clippy_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
