Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nidx, clippy_nidx

lint_nucliadb:
  name: Lint nucliadb
  entry: make -C nucliadb lint
  language: system
  pass_filenames: false

lint_nucliadb_dataset:
  name: Lint nucliadb_dataset
  entry: make -C nucliadb_dataset lint
  language: system
  pass_filenames: false

lint_nucliadb_models:
  name: Lint nucliadb_models
  entry: make -C nucliadb_models lint
  language: system
  pass_filenames: false

lint_nucliadb_sdk:
  name: Lint nucliadb_sdk
  entry: make -C nucliadb_sdk lint
  language: system
  pass_filenames: false

lint_nucliadb_telemetry:
  name: Lint nucliadb_telemetry
  entry: make -C nucliadb_telemetry lint
  language: system
  pass_filenames: false

lint_nucliadb_utils:
  name: Lint nucliadb_utils
  entry: make -C nucliadb_utils lint
  language: system
  pass_filenames: false

rustfmt_nidx:
  name: Rust format check for nidx
  entry: cargo fmt --check --all --manifest-path nidx/Cargo.toml
  language: system
  pass_filenames: false

clippy_nidx:
  name: Clippy warning check for nidx
  entry: cargo clippy --all-features --manifest-path nidx/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

Better labelset docs (#3457)
  nucliadb/src/nucliadb/reader/api/v1/services.py
  nucliadb/src/nucliadb/writer/api/v1/services.py
  nucliadb_models/src/nucliadb_models/common.py
  nucliadb_models/src/nucliadb_models/filters.py
  nucliadb_models/src/nucliadb_models/labels.py
Due: lint_nucliadb, lint_nucliadb_models

Fix Union of None and None (not allowed until 3.14)
  nucliadb_telemetry/src/nucliadb_telemetry/metrics.py
Due: lint_nucliadb_telemetry

Add CI step to validate python using pytest collection
  .github/workflows/ci.yml
  nucliadb.mk
  nucliadb/Makefile
  nucliadb_dataset/Makefile
  nucliadb_models/Makefile
  nucliadb_sdk/Makefile
  nucliadb_telemetry/Makefile
  nucliadb_utils/Makefile
Due: none

Add comment
  nucliadb_telemetry/src/nucliadb_telemetry/metrics.py
Due: lint_nucliadb_telemetry

Ignore invalid resource UUID and log a warning
  nucliadb/src/nucliadb/search/search/chat/parser.py
Due: lint_nucliadb

Fix make target
  .github/workflows/ci.yml
Due: none

Fix Python <3.14 union of NoneType | NoneType (#3458)
  .github/workflows/ci.yml
  nucliadb.mk
  nucliadb/Makefile
  nucliadb_dataset/Makefile
  nucliadb_models/Makefile
  nucliadb_sdk/Makefile
  nucliadb_telemetry/Makefile
  nucliadb_telemetry/src/nucliadb_telemetry/metrics.py
  nucliadb_utils/Makefile
Due: lint_nucliadb_telemetry

Ignore invalid resource UUID and log a warning (#3459)
  nucliadb/src/nucliadb/search/search/chat/parser.py
Due: lint_nucliadb

Get thumbnail image path from /augment
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/tests/nucliadb/integration/test_ask.py
Due: lint_nucliadb

Get thumbnail image path from /augment (#3460)
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/tests/nucliadb/integration/test_ask.py
Due: lint_nucliadb

Don't use ORM for conversation strategy anymore
  nucliadb/src/nucliadb/search/search/chat/prompt.py
Due: lint_nucliadb

Allow a list of augments instead of only one
  nucliadb/src/nucliadb/models/internal/augment.py
  nucliadb/src/nucliadb/search/api/v1/augment.py
  nucliadb/src/nucliadb/search/augmentor/paragraphs.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/tests/search/unit/test_find_post_index.py
  nucliadb_models/src/nucliadb_models/augment.py
Due: lint_nucliadb, lint_nucliadb_models

Remove unused paragraph metadata from /augment
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb_models/src/nucliadb_models/augment.py
Due: lint_nucliadb, lint_nucliadb_models

Paragraph and field prop deduplication
  nucliadb/src/nucliadb/search/augmentor/fields.py
  nucliadb/src/nucliadb/search/augmentor/paragraphs.py
Due: lint_nucliadb

Add neighbour paragraph position
  nucliadb/src/nucliadb/models/internal/augment.py
  nucliadb/src/nucliadb/search/api/v1/augment.py
  nucliadb/src/nucliadb/search/augmentor/paragraphs.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/tests/nucliadb/integration/test_ask.py
  nucliadb/tests/search/unit/test_find_post_index.py
  nucliadb_models/src/nucliadb_models/augment.py
Due: lint_nucliadb, lint_nucliadb_models

Replace resource props for boolean fields
  nucliadb/src/nucliadb/search/api/v1/augment.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb_models/src/nucliadb_models/augment.py
Due: lint_nucliadb, lint_nucliadb_models

Remove done TODO
  nucliadb_models/src/nucliadb_models/augment.py
Due: lint_nucliadb_models

Update TODOs
  nucliadb/src/nucliadb/search/augmentor/fields.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/src/nucliadb/search/search/chat/rpc.py
Due: lint_nucliadb

Better field select deduplication
  nucliadb/src/nucliadb/search/augmentor/fields.py
Due: lint_nucliadb

Extend metadata strategy unit test
  nucliadb/tests/nucliadb/unit/test_internal_models_augment.py
Due: lint_nucliadb

Call augment only 1 for all conversation attachments
  nucliadb/src/nucliadb/search/search/chat/prompt.py
Due: lint_nucliadb

Deduplicate resource props
  nucliadb/src/nucliadb/search/augmentor/resources.py
Due: lint_nucliadb

Validations for the list of augments
  nucliadb_models/src/nucliadb_models/augment.py
Due: lint_nucliadb_models

Call /augment only once to augment full or max_messages
  nucliadb/src/nucliadb/search/search/chat/prompt.py
Due: lint_nucliadb

Typing
  nucliadb/src/nucliadb/search/requesters/utils.py
Due: lint_nucliadb

Fix raise NotImplementedError in audit
  nucliadb_utils/src/nucliadb_utils/audit/audit.py
Due: lint_nucliadb_utils

Fix tests
  nucliadb/tests/nucliadb/unit/test_internal_models_augment.py
  nucliadb/tests/search/integration/api/v1/test_augment.py
  nucliadb/tests/search/unit/search/requesters/test_utils.py
Due: lint_nucliadb

Fix test
  nucliadb/tests/nucliadb/unit/test_internal_models_augment.py
Due: lint_nucliadb

Node semantic search
  nidx/nidx_protos/nodereader.proto
  nidx/nidx_relation/src/graph_query_parser.rs
  nidx/nidx_relation/src/lib.rs
  nidx/nidx_relation/src/reader.rs
  nidx/nidx_relation/tests/test_graph_query_parser_search.rs
  nidx/nidx_relation/tests/test_graph_search.rs
  nidx/nidx_vector/src/searcher.rs
  nidx/src/searcher/query_planner.rs
  nidx/src/searcher/shard_search.rs
  nidx/src/searcher/sync.rs
  nidx/tests/integration/vector_relation_index.rs
Due: rustfmt_nidx, clippy_nidx

Support semantic search in Search and GraphSearch
  nidx/nidx_protos/nodereader.proto
  nidx/src/api/grpc.rs
  nidx/src/api/shards.rs
  nidx/src/searcher/query_planner.rs
  nidx/src/searcher/shard_search.rs
  nidx/src/searcher/sync.rs
  nidx/tests/integration/shards_api.rs
  nidx/tests/integration/vector_relation_index.rs
Due: rustfmt_nidx, clippy_nidx

Add index kinds for relation indexes
  nidx/migrations/20251218173017_vector_relation_index_kinds.sql
  nidx/src/api/shards.rs
  nidx/src/indexer.rs
  nidx/src/metadata/index.rs
  nidx/src/metrics.rs
  nidx/src/scheduler/merge_task.rs
  nidx/src/searcher/index_cache.rs
  nidx/src/worker.rs
  nidx/tests/integration/mod.rs
Due: rustfmt_nidx, clippy_nidx

Add Relation Label indexing
  nidx/nidx_protos/noderesources.proto
  nidx/nidx_vector/src/config.rs
  nidx/nidx_vector/src/indexer.rs
  nidx/nidx_vector/src/inverted_index.rs
  nidx/nidx_vector/src/lib.rs
  nidx/nidx_vector/src/segment.rs
  nidx/nidx_vector/tests/test_relation.rs
Due: rustfmt_nidx, clippy_nidx

Works for relations
  nidx/nidx_protos/nodereader.proto
  nidx/nidx_relation/src/graph_query_parser.rs
  nidx/nidx_relation/src/reader.rs
  nidx/nidx_relation/tests/test_graph_query_parser_search.rs
  nidx/tests/integration/vector_relation_index.rs
Due: rustfmt_nidx, clippy_nidx

Rename relationlabel to relationedge
  nidx/migrations/20251218173017_vector_relation_index_kinds.sql
  nidx/nidx_protos/noderesources.proto
  nidx/nidx_vector/src/config.rs
  nidx/nidx_vector/src/indexer.rs
  nidx/nidx_vector/src/lib.rs
  nidx/nidx_vector/tests/test_relation.rs
  nidx/src/indexer.rs
  nidx/src/metadata/index.rs
  nidx/src/metrics.rs
  nidx/src/scheduler/merge_task.rs
  nidx/src/searcher/index_cache.rs
  nidx/src/worker.rs
Due: rustfmt_nidx, clippy_nidx

Make cargo fmt happy
  nidx/src/api/shards.rs
Due: rustfmt_nidx, clippy_nidx

Update deps
  nidx/Cargo.lock
  nidx/Cargo.toml
  uv.lock
Due: none

Alternative way to express types
  nucliadb_telemetry/src/nucliadb_telemetry/metrics.py
Due: lint_nucliadb_telemetry

Update deps (#3463)
  nidx/Cargo.lock
  nidx/Cargo.toml
  uv.lock
Due: none

Alternative way to express types (#3464)
  nucliadb_telemetry/src/nucliadb_telemetry/metrics.py
Due: lint_nucliadb_telemetry

Decouple default strategy, the last piece that accessed the DB
  nucliadb/src/nucliadb/models/internal/augment.py
  nucliadb/src/nucliadb/search/api/v1/augment.py
  nucliadb/src/nucliadb/search/augmentor/fields.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/tests/nucliadb/integration/test_ask.py
Due: lint_nucliadb

Path conditions:
  lint_nucliadb: any of: (^nucliadb/) and \.py$
  lint_nucliadb_dataset: any of: (^nucliadb_dataset/) and \.py$
  lint_nucliadb_models: any of: (^nucliadb_models/) and \.py$
  lint_nucliadb_sdk: any of: (^nucliadb_sdk/) and \.py$
  lint_nucliadb_telemetry: any of: (^nucliadb_telemetry/) and \.py$
  lint_nucliadb_utils: any of: (^nucliadb_utils/) and \.py$
  rustfmt_nidx: any of: (^nidx/) and \.rs$
  clippy_nidx: any of: (^nidx/) and \.rs$
