Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

isort_nucliadb:
  name: Isort
  entry: isort --profile black -c
  language: system

black_nucliadb:
  name: Black
  entry: black --check --verbose
  language: system

flake8_nucliadb:
  name: Flake8
  entry: flake8 --config=nucliadb/setup.cfg
  language: system

rustfmt_nucliadb:
  name: fmt
  entry: cargo +nightly fmt --check
  language: system
  pass_filenames: false

clippy_nucliadb:
  name: clippy
  entry: cargo clippy --all-features -- -D warnings
  language: system
  pass_filenames: false

slug is not modifiable (#1643)
  nucliadb_models/nucliadb_models/writer.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

bump version
  VERSION
Due: none

bump version (#1644)
  VERSION
Due: none

lower the default number of paragraphs per shard
  nucliadb/nucliadb/common/cluster/settings.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix sdk request_builder when using async client
  nucliadb_sdk/nucliadb_sdk/v2/sdk.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

.
  nucliadb/migrations/0002_rollover_shards.py
  nucliadb/migrations/0004_rollover_shards.py
  nucliadb/migrations/0005_rollover_shards.py
  nucliadb/nucliadb/common/cluster/manager.py
  nucliadb/nucliadb/common/cluster/rollover.py
  nucliadb/nucliadb/common/datamanagers/cluster.py
  nucliadb/nucliadb/common/datamanagers/resources.py
  nucliadb/nucliadb/common/datamanagers/rollover.py
  nucliadb/nucliadb/common/maindb/driver.py
  nucliadb/nucliadb/common/maindb/redis.py
  nucliadb/nucliadb/common/maindb/tikv.py
  nucliadb/nucliadb/tests/integration/common/cluster/test_rollover.py
  nucliadb/nucliadb/tests/integration/common/maindb/test_drivers.py
  nucliadb/nucliadb/tests/integration/search/test_filters.py
  nucliadb/nucliadb/tests/unit/common/cluster/test_rollover.py
  nucliadb_protos/python/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/nucliadb_protos/dataset_pb2.py
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/nucliadb_protos/migrations_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.py
  nucliadb_protos/python/nucliadb_protos/replication_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/nucliadb_protos/standalone_pb2.py
  nucliadb_protos/python/nucliadb_protos/train_pb2.py
  nucliadb_protos/python/nucliadb_protos/utils_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/rust/src/fdbwriter.rs
  nucliadb_protos/writer.proto
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

disable liveness probe
  .github/workflows/nucliadb_ingest.yml
  charts/nucliadb_ingest/templates/ingest.sts.yaml
Due: none

only process 1 at a time
  nucliadb/nucliadb/ingest/consumer/consumer.py
  nucliadb/nucliadb/ingest/consumer/service.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

add log
  nucliadb/nucliadb/ingest/consumer/consumer.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

disable ecr
  .github/workflows/_build-img-nucliadb.yml
Due: none

one more
  nucliadb/nucliadb/ingest/consumer/consumer.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

logs logs logs
  nucliadb/nucliadb/ingest/orm/processor/__init__.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

add max concurrent processing setting to ingest consumer
  nucliadb/nucliadb/ingest/consumer/consumer.py
  nucliadb/nucliadb/ingest/consumer/service.py
  nucliadb/nucliadb/ingest/settings.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fixes
  nucliadb/migrations/0002_rollover_shards.py
  nucliadb/migrations/0004_rollover_shards.py
  nucliadb/migrations/0005_rollover_shards.py
  nucliadb/nucliadb/tests/unit/common/cluster/test_rollover.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

add
  nucliadb/migrations/0006_rollover_shards.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fixes
  nucliadb/nucliadb/common/cluster/rollover.py
  nucliadb/nucliadb/common/datamanagers/rollover.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix
  nucliadb/nucliadb/common/datamanagers/resources.py
  nucliadb/nucliadb/common/datamanagers/rollover.py
  nucliadb/nucliadb/common/maindb/driver.py
  nucliadb/nucliadb/common/maindb/local.py
  nucliadb/nucliadb/common/maindb/pg.py
  nucliadb/nucliadb/common/maindb/redis.py
  nucliadb/nucliadb/common/maindb/tikv.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

local fix
  nucliadb/nucliadb/common/maindb/local.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

better
  nucliadb/nucliadb/common/cluster/rollover.py
  nucliadb/nucliadb/common/datamanagers/resources.py
  nucliadb/nucliadb/common/datamanagers/rollover.py
  nucliadb/nucliadb/tests/unit/common/cluster/test_rollover.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

wip
  nucliadb/nucliadb/search/search/chat/query.py
  nucliadb_models/nucliadb_models/search.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Add query context order
  nucliadb/nucliadb/search/search/chat/query.py
  nucliadb_models/nucliadb_models/search.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix test
  nucliadb/nucliadb/search/tests/unit/search/test_chat_prompt.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

lower the default number of paragraphs per shard (#1645)
  nucliadb/nucliadb/common/cluster/settings.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Debug e2e
  e2e/test_e2e.py
Due: none

Parse chat response
  e2e/test_e2e.py
Due: none

add content to async request
  nucliadb_sdk/nucliadb_sdk/v2/sdk.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

add max concurrent processing setting to ingest consumer (#1646)
  nucliadb/nucliadb/ingest/consumer/consumer.py
  nucliadb/nucliadb/ingest/consumer/service.py
  nucliadb/nucliadb/ingest/settings.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix lint
  nucliadb_sdk/nucliadb_sdk/v2/sdk.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Chat citations (#1640)
  e2e/test_e2e.py
  nucliadb/nucliadb/search/api/v1/chat.py
  nucliadb/nucliadb/search/search/chat/prompt.py
  nucliadb/nucliadb/search/search/chat/query.py
  nucliadb/nucliadb/search/tests/unit/search/test_chat_prompt.py
  nucliadb/nucliadb/tests/integration/test_chat.py
  nucliadb_models/nucliadb_models/search.py
  nucliadb_sdk/nucliadb_sdk/tests/test_chat.py
  nucliadb_sdk/nucliadb_sdk/v2/sdk.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Plug performance tests in CI (#1650)
  .pre-commit-config.yaml
  nucliadb_performance/Makefile
  nucliadb_performance/nucliadb_performance/hosted/test_search_cluster.py
  nucliadb_performance/nucliadb_performance/hosted/test_search_kb.py
  nucliadb_performance/nucliadb_performance/settings.py
  nucliadb_performance/nucliadb_performance/standalone/test_search.py
  nucliadb_performance/nucliadb_performance/utils/errors.py
  nucliadb_performance/nucliadb_performance/utils/export_import.py
  nucliadb_performance/nucliadb_performance/utils/metrics.py
  nucliadb_performance/nucliadb_performance/utils/misc.py
  nucliadb_performance/nucliadb_performance/utils/nucliadb.py
  nucliadb_performance/nucliadb_performance/utils/saved_requests.py
  nucliadb_performance/requirements.txt
  nucliadb_performance/standalone_search_requests.json
Due: none

ignore line
  nucliadb_sdk/nucliadb_sdk/v2/sdk.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Resumable rollovers (#1647)
  nucliadb/migrations/0004_rollover_shards.py
  nucliadb/migrations/0005_rollover_shards.py
  nucliadb/migrations/0006_rollover_shards.py
  nucliadb/nucliadb/common/cluster/manager.py
  nucliadb/nucliadb/common/cluster/rollover.py
  nucliadb/nucliadb/common/datamanagers/cluster.py
  nucliadb/nucliadb/common/datamanagers/resources.py
  nucliadb/nucliadb/common/datamanagers/rollover.py
  nucliadb/nucliadb/common/maindb/driver.py
  nucliadb/nucliadb/common/maindb/local.py
  nucliadb/nucliadb/common/maindb/pg.py
  nucliadb/nucliadb/common/maindb/redis.py
  nucliadb/nucliadb/common/maindb/tikv.py
  nucliadb/nucliadb/tests/integration/common/cluster/test_rollover.py
  nucliadb/nucliadb/tests/integration/common/maindb/test_drivers.py
  nucliadb/nucliadb/tests/integration/search/test_filters.py
  nucliadb/nucliadb/tests/unit/common/cluster/test_rollover.py
  nucliadb_protos/python/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/nucliadb_protos/dataset_pb2.py
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/nucliadb_protos/migrations_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.py
  nucliadb_protos/python/nucliadb_protos/replication_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/nucliadb_protos/standalone_pb2.py
  nucliadb_protos/python/nucliadb_protos/train_pb2.py
  nucliadb_protos/python/nucliadb_protos/utils_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/rust/src/fdbwriter.rs
  nucliadb_protos/writer.proto
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix sdk async client (#1649)
  nucliadb_sdk/nucliadb_sdk/v2/sdk.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Added full coverage for async client
  nucliadb_sdk/nucliadb_sdk/tests/fixtures.py
  nucliadb_sdk/nucliadb_sdk/tests/test_export_import.py
  nucliadb_sdk/nucliadb_sdk/tests/test_sdk_async.py
  nucliadb_sdk/nucliadb_sdk/v2/sdk.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix
  nucliadb_sdk/nucliadb_sdk/tests/test_sdk_async.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

remove log warning for modified field
  nucliadb/nucliadb/ingest/orm/brain.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

remove log warning for modified field (#1652)
  nucliadb/nucliadb/ingest/orm/brain.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

temp file when writing metadata
  nucliadb_node/src/shards/metadata.rs
Due: rustfmt_nucliadb, clippy_nucliadb

fix
  nucliadb_utils/nucliadb_utils/grpc.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

try
  VERSION
  nucliadb_utils/nucliadb_utils/grpc.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Path conditions:
  isort_nucliadb: any of: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/) and \.py$
  black_nucliadb: any of: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/) and \.py$
  flake8_nucliadb: any of: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/) and \.py$
  rustfmt_nucliadb: any of: (^nucliadb_vectors/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_paragraphs/)|(^nucliadb_texts/) and \.rs$
  clippy_nucliadb: any of: (^nucliadb_vectors/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_paragraphs/)|(^nucliadb_texts/) and \.rs$
