Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort_ingest, black_ingest, flake8_ingest, isort_utils, black_utils, flake8_utils

isort_ingest:
  name: ISort Ingest
  entry: isort --profile black -c
  language: system

black_ingest:
  name: Black Ingest
  entry: black --check --verbose
  language: system

flake8_ingest:
  name: Flake8 Ingest
  entry: flake8 --config=nucliadb_ingest/setup.cfg
  language: system

isort_utils:
  name: ISort UTILS
  entry: isort --profile black -c
  language: system

black_utils:
  name: Black UTILS
  entry: black --check --verbose
  language: system

flake8_utils:
  name: Flake8 UTILS
  entry: flake8 --config=nucliadb_utils/setup.cfg
  language: system

gc specification
  nucliadb_vectors2/src/disk_structure/mod.rs
  nucliadb_vectors2/src/index/garbage_collector.rs
  nucliadb_vectors2/src/index/mod.rs
Due: none

Missing file
  nucliadb_protos/python/MANIFEST.in
Due: none

Add emacs files to gitignore
  .gitignore
Due: none

Add txn_exists method to DiskStructure
  nucliadb_vectors2/src/disk_structure/mod.rs
Due: none

Implement and test first simple version of collect_garbage
  nucliadb_vectors2/src/index/garbage_collector.rs
Due: none

bach processing start
  nucliadb_vectors2/src/database/mod.rs
  nucliadb_vectors2/src/delete_log/mod.rs
  nucliadb_vectors2/src/disk_structure/mod.rs
  nucliadb_vectors2/src/hnsw/mod.rs
  nucliadb_vectors2/src/hnsw/ops.rs
  nucliadb_vectors2/src/index/garbage_collector.rs
  nucliadb_vectors2/src/index/mod.rs
  nucliadb_vectors2/src/segment/mod.rs
Due: none

txn writer refactor
  nucliadb_vectors2/src/disk_structure/mod.rs
Due: none

refactor
  nucliadb_vectors2/src/database/mod.rs
  nucliadb_vectors2/src/disk_structure/mod.rs
  nucliadb_vectors2/src/index/mod.rs
Due: none

Initial work on patch labels
  nucliadb_ingest/nucliadb_ingest/orm/processor.py
  nucliadb_models/nucliadb_models/common.py
  nucliadb_models/nucliadb_models/metadata.py
  nucliadb_models/nucliadb_models/resource.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/writer_pb2_grpc.pyi
  nucliadb_protos/resources.proto
  nucliadb_protos/rust/src/resources.rs
  nucliadb_writer/nucliadb_writer/api/models.py
  nucliadb_writer/nucliadb_writer/resource/basic.py
  nucliadb_writer/nucliadb_writer/tests/test_resources.py
  nucliadb_writer/nucliadb_writer/tests/test_tus.py
  test.ipynb
Due: isort_ingest, black_ingest, flake8_ingest

txn writer refactor (#215)
  nucliadb_vectors2/src/database/mod.rs
  nucliadb_vectors2/src/disk_structure/mod.rs
  nucliadb_vectors2/src/index/mod.rs
Due: none

Url
  nucliadb_ingest/nucliadb_ingest/metrics/service.py
Due: isort_ingest, black_ingest, flake8_ingest

Fix metrics endpoint
  nucliadb_ingest/nucliadb_ingest/metrics/service.py
Due: isort_ingest, black_ingest, flake8_ingest

Fix
  nucliadb_ingest/nucliadb_ingest/metrics/service.py
Due: isort_ingest, black_ingest, flake8_ingest

Add pre-commit to code requirements
  code-requirements.txt
Due: none

Remove tabs from Makefile
  Makefile
Due: none

Add tests for VectorDB
  nucliadb_vectors2/src/database/mod.rs
Due: none

Try to fix title spaces
  nucliadb_ingest/nucliadb_ingest/orm/utils.py
Due: isort_ingest, black_ingest, flake8_ingest

Fix title
  nucliadb_search/nucliadb_search/search/fetch.py
Due: none

vector search empty search
  nucliadb_protos/rust/src/nodereader.rs
  nucliadb_protos/rust/src/nodewriter.rs
  nucliadb_vectors/src/query_search/mod.rs
Due: none

vector search empty search (#218)
  nucliadb_protos/rust/src/nodereader.rs
  nucliadb_protos/rust/src/nodewriter.rs
  nucliadb_vectors/src/query_search/mod.rs
Due: none

Fix must on paragraph
  nucliadb_paragraphs_tantivy/src/search_query.rs
Due: none

fixing parser logic in fields
  nucliadb_fields_tantivy/src/reader.rs
  nucliadb_fields_tantivy/src/search_query.rs
Due: none

Must instead of Should
  nucliadb_fields_tantivy/src/search_query.rs
Due: none

Fix highlight
  nucliadb_search/nucliadb_search/tests/test_highlight.py
Due: none

search + new + database tests
  nucliadb_vectors2/src/database/mod.rs
  nucliadb_vectors2/src/disk_structure/mod.rs
  nucliadb_vectors2/src/hnsw/mod.rs
  nucliadb_vectors2/src/hnsw/ops.rs
  nucliadb_vectors2/src/index/garbage_collector.rs
  nucliadb_vectors2/src/index/mod.rs
Due: none

fixing parser logic in fields (#219)
  nucliadb_fields_tantivy/src/reader.rs
  nucliadb_fields_tantivy/src/search_query.rs
Due: none

insert in vectors index fixed
  nucliadb_vectors/src/query_insert/mod.rs
Due: none

insert in vectors index fixed (#220)
  nucliadb_vectors/src/query_insert/mod.rs
Due: none

basic flow cover, test passing
  nucliadb_vectors2/src/disk_structure/mod.rs
  nucliadb_vectors2/src/hnsw/mod.rs
  nucliadb_vectors2/src/hnsw/ops.rs
  nucliadb_vectors2/src/index/mod.rs
  nucliadb_vectors2/src/lib.rs
  nucliadb_vectors2/src/tests/mod.rs
  nucliadb_vectors2/src/vector/mod.rs
Due: none

Fix
  README.md
  nucliadb/nucliadb/__init__.py
  nucliadb/nucliadb/tests/__init__.py
  nucliadb/nucliadb/tests/conftest.py
  nucliadb/nucliadb/tests/fixtures.py
  nucliadb/nucliadb/tests/test_api.py
  nucliadb/requirements-sources.txt
  nucliadb_ingest/nucliadb_ingest/consumer/pull.py
  nucliadb_ingest/nucliadb_ingest/maindb/local.py
  nucliadb_ingest/nucliadb_ingest/orm/abc.py
  nucliadb_ingest/nucliadb_ingest/orm/knowledgebox.py
  nucliadb_ingest/nucliadb_ingest/orm/local_node.py
  nucliadb_ingest/nucliadb_ingest/orm/local_shard.py
  nucliadb_ingest/nucliadb_ingest/orm/node.py
  nucliadb_ingest/nucliadb_ingest/orm/processor.py
  nucliadb_ingest/nucliadb_ingest/orm/resource.py
  nucliadb_ingest/nucliadb_ingest/orm/shard.py
  nucliadb_ingest/nucliadb_ingest/processing.py
  nucliadb_ingest/nucliadb_ingest/service/writer.py
  nucliadb_ingest/nucliadb_ingest/utils.py
  nucliadb_models/nucliadb_models/common.py
  nucliadb_models/nucliadb_models/metadata.py
  nucliadb_models/nucliadb_models/resource.py
  nucliadb_one/nucliadb_one/lifecycle.py
  nucliadb_train/nucliadb_train/server.py
  nucliadb_utils/nucliadb_utils/settings.py
  nucliadb_writer/nucliadb_writer/lifecycle.py
  nucliadb_writer/nucliadb_writer/resource/basic.py
Due: isort_ingest, black_ingest, flake8_ingest, isort_utils, black_utils, flake8_utils

Delete test
  test.ipynb
Due: none

Update nucliadb_ingest/nucliadb_ingest/orm/abc.py
  nucliadb_ingest/nucliadb_ingest/orm/abc.py
Due: isort_ingest, black_ingest, flake8_ingest

Fix
  nucliadb_ingest/nucliadb_ingest/orm/utils.py
  nucliadb_one/requirements-sources.txt
Due: isort_ingest, black_ingest, flake8_ingest

Fix
  nucliadb_ingest/nucliadb_ingest/orm/utils.py
Due: isort_ingest, black_ingest, flake8_ingest

Fix Fix
  nucliadb_ingest/nucliadb_ingest/orm/utils.py
Due: isort_ingest, black_ingest, flake8_ingest

Fix mypy
  .github/workflows/nucliadb.yml
  Makefile
  nucliadb/nucliadb/__init__.py
  nucliadb/nucliadb/py.typed
  nucliadb/nucliadb/tests/fixtures.py
  nucliadb/nucliadb/tests/test_api.py
  nucliadb/requirements.txt
  nucliadb_dataset/nucliadb_dataset/__init__.py
  nucliadb_dataset/nucliadb_dataset/api.py
  nucliadb_dataset/nucliadb_dataset/nuclia.py
  nucliadb_dataset/nucliadb_dataset/settings.py
  nucliadb_one/nucliadb_one/py.typed
Due: none

Fix
  .github/workflows/nucliadb.yml
  nucliadb_ingest/nucliadb_ingest/orm/utils.py
Due: isort_ingest, black_ingest, flake8_ingest

Fix
  nucliadb_ingest/nucliadb_ingest/orm/processor.py
  nucliadb_utils/nucliadb_utils/storages/gcs.py
Due: isort_ingest, black_ingest, flake8_ingest, isort_utils, black_utils, flake8_utils

Disable isort
  .github/workflows/nucliadb_ingest.yml
Due: none

Fix
  .github/workflows/nucliadb_ingest.yml
  nucliadb_ingest/nucliadb_ingest/orm/utils.py
Due: isort_ingest, black_ingest, flake8_ingest

Path conditions:
  isort_ingest: any of: nucliadb_ingest/.*\.py$$
  black_ingest: any of: nucliadb_ingest/.*\.py$$
  flake8_ingest: any of: nucliadb_ingest/.*\.py$$
  isort_utils: any of: nucliadb_utils/.*\.py$$
  black_utils: any of: nucliadb_utils/.*\.py$$
  flake8_utils: any of: nucliadb_utils/.*\.py$$
