Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint_nucliadb
        name: Lint nucliadb
        entry: make -C nucliadb lint
        language: system
        files: (^nucliadb/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_dataset
        name: Lint nucliadb_dataset
        entry: make -C nucliadb_dataset lint
        language: system
        files: (^nucliadb_dataset/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_models
        name: Lint nucliadb_models
        entry: make -C nucliadb_models lint
        language: system
        files: (^nucliadb_models/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_node
        name: Lint nucliadb_node
        entry: make -C nucliadb_node lint
        language: system
        files: (^nucliadb_node/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_node_binding
        name: Lint nucliadb_node_binding
        entry: make -C nucliadb_node_binding lint
        language: system
        files: (^nucliadb_node_binding/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_performance
        name: Lint nucliadb_performance
        entry: make -C nucliadb_performance lint
        language: system
        files: (^nucliadb_performance/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_sdk
        name: Lint nucliadb_sdk
        entry: make -C nucliadb_sdk lint
        language: system
        files: (^nucliadb_sdk/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_telemetry
        name: Lint nucliadb_telemetry
        entry: make -C nucliadb_telemetry lint
        language: system
        files: (^nucliadb_telemetry/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_utils
        name: Lint nucliadb_utils
        entry: make -C nucliadb_utils lint
        language: system
        files: (^nucliadb_utils/)
        types: ["python"]
        pass_filenames: false

      - id: rustfmt_nucliadb
        name: fmt
        entry: cargo fmt --check
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nucliadb
        name: clippy
        entry: cargo clippy --all-features -- -D warnings
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

Switch to config-rs
  nidx/Cargo.lock
  nidx/Cargo.toml
  nidx/src/api.rs
  nidx/src/indexer.rs
  nidx/src/main.rs
  nidx/src/maintenance/scheduler.rs
  nidx/src/maintenance/worker.rs
  nidx/src/metadata.rs
  nidx/src/searcher.rs
  nidx/src/settings.rs
  nidx/tests/common/node_services.rs
Due: none

Fix settings deserialization
  nidx/src/settings.rs
Due: none

WIP: Everyone uses the same pool
  nidx/src/api.rs
  nidx/src/indexer.rs
  nidx/src/maintenance/scheduler.rs
  nidx/src/maintenance/worker.rs
  nidx/src/metadata.rs
  nidx/src/searcher.rs
  nidx/src/settings.rs
  nidx/tests/common/mod.rs
  nidx/tests/common/node_services.rs
  nidx/tests/test_shards.rs
Due: none

No more node
  nidx/tests/common/mod.rs
  nidx/tests/common/services.rs
  nidx/tests/test_shards.rs
Due: none

Indexing happens in a blocking task
  nidx/src/indexer.rs
  nidx/src/maintenance/scheduler.rs
  nidx/src/maintenance/worker.rs
  nidx/tests/shards_api.rs
  nidx/tests/synced_searcher.rs
Due: none

Update nidx/src/api.rs
  nidx/src/api.rs
Due: none

Nidx node tests (#2602)
  nidx/Cargo.lock
  nidx/Cargo.toml
  nidx/src/api.rs
  nidx/src/api/grpc.rs
  nidx/src/grpc_server.rs
  nidx/src/indexer.rs
  nidx/src/main.rs
  nidx/src/maintenance/scheduler.rs
  nidx/src/maintenance/worker.rs
  nidx/src/metadata.rs
  nidx/src/searcher.rs
  nidx/src/searcher/grpc.rs
  nidx/src/settings.rs
  nidx/tests/common/mod.rs
  nidx/tests/common/services.rs
  nidx/tests/test_shards.rs
Due: none

address pr comment
  charts/nucliadb_reader/templates/reader.vs.yaml
Due: none

cleanup of collector feedback (#2589)
  charts/nucliadb_reader/templates/reader.vs.yaml
  nucliadb/src/nucliadb/learning_proxy.py
  nucliadb/src/nucliadb/reader/api/v1/__init__.py
  nucliadb/src/nucliadb/reader/api/v1/learning_collector.py
  nucliadb/tests/reader/integration/api/v1/test_learning_collector.py
Due: lint_nucliadb

Nidx query (#2593)
  nidx/.sqlx/query-0cfce9b29547f8f5bafa6e440f86103be7b8c4ad2fd92db9ac223f4efbe23d10.json
  nidx/.sqlx/query-2a5d92fb1638df830a4477a7cdf24e6db6b43034b7bbe74fdfb63e8afe2c4071.json
  nidx/.sqlx/query-6208756a452796d057772b2d15d7b9b2de8fe8c408786fa8cc4b17f5befcf06f.json
  nidx/Cargo.lock
  nidx/nidx_text/Cargo.toml
  nidx/nidx_text/src/lib.rs
  nidx/nidx_text/src/prefilter.rs
  nidx/nidx_text/src/query_io.rs
  nidx/nidx_text/src/reader.rs
  nidx/nidx_text/src/search_query.rs
  nidx/nidx_text/tests/common/mod.rs
  nidx/nidx_text/tests/test_flow.rs
  nidx/nidx_text/tests/test_search.rs
  nidx/nidx_types/Cargo.toml
  nidx/nidx_types/src/lib.rs
  nidx/nidx_types/src/query_language.rs
  nidx/nidx_vector/Cargo.toml
  nidx/nidx_vector/src/data_point/ops_hnsw.rs
  nidx/nidx_vector/src/data_point/ram_hnsw.rs
  nidx/nidx_vector/src/data_point_provider/reader.rs
  nidx/nidx_vector/src/lib.rs
  nidx/nidx_vector/src/query_io.rs
  nidx/nidx_vector/src/query_language.rs
  nidx/nidx_vector/tests/test_hidden.rs
  nidx/src/api/shards.rs
  nidx/src/indexer.rs
  nidx/src/maintenance/scheduler.rs
  nidx/src/maintenance/worker.rs
  nidx/src/metadata/index.rs
  nidx/src/metadata/segment.rs
  nidx/src/searcher.rs
  nidx/src/searcher/index_cache.rs
  nidx/src/searcher/query_language.rs
  nidx/src/searcher/query_planner.rs
  nidx/src/searcher/shard_search.rs
  nidx/tests/common/mod.rs
  nidx/tests/shards_api.rs
  nidx/tests/synced_searcher.rs
Due: none

Indexing happens in a blocking task (#2603)
  nidx/src/indexer.rs
  nidx/src/maintenance/scheduler.rs
  nidx/src/maintenance/worker.rs
  nidx/tests/shards_api.rs
  nidx/tests/synced_searcher.rs
Due: none

Nidx vector cleanup (#2569)
  nidx/nidx_vector/src/data_point_provider/reader.rs
Due: none

Add index id to merge jobs (#2568)
  nidx/.sqlx/query-3c57c7059d4823d07c20d50520eda813a28f97d286f2c1197f7cddddc169ef23.json
  nidx/src/maintenance/scheduler.rs
Due: none

Logarithmic merge strategy (#2574)
  nidx/.sqlx/query-3c57c7059d4823d07c20d50520eda813a28f97d286f2c1197f7cddddc169ef23.json
  nidx/src/maintenance/scheduler.rs
Due: none

Nidx search (#2571)
  nidx/nidx_vector/src/data_point_provider/reader.rs
  nidx/src/maintenance/scheduler.rs
Due: none

Nidx vector improvements (#2598)
  nidx/.sqlx/query-4ff9f8d3f76bb30d1b2098e1d8ec93e5885bfd6fe2031c433c0439b1bcf8f2ef.json
  nidx/.sqlx/query-cfa8466a8f00f1e3df1115e83e50567674de6b10ba1d154f450f1b66ae4352ed.json
  nidx/nidx_paragraph/src/lib.rs
  nidx/nidx_relation/src/lib.rs
  nidx/nidx_tantivy/src/index_reader.rs
  nidx/nidx_tantivy/src/lib.rs
  nidx/nidx_tests/src/lib.rs
  nidx/nidx_text/src/lib.rs
  nidx/nidx_text/tests/test_flow.rs
  nidx/nidx_types/src/lib.rs
  nidx/nidx_vector/src/data_point/mod.rs
  nidx/nidx_vector/src/data_point/node.rs
  nidx/nidx_vector/src/data_point_provider/mod.rs
  nidx/nidx_vector/src/data_point_provider/reader.rs
  nidx/nidx_vector/src/data_types/dtrie_ram.rs
  nidx/nidx_vector/src/formula/mod.rs
  nidx/nidx_vector/src/indexer.rs
  nidx/nidx_vector/src/lib.rs
  nidx/nidx_vector/tests/common/mod.rs
  nidx/nidx_vector/tests/test_basic_search.rs
  nidx/nidx_vector/tests/test_hidden.rs
  nidx/src/indexer.rs
  nidx/src/maintenance/scheduler.rs
  nidx/src/metadata/segment.rs
  nidx/src/searcher/query_planner.rs
  nidx/tests/shards_api.rs
  nidx/tests/synced_searcher.rs
Due: none

Nidx relation (#2596)
  nidx/Cargo.lock
  nidx/Cargo.toml
  nidx/nidx_relation/Cargo.toml
  nidx/nidx_relation/src/io_maps.rs
  nidx/nidx_relation/src/lib.rs
  nidx/nidx_relation/src/reader.rs
  nidx/nidx_relation/src/resource_indexer.rs
  nidx/nidx_relation/src/schema.rs
  nidx/nidx_relation/tests/common/mod.rs
  nidx/nidx_relation/tests/test_reader.rs
  nidx/nidx_relation/tests/test_writer.rs
  nidx/src/api/shards.rs
  nidx/src/indexer.rs
  nidx/src/maintenance/worker.rs
  nidx/src/searcher/index_cache.rs
  nidx/src/searcher/shard_search.rs
  nidx/tests/shards_api.rs
Due: none

Nidx tantivy & texts (#2584)
  nidx/.sqlx/query-733c3ebacc86f444bf5e2dd79ade660c291e88a00fc09b722f6e2e191545874c.json
  nidx/.sqlx/query-7a7e59e47b30b12237511fd3d7da2d17b0471ad2b006af48d6a6f587c779692b.json
  nidx/.sqlx/query-aca588cca57a85e4d7fcc40c23cd87e57d53d11ca550d78e7e3d5e39e524fcd3.json
  nidx/.sqlx/query-dbba7b3d3289425bae711aedbf73fbc3699f857f86f84d95c3b556d05c5658b0.json
  nidx/.sqlx/query-f39970929b426bf50f68a51999092522453358903d24af3c8a1fceee11133d2c.json
  nidx/.sqlx/query-fac05aa63949c990a45330567d48ee55ae95007ae1cc6939a1bc1d75e6e26e8d.json
  nidx/Cargo.lock
  nidx/Cargo.toml
  nidx/migrations/20241007163501_initial.sql
  nidx/nidx_tantivy/Cargo.toml
  nidx/nidx_tantivy/src/index_reader.rs
  nidx/nidx_tantivy/src/lib.rs
  nidx/nidx_text/Cargo.toml
  nidx/nidx_text/src/lib.rs
  nidx/nidx_text/src/query_io.rs
  nidx/nidx_text/src/query_language.rs
  nidx/nidx_text/src/reader.rs
  nidx/nidx_text/src/schema.rs
  nidx/nidx_text/src/search_query.rs
  nidx/nidx_text/tests/common.rs
  nidx/nidx_text/tests/test_flow.rs
  nidx/nidx_text/tests/test_search.rs
  nidx/nidx_text/tests/test_streaming.rs
  nidx/nidx_types/Cargo.toml
  nidx/nidx_types/src/lib.rs
  nidx/nidx_vector/src/data_point/mod.rs
  nidx/nidx_vector/src/data_point_provider/reader.rs
  nidx/nidx_vector/src/indexer.rs
  nidx/nidx_vector/src/lib.rs
  nidx/nidx_vector/tests/test_hidden.rs
  nidx/src/indexer.rs
  nidx/src/maintenance/scheduler.rs
  nidx/src/maintenance/worker.rs
  nidx/src/metadata.rs
  nidx/src/metadata/index.rs
  nidx/src/metadata/merge_job.rs
  nidx/src/metadata/segment.rs
  nidx/src/searcher/index_cache.rs
  nidx/src/searcher/sync.rs
Due: none

fix merge
  nidx/src/maintenance/scheduler.rs
Due: none

Missing default
  nidx/src/settings.rs
Due: none

Remove some deadcode
  nidx/nidx_text/src/reader.rs
  nidx/nidx_vector/src/data_point_provider/mod.rs
Due: none

Relax otel dependencies
  nucliadb_telemetry/setup.py
Due: lint_nucliadb_telemetry

Fix synonyms logic
  nucliadb/src/nucliadb/search/search/query.py
Due: lint_nucliadb

Improve
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/tests/nucliadb/integration/test_synonyms.py
Due: lint_nucliadb

update usage protos with new DA_GUARD field
  nucliadb_protos/kb_usage.proto
  nucliadb_protos/python/src/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/audit_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/dataset_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/dataset_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/kb_usage_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/kb_usage_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/knowledgebox_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/migrations_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/migrations_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/noderesources_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/nodewriter_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/nodewriter_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/nodewriter_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/replication_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/replication_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/replication_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/standalone_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/standalone_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/standalone_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/utils_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/utils_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2_grpc.pyi
Due: none

Fix test
  nucliadb/tests/search/unit/search/test_query.py
Due: lint_nucliadb

Relax otel dependencies (#2605)
  nucliadb_telemetry/setup.py
Due: lint_nucliadb_telemetry

Improve test and logic
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/tests/search/unit/search/test_query.py
Due: lint_nucliadb

Broader punctuation cleanup on query terms
  nucliadb/src/nucliadb/search/search/query.py
Due: lint_nucliadb

Improve doc
  nucliadb/src/nucliadb/search/search/query.py
Due: lint_nucliadb

Fix synonyms advanced query (#2606)
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/tests/nucliadb/integration/test_synonyms.py
  nucliadb/tests/search/unit/search/test_query.py
Due: lint_nucliadb

Undo format changes
  nucliadb/src/nucliadb/ingest/orm/brain.py
  nucliadb/tests/ingest/fixtures.py
  nucliadb/tests/ingest/integration/orm/test_orm_metadata.py
  nucliadb/tests/ingest/integration/orm/test_orm_resource.py
  nucliadb_models/src/nucliadb_models/extracted.py
Due: lint_nucliadb, lint_nucliadb_models

Complete shards API
  nidx/nidx_protos/build.rs
  nidx/nidx_protos/src/lib.rs
  nidx/nidx_protos/src/nidx.proto
  nidx/src/api/grpc.rs
  nidx/src/metadata/index.rs
  nidx/src/metadata/shard.rs
  nidx/src/searcher/grpc.rs
  nidx/tests/common/services.rs
  nidx/tests/test_shards.rs
Due: none

Remove some deadcode (#2604)
  nidx/nidx_text/src/reader.rs
  nidx/nidx_vector/src/data_point_provider/mod.rs
Due: none

Parametrize RRF + Implement weighted (boosted) RRF
  nucliadb/src/nucliadb/search/search/rank_fusion.py
  nucliadb/tests/search/unit/test_rank_fusion.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

Use a model for RRF boosting
  nucliadb/src/nucliadb/search/search/rank_fusion.py
  nucliadb/tests/search/unit/test_rank_fusion.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

Add rank_fusion parameter to /find and /ask (void)
  nucliadb/src/nucliadb/search/api/v1/find.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_models/tests/test_search.py
Due: lint_nucliadb, lint_nucliadb_models
