Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: isort_nucliadb
        name: Isort
        entry: isort --profile black -c
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)
        types: ["python"]

      - id: black_nucliadb
        name: Black
        entry: black --check --verbose
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)
        types: ["python"]

      - id: flake8_nucliadb
        name: Flake8
        entry: flake8 --config=nucliadb/setup.cfg
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)
        types: ["python"]

      - id: rustfmt_nucliadb
        name: fmt
        entry: cargo +nightly fmt --check
        language: system
        files: (^nucliadb_vectors/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_paragraphs/)|(^nucliadb_texts/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nucliadb
        name: clippy
        entry: cargo clippy --all-features -- -D warnings
        language: system
        files: (^nucliadb_vectors/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_paragraphs/)|(^nucliadb_texts/)
        types: ["rust"]
        pass_filenames: false

send if node modified (#1701)
  .github/workflows/nucliadb_performance.yml
  Cargo.lock
Due: none

added proto message
  nucliadb_protos/python/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/nucliadb_protos/dataset_pb2.py
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/migrations_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.py
  nucliadb_protos/python/nucliadb_protos/replication_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/standalone_pb2.py
  nucliadb_protos/python/nucliadb_protos/train_pb2.py
  nucliadb_protos/python/nucliadb_protos/utils_pb2.py
  nucliadb_protos/python/nucliadb_protos/utils_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/writer_pb2.py
  nucliadb_protos/rust/src/utils.rs
  nucliadb_protos/utils.proto
Due: none

Test agains all release channels in rust integration tests
  nucliadb_node/tests/test_date_range_search.rs
  nucliadb_node/tests/test_download.rs
  nucliadb_node/tests/test_replication.rs
  nucliadb_node/tests/test_search_relations.rs
  nucliadb_node/tests/test_search_sorting.rs
  nucliadb_node/tests/test_shards.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Add access groups prefiltering
  nucliadb_core/src/query_planner.rs
  nucliadb_protos/nodereader.proto
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.pyi
  nucliadb_protos/rust/src/nodereader.rs
  nucliadb_texts/src/reader.rs
  nucliadb_texts/src/schema.rs
Due: rustfmt_nucliadb, clippy_nucliadb

write security correctly
  nucliadb_protos/noderesources.proto
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.pyi
  nucliadb_protos/rust/src/noderesources.rs
  nucliadb_texts/src/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

write security correctly
  nucliadb_texts/src/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Reactivate suggest test (#1394)
  nucliadb/nucliadb/tests/integration/test_suggest.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Test agains all release channels in rust integration tests (#1690)
  nucliadb_node/tests/test_date_range_search.rs
  nucliadb_node/tests/test_download.rs
  nucliadb_node/tests/test_replication.rs
  nucliadb_node/tests/test_search_relations.rs
  nucliadb_node/tests/test_search_sorting.rs
  nucliadb_node/tests/test_shards.rs
Due: rustfmt_nucliadb, clippy_nucliadb

wip
  nucliadb/nucliadb/reader/api/v1/services.py
  nucliadb/nucliadb/reader/tests/integration/api/v1/test_services.py
  nucliadb_performance/nucliadb_performance/__init__.py
  nucliadb_performance/nucliadb_performance/hosted/__init__.py
  nucliadb_performance/nucliadb_performance/standalone/__init__.py
  nucliadb_performance/nucliadb_performance/utils/__init__.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

wip
  nucliadb/nucliadb/reader/api/v1/services.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

wip
  charts/nucliadb_reader/templates/reader.vs.yaml
  nucliadb/nucliadb/reader/api/v1/services.py
  nucliadb/nucliadb/reader/reader/__init__.py
  nucliadb/nucliadb/reader/reader/activity.py
  nucliadb/nucliadb/reader/tests/integration/reader/__init__.py
  nucliadb/nucliadb/reader/tests/integration/reader/test_activity.py
  nucliadb_models/nucliadb_models/activity.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

add tests
  nucliadb/nucliadb/reader/reader/activity.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

add tests
  nucliadb/nucliadb/reader/tests/integration/api/v1/test_services.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

add tests
  nucliadb/nucliadb/reader/api/v1/services.py
  nucliadb/nucliadb/reader/reader/activity.py
  nucliadb/nucliadb/reader/tests/integration/api/v1/test_services.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

use a separate group for each subscription
  nucliadb/nucliadb/reader/reader/activity.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

added tests
  nucliadb_core/src/query_planner.rs
  nucliadb_node/tests/test_date_range_search.rs
  nucliadb_paragraphs/src/reader.rs
  nucliadb_paragraphs/src/writer.rs
  nucliadb_relations/src/service/tests.rs
  nucliadb_texts/src/reader.rs
  nucliadb_texts/tests/common/mod.rs
  nucliadb_vectors/src/service/reader.rs
  nucliadb_vectors/src/service/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

added tests
  nucliadb_node/tests/test_security_search.rs
  nucliadb_texts/src/reader.rs
  nucliadb_texts/src/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Have txn be provided in constructor
  nucliadb/nucliadb/common/cluster/manager.py
  nucliadb/nucliadb/common/datamanagers/kb.py
  nucliadb/nucliadb/ingest/orm/knowledgebox.py
  nucliadb_performance/nucliadb_performance/__init__.py
  nucliadb_performance/nucliadb_performance/hosted/__init__.py
  nucliadb_performance/nucliadb_performance/standalone/__init__.py
  nucliadb_performance/nucliadb_performance/utils/__init__.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

better coverage
  nucliadb/nucliadb/reader/reader/activity.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

final polishments
  nucliadb/nucliadb/reader/api/v1/services.py
  nucliadb/nucliadb/reader/reader/activity.py
  nucliadb/nucliadb/reader/tests/integration/api/v1/test_services.py
  nucliadb_models/nucliadb_models/activity.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

final polishments
  nucliadb_models/nucliadb_models/activity.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

simpler
  nucliadb_node/tests/test_date_range_search.rs
  nucliadb_paragraphs/src/reader.rs
  nucliadb_paragraphs/src/writer.rs
  nucliadb_protos/nodereader.proto
  nucliadb_protos/noderesources.proto
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.pyi
  nucliadb_relations/src/service/tests.rs
  nucliadb_texts/tests/common/mod.rs
  nucliadb_vectors/src/service/reader.rs
  nucliadb_vectors/src/service/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

no need to check for schema..
  nucliadb_texts/src/reader.rs
  nucliadb_texts/src/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

fix hnsw param use
  nucliadb_vectors/src/data_point/disk_hnsw.rs
  nucliadb_vectors/src/data_point/ops_hnsw.rs
  nucliadb_vectors/src/data_point/params.rs
  nucliadb_vectors/src/data_point/ram_hnsw.rs
Due: rustfmt_nucliadb, clippy_nucliadb

add nucliadb_texts2
  .github/workflows/nucliadb.yml
  .github/workflows/nucliadb_dataset.yml
  .github/workflows/nucliadb_node.yml
  .github/workflows/nucliadb_node_release.yml
  .github/workflows/nucliadb_performance.yml
  .github/workflows/nucliadb_sdk.yml
  .github/workflows/nucliadb_search.yml
  .github/workflows/nucliadb_standalone.yml
  .github/workflows/nucliadb_train.yml
  Cargo.lock
  Cargo.toml
  Dockerfile.node
  Dockerfile.node_local
  nucliadb_node/Cargo.toml
  nucliadb_node/src/shards/versions.rs
  nucliadb_node_binding/cov.sh
  nucliadb_texts2/Cargo.toml
  nucliadb_texts2/src/lib.rs
  nucliadb_texts2/src/reader.rs
  nucliadb_texts2/src/schema.rs
  nucliadb_texts2/src/search_query.rs
  nucliadb_texts2/src/writer.rs
  nucliadb_texts2/tests/common/mod.rs
  nucliadb_texts2/tests/test_reader.rs
  nucliadb_texts2/tests/test_search.rs
  nucliadb_texts2/tests/test_streaming.rs
  nucliadb_texts2/tests/test_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

add nucliadb_texts2
  nucliadb_texts/tests/test_search.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Add nucliadb_texts2 (#1704)
  .github/workflows/nucliadb.yml
  .github/workflows/nucliadb_dataset.yml
  .github/workflows/nucliadb_node.yml
  .github/workflows/nucliadb_node_release.yml
  .github/workflows/nucliadb_performance.yml
  .github/workflows/nucliadb_sdk.yml
  .github/workflows/nucliadb_search.yml
  .github/workflows/nucliadb_standalone.yml
  .github/workflows/nucliadb_train.yml
  Cargo.lock
  Cargo.toml
  Dockerfile.node
  Dockerfile.node_local
  nucliadb_node/Cargo.toml
  nucliadb_node/src/shards/versions.rs
  nucliadb_node_binding/cov.sh
  nucliadb_texts2/Cargo.toml
  nucliadb_texts2/src/lib.rs
  nucliadb_texts2/src/reader.rs
  nucliadb_texts2/src/schema.rs
  nucliadb_texts2/src/search_query.rs
  nucliadb_texts2/src/writer.rs
  nucliadb_texts2/tests/common/mod.rs
  nucliadb_texts2/tests/test_reader.rs
  nucliadb_texts2/tests/test_search.rs
  nucliadb_texts2/tests/test_streaming.rs
  nucliadb_texts2/tests/test_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

fix hnsw param use (#1695)
  nucliadb_vectors/src/data_point/disk_hnsw.rs
  nucliadb_vectors/src/data_point/ops_hnsw.rs
  nucliadb_vectors/src/data_point/params.rs
  nucliadb_vectors/src/data_point/ram_hnsw.rs
Due: rustfmt_nucliadb, clippy_nucliadb

store function pointer instead of similarity
  nucliadb_vectors/src/data_point/mod.rs
Due: rustfmt_nucliadb, clippy_nucliadb

polish models
  nucliadb/nucliadb/reader/reader/activity.py
  nucliadb/nucliadb/reader/tests/integration/api/v1/test_services.py
  nucliadb_models/nucliadb_models/activity.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Endpoint to get notifications of KB activity (#1702)
  charts/nucliadb_reader/templates/reader.vs.yaml
  nucliadb/nucliadb/reader/api/v1/services.py
  nucliadb/nucliadb/reader/reader/__init__.py
  nucliadb/nucliadb/reader/reader/activity.py
  nucliadb/nucliadb/reader/tests/integration/api/v1/test_services.py
  nucliadb/nucliadb/reader/tests/integration/reader/__init__.py
  nucliadb/nucliadb/reader/tests/integration/reader/test_activity.py
  nucliadb_models/nucliadb_models/__init__.py
  nucliadb_models/nucliadb_models/activity.py
  nucliadb_performance/nucliadb_performance/hosted/__init__.py
  nucliadb_performance/nucliadb_performance/standalone/__init__.py
  nucliadb_performance/nucliadb_performance/utils/__init__.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

store function pointer instead of similarity (#1706)
  nucliadb_vectors/src/data_point/mod.rs
Due: rustfmt_nucliadb, clippy_nucliadb

docker auth without Personal Access Tokens
  .github/workflows/nucliadb.yml
  .github/workflows/nucliadb_node.yml
  .github/workflows/nucliadb_search.yml
  .github/workflows/nucliadb_standalone.yml
Due: none

Activity notification fixes
  nucliadb/nucliadb/common/cluster/manager.py
  nucliadb/nucliadb/ingest/orm/processor/__init__.py
  nucliadb/nucliadb/reader/reader/activity.py
  nucliadb_models/nucliadb_models/activity.py
  nucliadb_protos/python/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/nucliadb_protos/dataset_pb2.py
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/nucliadb_protos/migrations_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.py
  nucliadb_protos/python/nucliadb_protos/replication_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/nucliadb_protos/standalone_pb2.py
  nucliadb_protos/python/nucliadb_protos/train_pb2.py
  nucliadb_protos/python/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/utils_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/rust/src/fdbwriter.rs
  nucliadb_protos/writer.proto
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

improve doc
  nucliadb_models/nucliadb_models/activity.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

improve doc
  nucliadb/nucliadb/reader/api/v1/services.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

improve doc
  nucliadb/nucliadb/reader/reader/activity.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Activity notification fixes
  nucliadb/nucliadb/reader/api/v1/services.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Fix black
  nucliadb/nucliadb/reader/api/v1/services.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb
