Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint_nucliadb
        name: Lint nucliadb
        entry: make -C nucliadb lint
        language: system
        files: (^nucliadb/)
        types: ["python"]

      - id: lint_nucliadb_dataset
        name: Lint nucliadb_dataset
        entry: make -C nucliadb_dataset lint
        language: system
        files: (^nucliadb_dataset/)
        types: ["python"]

      - id: lint_nucliadb_models
        name: Lint nucliadb_models
        entry: make -C nucliadb_models lint
        language: system
        files: (^nucliadb_models/)
        types: ["python"]

      - id: lint_nucliadb_node
        name: Lint nucliadb_node
        entry: make -C nucliadb_node lint
        language: system
        files: (^nucliadb_node/)
        types: ["python"]

      - id: lint_nucliadb_node_binding
        name: Lint nucliadb_node_binding
        entry: make -C nucliadb_node_binding lint
        language: system
        files: (^nucliadb_node_binding/)
        types: ["python"]

      - id: lint_nucliadb_performance
        name: Lint nucliadb_performance
        entry: make -C nucliadb_performance lint
        language: system
        files: (^nucliadb_performance/)
        types: ["python"]

      - id: lint_nucliadb_sdk
        name: Lint nucliadb_sdk
        entry: make -C nucliadb_sdk lint
        language: system
        files: (^nucliadb_sdk/)
        types: ["python"]

      - id: lint_nucliadb_telemetry
        name: Lint nucliadb_telemetry
        entry: make -C nucliadb_telemetry lint
        language: system
        files: (^nucliadb_telemetry/)
        types: ["python"]

      - id: lint_nucliadb_utils
        name: Lint nucliadb_utils
        entry: make -C nucliadb_utils lint
        language: system
        files: (^nucliadb_utils/)
        types: ["python"]

      - id: rustfmt_nucliadb
        name: fmt
        entry: cargo +nightly fmt --check
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nucliadb
        name: clippy
        entry: cargo clippy --all-features -- -D warnings
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

box readers + swap update
  nucliadb_core/src/paragraphs.rs
  nucliadb_core/src/relations.rs
  nucliadb_core/src/texts.rs
  nucliadb_core/src/vectors.rs
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_vectors/src/data_point_provider/reader.rs
  nucliadb_vectors/src/service/reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Try now
  Makefile
  nucliadb/requirements.txt
  nucliadb_node/requirements.txt
  nucliadb_telemetry/setup.py
Due: lint_nucliadb_telemetry

CI wip
  .github/workflows/ci.yml
  Dockerfile.node_prebuilt
  nucliadb/nucliadb/tests/integration/common/cluster/test_rebalance.py
  nucliadb_node/nucliadb_node/tests/fixtures.py
  nucliadb_node/nucliadb_node/tests/integration/test_indexing.py
Due: lint_nucliadb, lint_nucliadb_node

Remove previous ask resource feature
  nucliadb/nucliadb/search/api/v1/__init__.py
  nucliadb/nucliadb/search/api/v1/resource/ask.py
  nucliadb/nucliadb/search/predict.py
  nucliadb/nucliadb/search/tests/unit/api/v1/resource/test_ask.py
  nucliadb/nucliadb/search/tests/unit/test_predict.py
  nucliadb/nucliadb/tests/integration/test_ask.py
  nucliadb_models/nucliadb_models/search.py
  nucliadb_utils/nucliadb_utils/const.py
  nucliadb_utils/nucliadb_utils/featureflagging.py
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_utils

fix makefile
  Makefile
Due: none

fix mypy
  nucliadb_telemetry/nucliadb_telemetry/logs.py
Due: lint_nucliadb_telemetry

box readers + swap update (#2122)
  nucliadb_core/src/paragraphs.rs
  nucliadb_core/src/relations.rs
  nucliadb_core/src/texts.rs
  nucliadb_core/src/vectors.rs
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_vectors/src/data_point_provider/reader.rs
  nucliadb_vectors/src/service/reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Add generated files on links
  nucliadb/nucliadb/export_import/utils.py
  nucliadb/nucliadb/ingest/fields/link.py
  nucliadb/nucliadb/ingest/tests/integration/orm/test_orm_link_extracted.py
  nucliadb_models/nucliadb_models/extracted.py
  nucliadb_protos/python/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/nucliadb_protos/dataset_pb2.py
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/nucliadb_protos/migrations_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.py
  nucliadb_protos/python/nucliadb_protos/replication_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/standalone_pb2.py
  nucliadb_protos/python/nucliadb_protos/train_pb2.py
  nucliadb_protos/python/nucliadb_protos/utils_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.py
  nucliadb_protos/resources.proto
  nucliadb_protos/rust/src/resources.rs
Due: lint_nucliadb, lint_nucliadb_models

FIX
  nucliadb_protos/python/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/resources.proto
  nucliadb_protos/rust/src/resources.rs
Due: none

Concurrency by branch
  .github/workflows/e2e.yml
  .github/workflows/nucliadb.yml
  .github/workflows/nucliadb_dataset.yml
  .github/workflows/nucliadb_ingest.yml
  .github/workflows/nucliadb_migrations.yml
  .github/workflows/nucliadb_models.yml
  .github/workflows/nucliadb_node.yml
  .github/workflows/nucliadb_node_binding.yml
  .github/workflows/nucliadb_node_release.yml
  .github/workflows/nucliadb_reader.yml
  .github/workflows/nucliadb_sdk.yml
  .github/workflows/nucliadb_search.yml
  .github/workflows/nucliadb_shared.yml
  .github/workflows/nucliadb_telemetry.yml
  .github/workflows/nucliadb_train.yml
  .github/workflows/nucliadb_utils.yml
  .github/workflows/nucliadb_writer.yml
Due: none

Concurrency by branch (#2126)
  .github/workflows/e2e.yml
  .github/workflows/nucliadb.yml
  .github/workflows/nucliadb_dataset.yml
  .github/workflows/nucliadb_ingest.yml
  .github/workflows/nucliadb_migrations.yml
  .github/workflows/nucliadb_models.yml
  .github/workflows/nucliadb_node.yml
  .github/workflows/nucliadb_node_binding.yml
  .github/workflows/nucliadb_node_release.yml
  .github/workflows/nucliadb_reader.yml
  .github/workflows/nucliadb_sdk.yml
  .github/workflows/nucliadb_search.yml
  .github/workflows/nucliadb_shared.yml
  .github/workflows/nucliadb_telemetry.yml
  .github/workflows/nucliadb_train.yml
  .github/workflows/nucliadb_utils.yml
  .github/workflows/nucliadb_writer.yml
Due: none

Remove previous ask resource feature (#2124)
  nucliadb/nucliadb/search/api/v1/__init__.py
  nucliadb/nucliadb/search/api/v1/resource/ask.py
  nucliadb/nucliadb/search/predict.py
  nucliadb/nucliadb/search/tests/unit/api/v1/resource/test_ask.py
  nucliadb/nucliadb/search/tests/unit/test_predict.py
  nucliadb/nucliadb/tests/integration/test_ask.py
  nucliadb_models/nucliadb_models/search.py
  nucliadb_utils/nucliadb_utils/const.py
  nucliadb_utils/nucliadb_utils/featureflagging.py
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_utils

Stricter grpcio dependency requirements to ease installs (#2123)
  Makefile
  nucliadb/requirements.txt
  nucliadb_node/requirements.txt
  nucliadb_telemetry/nucliadb_telemetry/logs.py
  nucliadb_telemetry/setup.py
Due: lint_nucliadb_telemetry

Add generated files on links (#2125)
  nucliadb/nucliadb/export_import/utils.py
  nucliadb/nucliadb/ingest/fields/link.py
  nucliadb/nucliadb/ingest/tests/integration/orm/test_orm_link_extracted.py
  nucliadb_models/nucliadb_models/extracted.py
  nucliadb_protos/python/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/nucliadb_protos/dataset_pb2.py
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/nucliadb_protos/migrations_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.py
  nucliadb_protos/python/nucliadb_protos/replication_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/standalone_pb2.py
  nucliadb_protos/python/nucliadb_protos/train_pb2.py
  nucliadb_protos/python/nucliadb_protos/utils_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.py
  nucliadb_protos/resources.proto
  nucliadb_protos/rust/src/resources.rs
Due: lint_nucliadb, lint_nucliadb_models

Limit the amount of vectorsets allowed
  nucliadb_node/src/shards/indexes.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Get min score from query endpoint
  nucliadb/nucliadb/ingest/service/writer.py
  nucliadb/nucliadb/ingest/tests/integration/orm/test_processor.py
  nucliadb/nucliadb/ingest/tests/unit/service/test_writer.py
  nucliadb/nucliadb/search/search/query.py
  nucliadb/nucliadb/search/tests/unit/search/test_query.py
  nucliadb/nucliadb/tests/integration/test_matryoshka_embeddings.py
  nucliadb_models/nucliadb_models/vectors.py
  nucliadb_protos/knowledgebox.proto
  nucliadb_protos/python/nucliadb_protos/audit_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/dataset_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/migrations_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/replication_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/replication_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/standalone_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/standalone_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/utils_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/writer_pb2_grpc.pyi
  nucliadb_protos/rust/src/knowledgebox.rs
Due: lint_nucliadb, lint_nucliadb_models

fix other
  nucliadb_utils/nucliadb_utils/storages/s3.py
Due: lint_nucliadb_utils

Fix S3 storage delete_object param name (#2112)
  nucliadb_utils/nucliadb_utils/storages/s3.py
Due: lint_nucliadb_utils

Get min score from query endpoint (#2127)
  nucliadb/nucliadb/ingest/service/writer.py
  nucliadb/nucliadb/ingest/tests/integration/orm/test_processor.py
  nucliadb/nucliadb/ingest/tests/unit/service/test_writer.py
  nucliadb/nucliadb/search/search/query.py
  nucliadb/nucliadb/search/tests/unit/search/test_query.py
  nucliadb/nucliadb/tests/integration/test_matryoshka_embeddings.py
  nucliadb_models/nucliadb_models/vectors.py
  nucliadb_protos/knowledgebox.proto
  nucliadb_protos/python/nucliadb_protos/audit_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/dataset_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/migrations_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/replication_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/replication_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/standalone_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/standalone_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/utils_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/writer_pb2_grpc.pyi
  nucliadb_protos/rust/src/knowledgebox.rs
Due: lint_nucliadb, lint_nucliadb_models

Limit the amount of vectorsets allowed (#2128)
  nucliadb_node/src/shards/indexes.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Update rust deps
  Cargo.lock
  nucliadb_core/Cargo.toml
  nucliadb_node/Cargo.toml
  nucliadb_node/src/telemetry.rs
  nucliadb_node_binding/Cargo.toml
  nucliadb_node_binding/src/writer.rs
  nucliadb_paragraphs2/Cargo.toml
  nucliadb_paragraphs3/Cargo.toml
  nucliadb_protos/rust/Cargo.toml
  nucliadb_protos/rust/src/fdbwriter.rs
  nucliadb_protos/rust/src/knowledgebox.rs
  nucliadb_protos/rust/src/nodereader.rs
  nucliadb_protos/rust/src/noderesources.rs
  nucliadb_protos/rust/src/nodewriter.rs
  nucliadb_protos/rust/src/replication.rs
  nucliadb_protos/rust/src/resources.rs
  nucliadb_protos/rust/src/utils.rs
  nucliadb_relations2/Cargo.toml
  nucliadb_texts2/Cargo.toml
  nucliadb_texts2/src/search_query.rs
  vectors_benchmark/Cargo.toml
Due: rustfmt_nucliadb, clippy_nucliadb

Reduce logging level in replication
  nucliadb_node/src/replication/replicator.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Standalone migrations
  nucliadb/nucliadb/common/cluster/standalone/utils.py
  nucliadb/nucliadb/common/context/__init__.py
  nucliadb/nucliadb/standalone/migrations.py
  nucliadb/nucliadb/standalone/run.py
  nucliadb_utils/nucliadb_utils/storages/local.py
  nucliadb_utils/nucliadb_utils/utilities.py
Due: lint_nucliadb, lint_nucliadb_utils

Better docstring
  nucliadb/nucliadb/standalone/migrations.py
Due: lint_nucliadb

Add unit test
  nucliadb/nucliadb/common/locking.py
  nucliadb/nucliadb/migrator/migrator.py
  nucliadb/nucliadb/standalone/migrations.py
  nucliadb/nucliadb/standalone/tests/unit/test_migrations.py
  nucliadb/nucliadb/standalone/tests/unit/test_run.py
  nucliadb/nucliadb/tests/integration/common/test_locking.py
Due: lint_nucliadb

fix locking
  nucliadb/nucliadb/common/locking.py
  nucliadb/nucliadb/tests/integration/common/test_locking.py
Due: lint_nucliadb

Bundle protoc
  Cargo.lock
  nucliadb_protos/rust/Cargo.toml
  nucliadb_protos/rust/build.rs
Due: none

Set normalize_vectors as optional
  nucliadb_node/src/shards/metadata.rs
Due: rustfmt_nucliadb, clippy_nucliadb

silent port-forward
  .github/workflows/e2e.yml
Due: none

Update rust deps (#2130)
  Cargo.lock
  nucliadb_core/Cargo.toml
  nucliadb_node/Cargo.toml
  nucliadb_node/src/replication/replicator.rs
  nucliadb_node/src/telemetry.rs
  nucliadb_node_binding/Cargo.toml
  nucliadb_node_binding/src/writer.rs
  nucliadb_paragraphs2/Cargo.toml
  nucliadb_paragraphs3/Cargo.toml
  nucliadb_protos/rust/Cargo.toml
  nucliadb_protos/rust/build.rs
  nucliadb_protos/rust/src/fdbwriter.rs
  nucliadb_protos/rust/src/knowledgebox.rs
  nucliadb_protos/rust/src/nodereader.rs
  nucliadb_protos/rust/src/noderesources.rs
  nucliadb_protos/rust/src/nodewriter.rs
  nucliadb_protos/rust/src/replication.rs
  nucliadb_protos/rust/src/resources.rs
  nucliadb_protos/rust/src/utils.rs
  nucliadb_relations2/Cargo.toml
  nucliadb_texts2/Cargo.toml
  nucliadb_texts2/src/search_query.rs
  vectors_benchmark/Cargo.toml
Due: rustfmt_nucliadb, clippy_nucliadb

Onprem migrations on startup (#2132)
  .github/workflows/e2e.yml
  nucliadb/nucliadb/common/cluster/standalone/utils.py
  nucliadb/nucliadb/common/context/__init__.py
  nucliadb/nucliadb/common/locking.py
  nucliadb/nucliadb/migrator/migrator.py
  nucliadb/nucliadb/standalone/migrations.py
  nucliadb/nucliadb/standalone/run.py
  nucliadb/nucliadb/standalone/tests/unit/test_migrations.py
  nucliadb/nucliadb/standalone/tests/unit/test_run.py
  nucliadb/nucliadb/tests/integration/common/test_locking.py
  nucliadb_utils/nucliadb_utils/storages/local.py
  nucliadb_utils/nucliadb_utils/utilities.py
Due: lint_nucliadb, lint_nucliadb_utils

Add while running too
  nucliadb/nucliadb/tests/integration/common/cluster/test_rollover.py
Due: lint_nucliadb

fix test
  nucliadb/nucliadb/common/cluster/rollover.py
  nucliadb/nucliadb/tests/integration/common/cluster/test_rollover.py
Due: lint_nucliadb

Do not wait for nodes on onprem deploy
  nucliadb/nucliadb/common/cluster/utils.py
Due: lint_nucliadb

fix lint
  nucliadb/nucliadb/tests/integration/common/cluster/test_rollover.py
Due: lint_nucliadb

Do not wait for nodes on onprem deploy (#2134)
  nucliadb/nucliadb/common/cluster/utils.py
Due: lint_nucliadb

Pre-checks try 2
  .github/workflows/ci.yml
Due: none

Set normalize_vectors as optional (#2133)
  nucliadb_node/src/shards/metadata.rs
Due: rustfmt_nucliadb, clippy_nucliadb

CI wip (#2121)
  .github/workflows/ci.yml
  Dockerfile.node_prebuilt
  nucliadb/nucliadb/tests/integration/common/cluster/test_rebalance.py
  nucliadb_node/nucliadb_node/tests/fixtures.py
  nucliadb_node/nucliadb_node/tests/integration/test_indexing.py
Due: lint_nucliadb, lint_nucliadb_node

Fix wrong usage of fastapi endpoint docs
  nucliadb/nucliadb/reader/api/v1/download.py
  nucliadb/nucliadb/reader/api/v1/export_import.py
  nucliadb/nucliadb/reader/api/v1/knowledgebox.py
  nucliadb/nucliadb/reader/api/v1/learning_collector.py
  nucliadb/nucliadb/reader/api/v1/learning_config.py
  nucliadb/nucliadb/reader/api/v1/resource.py
  nucliadb/nucliadb/reader/api/v1/services.py
  nucliadb/nucliadb/search/api/v1/chat.py
  nucliadb/nucliadb/search/api/v1/feedback.py
  nucliadb/nucliadb/search/api/v1/find.py
  nucliadb/nucliadb/search/api/v1/predict_proxy.py
  nucliadb/nucliadb/search/api/v1/resource/chat.py
  nucliadb/nucliadb/search/api/v1/resource/search.py
  nucliadb/nucliadb/search/api/v1/search.py
  nucliadb/nucliadb/search/api/v1/suggest.py
  nucliadb/nucliadb/search/api/v1/summarize.py
  nucliadb/nucliadb/train/api/v1/check.py
  nucliadb/nucliadb/train/api/v1/shards.py
  nucliadb/nucliadb/train/api/v1/trainset.py
  nucliadb/nucliadb/writer/api/v1/export_import.py
  nucliadb/nucliadb/writer/api/v1/field.py
  nucliadb/nucliadb/writer/api/v1/knowledgebox.py
  nucliadb/nucliadb/writer/api/v1/learning_config.py
  nucliadb/nucliadb/writer/api/v1/resource.py
  nucliadb/nucliadb/writer/api/v1/services.py
  nucliadb/nucliadb/writer/api/v1/upload.py
  proposals/records/004-python-refactoring.md
Due: lint_nucliadb
