Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

lint_nucliadb:
  name: Lint nucliadb
  entry: make -C nucliadb lint
  language: system
  pass_filenames: false

lint_nucliadb_dataset:
  name: Lint nucliadb_dataset
  entry: make -C nucliadb_dataset lint
  language: system
  pass_filenames: false

lint_nucliadb_models:
  name: Lint nucliadb_models
  entry: make -C nucliadb_models lint
  language: system
  pass_filenames: false

lint_nucliadb_node:
  name: Lint nucliadb_node
  entry: make -C nucliadb_node lint
  language: system
  pass_filenames: false

lint_nucliadb_node_binding:
  name: Lint nucliadb_node_binding
  entry: make -C nucliadb_node_binding lint
  language: system
  pass_filenames: false

lint_nucliadb_performance:
  name: Lint nucliadb_performance
  entry: make -C nucliadb_performance lint
  language: system
  pass_filenames: false

lint_nucliadb_sdk:
  name: Lint nucliadb_sdk
  entry: make -C nucliadb_sdk lint
  language: system
  pass_filenames: false

lint_nucliadb_telemetry:
  name: Lint nucliadb_telemetry
  entry: make -C nucliadb_telemetry lint
  language: system
  pass_filenames: false

lint_nucliadb_utils:
  name: Lint nucliadb_utils
  entry: make -C nucliadb_utils lint
  language: system
  pass_filenames: false

rustfmt_nucliadb:
  name: fmt
  entry: cargo fmt --check
  language: system
  pass_filenames: false

clippy_nucliadb:
  name: clippy
  entry: cargo clippy --all-features -- -D warnings
  language: system
  pass_filenames: false

Add graph query proto
  nucliadb_protos/nodereader.proto
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.pyi
Due: none

Test for presence of fields
  nucliadb/src/nucliadb/search/search/query_parser/filter_expression.py
  nucliadb/tests/nucliadb/integration/search/test_catalog.py
  nucliadb_models/src/nucliadb_models/filters.py
Due: lint_nucliadb, lint_nucliadb_models

Cleaner check
  nucliadb/src/nucliadb/search/search/query_parser/filter_expression.py
Due: lint_nucliadb

Test for presence of fields (#2920)
  nucliadb/src/nucliadb/search/search/query_parser/filter_expression.py
  nucliadb/tests/nucliadb/integration/search/test_catalog.py
  nucliadb_models/src/nucliadb_models/filters.py
Due: lint_nucliadb, lint_nucliadb_models

Add nidx scheduler to public chart
  charts/nucliadb/templates/nidx-scheduler.yaml
Due: none

Add nidx scheduler to public chart (#2921)
  charts/nucliadb/templates/nidx-scheduler.yaml
Due: none

Tag nidx image on release
  .github/workflows/public_release.yml
Due: none

Tag nidx image (#2922)
  .github/workflows/public_release.yml
Due: none

Cleanup IndexRequests periodically
  nidx/.sqlx/query-abe9f7832f2bd799ac44008da031e8d8ab52d4f5fbfc2a7e3974e8873bae55b2.json
  nidx/.sqlx/query-e61329fbb184d48a81fbe18bb66b8f1947724b77bada24ebd56b0fbb800b2c7e.json
  nidx/nidx_binding/src/lib.rs
  nidx/src/metadata/index_request.rs
  nidx/src/scheduler.rs
Due: none

Parametrize public chart
  charts/nucliadb/templates/nidx-deploy.yaml
  charts/nucliadb/templates/nidx-worker-deploy.yaml
  charts/nucliadb/templates/nucliadb-worker-deploy.yaml
  charts/nucliadb/templates/rbac.yaml
  charts/nucliadb/values.yaml
Due: none

More chart
  charts/nucliadb/templates/nidx-deploy.yaml
  charts/nucliadb/templates/nidx-worker-svc.yaml
  charts/nucliadb/templates/nucliadb-deploy.yaml
  charts/nucliadb/values.yaml
  docker-compose.yaml
Due: none

Public chart fixes (#2923)
  charts/nucliadb/templates/nidx-scheduler.yaml
  charts/nucliadb/templates/nidx-worker-deploy.yaml
  charts/nucliadb/templates/nidx-worker-svc.yaml
  charts/nucliadb/templates/nucliadb-deploy.yaml
  charts/nucliadb/templates/nucliadb-worker-deploy.yaml
  charts/nucliadb/templates/rbac.yaml
  charts/nucliadb/values.yaml
  docker-compose.yaml
  nidx/.sqlx/query-abe9f7832f2bd799ac44008da031e8d8ab52d4f5fbfc2a7e3974e8873bae55b2.json
  nidx/.sqlx/query-e61329fbb184d48a81fbe18bb66b8f1947724b77bada24ebd56b0fbb800b2c7e.json
  nidx/nidx_binding/src/lib.rs
  nidx/src/metadata/index_request.rs
  nidx/src/scheduler.rs
Due: none

Also set nidx image version for public charts
  .github/workflows/public_release.yml
Due: none

Also set nidx image version for public charts (#2924)
  .github/workflows/public_release.yml
Due: none

Implement wait_for_sync for faster tests
  nidx/tests/common/services.rs
  nidx/tests/test_searcher_cluster.rs
  nidx/tests/test_synced_searcher.rs
Due: none

Nidx faster tests (#2925)
  nidx/tests/common/services.rs
  nidx/tests/test_searcher_cluster.rs
  nidx/tests/test_synced_searcher.rs
Due: none

More margin for sleeps in test
  nidx/tests/test_searcher_cluster.rs
Due: none

Revert "Nidx faster tests (#2925)"
  nidx/tests/common/services.rs
  nidx/tests/test_searcher_cluster.rs
  nidx/tests/test_synced_searcher.rs
Due: none

Revert "Nidx faster tests (#2925)" (#2927)
  nidx/tests/common/services.rs
  nidx/tests/test_searcher_cluster.rs
  nidx/tests/test_synced_searcher.rs
Due: none

Wait a bit for refresher
  nidx/tests/common/services.rs
Due: none

wip
  nucliadb/src/nucliadb/backups/__init__.py
  nucliadb/src/nucliadb/backups/creator.py
  nucliadb/src/nucliadb/backups/models.py
  nucliadb/src/nucliadb/backups/tasks.py
  nucliadb/src/nucliadb/export_import/tasks.py
  nucliadb/src/nucliadb/ingest/service/writer.py
  nucliadb/src/nucliadb/tasks/__init__.py
  nucliadb/src/nucliadb/tasks/consumer.py
  nucliadb/src/nucliadb/tasks/producer.py
  nucliadb/src/nucliadb/tasks/registry.py
  nucliadb/src/nucliadb/tasks/utils.py
  nucliadb/tests/nucliadb/integration/tasks/test_tasks.py
  nucliadb_protos/python/src/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2_grpc.py
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2_grpc.pyi
  nucliadb_protos/writer.proto
Due: lint_nucliadb

wip
  nucliadb/src/nucliadb/backups/creator.py
Due: lint_nucliadb

delete more
  nucliadb/src/nucliadb/common/cluster/manager.py
  nucliadb/src/nucliadb/ingest/consumer/service.py
  nucliadb/src/nucliadb/metrics_exporter.py
  nucliadb/src/nucliadb/search/app.py
  nucliadb/src/nucliadb/standalone/api_router.py
Due: lint_nucliadb

remove more
  nucliadb/src/nucliadb/common/cluster/manager.py
  nucliadb/src/nucliadb/ingest/service/writer.py
  nucliadb/src/nucliadb/purge/orphan_shards.py
  nucliadb/src/nucliadb/search/app.py
  nucliadb/src/nucliadb/tests/config.py
  nucliadb/tests/ndbfixtures/search.py
  nucliadb/tests/ndbfixtures/standalone.py
  nucliadb/tests/nucliadb/integration/test_purge.py
  nucliadb/tests/nucliadb/unit/test_health.py
  nucliadb/tests/search/integration/api/v1/test_search.py
  nucliadb/tests/search/integration/api/v1/test_suggest.py
Due: lint_nucliadb

fix tests
  nucliadb/tests/search/unit/test_app.py
Due: lint_nucliadb

Remove unused exceptions
  nucliadb/src/nucliadb/common/cluster/exceptions.py
  nucliadb/src/nucliadb/common/cluster/manager.py
Due: lint_nucliadb

wip
  nucliadb/src/nucliadb/backups/creator.py
  nucliadb/src/nucliadb/backups/models.py
  nucliadb/src/nucliadb/backups/tasks.py
  nucliadb/src/nucliadb/tasks/consumer.py
Due: lint_nucliadb

Resources without fields are processed
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/tests/nucliadb/integration/test_processing_status.py
Due: lint_nucliadb

Fix tests for non-generic fields
  nucliadb/tests/nucliadb/integration/test_processing_status.py
Due: lint_nucliadb

Fix catalog status tests
  nucliadb/tests/nucliadb/integration/search/test_catalog.py
Due: lint_nucliadb

Report prequeries results on sync ask response
  nucliadb/src/nucliadb/search/search/chat/ask.py
Due: lint_nucliadb

More complete
  nucliadb/src/nucliadb/search/search/chat/ask.py
Due: lint_nucliadb

extend test
  nucliadb/tests/nucliadb/integration/test_ask.py
Due: lint_nucliadb

Resources without fields are processed (#2929)
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/tests/nucliadb/integration/search/test_catalog.py
  nucliadb/tests/nucliadb/integration/test_processing_status.py
Due: lint_nucliadb

Remove old filters from protos (rust)
  nidx/src/searcher/query_language.rs
  nidx/src/searcher/query_planner.rs
  nidx/src/searcher/query_planner/old_filter_compatibility.rs
  nidx/src/searcher/shard_suggest.rs
  nidx/tests/test_date_range_search.rs
  nidx/tests/test_search_filtering.rs
  nidx/tests/test_suggest.rs
  nucliadb_protos/nodereader.proto
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.pyi
Due: none

Remove old filters from protos (python/pinecone)
  nucliadb/src/nucliadb/common/cluster/rebalance.py
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/src/nucliadb/train/generators/image_classifier.py
  nucliadb/tests/nucliadb/unit/common/external_index_providers/test_pinecone.py
Due: lint_nucliadb

Cleanup old filters (#2931)
  nidx/src/searcher/query_language.rs
  nidx/src/searcher/query_planner.rs
  nidx/src/searcher/query_planner/old_filter_compatibility.rs
  nidx/src/searcher/shard_suggest.rs
  nidx/tests/test_date_range_search.rs
  nidx/tests/test_search_filtering.rs
  nidx/tests/test_suggest.rs
  nucliadb/src/nucliadb/common/cluster/rebalance.py
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/src/nucliadb/train/generators/image_classifier.py
  nucliadb/tests/nucliadb/unit/common/external_index_providers/test_pinecone.py
  nucliadb_protos/nodereader.proto
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.pyi
Due: lint_nucliadb

wip
  nucliadb/src/nucliadb/backups/creator.py
  nucliadb/src/nucliadb/backups/tasks.py
Due: lint_nucliadb

remove useless checks
  nucliadb/tests/ndbfixtures/search.py
Due: lint_nucliadb

Path conditions:
  lint_nucliadb: any of: (^nucliadb/) and \.py$
  lint_nucliadb_dataset: any of: (^nucliadb_dataset/) and \.py$
  lint_nucliadb_models: any of: (^nucliadb_models/) and \.py$
  lint_nucliadb_node: any of: (^nucliadb_node/) and \.py$
  lint_nucliadb_node_binding: any of: (^nucliadb_node_binding/) and \.py$
  lint_nucliadb_performance: any of: (^nucliadb_performance/) and \.py$
  lint_nucliadb_sdk: any of: (^nucliadb_sdk/) and \.py$
  lint_nucliadb_telemetry: any of: (^nucliadb_telemetry/) and \.py$
  lint_nucliadb_utils: any of: (^nucliadb_utils/) and \.py$
  rustfmt_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
  clippy_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
