Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nidx, clippy_nidx

lint_nucliadb:
  name: Lint nucliadb
  entry: make -C nucliadb lint
  language: system
  pass_filenames: false

lint_nucliadb_dataset:
  name: Lint nucliadb_dataset
  entry: make -C nucliadb_dataset lint
  language: system
  pass_filenames: false

lint_nucliadb_models:
  name: Lint nucliadb_models
  entry: make -C nucliadb_models lint
  language: system
  pass_filenames: false

lint_nucliadb_sdk:
  name: Lint nucliadb_sdk
  entry: make -C nucliadb_sdk lint
  language: system
  pass_filenames: false

lint_nucliadb_telemetry:
  name: Lint nucliadb_telemetry
  entry: make -C nucliadb_telemetry lint
  language: system
  pass_filenames: false

lint_nucliadb_utils:
  name: Lint nucliadb_utils
  entry: make -C nucliadb_utils lint
  language: system
  pass_filenames: false

rustfmt_nidx:
  name: Rust format check for nidx
  entry: cargo fmt --check --all --manifest-path nidx/Cargo.toml
  language: system
  pass_filenames: false

clippy_nidx:
  name: Clippy warning check for nidx
  entry: cargo clippy --all-features --manifest-path nidx/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

Move rank fusion and reranker parsing to common
  nucliadb/src/nucliadb/search/search/query_parser/parsers/common.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/find.py
Due: lint_nucliadb

Fix keyword min_score
  nucliadb/src/nucliadb/search/search/query_parser/parsers/retrieve.py
Due: lint_nucliadb

Add restrictions to /retrieve request
  nucliadb_models/src/nucliadb_models/retrieval.py
Due: lint_nucliadb_models

Add pragma: no cover to assert_never else clauses
  nucliadb/src/nucliadb/search/search/query_parser/parsers/catalog.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/retrieve.py
Due: lint_nucliadb

Use common rank fusion parser in retrieve parsing
  nucliadb/src/nucliadb/search/search/query_parser/parsers/retrieve.py
Due: lint_nucliadb

Parse reranker, use cache and add tests
  nucliadb/src/nucliadb/search/api/v1/retrieve.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/retrieve.py
  nucliadb/tests/search/integration/api/v1/test_retrieve.py
Due: lint_nucliadb

Don't use deprecated @abstractproperty
  nucliadb/src/nucliadb/search/search/rerankers.py
Due: lint_nucliadb

Add reranking to /retrieve
  nucliadb/src/nucliadb/search/api/v1/retrieve.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/retrieve.py
Due: lint_nucliadb

Add security groups to suggest
  nidx/nidx_protos/nodereader.proto
  nidx/src/searcher/shard_suggest.rs
  nucliadb/src/nucliadb/search/api/v1/suggest.py
  nucliadb/src/nucliadb/search/search/query.py
Due: lint_nucliadb, rustfmt_nidx, clippy_nidx

Use a bigger int type to audit field sizes
  nucliadb_protos/audit.proto
Due: none

wip
  nucliadb/tests/nucliadb/integration/test_security.py
Due: lint_nucliadb

Update Rust to new stable version 1.94.0
  rust-toolchain.toml
Due: none

Use a bigger int type to audit field sizes (#3563)
  nucliadb_protos/audit.proto
Due: none

Fix condition to prefilter suggest
  nidx/src/searcher/shard_suggest.rs
Due: rustfmt_nidx, clippy_nidx

Refactor test to avoid too much repetition
  nucliadb/tests/nucliadb/integration/test_security.py
Due: lint_nucliadb

Redesign /retrieve (#3548)
  nucliadb/src/nucliadb/search/api/v1/retrieve.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/catalog.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/common.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/find.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/retrieve.py
  nucliadb/src/nucliadb/search/search/rerankers.py
  nucliadb/tests/search/integration/api/v1/test_retrieve.py
  nucliadb_models/src/nucliadb_models/retrieval.py
  nucliadb_sdk/tests/test_retrieve.py
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_sdk

Add prefilter to suggest (entities)
  nidx/nidx_relation/src/lib.rs
  nidx/src/searcher/shard_suggest.rs
Due: rustfmt_nidx, clippy_nidx

Add security groups to suggest (#3565)
  nidx/nidx_protos/nodereader.proto
  nidx/nidx_relation/src/lib.rs
  nidx/src/searcher/shard_suggest.rs
  nucliadb/src/nucliadb/search/api/v1/suggest.py
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/tests/nucliadb/integration/test_security.py
Due: lint_nucliadb, rustfmt_nidx, clippy_nidx

Add access_groups alias to security search filter
  nucliadb_models/src/nucliadb_models/security.py
  nucliadb_models/tests/test_security.py
Due: lint_nucliadb_models

Fix unrelated metric typo
  nucliadb/src/nucliadb/search/augmentor/resources.py
Due: lint_nucliadb

Add extra="forbid" to /retrieve and /augment models
  nucliadb_models/src/nucliadb_models/augment.py
  nucliadb_models/src/nucliadb_models/retrieval.py
Due: lint_nucliadb_models

Add access_groups alias to security search filter (#3567)
  nucliadb/src/nucliadb/search/augmentor/resources.py
  nucliadb_models/src/nucliadb_models/security.py
  nucliadb_models/tests/test_security.py
Due: lint_nucliadb, lint_nucliadb_models

Add extra="forbid" to /retrieve and /augment models (#3568)
  nucliadb_models/src/nucliadb_models/augment.py
  nucliadb_models/src/nucliadb_models/retrieval.py
Due: lint_nucliadb_models

lower pull timeout to avoid istio proxy issues
  nucliadb/src/nucliadb/common/http_clients/processing.py
Due: lint_nucliadb

lower pull timeout to avoid istio proxy issues (#3569)
  nucliadb/src/nucliadb/common/http_clients/processing.py
Due: lint_nucliadb

migration logs (#3559)
  nucliadb/src/nucliadb/migrator/migrator.py
Due: lint_nucliadb

Test POST /suggest
  nucliadb/tests/nucliadb/integration/test_suggest.py
  nucliadb_models/src/nucliadb_models/suggest.py
Due: lint_nucliadb, lint_nucliadb_models

Remove unused headers from suggest logic
  nucliadb/src/nucliadb/search/api/v1/suggest.py
Due: lint_nucliadb

Add POST method to /suggest (virtual service)
  charts/nucliadb_search/templates/search.vs.yaml
Due: none

Remove unused headers and parameters
  nucliadb/src/nucliadb/search/api/v1/suggest.py
Due: lint_nucliadb

Deprecate /suggest faceted, it was not used at all
  nucliadb/src/nucliadb/search/api/v1/suggest.py
  nucliadb/src/nucliadb/search/search/query.py
Due: lint_nucliadb

Suggest models, parser and POST endpoint
  nucliadb/src/nucliadb/search/api/v1/suggest.py
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/__init__.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/find.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/suggest.py
  nucliadb_models/src/nucliadb_models/__init__.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_models/src/nucliadb_models/suggest.py
Due: lint_nucliadb, lint_nucliadb_models

Be more clear on old filters vs filter expression
  nucliadb/src/nucliadb/search/api/v1/suggest.py
Due: lint_nucliadb

Add POST /suggest endpoint (#3571)
  charts/nucliadb_search/templates/search.vs.yaml
  nucliadb/src/nucliadb/search/api/v1/suggest.py
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/__init__.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/find.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/suggest.py
  nucliadb/tests/nucliadb/integration/test_suggest.py
  nucliadb_models/src/nucliadb_models/__init__.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_models/src/nucliadb_models/suggest.py
Due: lint_nucliadb, lint_nucliadb_models

Revert "chore(deps): update azure/setup-helm action to v5 (#3570)"
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/public_release.yml
  .github/workflows/release.yml
Due: none

Revert "chore(deps): update azure/setup-helm action to v5 (#3570)" (#3572)
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/public_release.yml
  .github/workflows/release.yml
Due: none

rename blackduck projects
  .github/workflows/bd_sca_scanner.yaml
  .github/workflows/polaris.yaml
Due: none

rename blackduck projects (#3575)
  .github/workflows/bd_sca_scanner.yaml
  .github/workflows/polaris.yaml
Due: none

Path conditions:
  lint_nucliadb: any of: (^nucliadb/) and \.py$
  lint_nucliadb_dataset: any of: (^nucliadb_dataset/) and \.py$
  lint_nucliadb_models: any of: (^nucliadb_models/) and \.py$
  lint_nucliadb_sdk: any of: (^nucliadb_sdk/) and \.py$
  lint_nucliadb_telemetry: any of: (^nucliadb_telemetry/) and \.py$
  lint_nucliadb_utils: any of: (^nucliadb_utils/) and \.py$
  rustfmt_nidx: any of: (^nidx/) and \.rs$
  clippy_nidx: any of: (^nidx/) and \.rs$
