Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

isort_nucliadb:
  name: Isort
  entry: isort --profile black -c
  language: system

black_nucliadb:
  name: Black
  entry: black --check --verbose
  language: system

flake8_nucliadb:
  name: Flake8
  entry: flake8 --config=nucliadb/setup.cfg
  language: system

rustfmt_nucliadb:
  name: fmt
  entry: cargo +nightly fmt --check
  language: system
  pass_filenames: false

clippy_nucliadb:
  name: clippy
  entry: cargo clippy --all-features -- -D warnings
  language: system
  pass_filenames: false

flaky test
  nucliadb/nucliadb/ingest/tests/integration/servicer/test_knowledgebox_servicer.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

should be good now
  .github/workflows/pypi_release.yml
Due: none

try
  e2e/run-e2e-tests.sh
Due: none

flaky test (#1371)
  nucliadb/nucliadb/ingest/tests/integration/servicer/test_knowledgebox_servicer.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

pg service address
  .github/workflows/e2e.yml
Due: none

more flaky tests
  nucliadb/nucliadb/ingest/tests/integration/servicer/test_knowledgebox_servicer.py
  nucliadb/nucliadb/writer/tests/test_resources.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

lint
  nucliadb/nucliadb/writer/tests/test_resources.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

lint
  nucliadb/nucliadb/ingest/tests/integration/servicer/test_knowledgebox_servicer.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

not user
  scripts/install-vm.sh
Due: none

txn util warn
  nucliadb_utils/nucliadb_utils/utilities.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

more tests
  .github/workflows/e2e.yml
Due: none

Flaky tests (#1372)
  nucliadb/nucliadb/ingest/tests/integration/servicer/test_knowledgebox_servicer.py
  nucliadb/nucliadb/writer/tests/test_resources.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

chown
  scripts/install-vm.sh
Due: none

fix
  nucliadb_utils/nucliadb_utils/utilities.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

do not overdo it
  .github/workflows/e2e.yml
Due: none

cleanup measured paragraph cache implementation
  nucliadb/nucliadb/search/lifecycle.py
  nucliadb/nucliadb/search/search/paragraphs.py
  nucliadb/nucliadb/search/settings.py
  nucliadb/nucliadb/search/tests/integration/search/test_paragraphs.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

lint
  nucliadb/nucliadb/search/settings.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix test
  nucliadb/nucliadb/search/tests/unit/search/test_paragraphs.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Feature flag ask your documents
  nucliadb/nucliadb/search/api/v1/resource/ask.py
  nucliadb/nucliadb/tests/integration/test_ask.py
  nucliadb_utils/nucliadb_utils/const.py
  nucliadb_utils/nucliadb_utils/featureflagging.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Feature flag ask your documents (#1374)
  nucliadb/nucliadb/search/api/v1/resource/ask.py
  nucliadb/nucliadb/tests/integration/test_ask.py
  nucliadb_utils/nucliadb_utils/const.py
  nucliadb_utils/nucliadb_utils/featureflagging.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

FST-based brute-force filtered vector search
  Cargo.lock
  nucliadb_core/src/lib.rs
  nucliadb_core/src/vectors.rs
  nucliadb_node/nucliadb_node/tests/fixtures.py
  nucliadb_node/nucliadb_node/tests/integration/test_indexing.py
  nucliadb_node/src/shards/metadata.rs
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_node/src/shards/shard_writer.rs
  nucliadb_node_binding/src/writer.rs
  nucliadb_node_binding/tests/integration/test_indexing.py
  nucliadb_protos/nodewriter.proto
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.pyi
  nucliadb_protos/rust/src/nodewriter.rs
  nucliadb_vectors/src/data_point/mod.rs
  nucliadb_vectors/src/data_point/ops_hnsw.rs
  nucliadb_vectors/src/data_point/tests.rs
  nucliadb_vectors/src/data_point_provider/merge_worker.rs
  nucliadb_vectors/src/data_point_provider/mod.rs
  nucliadb_vectors/src/data_point_provider/state.rs
  nucliadb_vectors/src/formula/mod.rs
  nucliadb_vectors/src/fst_index/mod.rs
  nucliadb_vectors/src/indexset/state.rs
  nucliadb_vectors/src/labels/mod.rs
  nucliadb_vectors/src/lib.rs
  nucliadb_vectors/src/service/reader.rs
  nucliadb_vectors/src/service/writer.rs
  vectors_benchmark/Cargo.toml
  vectors_benchmark/Makefile
  vectors_benchmark/src/binaries/1m_stats.rs
  vectors_benchmark/src/binaries/labels_benchmark.rs
  vectors_benchmark/src/engines/vectors.rs
  vectors_benchmark/src/random_vectors.rs
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

FST-based brute-force filtered vector search (#1247)
  Cargo.lock
  nucliadb_core/src/lib.rs
  nucliadb_core/src/vectors.rs
  nucliadb_node/nucliadb_node/tests/fixtures.py
  nucliadb_node/nucliadb_node/tests/integration/test_indexing.py
  nucliadb_node/src/shards/metadata.rs
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_node/src/shards/shard_writer.rs
  nucliadb_node_binding/src/writer.rs
  nucliadb_node_binding/tests/integration/test_indexing.py
  nucliadb_protos/nodewriter.proto
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.pyi
  nucliadb_protos/rust/src/nodewriter.rs
  nucliadb_vectors/src/data_point/mod.rs
  nucliadb_vectors/src/data_point/ops_hnsw.rs
  nucliadb_vectors/src/data_point/tests.rs
  nucliadb_vectors/src/data_point_provider/merge_worker.rs
  nucliadb_vectors/src/data_point_provider/mod.rs
  nucliadb_vectors/src/data_point_provider/state.rs
  nucliadb_vectors/src/formula/mod.rs
  nucliadb_vectors/src/fst_index/mod.rs
  nucliadb_vectors/src/indexset/state.rs
  nucliadb_vectors/src/labels/mod.rs
  nucliadb_vectors/src/lib.rs
  nucliadb_vectors/src/service/reader.rs
  nucliadb_vectors/src/service/writer.rs
  vectors_benchmark/Cargo.toml
  vectors_benchmark/Makefile
  vectors_benchmark/src/binaries/1m_stats.rs
  vectors_benchmark/src/binaries/labels_benchmark.rs
  vectors_benchmark/src/engines/vectors.rs
  vectors_benchmark/src/random_vectors.rs
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

remove label from make file
  vectors_benchmark/Makefile
Due: none

cleanup measured paragraph cache implementation (#1373)
  nucliadb/nucliadb/search/lifecycle.py
  nucliadb/nucliadb/search/search/paragraphs.py
  nucliadb/nucliadb/search/settings.py
  nucliadb/nucliadb/search/tests/integration/search/test_paragraphs.py
  nucliadb/nucliadb/search/tests/unit/search/test_paragraphs.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Support more VM install tests through github actions (#1370)
  .github/workflows/e2e.yml
  e2e/run-e2e-tests.sh
  nucliadb_utils/nucliadb_utils/utilities.py
  scripts/install-system-deps.sh
  scripts/install-vm.sh
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

remove label from make file (#1375)
  vectors_benchmark/Makefile
Due: none

added some debug calls
  nucliadb_vectors/src/data_point/mod.rs
Due: rustfmt_nucliadb, clippy_nucliadb

fly-by, remove unused import
  nucliadb_node/src/shards/shard_reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

better
  .github/workflows/_component_prechecks.yml
  .github/workflows/nucliadb_protos.yml
Due: none

fix
  .github/workflows/nucliadb_protos.yml
Due: none

added some debug calls (#1377)
  .github/workflows/_component_prechecks.yml
  .github/workflows/nucliadb_protos.yml
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_vectors/src/data_point/mod.rs
Due: rustfmt_nucliadb, clippy_nucliadb

bump
  VERSION
Due: none

test integrate rust build server
  .github/workflows/nucliadb_node.yml
  .github/workflows/nucliadb_search.yml
  .github/workflows/nucliadb_standalone.yml
  Makefile
  nucliadb_node/src/env.rs
  scripts/download-build.sh
Due: rustfmt_nucliadb, clippy_nucliadb

missing file
  Dockerfile.node_prebuilt
Due: none

branch
  .github/workflows/nucliadb_node.yml
  .github/workflows/nucliadb_search.yml
  .github/workflows/nucliadb_standalone.yml
Due: none

try
  .github/workflows/nucliadb_node.yml
  .github/workflows/nucliadb_search.yml
  .github/workflows/nucliadb_standalone.yml
Due: none

Path conditions:
  isort_nucliadb: any of: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/) and \.py$
  black_nucliadb: any of: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/) and \.py$
  flake8_nucliadb: any of: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/) and \.py$
  rustfmt_nucliadb: any of: (^nucliadb_vectors/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_paragraphs/)|(^nucliadb_texts/) and \.rs$
  clippy_nucliadb: any of: (^nucliadb_vectors/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_paragraphs/)|(^nucliadb_texts/) and \.rs$
