Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

lint_nucliadb:
  name: Lint nucliadb
  entry: make -C nucliadb lint
  language: system

lint_nucliadb_dataset:
  name: Lint nucliadb_dataset
  entry: make -C nucliadb_dataset lint
  language: system

lint_nucliadb_models:
  name: Lint nucliadb_models
  entry: make -C nucliadb_models lint
  language: system

lint_nucliadb_node:
  name: Lint nucliadb_node
  entry: make -C nucliadb_node lint
  language: system

lint_nucliadb_node_binding:
  name: Lint nucliadb_node_binding
  entry: make -C nucliadb_node_binding lint
  language: system

lint_nucliadb_performance:
  name: Lint nucliadb_performance
  entry: make -C nucliadb_performance lint
  language: system

lint_nucliadb_sdk:
  name: Lint nucliadb_sdk
  entry: make -C nucliadb_sdk lint
  language: system

lint_nucliadb_telemetry:
  name: Lint nucliadb_telemetry
  entry: make -C nucliadb_telemetry lint
  language: system

lint_nucliadb_utils:
  name: Lint nucliadb_utils
  entry: make -C nucliadb_utils lint
  language: system

rustfmt_nucliadb:
  name: fmt
  entry: cargo +nightly fmt --check
  language: system
  pass_filenames: false

clippy_nucliadb:
  name: clippy
  entry: cargo clippy --all-features -- -D warnings
  language: system
  pass_filenames: false

int order retuns only needed results
  nucliadb_texts2/src/reader.rs
Due: none

added test
  nucliadb_texts2/tests/test_search.rs
Due: none

Inconsistent pagination on catalog [sc-9825]
  nucliadb_texts2/tests/test_search.rs
Due: none

int order retuns only needed results (#2076)
  nucliadb_texts2/src/reader.rs
  nucliadb_texts2/tests/test_search.rs
Due: none

wip
  nucliadb/nucliadb/tests/integration/search/test_filters.py
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_paragraphs3/src/search_query.rs
  nucliadb_protos/nodereader.proto
  nucliadb_protos/python/nucliadb_protos/audit_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/replication_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/standalone_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/utils_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/writer_pb2_grpc.pyi
  nucliadb_protos/rust/src/nodereader.rs
Due: lint_nucliadb, rustfmt_nucliadb, clippy_nucliadb

Add logging
  nucliadb/nucliadb/writer/back_pressure.py
Due: lint_nucliadb

Add logging (#2077)
  nucliadb/nucliadb/writer/back_pressure.py
Due: lint_nucliadb

Formatting
  nucliadb_paragraphs2/src/reader.rs
  nucliadb_paragraphs2/src/search_query.rs
  nucliadb_paragraphs2/src/search_response.rs
  nucliadb_paragraphs3/src/search_query.rs
  nucliadb_paragraphs3/src/set_query.rs
  nucliadb_vectors/src/data_point_provider/reader.rs
  nucliadb_vectors/src/service/reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Propagate all labels to paragraphs
  nucliadb_paragraphs2/src/search_response.rs
  nucliadb_paragraphs3/src/reader.rs
  nucliadb_paragraphs3/src/search_response.rs
  nucliadb_paragraphs3/src/writer.rs
Due: none

wip
  nucliadb/nucliadb/common/cluster/base.py
  nucliadb/nucliadb/common/cluster/manager.py
  nucliadb/nucliadb/common/datamanagers/vectorsets.py
  nucliadb/nucliadb/vectorsets/__init__.py
  nucliadb/nucliadb/vectorsets/datamanager.py
  nucliadb/nucliadb/vectorsets/models.py
  nucliadb/requirements.lock.txt
  nucliadb/requirements.txt
  nucliadb_utils/requirements.txt
Due: lint_nucliadb

Bump aiohttp and idna to fix vulnerabilities
  nucliadb/requirements.lock.txt
  nucliadb/requirements.txt
  nucliadb_utils/requirements.txt
Due: none

fix idna
  nucliadb/requirements.lock.txt
Due: none

Bump aiohttp and idna to fix vulnerabilities (#2078)
  nucliadb/requirements.lock.txt
  nucliadb/requirements.txt
  nucliadb_utils/requirements.txt
Due: none

Filter by resource key
  nucliadb_core/src/tantivy_replica.rs
  nucliadb_paragraphs3/src/reader.rs
  nucliadb_paragraphs3/src/search_query.rs
  nucliadb_vectors/src/formula/mod.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Cleanup
  nucliadb/nucliadb/search/predict.py
  nucliadb/nucliadb/search/search/query.py
  nucliadb/nucliadb/search/tests/unit/test_predict.py
  nucliadb/nucliadb/tests/integration/search/test_search.py
  nucliadb/nucliadb/writer/back_pressure.py
  nucliadb_utils/nucliadb_utils/const.py
  nucliadb_utils/nucliadb_utils/featureflagging.py
Due: lint_nucliadb, lint_nucliadb_utils

Split resource/field ids in vectors
  nucliadb_vectors/src/formula/mod.rs
  nucliadb_vectors/src/service/reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Refactor get matryoshka embeddings
  nucliadb/nucliadb/search/search/query.py
Due: lint_nucliadb

add comment
  nucliadb/nucliadb/search/search/query.py
Due: lint_nucliadb

review
  nucliadb_node/state.bincode
  nucliadb_paragraphs3/src/reader.rs
  nucliadb_vectors/src/formula/mod.rs
Due: rustfmt_nucliadb, clippy_nucliadb

bump
  nucliadb_vectors/src/data_point/tests.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Limit protobuf type versions
  nucliadb/requirements.lock.txt
  nucliadb/requirements.txt
  nucliadb_protos/python/setup.py
  nucliadb_telemetry/requirements-test.txt
Due: none

Reuse field information when indexing paragraphs
  nucliadb_paragraphs3/src/writer.rs
Due: none

Reuse field information when indexing paragraphs (#2081)
  nucliadb_paragraphs3/src/writer.rs
Due: none

I am dependabot actually
  Cargo.lock
Due: none

Fix
  nucliadb/nucliadb/search/search/merge.py
Due: lint_nucliadb

Add test and improve naming a bit
  nucliadb/nucliadb/search/search/merge.py
  nucliadb/nucliadb/tests/integration/search/test_search.py
Due: lint_nucliadb

Fix pagination bug on catalog (#2084)
  nucliadb/nucliadb/search/search/merge.py
  nucliadb/nucliadb/tests/integration/search/test_search.py
Due: lint_nucliadb

Add origin source-id label alias
  nucliadb_models/nucliadb_models/labels.py
Due: lint_nucliadb_models

Add origin source-id label alias (#2085)
  nucliadb_models/nucliadb_models/labels.py
Due: lint_nucliadb_models

wip
  nucliadb_node/src/shards/shard_writer.rs
  nucliadb_protos/noderesources.proto
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.pyi
  nucliadb_protos/rust/src/noderesources.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Add manager to /catalog endpoint roles
  nucliadb/nucliadb/search/api/v1/search.py
Due: lint_nucliadb

wip
  nucliadb/nucliadb/common/cluster/manager.py
  nucliadb/nucliadb/ingest/orm/brain.py
  nucliadb/nucliadb/ingest/orm/processor/__init__.py
  nucliadb/nucliadb/ingest/tests/integration/orm/test_orm_resource.py
  nucliadb/nucliadb/ingest/tests/unit/orm/test_brain.py
  nucliadb/nucliadb/search/search/query.py
  nucliadb_node/nucliadb_node/tests/integration/test_indexing.py
  nucliadb_node_binding/tests/integration/test_indexing.py
  nucliadb_protos/nodewriter.proto
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.pyi
  nucliadb_protos/rust/src/nodewriter.rs
  nucliadb_utils/nucliadb_utils/storages/storage.py
Due: lint_nucliadb, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_utils

Support keep_markdown in models
  nucliadb_models/nucliadb_models/text.py
Due: lint_nucliadb_models

Support keep_markdown in models (#2087)
  nucliadb_models/nucliadb_models/text.py
Due: lint_nucliadb_models

wip
  nucliadb_node/nucliadb_node/tests/integration/test_indexing.py
  nucliadb_utils/nucliadb_utils/storages/storage.py
Due: lint_nucliadb_node, lint_nucliadb_utils

Add index ops
  nucliadb/nucliadb/common/cluster/grpc_node_dummy.py
  nucliadb/nucliadb/common/cluster/standalone/grpc_node_binding.py
  nucliadb_node/nucliadb_node/indexer.py
  nucliadb_node/nucliadb_node/writer.py
  nucliadb_node_binding/tests/integration/test_indexing.py
Due: lint_nucliadb, lint_nucliadb_node, lint_nucliadb_node_binding

wip
  nucliadb/nucliadb/ingest/orm/brain.py
Due: lint_nucliadb

Path conditions:
  lint_nucliadb: any of: (^nucliadb/) and \.py$
  lint_nucliadb_dataset: any of: (^nucliadb_dataset/) and \.py$
  lint_nucliadb_models: any of: (^nucliadb_models/) and \.py$
  lint_nucliadb_node: any of: (^nucliadb_node/) and \.py$
  lint_nucliadb_node_binding: any of: (^nucliadb_node_binding/) and \.py$
  lint_nucliadb_performance: any of: (^nucliadb_performance/) and \.py$
  lint_nucliadb_sdk: any of: (^nucliadb_sdk/) and \.py$
  lint_nucliadb_telemetry: any of: (^nucliadb_telemetry/) and \.py$
  lint_nucliadb_utils: any of: (^nucliadb_utils/) and \.py$
  rustfmt_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
  clippy_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
