Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

isort_nucliadb:
  name: Isort
  entry: isort --profile black -c
  language: system

black_nucliadb:
  name: Black
  entry: black --check --verbose
  language: system

flake8_nucliadb:
  name: Flake8
  entry: flake8 --config=nucliadb/setup.cfg
  language: system

rustfmt_nucliadb:
  name: fmt
  entry: cargo +nightly fmt --check
  language: system
  pass_filenames: false

clippy_nucliadb:
  name: clippy
  entry: cargo clippy --all-features -- -D warnings
  language: system
  pass_filenames: false

fix
  nucliadb/nucliadb/ingest/service/writer.py
  nucliadb/nucliadb/ingest/tests/unit/test_purge.py
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.pyi
  nucliadb_protos/rust/src/knowledgebox.rs
  nucliadb_utils/nucliadb_utils/settings.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix tests
  nucliadb/nucliadb/ingest/service/writer.py
  nucliadb/nucliadb/ingest/tests/fixtures.py
  nucliadb/nucliadb/ingest/tests/unit/service/test_writer.py
  nucliadb/nucliadb/ingest/tests/unit/test_purge.py
  nucliadb/nucliadb/tests/fixtures.py
Due: none

add tests
  nucliadb/nucliadb/reader/api/v1/__init__.py
  nucliadb/nucliadb/reader/api/v1/learning_config.py
  nucliadb/nucliadb/reader/tests/integration/api/v1/test_learning_config.py
  nucliadb/nucliadb/writer/api/v1/__init__.py
  nucliadb/nucliadb/writer/tests/integration/api/v1/test_learning_config.py
Due: none

add unit tests
  nucliadb/nucliadb/learning_config.py
  nucliadb/nucliadb/tests/unit/test_learning_config.py
Due: none

be able to run integration tests!
  nucliadb/nucliadb/learning_config.py
  nucliadb/nucliadb/search/tests/fixtures.py
  nucliadb/nucliadb/standalone/config.py
  nucliadb_utils/nucliadb_utils/settings.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

be able to run integration tests!
  nucliadb/nucliadb/learning_config.py
Due: none

delete in the same way as create
  nucliadb/nucliadb/ingest/purge.py
  nucliadb/nucliadb/ingest/service/writer.py
  nucliadb/nucliadb/ingest/tests/unit/test_purge.py
Due: none

Fix missing await on GCS debug info
  nucliadb_utils/nucliadb_utils/storages/gcs.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

make sure to proxy headers too
  nucliadb/nucliadb/learning_config.py
  nucliadb/nucliadb/tests/unit/test_learning_config.py
Due: none

Add unit test for gcs delete kb response status
  nucliadb_utils/nucliadb_utils/tests/unit/storages/test_gcs.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Fix missing await on GCS debug info (#1813)
  nucliadb_utils/nucliadb_utils/storages/gcs.py
  nucliadb_utils/nucliadb_utils/tests/unit/storages/test_gcs.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

versioned internal predict api
  nucliadb/nucliadb/search/predict.py
  nucliadb/nucliadb/search/tests/unit/test_predict.py
  nucliadb_utils/nucliadb_utils/const.py
  nucliadb_utils/nucliadb_utils/featureflagging.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix
  nucliadb/nucliadb/search/predict.py
  nucliadb_utils/nucliadb_utils/const.py
  nucliadb_utils/nucliadb_utils/featureflagging.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

versioned internal predict api (#1814)
  nucliadb/nucliadb/search/predict.py
  nucliadb/nucliadb/search/tests/unit/test_predict.py
  nucliadb_utils/nucliadb_utils/const.py
  nucliadb_utils/nucliadb_utils/featureflagging.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

transaltion + language
  nucliadb_core/src/query_language/mod.rs
  nucliadb_protos/rust/src/nodereader.rs
Due: none

fix tests in docker
  nucliadb/nucliadb/learning_config.py
Due: none

add sdk tests
  nucliadb_sdk/nucliadb_sdk/tests/test_sdk.py
  nucliadb_sdk/nucliadb_sdk/tests/test_sdk_async.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix sdk async tests
  nucliadb_sdk/nucliadb_sdk/tests/test_sdk_async.py
  nucliadb_sdk/nucliadb_sdk/v2/sdk.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

add virtual services for hosted
  charts/nucliadb_reader/templates/reader.vs.yaml
  charts/nucliadb_writer/templates/writer.vs.yaml
Due: none

fix unit test
  nucliadb/nucliadb/tests/unit/test_learning_config.py
Due: none

fix
  Dockerfile.node_local
Due: none

fix
  Dockerfile.basenode
Due: none

do not fail if learning config is not provided yet
  nucliadb/nucliadb/ingest/service/writer.py
Due: none

add comment
  nucliadb/nucliadb/ingest/service/writer.py
Due: none

Fix cargo cheff error in CI while buidling node image (#1816)
  Dockerfile.basenode
  Dockerfile.node_local
Due: none

lock deps for profile tools
  Dockerfile.node
  Dockerfile.node_local
  vectors_benchmark/Makefile
Due: none

lock deps for profile tools (#1817)
  Dockerfile.node
  Dockerfile.node_local
  vectors_benchmark/Makefile
Due: none

unify traits
  nucliadb_core/src/lib.rs
  nucliadb_core/src/paragraphs.rs
  nucliadb_core/src/relations.rs
  nucliadb_core/src/texts.rs
  nucliadb_core/src/vectors.rs
  nucliadb_node/tests/test_suggest.rs
  nucliadb_paragraphs/src/reader.rs
  nucliadb_paragraphs/src/writer.rs
  nucliadb_relations/src/service/reader.rs
  nucliadb_relations/src/service/writer.rs
  nucliadb_relations2/src/reader.rs
  nucliadb_relations2/src/writer.rs
  nucliadb_texts/src/reader.rs
  nucliadb_texts/src/writer.rs
  nucliadb_texts2/src/reader.rs
  nucliadb_texts2/src/writer.rs
  nucliadb_vectors/src/service/reader.rs
  nucliadb_vectors/src/service/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

add xfail
  nucliadb/nucliadb/tests/unit/test_learning_config.py
Due: none

add some backoff retries
  nucliadb/nucliadb/writer/tus/gcs.py
  nucliadb_utils/nucliadb_utils/storages/gcs.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

missing retries for tus gcs driver
  nucliadb/nucliadb/writer/tus/gcs.py
Due: none

add exception
  nucliadb/nucliadb/writer/tus/gcs.py
Due: none

missing retries for tus gcs driver (#1818)
  nucliadb/nucliadb/writer/tus/gcs.py
Due: none

test
  nucliadb/nucliadb/tests/unit/test_learning_config.py
Due: none

fix test
  nucliadb/nucliadb/tests/unit/test_learning_config.py
Due: none

better mock...
  nucliadb/nucliadb/tests/unit/test_learning_config.py
Due: none

Proxy Learning Config (#1810)
  charts/nucliadb_reader/templates/reader.vs.yaml
  charts/nucliadb_writer/templates/writer.vs.yaml
  nucliadb/nucliadb/ingest/service/writer.py
  nucliadb/nucliadb/ingest/tests/fixtures.py
  nucliadb/nucliadb/ingest/tests/unit/service/test_writer.py
  nucliadb/nucliadb/ingest/tests/unit/test_purge.py
  nucliadb/nucliadb/learning_config.py
  nucliadb/nucliadb/reader/api/v1/__init__.py
  nucliadb/nucliadb/reader/api/v1/learning_config.py
  nucliadb/nucliadb/reader/tests/integration/api/v1/test_learning_config.py
  nucliadb/nucliadb/search/tests/fixtures.py
  nucliadb/nucliadb/standalone/config.py
  nucliadb/nucliadb/tests/fixtures.py
  nucliadb/nucliadb/tests/unit/test_learning_config.py
  nucliadb/nucliadb/writer/api/v1/knowledgebox.py
  nucliadb/nucliadb/writer/api/v1/learning_config.py
  nucliadb/nucliadb/writer/tests/integration/api/v1/test_learning_config.py
  nucliadb_models/nucliadb_models/resource.py
  nucliadb_protos/knowledgebox.proto
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.pyi
  nucliadb_protos/rust/src/knowledgebox.rs
  nucliadb_sdk/nucliadb_sdk/tests/test_sdk.py
  nucliadb_sdk/nucliadb_sdk/tests/test_sdk_async.py
  nucliadb_sdk/nucliadb_sdk/v2/sdk.py
  nucliadb_utils/nucliadb_utils/settings.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Path conditions:
  isort_nucliadb: any of: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)(^nucliadb_performace/) and \.py$
  black_nucliadb: any of: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)(^nucliadb_performace/) and \.py$
  flake8_nucliadb: any of: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)(^nucliadb_performace/) and \.py$
  rustfmt_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
  clippy_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
