Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nidx, clippy_nidx

lint_nucliadb:
  name: Lint nucliadb
  entry: make -C nucliadb lint
  language: system
  pass_filenames: false

lint_nucliadb_dataset:
  name: Lint nucliadb_dataset
  entry: make -C nucliadb_dataset lint
  language: system
  pass_filenames: false

lint_nucliadb_models:
  name: Lint nucliadb_models
  entry: make -C nucliadb_models lint
  language: system
  pass_filenames: false

lint_nucliadb_sdk:
  name: Lint nucliadb_sdk
  entry: make -C nucliadb_sdk lint
  language: system
  pass_filenames: false

lint_nucliadb_telemetry:
  name: Lint nucliadb_telemetry
  entry: make -C nucliadb_telemetry lint
  language: system
  pass_filenames: false

lint_nucliadb_utils:
  name: Lint nucliadb_utils
  entry: make -C nucliadb_utils lint
  language: system
  pass_filenames: false

rustfmt_nidx:
  name: Rust format check for nidx
  entry: cargo fmt --check --all --manifest-path nidx/Cargo.toml
  language: system
  pass_filenames: false

clippy_nidx:
  name: Clippy warning check for nidx
  entry: cargo clippy --all-features --manifest-path nidx/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

Hydration API (2) (#3298)
  nucliadb/src/nucliadb/search/search/hydrator/images.py
  nucliadb/src/nucliadb/search/search/hydrator/paragraphs.py
  nucliadb/src/nucliadb/train/generators/sentence_classifier.py
  nucliadb/tests/nucliadb/integration/search/test_hydration.py
  nucliadb/tests/nucliadb/integration/test_conversation.py
  nucliadb/tests/nucliadb/integration/test_vectorsets_api.py
  nucliadb/tests/train/test_question_answer_streaming.py
  nucliadb/tests/utils/broker_messages/fields.py
  nucliadb_protos/resources.proto
Due: lint_nucliadb

wip
  nucliadb/src/nucliadb/ingest/orm/brain_v2.py
  nucliadb/src/nucliadb/ingest/orm/index_message.py
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
  nucliadb/src/nucliadb/search/search/shards.py
  nucliadb/tests/nucliadb/integration/test_conversation.py
  uv.lock
Due: lint_nucliadb

Remove unused and not-working multi-txn logic
  nucliadb/src/nucliadb/ingest/orm/index_message.py
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
  nucliadb/tests/ingest/integration/orm/test_index_message.py
  nucliadb_protos/writer.proto
Due: lint_nucliadb

better log
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
Due: lint_nucliadb

simpler
  nucliadb/src/nucliadb/ingest/orm/index_message.py
Due: lint_nucliadb

simpler
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
Due: lint_nucliadb

Remove unused multi txn logic (#3299)
  nucliadb/src/nucliadb/ingest/orm/index_message.py
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
  nucliadb/tests/ingest/integration/orm/test_index_message.py
  nucliadb_protos/writer.proto
Due: lint_nucliadb

review
  nidx/nidx_vector/src/hnsw/ops_hnsw.rs
  nidx/nidx_vector/tests/test_basic_search.rs
Due: rustfmt_nidx, clippy_nidx

RaBitQ (#3295)
  nidx/nidx_vector/src/config.rs
  nidx/nidx_vector/src/data_store.rs
  nidx/nidx_vector/src/data_store/v1.rs
  nidx/nidx_vector/src/data_store/v2.rs
  nidx/nidx_vector/src/data_store/v2/quant_vector_store.rs
  nidx/nidx_vector/src/hnsw.rs
  nidx/nidx_vector/src/hnsw/ops_hnsw.rs
  nidx/nidx_vector/src/lib.rs
  nidx/nidx_vector/src/segment.rs
  nidx/nidx_vector/src/segment/tests.rs
  nidx/nidx_vector/src/vector_types/dense_f32.rs
  nidx/nidx_vector/src/vector_types/mod.rs
  nidx/nidx_vector/src/vector_types/rabitq.rs
  nidx/nidx_vector/tests/test_basic_search.rs
  nucliadb/tests/nucliadb/integration/test_vectorsets_api.py
Due: lint_nucliadb, rustfmt_nidx, clippy_nidx

ARM/x86 compat
  nidx/nidx_vector/src/vector_types/dense_f32.rs
  nidx/nidx_vector/src/vector_types/mod.rs
  nidx/nidx_vector/src/vector_types/rabitq.rs
Due: rustfmt_nidx, clippy_nidx

Try using simsimd again
  nidx/nidx_vector/Cargo.toml
  nidx/nidx_vector/src/vector_types/dense_f32.rs
  nidx/nidx_vector/src/vector_types/mod.rs
  nidx/nidx_vector/src/vector_types/rabitq.rs
  nidx/nidx_vector/src/vector_types/simsimd.rs
Due: rustfmt_nidx, clippy_nidx

Do not index the full extracted text of a conversation
  nidx/nidx_paragraph/src/resource_indexer.rs
  nidx/nidx_protos/noderesources.proto
  nucliadb/src/nucliadb/ingest/orm/brain_v2.py
Due: lint_nucliadb, rustfmt_nidx, clippy_nidx

fix tests
  nidx/nidx_vector/src/searcher.rs
  nidx/tests/test_date_range_search.rs
Due: rustfmt_nidx, clippy_nidx

Rabitq - arm64 compatibility (#3300)
  nidx/nidx_vector/Cargo.toml
  nidx/nidx_vector/src/vector_types/dense_f32.rs
Due: rustfmt_nidx, clippy_nidx

tests
  nucliadb/tests/ingest/unit/orm/test_brain.py
Due: lint_nucliadb

extend integration test
  nucliadb/tests/nucliadb/integration/test_conversation.py
Due: lint_nucliadb

extend test
  nucliadb/tests/nucliadb/integration/test_conversation.py
Due: lint_nucliadb

Slighlty refactor catalog_update to ease changes
  nucliadb/src/migrations/0023_backfill_pg_catalog.py
  nucliadb/src/migrations/0038_backfill_catalog_field_labels.py
  nucliadb/src/nucliadb/common/catalog/__init__.py
  nucliadb/src/nucliadb/common/catalog/utils.py
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
Due: lint_nucliadb

Add warning and skip paragraphs with wrong start,end
  nidx/nidx_paragraph/src/resource_indexer.rs
Due: rustfmt_nidx, clippy_nidx

Fix typo for citations parameter docs
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb_models

address comments
  nidx/nidx_paragraph/src/resource_indexer.rs
Due: rustfmt_nidx, clippy_nidx

Add rust test
  nidx/nidx_paragraph/tests/reader.rs
Due: rustfmt_nidx, clippy_nidx

clippy
  nidx/nidx_paragraph/tests/reader.rs
Due: rustfmt_nidx, clippy_nidx

Fix typo for citations parameter docs (#3302)
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb_models

When appending messages, index only those appended
  nucliadb/src/nucliadb/ingest/orm/brain_v2.py
  nucliadb/src/nucliadb/ingest/orm/index_message.py
  nucliadb/tests/nucliadb/integration/test_conversation.py
Due: lint_nucliadb

Fix
  nucliadb/src/nucliadb/ingest/orm/brain_v2.py
Due: lint_nucliadb

fix
  nucliadb/src/nucliadb/ingest/orm/index_message.py
Due: lint_nucliadb

add comment
  nucliadb/src/nucliadb/ingest/orm/brain_v2.py
Due: lint_nucliadb

Charts: Add support for podLabels
  charts/nidx/README.md
  charts/nidx/templates/api-deploy.yaml
  charts/nidx/templates/indexer-deploy.yaml
  charts/nidx/templates/scheduler-deploy.yaml
  charts/nidx/templates/searcher-deploy.yaml
  charts/nidx/templates/worker-deploy.yaml
  charts/nidx/values.yaml
  charts/nucliadb_ingest/templates/_cronjob_purge.tpl
  charts/nucliadb_ingest/templates/exporter.deploy.yaml
  charts/nucliadb_ingest/templates/ingest-orm-grpc.deploy.yaml
  charts/nucliadb_ingest/templates/ingest-processed-consumer.deploy.yaml
  charts/nucliadb_ingest/templates/ingest-subscriber-workers.deploy.yaml
  charts/nucliadb_ingest/templates/ingest.sts.yaml
  charts/nucliadb_ingest/templates/migrator.deploy.yaml
  charts/nucliadb_ingest/templates/rebalance.cronjob.yaml
  charts/nucliadb_ingest/values.yaml
  charts/nucliadb_reader/templates/reader.deploy.yaml
  charts/nucliadb_reader/values.yaml
  charts/nucliadb_search/templates/search.deploy.yaml
  charts/nucliadb_search/values.yaml
  charts/nucliadb_train/templates/train.deploy.yaml
  charts/nucliadb_train/values.yaml
  charts/nucliadb_writer/templates/writer.deploy.yaml
  charts/nucliadb_writer/values.yaml
Due: none

Charts: Add support for podLabels (#3304)
  charts/nidx/README.md
  charts/nidx/templates/api-deploy.yaml
  charts/nidx/templates/indexer-deploy.yaml
  charts/nidx/templates/scheduler-deploy.yaml
  charts/nidx/templates/searcher-deploy.yaml
  charts/nidx/templates/worker-deploy.yaml
  charts/nidx/values.yaml
  charts/nucliadb_ingest/templates/_cronjob_purge.tpl
  charts/nucliadb_ingest/templates/exporter.deploy.yaml
  charts/nucliadb_ingest/templates/ingest-orm-grpc.deploy.yaml
  charts/nucliadb_ingest/templates/ingest-processed-consumer.deploy.yaml
  charts/nucliadb_ingest/templates/ingest-subscriber-workers.deploy.yaml
  charts/nucliadb_ingest/templates/ingest.sts.yaml
  charts/nucliadb_ingest/templates/migrator.deploy.yaml
  charts/nucliadb_ingest/templates/rebalance.cronjob.yaml
  charts/nucliadb_ingest/values.yaml
  charts/nucliadb_reader/templates/reader.deploy.yaml
  charts/nucliadb_reader/values.yaml
  charts/nucliadb_search/templates/search.deploy.yaml
  charts/nucliadb_search/values.yaml
  charts/nucliadb_train/templates/train.deploy.yaml
  charts/nucliadb_train/values.yaml
  charts/nucliadb_writer/templates/writer.deploy.yaml
  charts/nucliadb_writer/values.yaml
Due: none

E2E Update K8s version and minio installation
  .github/workflows/e2e.yml
Due: none

E2E Update K8s version and minio installation (#3305)
  .github/workflows/e2e.yml
Due: none

extend test
  nucliadb/src/nucliadb/ingest/orm/brain_v2.py
  nucliadb/tests/ingest/unit/orm/test_brain.py
Due: lint_nucliadb

extend test
  nucliadb/src/nucliadb/ingest/orm/brain_v2.py
  nucliadb/tests/ingest/unit/orm/test_brain_vectors.py
Due: lint_nucliadb

extend test
  nucliadb/tests/ingest/unit/orm/test_brain.py
Due: lint_nucliadb

cleaner
  nucliadb/src/nucliadb/ingest/orm/brain_v2.py
Due: lint_nucliadb

Fix last layer k
  nidx/nidx_vector/src/hnsw/ops_hnsw.rs
Due: rustfmt_nidx, clippy_nidx

Path conditions:
  lint_nucliadb: any of: (^nucliadb/) and \.py$
  lint_nucliadb_dataset: any of: (^nucliadb_dataset/) and \.py$
  lint_nucliadb_models: any of: (^nucliadb_models/) and \.py$
  lint_nucliadb_sdk: any of: (^nucliadb_sdk/) and \.py$
  lint_nucliadb_telemetry: any of: (^nucliadb_telemetry/) and \.py$
  lint_nucliadb_utils: any of: (^nucliadb_utils/) and \.py$
  rustfmt_nidx: any of: (^nidx/) and \.rs$
  clippy_nidx: any of: (^nidx/) and \.rs$
