Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

isort_nucliadb:
  name: Isort
  entry: isort --profile black -c
  language: system

black_nucliadb:
  name: Black
  entry: black --check --verbose
  language: system

flake8_nucliadb:
  name: Flake8
  entry: flake8 --config=nucliadb/setup.cfg
  language: system

rustfmt_nucliadb:
  name: fmt
  entry: cargo +nightly fmt --check
  language: system
  pass_filenames: false

clippy_nucliadb:
  name: clippy
  entry: cargo clippy --all-features -- -D warnings
  language: system
  pass_filenames: false

on small kbs, calculate resources counter (#1220)
  nucliadb/nucliadb/search/api/v1/knowledgebox.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix possibility of gc multiple times
  nucliadb_node/nucliadb_node/pull.py
  nucliadb_node/nucliadb_node/tests/unit/test_pull.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix
  nucliadb_node/nucliadb_node/pull.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix possibility of gc multiple times (#1223)
  nucliadb_node/nucliadb_node/pull.py
  nucliadb_node/nucliadb_node/tests/unit/test_pull.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Fix cron exrpression in nucliadb_nightly_bench.yml
  .github/workflows/nucliadb_nightly_bench.yml
Due: none

WIP
  Cargo.lock
  nucliadb_vectors/src/service/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

have ListShards list all the shards in a node
  nucliadb_node/src/grpc/grpc_writer.rs
  nucliadb_node/src/shards/providers/unbounded_cache/async_unbounded_writer.rs
  nucliadb_node/src/shards/providers/unbounded_cache/unbounded_writer.rs
  nucliadb_node/tests/test_shards.rs
  nucliadb_node_binding/src/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

fmt
  nucliadb_node/src/grpc/grpc_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

lint
  nucliadb_node/tests/test_shards.rs
Due: rustfmt_nucliadb, clippy_nucliadb

tweak test
  nucliadb_node/tests/test_shards.rs
Due: rustfmt_nucliadb, clippy_nucliadb

tweak
  Cargo.lock
  nucliadb_node/src/grpc/grpc_writer.rs
  nucliadb_node_binding/src/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

try
  Cargo.lock
Due: none

fix
  Cargo.lock
Due: none

have ListShards list all the shards in a node (#1227)
  nucliadb_node/src/grpc/grpc_writer.rs
  nucliadb_node/src/shards/providers/unbounded_cache/async_unbounded_writer.rs
  nucliadb_node/src/shards/providers/unbounded_cache/unbounded_writer.rs
  nucliadb_node/tests/test_shards.rs
  nucliadb_node_binding/src/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

safer test
  nucliadb_node/tests/test_shards.rs
Due: rustfmt_nucliadb, clippy_nucliadb

fix race condition in gc
  Cargo.lock
  nucliadb_core/src/fs_state.rs
  nucliadb_vectors/Cargo.toml
  nucliadb_vectors/src/data_point_provider/merge_worker.rs
  nucliadb_vectors/src/data_point_provider/mod.rs
  nucliadb_vectors/src/data_point_provider/state.rs
  nucliadb_vectors/src/data_point_provider/work_flag.rs
  nucliadb_vectors/src/indexset/mod.rs
  nucliadb_vectors/src/indexset/state.rs
  nucliadb_vectors/src/service/reader.rs
  nucliadb_vectors/src/service/writer.rs
  vectors_benchmark/src/binaries/1m_stats.rs
  vectors_benchmark/src/binaries/vectors_benchmark.rs
  vectors_benchmark/src/engines/vectors.rs
Due: rustfmt_nucliadb, clippy_nucliadb

WIP lock gc
  Cargo.lock
  nucliadb_vectors/src/data_point_provider/mod.rs
  nucliadb_vectors/src/data_point_provider/work_flag.rs
  nucliadb_vectors/src/service/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

light ref
  nucliadb_vectors/src/data_point_provider/mod.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Stream look ahead and parse status code
  nucliadb/nucliadb/search/predict.py
  nucliadb/nucliadb/search/search/chat/query.py
  nucliadb/nucliadb/search/tests/unit/search/search/chat/test_query.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Fix lock gc (#1226)
  Cargo.lock
  nucliadb_core/src/fs_state.rs
  nucliadb_vectors/Cargo.toml
  nucliadb_vectors/src/data_point_provider/merge_worker.rs
  nucliadb_vectors/src/data_point_provider/mod.rs
  nucliadb_vectors/src/data_point_provider/state.rs
  nucliadb_vectors/src/data_point_provider/work_flag.rs
  nucliadb_vectors/src/indexset/mod.rs
  nucliadb_vectors/src/indexset/state.rs
  nucliadb_vectors/src/service/reader.rs
  nucliadb_vectors/src/service/writer.rs
  vectors_benchmark/src/binaries/1m_stats.rs
  vectors_benchmark/src/binaries/vectors_benchmark.rs
  vectors_benchmark/src/engines/vectors.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Simpler if condition
  nucliadb/nucliadb/search/search/chat/query.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Look ahead chat stream and parse predict status code (#1228)
  nucliadb/nucliadb/search/predict.py
  nucliadb/nucliadb/search/search/chat/query.py
  nucliadb/nucliadb/search/tests/unit/search/search/chat/test_query.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Fix cron exrpression in nucliadb_nightly_bench.yml (#1224)
  .github/workflows/nucliadb_nightly_bench.yml
Due: none

open nats dependency for telemetry package
  nucliadb_telemetry/VERSION
  nucliadb_telemetry/requirements.txt
Due: none

open nats dependency for telemetry package (#1230)
  nucliadb_telemetry/VERSION
  nucliadb_telemetry/requirements.txt
Due: none

upgrade nats library to 2.3.1
  nucliadb_utils/requirements.txt
Due: none

bump tele
  nucliadb/requirements.txt
  nucliadb_client/requirements.txt
  nucliadb_node/requirements.txt
  nucliadb_utils/requirements.txt
Due: none

refactor kb orm
  nucliadb/nucliadb/common/cluster/exceptions.py
  nucliadb/nucliadb/common/cluster/manager.py
  nucliadb/nucliadb/common/datamanagers/kb.py
  nucliadb/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/nucliadb/ingest/orm/processor/__init__.py
  nucliadb/nucliadb/ingest/service/writer.py
  nucliadb/nucliadb/search/search/query.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

test fixes
  nucliadb/nucliadb/ingest/tests/unit/consumer/test_shard_creator.py
  nucliadb/nucliadb/ingest/tests/unit/service/test_writer.py
  nucliadb/nucliadb/search/tests/unit/search/test_query.py
  nucliadb/nucliadb/tests/integration/search/test_search.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix
  nucliadb/nucliadb/common/cluster/manager.py
  nucliadb/nucliadb/ingest/consumer/shard_creator.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

support gc and shard splitting with standalone
  nucliadb/nucliadb/common/cluster/manager.py
  nucliadb/nucliadb/common/cluster/standalone/grpc_node_binding.py
  nucliadb/nucliadb/ingest/consumer/shard_creator.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

also on delete
  nucliadb/nucliadb/common/cluster/manager.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

upgrade nats library to 2.3.1 (#1229)
  nucliadb/requirements.txt
  nucliadb_client/requirements.txt
  nucliadb_node/requirements.txt
  nucliadb_utils/requirements.txt
Due: none

test fixes
  Cargo.lock
  nucliadb/nucliadb/ingest/tests/unit/service/test_writer.py
  nucliadb/nucliadb/tests/integration/common/maindb/test_drivers.py
  nucliadb/nucliadb/tests/unit/common/cluster/test_manager.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

only 1 exception with that name
  nucliadb/nucliadb/ingest/orm/exceptions.py
  nucliadb/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/nucliadb/ingest/orm/processor/__init__.py
  nucliadb/nucliadb/ingest/service/writer.py
  nucliadb/nucliadb/ingest/tests/unit/service/test_writer.py
  nucliadb/nucliadb/search/api/v1/find.py
  nucliadb/nucliadb/search/api/v1/search.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

exc for datamanagers/
  Cargo.lock
  nucliadb/nucliadb/common/datamanagers/exceptions.py
  nucliadb/nucliadb/common/datamanagers/kb.py
  nucliadb/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/nucliadb/ingest/orm/processor/__init__.py
  nucliadb/nucliadb/ingest/service/writer.py
  nucliadb/nucliadb/ingest/tests/unit/service/test_writer.py
  nucliadb/nucliadb/search/api/v1/find.py
  nucliadb/nucliadb/search/api/v1/search.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Done
  nucliadb/nucliadb/search/predict.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Better
  nucliadb/nucliadb/search/predict.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Add more parsing
  nucliadb/nucliadb/search/predict.py
  nucliadb/nucliadb/search/search/chat/query.py
  nucliadb/nucliadb/search/tests/unit/search/search/chat/test_query.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Path conditions:
  isort_nucliadb: any of: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/) and \.py$
  black_nucliadb: any of: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/) and \.py$
  flake8_nucliadb: any of: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/) and \.py$
  rustfmt_nucliadb: any of: (^nucliadb_vectors/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_paragraphs/)|(^nucliadb_texts/) and \.rs$
  clippy_nucliadb: any of: (^nucliadb_vectors/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_paragraphs/)|(^nucliadb_texts/) and \.rs$
