Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint_nucliadb
        name: Lint nucliadb
        entry: make -C nucliadb lint
        language: system
        files: (^nucliadb/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_dataset
        name: Lint nucliadb_dataset
        entry: make -C nucliadb_dataset lint
        language: system
        files: (^nucliadb_dataset/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_models
        name: Lint nucliadb_models
        entry: make -C nucliadb_models lint
        language: system
        files: (^nucliadb_models/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_node
        name: Lint nucliadb_node
        entry: make -C nucliadb_node lint
        language: system
        files: (^nucliadb_node/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_node_binding
        name: Lint nucliadb_node_binding
        entry: make -C nucliadb_node_binding lint
        language: system
        files: (^nucliadb_node_binding/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_performance
        name: Lint nucliadb_performance
        entry: make -C nucliadb_performance lint
        language: system
        files: (^nucliadb_performance/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_sdk
        name: Lint nucliadb_sdk
        entry: make -C nucliadb_sdk lint
        language: system
        files: (^nucliadb_sdk/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_telemetry
        name: Lint nucliadb_telemetry
        entry: make -C nucliadb_telemetry lint
        language: system
        files: (^nucliadb_telemetry/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_utils
        name: Lint nucliadb_utils
        entry: make -C nucliadb_utils lint
        language: system
        files: (^nucliadb_utils/)
        types: ["python"]
        pass_filenames: false

      - id: rustfmt_nucliadb
        name: fmt
        entry: cargo fmt --check
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nucliadb
        name: clippy
        entry: cargo clippy --all-features -- -D warnings
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

Change event name for promotions
  .github/workflows/deploy.yml
  .github/workflows/release.yml
Due: none

Add some basic metrics
  charts/nidx/templates/api-deploy.yaml
  charts/nidx/templates/indexer-deploy.yaml
  charts/nidx/templates/worker-deploy.yaml
  nidx/src/indexer.rs
  nidx/src/main.rs
  nidx/src/metrics.rs
  nidx/src/searcher/index_cache.rs
  nidx/src/telemetry.rs
  nidx/src/telemetry/duration_layer.rs
  nidx/src/telemetry/middleware.rs
  nidx/src/worker.rs
Due: none

Remove temporary code for nats pull consumers (#2711)
  nucliadb/src/nucliadb/ingest/consumer/consumer.py
  nucliadb_utils/src/nucliadb_utils/const.py
  nucliadb_utils/src/nucliadb_utils/featureflagging.py
Due: lint_nucliadb, lint_nucliadb_utils

Set timeouts for GCS
  nucliadb/src/nucliadb/writer/tus/gcs.py
  nucliadb_utils/src/nucliadb_utils/storages/gcs.py
Due: lint_nucliadb, lint_nucliadb_utils

Change event name for promotions (#2712)
  .github/workflows/deploy.yml
  .github/workflows/release.yml
Due: none

Set timeouts for GCS (#2714)
  nucliadb/src/nucliadb/writer/tus/gcs.py
  nucliadb_utils/src/nucliadb_utils/storages/gcs.py
Due: lint_nucliadb, lint_nucliadb_utils

Fix conversational Text
  nucliadb/src/nucliadb/search/search/chat/prompt.py
Due: lint_nucliadb

Improve storage tests: discover local driver bug
  nucliadb_utils/tests/integration/storages/test_storage.py
Due: lint_nucliadb_utils

Fix local driver iterate_objects
  nucliadb_utils/src/nucliadb_utils/storages/local.py
Due: lint_nucliadb_utils

Add some basic metrics (#2713)
  charts/nidx/templates/api-deploy.yaml
  charts/nidx/templates/indexer-deploy.yaml
  charts/nidx/templates/worker-deploy.yaml
  nidx/src/indexer.rs
  nidx/src/main.rs
  nidx/src/metrics.rs
  nidx/src/searcher/index_cache.rs
  nidx/src/telemetry.rs
  nidx/src/telemetry/duration_layer.rs
  nidx/src/telemetry/middleware.rs
  nidx/src/worker.rs
Due: none

Add insert_object to all Storage implementations
  nucliadb_utils/src/nucliadb_utils/storages/azure.py
  nucliadb_utils/src/nucliadb_utils/storages/gcs.py
  nucliadb_utils/src/nucliadb_utils/storages/local.py
  nucliadb_utils/src/nucliadb_utils/storages/object_store.py
  nucliadb_utils/src/nucliadb_utils/storages/s3.py
  nucliadb_utils/src/nucliadb_utils/storages/storage.py
  nucliadb_utils/src/nucliadb_utils/tests/gcs.py
  nucliadb_utils/tests/integration/storages/test_object_store.py
  nucliadb_utils/tests/integration/storages/test_storage.py
Due: lint_nucliadb_utils

Extract log merge strategy
  nidx/src/scheduler.rs
  nidx/src/scheduler/log_merge.rs
  nidx/src/scheduler/merge_task.rs
  nidx/src/scheduler/purge_tasks.rs
Due: none

Use insert_object as often as possible
  nucliadb_utils/src/nucliadb_utils/storages/storage.py
  nucliadb_utils/src/nucliadb_utils/tests/gcs.py
Due: lint_nucliadb_utils

Migrate docs buckets to ncl-docs-gcp-global-stage-1 + remove credentials
  .github/workflows/public_release.yml
Due: none

Proper object url handling
  nucliadb_utils/src/nucliadb_utils/storages/gcs.py
  nucliadb_utils/tests/integration/storages/test_storage.py
Due: lint_nucliadb_utils

Migrate docs buckets to ncl-docs-gcp-global-stage-1 + remove credentials (#2717)
  .github/workflows/public_release.yml
Due: none

Safer
  nucliadb_utils/src/nucliadb_utils/storages/storage.py
Due: lint_nucliadb_utils

Fix tests
  nucliadb_utils/src/nucliadb_utils/storages/gcs.py
Due: lint_nucliadb_utils

Add vector merge strategy
  nidx/src/scheduler.rs
  nidx/src/scheduler/log_merge.rs
  nidx/src/scheduler/merge_task.rs
  nidx/src/scheduler/vector_merge.rs
  nidx/src/settings.rs
Due: none

Fix unit tests
  nucliadb_utils/src/nucliadb_utils/storages/storage.py
  nucliadb_utils/tests/unit/storages/test_storage.py
Due: lint_nucliadb_utils

Scheduling merges based on deletions test
  nidx/src/scheduler/merge_task.rs
Due: none

Add job priorities
  nidx/.sqlx/query-4d7a76fa413c9ef0ce2a47ac7bb7e01d3e6a2aabded9487d21010a53efee8852.json
  nidx/.sqlx/query-4ff9f8d3f76bb30d1b2098e1d8ec93e5885bfd6fe2031c433c0439b1bcf8f2ef.json
  nidx/.sqlx/query-6cc028439d3016747a00fcee92987ae6b33ea246b95b9fbc51c5bc126f5ee69f.json
  nidx/.sqlx/query-8409f5e3b2cf08a3a7bc20d697065b99880943634eaa34a4d065b036d414609d.json
  nidx/.sqlx/query-a55265c9b07bd1399961a6f1e757201fd0eebe868ddaf96437111113d80fce92.json
  nidx/.sqlx/query-bd9afa22994aba671dbf7b5f89b53c2ee02f53c0442a81265786a6d52d08512f.json
  nidx/.sqlx/query-ca7618102d184f9734ba876b0ade0bbc47d2d99747d9df380b120680d77c3b83.json
  nidx/migrations/20241211120039_merge_job_priority.sql
  nidx/src/metadata/merge_job.rs
  nidx/src/scheduler/merge_task.rs
Due: none

Some basic pg indexes
  nidx/migrations/20241211121159_basic_indexes.sql
Due: none

Better naming
  nucliadb_utils/src/nucliadb_utils/storages/storage.py
  nucliadb_utils/tests/integration/storages/test_field_storage.py
  nucliadb_utils/tests/unit/storages/test_storage.py
Due: lint_nucliadb_utils

Add docstrings
  nucliadb_utils/src/nucliadb_utils/storages/storage.py
Due: lint_nucliadb_utils

Storage inserts instead of uploads (#2716)
  nucliadb_utils/src/nucliadb_utils/storages/azure.py
  nucliadb_utils/src/nucliadb_utils/storages/gcs.py
  nucliadb_utils/src/nucliadb_utils/storages/local.py
  nucliadb_utils/src/nucliadb_utils/storages/object_store.py
  nucliadb_utils/src/nucliadb_utils/storages/s3.py
  nucliadb_utils/src/nucliadb_utils/storages/storage.py
  nucliadb_utils/src/nucliadb_utils/tests/gcs.py
  nucliadb_utils/tests/integration/storages/test_field_storage.py
  nucliadb_utils/tests/integration/storages/test_object_store.py
  nucliadb_utils/tests/integration/storages/test_storage.py
  nucliadb_utils/tests/unit/storages/test_storage.py
Due: lint_nucliadb_utils

Fix
  nucliadb/src/nucliadb/search/search/chat/prompt.py
Due: lint_nucliadb

Fix conversational Text (#2715)
  nucliadb/src/nucliadb/search/search/chat/prompt.py
Due: lint_nucliadb

Parallelize apply_extracted
  nucliadb/src/nucliadb/ingest/orm/resource.py
Due: lint_nucliadb

fix
  nucliadb/src/nucliadb/ingest/orm/resource.py
Due: lint_nucliadb

Fix max ack pending for processed consumers
  nucliadb/src/nucliadb/ingest/consumer/consumer.py
Due: lint_nucliadb

Do not create empty deletions
  nidx/src/indexer.rs
Due: none

Provide computed metadata from splits also
  nucliadb/src/nucliadb/ingest/orm/resource.py
Due: lint_nucliadb

Fix max ack pending for processed consumers (#2721)
  nucliadb/src/nucliadb/ingest/consumer/consumer.py
Due: lint_nucliadb

Fix languages test
  nucliadb/src/nucliadb/ingest/orm/resource.py
Due: lint_nucliadb

Bring back parallel index download
  nidx/nidx_binding/src/lib.rs
  nidx/src/metadata/merge_job.rs
  nidx/src/searcher.rs
  nidx/src/searcher/sync.rs
  nidx/src/settings.rs
  nidx/tests/common/services.rs
  nidx/tests/synced_searcher.rs
Due: none

Do not create empty deletions (#2722)
  nidx/src/indexer.rs
Due: none

Nidx merge strategies (#2718)
  nidx/.sqlx/query-4d7a76fa413c9ef0ce2a47ac7bb7e01d3e6a2aabded9487d21010a53efee8852.json
  nidx/.sqlx/query-4ff9f8d3f76bb30d1b2098e1d8ec93e5885bfd6fe2031c433c0439b1bcf8f2ef.json
  nidx/.sqlx/query-6cc028439d3016747a00fcee92987ae6b33ea246b95b9fbc51c5bc126f5ee69f.json
  nidx/.sqlx/query-8409f5e3b2cf08a3a7bc20d697065b99880943634eaa34a4d065b036d414609d.json
  nidx/.sqlx/query-a55265c9b07bd1399961a6f1e757201fd0eebe868ddaf96437111113d80fce92.json
  nidx/.sqlx/query-bd9afa22994aba671dbf7b5f89b53c2ee02f53c0442a81265786a6d52d08512f.json
  nidx/.sqlx/query-ca7618102d184f9734ba876b0ade0bbc47d2d99747d9df380b120680d77c3b83.json
  nidx/migrations/20241211120039_merge_job_priority.sql
  nidx/migrations/20241211121159_basic_indexes.sql
  nidx/src/metadata/merge_job.rs
  nidx/src/scheduler.rs
  nidx/src/scheduler/log_merge.rs
  nidx/src/scheduler/merge_task.rs
  nidx/src/scheduler/purge_tasks.rs
  nidx/src/scheduler/vector_merge.rs
  nidx/src/settings.rs
Due: none
