Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nidx, clippy_nidx

lint_nucliadb:
  name: Lint nucliadb
  entry: make -C nucliadb lint
  language: system
  pass_filenames: false

lint_nucliadb_dataset:
  name: Lint nucliadb_dataset
  entry: make -C nucliadb_dataset lint
  language: system
  pass_filenames: false

lint_nucliadb_models:
  name: Lint nucliadb_models
  entry: make -C nucliadb_models lint
  language: system
  pass_filenames: false

lint_nucliadb_sdk:
  name: Lint nucliadb_sdk
  entry: make -C nucliadb_sdk lint
  language: system
  pass_filenames: false

lint_nucliadb_telemetry:
  name: Lint nucliadb_telemetry
  entry: make -C nucliadb_telemetry lint
  language: system
  pass_filenames: false

lint_nucliadb_utils:
  name: Lint nucliadb_utils
  entry: make -C nucliadb_utils lint
  language: system
  pass_filenames: false

rustfmt_nidx:
  name: Rust format check for nidx
  entry: cargo fmt --check --all --manifest-path nidx/Cargo.toml
  language: system
  pass_filenames: false

clippy_nidx:
  name: Clippy warning check for nidx
  entry: cargo clippy --all-features --manifest-path nidx/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

simpler
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
Due: lint_nucliadb

simpler
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

polishment
  nucliadb/src/nucliadb/search/search/chat/prompt.py
Due: lint_nucliadb

Catalog count optimizations (#3167)
  nucliadb/src/migrations/pg/0009_extract_facets_safety.py
  nucliadb/src/nucliadb/search/search/pgcatalog.py
Due: lint_nucliadb

Catalog facets endpoint (#3161)
  charts/nucliadb_search/templates/search.vs.yaml
  nucliadb/src/nucliadb/search/api/v1/catalog.py
  nucliadb/src/nucliadb/search/search/pgcatalog.py
  nucliadb/tests/nucliadb/integration/search/test_catalog.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

Restrict protobuf version for easier resolution
  nucliadb/pyproject.toml
  uv.lock
Due: none

Restrict protobuf version for easier resolution (#3169)
  nucliadb/pyproject.toml
  uv.lock
Due: none

Add tests
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/tests/nucliadb/integration/test_ask.py
  nucliadb/tests/search/unit/search/test_chat_prompt.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_sdk

more
  nucliadb/src/nucliadb/search/search/chat/prompt.py
Due: lint_nucliadb

ref
  nucliadb/src/nucliadb/search/search/chat/prompt.py
Due: lint_nucliadb

fix
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/tests/nucliadb/integration/test_ask.py
  nucliadb/tests/search/unit/search/test_chat_prompt.py
Due: lint_nucliadb

fix
  nucliadb/tests/nucliadb/integration/test_ask.py
Due: lint_nucliadb

adapt changes
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/tests/search/unit/search/test_chat_prompt.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

Improve citations (#3168)
  nucliadb/src/nucliadb/ingest/fields/base.py
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/tests/nucliadb/integration/test_ask.py
  nucliadb/tests/search/unit/search/test_chat_prompt.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_sdk

add exception to gcs retries
  nucliadb/src/nucliadb/writer/tus/gcs.py
Due: lint_nucliadb

better imports
  nucliadb/src/nucliadb/writer/tus/gcs.py
Due: lint_nucliadb

Add exception to gcs retries (#3170)
  nucliadb/src/nucliadb/writer/tus/gcs.py
Due: lint_nucliadb

add x-show-consumption header
  nucliadb/pyproject.toml
  nucliadb/src/nucliadb/search/api/v1/ask.py
  nucliadb/src/nucliadb/search/api/v1/summarize.py
  nucliadb/src/nucliadb/search/predict.py
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/predict_proxy.py
  nucliadb/src/nucliadb/search/search/summarize.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_sdk/pyproject.toml
  uv.lock
Due: lint_nucliadb, lint_nucliadb_models

add fix
  nucliadb/src/nucliadb/search/search/predict_proxy.py
Due: lint_nucliadb

ask resource
  nucliadb/src/nucliadb/search/api/v1/resource/ask.py
  nucliadb/src/nucliadb/search/api/v1/summarize.py
Due: lint_nucliadb

fix lint
  nucliadb/src/nucliadb/search/api/v1/ask.py
  nucliadb/src/nucliadb/search/api/v1/resource/ask.py
  nucliadb/src/nucliadb/search/api/v1/summarize.py
  nucliadb/src/nucliadb/search/predict.py
  nucliadb/src/nucliadb/search/search/summarize.py
Due: lint_nucliadb

Add sdk method to add conversation messages using resource slug
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
  nucliadb_sdk/tests/test_sdk.py
  uv.lock
Due: lint_nucliadb_sdk

Fix url path
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
Due: lint_nucliadb_sdk

Fix lock file
  uv.lock
Due: none

Fix lockfile
  uv.lock
Due: none

Add sdk method to add conversation messages using resource slug (#3172)
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
  nucliadb_sdk/tests/test_sdk.py
Due: lint_nucliadb_sdk

Add catalog facets endpoint to SDK
  nucliadb/src/nucliadb/search/api/v1/catalog.py
  nucliadb/tests/nucliadb/integration/search/test_catalog.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
  uv.lock
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_sdk

Add catalog facets endpoint to SDK (#3173)
  nucliadb/src/nucliadb/search/api/v1/catalog.py
  nucliadb/tests/nucliadb/integration/search/test_catalog.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
  uv.lock
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_sdk

fix paragraph not found condition
  nucliadb/src/nucliadb/search/search/chat/prompt.py
Due: lint_nucliadb

fix paragraph not found condition (#3174)
  nucliadb/src/nucliadb/search/search/chat/prompt.py
Due: lint_nucliadb

Add generative seed to AskRequest and ChatModel (#3160)
  VERSION
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

wip
  nucliadb/src/nucliadb/search/search/chat/prompt.py
Due: lint_nucliadb

simpler context capping
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/tests/search/unit/search/test_chat_prompt.py
Due: lint_nucliadb

Update nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
Due: lint_nucliadb

Simpler LLM context capping (#3175)
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/tests/search/unit/search/test_chat_prompt.py
Due: lint_nucliadb

Fix predict proxy streaming. Each chunk should be a line in order to correctly parse it.
  nucliadb/src/nucliadb/search/search/predict_proxy.py
Due: lint_nucliadb

Fix unit test
  nucliadb/tests/search/unit/search/test_predict_proxy.py
Due: lint_nucliadb

Fix predict proxy streaming. Each chunk should be a line in order to parse it (#3176)
  nucliadb/src/nucliadb/search/search/predict_proxy.py
  nucliadb/tests/search/unit/search/test_predict_proxy.py
Due: lint_nucliadb

Do not pass empty words to catalog search,
  nucliadb/src/nucliadb/search/search/pgcatalog.py
  nucliadb/tests/nucliadb/integration/search/test_catalog.py
Due: lint_nucliadb

Fix non-json chat stream in predict proxy
  nucliadb/src/nucliadb/search/search/predict_proxy.py
Due: lint_nucliadb

Path conditions:
  lint_nucliadb: any of: (^nucliadb/) and \.py$
  lint_nucliadb_dataset: any of: (^nucliadb_dataset/) and \.py$
  lint_nucliadb_models: any of: (^nucliadb_models/) and \.py$
  lint_nucliadb_sdk: any of: (^nucliadb_sdk/) and \.py$
  lint_nucliadb_telemetry: any of: (^nucliadb_telemetry/) and \.py$
  lint_nucliadb_utils: any of: (^nucliadb_utils/) and \.py$
  rustfmt_nidx: any of: (^nidx/) and \.rs$
  clippy_nidx: any of: (^nidx/) and \.rs$
