Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

isort_nucliadb:
  name: Isort
  entry: isort --profile black -c
  language: system

black_nucliadb:
  name: Black
  entry: black --check --verbose
  language: system

flake8_nucliadb:
  name: Flake8
  entry: flake8 --config=nucliadb/setup.cfg
  language: system

rustfmt_nucliadb:
  name: fmt
  entry: cargo +nightly fmt --check
  language: system
  pass_filenames: false

clippy_nucliadb:
  name: clippy
  entry: cargo clippy --all-features -- -D warnings
  language: system
  pass_filenames: false

updater for reader
  nucliadb_core/src/lib.rs
  nucliadb_core/src/paragraphs.rs
  nucliadb_core/src/relations.rs
  nucliadb_core/src/texts.rs
  nucliadb_core/src/vectors.rs
  nucliadb_node/src/grpc/grpc_reader.rs
  nucliadb_node/src/grpc/mod.rs
  nucliadb_node/src/grpc/update.rs
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_node/src/shards/shard_writer.rs
  nucliadb_node/src/shards/versions.rs
  nucliadb_node_binding/src/lib.rs
  nucliadb_node_binding/src/reader.rs
  nucliadb_node_binding/src/update.rs
  nucliadb_vectors/src/indexset/mod.rs
  nucliadb_vectors/src/service/reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Sleep a bit more while waiting for node
  nucliadb/nucliadb/common/cluster/rollover.py
Due: none

Better min score feature (#1910)
  nucliadb/nucliadb/search/api/v1/find.py
  nucliadb/nucliadb/search/api/v1/resource/search.py
  nucliadb/nucliadb/search/api/v1/search.py
  nucliadb/nucliadb/search/search/find.py
  nucliadb/nucliadb/search/search/find_merge.py
  nucliadb/nucliadb/search/search/merge.py
  nucliadb/nucliadb/search/search/query.py
  nucliadb/nucliadb/search/search/utils.py
  nucliadb/nucliadb/search/tests/integration/requesters/test_utils.py
  nucliadb/nucliadb/search/tests/unit/search/search/chat/test_query.py
  nucliadb/nucliadb/search/tests/unit/search/test_chat_prompt.py
  nucliadb/nucliadb/search/tests/unit/search/test_query.py
  nucliadb/nucliadb/search/tests/unit/test_merge.py
  nucliadb/nucliadb/tests/integration/search/test_filters.py
  nucliadb/nucliadb/tests/integration/search/test_search.py
  nucliadb/nucliadb/tests/integration/test_find.py
  nucliadb_core/src/query_planner.rs
  nucliadb_models/nucliadb_models/search.py
  nucliadb_paragraphs/src/reader.rs
  nucliadb_paragraphs/src/search_response.rs
  nucliadb_protos/nodereader.proto
  nucliadb_protos/python/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/nucliadb_protos/dataset_pb2.py
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/nucliadb_protos/migrations_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.py
  nucliadb_protos/python/nucliadb_protos/replication_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/nucliadb_protos/standalone_pb2.py
  nucliadb_protos/python/nucliadb_protos/train_pb2.py
  nucliadb_protos/python/nucliadb_protos/utils_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.py
  nucliadb_protos/rust/src/nodereader.rs
  nucliadb_sdk/nucliadb_sdk/tests/test_search.py
  nucliadb_texts2/src/reader.rs
  nucliadb_texts2/tests/test_search.rs
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

Sleep a bit more while waiting for node (#1912)
  nucliadb/nucliadb/common/cluster/rollover.py
Due: none

gc
  nucliadb_node/src/grpc/collect_garbage.rs
  nucliadb_node/src/grpc/grpc_reader.rs
  nucliadb_node/src/grpc/grpc_writer.rs
  nucliadb_node/src/grpc/mod.rs
  nucliadb_node/src/grpc/update.rs
  nucliadb_node/src/replication/replicator.rs
  nucliadb_node/src/shards/shard_writer.rs
  nucliadb_node_binding/src/reader.rs
  nucliadb_node_binding/src/writer.rs
  nucliadb_vectors/src/data_point_provider/reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

merge by number of nodes
  nucliadb_vectors/src/data_point_provider/mod.rs
Due: rustfmt_nucliadb, clippy_nucliadb

fix
  nucliadb_vectors/src/data_point_provider/mod.rs
Due: rustfmt_nucliadb, clippy_nucliadb

merge by number of nodes (#1913)
  nucliadb_vectors/src/data_point_provider/mod.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Improve python part
  nucliadb/nucliadb/common/cluster/grpc_node_dummy.py
  nucliadb/nucliadb/common/cluster/manager.py
  nucliadb/nucliadb/common/cluster/standalone/grpc_node_binding.py
  nucliadb/nucliadb/ingest/orm/entities.py
  nucliadb/nucliadb/ingest/service/writer.py
  nucliadb/nucliadb/reader/api/v1/services.py
  nucliadb/nucliadb/standalone/tests/integration/test_services.py
  nucliadb/nucliadb/tests/integration/test_api.py
  nucliadb/nucliadb/tests/integration/test_entities.py
  nucliadb/nucliadb/tests/unit/common/cluster/standalone/test_service.py
  nucliadb_core/src/relations.rs
  nucliadb_models/nucliadb_models/entities.py
  nucliadb_node/src/grpc/grpc_reader.rs
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_node_binding/src/reader.rs
  nucliadb_protos/nodereader.proto
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2_grpc.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2_grpc.pyi
  nucliadb_protos/rust/src/nodereader.rs
  nucliadb_relations/src/service/reader.rs
  nucliadb_relations/src/service/tests.rs
  nucliadb_relations2/src/reader.rs
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

remove useless comment
  nucliadb/nucliadb/ingest/orm/entities.py
Due: none

shards where being loaded on get
  nucliadb_node/src/grpc/collect_garbage.rs
  nucliadb_node/src/grpc/grpc_reader.rs
  nucliadb_node/src/grpc/grpc_writer.rs
  nucliadb_node/src/grpc/update.rs
  nucliadb_node/src/merge/scheduler.rs
  nucliadb_node/src/replication/replicator.rs
  nucliadb_node/src/replication/service.rs
  nucliadb_node/src/shards/providers/shard_cache/reader_cache.rs
  nucliadb_node/src/shards/providers/shard_cache/resource_cache.rs
  nucliadb_node/src/shards/providers/shard_cache/writer_cache.rs
  nucliadb_node/tests/test_replication.rs
  nucliadb_node_binding/src/reader.rs
  nucliadb_node_binding/src/update.rs
  nucliadb_node_binding/src/writer.rs
  nucliadb_vectors/src/data_point_provider/reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

use read replicas more
  nucliadb/nucliadb/ingest/orm/entities.py
Due: none

add control by env var
  nucliadb_vectors/src/data_point_provider/mod.rs
Due: rustfmt_nucliadb, clippy_nucliadb

documenting + fixing
  nucliadb_node/src/grpc/grpc_writer.rs
  nucliadb_vectors/src/data_point_provider/reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

retry unhandle client/server proxy errors
  nucliadb/nucliadb/learning_proxy.py
Due: none

lint
  nucliadb/nucliadb/learning_proxy.py
Due: none

moar
  nucliadb/nucliadb/learning_proxy.py
Due: none

asyncio fixes
  nucliadb/nucliadb/ingest/orm/entities.py
  nucliadb/nucliadb/standalone/tests/integration/test_services.py
Due: none

better
  nucliadb/nucliadb/learning_proxy.py
Due: none

oops
  nucliadb/nucliadb/learning_proxy.py
Due: none

another
  nucliadb/nucliadb/learning_proxy.py
Due: none

add control by env var (#1915)
  nucliadb_vectors/src/data_point_provider/mod.rs
Due: rustfmt_nucliadb, clippy_nucliadb

fix min score
  nucliadb_models/nucliadb_models/search.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix
  nucliadb_models/nucliadb_models/search.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix test
  nucliadb/nucliadb/tests/unit/test_learning_proxy.py
Due: none

Fix min score result (#1917)
  nucliadb_models/nucliadb_models/search.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

retry unhandle client/server proxy errors (#1916)
  nucliadb/nucliadb/learning_proxy.py
  nucliadb/nucliadb/tests/unit/test_learning_proxy.py
Due: none

done
  nucliadb/nucliadb/ingest/consumer/consumer.py
  nucliadb/nucliadb/ingest/tests/unit/consumer/test_consumer.py
  nucliadb_utils/nucliadb_utils/settings.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

handle consumer not found
  nucliadb/nucliadb/ingest/consumer/consumer.py
Due: none

fixes
  nucliadb_node/src/grpc/collect_garbage.rs
  nucliadb_node/src/grpc/grpc_reader.rs
  nucliadb_node/src/grpc/grpc_writer.rs
  nucliadb_node/src/grpc/update.rs
  nucliadb_node/src/merge/scheduler.rs
  nucliadb_node/src/replication/replicator.rs
  nucliadb_node/src/replication/service.rs
  nucliadb_node/src/shards/providers/shard_cache/reader_cache.rs
  nucliadb_node/src/shards/providers/shard_cache/writer_cache.rs
  nucliadb_node/tests/test_replication.rs
  nucliadb_node_binding/src/reader.rs
  nucliadb_node_binding/src/update.rs
  nucliadb_node_binding/src/writer.rs
  nucliadb_vectors/src/data_point/mod.rs
  nucliadb_vectors/src/data_point_provider/reader.rs
  nucliadb_vectors/src/data_point_provider/state.rs
  nucliadb_vectors/src/data_point_provider/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Better
  nucliadb/nucliadb/ingest/consumer/consumer.py
Due: none

happy clippy
  nucliadb_vectors/src/data_point/mod.rs
  nucliadb_vectors/src/data_point_provider/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Back off processed consumers when node indexing queues are behind (#1918)
  nucliadb/nucliadb/ingest/consumer/consumer.py
  nucliadb/nucliadb/ingest/tests/unit/consumer/test_consumer.py
  nucliadb_utils/nucliadb_utils/settings.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

add gc to bindings
  nucliadb_node_binding/src/collect_garbage.rs
  nucliadb_node_binding/src/lib.rs
  nucliadb_node_binding/src/writer.rs
Due: none

fix
  nucliadb/nucliadb/ingest/consumer/consumer.py
Due: none

control intervals through env var
  nucliadb_node/src/grpc/grpc_reader.rs
  nucliadb_node/src/grpc/grpc_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Fix can process (#1919)
  nucliadb/nucliadb/ingest/consumer/consumer.py
Due: none

reload
  nucliadb_core/src/vectors.rs
  nucliadb_node/src/shards/shard_writer.rs
  nucliadb_vectors/src/data_point_provider/writer.rs
  nucliadb_vectors/src/service/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Rewind buffer for loading 2 states
  nucliadb_vectors/src/data_point_provider/state.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Path conditions:
  isort_nucliadb: any of: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)(^nucliadb_performace/) and \.py$
  black_nucliadb: any of: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)(^nucliadb_performace/) and \.py$
  flake8_nucliadb: any of: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)(^nucliadb_performace/) and \.py$
  rustfmt_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
  clippy_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
