Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nidx, clippy_nidx

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint_nucliadb
        name: Lint nucliadb
        entry: make -C nucliadb lint
        language: system
        files: (^nucliadb/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_dataset
        name: Lint nucliadb_dataset
        entry: make -C nucliadb_dataset lint
        language: system
        files: (^nucliadb_dataset/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_models
        name: Lint nucliadb_models
        entry: make -C nucliadb_models lint
        language: system
        files: (^nucliadb_models/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_sdk
        name: Lint nucliadb_sdk
        entry: make -C nucliadb_sdk lint
        language: system
        files: (^nucliadb_sdk/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_telemetry
        name: Lint nucliadb_telemetry
        entry: make -C nucliadb_telemetry lint
        language: system
        files: (^nucliadb_telemetry/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_utils
        name: Lint nucliadb_utils
        entry: make -C nucliadb_utils lint
        language: system
        files: (^nucliadb_utils/)
        types: ["python"]
        pass_filenames: false

      - id: rustfmt_nidx
        name: Rust format check for nidx
        entry: cargo fmt --check --all --manifest-path nidx/Cargo.toml
        language: system
        files: (^nidx/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nidx
        name: Clippy warning check for nidx
        entry: cargo clippy --all-features --manifest-path nidx/Cargo.toml -- -D warnings
        language: system
        files: (^nidx/)
        types: ["rust"]
        pass_filenames: false

Remove page selections from api
  nucliadb/src/nucliadb/common/models_utils/from_proto.py
  nucliadb/src/nucliadb/train/generators/image_classifier.py
  nucliadb/src/nucliadb/writer/resource/basic.py
  nucliadb_models/src/nucliadb_models/metadata.py
  nucliadb_protos/python/src/nucliadb_protos/dataset_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2_grpc.pyi
  nucliadb_protos/resources.proto
Due: lint_nucliadb, lint_nucliadb_models

remove stream logic
  nucliadb/src/nucliadb/train/generators/image_classifier.py
  nucliadb/tests/nucliadb/integration/test_visual_selections.py
  nucliadb/tests/train/test_image_classification.py
Due: lint_nucliadb

fix test
  nucliadb/tests/standalone/integration/test_fieldmetadata.py
Due: lint_nucliadb

Remove page selections annotations (aka pawls) (#3032)
  nucliadb/src/nucliadb/common/models_utils/from_proto.py
  nucliadb/src/nucliadb/train/generators/image_classifier.py
  nucliadb/src/nucliadb/writer/resource/basic.py
  nucliadb/tests/nucliadb/integration/test_visual_selections.py
  nucliadb/tests/standalone/integration/test_fieldmetadata.py
  nucliadb/tests/train/test_image_classification.py
  nucliadb_models/src/nucliadb_models/metadata.py
  nucliadb_protos/python/src/nucliadb_protos/dataset_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2_grpc.pyi
  nucliadb_protos/resources.proto
Due: lint_nucliadb, lint_nucliadb_models

Done
  .python-version
  nidx/nidx_text/src/lib.rs
  nidx/nidx_text/src/reader.rs
  nidx/nidx_text/src/resource_indexer.rs
  nidx/nidx_text/src/schema.rs
  nidx/nidx_text/tests/test_deletions.rs
  nidx/src/import_export.rs
  nucliadb/src/nucliadb/ingest/orm/brain.py
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/tests/nucliadb/integration/test_api.py
  nucliadb_protos/noderesources.proto
  nucliadb_protos/python/src/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/noderesources_pb2.pyi
Due: lint_nucliadb, rustfmt_nidx, clippy_nidx

Decouple
  nidx/nidx_paragraph/src/lib.rs
  nidx/nidx_text/src/lib.rs
  nucliadb/src/migrations/0023_backfill_pg_catalog.py
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb/src/nucliadb/ingest/fields/exceptions.py
  nucliadb/src/nucliadb/ingest/orm/brain_v2.py
  nucliadb/src/nucliadb/ingest/orm/index_message.py
  nucliadb/src/nucliadb/ingest/orm/metrics.py
  nucliadb/src/nucliadb/ingest/orm/processor/pgcatalog.py
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/ingest/service/writer.py
  nucliadb/src/nucliadb/writer/api/v1/resource.py
  nucliadb/tests/ingest/integration/orm/test_orm_resource.py
  nucliadb/tests/ingest/unit/orm/test_processor.py
  nucliadb/tests/ingest/unit/orm/test_resource.py
  nucliadb/tests/nucliadb/integration/test_api.py
  nucliadb/tests/nucliadb/integration/test_data_augmentation_field_generation.py
  nucliadb/tests/nucliadb/integration/test_find.py
  nucliadb_protos/noderesources.proto
  nucliadb_protos/python/src/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/noderesources_pb2.pyi
  nucliadb_utils/src/nucliadb_utils/const.py
  nucliadb_utils/src/nucliadb_utils/featureflagging.py
Due: lint_nucliadb, lint_nucliadb_utils, rustfmt_nidx, clippy_nidx

Decouple
  Makefile
  nidx/nidx_paragraph/src/lib.rs
  nidx/nidx_text/src/lib.rs
  nucliadb/src/migrations/0023_backfill_pg_catalog.py
  nucliadb/src/nucliadb/common/cluster/rollover.py
  nucliadb/src/nucliadb/common/cluster/utils.py
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb/src/nucliadb/ingest/fields/exceptions.py
  nucliadb/src/nucliadb/ingest/orm/brain_v2.py
  nucliadb/src/nucliadb/ingest/orm/index_message.py
  nucliadb/src/nucliadb/ingest/orm/metrics.py
  nucliadb/src/nucliadb/ingest/orm/processor/pgcatalog.py
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/ingest/service/writer.py
  nucliadb/src/nucliadb/writer/api/v1/resource.py
  nucliadb/tests/ingest/integration/ingest/test_ingest.py
  nucliadb/tests/ingest/integration/ingest/test_relations.py
  nucliadb/tests/ingest/integration/orm/test_orm_resource.py
  nucliadb/tests/ingest/unit/orm/test_processor.py
  nucliadb/tests/ingest/unit/orm/test_resource.py
  nucliadb/tests/nucliadb/integration/search/test_search.py
  nucliadb/tests/nucliadb/integration/search/test_search_date_ranges_filter.py
  nucliadb/tests/nucliadb/integration/test_api.py
  nucliadb/tests/nucliadb/integration/test_data_augmentation_field_generation.py
  nucliadb/tests/nucliadb/integration/test_find.py
  nucliadb/tests/nucliadb/unit/common/cluster/test_rollover.py
  nucliadb/tests/search/integration/api/v1/test_suggest.py
  nucliadb_protos/noderesources.proto
  nucliadb_protos/python/src/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/noderesources_pb2.pyi
  nucliadb_utils/src/nucliadb_utils/const.py
  nucliadb_utils/src/nucliadb_utils/featureflagging.py
Due: lint_nucliadb, lint_nucliadb_utils, rustfmt_nidx, clippy_nidx

Safer
  nidx/nidx_text/src/lib.rs
  nidx/src/import_export.rs
Due: rustfmt_nidx, clippy_nidx

Per field deletions (rust part)
  nidx/nidx_text/src/lib.rs
Due: rustfmt_nidx, clippy_nidx

Proper per-field deletions (1: python part) (#3033)
  .python-version
  nidx/nidx_text/src/lib.rs
  nidx/nidx_text/src/reader.rs
  nidx/nidx_text/src/resource_indexer.rs
  nidx/nidx_text/src/schema.rs
  nidx/nidx_text/tests/test_deletions.rs
  nidx/src/import_export.rs
  nucliadb/src/nucliadb/ingest/orm/brain.py
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/tests/nucliadb/integration/test_api.py
  nucliadb_protos/noderesources.proto
  nucliadb_protos/python/src/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/noderesources_pb2.pyi
Due: lint_nucliadb, rustfmt_nidx, clippy_nidx

Add metrics to index cache
  nidx/nidx_paragraph/src/lib.rs
  nidx/nidx_relation/src/lib.rs
  nidx/nidx_text/src/lib.rs
  nidx/nidx_vector/src/data_point/mod.rs
  nidx/nidx_vector/src/data_point_provider/reader.rs
  nidx/nidx_vector/src/inverted_index.rs
  nidx/nidx_vector/src/inverted_index/fst_index.rs
  nidx/nidx_vector/src/lib.rs
  nidx/src/metrics.rs
  nidx/src/searcher/index_cache.rs
Due: rustfmt_nidx, clippy_nidx

Update cargo deps
  nidx/Cargo.lock
Due: none

Proper per-field deletions (2: rust part) (#3036)
  nidx/nidx_text/src/lib.rs
Due: rustfmt_nidx, clippy_nidx

Keep correct count on reload
  nidx/src/searcher/index_cache.rs
Due: rustfmt_nidx, clippy_nidx

Comment
  nidx/src/searcher/index_cache.rs
Due: rustfmt_nidx, clippy_nidx

Index cache metrics (#3037)
  nidx/Cargo.lock
  nidx/nidx_paragraph/src/lib.rs
  nidx/nidx_relation/src/lib.rs
  nidx/nidx_text/src/lib.rs
  nidx/nidx_vector/src/data_point/mod.rs
  nidx/nidx_vector/src/data_point_provider/reader.rs
  nidx/nidx_vector/src/inverted_index.rs
  nidx/nidx_vector/src/inverted_index/fst_index.rs
  nidx/nidx_vector/src/lib.rs
  nidx/src/metrics.rs
  nidx/src/searcher/index_cache.rs
Due: rustfmt_nidx, clippy_nidx

Decouple
  Makefile
  nidx/nidx_paragraph/src/lib.rs
  nidx/nidx_text/src/lib.rs
  nidx/src/indexer.rs
  nucliadb/src/migrations/0023_backfill_pg_catalog.py
  nucliadb/src/nucliadb/common/cluster/rollover.py
  nucliadb/src/nucliadb/common/cluster/utils.py
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb/src/nucliadb/ingest/fields/exceptions.py
  nucliadb/src/nucliadb/ingest/orm/brain_v2.py
  nucliadb/src/nucliadb/ingest/orm/index_message.py
  nucliadb/src/nucliadb/ingest/orm/metrics.py
  nucliadb/src/nucliadb/ingest/orm/processor/pgcatalog.py
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/ingest/service/writer.py
  nucliadb/src/nucliadb/writer/api/v1/resource.py
  nucliadb/tests/ingest/integration/ingest/test_ingest.py
  nucliadb/tests/ingest/integration/ingest/test_relations.py
  nucliadb/tests/ingest/integration/ingest/test_vectorsets.py
  nucliadb/tests/ingest/integration/orm/test_orm_resource.py
  nucliadb/tests/ingest/unit/orm/test_processor.py
  nucliadb/tests/ingest/unit/orm/test_resource.py
  nucliadb/tests/ndbfixtures/search.py
  nucliadb/tests/nucliadb/integration/search/test_filters.py
  nucliadb/tests/nucliadb/integration/search/test_search.py
  nucliadb/tests/nucliadb/integration/search/test_search_date_ranges_filter.py
  nucliadb/tests/nucliadb/integration/test_api.py
  nucliadb/tests/nucliadb/integration/test_conversation.py
  nucliadb/tests/nucliadb/integration/test_data_augmentation_field_generation.py
  nucliadb/tests/nucliadb/integration/test_find.py
  nucliadb/tests/nucliadb/integration/test_matryoshka_embeddings.py
  nucliadb/tests/nucliadb/knowledgeboxes/vectorsets.py
  nucliadb/tests/nucliadb/unit/common/cluster/test_rollover.py
  nucliadb/tests/search/integration/api/v1/test_suggest.py
  nucliadb_protos/noderesources.proto
  nucliadb_protos/python/src/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/noderesources_pb2.pyi
  nucliadb_utils/src/nucliadb_utils/const.py
  nucliadb_utils/src/nucliadb_utils/featureflagging.py
Due: lint_nucliadb, lint_nucliadb_utils, rustfmt_nidx, clippy_nidx

WIP test
  nucliadb/tests/nucliadb/integration/test_ingest_find.py
Due: lint_nucliadb

Add httpx instrument and avoid losing tracing
  nucliadb_telemetry/pyproject.toml
  nucliadb_telemetry/src/nucliadb_telemetry/utils.py
  uv.lock
Due: lint_nucliadb_telemetry

Fig bug on empty segments
  nidx/src/indexer.rs
Due: rustfmt_nidx, clippy_nidx

Add test
  nidx/src/indexer.rs
Due: rustfmt_nidx, clippy_nidx

Fig bug on empty segments (#3039)
  nidx/src/indexer.rs
Due: rustfmt_nidx, clippy_nidx

Add httpx instrument and avoid losing tracing (#3040)
  nucliadb_telemetry/pyproject.toml
  nucliadb_telemetry/src/nucliadb_telemetry/utils.py
  uv.lock
Due: lint_nucliadb_telemetry

Use ingest service name if omitted
  nucliadb/src/nucliadb/ingest/service/__init__.py
Due: lint_nucliadb

Move get_traced_jetstream from utils to telemetry
  nucliadb_telemetry/src/nucliadb_telemetry/jetstream.py
  nucliadb_utils/src/nucliadb_utils/nats.py
Due: lint_nucliadb_telemetry, lint_nucliadb_utils

Try to use tracing in all nats clients
  nucliadb_telemetry/src/nucliadb_telemetry/jetstream.py
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
  nucliadb_utils/src/nucliadb_utils/cache/nats.py
  nucliadb_utils/src/nucliadb_utils/nats.py
  nucliadb_utils/src/nucliadb_utils/transaction.py
Due: lint_nucliadb_telemetry, lint_nucliadb_utils

fix
  nucliadb/src/nucliadb/ingest/orm/index_message.py
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
  nucliadb/tests/nucliadb/integration/test_vectorsets_api.py
Due: lint_nucliadb

Decouple
  nucliadb/src/nucliadb/ingest/orm/index_message.py
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
Due: lint_nucliadb

fix
  nucliadb/tests/nucliadb/integration/test_vectorsets_api.py
Due: lint_nucliadb

fix
  nucliadb/src/nucliadb/ingest/orm/index_message.py
Due: lint_nucliadb

Test
  nucliadb/tests/nucliadb/integration/test_ingest_find.py
Due: lint_nucliadb

Fix tests
  nucliadb/tests/ingest/integration/ingest/test_ingest.py
  nucliadb_utils/tests/unit/test_transaction.py
Due: lint_nucliadb, lint_nucliadb_utils

Fix
  nucliadb_utils/tests/unit/test_transaction.py
Due: lint_nucliadb_utils

Instrument NATS clients (#3041)
  nucliadb/src/nucliadb/ingest/service/__init__.py
  nucliadb/tests/ingest/integration/ingest/test_ingest.py
  nucliadb_telemetry/src/nucliadb_telemetry/jetstream.py
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
  nucliadb_utils/src/nucliadb_utils/cache/nats.py
  nucliadb_utils/src/nucliadb_utils/nats.py
  nucliadb_utils/src/nucliadb_utils/transaction.py
  nucliadb_utils/tests/unit/test_transaction.py
Due: lint_nucliadb, lint_nucliadb_telemetry, lint_nucliadb_utils

Fix nats telemetry client
  nucliadb_telemetry/src/nucliadb_telemetry/jetstream.py
Due: lint_nucliadb_telemetry
