Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

lint_nucliadb:
  name: Lint nucliadb
  entry: make -C nucliadb lint
  language: system
  pass_filenames: false

lint_nucliadb_dataset:
  name: Lint nucliadb_dataset
  entry: make -C nucliadb_dataset lint
  language: system
  pass_filenames: false

lint_nucliadb_models:
  name: Lint nucliadb_models
  entry: make -C nucliadb_models lint
  language: system
  pass_filenames: false

lint_nucliadb_node:
  name: Lint nucliadb_node
  entry: make -C nucliadb_node lint
  language: system
  pass_filenames: false

lint_nucliadb_node_binding:
  name: Lint nucliadb_node_binding
  entry: make -C nucliadb_node_binding lint
  language: system
  pass_filenames: false

lint_nucliadb_performance:
  name: Lint nucliadb_performance
  entry: make -C nucliadb_performance lint
  language: system
  pass_filenames: false

lint_nucliadb_sdk:
  name: Lint nucliadb_sdk
  entry: make -C nucliadb_sdk lint
  language: system
  pass_filenames: false

lint_nucliadb_telemetry:
  name: Lint nucliadb_telemetry
  entry: make -C nucliadb_telemetry lint
  language: system
  pass_filenames: false

lint_nucliadb_utils:
  name: Lint nucliadb_utils
  entry: make -C nucliadb_utils lint
  language: system
  pass_filenames: false

rustfmt_nucliadb:
  name: fmt
  entry: cargo fmt --check
  language: system
  pass_filenames: false

clippy_nucliadb:
  name: clippy
  entry: cargo clippy --all-features -- -D warnings
  language: system
  pass_filenames: false

Implement hide_new_resources and test
  nucliadb/src/nucliadb/writer/api/v1/resource.py
  nucliadb/src/nucliadb/writer/api/v1/upload.py
  nucliadb/src/nucliadb/writer/resource/basic.py
  nucliadb/tests/writer/test_resources.py
Due: lint_nucliadb

Rename fields
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/src/nucliadb/search/search/utils.py
  nucliadb/src/nucliadb/writer/api/v1/knowledgebox.py
  nucliadb/src/nucliadb/writer/resource/basic.py
  nucliadb/tests/nucliadb/integration/search/test_hidden.py
  nucliadb/tests/writer/test_resources.py
  nucliadb_models/src/nucliadb_models/resource.py
  nucliadb_protos/knowledgebox.proto
  nucliadb_protos/python/src/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/knowledgebox_pb2.pyi
  nucliadb_protos/rust/src/knowledgebox.rs
Due: lint_nucliadb, lint_nucliadb_models

Use it
  nucliadb_utils/src/nucliadb_utils/storages/gcs.py
Due: lint_nucliadb_utils

Do not allow hiding resources with KB setting disabled
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/src/nucliadb/search/search/utils.py
  nucliadb/src/nucliadb/writer/api/v1/knowledgebox.py
  nucliadb/src/nucliadb/writer/api/v1/resource.py
  nucliadb/src/nucliadb/writer/api/v1/upload.py
  nucliadb/tests/nucliadb/integration/search/test_hidden.py
  nucliadb/tests/writer/test_resources.py
  nucliadb_models/src/nucliadb_models/resource.py
  nucliadb_protos/knowledgebox.proto
  nucliadb_protos/python/src/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/knowledgebox_pb2.pyi
  nucliadb_protos/rust/src/knowledgebox.rs
Due: lint_nucliadb, lint_nucliadb_models

Validate KB config for hidden resources
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
  nucliadb_models/src/nucliadb_models/resource.py
Due: lint_nucliadb, lint_nucliadb_models

typo
  nucliadb/tests/writer/test_resources.py
Due: lint_nucliadb

Missing default
  nucliadb_vectors/src/data_point/mod.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Add KB config for hidden resources (#2477)
  nucliadb/src/nucliadb/common/datamanagers/atomic.py
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/src/nucliadb/search/search/utils.py
  nucliadb/src/nucliadb/writer/api/v1/knowledgebox.py
  nucliadb/src/nucliadb/writer/api/v1/resource.py
  nucliadb/src/nucliadb/writer/api/v1/upload.py
  nucliadb/src/nucliadb/writer/resource/basic.py
  nucliadb/tests/nucliadb/integration/search/test_hidden.py
  nucliadb/tests/writer/test_resources.py
  nucliadb_models/src/nucliadb_models/resource.py
  nucliadb_protos/knowledgebox.proto
  nucliadb_protos/python/src/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/knowledgebox_pb2.pyi
  nucliadb_protos/rust/src/knowledgebox.rs
Due: lint_nucliadb, lint_nucliadb_models

Also add hidden fields to kb creation via grpc
  nucliadb/src/nucliadb/ingest/service/writer.py
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/rust/src/fdbwriter.rs
  nucliadb_protos/writer.proto
Due: lint_nucliadb

Also add hidden fields to kb creation via grpc (#2483)
  nucliadb/src/nucliadb/ingest/service/writer.py
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/rust/src/fdbwriter.rs
  nucliadb_protos/writer.proto
Due: lint_nucliadb

Block readers from starting during initial replication
  nucliadb_node/src/replication/replicator.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Block readers from starting during initial replication (#2484)
  nucliadb_node/src/replication/replicator.rs
Due: rustfmt_nucliadb, clippy_nucliadb

More on reranking
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

Fix reranker str instead of tuple
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb_models

Improve readability
  nucliadb/src/nucliadb/search/search/utils.py
Due: lint_nucliadb

Support new predict /rerank endpoint
  nucliadb/src/nucliadb/search/predict.py
  nucliadb_models/src/nucliadb_models/internal/predict.py
Due: lint_nucliadb, lint_nucliadb_models

Implement reranking in /find endpoint
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb/src/nucliadb/search/api/v1/find.py
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/src/nucliadb/search/search/rerankers.py
Due: lint_nucliadb

Add reranker model
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb_models

Use cached atomic DM instead of getting external index config
  nucliadb/src/nucliadb/common/datamanagers/atomic.py
  nucliadb/src/nucliadb/common/datamanagers/kb.py
  nucliadb/src/nucliadb/search/search/query.py
Due: lint_nucliadb

Extract rank fusion in a different function
  nucliadb/src/nucliadb/search/search/find_merge.py
Due: lint_nucliadb

Rerank and cut /find results before returning
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/src/nucliadb/search/search/query.py
Due: lint_nucliadb

Remove unused parameter kbid in merge
  nucliadb/src/nucliadb/search/search/find_merge.py
  nucliadb/tests/search/unit/test_find_merge.py
Due: lint_nucliadb

Don't pass mutable state across functions
  nucliadb/src/nucliadb/search/search/find_merge.py
Due: lint_nucliadb

Use reranker as default instead of none (query parser)
  nucliadb/src/nucliadb/search/search/query.py
Due: lint_nucliadb

Remove unneeded clear
  nucliadb/src/nucliadb/search/search/find.py
Due: lint_nucliadb

Rollover for texts3
  nucliadb/src/migrations/0009_upgrade_relations_and_texts_to_v2.py
  nucliadb/src/migrations/0012_rollover_shards.py
  nucliadb/src/migrations/0014_rollover_shards.py
  nucliadb/src/migrations/0015_targeted_rollover.py
  nucliadb/src/migrations/0016_upgrade_to_paragraphs_v2.py
  nucliadb/src/migrations/0019_upgrade_to_paragraphs_v3.py
  nucliadb/src/migrations/0022_fix_paragraph_deletion_bug.py
  nucliadb/src/migrations/0027_rollover_texts3.py
Due: lint_nucliadb

Rollover for texts3 (#2486)
  nucliadb/src/migrations/0009_upgrade_relations_and_texts_to_v2.py
  nucliadb/src/migrations/0012_rollover_shards.py
  nucliadb/src/migrations/0014_rollover_shards.py
  nucliadb/src/migrations/0015_targeted_rollover.py
  nucliadb/src/migrations/0016_upgrade_to_paragraphs_v2.py
  nucliadb/src/migrations/0019_upgrade_to_paragraphs_v3.py
  nucliadb/src/migrations/0022_fix_paragraph_deletion_bug.py
  nucliadb/src/migrations/0027_rollover_texts3.py
Due: lint_nucliadb

Integrate new predict rerank endpoint (#2485)
  nucliadb/src/nucliadb/common/datamanagers/atomic.py
  nucliadb/src/nucliadb/common/datamanagers/kb.py
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb/src/nucliadb/search/api/v1/find.py
  nucliadb/src/nucliadb/search/predict.py
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/src/nucliadb/search/search/find_merge.py
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/src/nucliadb/search/search/rerankers.py
  nucliadb/src/nucliadb/search/search/utils.py
  nucliadb/tests/search/unit/test_find_merge.py
  nucliadb_models/src/nucliadb_models/internal/predict.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

Hide in suggest()
  nucliadb/src/nucliadb/ingest/orm/brain.py
  nucliadb/src/nucliadb/search/api/v1/suggest.py
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/tests/nucliadb/integration/search/test_filters.py
  nucliadb/tests/nucliadb/integration/search/test_hidden.py
  nucliadb/tests/utils/__init__.py
  nucliadb_models/src/nucliadb_models/labels.py
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_node/tests/test_suggest.rs
Due: lint_nucliadb, lint_nucliadb_models, rustfmt_nucliadb, clippy_nucliadb

lint
  nucliadb/tests/nucliadb/integration/search/test_filters.py
  nucliadb/tests/nucliadb/integration/search/test_hidden.py
Due: lint_nucliadb

Revert "Use cached atomic DM instead of getting external index config"
  nucliadb/src/nucliadb/common/datamanagers/atomic.py
  nucliadb/src/nucliadb/common/datamanagers/kb.py
  nucliadb/src/nucliadb/search/search/query.py
Due: lint_nucliadb

Add simple rerank test
  nucliadb/tests/nucliadb/integration/search/test_reranker.py
Due: lint_nucliadb

Integrate new predict rerank endpoint (2) (#2488)
  nucliadb/src/nucliadb/common/datamanagers/atomic.py
  nucliadb/src/nucliadb/common/datamanagers/kb.py
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/tests/nucliadb/integration/search/test_reranker.py
Due: lint_nucliadb

Apply hidden_resources to suggest queries (#2487)
  nucliadb/src/nucliadb/ingest/orm/brain.py
  nucliadb/src/nucliadb/search/api/v1/suggest.py
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/tests/nucliadb/integration/search/test_filters.py
  nucliadb/tests/nucliadb/integration/search/test_hidden.py
  nucliadb/tests/utils/__init__.py
  nucliadb_models/src/nucliadb_models/labels.py
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_node/tests/test_suggest.rs
Due: lint_nucliadb, lint_nucliadb_models, rustfmt_nucliadb, clippy_nucliadb

Fix vectorsets dimensions
  nucliadb/src/migrations/0027_rollover_texts3.py
Due: lint_nucliadb

get_segment_ids compatible with vectorsets
  nucliadb_node/src/shards/shard_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

get_segment_ids compatible with vectorsets (#2490)
  nucliadb_node/src/shards/shard_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

More debug
  nucliadb/src/migrations/0027_rollover_texts3.py
Due: lint_nucliadb

Fix vectorsets dimensions (#2489)
  nucliadb/src/migrations/0027_rollover_texts3.py
Due: lint_nucliadb

Cleaner initial replication
  nucliadb_node/src/replication/replicator.rs
  nucliadb_node/tests/test_replication.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Path conditions:
  lint_nucliadb: any of: (^nucliadb/) and \.py$
  lint_nucliadb_dataset: any of: (^nucliadb_dataset/) and \.py$
  lint_nucliadb_models: any of: (^nucliadb_models/) and \.py$
  lint_nucliadb_node: any of: (^nucliadb_node/) and \.py$
  lint_nucliadb_node_binding: any of: (^nucliadb_node_binding/) and \.py$
  lint_nucliadb_performance: any of: (^nucliadb_performance/) and \.py$
  lint_nucliadb_sdk: any of: (^nucliadb_sdk/) and \.py$
  lint_nucliadb_telemetry: any of: (^nucliadb_telemetry/) and \.py$
  lint_nucliadb_utils: any of: (^nucliadb_utils/) and \.py$
  rustfmt_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
  clippy_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
