Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nidx, clippy_nidx

lint_nucliadb:
  name: Lint nucliadb
  entry: make -C nucliadb lint
  language: system
  pass_filenames: false

lint_nucliadb_dataset:
  name: Lint nucliadb_dataset
  entry: make -C nucliadb_dataset lint
  language: system
  pass_filenames: false

lint_nucliadb_models:
  name: Lint nucliadb_models
  entry: make -C nucliadb_models lint
  language: system
  pass_filenames: false

lint_nucliadb_sdk:
  name: Lint nucliadb_sdk
  entry: make -C nucliadb_sdk lint
  language: system
  pass_filenames: false

lint_nucliadb_telemetry:
  name: Lint nucliadb_telemetry
  entry: make -C nucliadb_telemetry lint
  language: system
  pass_filenames: false

lint_nucliadb_utils:
  name: Lint nucliadb_utils
  entry: make -C nucliadb_utils lint
  language: system
  pass_filenames: false

rustfmt_nidx:
  name: Rust format check for nidx
  entry: cargo fmt --check --all --manifest-path nidx/Cargo.toml
  language: system
  pass_filenames: false

clippy_nidx:
  name: Clippy warning check for nidx
  entry: cargo clippy --all-features --manifest-path nidx/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

Fix boolean op validation
  nucliadb_models/src/nucliadb_models/filters.py
Due: lint_nucliadb_models

test
  nucliadb/tests/nucliadb/integration/test_search_configuration.py
Due: lint_nucliadb

happy linter
  nucliadb_models/src/nucliadb_models/filters.py
Due: lint_nucliadb_models

Reintroduce tusupload prefix bug for bw/c
  nucliadb/src/nucliadb/writer/api/v1/upload.py
Due: lint_nucliadb

Validation search filter (#3054)
  nucliadb/src/nucliadb/search/api/v1/ask.py
  nucliadb/src/nucliadb/search/api/v1/find.py
  nucliadb/tests/nucliadb/integration/test_search_configuration.py
  nucliadb_models/src/nucliadb_models/filters.py
Due: lint_nucliadb, lint_nucliadb_models

Fix empty not (could be fixed in the query parser though)
  nidx/src/searcher/query_planner.rs
Due: rustfmt_nidx, clippy_nidx

Fix double not bug
  nidx/src/searcher/query_planner.rs
Due: rustfmt_nidx, clippy_nidx

Do not warn for messages that are not modifying the resource
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
Due: lint_nucliadb

Fix is_empty conditions
  nidx/src/searcher/query_planner.rs
Due: rustfmt_nidx, clippy_nidx

Remove comment
  nidx/nidx_relation/src/graph_query_parser.rs
Due: rustfmt_nidx, clippy_nidx

Add TODO
  nidx/nidx_relation/src/reader.rs
Due: rustfmt_nidx, clippy_nidx

Support graph search in search request (#3051)
  nidx/nidx_relation/src/graph_query_parser.rs
  nidx/nidx_relation/src/io_maps.rs
  nidx/nidx_relation/src/lib.rs
  nidx/nidx_relation/src/reader.rs
  nidx/nidx_relation/tests/test_graph_search.rs
  nidx/src/searcher/query_planner.rs
  nidx/src/searcher/shard_search.rs
  nidx/tests/test_search_relations.rs
  nucliadb_protos/nodereader.proto
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.pyi
Due: rustfmt_nidx, clippy_nidx

wip
  nucliadb/src/nucliadb/ingest/orm/brain_v2.py
  nucliadb/src/nucliadb/ingest/orm/index_message.py
  nucliadb/tests/ingest/integration/orm/test_index_message.py
Due: lint_nucliadb

Log some progress for train field splits
  nucliadb/src/nucliadb/train/generators/field_streaming.py
Due: lint_nucliadb

Some logging tweaks (#3055)
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
  nucliadb/src/nucliadb/train/generators/field_streaming.py
Due: lint_nucliadb

Bounded train resource cache to avoid memory issues (#3038)
  nucliadb/pyproject.toml
  nucliadb/src/nucliadb/common/cache.py
  nucliadb/src/nucliadb/search/search/cache.py
  nucliadb/src/nucliadb/train/generators/utils.py
  nucliadb/tests/search/unit/search/test_paragraphs.py
  nucliadb_telemetry/src/nucliadb_telemetry/metrics.py
  nucliadb_telemetry/tests/unit/test_metrics.py
Due: lint_nucliadb, lint_nucliadb_telemetry

Fix memory leak caused by uncalled destructor
  nucliadb/src/nucliadb/common/cache.py
Due: lint_nucliadb

Fix memory leak caused by uncalled destructor (#3056)
  nucliadb/src/nucliadb/common/cache.py
Due: lint_nucliadb

retry storage errors
  nucliadb/src/nucliadb/search/search/cache.py
Due: lint_nucliadb

Implement proper cache creation and cleanup
  nucliadb/src/nucliadb/common/cache.py
  nucliadb/src/nucliadb/search/search/cache.py
  nucliadb/src/nucliadb/train/generator.py
  nucliadb/src/nucliadb/train/generators/utils.py
  nucliadb/tests/nucliadb/unit/common/test_cache.py
  nucliadb/tests/search/unit/search/test_paragraphs.py
Due: lint_nucliadb

Fix unit test
  nucliadb/tests/search/unit/search/test_paragraphs.py
Due: lint_nucliadb

Always clear cache (even if error)
  nucliadb/src/nucliadb/common/cache.py
  nucliadb/tests/nucliadb/unit/common/test_cache.py
Due: lint_nucliadb

retry storage errors (#3057)
  nucliadb/src/nucliadb/search/search/cache.py
Due: lint_nucliadb

Implement proper cache creation and cleanup (#3058)
  nucliadb/src/nucliadb/common/cache.py
  nucliadb/src/nucliadb/search/search/cache.py
  nucliadb/src/nucliadb/train/generator.py
  nucliadb/src/nucliadb/train/generators/utils.py
  nucliadb/tests/nucliadb/unit/common/test_cache.py
  nucliadb/tests/search/unit/search/test_paragraphs.py
Due: lint_nucliadb

Remove test as it doesn't make sense anymore
  nucliadb/tests/search/unit/test_run.py
Due: lint_nucliadb

Fix search instrumentation
  nucliadb/tests/ndbfixtures/search.py
Due: lint_nucliadb

Add /api/v1 prefix to router
  nucliadb/src/nucliadb/reader/api/v1/router.py
  nucliadb/src/nucliadb/search/api/v1/router.py
  nucliadb/src/nucliadb/standalone/api_router.py
  nucliadb/src/nucliadb/train/api/v1/router.py
  nucliadb/src/nucliadb/writer/api/v1/router.py
Due: lint_nucliadb

Test telemetry everywhere!
  nucliadb/tests/conftest.py
  nucliadb/tests/ndbfixtures/__init__.py
  nucliadb/tests/ndbfixtures/ingest.py
  nucliadb/tests/ndbfixtures/nidx.py
  nucliadb/tests/ndbfixtures/reader.py
  nucliadb/tests/ndbfixtures/search.py
  nucliadb/tests/ndbfixtures/standalone.py
  nucliadb/tests/ndbfixtures/train.py
  nucliadb/tests/ndbfixtures/writer.py
Due: lint_nucliadb

Use create_application pattern for search
  nucliadb/src/nucliadb/search/app.py
  nucliadb/src/nucliadb/search/openapi.py
  nucliadb/src/nucliadb/search/run.py
  nucliadb/tests/ndbfixtures/search.py
  nucliadb/tests/nucliadb/unit/test_openapi.py
  nucliadb/tests/search/unit/test_run.py
Due: lint_nucliadb

Add telemetry ndbfixtures
  nucliadb/tests/ndbfixtures/telemetry.py
Due: lint_nucliadb

Remove version decorator
  nucliadb/src/nucliadb/reader/api/v1/download.py
  nucliadb/src/nucliadb/reader/api/v1/export_import.py
  nucliadb/src/nucliadb/reader/api/v1/knowledgebox.py
  nucliadb/src/nucliadb/reader/api/v1/learning_config.py
  nucliadb/src/nucliadb/reader/api/v1/resource.py
  nucliadb/src/nucliadb/reader/api/v1/services.py
  nucliadb/src/nucliadb/reader/api/v1/vectorsets.py
  nucliadb/src/nucliadb/search/api/v1/ask.py
  nucliadb/src/nucliadb/search/api/v1/catalog.py
  nucliadb/src/nucliadb/search/api/v1/feedback.py
  nucliadb/src/nucliadb/search/api/v1/find.py
  nucliadb/src/nucliadb/search/api/v1/graph.py
  nucliadb/src/nucliadb/search/api/v1/knowledgebox.py
  nucliadb/src/nucliadb/search/api/v1/predict_proxy.py
  nucliadb/src/nucliadb/search/api/v1/resource/ask.py
  nucliadb/src/nucliadb/search/api/v1/resource/ingestion_agents.py
  nucliadb/src/nucliadb/search/api/v1/resource/search.py
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/api/v1/suggest.py
  nucliadb/src/nucliadb/search/api/v1/summarize.py
  nucliadb/src/nucliadb/standalone/api_router.py
  nucliadb/src/nucliadb/train/api/v1/shards.py
  nucliadb/src/nucliadb/train/api/v1/trainset.py
  nucliadb/src/nucliadb/writer/api/v1/export_import.py
  nucliadb/src/nucliadb/writer/api/v1/field.py
  nucliadb/src/nucliadb/writer/api/v1/knowledgebox.py
  nucliadb/src/nucliadb/writer/api/v1/learning_config.py
  nucliadb/src/nucliadb/writer/api/v1/resource.py
  nucliadb/src/nucliadb/writer/api/v1/services.py
  nucliadb/src/nucliadb/writer/api/v1/upload.py
  nucliadb/src/nucliadb/writer/api/v1/vectorsets.py
Due: lint_nucliadb

Fix openapi extraction after versionedfastapi changes
  nucliadb/src/nucliadb/openapi.py
Due: lint_nucliadb

Move get_traced_jetstream from utils to telemetry
  nucliadb_telemetry/src/nucliadb_telemetry/jetstream.py
  nucliadb_utils/src/nucliadb_utils/nats.py
Due: lint_nucliadb_telemetry, lint_nucliadb_utils

Remove VersionedFastAPI from nucliadb_utils
  nucliadb_utils/src/nucliadb_utils/fastapi/versioning.py
  nucliadb_utils/tests/unit/fastapi/test_versioning.py
Due: lint_nucliadb_utils

Don't use VersionedFastAPI anymore
  nucliadb/src/nucliadb/reader/app.py
  nucliadb/src/nucliadb/search/app.py
  nucliadb/src/nucliadb/standalone/app.py
  nucliadb/src/nucliadb/train/app.py
  nucliadb/src/nucliadb/writer/app.py
Due: lint_nucliadb

API_VERSION constant
  nucliadb/src/nucliadb/common/api.py
  nucliadb/src/nucliadb/reader/app.py
  nucliadb/src/nucliadb/search/app.py
  nucliadb/src/nucliadb/standalone/app.py
  nucliadb/src/nucliadb/train/app.py
  nucliadb/src/nucliadb/writer/app.py
Due: lint_nucliadb

Use create application patter for train too
  nucliadb/src/nucliadb/train/app.py
  nucliadb/src/nucliadb/train/run.py
Due: lint_nucliadb

Use API_PREFIX in routers
  nucliadb/src/nucliadb/reader/api/v1/router.py
  nucliadb/src/nucliadb/search/api/v1/router.py
  nucliadb/src/nucliadb/train/api/v1/router.py
  nucliadb/src/nucliadb/writer/api/v1/router.py
Due: lint_nucliadb

Path conditions:
  lint_nucliadb: any of: (^nucliadb/) and \.py$
  lint_nucliadb_dataset: any of: (^nucliadb_dataset/) and \.py$
  lint_nucliadb_models: any of: (^nucliadb_models/) and \.py$
  lint_nucliadb_sdk: any of: (^nucliadb_sdk/) and \.py$
  lint_nucliadb_telemetry: any of: (^nucliadb_telemetry/) and \.py$
  lint_nucliadb_utils: any of: (^nucliadb_utils/) and \.py$
  rustfmt_nidx: any of: (^nidx/) and \.rs$
  clippy_nidx: any of: (^nidx/) and \.rs$
