Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint_nucliadb
        name: Lint nucliadb
        entry: make -C nucliadb lint
        language: system
        files: (^nucliadb/)
        types: ["python"]

      - id: lint_nucliadb_dataset
        name: Lint nucliadb_dataset
        entry: make -C nucliadb_dataset lint
        language: system
        files: (^nucliadb_dataset/)
        types: ["python"]

      - id: lint_nucliadb_models
        name: Lint nucliadb_models
        entry: make -C nucliadb_models lint
        language: system
        files: (^nucliadb_models/)
        types: ["python"]

      - id: lint_nucliadb_node
        name: Lint nucliadb_node
        entry: make -C nucliadb_node lint
        language: system
        files: (^nucliadb_node/)
        types: ["python"]

      - id: lint_nucliadb_node_binding
        name: Lint nucliadb_node_binding
        entry: make -C nucliadb_node_binding lint
        language: system
        files: (^nucliadb_node_binding/)
        types: ["python"]

      - id: lint_nucliadb_performance
        name: Lint nucliadb_performance
        entry: make -C nucliadb_performance lint
        language: system
        files: (^nucliadb_performance/)
        types: ["python"]

      - id: lint_nucliadb_sdk
        name: Lint nucliadb_sdk
        entry: make -C nucliadb_sdk lint
        language: system
        files: (^nucliadb_sdk/)
        types: ["python"]

      - id: lint_nucliadb_telemetry
        name: Lint nucliadb_telemetry
        entry: make -C nucliadb_telemetry lint
        language: system
        files: (^nucliadb_telemetry/)
        types: ["python"]

      - id: lint_nucliadb_utils
        name: Lint nucliadb_utils
        entry: make -C nucliadb_utils lint
        language: system
        files: (^nucliadb_utils/)
        types: ["python"]

      - id: rustfmt_nucliadb
        name: fmt
        entry: cargo +nightly fmt --check
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nucliadb
        name: clippy
        entry: cargo clippy --all-features -- -D warnings
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

Add comments to KnowledgeBoxNew
  nucliadb_protos/knowledgebox.proto
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.pyi
  nucliadb_protos/rust/src/knowledgebox.rs
Due: none

Choose matryoshka embedding on KB creation
  nucliadb/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/nucliadb/ingest/orm/utils.py
Due: lint_nucliadb

Retrieve vector dimension and use it for indexing
  nucliadb/nucliadb/common/datamanagers/kb.py
  nucliadb/nucliadb/ingest/orm/resource.py
Due: lint_nucliadb

Cut vectors on indexing
  nucliadb/nucliadb/ingest/orm/brain.py
  nucliadb/nucliadb/ingest/tests/unit/orm/test_brain_vectors.py
Due: lint_nucliadb

Move vectorsets to a datamanager
  nucliadb/nucliadb/common/datamanagers/vectorsets.py
  nucliadb/nucliadb/ingest/orm/knowledgebox.py
Due: lint_nucliadb

Implement vector normalization function
  nucliadb_vectors/src/service/utils.rs
  nucliadb_vectors/src/service/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Validate that export is compatible when importing (#2061)
  nucliadb/nucliadb/export_import/exceptions.py
  nucliadb/nucliadb/export_import/exporter.py
  nucliadb/nucliadb/export_import/importer.py
  nucliadb/nucliadb/export_import/models.py
  nucliadb/nucliadb/export_import/utils.py
  nucliadb/nucliadb/tests/integration/test_export_import.py
  nucliadb/nucliadb/tests/unit/export_import/test_utils.py
  nucliadb/nucliadb/writer/api/v1/export_import.py
Due: lint_nucliadb

Be more explicit about matryoshka vector dimension
  nucliadb/nucliadb/common/datamanagers/kb.py
  nucliadb/nucliadb/ingest/orm/brain.py
  nucliadb/nucliadb/ingest/orm/resource.py
  nucliadb/nucliadb/ingest/tests/unit/orm/test_brain_vectors.py
  nucliadb/nucliadb/ingest/tests/unit/orm/test_resource.py
Due: lint_nucliadb

Don't fail to delete a vectorset if it's not there
  nucliadb/nucliadb/common/datamanagers/vectorsets.py
Due: lint_nucliadb

Bigger k during layer>0 search
  nucliadb_vectors/src/data_point/ops_hnsw.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Remove print
  nucliadb/nucliadb/learning_proxy.py
Due: lint_nucliadb

Bigger k during layer>0 search (#2064)
  nucliadb_vectors/src/data_point/ops_hnsw.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Max tokens for LLM
  nucliadb/nucliadb/search/search/chat/prompt.py
  nucliadb/nucliadb/search/search/chat/query.py
  nucliadb/nucliadb/search/search/query.py
  nucliadb_models/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

Backward compatible implementation
  nucliadb/nucliadb/search/api/v1/chat.py
  nucliadb/nucliadb/search/search/chat/query.py
  nucliadb/nucliadb/search/search/query.py
  nucliadb_models/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

better comment
  nucliadb/nucliadb/search/api/v1/chat.py
Due: lint_nucliadb

Cut query vector if it's a matryoshka embedding
  nucliadb/nucliadb/search/search/query.py
Due: lint_nucliadb

Raise error if specified max context is bigger than models max
  nucliadb/nucliadb/search/search/query.py
Due: lint_nucliadb

HNSW algorithm fixes
  nucliadb_vectors/src/data_point/ops_hnsw.rs
  nucliadb_vectors/src/data_point/params.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Normalize vectors in search time
  nucliadb_vectors/src/data_point_provider/reader.rs
  nucliadb_vectors/src/lib.rs
  nucliadb_vectors/src/service/mod.rs
  nucliadb_vectors/src/service/writer.rs
  nucliadb_vectors/src/utils.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Recall tests
  nucliadb_vectors/src/data_point/mod.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Add tests
  charts/nucliadb_search/templates/search.vs.yaml
  nucliadb/nucliadb/search/api/v1/resource/chat.py
  nucliadb/nucliadb/search/api/v1/router.py
  nucliadb_sdk/nucliadb_sdk/tests/test_sdk.py
  nucliadb_sdk/nucliadb_sdk/tests/test_sdk_async.py
  nucliadb_sdk/nucliadb_sdk/v2/sdk.py
Due: lint_nucliadb, lint_nucliadb_sdk

Add tests
  nucliadb/nucliadb/search/api/v1/resource/chat.py
Due: lint_nucliadb

parallelize workflow runs more
  .github/workflows/nucliadb_search.yml
Due: none

fix test
  nucliadb/nucliadb/search/tests/unit/api/v1/resource/test_chat.py
Due: lint_nucliadb

fix test
  .github/workflows/nucliadb_search.yml
Due: none

fix endpoint name
  nucliadb/nucliadb/search/api/v1/resource/chat.py
Due: lint_nucliadb

Vectorset contract
  nucliadb_protos/python/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/writer_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/resources.proto
  nucliadb_protos/rust/src/fdbwriter.rs
  nucliadb_protos/rust/src/resources.rs
  nucliadb_protos/writer.proto
Due: none

Push payload embedding models
  nucliadb/nucliadb/ingest/processing.py
  nucliadb_protos/nodereader.proto
Due: lint_nucliadb

Allow chat on resource by slug (#2067)
  .github/workflows/nucliadb_search.yml
  charts/nucliadb_search/templates/search.vs.yaml
  nucliadb/nucliadb/search/api/v1/resource/chat.py
  nucliadb/nucliadb/search/api/v1/router.py
  nucliadb/nucliadb/search/tests/unit/api/v1/resource/test_chat.py
  nucliadb_sdk/nucliadb_sdk/tests/test_sdk.py
  nucliadb_sdk/nucliadb_sdk/tests/test_sdk_async.py
  nucliadb_sdk/nucliadb_sdk/v2/sdk.py
Due: lint_nucliadb, lint_nucliadb_sdk

CR comments
  nucliadb_vectors/src/data_point/mod.rs
  nucliadb_vectors/src/data_point/ops_hnsw.rs
Due: rustfmt_nucliadb, clippy_nucliadb

More recall test
  nucliadb_vectors/src/data_point/mod.rs
  vectors_benchmark/Cargo.toml
  vectors_benchmark/src/binaries/synthetic_recall_benchmark.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Update h2
  Cargo.lock
Due: none

Hnsw algorithm (#2066)
  nucliadb_vectors/src/data_point/mod.rs
  nucliadb_vectors/src/data_point/ops_hnsw.rs
  nucliadb_vectors/src/data_point/params.rs
  vectors_benchmark/Cargo.toml
  vectors_benchmark/src/binaries/synthetic_recall_benchmark.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Add extracted vectors to broker message builder
  nucliadb/nucliadb/tests/utils/broker_messages/__init__.py
  nucliadb/nucliadb/tests/utils/broker_messages/fields.py
Due: lint_nucliadb

Update h2 (#2069)
  Cargo.lock
Due: none

Do not deserialize empty nodes into RAM hnsw
  nucliadb_vectors/src/data_point/disk_hnsw.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Finish and add tests
  nucliadb/nucliadb/search/search/chat/query.py
  nucliadb/nucliadb/tests/integration/test_chat.py
  nucliadb_models/nucliadb_models/search.py
  nucliadb_sdk/nucliadb_sdk/tests/test_chat.py
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_sdk

simpler
  nucliadb/nucliadb/tests/integration/test_chat.py
Due: lint_nucliadb

Choose replica to query deterministically as a primary
  nucliadb/nucliadb/common/cluster/manager.py
Due: lint_nucliadb

Choose query shard replicas more deterministically
  nucliadb/nucliadb/tests/integration/common/cluster/test_manager.py
  nucliadb/nucliadb/tests/unit/common/cluster/test_cluster.py
Due: lint_nucliadb
