Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint_nucliadb
        name: Lint nucliadb
        entry: make -C nucliadb lint
        language: system
        files: (^nucliadb/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_dataset
        name: Lint nucliadb_dataset
        entry: make -C nucliadb_dataset lint
        language: system
        files: (^nucliadb_dataset/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_models
        name: Lint nucliadb_models
        entry: make -C nucliadb_models lint
        language: system
        files: (^nucliadb_models/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_node
        name: Lint nucliadb_node
        entry: make -C nucliadb_node lint
        language: system
        files: (^nucliadb_node/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_node_binding
        name: Lint nucliadb_node_binding
        entry: make -C nucliadb_node_binding lint
        language: system
        files: (^nucliadb_node_binding/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_performance
        name: Lint nucliadb_performance
        entry: make -C nucliadb_performance lint
        language: system
        files: (^nucliadb_performance/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_sdk
        name: Lint nucliadb_sdk
        entry: make -C nucliadb_sdk lint
        language: system
        files: (^nucliadb_sdk/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_telemetry
        name: Lint nucliadb_telemetry
        entry: make -C nucliadb_telemetry lint
        language: system
        files: (^nucliadb_telemetry/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_utils
        name: Lint nucliadb_utils
        entry: make -C nucliadb_utils lint
        language: system
        files: (^nucliadb_utils/)
        types: ["python"]
        pass_filenames: false

      - id: rustfmt_nucliadb
        name: fmt
        entry: cargo fmt --check
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nucliadb
        name: clippy
        entry: cargo clippy --all-features -- -D warnings
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

Increase coverage
  nucliadb/tests/nucliadb/unit/common/external_index_providers/test_pinecone.py
Due: lint_nucliadb

more coverage
  nucliadb/src/nucliadb/search/search/results_hydrator/base.py
  nucliadb/tests/search/unit/search/results_hydrator/test_base.py
Due: lint_nucliadb

More coverage
  nucliadb/src/nucliadb/search/search/results_hydrator/base.py
  nucliadb/tests/fixtures.py
  nucliadb/tests/nucliadb/integration/test_pinecone_kb.py
  nucliadb/tests/search/unit/search/results_hydrator/test_base.py
  nucliadb_utils/src/nucliadb_utils/utilities.py
Due: lint_nucliadb, lint_nucliadb_utils

fix duplicate model
  nucliadb/src/nucliadb/common/external_index_providers/base.py
  nucliadb_models/src/nucliadb_models/external_index_providers.py
Due: lint_nucliadb, lint_nucliadb_models

Search filters
  nucliadb/src/nucliadb/search/api/v1/search.py
Due: lint_nucliadb

Fix tests
  nucliadb/tests/ingest/fixtures.py
  nucliadb/tests/ingest/integration/consumer/test_materializer.py
Due: lint_nucliadb

Attempt to fix nats
  nucliadb_utils/src/nucliadb_utils/tests/nats.py
Due: lint_nucliadb_utils

Skip arm build
  .github/workflows/release.yml
Due: none

Skip arm build (#2326)
  .github/workflows/release.yml
Due: none

Pinecone index queries (#2325)
  nucliadb/src/nucliadb/common/external_index_providers/base.py
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb/src/nucliadb/common/external_index_providers/settings.py
  nucliadb/src/nucliadb/common/ids.py
  nucliadb/src/nucliadb/ingest/orm/processor/__init__.py
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/src/nucliadb/search/search/paragraphs.py
  nucliadb/src/nucliadb/search/search/results_hydrator/__init__.py
  nucliadb/src/nucliadb/search/search/results_hydrator/base.py
  nucliadb/src/nucliadb/writer/api/v1/knowledgebox.py
  nucliadb/tests/fixtures.py
  nucliadb/tests/nucliadb/integration/test_pinecone_kb.py
  nucliadb/tests/nucliadb/unit/common/external_index_providers/test_pinecone.py
  nucliadb/tests/nucliadb/unit/common/test_ids.py
  nucliadb/tests/search/unit/search/results_hydrator/test_base.py
  nucliadb_models/src/nucliadb_models/external_index_providers.py
  nucliadb_models/src/nucliadb_models/resource.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_utils/src/nucliadb_utils/utilities.py
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_utils

Remove conflicting tests that need nats, disable kbusage reporting if nats not configured
  nucliadb/tests/fixtures.py
  nucliadb/tests/nucliadb/integration/test_ask.py
  nucliadb/tests/nucliadb/integration/test_chat.py
  nucliadb_utils/src/nucliadb_utils/nuclia_usage/utils/kb_usage_report.py
Due: lint_nucliadb, lint_nucliadb_utils

Add more metrics
  nucliadb/src/nucliadb/common/external_index_providers/base.py
  nucliadb/src/nucliadb/search/api/v1/utils.py
  nucliadb_models/src/nucliadb_models/common.py
  nucliadb_utils/src/nucliadb_utils/aiopynecone/client.py
  nucliadb_utils/tests/unit/aiopynecone/test_client.py
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_utils

Move middleware integration test
  nucliadb/tests/fixtures.py
  nucliadb/tests/ingest/fixtures.py
  nucliadb/tests/nucliadb/integration/test_ask.py
  nucliadb/tests/nucliadb/integration/test_chat.py
  nucliadb/tests/search/integration/api/v1/test_ask.py
Due: lint_nucliadb

better test
  nucliadb_utils/tests/unit/aiopynecone/test_client.py
Due: lint_nucliadb_utils

more test fixes
  nucliadb/tests/nucliadb/integration/search/test_search.py
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
Due: lint_nucliadb, lint_nucliadb_utils

Obsolete test
  nucliadb/tests/nucliadb/integration/search/test_search.py
Due: lint_nucliadb

Be more tolerant to learning config capitalization
  nucliadb/src/nucliadb/learning_proxy.py
Due: lint_nucliadb

Be more tolerant to learning config capitalization (#2330)
  nucliadb/src/nucliadb/learning_proxy.py
Due: lint_nucliadb

Move stuff
  nucliadb/src/nucliadb/ingest/orm/processor/__init__.py
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/search/pgcatalog.py
Due: lint_nucliadb

PG catalog cleanup
  nucliadb/src/nucliadb/ingest/orm/processor/__init__.py
  nucliadb/src/nucliadb/search/search/pgcatalog.py
  nucliadb_utils/src/nucliadb_utils/const.py
Due: lint_nucliadb, lint_nucliadb_utils

linting
  nucliadb/src/nucliadb/ingest/orm/processor/__init__.py
  nucliadb/src/nucliadb/ingest/orm/processor/pgcatalog.py
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/search/pgcatalog.py
Due: lint_nucliadb

PG migrations
  nucliadb/src/migrations/pg/0001_bootstrap.py
  nucliadb/src/migrations/pg/0002_catalog.py
  nucliadb/src/migrations/pg/__init__.py
  nucliadb/src/nucliadb/common/maindb/pg.py
  nucliadb/src/nucliadb/migrator/migrator.py
  nucliadb/src/nucliadb/migrator/utils.py
  nucliadb/tests/fixtures.py
Due: lint_nucliadb

Fixes
  nucliadb/src/nucliadb/migrator/migrator.py
  nucliadb_sdk/src/nucliadb_sdk/tests/fixtures.py
Due: lint_nucliadb, lint_nucliadb_sdk

send text and not pointers
  nucliadb/src/nucliadb/search/search/chat/query.py
Due: lint_nucliadb

Make mypy happy
  mypy.ini
  nucliadb/src/nucliadb/migrator/migrator.py
  nucliadb/tests/fixtures.py
Due: lint_nucliadb

Deprecations and backwards compatibility
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/search/pgcatalog.py
  nucliadb/tests/nucliadb/integration/search/test_search.py
  nucliadb/tests/utils/__init__.py
  nucliadb_models/src/nucliadb_models/common.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

lint
  nucliadb/tests/nucliadb/integration/search/test_search.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

Use uuid in rid tests
  nucliadb/tests/search/fixtures.py
Due: lint_nucliadb

PR comments
  nucliadb/tests/ingest/fixtures.py
  nucliadb/tests/search/integration/api/v1/test_ask_audit.py
Due: lint_nucliadb

Restore FF check
  nucliadb/src/nucliadb/ingest/orm/processor/pgcatalog.py
  nucliadb/src/nucliadb/search/search/pgcatalog.py
  nucliadb_utils/src/nucliadb_utils/featureflagging.py
Due: lint_nucliadb, lint_nucliadb_utils

Refactor audit sending to send one message per request (#2294)
  nucliadb/src/nucliadb/ingest/app.py
  nucliadb/src/nucliadb/ingest/consumer/auditing.py
  nucliadb/src/nucliadb/ingest/consumer/materializer.py
  nucliadb/src/nucliadb/ingest/consumer/service.py
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/src/nucliadb/reader/api/v1/resource.py
  nucliadb/src/nucliadb/reader/app.py
  nucliadb/src/nucliadb/search/api/v1/chat.py
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/api/v1/suggest.py
  nucliadb/src/nucliadb/search/app.py
  nucliadb/src/nucliadb/search/lifecycle.py
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/src/nucliadb/standalone/app.py
  nucliadb/src/nucliadb/train/app.py
  nucliadb/src/nucliadb/writer/app.py
  nucliadb/tests/fixtures.py
  nucliadb/tests/ingest/fixtures.py
  nucliadb/tests/ingest/integration/consumer/test_auditing.py
  nucliadb/tests/ingest/integration/consumer/test_materializer.py
  nucliadb/tests/ingest/integration/ingest/test_ingest.py
  nucliadb/tests/ingest/unit/consumer/test_auditing.py
  nucliadb/tests/nucliadb/integration/search/test_search.py
  nucliadb/tests/search/integration/api/v1/test_ask_audit.py
  nucliadb_protos/audit.proto
  nucliadb_protos/python/src/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/audit_pb2.pyi
  nucliadb_protos/rust/src/audit.rs
  nucliadb_utils/src/nucliadb_utils/audit/audit.py
  nucliadb_utils/src/nucliadb_utils/audit/basic.py
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
  nucliadb_utils/src/nucliadb_utils/nuclia_usage/utils/kb_usage_report.py
  nucliadb_utils/src/nucliadb_utils/settings.py
  nucliadb_utils/src/nucliadb_utils/tests/nats.py
  nucliadb_utils/src/nucliadb_utils/utilities.py
  nucliadb_utils/tests/unit/audit/test_stream.py
  nucliadb_utils/tests/unit/nuclia_usage/test_kb_usage_report.py
Due: lint_nucliadb, lint_nucliadb_utils

Add tests
  nucliadb/tests/nucliadb/integration/search/test_search.py
Due: lint_nucliadb

Review comments
  nucliadb/src/nucliadb/ingest/orm/processor/pgcatalog.py
  nucliadb/src/nucliadb/search/search/pgcatalog.py
  nucliadb/tests/nucliadb/integration/search/test_search.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_sdk/src/nucliadb_sdk/tests/fixtures.py
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_sdk

Fix confusing features values on /chat, /find and /search (Bw/c part 2)
  nucliadb/src/nucliadb/search/api/v1/find.py
  nucliadb/src/nucliadb/search/api/v1/resource/search.py
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/tests/search/integration/requesters/test_utils.py
  nucliadb/tests/search/unit/search/search/chat/test_query.py
  nucliadb/tests/search/unit/search/test_query.py
  nucliadb_dataset/src/nucliadb_dataset/dataset.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_models/tests/test_search.py
Due: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models

Improve storage settings and add settings fixtures for each driver
  nucliadb_utils/src/nucliadb_utils/tests/azure.py
  nucliadb_utils/src/nucliadb_utils/tests/fixtures.py
  nucliadb_utils/src/nucliadb_utils/tests/gcs.py
  nucliadb_utils/src/nucliadb_utils/tests/local.py
  nucliadb_utils/src/nucliadb_utils/tests/s3.py
Due: lint_nucliadb_utils

Add missing import to ndbfixtures
  nucliadb/tests/ndbfixtures/__init__.py
Due: lint_nucliadb

IndexingUtility uses nats connection manager and dummy doesn't start nats
  nucliadb_utils/src/nucliadb_utils/indexing.py
Due: lint_nucliadb_utils

Update pytest and pytest-asyncio to latests versions
  pdm.lock
  pyproject.toml
Due: none
