Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort_ingest, black_ingest, flake8_ingest, isort_utils, black_utils, flake8_utils

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: isort_ingest
    name: ISort Ingest
    entry: isort --profile black -c
    language: system
    files: nucliadb_ingest/.*\.py$$
  - id: black_ingest
    name: Black Ingest
    entry: black --check --verbose
    language: system
    files: nucliadb_ingest/.*\.py$$
  - id: flake8_ingest
    name: Flake8 Ingest
    entry: flake8 --config=nucliadb_ingest/setup.cfg
    language: system
    files: nucliadb_ingest/.*\.py$$
  - id: isort_utils
    name: ISort UTILS
    entry: isort --profile black -c
    language: system
    files: nucliadb_utils/.*\.py$$
  - id: black_utils
    name: Black UTILS
    entry: black --check --verbose
    language: system
    files: nucliadb_utils/.*\.py$$
  - id: flake8_utils
    name: Flake8 UTILS
    entry: flake8 --config=nucliadb_utils/setup.cfg
    language: system
    files: nucliadb_utils/.*\.py$$

optional search requests
  nucliadb_node/src/services/reader.rs
  nucliadb_protos/rust/src/nodereader.rs
  nucliadb_protos/rust/src/nodewriter.rs
Due: none

quote fix in paragraphs
  nucliadb_paragraphs_tantivy/src/reader.rs
  nucliadb_paragraphs_tantivy/src/search_query.rs
Due: none

Fix
  nucliadb_writer/nucliadb_writer/tus/gcs.py
Due: none

Binding working (#228)
  Dockerfile
  Makefile
  docker-compose-one.yaml
  docker-compose.yaml
  nucliadb/nucliadb/__init__.py
  nucliadb/nucliadb/tests/test_counters.py
  nucliadb_ingest/nucliadb_ingest/app.py
  nucliadb_ingest/nucliadb_ingest/consumer/pull.py
  nucliadb_ingest/nucliadb_ingest/orm/exceptions.py
  nucliadb_ingest/nucliadb_ingest/orm/local_node.py
  nucliadb_ingest/nucliadb_ingest/orm/resource.py
  nucliadb_ingest/nucliadb_ingest/orm/utils.py
  nucliadb_ingest/nucliadb_ingest/partitions.py
  nucliadb_ingest/nucliadb_ingest/processing.py
  nucliadb_node/binding/Cargo.toml
  nucliadb_node/binding/src/lib.rs
  nucliadb_node/src/services/reader.rs
  nucliadb_paragraphs_tantivy/src/reader.rs
  nucliadb_paragraphs_tantivy/src/search_query.rs
  nucliadb_paragraphs_tantivy/src/writer.rs
  nucliadb_protos/nodereader.proto
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.pyi
  nucliadb_protos/rust/src/nodereader.rs
  nucliadb_protos/rust/src/nodewriter.rs
  nucliadb_search/nucliadb_search/predict.py
  nucliadb_search/nucliadb_search/search/query.py
  nucliadb_utils/nucliadb_utils/storages/nuclia.py
  nucliadb_utils/nucliadb_utils/storages/storage.py
  nucliadb_utils/nucliadb_utils/utilities.py
  nucliadb_writer/nucliadb_writer/api/v1/upload.py
  nucliadb_writer/nucliadb_writer/resource/basic.py
  nucliadb_writer/nucliadb_writer/tus/local.py
Due: isort_ingest, black_ingest, flake8_ingest, isort_utils, black_utils, flake8_utils

Fix
  charts/nucliadb_ingest/templates/_cronjob_curator.tpl
  charts/nucliadb_ingest/templates/ingest.sts.yaml
  charts/nucliadb_ingest/values.yaml
  charts/nucliadb_node/templates/node.sts.yaml
  charts/nucliadb_node/values.yaml
  charts/nucliadb_reader/templates/reader.deploy.yaml
  charts/nucliadb_reader/values.yaml
  charts/nucliadb_search/templates/search.deploy.yaml
  charts/nucliadb_search/values.yaml
  charts/nucliadb_shared/Chart.yaml
  charts/nucliadb_train/templates/train.deploy.yaml
  charts/nucliadb_train/values.yaml
  charts/nucliadb_writer/templates/writer.deploy.yaml
  charts/nucliadb_writer/values.yaml
Due: none

Fix deploy
  charts/nucliadb_node/templates/node.sts.yaml
Due: none

Instrument GCS
  mypy_stubs/opentelemetry/instrumentation/aiohttp_client/__init__.pyi
  mypy_stubs/opentelemetry/instrumentation/aiohttp_client/package.pyi
  mypy_stubs/opentelemetry/instrumentation/aiohttp_client/version.pyi
  nucliadb_ingest/nucliadb_ingest/orm/knowledgebox.py
  nucliadb_ingest/requirements.txt
  nucliadb_utils/nucliadb_utils/storages/gcs.py
  nucliadb_utils/requirements-storages.txt
Due: isort_ingest, black_ingest, flake8_ingest, isort_utils, black_utils, flake8_utils

Fix testing
  nucliadb/requirements-test.txt
  nucliadb_one/requirements-test.txt
  test-requirements.txt
Due: none

More tracing
  nucliadb_ingest/nucliadb_ingest/orm/node.py
  nucliadb_ingest/nucliadb_ingest/orm/processor.py
  nucliadb_utils/nucliadb_utils/storages/gcs.py
  nucliadb_utils/requirements-storages.txt
Due: isort_ingest, black_ingest, flake8_ingest, isort_utils, black_utils, flake8_utils

Add telemetry on GCS
  nucliadb_ingest/nucliadb_ingest/consumer/service.py
  nucliadb_ingest/nucliadb_ingest/curator.py
  nucliadb_ingest/nucliadb_ingest/orm/knowledgebox.py
  nucliadb_ingest/nucliadb_ingest/orm/processor.py
  nucliadb_ingest/nucliadb_ingest/orm/shard.py
  nucliadb_ingest/nucliadb_ingest/purge.py
  nucliadb_ingest/nucliadb_ingest/service/writer.py
  nucliadb_ingest/nucliadb_ingest/tests/conftest.py
  nucliadb_ingest/nucliadb_ingest/tests/ingest/test_ingest.py
  nucliadb_ingest/nucliadb_ingest/tests/servicer/test_knowledgebox_servicer.py
  nucliadb_models/nucliadb_models/serialize.py
  nucliadb_node/nucliadb_node/pull.py
  nucliadb_node/nucliadb_node/tests/test_indexing.py
  nucliadb_reader/nucliadb_reader/api/v1/download.py
  nucliadb_reader/nucliadb_reader/api/v1/resource.py
  nucliadb_search/nucliadb_search/search/fetch.py
  nucliadb_telemetry/nucliadb_telemetry/tests/telemetry.py
  nucliadb_train/nucliadb_train/servicer.py
  nucliadb_train/nucliadb_train/uploader.py
  nucliadb_utils/nucliadb_utils/storages/gcs.py
  nucliadb_utils/nucliadb_utils/utilities.py
  nucliadb_writer/nucliadb_writer/api/v1/resource.py
  nucliadb_writer/nucliadb_writer/api/v1/upload.py
  nucliadb_writer/nucliadb_writer/resource/field.py
Due: isort_ingest, black_ingest, flake8_ingest, isort_utils, black_utils, flake8_utils

Fix telemetry on GCS
  nucliadb_utils/nucliadb_utils/storages/gcs.py
Due: isort_utils, black_utils, flake8_utils

Fix spans
  nucliadb_ingest/nucliadb_ingest/tests/servicer/test_knowledgebox_servicer.py
Due: isort_ingest, black_ingest, flake8_ingest

If queri return 422
  nucliadb_ingest/nucliadb_ingest/chitchat.py
  nucliadb_ingest/nucliadb_ingest/consumer/pull.py
  nucliadb_ingest/nucliadb_ingest/tests/fixtures.py
  nucliadb_search/nucliadb_search/api/v1/search.py
  nucliadb_search/nucliadb_search/tests/fixtures.py
  nucliadb_search/nucliadb_search/tests/test_basic_search.py
Due: isort_ingest, black_ingest, flake8_ingest

isort
  nucliadb_ingest/nucliadb_ingest/consumer/pull.py
Due: isort_ingest, black_ingest, flake8_ingest

Add license scan report and status
  README.md
Due: none

Codecov example
  .github/.codecov.yml
Due: none

new merge strategy
  nucliadb_vectors2/src/data_point_provider/disk_handler.rs
  nucliadb_vectors2/src/data_point_provider/merger.rs
  nucliadb_vectors2/src/data_point_provider/mod.rs
  nucliadb_vectors2/src/data_point_provider/state.rs
  nucliadb_vectors2/src/service/reader.rs
  nucliadb_vectors2/src/service/writer.rs
Due: none

rebase
  .gitignore
  nucliadb_node/src/bin/payload_test.rs
  nucliadb_node/src/services/writer.rs
  nucliadb_services/Cargo.toml
  nucliadb_services/src/vectors/mod.rs
  nucliadb_vectors2/Cargo.toml
  nucliadb_vectors2/README.md
  nucliadb_vectors2/src/data_point/disk_hnsw.rs
  nucliadb_vectors2/src/data_point/metrics.rs
  nucliadb_vectors2/src/data_point/mod.rs
  nucliadb_vectors2/src/data_point/node.rs
  nucliadb_vectors2/src/data_point/ops_hnsw.rs
  nucliadb_vectors2/src/data_point/ram_hnsw.rs
  nucliadb_vectors2/src/data_point/tests.rs
  nucliadb_vectors2/src/data_point_provider/disk_handler.rs
  nucliadb_vectors2/src/data_point_provider/merger.rs
  nucliadb_vectors2/src/data_point_provider/mod.rs
  nucliadb_vectors2/src/data_point_provider/state.rs
  nucliadb_vectors2/src/disk/key_value.rs
  nucliadb_vectors2/src/disk/mod.rs
  nucliadb_vectors2/src/disk/trie.rs
  nucliadb_vectors2/src/disk/vector.rs
  nucliadb_vectors2/src/lib.rs
  nucliadb_vectors2/src/service/mod.rs
  nucliadb_vectors2/src/service/reader.rs
  nucliadb_vectors2/src/service/writer.rs
  nucliadb_vectors2/src/utils/dtrie.rs
  nucliadb_vectors2/src/utils/mod.rs
  nucliadb_vectors2/src/utils/trie.rs
Due: none

Hermegarcia/sc 1786 (#221)
  .gitignore
  nucliadb_node/src/bin/payload_test.rs
  nucliadb_node/src/services/writer.rs
  nucliadb_services/Cargo.toml
  nucliadb_services/src/vectors/mod.rs
  nucliadb_vectors2/Cargo.toml
  nucliadb_vectors2/README.md
  nucliadb_vectors2/src/data_point/disk_hnsw.rs
  nucliadb_vectors2/src/data_point/metrics.rs
  nucliadb_vectors2/src/data_point/mod.rs
  nucliadb_vectors2/src/data_point/node.rs
  nucliadb_vectors2/src/data_point/ops_hnsw.rs
  nucliadb_vectors2/src/data_point/ram_hnsw.rs
  nucliadb_vectors2/src/data_point/tests.rs
  nucliadb_vectors2/src/data_point_provider/disk_handler.rs
  nucliadb_vectors2/src/data_point_provider/merger.rs
  nucliadb_vectors2/src/data_point_provider/mod.rs
  nucliadb_vectors2/src/data_point_provider/state.rs
  nucliadb_vectors2/src/disk/key_value.rs
  nucliadb_vectors2/src/disk/mod.rs
  nucliadb_vectors2/src/disk/trie.rs
  nucliadb_vectors2/src/disk/vector.rs
  nucliadb_vectors2/src/lib.rs
  nucliadb_vectors2/src/service/mod.rs
  nucliadb_vectors2/src/service/reader.rs
  nucliadb_vectors2/src/service/writer.rs
  nucliadb_vectors2/src/utils/dtrie.rs
  nucliadb_vectors2/src/utils/mod.rs
  nucliadb_vectors2/src/utils/trie.rs
Due: none

Add seconds on paragraph
  nucliadb_ingest/nucliadb_ingest/tests/fixtures.py
  nucliadb_search/nucliadb_search/api/models.py
  nucliadb_search/nucliadb_search/search/fetch.py
  nucliadb_search/nucliadb_search/search/merge.py
  nucliadb_search/nucliadb_search/tests/test_basic_search.py
Due: isort_ingest, black_ingest, flake8_ingest

clear pytyhon
  .github/.codecov.yml
Due: none

Add seconds on paragraph (#230)
  .github/.codecov.yml
  nucliadb_ingest/nucliadb_ingest/tests/fixtures.py
  nucliadb_search/nucliadb_search/api/models.py
  nucliadb_search/nucliadb_search/search/fetch.py
  nucliadb_search/nucliadb_search/search/merge.py
  nucliadb_search/nucliadb_search/tests/test_basic_search.py
Due: isort_ingest, black_ingest, flake8_ingest

vectors benchmark internals
  Cargo.toml
  vectors_benchmark/Cargo.toml
  vectors_benchmark/src/cli/mod.rs
  vectors_benchmark/src/engines/mod.rs
  vectors_benchmark/src/engines/no_engine.rs
  vectors_benchmark/src/engines/vectors2.rs
  vectors_benchmark/src/lib.rs
  vectors_benchmark/src/plot_writer.rs
  vectors_benchmark/src/reader.rs
  vectors_benchmark/src/vector_iter.rs
  vectors_benchmark/src/writer.rs
Due: none

full benchmark implementation
  vectors_benchmark/Cargo.toml
  vectors_benchmark/reader.gp
  vectors_benchmark/src/cli.rs
  vectors_benchmark/src/cli/mod.rs
  vectors_benchmark/src/lib.rs
  vectors_benchmark/src/query_iter.rs
  vectors_benchmark/src/reader.rs
  vectors_benchmark/src/vectors_benchmark.rs
  vectors_benchmark/writer.gp
Due: none

plotter generation + licenses
  vectors_benchmark/reader.gp
  vectors_benchmark/src/cli.rs
  vectors_benchmark/src/engines/mod.rs
  vectors_benchmark/src/engines/no_engine.rs
  vectors_benchmark/src/engines/vectors2.rs
  vectors_benchmark/src/lib.rs
  vectors_benchmark/src/plot_writer.rs
  vectors_benchmark/src/query_iter.rs
  vectors_benchmark/src/reader.rs
  vectors_benchmark/src/vector_iter.rs
  vectors_benchmark/src/vectors_benchmark.rs
  vectors_benchmark/src/writer.rs
  vectors_benchmark/writer.gp
Due: none

Initial pagination on semantic and fix on tantivy
  nucliadb_fields_tantivy/src/reader.rs
  nucliadb_ingest/nucliadb_ingest/tests/fixtures.py
  nucliadb_node/src/services/reader.rs
  nucliadb_paragraphs_tantivy/src/reader.rs
  nucliadb_paragraphs_tantivy/src/search_response.rs
  nucliadb_protos/nodereader.proto
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.pyi
  nucliadb_protos/rust/src/nodereader.rs
  nucliadb_protos/rust/src/nodewriter.rs
  nucliadb_search/nucliadb_search/api/models.py
  nucliadb_search/nucliadb_search/search/merge.py
  nucliadb_search/nucliadb_search/tests/fixtures.py
  nucliadb_search/nucliadb_search/tests/test_basic_search.py
  nucliadb_vectors/src/service/reader.rs
  nucliadb_vectors2/src/service/reader.rs
Due: isort_ingest, black_ingest, flake8_ingest

paragraphs + vectors
  nucliadb_fields_tantivy/src/reader.rs
  nucliadb_paragraphs_tantivy/src/reader.rs
  nucliadb_paragraphs_tantivy/src/search_response.rs
  nucliadb_protos/rust/src/nodereader.rs
  nucliadb_protos/rust/src/nodewriter.rs
  nucliadb_vectors/src/service/reader.rs
  nucliadb_vectors2/src/service/reader.rs
Due: none

simple benchmark
  vectors_benchmark/Cargo.toml
  vectors_benchmark/src/binaries/1m_stats.rs
  vectors_benchmark/src/binaries/vectors_benchmark.rs
  vectors_benchmark/src/cli.rs
  vectors_benchmark/src/file_vectors.rs
  vectors_benchmark/src/lib.rs
  vectors_benchmark/src/plot_writer.rs
  vectors_benchmark/src/random_vectors.rs
  vectors_benchmark/src/reader.rs
  vectors_benchmark/src/stats.rs
  vectors_benchmark/src/writer.rs
Due: none

Fix paragraph search
  nucliadb_fields_tantivy/src/reader.rs
  nucliadb_paragraphs_tantivy/src/reader.rs
  nucliadb_paragraphs_tantivy/src/search_response.rs
  nucliadb_protos/nodereader.proto
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.pyi
  nucliadb_protos/rust/src/nodereader.rs
  nucliadb_protos/rust/src/nodewriter.rs
  nucliadb_search/nucliadb_search/api/models.py
  nucliadb_search/nucliadb_search/search/merge.py
  nucliadb_search/nucliadb_search/search/query.py
Due: none

paragraphs ref
  nucliadb_paragraphs_tantivy/src/reader.rs
  nucliadb_paragraphs_tantivy/src/search_response.rs
  nucliadb_protos/rust/src/nodereader.rs
  nucliadb_protos/rust/src/nodewriter.rs
Due: none

fields ref
  nucliadb_fields_tantivy/src/reader.rs
Due: none

Lets try it out
  nucliadb_ingest/nucliadb_ingest/tests/fixtures.py
  nucliadb_ingest/nucliadb_ingest/utils.py
  nucliadb_one/nucliadb_one/tests/conftest.py
  nucliadb_one/nucliadb_one/tests/fixtures.py
  nucliadb_protos/rust/src/nodereader.rs
  nucliadb_protos/rust/src/nodewriter.rs
  nucliadb_search/nucliadb_search/api/models.py
  nucliadb_search/nucliadb_search/api/v1/search.py
  nucliadb_search/nucliadb_search/search/merge.py
  nucliadb_search/nucliadb_search/tests/fixtures.py
  nucliadb_search/nucliadb_search/tests/test_basic_search.py
Due: isort_ingest, black_ingest, flake8_ingest

Fix lint
  nucliadb_one/nucliadb_one/tests/fixtures.py
  nucliadb_search/nucliadb_search/search/merge.py
Due: none

Initial pagination on semantic and fix on tantivy (#233)
  nucliadb_fields_tantivy/src/reader.rs
  nucliadb_ingest/nucliadb_ingest/tests/fixtures.py
  nucliadb_ingest/nucliadb_ingest/utils.py
  nucliadb_node/src/services/reader.rs
  nucliadb_one/nucliadb_one/tests/conftest.py
  nucliadb_one/nucliadb_one/tests/fixtures.py
  nucliadb_paragraphs_tantivy/src/reader.rs
  nucliadb_paragraphs_tantivy/src/search_response.rs
  nucliadb_protos/nodereader.proto
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.pyi
  nucliadb_protos/rust/src/nodereader.rs
  nucliadb_protos/rust/src/nodewriter.rs
  nucliadb_search/nucliadb_search/api/models.py
  nucliadb_search/nucliadb_search/api/v1/search.py
  nucliadb_search/nucliadb_search/search/merge.py
  nucliadb_search/nucliadb_search/search/query.py
  nucliadb_search/nucliadb_search/tests/fixtures.py
  nucliadb_search/nucliadb_search/tests/test_basic_search.py
  nucliadb_vectors/src/service/reader.rs
  nucliadb_vectors2/src/service/reader.rs
Due: isort_ingest, black_ingest, flake8_ingest

vectors benchmark internals (#231)
  Cargo.toml
  vectors_benchmark/Cargo.toml
  vectors_benchmark/src/binaries/1m_stats.rs
  vectors_benchmark/src/binaries/vectors_benchmark.rs
  vectors_benchmark/src/cli.rs
  vectors_benchmark/src/engines/mod.rs
  vectors_benchmark/src/engines/no_engine.rs
  vectors_benchmark/src/engines/vectors2.rs
  vectors_benchmark/src/file_vectors.rs
  vectors_benchmark/src/lib.rs
  vectors_benchmark/src/plot_writer.rs
  vectors_benchmark/src/random_vectors.rs
  vectors_benchmark/src/reader.rs
  vectors_benchmark/src/stats.rs
  vectors_benchmark/src/writer.rs
Due: none

term collector
  nucliadb_paragraphs_tantivy/Cargo.toml
  nucliadb_paragraphs_tantivy/src/fuzzy_query.rs
  nucliadb_paragraphs_tantivy/src/lib.rs
  nucliadb_paragraphs_tantivy/src/reader.rs
  nucliadb_paragraphs_tantivy/src/search_query.rs
Due: none

term collector approach
  nucliadb_paragraphs_tantivy/Cargo.toml
  nucliadb_paragraphs_tantivy/src/fuzzy_query.rs
  nucliadb_paragraphs_tantivy/src/lib.rs
  nucliadb_paragraphs_tantivy/src/reader.rs
  nucliadb_paragraphs_tantivy/src/search_query.rs
  nucliadb_paragraphs_tantivy/src/search_response.rs
  nucliadb_protos/rust/src/nodereader.rs
  nucliadb_protos/rust/src/nodewriter.rs
Due: none

fuzzy terms added to the protos
  nucliadb_paragraphs_tantivy/src/search_response.rs
  nucliadb_protos/nodereader.proto
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.pyi
  nucliadb_protos/rust/src/nodereader.rs
Due: none

Refactor to icnlude in audit the rest of files, needed to generate fields cound deltas later from audit stream
  nucliadb_ingest/nucliadb_ingest/orm/processor.py
  nucliadb_ingest/nucliadb_ingest/tests/ingest/test_ingest.py
  nucliadb_protos/audit.proto
  nucliadb_protos/python/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/nucliadb_protos/audit_pb2.pyi
  nucliadb_utils/nucliadb_utils/audit/audit.py
  nucliadb_utils/nucliadb_utils/audit/basic.py
  nucliadb_utils/nucliadb_utils/audit/stream.py
Due: isort_ingest, black_ingest, flake8_ingest, isort_utils, black_utils, flake8_utils

Implementation taking into account add, modify and delete emit audit report on kb delete
  nucliadb_ingest/nucliadb_ingest/orm/knowledgebox.py
  nucliadb_ingest/nucliadb_ingest/orm/processor.py
  nucliadb_ingest/nucliadb_ingest/tests/fixtures.py
  nucliadb_ingest/nucliadb_ingest/tests/ingest/test_ingest.py
  nucliadb_protos/audit.proto
  nucliadb_protos/python/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/nucliadb_protos/audit_pb2.pyi
  nucliadb_utils/nucliadb_utils/audit/audit.py
  nucliadb_utils/nucliadb_utils/audit/basic.py
  nucliadb_utils/nucliadb_utils/audit/stream.py
Due: isort_ingest, black_ingest, flake8_ingest, isort_utils, black_utils, flake8_utils
