Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint_nucliadb
        name: Lint nucliadb
        entry: make -C nucliadb lint
        language: system
        files: (^nucliadb/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_dataset
        name: Lint nucliadb_dataset
        entry: make -C nucliadb_dataset lint
        language: system
        files: (^nucliadb_dataset/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_models
        name: Lint nucliadb_models
        entry: make -C nucliadb_models lint
        language: system
        files: (^nucliadb_models/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_node
        name: Lint nucliadb_node
        entry: make -C nucliadb_node lint
        language: system
        files: (^nucliadb_node/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_node_binding
        name: Lint nucliadb_node_binding
        entry: make -C nucliadb_node_binding lint
        language: system
        files: (^nucliadb_node_binding/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_performance
        name: Lint nucliadb_performance
        entry: make -C nucliadb_performance lint
        language: system
        files: (^nucliadb_performance/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_sdk
        name: Lint nucliadb_sdk
        entry: make -C nucliadb_sdk lint
        language: system
        files: (^nucliadb_sdk/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_telemetry
        name: Lint nucliadb_telemetry
        entry: make -C nucliadb_telemetry lint
        language: system
        files: (^nucliadb_telemetry/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_utils
        name: Lint nucliadb_utils
        entry: make -C nucliadb_utils lint
        language: system
        files: (^nucliadb_utils/)
        types: ["python"]
        pass_filenames: false

      - id: rustfmt_nucliadb
        name: fmt
        entry: cargo fmt --check
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nucliadb
        name: clippy
        entry: cargo clippy --all-features -- -D warnings
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

Less hacky status key check in migration
  nucliadb/src/migrations/0028_backfill_field_status.py
Due: lint_nucliadb

Added scores
  nucliadb/src/nucliadb/search/search/find_merge.py
  nucliadb/src/nucliadb/search/search/graph_strategy.py
  nucliadb/tests/nucliadb/integration/test_ask.py
  nucliadb/tests/search/unit/search/test_graph_strategy.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

Rename proto field
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
  nucliadb_protos/knowledgebox.proto
  nucliadb_protos/python/src/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/knowledgebox_pb2.pyi
  nucliadb_protos/rust/src/knowledgebox.rs
Due: lint_nucliadb

Add storage key part to vectorsets + migration (#2777)
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
  nucliadb_protos/knowledgebox.proto
  nucliadb_protos/python/src/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/knowledgebox_pb2.pyi
  nucliadb_protos/rust/src/knowledgebox.rs
Due: lint_nucliadb

Add migration for vectorsets storage_field_kind
  nucliadb/src/migrations/0028_extracted_vectors_reference.py
  nucliadb/tests/nucliadb/migrations/test_migration_0028.py
Due: lint_nucliadb

Add test to KB creation to ensure proper storage field kind setting
  nucliadb/tests/ingest/integration/orm/test_orm_knowledgebox.py
Due: lint_nucliadb

Improve fastapi header usage
  nucliadb/src/nucliadb/writer/api/constants.py
  nucliadb/src/nucliadb/writer/api/v1/field.py
  nucliadb/src/nucliadb/writer/api/v1/resource.py
  nucliadb/src/nucliadb/writer/api/v1/upload.py
Due: lint_nucliadb

Add relevant relationships to results
  nucliadb/src/nucliadb/common/external_index_providers/base.py
  nucliadb/src/nucliadb/search/search/graph_strategy.py
  nucliadb/src/nucliadb/search/search/hydrator.py
  nucliadb/tests/nucliadb/integration/test_ask.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

Improve fastapi header usage
  nucliadb/src/nucliadb/writer/api/constants.py
  nucliadb/src/nucliadb/writer/api/v1/field.py
  nucliadb/src/nucliadb/writer/api/v1/resource.py
Due: lint_nucliadb

Remove documentation about graph strategy
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb_models

Better headers
  nucliadb/src/nucliadb/writer/api/constants.py
  nucliadb/src/nucliadb/writer/api/v1/upload.py
Due: lint_nucliadb

fix test
  nucliadb/tests/search/unit/test_find_post_index.py
Due: lint_nucliadb

Add early return if no vectorsets (should never happen)
  nucliadb/src/migrations/0028_extracted_vectors_reference.py
Due: lint_nucliadb

Better fastapi header usage (#2780)
  nucliadb/src/nucliadb/writer/api/constants.py
  nucliadb/src/nucliadb/writer/api/v1/field.py
  nucliadb/src/nucliadb/writer/api/v1/resource.py
  nucliadb/src/nucliadb/writer/api/v1/upload.py
Due: lint_nucliadb

Vectorset storage field kind migration (#2781)
  nucliadb/src/migrations/0028_extracted_vectors_reference.py
  nucliadb/tests/ingest/integration/orm/test_orm_knowledgebox.py
  nucliadb/tests/nucliadb/migrations/test_migration_0028.py
Due: lint_nucliadb

wip
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb_protos/python/src/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/rust/src/fdbwriter.rs
  nucliadb_protos/writer.proto
Due: lint_nucliadb

Redo migration
  nucliadb/src/migrations/0028_backfill_field_status.py
  nucliadb/src/migrations/0029_backfill_field_status.py
Due: lint_nucliadb

Fix automatic title for file resources (#2775)
  nucliadb/src/nucliadb/ingest/orm/resource.py
Due: lint_nucliadb

Tests WIP
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/writer/api/v1/upload.py
  nucliadb/tests/nucliadb/integration/test_processing_status.py
Due: lint_nucliadb

Fix test
  nucliadb/src/nucliadb/ingest/orm/resource.py
Due: lint_nucliadb

Add extract strategy for text, file and link fields (#2774)
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/ingest/processing.py
  nucliadb/src/nucliadb/writer/api/v1/upload.py
  nucliadb/src/nucliadb/writer/resource/field.py
  nucliadb/tests/nucliadb/integration/test_api.py
  nucliadb_models/src/nucliadb_models/file.py
  nucliadb_models/src/nucliadb_models/link.py
  nucliadb_models/src/nucliadb_models/processing.py
  nucliadb_models/src/nucliadb_models/text.py
  nucliadb_models/src/nucliadb_models/writer.py
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/resources.proto
  nucliadb_protos/rust/src/resources.rs
Due: lint_nucliadb, lint_nucliadb_models

Return status/error in apis
  nucliadb/src/nucliadb/common/datamanagers/fields.py
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/ingest/serialize.py
  nucliadb/src/nucliadb/reader/api/models.py
  nucliadb/src/nucliadb/reader/api/v1/resource.py
  nucliadb_models/src/nucliadb_models/resource.py
Due: lint_nucliadb, lint_nucliadb_models

linting
  nucliadb/src/migrations/0029_backfill_field_status.py
Due: lint_nucliadb

fixes
  nucliadb/src/nucliadb/common/datamanagers/fields.py
  nucliadb/src/nucliadb/ingest/serialize.py
  nucliadb/src/nucliadb/reader/api/v1/resource.py
  nucliadb/tests/nucliadb/integration/test_processing_status.py
Due: lint_nucliadb

Update nucliadb/src/migrations/0029_backfill_field_status.py
  nucliadb/src/migrations/0029_backfill_field_status.py
Due: lint_nucliadb

Fix merge
  nucliadb/src/nucliadb/writer/api/v1/upload.py
Due: lint_nucliadb

cleanup data augmentation stuff
  nucliadb/src/nucliadb/ingest/orm/resource.py
Due: lint_nucliadb

Field status proto changes
  nucliadb_protos/python/src/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/rust/src/fdbwriter.rs
  nucliadb_protos/writer.proto
Due: none

Field status proto changes (#2784)
  nucliadb_protos/python/src/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/rust/src/fdbwriter.rs
  nucliadb_protos/writer.proto
Due: none

Wait for server response when acking messages
  nidx/src/indexer.rs
Due: none

Use NATS docker fixture
  nucliadb_utils/src/nucliadb_utils/tests/nats.py
Due: lint_nucliadb_utils

Wait for server response when acking messages (#2785)
  nidx/src/indexer.rs
Due: none

Task tests nats settings
  nucliadb/tests/nucliadb/integration/tasks/test_tasks.py
Due: lint_nucliadb

Search tests use docker nats
  nucliadb/tests/ndbfixtures/search.py
Due: lint_nucliadb
