Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nidx, clippy_nidx

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint_nucliadb
        name: Lint nucliadb
        entry: make -C nucliadb lint
        language: system
        files: (^nucliadb/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_dataset
        name: Lint nucliadb_dataset
        entry: make -C nucliadb_dataset lint
        language: system
        files: (^nucliadb_dataset/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_models
        name: Lint nucliadb_models
        entry: make -C nucliadb_models lint
        language: system
        files: (^nucliadb_models/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_sdk
        name: Lint nucliadb_sdk
        entry: make -C nucliadb_sdk lint
        language: system
        files: (^nucliadb_sdk/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_telemetry
        name: Lint nucliadb_telemetry
        entry: make -C nucliadb_telemetry lint
        language: system
        files: (^nucliadb_telemetry/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_utils
        name: Lint nucliadb_utils
        entry: make -C nucliadb_utils lint
        language: system
        files: (^nucliadb_utils/)
        types: ["python"]
        pass_filenames: false

      - id: rustfmt_nidx
        name: Rust format check for nidx
        entry: cargo fmt --check --all --manifest-path nidx/Cargo.toml
        language: system
        files: (^nidx/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nidx
        name: Clippy warning check for nidx
        entry: cargo clippy --all-features --manifest-path nidx/Cargo.toml -- -D warnings
        language: system
        files: (^nidx/)
        types: ["rust"]
        pass_filenames: false

Remove autofilter logic (#3357)
  e2e/test_e2e.py
  nucliadb/src/nucliadb/search/api/v1/find.py
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/src/nucliadb/search/search/query_parser/models.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/find.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/search.py
  nucliadb/src/nucliadb/search/search/query_parser/parsers/unit_retrieval.py
  nucliadb/tests/nucliadb/integration/search/test_autofilters.py
  nucliadb/tests/nucliadb/integration/test_find.py
  nucliadb/tests/search/integration/requesters/test_utils.py
  nucliadb/tests/search/unit/search/test_query.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

DA-prefix on field extension rag strategy (#3352)
  nucliadb/src/nucliadb/common/datamanagers/atomic.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/tests/nucliadb/integration/test_ask.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

wip
  nucliadb/src/migrations/pg/0010_shards_index.py
  nucliadb/src/nucliadb/common/cluster/rebalance.py
Due: lint_nucliadb

add migration that adds index
  nucliadb/src/migrations/pg/0010_shards_index.py
Due: lint_nucliadb

done
  nucliadb/src/migrations/pg/0010_shards_index.py
  nucliadb/src/nucliadb/common/cluster/rebalance.py
  nucliadb/tests/nucliadb/integration/common/cluster/test_rebalance.py
Due: lint_nucliadb

Hydration API request v2 proposal
  nucliadb_models/src/nucliadb_models/hydration_v2.py
  nucliadb_models/tests/test_hydration_v2.py
Due: lint_nucliadb_models

faster shards index query
  nucliadb/src/migrations/pg/0010_shards_index.py
  nucliadb/src/nucliadb/common/cluster/rebalance.py
  nucliadb/tests/nucliadb/integration/common/cluster/test_rebalance.py
Due: lint_nucliadb

Batchify
  nucliadb/src/nucliadb/common/cluster/rebalance.py
  nucliadb/tests/nucliadb/integration/common/cluster/test_rebalance.py
Due: lint_nucliadb

fix
  nucliadb/src/nucliadb/common/cluster/rebalance.py
Due: lint_nucliadb

Rebalance shard counts improvement (#3359)
  nucliadb/src/migrations/pg/0010_shards_index.py
  nucliadb/src/nucliadb/common/cluster/rebalance.py
  nucliadb/tests/nucliadb/integration/common/cluster/test_rebalance.py
Due: lint_nucliadb

Add missing nidx-protos dependency to nucliadb_utils
  nucliadb_utils/pyproject.toml
Due: none

Add typing annotations to sdk tests
  nucliadb_sdk/src/nucliadb_sdk/tests/fixtures.py
Due: lint_nucliadb_sdk

Update uv.lock
  uv.lock
Due: none

remove limit on conv message text
  nucliadb_models/src/nucliadb_models/conversation.py
Due: lint_nucliadb_models

remove limits
  nucliadb_models/src/nucliadb_models/conversation.py
Due: lint_nucliadb_models

less limits
  nucliadb/src/nucliadb/ingest/fields/conversation.py
  nucliadb/src/nucliadb/writer/resource/field.py
Due: lint_nucliadb

remove limit on conv message text (#3362)
  nucliadb/src/nucliadb/ingest/fields/conversation.py
  nucliadb/src/nucliadb/writer/resource/field.py
  nucliadb_models/src/nucliadb_models/conversation.py
Due: lint_nucliadb, lint_nucliadb_models

Hnsw parallel merge (#3347)
  nidx/nidx_vector/src/hnsw.rs
  nidx/nidx_vector/src/hnsw/build.rs
  nidx/nidx_vector/src/hnsw/disk_hnsw.rs
  nidx/nidx_vector/src/hnsw/ram_hnsw.rs
  nidx/nidx_vector/src/hnsw/search.rs
  nidx/nidx_vector/src/segment.rs
  nidx/nidx_vector/src/segment/tests.rs
Due: rustfmt_nidx, clippy_nidx

Add typing annotations to sdk tests (#3361)
  nucliadb_sdk/src/nucliadb_sdk/tests/fixtures.py
Due: lint_nucliadb_sdk

Add missing nidx-protos dependency to nucliadb_utils (#3360)
  nucliadb_utils/pyproject.toml
  uv.lock
Due: none

Allow setting env variables per nidx component
  charts/nidx/templates/api-deploy.yaml
  charts/nidx/templates/indexer-deploy.yaml
  charts/nidx/templates/scheduler-deploy.yaml
  charts/nidx/templates/searcher-deploy.yaml
  charts/nidx/templates/worker-deploy.yaml
Due: none

Allow setting env variables per nidx component (#3363)
  charts/nidx/templates/api-deploy.yaml
  charts/nidx/templates/indexer-deploy.yaml
  charts/nidx/templates/scheduler-deploy.yaml
  charts/nidx/templates/searcher-deploy.yaml
  charts/nidx/templates/worker-deploy.yaml
Due: none

Simplify merge settings naming
  nidx/src/scheduler/merge_task.rs
  nidx/src/settings.rs
Due: rustfmt_nidx, clippy_nidx

Simplify merge settings naming (#3364)
  nidx/src/scheduler/merge_task.rs
  nidx/src/settings.rs
Due: rustfmt_nidx, clippy_nidx

Consider splits in Hydrate API paragraph ids
  nucliadb_models/src/nucliadb_models/hydration.py
Due: lint_nucliadb_models

Make closest_up_nodes perform BFS using actual similarity
  nidx/nidx_vector/src/hnsw/search.rs
Due: rustfmt_nidx, clippy_nidx

Consider splits in Hydrate API paragraph ids (#3365)
  nucliadb_models/src/nucliadb_models/hydration.py
Due: lint_nucliadb_models

Fix broken entrypoint
  nidx/nidx_vector/src/hnsw/ram_hnsw.rs
  nidx/nidx_vector/src/segment.rs
Due: rustfmt_nidx, clippy_nidx

Fix broken entrypoint (#3367)
  nidx/nidx_vector/src/hnsw/ram_hnsw.rs
  nidx/nidx_vector/src/segment.rs
Due: rustfmt_nidx, clippy_nidx

Make closest_up_nodes perform BFS using actual similarity (#3366)
  nidx/nidx_vector/src/hnsw/search.rs
Due: rustfmt_nidx, clippy_nidx

lighter rebalance
  nucliadb/src/nucliadb/common/cluster/rebalance.py
  nucliadb/tests/nucliadb/integration/common/cluster/test_rebalance.py
Due: lint_nucliadb

better comment
  nucliadb/src/nucliadb/common/cluster/rebalance.py
Due: lint_nucliadb

address comments
  nucliadb/src/nucliadb/common/cluster/rebalance.py
Due: lint_nucliadb

remove unnecessary check
  nucliadb/src/nucliadb/common/cluster/rebalance.py
Due: lint_nucliadb

cleaner
  nucliadb/src/nucliadb/common/cluster/rebalance.py
Due: lint_nucliadb

lighter rebalance (#3368)
  nucliadb/src/nucliadb/common/cluster/rebalance.py
  nucliadb/tests/nucliadb/integration/common/cluster/test_rebalance.py
Due: lint_nucliadb

managed=true
  pyproject.toml
Due: none

managed=true (#3369)
  pyproject.toml
Due: none

BlackDuck SCA GHA
  .github/workflows/bd_sca_scanner.yaml
Due: none

BlackDuck SCA GHA (#3370)
  .github/workflows/bd_sca_scanner.yaml
Due: none
