Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nidx, clippy_nidx

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint_nucliadb
        name: Lint nucliadb
        entry: make -C nucliadb lint
        language: system
        files: (^nucliadb/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_dataset
        name: Lint nucliadb_dataset
        entry: make -C nucliadb_dataset lint
        language: system
        files: (^nucliadb_dataset/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_models
        name: Lint nucliadb_models
        entry: make -C nucliadb_models lint
        language: system
        files: (^nucliadb_models/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_sdk
        name: Lint nucliadb_sdk
        entry: make -C nucliadb_sdk lint
        language: system
        files: (^nucliadb_sdk/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_telemetry
        name: Lint nucliadb_telemetry
        entry: make -C nucliadb_telemetry lint
        language: system
        files: (^nucliadb_telemetry/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_utils
        name: Lint nucliadb_utils
        entry: make -C nucliadb_utils lint
        language: system
        files: (^nucliadb_utils/)
        types: ["python"]
        pass_filenames: false

      - id: rustfmt_nidx
        name: Rust format check for nidx
        entry: cargo fmt --check --all --manifest-path nidx/Cargo.toml
        language: system
        files: (^nidx/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nidx
        name: Clippy warning check for nidx
        entry: cargo clippy --all-features --manifest-path nidx/Cargo.toml -- -D warnings
        language: system
        files: (^nidx/)
        types: ["rust"]
        pass_filenames: false

More ask tests
  nucliadb_sdk/tests/test_sdk.py
  nucliadb_sdk/tests/test_sdk_async.py
Due: lint_nucliadb_sdk

Update nidx docker to 1.98.0
  Dockerfile.nidx
Due: none

Apply new clippy lints
  nidx/nidx_paragraph/src/query_parser/fuzzy_parser.rs
Due: rustfmt_nidx, clippy_nidx

Use nak delay instead of an asyncio sleep
  nucliadb/src/nucliadb/tasks/consumer.py
Due: lint_nucliadb

Don't rely on private attributes
  nucliadb_telemetry/src/nucliadb_telemetry/jetstream.py
  nucliadb_utils/src/nucliadb_utils/nats.py
  nucliadb_utils/tests/unit/test_nats.py
Due: lint_nucliadb_telemetry, lint_nucliadb_utils

Remove idle_heartbeat, incompatible with queue groups
  nucliadb/src/nucliadb/tasks/consumer.py
  nucliadb_utils/src/nucliadb_utils/settings.py
Due: lint_nucliadb, lint_nucliadb_utils

Security bump (#3877)
  nidx/Cargo.lock
Due: none

Remove prequeries_max_parallel setting
  nucliadb/src/nucliadb/search/settings.py
Due: lint_nucliadb

done
  nucliadb/src/nucliadb/common/models_utils/from_proto.py
  nucliadb/src/nucliadb/models/internal/augment.py
  nucliadb/src/nucliadb/search/api/v1/augment.py
  nucliadb/src/nucliadb/search/augmentor/fields.py
  nucliadb/tests/nucliadb/unit/test_internal_models_augment.py
  nucliadb/tests/search/integration/api/v1/test_augment.py
  nucliadb/tests/search/integration/search/test_augmentor.py
  nucliadb_models/src/nucliadb_models/augment.py
Due: lint_nucliadb, lint_nucliadb_models

remove restriction
  nucliadb/tests/search/integration/api/v1/test_augment.py
  nucliadb_models/src/nucliadb_models/augment.py
Due: lint_nucliadb, lint_nucliadb_models

Augment messages content (#3878)
  nucliadb/src/nucliadb/common/models_utils/from_proto.py
  nucliadb/src/nucliadb/models/internal/augment.py
  nucliadb/src/nucliadb/search/api/v1/augment.py
  nucliadb/src/nucliadb/search/augmentor/fields.py
  nucliadb/tests/nucliadb/unit/test_internal_models_augment.py
  nucliadb/tests/search/integration/api/v1/test_augment.py
  nucliadb/tests/search/integration/search/test_augmentor.py
  nucliadb_models/src/nucliadb_models/augment.py
Due: lint_nucliadb, lint_nucliadb_models

Add INTERNET_SEARCH to PredictType enum
  nucliadb_protos/kb_usage.proto
Due: none

Add INTERNET_SEARCH to PredictType enum (#3880)
  nucliadb_protos/kb_usage.proto
Due: none

proposal add internet search consumption
  nucliadb_protos/kb_usage.proto
Due: none

remove unused limits
  nucliadb/src/nucliadb/models/internal/augment.py
Due: lint_nucliadb

more
  nucliadb/src/nucliadb/models/internal/augment.py
  nucliadb/tests/nucliadb/unit/test_internal_models_augment.py
Due: lint_nucliadb

remove unused limits in augmentor (#3882)
  nucliadb/src/nucliadb/models/internal/augment.py
  nucliadb/tests/nucliadb/unit/test_internal_models_augment.py
Due: lint_nucliadb

-
  nucliadb_protos/kb_usage.proto
Due: none

add external requests consumption (#3881)
  nucliadb_protos/kb_usage.proto
Due: none

Support security headers in all find endpoints
  nucliadb/src/nucliadb/search/api/v1/find.py
  nucliadb/src/nucliadb/search/api/v1/graph.py
  nucliadb/src/nucliadb/search/api/v1/retrieve.py
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/api/v1/suggest.py
  nucliadb/src/nucliadb/search/api/v1/utils.py
Due: lint_nucliadb

Tests
  nucliadb/tests/nucliadb/integration/search/graph/test_graph_path_search.py
  nucliadb/tests/nucliadb/integration/test_security.py
  nucliadb/tests/search/integration/api/v1/test_retrieve.py
Due: lint_nucliadb

Support security groups via header in all endpoints (#3884)
  nucliadb/src/nucliadb/search/api/v1/find.py
  nucliadb/src/nucliadb/search/api/v1/graph.py
  nucliadb/src/nucliadb/search/api/v1/retrieve.py
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/api/v1/suggest.py
  nucliadb/src/nucliadb/search/api/v1/utils.py
  nucliadb/tests/nucliadb/integration/search/graph/test_graph_path_search.py
  nucliadb/tests/nucliadb/integration/test_security.py
  nucliadb/tests/search/integration/api/v1/test_retrieve.py
Due: lint_nucliadb

Add internt search as PredictType
  nucliadb_protos/kb_usage.proto
Due: none

Add timestamp to augmented conversation messages
  nucliadb/src/nucliadb/models/internal/augment.py
  nucliadb/src/nucliadb/search/api/v1/augment.py
  nucliadb/src/nucliadb/search/augmentor/fields.py
  nucliadb_models/src/nucliadb_models/augment.py
Due: lint_nucliadb, lint_nucliadb_models

Add internt search as PredictType (#3886)
  nucliadb_protos/kb_usage.proto
Due: none

Add timestamp to augmented conversation messages (#3887)
  nucliadb/src/nucliadb/models/internal/augment.py
  nucliadb/src/nucliadb/search/api/v1/augment.py
  nucliadb/src/nucliadb/search/augmentor/fields.py
  nucliadb_models/src/nucliadb_models/augment.py
Due: lint_nucliadb, lint_nucliadb_models

Move tasks to pull consumer
  nucliadb/src/nucliadb/tasks/consumer.py
Due: lint_nucliadb

allow specifying file field name via tus metadata
  nucliadb/src/nucliadb/writer/api/v1/upload.py
Due: lint_nucliadb

Rename consumers
  nucliadb/src/nucliadb/backups/const.py
  nucliadb/src/nucliadb/export_import/tasks.py
Due: lint_nucliadb

Move tasks to pull consumer (#3889)
  nucliadb/src/nucliadb/backups/const.py
  nucliadb/src/nucliadb/export_import/tasks.py
  nucliadb/src/nucliadb/tasks/consumer.py
Due: lint_nucliadb

add tests
  nucliadb/src/nucliadb/writer/api/v1/upload.py
  nucliadb/tests/writer/test_files.py
Due: lint_nucliadb

add more tests
  nucliadb/tests/standalone/integration/test_upload_download.py
  nucliadb/tests/writer/test_files.py
Due: lint_nucliadb

rename to field_id
  nucliadb/src/nucliadb/writer/api/v1/upload.py
  nucliadb/tests/writer/test_files.py
Due: lint_nucliadb

allow specifying file field name via tus metadata (#3890)
  nucliadb/src/nucliadb/writer/api/v1/upload.py
  nucliadb/tests/standalone/integration/test_upload_download.py
  nucliadb/tests/writer/test_files.py
Due: lint_nucliadb

Add migration to delete old kv data
  nucliadb/src/migrations/0051_remove_old_kv_keys.py
  nucliadb/tests/nucliadb/migrations/test_migration_0051.py
Due: lint_nucliadb

Apply pg optimizer trick to catalog unfiltered facets
  nucliadb/src/nucliadb/common/catalog/pg.py
Due: lint_nucliadb

Apply pg optimizer trick to catalog unfiltered facets (#3893)
  nucliadb/src/nucliadb/common/catalog/pg.py
Due: lint_nucliadb

done
  charts/nucliadb_reader/templates/reader.vs.yaml
  charts/nucliadb_writer/templates/writer.vs.yaml
  nucliadb/src/nucliadb/reader/api/v1/learning_config.py
  nucliadb/src/nucliadb/writer/api/v1/learning_config.py
Due: lint_nucliadb

Proxy learning config processing webhooks (#3894)
  charts/nucliadb_reader/templates/reader.vs.yaml
  charts/nucliadb_writer/templates/writer.vs.yaml
  nucliadb/src/nucliadb/reader/api/v1/learning_config.py
  nucliadb/src/nucliadb/writer/api/v1/learning_config.py
Due: lint_nucliadb
