Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint_nucliadb
        name: Lint nucliadb
        entry: make -C nucliadb lint
        language: system
        files: (^nucliadb/)
        types: ["python"]

      - id: lint_nucliadb_dataset
        name: Lint nucliadb_dataset
        entry: make -C nucliadb_dataset lint
        language: system
        files: (^nucliadb_dataset/)
        types: ["python"]

      - id: lint_nucliadb_models
        name: Lint nucliadb_models
        entry: make -C nucliadb_models lint
        language: system
        files: (^nucliadb_models/)
        types: ["python"]

      - id: lint_nucliadb_node
        name: Lint nucliadb_node
        entry: make -C nucliadb_node lint
        language: system
        files: (^nucliadb_node/)
        types: ["python"]

      - id: lint_nucliadb_node_binding
        name: Lint nucliadb_node_binding
        entry: make -C nucliadb_node_binding lint
        language: system
        files: (^nucliadb_node_binding/)
        types: ["python"]

      - id: lint_nucliadb_performance
        name: Lint nucliadb_performance
        entry: make -C nucliadb_performance lint
        language: system
        files: (^nucliadb_performance/)
        types: ["python"]

      - id: lint_nucliadb_sdk
        name: Lint nucliadb_sdk
        entry: make -C nucliadb_sdk lint
        language: system
        files: (^nucliadb_sdk/)
        types: ["python"]

      - id: lint_nucliadb_telemetry
        name: Lint nucliadb_telemetry
        entry: make -C nucliadb_telemetry lint
        language: system
        files: (^nucliadb_telemetry/)
        types: ["python"]

      - id: lint_nucliadb_utils
        name: Lint nucliadb_utils
        entry: make -C nucliadb_utils lint
        language: system
        files: (^nucliadb_utils/)
        types: ["python"]

      - id: rustfmt_nucliadb
        name: fmt
        entry: cargo +nightly fmt --check
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nucliadb
        name: clippy
        entry: cargo clippy --all-features -- -D warnings
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

add e2e tests
  e2e/test_e2e.py
  nucliadb/nucliadb/common/http_clients/processing.py
  nucliadb/nucliadb/ingest/consumer/pull.py
  nucliadb/nucliadb/standalone/api_router.py
Due: lint_nucliadb

tweak
  e2e/test_e2e.py
Due: none

comment
  e2e/test_e2e.py
Due: none

timeout parity with existing
  nucliadb/nucliadb/ingest/consumer/pull.py
Due: lint_nucliadb

better
  nucliadb/nucliadb/common/datamanagers/processing.py
  nucliadb/nucliadb/common/http_clients/processing.py
  nucliadb/nucliadb/ingest/consumer/pull.py
  nucliadb/nucliadb/standalone/api_router.py
Due: lint_nucliadb

Update nucliadb_node/src/bin/testlock.rs
  nucliadb_node/src/bin/testlock.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Remove extraneous test
  Cargo.lock
  nucliadb_node/Cargo.toml
  nucliadb_node/src/bin/testlock.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Removing providers module
  nucliadb_node/src/bin/writer.rs
  nucliadb_node/src/grpc/collect_garbage.rs
  nucliadb_node/src/grpc/grpc_reader.rs
  nucliadb_node/src/grpc/grpc_writer.rs
  nucliadb_node/src/grpc/update.rs
  nucliadb_node/src/lifecycle.rs
  nucliadb_node/src/merge/scheduler.rs
  nucliadb_node/src/replication/replicator.rs
  nucliadb_node/src/replication/service.rs
  nucliadb_node/src/shards/mod.rs
  nucliadb_node/src/shards/providers/mod.rs
  nucliadb_node/src/shards/providers/shard_cache/mod.rs
  nucliadb_node/src/shards/providers/shard_cache/reader_cache.rs
  nucliadb_node/src/shards/providers/shard_cache/resource_cache.rs
  nucliadb_node/src/shards/providers/shard_cache/writer_cache.rs
  nucliadb_node/tests/common/node_services.rs
  nucliadb_node_binding/src/collect_garbage.rs
  nucliadb_node_binding/src/reader.rs
  nucliadb_node_binding/src/update.rs
  nucliadb_node_binding/src/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

forgot to add the actual folder...
  nucliadb_node/src/shards/cache/mod.rs
  nucliadb_node/src/shards/cache/reader_cache.rs
  nucliadb_node/src/shards/cache/resource_cache.rs
  nucliadb_node/src/shards/cache/writer_cache.rs
Due: rustfmt_nucliadb, clippy_nucliadb

tweaks
  nucliadb/nucliadb/ingest/consumer/pull.py
Due: lint_nucliadb

support pull processor queue and offsets (#2013)
  e2e/test_e2e.py
  nucliadb/nucliadb/common/datamanagers/__init__.py
  nucliadb/nucliadb/common/datamanagers/processing.py
  nucliadb/nucliadb/common/http_clients/processing.py
  nucliadb/nucliadb/ingest/consumer/pull.py
  nucliadb/nucliadb/standalone/api_router.py
  nucliadb/nucliadb/tests/unit/http_clients/test_processing.py
Due: lint_nucliadb

Clean shards module (#2015)
  nucliadb_node/src/bin/writer.rs
  nucliadb_node/src/grpc/collect_garbage.rs
  nucliadb_node/src/grpc/grpc_reader.rs
  nucliadb_node/src/grpc/grpc_writer.rs
  nucliadb_node/src/grpc/update.rs
  nucliadb_node/src/lifecycle.rs
  nucliadb_node/src/merge/scheduler.rs
  nucliadb_node/src/replication/replicator.rs
  nucliadb_node/src/replication/service.rs
  nucliadb_node/src/shards/cache/mod.rs
  nucliadb_node/src/shards/cache/reader_cache.rs
  nucliadb_node/src/shards/cache/resource_cache.rs
  nucliadb_node/src/shards/cache/writer_cache.rs
  nucliadb_node/src/shards/mod.rs
  nucliadb_node/src/shards/providers/mod.rs
  nucliadb_node/tests/common/node_services.rs
  nucliadb_node_binding/src/collect_garbage.rs
  nucliadb_node_binding/src/reader.rs
  nucliadb_node_binding/src/update.rs
  nucliadb_node_binding/src/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

conditionally add middleware
  nucliadb_telemetry/nucliadb_telemetry/fastapi/__init__.py
Due: lint_nucliadb_telemetry

conditionally add middleware (#2016)
  nucliadb_telemetry/nucliadb_telemetry/fastapi/__init__.py
Due: lint_nucliadb_telemetry

increase pull timeout
  nucliadb/nucliadb/ingest/consumer/pull.py
Due: lint_nucliadb

configurable
  nucliadb/nucliadb/ingest/consumer/pull.py
  nucliadb/nucliadb/ingest/consumer/service.py
  nucliadb/nucliadb/ingest/settings.py
Due: lint_nucliadb

moar
  nucliadb/nucliadb/ingest/consumer/pull.py
  nucliadb/nucliadb/ingest/settings.py
Due: lint_nucliadb

increase pull timeout (#2017)
  nucliadb/nucliadb/ingest/consumer/pull.py
  nucliadb/nucliadb/ingest/consumer/service.py
  nucliadb/nucliadb/ingest/settings.py
Due: lint_nucliadb

Add prod enviroment value to nucliadb chart
  charts/nucliadb/values.yaml
Due: none

Adding AI tables storage
  nucliadb_models/nucliadb_models/common.py
  nucliadb_protos/python/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/nucliadb_protos/dataset_pb2.py
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/nucliadb_protos/migrations_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.py
  nucliadb_protos/python/nucliadb_protos/replication_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/standalone_pb2.py
  nucliadb_protos/python/nucliadb_protos/train_pb2.py
  nucliadb_protos/python/nucliadb_protos/utils_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.py
  nucliadb_protos/resources.proto
  nucliadb_protos/rust/src/resources.rs
Due: lint_nucliadb_models

Add prod enviroment value to nucliadb chart
  charts/nucliadb/values.yaml
  nucliadb_utils/nucliadb_utils/settings.py
Due: lint_nucliadb_utils

fix none param error
  nucliadb/nucliadb/search/predict.py
Due: lint_nucliadb

Fixes SEARCH-K1
  nucliadb/nucliadb/search/predict.py
Due: lint_nucliadb

Correctly update vector dimension
  nucliadb_vectors2/src/data_point_provider/reader.rs
Due: none

Fixes SEARCH-K1 (#2021)
  nucliadb/nucliadb/search/predict.py
Due: lint_nucliadb

Correctly update vector dimension (#2022)
  nucliadb_vectors2/src/data_point_provider/reader.rs
Due: none

Backport reader dimension fix
  nucliadb_vectors/src/data_point_provider/reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Add running environment to nucliadb chart (#2019)
  charts/nucliadb/values.yaml
  nucliadb_utils/nucliadb_utils/settings.py
Due: lint_nucliadb_utils

more gcs retries with tus
  nucliadb/nucliadb/writer/tus/gcs.py
Due: lint_nucliadb

Pipeline permissions
  .github/workflows/nucliadb_search.yml
Due: none

Improve performance tests error serialization (#1998)
  nucliadb_performance/nucliadb_performance/utils/exceptions.py
  nucliadb_performance/nucliadb_performance/utils/misc.py
  nucliadb_performance/nucliadb_performance/utils/nucliadb.py
Due: lint_nucliadb_performance

more gcs retries with tus (#2023)
  nucliadb/nucliadb/writer/tus/gcs.py
Due: lint_nucliadb

Handle metadata not found error
  nucliadb_node/nucliadb_node/indexer.py
Due: lint_nucliadb_node

Throttle OpenTelemetry logs
  nucliadb_node/src/telemetry.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Handle metadata not found error (#2025)
  nucliadb_node/nucliadb_node/indexer.py
Due: lint_nucliadb_node

Ignore large labels that would fail to index
  nucliadb_node/src/grpc/grpc_writer.rs
  nucliadb_node/src/shards/shard_writer.rs
  nucliadb_node_binding/src/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Retry TiKV connect while initializing
  nucliadb/nucliadb/common/maindb/tikv.py
Due: lint_nucliadb

Merge on background
  Cargo.lock
  nucliadb_core/Cargo.toml
  nucliadb_core/src/lib.rs
  nucliadb_core/src/merge.rs
  nucliadb_core/src/metrics/metric/vectors.rs
  nucliadb_core/src/vectors.rs
  nucliadb_node/src/lifecycle.rs
  nucliadb_node/src/merge/errors.rs
  nucliadb_node/src/merge/global.rs
  nucliadb_node/src/merge/mod.rs
  nucliadb_node/src/merge/scheduler.rs
  nucliadb_node/src/merge/work.rs
  nucliadb_node/src/settings/inner_settings.rs
  nucliadb_node/src/settings/mod.rs
  nucliadb_node/src/settings/providers.rs
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_node/src/shards/shard_writer.rs
  nucliadb_node/tests/common/node_services.rs
  nucliadb_node_binding/src/writer.rs
  nucliadb_vectors/src/data_point/mod.rs
  nucliadb_vectors/src/data_point/tests.rs
  nucliadb_vectors/src/data_point_provider/writer.rs
  nucliadb_vectors/src/indexset/mod.rs
  nucliadb_vectors/src/lib.rs
  nucliadb_vectors/src/service/reader.rs
  nucliadb_vectors/src/service/writer.rs
  nucliadb_vectors/tests/test_merge.rs
  vectors_benchmark/src/binaries/1m_stats.rs
  vectors_benchmark/src/binaries/vectors_benchmark.rs
Due: rustfmt_nucliadb, clippy_nucliadb
