Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint_nucliadb
        name: Lint nucliadb
        entry: make -C nucliadb lint
        language: system
        files: (^nucliadb/)
        types: ["python"]

      - id: lint_nucliadb_dataset
        name: Lint nucliadb_dataset
        entry: make -C nucliadb_dataset lint
        language: system
        files: (^nucliadb_dataset/)
        types: ["python"]

      - id: lint_nucliadb_models
        name: Lint nucliadb_models
        entry: make -C nucliadb_models lint
        language: system
        files: (^nucliadb_models/)
        types: ["python"]

      - id: lint_nucliadb_node
        name: Lint nucliadb_node
        entry: make -C nucliadb_node lint
        language: system
        files: (^nucliadb_node/)
        types: ["python"]

      - id: lint_nucliadb_node_binding
        name: Lint nucliadb_node_binding
        entry: make -C nucliadb_node_binding lint
        language: system
        files: (^nucliadb_node_binding/)
        types: ["python"]

      - id: lint_nucliadb_performance
        name: Lint nucliadb_performance
        entry: make -C nucliadb_performance lint
        language: system
        files: (^nucliadb_performance/)
        types: ["python"]

      - id: lint_nucliadb_sdk
        name: Lint nucliadb_sdk
        entry: make -C nucliadb_sdk lint
        language: system
        files: (^nucliadb_sdk/)
        types: ["python"]

      - id: lint_nucliadb_telemetry
        name: Lint nucliadb_telemetry
        entry: make -C nucliadb_telemetry lint
        language: system
        files: (^nucliadb_telemetry/)
        types: ["python"]

      - id: lint_nucliadb_utils
        name: Lint nucliadb_utils
        entry: make -C nucliadb_utils lint
        language: system
        files: (^nucliadb_utils/)
        types: ["python"]

      - id: rustfmt_nucliadb
        name: fmt
        entry: cargo +nightly fmt --check
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nucliadb
        name: clippy
        entry: cargo clippy --all-features -- -D warnings
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

Bring down nats ack wait
  nucliadb_utils/nucliadb_utils/settings.py
Due: lint_nucliadb_utils

Another one
  .gitignore
  nucliadb/nucliadb/reader/api/models.py
  nucliadb/nucliadb/reader/api/v1/resource.py
  nucliadb/nucliadb/tests/integration/search/test_filters_expression.py
  nucliadb/nucliadb/tests/integration/test_find.py
  nucliadb/nucliadb/tests/integration/test_labels.py
  nucliadb_models/nucliadb_models/common.py
  nucliadb_models/nucliadb_models/metadata.py
  nucliadb_models/nucliadb_models/text.py
  nucliadb_models/nucliadb_models/utils.py
  nucliadb_telemetry/nucliadb_telemetry/errors.py
  nucliadb_utils/nucliadb_utils/settings.py
  pdm.lock
  pyproject.toml
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_telemetry, lint_nucliadb_utils

Format import
  nucliadb_models/nucliadb_models/common.py
Due: lint_nucliadb_models

Add retries to object store downloads (#2143)
  nucliadb/nucliadb/common/cluster/rollover.py
  nucliadb/nucliadb/common/cluster/settings.py
  nucliadb/nucliadb/common/cluster/utils.py
  nucliadb_node/src/settings.rs
  nucliadb_utils/nucliadb_utils/settings.py
Due: lint_nucliadb, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

Avoid git dependency
  nucliadb/nucliadb/tests/integration/search/test_filters_expression.py
  nucliadb/requirements.txt
  nucliadb_dataset/requirements.txt
  pdm.lock
Due: lint_nucliadb

Basic vectorset support in shard writer
  nucliadb_node/src/shards/shard_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Add create vectors index function and some renames
  nucliadb_node/src/shards/indexes.rs
  nucliadb_node/src/shards/shard_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Skip implementation of vectorsets merge and replication (for now)
  nucliadb_node/src/shards/shard_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Add normalize_vector parameter to new vectorset call
  nucliadb_protos/python/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/nucliadb_protos/audit_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/dataset_pb2.py
  nucliadb_protos/python/nucliadb_protos/dataset_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/nucliadb_protos/knowledgebox_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/migrations_pb2.py
  nucliadb_protos/python/nucliadb_protos/migrations_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/replication_pb2.py
  nucliadb_protos/python/nucliadb_protos/replication_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/replication_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/standalone_pb2.py
  nucliadb_protos/python/nucliadb_protos/standalone_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/standalone_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/train_pb2.py
  nucliadb_protos/python/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/utils_pb2.py
  nucliadb_protos/python/nucliadb_protos/utils_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/writer_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/writer_pb2_grpc.pyi
Due: none

Add normalize_vector parameter to new vectorset call
  nucliadb_protos/nodewriter.proto
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.pyi
  nucliadb_protos/rust/src/nodewriter.rs
Due: none

Use it on the tests
  nucliadb_node/tests/test_date_range_search.rs
  nucliadb_paragraphs2/src/reader.rs
  nucliadb_paragraphs2/src/writer.rs
  nucliadb_paragraphs3/src/reader.rs
  nucliadb_paragraphs3/src/writer.rs
  nucliadb_vectors/src/service/reader.rs
  nucliadb_vectors/src/service/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

More
  nucliadb_node/src/shards/shard_reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Implement remove vectorset gRPC call
  nucliadb_node/src/grpc/grpc_writer.rs
  nucliadb_node/src/shards/mod.rs
  nucliadb_node/src/shards/shard_writer.rs
  nucliadb_node/tests/test_vectorsets.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Add vectorset sentences to index paragraph proto
  nucliadb_protos/noderesources.proto
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/replication_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/replication_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/writer_pb2_grpc.pyi
  nucliadb_protos/rust/src/noderesources.rs
Due: none

Better way to pass parameters to open_vectors_writer
  nucliadb_node/src/shards/shard_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Add more operations on the vectorset test
  nucliadb_node/tests/test_vectorsets.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Start vectorsets support in shard reader
  nucliadb_node/src/shards/indexes.rs
  nucliadb_node/src/shards/shard_reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Add basic test creating 2 vectors indexes and setting a resource
  nucliadb_node/tests/test_vectorsets.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Merge all vectors indexes and return any error
  nucliadb_node/src/shards/shard_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Fix python lints after protos changes
  nucliadb/nucliadb/common/cluster/grpc_node_dummy.py
Due: lint_nucliadb

No need to store ShardIndexes in the reader
  nucliadb_node/src/shards/shard_reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Fix rebase
  nucliadb_protos/rust/src/noderesources.rs
Due: none

Use proto vectorset on search
  nucliadb_node/src/shards/shard_reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Implement add_vector_set gRPC call
  nucliadb_node/src/grpc/grpc_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Implement list vectorsets gRPC call
  nucliadb_node/src/grpc/grpc_writer.rs
  nucliadb_node/src/shards/shard_writer.rs
  nucliadb_node/tests/test_vectorsets.rs
  nucliadb_protos/noderesources.proto
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/nucliadb_protos/noderesources_pb2.pyi
Due: rustfmt_nucliadb, clippy_nucliadb

Fix merge so it doesn't block indexes lock
  nucliadb_node/src/shards/shard_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Remove print from test
  nucliadb_node/tests/test_vector_normalization.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Fix
  nucliadb_node/src/shards/shard_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Use local versions for sidecar testing
  Dockerfile.node_sidecar
Due: none

introspect json dump
  nucliadb/nucliadb/standalone/introspect.py
Due: lint_nucliadb

send kb_usage messages
  nucliadb_utils/nucliadb_utils/audit/stream.py
  nucliadb_utils/nucliadb_utils/nuclia_usage/__init__.py
  nucliadb_utils/nucliadb_utils/nuclia_usage/protos/__init__.py
  nucliadb_utils/nucliadb_utils/nuclia_usage/protos/kb_usage_pb2.py
  nucliadb_utils/nucliadb_utils/nuclia_usage/protos/kb_usage_pb2.pyi
  nucliadb_utils/nucliadb_utils/nuclia_usage/protos/kb_usage_pb2_grpc.py
  nucliadb_utils/nucliadb_utils/nuclia_usage/protos/kb_usage_pb2_grpc.pyi
  nucliadb_utils/nucliadb_utils/nuclia_usage/utils/__init__.py
  nucliadb_utils/nucliadb_utils/nuclia_usage/utils/kb_usage_report.py
Due: lint_nucliadb_utils

format code
  nucliadb_utils/nucliadb_utils/audit/stream.py
  nucliadb_utils/nucliadb_utils/fastapi/versioning.py
  nucliadb_utils/nucliadb_utils/nuclia_usage/protos/kb_usage_pb2.py
  nucliadb_utils/nucliadb_utils/nuclia_usage/protos/kb_usage_pb2.pyi
  nucliadb_utils/nucliadb_utils/nuclia_usage/protos/kb_usage_pb2_grpc.py
  nucliadb_utils/nucliadb_utils/nuclia_usage/utils/kb_usage_report.py
  nucliadb_utils/nucliadb_utils/tests/asyncbenchmark.py
  nucliadb_utils/nucliadb_utils/tests/gcs.py
  nucliadb_utils/nucliadb_utils/tests/unit/test_authentication.py
  nucliadb_utils/nucliadb_utils/utilities.py
Due: lint_nucliadb_utils

Add more sdk coverage
  nucliadb_sdk/nucliadb_sdk/tests/test_ask.py
Due: lint_nucliadb_sdk

better
  nucliadb/nucliadb/search/search/chat/ask.py
Due: lint_nucliadb

Fix audit
  nucliadb/nucliadb/search/search/chat/query.py
Due: lint_nucliadb

Requested changes
  nucliadb/nucliadb/search/api/v1/resource/ask.py
Due: lint_nucliadb

Ask response parser
  nucliadb_sdk/nucliadb_sdk/v2/sdk.py
Due: lint_nucliadb_sdk

Add feature flag
  nucliadb/nucliadb/search/api/v1/ask.py
  nucliadb/nucliadb/search/search/chat/ask.py
  nucliadb_models/nucliadb_models/search.py
  nucliadb_utils/nucliadb_utils/const.py
  nucliadb_utils/nucliadb_utils/featureflagging.py
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_utils

Ask
  nucliadb/nucliadb/search/api/v1/__init__.py
Due: lint_nucliadb
