Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: isort_nucliadb
        name: Isort
        entry: isort --profile black -c
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)(^nucliadb_performace/)
        types: ["python"]

      - id: black_nucliadb
        name: Black
        entry: black --check --verbose
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)(^nucliadb_performace/)
        types: ["python"]

      - id: flake8_nucliadb
        name: Flake8
        entry: flake8 --config=nucliadb/setup.cfg
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)(^nucliadb_performace/)
        types: ["python"]

      - id: rustfmt_nucliadb
        name: fmt
        entry: cargo +nightly fmt --check
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nucliadb
        name: clippy
        entry: cargo clippy --all-features -- -D warnings
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

Add logs
  nucliadb/nucliadb/ingest/orm/knowledgebox.py
Due: none

Remove unused virtual service
  charts/nucliadb_reader/templates/reader.vs.yaml
Due: none

Debug if requests are getting the expected headers
  nucliadb_utils/nucliadb_utils/cors.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Add migration to upgrade paragraphs v2
  nucliadb/migrations/0016_upgrade_to_paragraphs_v2.py
Due: none

Learning config should only be deleted for onprem (#1958)
  nucliadb/nucliadb/ingest/service/writer.py
Due: none

validate prompt has at least one character (#1954)
  nucliadb_models/nucliadb_models/search.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Fix
  nucliadb/nucliadb/export_import/utils.py
  nucliadb/nucliadb/ingest/orm/brain.py
Due: none

Add migration to upgrade paragraphs v2 (#1962)
  nucliadb/migrations/0016_upgrade_to_paragraphs_v2.py
Due: none

Update cors.py
  nucliadb_utils/nucliadb_utils/cors.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

format
  nucliadb_utils/nucliadb_utils/cors.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Process broker message at once
  nucliadb/nucliadb/export_import/utils.py
  nucliadb/nucliadb/tests/unit/export_import/test_utils.py
Due: none

Add logs (#1959)
  nucliadb/nucliadb/ingest/orm/knowledgebox.py
Due: none

Debug if requests are getting the expected headers (#1960)
  nucliadb_utils/nucliadb_utils/cors.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Upgrade nats version in fixtures
  nucliadb_utils/nucliadb_utils/tests/nats.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix build vectors
  .github/workflows/nucliadb.yml
  .github/workflows/nucliadb_dataset.yml
  .github/workflows/nucliadb_node.yml
  .github/workflows/nucliadb_performance.yml
  .github/workflows/nucliadb_sdk.yml
  .github/workflows/nucliadb_search.yml
  .github/workflows/nucliadb_standalone.yml
  .github/workflows/nucliadb_train.yml
  Dockerfile.node
  Dockerfile.node_local
Due: none

fix build vectors (#1965)
  .github/workflows/nucliadb.yml
  .github/workflows/nucliadb_dataset.yml
  .github/workflows/nucliadb_node.yml
  .github/workflows/nucliadb_performance.yml
  .github/workflows/nucliadb_sdk.yml
  .github/workflows/nucliadb_search.yml
  .github/workflows/nucliadb_standalone.yml
  .github/workflows/nucliadb_train.yml
  Dockerfile.node
  Dockerfile.node_local
Due: none

Fix test
  nucliadb/nucliadb/writer/tests/unit/test_back_pressure.py
Due: none

clippy
  nucliadb_vectors/src/service/writer.rs
  nucliadb_vectors2/src/data_point_provider/garbage_collector.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Fix replication tests
  nucliadb_node/tests/common/node_services.rs
  nucliadb_node/tests/common/resources.rs
  nucliadb_node/tests/test_replication.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Replicate vectors from state
  nucliadb_vectors2/src/data_point_provider/garbage_collector.rs
  nucliadb_vectors2/src/data_point_provider/mod.rs
  nucliadb_vectors2/src/data_point_provider/state.rs
  nucliadb_vectors2/src/service/writer.rs
Due: none

Add field info
  nucliadb_models/nucliadb_models/search.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Utilize new read_only field to represent active shards
  nucliadb/nucliadb/common/cluster/manager.py
  nucliadb/nucliadb/common/datamanagers/kb.py
  nucliadb/nucliadb/ingest/consumer/shard_creator.py
  nucliadb/nucliadb/ingest/tests/integration/servicer/test_knowledgebox_servicer.py
Due: none

Rename migration to be up to date
  nucliadb/migrations/0015_multiple_writable_shards.py
Due: none

Unit test shard creation logic
  nucliadb/nucliadb/common/cluster/manager.py
  nucliadb/nucliadb/tests/unit/common/cluster/test_cluster.py
  nucliadb/nucliadb/tests/unit/common/cluster/test_kb_shard_manager.py
Due: none

Deprecate Shards.actual in favor of active to support multiple active shards
  nucliadb_protos/python/nucliadb_protos/writer_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/rust/src/fdbwriter.rs
  nucliadb_protos/writer.proto
Due: none

Don't raise exception if shards or current shard not found
  nucliadb/nucliadb/ingest/consumer/shard_creator.py
Due: none

Write migrated data...
  nucliadb/migrations/0013_multiple_writable_shards.py
Due: none

Add migration
  nucliadb/migrations/0013_multiple_writable_shards.py
Due: none

Format migration
  nucliadb/migrations/0013_multiple_writable_shards.py
Due: none

Remove unused function
  nucliadb/nucliadb/common/datamanagers/cluster.py
Due: none

Fixing tests
  nucliadb/nucliadb/common/cluster/manager.py
  nucliadb/nucliadb/ingest/tests/unit/consumer/test_shard_creator.py
Due: none

Expose shards data manager functions with txn
  nucliadb/nucliadb/common/datamanagers/cluster.py
Due: none

Reorganize common cluster unit tests
  nucliadb/nucliadb/tests/unit/common/cluster/test_cluster.py
  nucliadb/nucliadb/tests/unit/common/cluster/test_kb_shard_manager.py
  nucliadb/nucliadb/tests/unit/common/cluster/test_manager.py
Due: none

Dummy index nodes log calls per instance instead of class
  nucliadb/nucliadb/common/cluster/grpc_node_dummy.py
  nucliadb/nucliadb/tests/unit/common/cluster/test_rollover.py
Due: none

Fixing tests
  nucliadb/nucliadb/common/cluster/manager.py
  nucliadb/nucliadb/ingest/consumer/shard_creator.py
  nucliadb/nucliadb/ingest/tests/unit/consumer/test_shard_creator.py
Due: none

Add commit to migration
  nucliadb/migrations/0013_multiple_writable_shards.py
Due: none

Add read_only member to ShardObject
  nucliadb_protos/python/nucliadb_protos/writer_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/rust/src/fdbwriter.rs
  nucliadb_protos/writer.proto
Due: none

Prefer data managers instead of spreading logic
  nucliadb/nucliadb/common/cluster/manager.py
  nucliadb/nucliadb/common/datamanagers/cluster.py
  nucliadb/nucliadb/ingest/tests/integration/servicer/test_knowledgebox_servicer.py
  nucliadb/nucliadb/ingest/tests/integration/servicer/test_shards_management.py
  nucliadb/nucliadb/tests/integration/test_purge.py
Due: none

Add better logging for exports
  nucliadb/nucliadb/export_import/exporter.py
Due: none
