Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

isort_nucliadb:
  name: Isort
  entry: isort --profile black -c
  language: system

black_nucliadb:
  name: Black
  entry: black --check --verbose
  language: system

flake8_nucliadb:
  name: Flake8
  entry: flake8 --config=nucliadb/setup.cfg
  language: system

rustfmt_nucliadb:
  name: fmt
  entry: cargo +nightly fmt --check
  language: system
  pass_filenames: false

clippy_nucliadb:
  name: clippy
  entry: cargo clippy --all-features -- -D warnings
  language: system
  pass_filenames: false

add test for standalone
  nucliadb/nucliadb/reader/api/v1/services.py
  nucliadb/nucliadb/standalone/tests/integration/test_services.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Remove async cache provider (#1720)
  nucliadb_node/src/bin/writer.rs
  nucliadb_node/src/grpc/grpc_reader.rs
  nucliadb_node/src/grpc/grpc_writer.rs
  nucliadb_node/src/replication/replicator.rs
  nucliadb_node/src/replication/service.rs
  nucliadb_node/src/shards/metadata.rs
  nucliadb_node/src/shards/providers/mod.rs
  nucliadb_node/src/shards/providers/provider_traits.rs
  nucliadb_node/src/shards/providers/unbounded_cache/async_unbounded_reader.rs
  nucliadb_node/src/shards/providers/unbounded_cache/async_unbounded_writer.rs
  nucliadb_node/src/shards/providers/unbounded_cache/mod.rs
  nucliadb_node/src/shards/providers/unbounded_cache/unbounded_reader.rs
  nucliadb_node/src/shards/providers/unbounded_cache/unbounded_writer.rs
  nucliadb_node/src/shards/shard_writer.rs
  nucliadb_node/tests/common/node_services.rs
  nucliadb_node/tests/test_replication.rs
  nucliadb_node_binding/src/reader.rs
  nucliadb_node_binding/src/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

better a 204
  nucliadb/nucliadb/reader/api/v1/services.py
  nucliadb/nucliadb/standalone/tests/integration/test_services.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

add more coverage
  nucliadb/nucliadb/reader/tests/integration/reader/test_notifications.py
  nucliadb/nucliadb/reader/tests/unit/reader/test_notifications.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

change status code
  nucliadb/nucliadb/reader/api/v1/services.py
  nucliadb/nucliadb/standalone/tests/integration/test_services.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

refactor notifications models
  nucliadb/nucliadb/reader/api/v1/services.py
  nucliadb/nucliadb/reader/reader/notifications.py
  nucliadb/nucliadb/reader/tests/unit/reader/test_notifications.py
  nucliadb_models/nucliadb_models/notifications.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

edit docs
  docs/tutorials/KB_NOTIFICATIONS.md
Due: none

fix
  docs/tutorials/KB_NOTIFICATIONS.md
  nucliadb/nucliadb/reader/reader/notifications.py
  nucliadb/nucliadb/reader/tests/integration/api/v1/test_services.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix
  nucliadb/nucliadb/reader/tests/unit/reader/test_notifications.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix
  nucliadb_models/nucliadb_models/notifications.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

SDK: add IO streams as raw content
  nucliadb_sdk/nucliadb_sdk/v2/sdk.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Add test for export-import with a file
  nucliadb_sdk/nucliadb_sdk/tests/test_export_import.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix markdown
  docs/tutorials/KB_NOTIFICATIONS.md
Due: none

KB notifications endpoint improvements (#1735)
  docs/tutorials/KB_NOTIFICATIONS.md
  nucliadb/nucliadb/ingest/orm/processor/__init__.py
  nucliadb/nucliadb/reader/api/v1/services.py
  nucliadb/nucliadb/reader/reader/notifications.py
  nucliadb/nucliadb/reader/tests/integration/api/v1/test_services.py
  nucliadb/nucliadb/reader/tests/integration/reader/test_notifications.py
  nucliadb/nucliadb/reader/tests/unit/reader/test_notifications.py
  nucliadb/nucliadb/standalone/tests/integration/test_services.py
  nucliadb/requirements.txt
  nucliadb_models/nucliadb_models/notifications.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/rust/src/fdbwriter.rs
  nucliadb_protos/writer.proto
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix
  charts/nucliadb_ingest/templates/ingest-pull.deploy.yaml
  charts/nucliadb_ingest/templates/ingest.cm.yaml
  charts/nucliadb_ingest/values.yaml
  nucliadb/nucliadb/writer/api/v1/upload.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

add title
  nucliadb/nucliadb/ingest/processing.py
  nucliadb/nucliadb/writer/api/v1/field.py
  nucliadb/nucliadb/writer/api/v1/resource.py
  nucliadb/nucliadb/writer/api/v1/upload.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

add processing-status
  nucliadb/nucliadb/common/http_clients/processing.py
  nucliadb/nucliadb/reader/api/v1/services.py
  nucliadb/nucliadb/writer/api/v1/upload.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

SDK: add IO streams as raw content (#1736)
  nucliadb_sdk/nucliadb_sdk/tests/test_export_import.py
  nucliadb_sdk/nucliadb_sdk/v2/sdk.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Add migration to upgrade relations and texts to v2 (#1732)
  nucliadb/migrations/0007_upgrade_relations_and_texts_to_v2.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Make nucliadb docker print logs to stdout
  Dockerfile
Due: none

New LRU cache implementation
  Cargo.lock
  nucliadb_node/Cargo.toml
  nucliadb_node/src/bin/writer.rs
  nucliadb_node/src/grpc/grpc_reader.rs
  nucliadb_node/src/grpc/grpc_writer.rs
  nucliadb_node/src/replication/replicator.rs
  nucliadb_node/src/replication/service.rs
  nucliadb_node/src/shards/providers/mod.rs
  nucliadb_node/src/shards/providers/shard_cache/mod.rs
  nucliadb_node/src/shards/providers/shard_cache/reader_cache.rs
  nucliadb_node/src/shards/providers/shard_cache/resource_cache.rs
  nucliadb_node/src/shards/providers/shard_cache/writer_cache.rs
  nucliadb_node/src/shards/providers/unbounded_cache/unbounded_reader.rs
  nucliadb_node/src/shards/providers/unbounded_cache/unbounded_writer.rs
  nucliadb_node/tests/common/node_services.rs
  nucliadb_node/tests/test_replication.rs
  nucliadb_node_binding/src/reader.rs
  nucliadb_node_binding/src/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Remove lazy loading
  charts/nucliadb_node/templates/node.cm.yaml
  nucliadb/nucliadb/search/tests/node.py
  nucliadb_node/nucliadb_node/tests/fixtures.py
  nucliadb_node/src/settings/inner_settings.rs
  nucliadb_node/src/settings/mod.rs
  nucliadb_node/src/settings/providers.rs
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

Cleaner match
  nucliadb_node/src/shards/providers/shard_cache/writer_cache.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Format
  nucliadb_node/src/replication/replicator.rs
  nucliadb_node/src/shards/providers/shard_cache/resource_cache.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Configure log output bia env var
  Dockerfile
Due: none

Use monotonic timers for metrics
  nucliadb_node/src/grpc/middleware/metrics.rs
  nucliadb_node/src/replication/replicator.rs
  nucliadb_paragraphs/src/reader.rs
  nucliadb_paragraphs/src/writer.rs
  nucliadb_procs/src/lib.rs
  nucliadb_procs/tests/dont_compile/wrong_actor.rs
  nucliadb_procs/tests/dont_compile/wrong_actor.stderr
  nucliadb_relations/src/service/reader.rs
  nucliadb_relations/src/service/writer.rs
  nucliadb_texts/src/reader.rs
  nucliadb_texts/src/writer.rs
  nucliadb_texts2/src/reader.rs
  nucliadb_texts2/src/writer.rs
  nucliadb_vectors/src/service/reader.rs
  nucliadb_vectors/src/service/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Remove println
  nucliadb_node/src/shards/providers/shard_cache/resource_cache.rs
Due: rustfmt_nucliadb, clippy_nucliadb

tweak
  nucliadb/nucliadb/ingest/consumer/pull_v2.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

add failing test
  nucliadb/nucliadb/tests/integration/common/cluster/test_rollover.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Fix
  nucliadb/nucliadb/common/cluster/rollover.py
  nucliadb/nucliadb/tests/integration/common/cluster/test_rollover.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Fix
  nucliadb/nucliadb/tests/integration/common/cluster/test_rollover.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Add migrations
  nucliadb/migrations/0008_cleanup_leftover_rollover_metadata.py
  nucliadb/migrations/0009_upgrade_relations_and_texts_to_v2.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix lint
  nucliadb/nucliadb/common/cluster/rollover.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Fix rollover migration (#1740)
  nucliadb/migrations/0008_cleanup_leftover_rollover_metadata.py
  nucliadb/migrations/0009_upgrade_relations_and_texts_to_v2.py
  nucliadb/nucliadb/common/cluster/rollover.py
  nucliadb/nucliadb/tests/integration/common/cluster/test_rollover.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Make nucliadb docker print logs to stdout (#1737)
  Dockerfile
Due: none

Path conditions:
  isort_nucliadb: any of: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/) and \.py$
  black_nucliadb: any of: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/) and \.py$
  flake8_nucliadb: any of: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/) and \.py$
  rustfmt_nucliadb: any of: (^nucliadb_vectors/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_paragraphs/)|(^nucliadb_texts/) and \.rs$
  clippy_nucliadb: any of: (^nucliadb_vectors/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_paragraphs/)|(^nucliadb_texts/) and \.rs$
