Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint_nucliadb
        name: Lint nucliadb
        entry: make -C nucliadb lint
        language: system
        files: (^nucliadb/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_dataset
        name: Lint nucliadb_dataset
        entry: make -C nucliadb_dataset lint
        language: system
        files: (^nucliadb_dataset/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_models
        name: Lint nucliadb_models
        entry: make -C nucliadb_models lint
        language: system
        files: (^nucliadb_models/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_node
        name: Lint nucliadb_node
        entry: make -C nucliadb_node lint
        language: system
        files: (^nucliadb_node/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_node_binding
        name: Lint nucliadb_node_binding
        entry: make -C nucliadb_node_binding lint
        language: system
        files: (^nucliadb_node_binding/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_performance
        name: Lint nucliadb_performance
        entry: make -C nucliadb_performance lint
        language: system
        files: (^nucliadb_performance/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_sdk
        name: Lint nucliadb_sdk
        entry: make -C nucliadb_sdk lint
        language: system
        files: (^nucliadb_sdk/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_telemetry
        name: Lint nucliadb_telemetry
        entry: make -C nucliadb_telemetry lint
        language: system
        files: (^nucliadb_telemetry/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_utils
        name: Lint nucliadb_utils
        entry: make -C nucliadb_utils lint
        language: system
        files: (^nucliadb_utils/)
        types: ["python"]
        pass_filenames: false

      - id: rustfmt_nucliadb
        name: fmt
        entry: cargo fmt --check
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nucliadb
        name: clippy
        entry: cargo clippy --all-features -- -D warnings
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

Fix tests
  nucliadb/src/nucliadb/common/cluster/rollover.py
Due: lint_nucliadb

Fix tests
  nucliadb/src/nucliadb/common/cluster/rollover.py
  nucliadb/src/nucliadb/common/datamanagers/rollover.py
Due: lint_nucliadb

Refactor rollover state persistence (#2395)
  nucliadb/src/nucliadb/common/cluster/rollover.py
  nucliadb/src/nucliadb/common/datamanagers/rollover.py
  nucliadb/src/nucliadb/writer/tus/gcs.py
  nucliadb/tests/nucliadb/unit/common/cluster/test_rollover.py
Due: lint_nucliadb

Done
  nucliadb/src/nucliadb/common/datamanagers/rollover.py
Due: lint_nucliadb

Fix tests
  nucliadb/src/nucliadb/common/datamanagers/rollover.py
Due: lint_nucliadb

Work in progress
  nucliadb/src/migrations/0009_upgrade_relations_and_texts_to_v2.py
  nucliadb/src/migrations/0010_fix_corrupt_indexes.py
  nucliadb/src/migrations/0012_rollover_shards.py
  nucliadb/src/migrations/0014_rollover_shards.py
  nucliadb/src/migrations/0015_targeted_rollover.py
  nucliadb/src/migrations/0016_upgrade_to_paragraphs_v2.py
  nucliadb/src/migrations/0019_upgrade_to_paragraphs_v3.py
  nucliadb/src/migrations/0020_drain_nodes_from_cluster.py
  nucliadb/src/migrations/0022_fix_paragraph_deletion_bug.py
  nucliadb/src/nucliadb/common/cluster/rollover.py
  nucliadb/src/nucliadb/common/cluster/utils.py
  nucliadb/src/nucliadb/common/datamanagers/kb.py
  nucliadb/src/nucliadb/common/datamanagers/rollover.py
  nucliadb/src/nucliadb/common/external_index_providers/base.py
  nucliadb/src/nucliadb/common/external_index_providers/manager.py
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb/src/nucliadb/ingest/orm/processor/__init__.py
  nucliadb/src/nucliadb/migrator/migrator.py
  nucliadb/tests/nucliadb/integration/common/cluster/test_rollover.py
  nucliadb/tests/nucliadb/integration/search/test_filters.py
  nucliadb/tests/nucliadb/integration/test_pinecone_kb.py
  nucliadb/tests/nucliadb/unit/common/cluster/test_rollover.py
  nucliadb_protos/knowledgebox.proto
  nucliadb_protos/python/src/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/knowledgebox_pb2.pyi
  nucliadb_protos/rust/src/knowledgebox.rs
  nucliadb_sdk/tests/test_security.py
Due: lint_nucliadb, lint_nucliadb_sdk

Split history context from retrieved contexts (#2393)
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/tests/nucliadb/integration/test_ask.py
  nucliadb_protos/audit.proto
  nucliadb_protos/python/src/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/audit_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2_grpc.pyi
  nucliadb_protos/rust/src/audit.rs
  nucliadb_utils/src/nucliadb_utils/audit/audit.py
  nucliadb_utils/src/nucliadb_utils/audit/basic.py
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
  nucliadb_utils/tests/unit/audit/test_stream.py
Due: lint_nucliadb, lint_nucliadb_utils

Done
  nucliadb/src/nucliadb/common/cluster/rollover.py
  nucliadb/src/nucliadb/common/datamanagers/rollover.py
  nucliadb/src/nucliadb/common/external_index_providers/base.py
  nucliadb/src/nucliadb/common/external_index_providers/manager.py
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb/tests/nucliadb/integration/test_pinecone_kb.py
  nucliadb_protos/knowledgebox.proto
  nucliadb_protos/python/src/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/knowledgebox_pb2.pyi
  nucliadb_protos/rust/src/knowledgebox.rs
Due: lint_nucliadb

cleanup
  nucliadb/src/nucliadb/common/cluster/utils.py
  nucliadb_sdk/tests/test_security.py
Due: lint_nucliadb, lint_nucliadb_sdk

Update aiohttp
  pdm.lock
Due: none

Fix tests
  nucliadb/tests/nucliadb/unit/common/cluster/test_rollover.py
Due: lint_nucliadb

Retry 5xx errors
  nucliadb_utils/src/nucliadb_utils/aiopynecone/client.py
  nucliadb_utils/src/nucliadb_utils/aiopynecone/exceptions.py
  nucliadb_utils/src/nucliadb_utils/aiopynecone/models.py
  nucliadb_utils/tests/unit/aiopynecone/test_client.py
Due: lint_nucliadb_utils

Update aiohttp (#2397)
  pdm.lock
Due: none

Better log
  nucliadb/src/nucliadb/search/search/find.py
Due: lint_nucliadb

fix test
  nucliadb/tests/nucliadb/unit/common/external_index_providers/test_manager.py
Due: lint_nucliadb

fix
  nucliadb/src/nucliadb/search/search/find.py
Due: lint_nucliadb

Retry index deletion
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
Due: lint_nucliadb

Retry pinecone 5xx errors (#2398)
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb_utils/src/nucliadb_utils/aiopynecone/client.py
  nucliadb_utils/src/nucliadb_utils/aiopynecone/exceptions.py
  nucliadb_utils/src/nucliadb_utils/aiopynecone/models.py
  nucliadb_utils/tests/unit/aiopynecone/test_client.py
Due: lint_nucliadb, lint_nucliadb_utils

Fix test
  nucliadb/tests/nucliadb/integration/test_pinecone_kb.py
Due: lint_nucliadb

Fix other test
  nucliadb/tests/nucliadb/integration/test_pinecone_kb.py
Due: lint_nucliadb

Wait for index to be ready before cutover
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb/tests/nucliadb/integration/test_pinecone_kb.py
  nucliadb_utils/src/nucliadb_utils/aiopynecone/client.py
  nucliadb_utils/src/nucliadb_utils/aiopynecone/models.py
  nucliadb_utils/tests/unit/aiopynecone/test_client.py
Due: lint_nucliadb, lint_nucliadb_utils

Log catalog payload on slow responses
  nucliadb/src/nucliadb/search/api/v1/search.py
Due: lint_nucliadb

Rollover kbs with external index provider (#2396)
  nucliadb/src/migrations/0009_upgrade_relations_and_texts_to_v2.py
  nucliadb/src/migrations/0010_fix_corrupt_indexes.py
  nucliadb/src/migrations/0012_rollover_shards.py
  nucliadb/src/migrations/0014_rollover_shards.py
  nucliadb/src/migrations/0015_targeted_rollover.py
  nucliadb/src/migrations/0016_upgrade_to_paragraphs_v2.py
  nucliadb/src/migrations/0019_upgrade_to_paragraphs_v3.py
  nucliadb/src/migrations/0020_drain_nodes_from_cluster.py
  nucliadb/src/migrations/0022_fix_paragraph_deletion_bug.py
  nucliadb/src/nucliadb/common/cluster/rollover.py
  nucliadb/src/nucliadb/common/cluster/utils.py
  nucliadb/src/nucliadb/common/datamanagers/kb.py
  nucliadb/src/nucliadb/common/datamanagers/rollover.py
  nucliadb/src/nucliadb/common/external_index_providers/base.py
  nucliadb/src/nucliadb/common/external_index_providers/manager.py
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb/src/nucliadb/ingest/orm/processor/__init__.py
  nucliadb/src/nucliadb/migrator/migrator.py
  nucliadb/tests/nucliadb/integration/common/cluster/test_rollover.py
  nucliadb/tests/nucliadb/integration/search/test_filters.py
  nucliadb/tests/nucliadb/integration/test_pinecone_kb.py
  nucliadb/tests/nucliadb/unit/common/cluster/test_rollover.py
  nucliadb/tests/nucliadb/unit/common/external_index_providers/test_manager.py
  nucliadb_utils/src/nucliadb_utils/aiopynecone/client.py
  nucliadb_utils/src/nucliadb_utils/aiopynecone/models.py
  nucliadb_utils/tests/unit/aiopynecone/test_client.py
Due: lint_nucliadb, lint_nucliadb_utils

Log catalog payload on slow responses (#2399)
  nucliadb/src/nucliadb/search/api/v1/search.py
Due: lint_nucliadb

Dummy commit
  nucliadb/src/nucliadb/search/api/v1/knowledgebox.py
Due: lint_nucliadb

Dummy commit (#2400)
  nucliadb/src/nucliadb/search/api/v1/knowledgebox.py
Due: lint_nucliadb

Charts: Add support for priorityClassName
  charts/nucliadb/templates/sts.yaml
  charts/nucliadb_ingest/templates/_cronjob_purge.tpl
  charts/nucliadb_ingest/templates/exporter.deploy.yaml
  charts/nucliadb_ingest/templates/ingest-orm-grpc.deploy.yaml
  charts/nucliadb_ingest/templates/ingest-processed-consumer.deploy.yaml
  charts/nucliadb_ingest/templates/ingest-subscriber-workers.deploy.yaml
  charts/nucliadb_ingest/templates/ingest.sts.yaml
  charts/nucliadb_ingest/templates/migrator.deploy.yaml
  charts/nucliadb_ingest/templates/rebalance.cronjob.yaml
  charts/nucliadb_node/templates/node.replicas.deploy.yaml
  charts/nucliadb_node/templates/node.sts.yaml
  charts/nucliadb_reader/templates/reader.deploy.yaml
  charts/nucliadb_search/templates/search.deploy.yaml
  charts/nucliadb_train/templates/train.deploy.yaml
  charts/nucliadb_writer/templates/writer.deploy.yaml
Due: none

Charts: Add support for priorityClassName (#2401)
  charts/nucliadb/templates/sts.yaml
  charts/nucliadb_ingest/templates/_cronjob_purge.tpl
  charts/nucliadb_ingest/templates/exporter.deploy.yaml
  charts/nucliadb_ingest/templates/ingest-orm-grpc.deploy.yaml
  charts/nucliadb_ingest/templates/ingest-processed-consumer.deploy.yaml
  charts/nucliadb_ingest/templates/ingest-subscriber-workers.deploy.yaml
  charts/nucliadb_ingest/templates/ingest.sts.yaml
  charts/nucliadb_ingest/templates/migrator.deploy.yaml
  charts/nucliadb_ingest/templates/rebalance.cronjob.yaml
  charts/nucliadb_node/templates/node.replicas.deploy.yaml
  charts/nucliadb_node/templates/node.sts.yaml
  charts/nucliadb_reader/templates/reader.deploy.yaml
  charts/nucliadb_search/templates/search.deploy.yaml
  charts/nucliadb_train/templates/train.deploy.yaml
  charts/nucliadb_writer/templates/writer.deploy.yaml
Due: none

Cap max number of relations returned
  nucliadb/src/nucliadb/search/requesters/utils.py
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb_relations2/src/reader.rs
Due: lint_nucliadb

Charts: Use secrets for sensitive data
  charts/nucliadb_ingest/templates/_cronjob_purge.tpl
  charts/nucliadb_ingest/templates/exporter.deploy.yaml
  charts/nucliadb_ingest/templates/ingest-orm-grpc.deploy.yaml
  charts/nucliadb_ingest/templates/ingest-processed-consumer.deploy.yaml
  charts/nucliadb_ingest/templates/ingest-subscriber-workers.deploy.yaml
  charts/nucliadb_ingest/templates/ingest.secret.yaml
  charts/nucliadb_ingest/templates/ingest.sts.yaml
  charts/nucliadb_ingest/templates/migrator.deploy.yaml
  charts/nucliadb_ingest/templates/rebalance.cronjob.yaml
  charts/nucliadb_ingest/values.yaml
  charts/nucliadb_node/templates/node.cm.yaml
  charts/nucliadb_node/templates/node.replicas.deploy.yaml
  charts/nucliadb_node/templates/node.secret.yaml
  charts/nucliadb_node/templates/node.sts.yaml
  charts/nucliadb_node/values.yaml
  charts/nucliadb_reader/templates/reader.deploy.yaml
  charts/nucliadb_reader/templates/reader.secret.yaml
  charts/nucliadb_reader/values.yaml
  charts/nucliadb_search/templates/search.deploy.yaml
  charts/nucliadb_search/templates/search.secret.yaml
  charts/nucliadb_search/values.yaml
  charts/nucliadb_shared/templates/nucliadb.cm.yaml
  charts/nucliadb_train/templates/train.deploy.yaml
  charts/nucliadb_train/templates/train.secret.yaml
  charts/nucliadb_train/values.yaml
  charts/nucliadb_writer/templates/writer.cm.yaml
  charts/nucliadb_writer/templates/writer.deploy.yaml
  charts/nucliadb_writer/templates/writer.secret.yaml
  charts/nucliadb_writer/values.yaml
Due: none

Remove values
  charts/nucliadb_ingest/templates/ingest.cm.yaml
Due: none

Cap max number of relations returned (#2403)
  nucliadb/src/nucliadb/search/requesters/utils.py
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb_relations2/src/reader.rs
Due: lint_nucliadb

Validate content type
  nucliadb/src/nucliadb/writer/api/v1/upload.py
  nucliadb_models/src/nucliadb_models/common.py
Due: lint_nucliadb, lint_nucliadb_models

Do not update basic icon with invalid content types
  nucliadb/src/nucliadb/ingest/orm/resource.py
Due: lint_nucliadb

Add more tests
  nucliadb/src/nucliadb/writer/api/v1/upload.py
  nucliadb/tests/standalone/integration/test_upload_download.py
  nucliadb_models/src/nucliadb_models/common.py
Due: lint_nucliadb, lint_nucliadb_models

in the right place
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/writer/resource/basic.py
  nucliadb/src/nucliadb/writer/resource/field.py
  nucliadb_models/src/nucliadb_models/content_types.py
Due: lint_nucliadb, lint_nucliadb_models

cleanup
  nucliadb_models/src/nucliadb_models/writer.py
Due: lint_nucliadb_models

More complete list of supported content types
  nucliadb/src/nucliadb/writer/api/v1/upload.py
  nucliadb/tests/standalone/integration/test_upload_download.py
  nucliadb/tests/writer/test_fields.py
  nucliadb/tests/writer/test_files.py
  nucliadb/tests/writer/unit/api/v1/test_upload.py
  nucliadb_models/src/nucliadb_models/common.py
Due: lint_nucliadb, lint_nucliadb_models

Do not update basic icon with invalid content types
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/tests/ingest/unit/orm/test_resource.py
Due: lint_nucliadb

more
  nucliadb_models/src/nucliadb_models/content_types.py
Due: lint_nucliadb_models
