Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nidx, clippy_nidx

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint_nucliadb
        name: Lint nucliadb
        entry: make -C nucliadb lint
        language: system
        files: (^nucliadb/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_dataset
        name: Lint nucliadb_dataset
        entry: make -C nucliadb_dataset lint
        language: system
        files: (^nucliadb_dataset/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_models
        name: Lint nucliadb_models
        entry: make -C nucliadb_models lint
        language: system
        files: (^nucliadb_models/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_sdk
        name: Lint nucliadb_sdk
        entry: make -C nucliadb_sdk lint
        language: system
        files: (^nucliadb_sdk/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_telemetry
        name: Lint nucliadb_telemetry
        entry: make -C nucliadb_telemetry lint
        language: system
        files: (^nucliadb_telemetry/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_utils
        name: Lint nucliadb_utils
        entry: make -C nucliadb_utils lint
        language: system
        files: (^nucliadb_utils/)
        types: ["python"]
        pass_filenames: false

      - id: rustfmt_nidx
        name: Rust format check for nidx
        entry: cargo fmt --check --all --manifest-path nidx/Cargo.toml
        language: system
        files: (^nidx/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nidx
        name: Clippy warning check for nidx
        entry: cargo clippy --all-features --manifest-path nidx/Cargo.toml -- -D warnings
        language: system
        files: (^nidx/)
        types: ["rust"]
        pass_filenames: false

Add missing methods/properties used to nats telemetry client
  nucliadb_telemetry/src/nucliadb_telemetry/jetstream.py
Due: lint_nucliadb_telemetry

Test telemetry everywhere!
  nucliadb/tests/conftest.py
  nucliadb/tests/ndbfixtures/__init__.py
  nucliadb/tests/ndbfixtures/ingest.py
  nucliadb/tests/ndbfixtures/nidx.py
  nucliadb/tests/ndbfixtures/reader.py
  nucliadb/tests/ndbfixtures/search.py
  nucliadb/tests/ndbfixtures/standalone.py
  nucliadb/tests/ndbfixtures/train.py
  nucliadb/tests/ndbfixtures/writer.py
Due: lint_nucliadb

Add telemetry ndbfixtures
  nucliadb/tests/ndbfixtures/telemetry.py
Due: lint_nucliadb

Fix search instrumentation
  nucliadb/tests/ndbfixtures/search.py
Due: lint_nucliadb

Use create_application pattern for search
  nucliadb/src/nucliadb/search/app.py
  nucliadb/src/nucliadb/search/openapi.py
  nucliadb/src/nucliadb/search/run.py
  nucliadb/tests/ndbfixtures/search.py
  nucliadb/tests/nucliadb/unit/test_openapi.py
  nucliadb/tests/search/unit/test_run.py
Due: lint_nucliadb

Return absolute URL in TUS Location
  nucliadb/src/nucliadb/writer/api/v1/upload.py
  nucliadb/tests/standalone/integration/test_upload_download.py
Due: lint_nucliadb

Return proper relative location for uploads
  nucliadb/src/nucliadb/writer/api/v1/upload.py
Due: lint_nucliadb

Revert "Instrument NATS clients (#3041)"
  nucliadb/src/nucliadb/ingest/service/__init__.py
  nucliadb/tests/ingest/integration/ingest/test_ingest.py
  nucliadb_telemetry/src/nucliadb_telemetry/jetstream.py
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
  nucliadb_utils/src/nucliadb_utils/cache/nats.py
  nucliadb_utils/src/nucliadb_utils/nats.py
  nucliadb_utils/src/nucliadb_utils/transaction.py
  nucliadb_utils/tests/unit/test_transaction.py
Due: lint_nucliadb, lint_nucliadb_telemetry, lint_nucliadb_utils

Revert "Instrument NATS clients (#3041)" (#3045)
  nucliadb/src/nucliadb/ingest/service/__init__.py
  nucliadb/tests/ingest/integration/ingest/test_ingest.py
  nucliadb_telemetry/src/nucliadb_telemetry/jetstream.py
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
  nucliadb_utils/src/nucliadb_utils/cache/nats.py
  nucliadb_utils/src/nucliadb_utils/nats.py
  nucliadb_utils/src/nucliadb_utils/transaction.py
  nucliadb_utils/tests/unit/test_transaction.py
Due: lint_nucliadb, lint_nucliadb_telemetry, lint_nucliadb_utils

Add some tests to index_message
  nucliadb/src/nucliadb/ingest/orm/index_message.py
  nucliadb/tests/ingest/integration/orm/test_index_message.py
Due: lint_nucliadb

BM source processor
  nucliadb/tests/nucliadb/integration/test_ingest_find.py
Due: lint_nucliadb

Add user-agent to nucliadb-sdk
  nucliadb_sdk/pyproject.toml
  nucliadb_sdk/src/nucliadb_sdk/tests/fixtures.py
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
  uv.lock
Due: lint_nucliadb_sdk

Empty vectors test (#3042)
  nucliadb/tests/nucliadb/integration/test_ingest_find.py
Due: lint_nucliadb

Add user-agent to nucliadb-sdk (#3046)
  nucliadb_sdk/pyproject.toml
  nucliadb_sdk/src/nucliadb_sdk/tests/fixtures.py
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
  uv.lock
Due: lint_nucliadb_sdk

Fix tests
  nucliadb/tests/nucliadb/integration/test_entities.py
  nucliadb/tests/utils/__init__.py
Due: lint_nucliadb

Fix tests
  nucliadb/src/nucliadb/ingest/orm/index_message.py
Due: lint_nucliadb

fix race condition in tests
  nucliadb/tests/ingest/integration/orm/test_index_message.py
Due: lint_nucliadb

fix metrics
  nucliadb/src/nucliadb/ingest/orm/metrics.py
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
Due: lint_nucliadb

done
  nucliadb/src/nucliadb/ingest/orm/brain_v2.py
  nucliadb/src/nucliadb/ingest/orm/index_message.py
  nucliadb/src/nucliadb/ingest/orm/metrics.py
Due: lint_nucliadb

done
  nucliadb/src/nucliadb/models/internal/processing.py
Due: lint_nucliadb

done
  nucliadb/src/nucliadb/models/internal/processing.py
  nucliadb_models/src/nucliadb_models/conversation.py
Due: lint_nucliadb, lint_nucliadb_models

Move internal models out of public pypi package (#2977)
  nucliadb/src/nucliadb/ingest/orm/processor/data_augmentation.py
  nucliadb/src/nucliadb/ingest/orm/utils.py
  nucliadb/src/nucliadb/ingest/processing.py
  nucliadb/src/nucliadb/models/internal/__init__.py
  nucliadb/src/nucliadb/models/internal/processing.py
  nucliadb/src/nucliadb/writer/api/v1/field.py
  nucliadb/src/nucliadb/writer/api/v1/resource.py
  nucliadb/src/nucliadb/writer/api/v1/upload.py
  nucliadb/src/nucliadb/writer/resource/basic.py
  nucliadb/src/nucliadb/writer/resource/field.py
  nucliadb/tests/ingest/unit/test_processing.py
  nucliadb/tests/nucliadb/integration/test_api.py
  nucliadb/tests/nucliadb/integration/test_data_augmentation_field_generation.py
  nucliadb/tests/writer/test_reprocess_file_field.py
  nucliadb/tests/writer/test_resources.py
  nucliadb/tests/writer/unit/api/v1/test_resource.py
  nucliadb/tests/writer/unit/api/v1/test_upload.py
  nucliadb/tests/writer/unit/resources/test_field.py
  nucliadb_models/src/nucliadb_models/conversation.py
  nucliadb_models/src/nucliadb_models/file.py
  nucliadb_models/src/nucliadb_models/labels.py
  nucliadb_models/src/nucliadb_models/link.py
  nucliadb_models/src/nucliadb_models/text.py
Due: lint_nucliadb, lint_nucliadb_models

Improve index message metrics (#3047)
  nucliadb/src/nucliadb/ingest/orm/brain_v2.py
  nucliadb/src/nucliadb/ingest/orm/index_message.py
  nucliadb/src/nucliadb/ingest/orm/metrics.py
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
Due: lint_nucliadb

Add test for extract strategy on kb upload (#2946)
  nucliadb/tests/nucliadb/integration/test_api.py
Due: lint_nucliadb

cleanup
  nucliadb/src/nucliadb/common/cluster/base.py
  nucliadb/src/nucliadb/common/cluster/rollover.py
  nucliadb/src/nucliadb/common/cluster/utils.py
  nucliadb/src/nucliadb/common/nidx.py
  nucliadb/src/nucliadb/ingest/service/writer.py
  nucliadb/src/nucliadb/search/requesters/utils.py
  nucliadb/tests/search/unit/search/requesters/test_utils.py
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2_grpc.py
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2_grpc.pyi
  nucliadb_protos/writer.proto
Due: lint_nucliadb

fix protos
  nucliadb/src/nucliadb/common/cluster/utils.py
Due: lint_nucliadb

Remove unused protos
  Makefile
  nucliadb_protos/python/src/nucliadb_protos/replication_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/replication_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/replication_pb2_grpc.py
  nucliadb_protos/python/src/nucliadb_protos/replication_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/replication.proto
  nucliadb_protos/writer.proto
Due: none

Threadpool for brain v2 ops
  nucliadb/src/nucliadb/ingest/orm/brain_v2.py
  nucliadb/src/nucliadb/ingest/orm/index_message.py
  nucliadb/src/nucliadb/ingest/settings.py
  nucliadb/src/nucliadb/migrator/migrator.py
  nucliadb/src/nucliadb/standalone/run.py
Due: lint_nucliadb

Threadpool for brain v2 ops
  nucliadb/src/nucliadb/ingest/orm/index_message.py
  nucliadb/src/nucliadb/standalone/run.py
Due: lint_nucliadb

Threadpool for brain v2 ops
  nucliadb/src/nucliadb/migrator/migrator.py
Due: lint_nucliadb

Move extracted text cache accessors to common
  nucliadb/src/nucliadb/common/cache.py
  nucliadb/src/nucliadb/search/search/cache.py
Due: lint_nucliadb

Use cache locks for search resource cache
  nucliadb/src/nucliadb/search/search/cache.py
Due: lint_nucliadb

Fix description of subscriber workers
  nucliadb/pyproject.toml
Due: none

Add gauge metric to count cached resources globally
  nucliadb/src/nucliadb/train/generators/utils.py
  nucliadb_telemetry/src/nucliadb_telemetry/metrics.py
Due: lint_nucliadb, lint_nucliadb_telemetry

Fix unit test
  nucliadb/tests/search/unit/search/test_paragraphs.py
Due: lint_nucliadb

Use bounded LRU cache
  nucliadb/src/nucliadb/train/generators/utils.py
Due: lint_nucliadb

Replace cache dicts for a thin wrapper class
  nucliadb/src/nucliadb/train/generators/utils.py
Due: lint_nucliadb

Common resource cache for search and train
  nucliadb/src/nucliadb/common/cache.py
  nucliadb/src/nucliadb/search/search/cache.py
  nucliadb/src/nucliadb/train/generators/utils.py
Due: lint_nucliadb
