Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nidx, clippy_nidx

lint_nucliadb:
  name: Lint nucliadb
  entry: make -C nucliadb lint
  language: system
  pass_filenames: false

lint_nucliadb_dataset:
  name: Lint nucliadb_dataset
  entry: make -C nucliadb_dataset lint
  language: system
  pass_filenames: false

lint_nucliadb_models:
  name: Lint nucliadb_models
  entry: make -C nucliadb_models lint
  language: system
  pass_filenames: false

lint_nucliadb_sdk:
  name: Lint nucliadb_sdk
  entry: make -C nucliadb_sdk lint
  language: system
  pass_filenames: false

lint_nucliadb_telemetry:
  name: Lint nucliadb_telemetry
  entry: make -C nucliadb_telemetry lint
  language: system
  pass_filenames: false

lint_nucliadb_utils:
  name: Lint nucliadb_utils
  entry: make -C nucliadb_utils lint
  language: system
  pass_filenames: false

rustfmt_nidx:
  name: Rust format check for nidx
  entry: cargo fmt --check --all --manifest-path nidx/Cargo.toml
  language: system
  pass_filenames: false

clippy_nidx:
  name: Clippy warning check for nidx
  entry: cargo clippy --all-features --manifest-path nidx/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

Specify module for more compatibility
  nucliadb_models/src/nucliadb_models/conversation.py
  nucliadb_models/src/nucliadb_models/file.py
Due: lint_nucliadb_models

Add serialization test
  nucliadb_models/tests/test_common.py
Due: lint_nucliadb_models

Faster docker image startup (#3201)
  Dockerfile
  Dockerfile.withbinding
Due: none

Standalone: Update promotion component name to match common naming (#3200)
  .github/workflows/release.yml
Due: none

Fix
  nucliadb_models/tests/test_search.py
Due: lint_nucliadb_models

nucliadb_models typechecking (#3202)
  nucliadb/pyproject.toml
  nucliadb_models/src/nucliadb_models/common.py
  nucliadb_models/src/nucliadb_models/configuration.py
  nucliadb_models/src/nucliadb_models/conversation.py
  nucliadb_models/src/nucliadb_models/file.py
  nucliadb_models/src/nucliadb_models/filters.py
  nucliadb_models/src/nucliadb_models/graph/requests.py
  nucliadb_models/src/nucliadb_models/metadata.py
  nucliadb_models/src/nucliadb_models/notifications.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_models/tests/test_common.py
  nucliadb_models/tests/test_metadata.py
  nucliadb_models/tests/test_search.py
Due: lint_nucliadb_models

NucliaDB: Update promotion component name to match common naming
  .github/workflows/deploy.yml
Due: none

Fix catalog lowercase behaviour (#3204)
  nucliadb/src/nucliadb/search/search/pgcatalog.py
  nucliadb/tests/nucliadb/integration/search/test_catalog.py
  nucliadb/tests/search/unit/search/search/test_pgcatalog.py
Due: lint_nucliadb

Fix catalog lowercase behaviour
  nucliadb/src/nucliadb/search/search/pgcatalog.py
  nucliadb/tests/nucliadb/integration/search/test_catalog.py
  nucliadb/tests/search/unit/search/search/test_pgcatalog.py
Due: lint_nucliadb

NucliaDB: Update promotion component name to match common naming (#3203)
  .github/workflows/deploy.yml
Due: none

handle kb not found
  nucliadb/src/nucliadb/writer/api/v1/vectorsets.py
Due: lint_nucliadb

use valkey on tests
  nucliadb/tests/ndbfixtures/writer.py
  nucliadb/tests/standalone/integration/test_upload_download.py
  nucliadb/tests/writer/test_tus.py
  nucliadb/tests/writer/unit/tus/test_dm.py
Due: lint_nucliadb

Upgrade pytest-docker-fixtures
  uv.lock
Due: none

Fix
  nucliadb/tests/ndbfixtures/writer.py
Due: lint_nucliadb

Debug
  nucliadb/tests/writer/unit/tus/test_dm.py
Due: lint_nucliadb

Fix
  nucliadb/tests/writer/unit/tus/test_dm.py
Due: lint_nucliadb

fix
  nucliadb/tests/writer/unit/tus/test_dm.py
Due: lint_nucliadb

Ditch redis (#3206)
  nucliadb/tests/ndbfixtures/writer.py
  nucliadb/tests/standalone/integration/test_upload_download.py
  nucliadb/tests/writer/test_tus.py
  nucliadb/tests/writer/unit/tus/test_dm.py
  uv.lock
Due: lint_nucliadb

Fix old filters parsing
  nucliadb/src/nucliadb/search/search/query_parser/old_filters.py
Due: lint_nucliadb

Fix old filters parsing (#3207)
  nucliadb/src/nucliadb/search/search/query_parser/old_filters.py
Due: lint_nucliadb

Fix kbid in thumbnails
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/ingest/serialize.py
  nucliadb/tests/ingest/unit/orm/test_resource.py
Due: lint_nucliadb

Fix kbid in thumbnails
  nucliadb/tests/ingest/unit/orm/test_resource.py
Due: lint_nucliadb

nidx: Add NATS to readiness check
  nidx/src/control.rs
  nidx/src/indexer.rs
  nidx/src/main.rs
  nidx/src/scheduler.rs
Due: rustfmt_nidx, clippy_nidx

Lock grpc more strictly, patch versions also not intercompatible
  nidx/nidx_protos/pyproject.toml
  nucliadb_protos/pyproject.toml
Due: none

fix
  nidx/nidx_protos/pyproject.toml
  nucliadb/src/nucliadb/ingest/serialize.py
  nucliadb_protos/pyproject.toml
Due: lint_nucliadb

Fix kbid in thumbnails of restored resources (#3208)
  nidx/nidx_protos/pyproject.toml
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/tests/ingest/unit/orm/test_resource.py
  nucliadb_protos/pyproject.toml
Due: lint_nucliadb

Support nats-less indexer mode
  nidx/src/main.rs
Due: rustfmt_nidx, clippy_nidx

nidx: Add NATS to readiness check (#3209)
  nidx/nidx_protos/pyproject.toml
  nidx/src/control.rs
  nidx/src/indexer.rs
  nidx/src/main.rs
  nidx/src/scheduler.rs
Due: rustfmt_nidx, clippy_nidx

add text/x-ruby-script to mimetypes
  nucliadb/tests/standalone/integration/test_upload_download.py
  nucliadb_models/src/nucliadb_models/content_types.py
Due: lint_nucliadb, lint_nucliadb_models

Retry processing api errors
  nucliadb/src/nucliadb/ingest/processing.py
Due: lint_nucliadb

add text/x-ruby-script to mimetypes (#3210)
  nucliadb/tests/standalone/integration/test_upload_download.py
  nucliadb_models/src/nucliadb_models/content_types.py
Due: lint_nucliadb, lint_nucliadb_models

Retry processing api errors (#3211)
  nucliadb/src/nucliadb/ingest/processing.py
Due: lint_nucliadb

label limits
  nucliadb_models/src/nucliadb_models/common.py
  nucliadb_models/src/nucliadb_models/labels.py
Due: lint_nucliadb_models

Quick & dirty maxsim
  nidx/nidx_vector/src/config.rs
  nidx/nidx_vector/src/data_point/mod.rs
  nidx/nidx_vector/src/data_point_provider/reader.rs
  nidx/nidx_vector/src/indexer.rs
  nidx/nidx_vector/src/lib.rs
  nidx/nidx_vector/tests/test_maxsim.rs
Due: rustfmt_nidx, clippy_nidx

Try build arm64 image
  .github/workflows/release.yml
Due: none

Undo try cheats
  .github/workflows/release.yml
Due: none

Build arm64 images (#3213)
  .github/workflows/release.yml
Due: none

Try to merge images
  .github/workflows/release.yml
Due: none

Try to merge images (#3214)
  .github/workflows/release.yml
Due: none

Remove redundant function
  nidx/nidx_vector/src/data_point/mod.rs
  nidx/nidx_vector/src/data_point/node.rs
Due: rustfmt_nidx, clippy_nidx

Path conditions:
  lint_nucliadb: any of: (^nucliadb/) and \.py$
  lint_nucliadb_dataset: any of: (^nucliadb_dataset/) and \.py$
  lint_nucliadb_models: any of: (^nucliadb_models/) and \.py$
  lint_nucliadb_sdk: any of: (^nucliadb_sdk/) and \.py$
  lint_nucliadb_telemetry: any of: (^nucliadb_telemetry/) and \.py$
  lint_nucliadb_utils: any of: (^nucliadb_utils/) and \.py$
  rustfmt_nidx: any of: (^nidx/) and \.rs$
  clippy_nidx: any of: (^nidx/) and \.rs$
