Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint_nucliadb
        name: Lint nucliadb
        entry: make -C nucliadb lint
        language: system
        files: (^nucliadb/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_dataset
        name: Lint nucliadb_dataset
        entry: make -C nucliadb_dataset lint
        language: system
        files: (^nucliadb_dataset/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_models
        name: Lint nucliadb_models
        entry: make -C nucliadb_models lint
        language: system
        files: (^nucliadb_models/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_node
        name: Lint nucliadb_node
        entry: make -C nucliadb_node lint
        language: system
        files: (^nucliadb_node/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_node_binding
        name: Lint nucliadb_node_binding
        entry: make -C nucliadb_node_binding lint
        language: system
        files: (^nucliadb_node_binding/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_performance
        name: Lint nucliadb_performance
        entry: make -C nucliadb_performance lint
        language: system
        files: (^nucliadb_performance/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_sdk
        name: Lint nucliadb_sdk
        entry: make -C nucliadb_sdk lint
        language: system
        files: (^nucliadb_sdk/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_telemetry
        name: Lint nucliadb_telemetry
        entry: make -C nucliadb_telemetry lint
        language: system
        files: (^nucliadb_telemetry/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_utils
        name: Lint nucliadb_utils
        entry: make -C nucliadb_utils lint
        language: system
        files: (^nucliadb_utils/)
        types: ["python"]
        pass_filenames: false

      - id: rustfmt_nucliadb
        name: fmt
        entry: cargo fmt --check
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nucliadb
        name: clippy
        entry: cargo clippy --all-features -- -D warnings
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

Cleanup + move kb fixtures to ndbfixtures resources
  nucliadb/tests/ndbfixtures/ingest.py
  nucliadb/tests/ndbfixtures/resources.py
Due: lint_nucliadb

Rename ndbfixtures node to index
  nucliadb/tests/conftest.py
  nucliadb/tests/ndbfixtures/index.py
Due: lint_nucliadb

Remove useless mock
  nucliadb/tests/nucliadb/integration/test_matryoshka_embeddings.py
Due: lint_nucliadb

Typo in metrics name
  nidx/src/metrics.rs
Due: none

Let purge async delete resource storage data
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/src/nucliadb/ingest/settings.py
  nucliadb/src/nucliadb/purge/__init__.py
  nucliadb_utils/src/nucliadb_utils/storages/storage.py
Due: lint_nucliadb, lint_nucliadb_utils

Typo in metrics name (#2753)
  nidx/src/metrics.rs
Due: none

Fix standalone tests, entities manager not always mock index
  nucliadb/tests/ndbfixtures/ingest.py
Due: lint_nucliadb

Fix public release
  .github/workflows/public_release.yml
Due: none

Fix public release (#2755)
  .github/workflows/public_release.yml
Due: none

Better, add test
  nucliadb/src/nucliadb/purge/__init__.py
  nucliadb/tests/nucliadb/integration/test_purge.py
Due: lint_nucliadb

fix
  nucliadb/src/nucliadb/purge/__init__.py
  nucliadb/tests/nucliadb/integration/test_purge.py
Due: lint_nucliadb

fix
  nucliadb/src/nucliadb/purge/__init__.py
Due: lint_nucliadb

Processor don't imply dummy index
  nucliadb/tests/ndbfixtures/ingest.py
Due: lint_nucliadb

Don't overwrite indexing utility in start
  nucliadb_utils/src/nucliadb_utils/utilities.py
Due: lint_nucliadb_utils

Try removing parallelization
  .github/workflows/ci.yml
Due: none

Don't download nats on every test session
  nucliadb_utils/src/nucliadb_utils/tests/nats.py
Due: lint_nucliadb_utils

Better typing
  nucliadb/tests/ndbfixtures/utils.py
Due: lint_nucliadb

Revert "Try removing parallelization"
  .github/workflows/ci.yml
Due: none

try
  nucliadb/tests/nucliadb/integration/test_purge.py
Due: lint_nucliadb

wait for sync
  nucliadb/tests/nucliadb/integration/test_purge.py
Due: lint_nucliadb

Add some more docs
  nucliadb_models/src/nucliadb_models/metadata.py
  nucliadb_models/src/nucliadb_models/writer.py
Due: lint_nucliadb_models

Let purge async delete resource storage data (#2754)
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/src/nucliadb/ingest/settings.py
  nucliadb/src/nucliadb/purge/__init__.py
  nucliadb/tests/nucliadb/integration/test_purge.py
  nucliadb_utils/src/nucliadb_utils/storages/storage.py
Due: lint_nucliadb, lint_nucliadb_utils

Proper restart of nidx utility between test runs
  nidx/Cargo.lock
  nidx/nidx_binding/Cargo.toml
  nidx/nidx_binding/src/lib.rs
  nucliadb/tests/ndbfixtures/maindb.py
Due: lint_nucliadb

linting
  nucliadb/tests/ndbfixtures/maindb.py
Due: lint_nucliadb

Add some more docs (#2756)
  nucliadb_models/src/nucliadb_models/metadata.py
  nucliadb_models/src/nucliadb_models/writer.py
Due: lint_nucliadb_models

Proper restart of nidx utility between test runs (#2757)
  nidx/Cargo.lock
  nidx/nidx_binding/Cargo.toml
  nidx/nidx_binding/src/lib.rs
  nucliadb/tests/ndbfixtures/maindb.py
Due: lint_nucliadb

Remove duplicated fixture: stream_processor
  nucliadb/tests/ingest/fixtures.py
  nucliadb/tests/ingest/integration/ingest/test_ingest.py
Due: lint_nucliadb

Cleanup pubsub fixture
  nucliadb/tests/ingest/fixtures.py
Due: lint_nucliadb

Move partition_settings fixture to its unit test
  nucliadb/tests/ingest/fixtures.py
  nucliadb/tests/ingest/unit/test_partitions.py
Due: lint_nucliadb

Typing for ingest fixtures
  nucliadb/tests/ingest/fixtures.py
Due: lint_nucliadb

Use pydantic v2 model_dump_json instead of json
  nucliadb/src/nucliadb/ingest/processing.py
Due: lint_nucliadb

Better error message in magic fixtures
  nucliadb/tests/ndbfixtures/magic.py
Due: lint_nucliadb

Dummy indexing utility shouldn't be starting nats
  nucliadb/tests/ingest/fixtures.py
  nucliadb/tests/nucliadb/integration/test_vectorsets.py
  nucliadb/tests/reader/integration/api/v1/test_export_import.py
Due: lint_nucliadb

Move all fixture dependencies to server in ndb reader
  nucliadb/tests/ndbfixtures/reader.py
Due: lint_nucliadb

dirty
  nucliadb/src/nucliadb/export_import/models.py
  nucliadb/src/nucliadb/ingest/orm/brain.py
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/ingest/service/__init__.py
  nucliadb/tests/fixtures.py
  nucliadb_telemetry/src/nucliadb_telemetry/metrics.py
  nucliadb_utils/src/nucliadb_utils/storages/storage.py
Due: lint_nucliadb, lint_nucliadb_telemetry, lint_nucliadb_utils

Optimized apply_field_labels
  nucliadb/src/nucliadb/export_import/models.py
  nucliadb/src/nucliadb/ingest/orm/brain.py
Due: lint_nucliadb

Rollback and keep using nats in dummy indexing utility fixture
  nucliadb/tests/ingest/fixtures.py
Due: lint_nucliadb

Nats improvements for tests + fix some nats warnings
  nucliadb/tests/ingest/fixtures.py
  nucliadb_utils/src/nucliadb_utils/nats.py
  nucliadb_utils/src/nucliadb_utils/tests/nats.py
Due: lint_nucliadb, lint_nucliadb_utils

fix apparent inconsistencies between activity log and accounting
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
Due: lint_nucliadb_utils

Add nucliadb_ingest_grpc component fixture
  nucliadb/tests/ingest/fixtures.py
  nucliadb/tests/ingest/integration/servicer/test_entities_servicer.py
  nucliadb/tests/ingest/integration/servicer/test_list_members.py
  nucliadb/tests/ingest/integration/servicer/test_reindex.py
  nucliadb/tests/ingest/integration/servicer/test_shards_management.py
  nucliadb/tests/ndbfixtures/ingest.py
  nucliadb/tests/ndbfixtures/magic.py
Due: lint_nucliadb
