Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nidx, clippy_nidx

lint_nucliadb:
  name: Lint nucliadb
  entry: make -C nucliadb lint
  language: system
  pass_filenames: false

lint_nucliadb_dataset:
  name: Lint nucliadb_dataset
  entry: make -C nucliadb_dataset lint
  language: system
  pass_filenames: false

lint_nucliadb_models:
  name: Lint nucliadb_models
  entry: make -C nucliadb_models lint
  language: system
  pass_filenames: false

lint_nucliadb_sdk:
  name: Lint nucliadb_sdk
  entry: make -C nucliadb_sdk lint
  language: system
  pass_filenames: false

lint_nucliadb_telemetry:
  name: Lint nucliadb_telemetry
  entry: make -C nucliadb_telemetry lint
  language: system
  pass_filenames: false

lint_nucliadb_utils:
  name: Lint nucliadb_utils
  entry: make -C nucliadb_utils lint
  language: system
  pass_filenames: false

rustfmt_nidx:
  name: Rust format check for nidx
  entry: cargo fmt --check --all --manifest-path nidx/Cargo.toml
  language: system
  pass_filenames: false

clippy_nidx:
  name: Clippy warning check for nidx
  entry: cargo clippy --all-features --manifest-path nidx/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

Fix fixture scope (#3718)
  nucliadb_utils/src/nucliadb_utils/tests/s3.py
Due: lint_nucliadb_utils

Force catalog facets to use the index
  nucliadb/src/nucliadb/common/catalog/pg.py
Due: lint_nucliadb

Force catalog facets to use the index (#3719)
  nucliadb/src/nucliadb/common/catalog/pg.py
Due: lint_nucliadb

PostgreSQL idle connections handinling improvements
  charts/nidx/values.yaml
  charts/nucliadb_ingest/values.yaml
  nidx/src/metadata.rs
  nidx/src/settings.rs
  nucliadb/src/nucliadb/common/maindb/pg.py
  nucliadb/src/nucliadb/common/maindb/utils.py
  nucliadb/src/nucliadb/ingest/settings.py
Due: lint_nucliadb, rustfmt_nidx, clippy_nidx

update tests
  nidx/src/settings.rs
  nidx/tests/common/services.rs
Due: rustfmt_nidx, clippy_nidx

e2e: Upgrade testing environment to Kubernetes 1.35
  .github/workflows/e2e.yml
Due: none

Fix s3 fixtures
  nucliadb_utils/src/nucliadb_utils/tests/s3.py
Due: lint_nucliadb_utils

Fix s3 fixtures (#3725)
  nucliadb_utils/src/nucliadb_utils/tests/s3.py
Due: lint_nucliadb_utils

Do not set any default
  charts/nucliadb_ingest/values.yaml
  nidx/src/metadata.rs
  nidx/src/settings.rs
  nidx/tests/common/services.rs
  nucliadb/src/nucliadb/common/maindb/pg.py
  nucliadb/src/nucliadb/common/maindb/utils.py
  nucliadb/src/nucliadb/ingest/settings.py
  nucliadb/tests/ndbfixtures/maindb.py
Due: lint_nucliadb, rustfmt_nidx, clippy_nidx

PostgreSQL idle connections handinling improvements (#3723)
  charts/nidx/values.yaml
  charts/nucliadb_ingest/values.yaml
  nidx/src/metadata.rs
  nidx/src/settings.rs
  nidx/tests/common/services.rs
  nucliadb/src/nucliadb/common/maindb/pg.py
  nucliadb/src/nucliadb/common/maindb/utils.py
  nucliadb/src/nucliadb/ingest/settings.py
  nucliadb/tests/ndbfixtures/maindb.py
Due: lint_nucliadb, rustfmt_nidx, clippy_nidx

Always use docker host ip in storage tests
  nucliadb_utils/src/nucliadb_utils/tests/gcs.py
  nucliadb_utils/src/nucliadb_utils/tests/s3.py
Due: lint_nucliadb_utils

Simplify merge parameters
  nidx/nidx_vector/src/lib.rs
  nidx/nidx_vector/src/segment.rs
  nidx/nidx_vector/src/segment/tests.rs
Due: rustfmt_nidx, clippy_nidx

Correct ordering for merge inputs
  nidx/.sqlx/query-1b8c0301a672339ab2c39fdf906e6dbab4e54022b4baf11391fb968eda01085a.json
  nidx/.sqlx/query-5d3586920916714a0b5b4e91bd370764477ba86a6d330f00c77dccfee9b69abc.json
  nidx/.sqlx/query-e66c16e5e6a36efad477c45001a18596c19bb929096c94523b46f63d43a91a2e.json
  nidx/nidx_types/src/lib.rs
  nidx/src/metadata/deletion.rs
  nidx/src/metadata/segment.rs
  nidx/src/worker.rs
Due: rustfmt_nidx, clippy_nidx

Defensive programming
  nidx/nidx_vector/src/lib.rs
Due: rustfmt_nidx, clippy_nidx

e2e: Upgrade testing environment to Kubernetes 1.35 (#3724)
  .github/workflows/e2e.yml
Due: none

Move nucliadb_telemetry to apache2
  nucliadb_telemetry/pyproject.toml
Due: none

Correct ordering for merge inputs (#3727)
  nidx/.sqlx/query-1b8c0301a672339ab2c39fdf906e6dbab4e54022b4baf11391fb968eda01085a.json
  nidx/.sqlx/query-5d3586920916714a0b5b4e91bd370764477ba86a6d330f00c77dccfee9b69abc.json
  nidx/.sqlx/query-e66c16e5e6a36efad477c45001a18596c19bb929096c94523b46f63d43a91a2e.json
  nidx/nidx_types/src/lib.rs
  nidx/nidx_vector/src/lib.rs
  nidx/nidx_vector/src/segment.rs
  nidx/nidx_vector/src/segment/tests.rs
  nidx/src/metadata/deletion.rs
  nidx/src/metadata/segment.rs
  nidx/src/worker.rs
Due: rustfmt_nidx, clippy_nidx

Move nucliadb_telemetry to apache2 (#3729)
  nucliadb_telemetry/pyproject.toml
Due: none

nucliadb-shared chart: Option to specify arbitrary env values
  charts/nucliadb_shared/templates/nucliadb.cm.yaml
  charts/nucliadb_shared/templates/nucliadb.secret.yaml
  charts/nucliadb_shared/values.yaml
Due: none

nucliadb-shared chart: Option to specify arbitrary env values (#3730)
  charts/nucliadb_shared/templates/nucliadb.cm.yaml
  charts/nucliadb_shared/templates/nucliadb.secret.yaml
  charts/nucliadb_shared/values.yaml
Due: none

-
  .github/workflows/debug_secrets.yml
Due: none

Adds a new PredictType to report Memory task usage
  nucliadb_protos/kb_usage.proto
Due: none

Adds a new PredictType to report Memory task usage (#3736)
  nucliadb_protos/kb_usage.proto
Due: none

Safeguard againts min score regressions in nidx
  nucliadb/src/nucliadb/search/search/merge.py
  nucliadb/tests/nucliadb/integration/search/test_search.py
Due: lint_nucliadb

Safeguard againts min score regressions in nidx (#3737)
  nucliadb/src/nucliadb/search/search/merge.py
  nucliadb/tests/nucliadb/integration/search/test_search.py
Due: lint_nucliadb

fix nidx_vector min score filtering
  nidx/nidx_vector/src/segment.rs
Due: rustfmt_nidx, clippy_nidx

fix nidx_vector min score filtering
  nidx/nidx_vector/tests/test_min_score.rs
Due: rustfmt_nidx, clippy_nidx

Move check into the reranker so it also applies to HNSW search
  nidx/nidx_vector/src/segment.rs
  nidx/nidx_vector/src/vector_types/rabitq.rs
  nidx/nidx_vector/tests/test_basic_search.rs
Due: rustfmt_nidx, clippy_nidx

consistent min_score >=
  nidx/nidx_vector/src/hnsw/search.rs
  nidx/nidx_vector/src/vector_types/rabitq.rs
Due: rustfmt_nidx, clippy_nidx

Min score filtering nidx_vector (#3738)
  nidx/nidx_vector/src/hnsw/search.rs
  nidx/nidx_vector/src/vector_types/rabitq.rs
  nidx/nidx_vector/tests/test_basic_search.rs
  nidx/nidx_vector/tests/test_min_score.rs
Due: rustfmt_nidx, clippy_nidx

Migration #45: migrate claude-4-sonnet to claude-4-6-sonnet in search configurations
  nucliadb/src/migrations/0045_migrate_search_configurations.py
  nucliadb/tests/nucliadb/migrations/test_migration_0045.py
Due: lint_nucliadb

Migration #45: migrate claude-4-sonnet to claude-4-6-sonnet in search configurations (#3739)
  nucliadb/src/migrations/0045_migrate_search_configurations.py
  nucliadb/tests/nucliadb/migrations/test_migration_0045.py
Due: lint_nucliadb

Fix breaking change on SDK argument ordering
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
Due: lint_nucliadb_sdk

refactor resource and fields processing
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/tests/ingest/integration/orm/test_orm_resource.py
  nucliadb/tests/ingest/unit/orm/test_resource.py
  nucliadb/tests/train/test_list_paragraphs.py
Due: lint_nucliadb

fix test
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
Due: lint_nucliadb

fix tests
  nucliadb/tests/ndbfixtures/ingest.py
Due: lint_nucliadb

Fix breaking change on SDK argument ordering (#3740)
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
Due: lint_nucliadb_sdk

simpler
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
Due: lint_nucliadb

Path conditions:
  lint_nucliadb: any of: (^nucliadb/) and \.py$
  lint_nucliadb_dataset: any of: (^nucliadb_dataset/) and \.py$
  lint_nucliadb_models: any of: (^nucliadb_models/) and \.py$
  lint_nucliadb_sdk: any of: (^nucliadb_sdk/) and \.py$
  lint_nucliadb_telemetry: any of: (^nucliadb_telemetry/) and \.py$
  lint_nucliadb_utils: any of: (^nucliadb_utils/) and \.py$
  rustfmt_nidx: any of: (^nidx/) and \.rs$
  clippy_nidx: any of: (^nidx/) and \.rs$
