Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: isort_nucliadb
        name: Isort
        entry: isort --profile black -c
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)
        types: ["python"]

      - id: black_nucliadb
        name: Black
        entry: black --check --verbose
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)
        types: ["python"]

      - id: flake8_nucliadb
        name: Flake8
        entry: flake8 --config=nucliadb/setup.cfg
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)
        types: ["python"]

      - id: rustfmt_nucliadb
        name: fmt
        entry: cargo +nightly fmt --check
        language: system
        files: (^nucliadb_vectors/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_paragraphs/)|(^nucliadb_texts/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nucliadb
        name: clippy
        entry: cargo clippy --all-features -- -D warnings
        language: system
        files: (^nucliadb_vectors/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_paragraphs/)|(^nucliadb_texts/)
        types: ["rust"]
        pass_filenames: false

make the new action run manually for now
  .github/workflows/nucliadb_node_binding.yml
Due: none

reactivate lints
  Makefile
Due: none

Fix Node's Github action
  .github/workflows/nucliadb_node-append.yml
  .github/workflows/nucliadb_node.yml
Due: none

Fix Node's Github action (#1181)
  .github/workflows/nucliadb_node-append.yml
  .github/workflows/nucliadb_node.yml
Due: none

first pass at removing the metadata static file
  nucliadb_node/src/bin/writer.rs
  nucliadb_node/src/grpc/grpc_writer.rs
  nucliadb_node/src/node_metadata.rs
Due: rustfmt_nucliadb, clippy_nucliadb

use max shard fields and paragraphs (#1179)
  nucliadb/nucliadb/common/cluster/settings.py
  nucliadb/nucliadb/ingest/consumer/shard_creator.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

linted
  nucliadb_node/src/bin/writer.rs
  nucliadb_node/src/grpc/grpc_writer.rs
  nucliadb_node/src/node_metadata.rs
Due: rustfmt_nucliadb, clippy_nucliadb

fix redundant closure
  nucliadb_node/src/grpc/grpc_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

more formatting
  nucliadb_node/src/grpc/grpc_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

fly-by tipo fix
  nucliadb_node/README.md
Due: none

Faster filtering (#1176)
  nucliadb_vectors/src/data_point/ops_hnsw.rs
Due: rustfmt_nucliadb, clippy_nucliadb

make the shard reading more robust
  nucliadb_node/src/bin/writer.rs
  nucliadb_node/src/node_metadata.rs
Due: rustfmt_nucliadb, clippy_nucliadb

increase dependency versions (#1152)
  nucliadb/requirements-test.txt
  nucliadb/requirements.txt
  nucliadb_protos/python/requirements.txt
  nucliadb_telemetry/requirements.txt
  nucliadb_utils/requirements-storages.txt
Due: none

fix github sha in ci
  .github/workflows/nucliadb_reader.yml
  .github/workflows/nucliadb_search.yml
  .github/workflows/nucliadb_shared.yml
  .github/workflows/nucliadb_writer.yml
  .github/workflows/pypi_release.yml
Due: none

less
  .github/workflows/nucliadb_reader.yml
  .github/workflows/nucliadb_search.yml
  .github/workflows/nucliadb_shared.yml
  .github/workflows/nucliadb_writer.yml
Due: none

less
  .github/workflows/nucliadb_shared.yml
Due: none

fix url
  nucliadb/nucliadb/standalone/settings.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix github sha in ci (#1183)
  .github/workflows/pypi_release.yml
Due: none

fix tests
  nucliadb/nucliadb/tests/unit/common/cluster/discovery/test_k8s.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

move metadata creation after `initialize_writer`
  nucliadb_node/src/bin/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

remove error handling
  nucliadb_node/src/node_metadata.rs
Due: rustfmt_nucliadb, clippy_nucliadb

WIP
  nucliadb/nucliadb/common/datamanagers/resources.py
  nucliadb_utils/nucliadb_utils/retry.py
  nucliadb_utils/nucliadb_utils/storages/gcs.py
  nucliadb_utils/nucliadb_utils/tests/unit/test_retry.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

WIP
  nucliadb_utils/nucliadb_utils/tests/unit/test_retry.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

WIP
  nucliadb/nucliadb/common/datamanagers/resources.py
  nucliadb_utils/nucliadb_utils/retry.py
  nucliadb_utils/nucliadb_utils/tests/unit/test_retry.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Simplify the shard counting (#1182)
  nucliadb_node/README.md
  nucliadb_node/src/bin/writer.rs
  nucliadb_node/src/grpc/grpc_writer.rs
  nucliadb_node/src/node_metadata.rs
Due: rustfmt_nucliadb, clippy_nucliadb

pr comments
  charts/nucliadb/values.yaml
  e2e/test_e2e.py
  nucliadb/nucliadb/common/cluster/base.py
  nucliadb/nucliadb/common/cluster/discovery/base.py
  nucliadb/nucliadb/common/cluster/discovery/k8s.py
  nucliadb/nucliadb/common/cluster/discovery/manual.py
  nucliadb/nucliadb/common/cluster/discovery/single.py
  nucliadb/nucliadb/common/cluster/discovery/utils.py
  nucliadb/nucliadb/common/cluster/index_node.py
  nucliadb/nucliadb/common/cluster/manager.py
  nucliadb/nucliadb/common/cluster/standalone/index_node.py
  nucliadb/nucliadb/common/cluster/standalone/utils.py
  nucliadb/nucliadb/common/cluster/utils.py
  nucliadb/nucliadb/ingest/orm/entities.py
  nucliadb/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/nucliadb/search/search/shards.py
  nucliadb/nucliadb/standalone/api_router.py
  nucliadb/nucliadb/tests/integration/common/cluster/test_manager.py
  nucliadb/nucliadb/train/generators/field_classifier.py
  nucliadb/nucliadb/train/generators/image_classifier.py
  nucliadb/nucliadb/train/generators/paragraph_classifier.py
  nucliadb/nucliadb/train/generators/sentence_classifier.py
  nucliadb/nucliadb/train/generators/token_classifier.py
  nucliadb/nucliadb/train/nodes.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix
  nucliadb/nucliadb/common/cluster/utils.py
  nucliadb/nucliadb/tests/unit/common/cluster/discovery/test_k8s.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

disable failing sdk tests
  .github/workflows/pypi_release.yml
Due: none

settings doc
  nucliadb/nucliadb/common/cluster/settings.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

disable failing sdk tests (#1186)
  .github/workflows/pypi_release.yml
Due: none

make sure we properly finalize
  nucliadb_node/nucliadb_node/tests/unit/test_pull.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix test
  nucliadb/nucliadb/tests/integration/common/cluster/test_manager.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

force the nodes platform so the test don't choke on silicon chips
  nucliadb_node/nucliadb_node/tests/fixtures.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

explicit better than implicit
  nucliadb/nucliadb/common/cluster/standalone/grpc_node_binding.py
  nucliadb/nucliadb/common/cluster/standalone/index_node.py
  nucliadb/nucliadb/common/cluster/standalone/service.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

import
  nucliadb/nucliadb/common/cluster/standalone/service.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix
  nucliadb/nucliadb/common/cluster/standalone/service.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

move into the common block
  nucliadb_node/nucliadb_node/tests/fixtures.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

make sure we properly finalize (#1187)
  nucliadb_node/nucliadb_node/tests/unit/test_pull.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

.
  nucliadb_node/nucliadb_node/pull.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb
