Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nidx, clippy_nidx

lint_nucliadb:
  name: Lint nucliadb
  entry: make -C nucliadb lint
  language: system
  pass_filenames: false

lint_nucliadb_dataset:
  name: Lint nucliadb_dataset
  entry: make -C nucliadb_dataset lint
  language: system
  pass_filenames: false

lint_nucliadb_models:
  name: Lint nucliadb_models
  entry: make -C nucliadb_models lint
  language: system
  pass_filenames: false

lint_nucliadb_sdk:
  name: Lint nucliadb_sdk
  entry: make -C nucliadb_sdk lint
  language: system
  pass_filenames: false

lint_nucliadb_telemetry:
  name: Lint nucliadb_telemetry
  entry: make -C nucliadb_telemetry lint
  language: system
  pass_filenames: false

lint_nucliadb_utils:
  name: Lint nucliadb_utils
  entry: make -C nucliadb_utils lint
  language: system
  pass_filenames: false

rustfmt_nidx:
  name: Rust format check for nidx
  entry: cargo fmt --check --all --manifest-path nidx/Cargo.toml
  language: system
  pass_filenames: false

clippy_nidx:
  name: Clippy warning check for nidx
  entry: cargo clippy --all-features --manifest-path nidx/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

Wip
  nucliadb/src/migrations/0023_backfill_pg_catalog.py
  nucliadb/src/nucliadb/common/cluster/utils.py
  nucliadb/src/nucliadb/ingest/fields/exceptions.py
  nucliadb/src/nucliadb/ingest/fields/text.py
  nucliadb/src/nucliadb/ingest/orm/brain.py
  nucliadb/src/nucliadb/ingest/orm/processor/pgcatalog.py
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/ingest/service/writer.py
  nucliadb/tests/ingest/integration/orm/test_orm_resource.py
Due: lint_nucliadb

fix tests
  nucliadb/tests/ingest/integration/ingest/test_ingest.py
  nucliadb/tests/ingest/unit/orm/test_processor.py
  nucliadb/tests/ingest/unit/orm/test_resource.py
Due: lint_nucliadb

fix tests
  nucliadb/src/nucliadb/ingest/orm/resource.py
Due: lint_nucliadb

Add indexed encoded field id
  nidx/nidx_text/src/schema.rs
Due: rustfmt_nidx, clippy_nidx

Remove relation prefix search (superseeded by graph search)
  nidx/nidx_relation/src/reader.rs
  nidx/nidx_relation/tests/test_reader.rs
  nidx/src/searcher/query_planner.rs
  nidx/tests/test_search_relations.rs
  nucliadb/tests/nucliadb/integration/test_ask.py
  nucliadb_protos/nodereader.proto
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.pyi
Due: lint_nucliadb, rustfmt_nidx, clippy_nidx

Indexed encoded field id in texts (#3014)
  nidx/nidx_text/src/schema.rs
Due: rustfmt_nidx, clippy_nidx

Wip
  nucliadb/src/migrations/0023_backfill_pg_catalog.py
  nucliadb/src/nucliadb/common/cluster/utils.py
  nucliadb/src/nucliadb/common/external_index_providers/pinecone.py
  nucliadb/src/nucliadb/ingest/fields/exceptions.py
  nucliadb/src/nucliadb/ingest/fields/text.py
  nucliadb/src/nucliadb/ingest/orm/brain.py
  nucliadb/src/nucliadb/ingest/orm/processor/pgcatalog.py
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/ingest/service/writer.py
  nucliadb/src/nucliadb/writer/api/v1/resource.py
  nucliadb/tests/ingest/integration/ingest/test_ingest.py
  nucliadb/tests/ingest/integration/orm/test_orm_resource.py
  nucliadb/tests/ingest/unit/orm/test_processor.py
  nucliadb/tests/ingest/unit/orm/test_resource.py
  nucliadb/tests/nucliadb/integration/test_api.py
  nucliadb/tests/nucliadb/integration/test_data_augmentation_field_generation.py
  nucliadb/tests/nucliadb/integration/test_find.py
  nucliadb/tests/nucliadb/integration/test_security.py
Due: lint_nucliadb

Remove relation prefix search (superseeded by graph search) (#3015)
  nidx/nidx_relation/src/reader.rs
  nidx/nidx_relation/tests/test_reader.rs
  nidx/src/searcher/query_planner.rs
  nidx/tests/test_search_relations.rs
  nucliadb/tests/nucliadb/integration/test_ask.py
  nucliadb_protos/nodereader.proto
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.pyi
Due: lint_nucliadb, rustfmt_nidx, clippy_nidx

Move triplet metadata from relation to path
  nidx/nidx_relation/src/io_maps.rs
  nidx/nidx_relation/src/reader.rs
  nucliadb_protos/nodereader.proto
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.pyi
Due: rustfmt_nidx, clippy_nidx

400 error for tantivy panic with invalid query
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/tests/nucliadb/integration/test_find.py
Due: lint_nucliadb

Add SDK support for graph searches
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
  nucliadb_sdk/tests/test_graph.py
Due: lint_nucliadb_sdk

Move triplet metadata from relation to path (#3016)
  nidx/nidx_relation/src/io_maps.rs
  nidx/nidx_relation/src/reader.rs
  nucliadb_protos/nodereader.proto
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.pyi
Due: rustfmt_nidx, clippy_nidx

Add SDK support for graph searches (#3018)
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
  nucliadb_sdk/tests/test_graph.py
Due: lint_nucliadb_sdk

Use versioning to be safer on schema changes
  nidx/nidx_text/src/lib.rs
  nidx/nidx_text/src/schema.rs
  nidx/nidx_text/src/search_query.rs
Due: rustfmt_nidx, clippy_nidx

Use versioning to be safer on schema changes
  nidx/src/metadata/index.rs
Due: rustfmt_nidx, clippy_nidx

Use versioning to be safer on schema changes (#3019)
  nidx/nidx_text/src/lib.rs
  nidx/nidx_text/src/schema.rs
  nidx/nidx_text/src/search_query.rs
  nidx/src/metadata/index.rs
Due: rustfmt_nidx, clippy_nidx

done
  nucliadb/src/nucliadb/ingest/orm/brain.py
Due: lint_nucliadb

Faster per-field deletions
  nidx/nidx_text/src/lib.rs
  nidx/nidx_text/src/reader.rs
  nidx/nidx_text/src/resource_indexer.rs
  nidx/nidx_text/src/schema.rs
  nucliadb_protos/noderesources.proto
  nucliadb_protos/python/src/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/noderesources_pb2.pyi
Due: rustfmt_nidx, clippy_nidx

Add migration to nidx_texts v3
  nucliadb/src/migrations/0033_rollover_nidx_relation_2.py
Due: lint_nucliadb

Add migration to nidx_texts v3
  nucliadb/src/migrations/0034_rollover_nidx_texts_3.py
Due: lint_nucliadb

Migration nidx texts 3 (#3021)
  nucliadb/src/migrations/0034_rollover_nidx_texts_3.py
Due: lint_nucliadb

Faster per-field deletions
  nidx/nidx_text/src/lib.rs
  nidx/nidx_text/src/reader.rs
  nidx/nidx_text/src/resource_indexer.rs
  nidx/nidx_text/src/schema.rs
  nidx/src/import_export.rs
  nucliadb/src/nucliadb/ingest/orm/brain.py
  nucliadb_protos/noderesources.proto
  nucliadb_protos/python/src/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/noderesources_pb2.pyi
Due: lint_nucliadb, rustfmt_nidx, clippy_nidx

Optimized generate index message
  nidx/nidx_text/src/lib.rs
  nidx/src/indexer.rs
  nucliadb/src/nucliadb/ingest/orm/brain.py
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb_protos/noderesources.proto
  nucliadb_protos/python/src/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/noderesources_pb2.pyi
Due: lint_nucliadb, rustfmt_nidx, clippy_nidx

Optimized generate index message
  nucliadb/src/nucliadb/ingest/orm/brain.py
  nucliadb_protos/python/src/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/noderesources_pb2.pyi
Due: lint_nucliadb

Wip
  nucliadb/src/nucliadb/ingest/orm/brain.py
  nucliadb/src/nucliadb/ingest/orm/resource.py
Due: lint_nucliadb

Wip
  nucliadb/src/nucliadb/ingest/orm/brain.py
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb_protos/noderesources.proto
  nucliadb_protos/python/src/nucliadb_protos/noderesources_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/noderesources_pb2.pyi
Due: lint_nucliadb

Wip
  nucliadb/src/nucliadb/ingest/orm/resource.py
Due: lint_nucliadb

wip
  nidx/nidx_paragraph/src/lib.rs
  nucliadb/src/nucliadb/ingest/orm/brain.py
  nucliadb/src/nucliadb/ingest/orm/resource.py
Due: lint_nucliadb, rustfmt_nidx, clippy_nidx

wip
  nucliadb/src/nucliadb/ingest/orm/resource.py
Due: lint_nucliadb

wip
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
Due: lint_nucliadb

Fix orphan shard purge for new shards
  nucliadb/src/nucliadb/common/datamanagers/cluster.py
  nucliadb/src/nucliadb/purge/orphan_shards.py
Due: lint_nucliadb

Change doc link
  nucliadb_models/src/nucliadb_models/filters.py
  nucliadb_models/src/nucliadb_models/graph/requests.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb_models

Change doc link (#3023)
  nucliadb_models/src/nucliadb_models/filters.py
  nucliadb_models/src/nucliadb_models/graph/requests.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb_models

Scan KB and rollover shards in the same transaction
  nucliadb/src/nucliadb/purge/orphan_shards.py
Due: lint_nucliadb

final version?
  nucliadb/src/migrations/0023_backfill_pg_catalog.py
  nucliadb/src/nucliadb/common/cluster/utils.py
  nucliadb/src/nucliadb/ingest/orm/brain.py
  nucliadb/src/nucliadb/ingest/orm/index_message.py
  nucliadb/src/nucliadb/ingest/orm/metrics.py
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/ingest/service/writer.py
  nucliadb/tests/ingest/integration/orm/test_orm_resource.py
Due: lint_nucliadb

final version?
  nucliadb/src/nucliadb/common/cluster/utils.py
Due: lint_nucliadb

fix tests
  nidx/nidx_paragraph/tests/reader.rs
  nidx/nidx_tests/src/lib.rs
  nidx/nidx_text/tests/common/mod.rs
  nidx/nidx_vector/src/data_point_provider/reader.rs
  nidx/nidx_vector/tests/common/mod.rs
  nidx/tests/test_date_range_search.rs
  nidx/tests/test_search_filtering.rs
  nidx/tests/test_search_relations.rs
  nidx/tests/test_search_sorting.rs
  nidx/tests/test_security_search.rs
  nidx/tests/test_vector_normalization.rs
Due: rustfmt_nidx, clippy_nidx

Path conditions:
  lint_nucliadb: any of: (^nucliadb/) and \.py$
  lint_nucliadb_dataset: any of: (^nucliadb_dataset/) and \.py$
  lint_nucliadb_models: any of: (^nucliadb_models/) and \.py$
  lint_nucliadb_sdk: any of: (^nucliadb_sdk/) and \.py$
  lint_nucliadb_telemetry: any of: (^nucliadb_telemetry/) and \.py$
  lint_nucliadb_utils: any of: (^nucliadb_utils/) and \.py$
  rustfmt_nidx: any of: (^nidx/) and \.rs$
  clippy_nidx: any of: (^nidx/) and \.rs$
