Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

lint_nucliadb:
  name: Lint nucliadb
  entry: make -C nucliadb lint
  language: system
  pass_filenames: false

lint_nucliadb_dataset:
  name: Lint nucliadb_dataset
  entry: make -C nucliadb_dataset lint
  language: system
  pass_filenames: false

lint_nucliadb_models:
  name: Lint nucliadb_models
  entry: make -C nucliadb_models lint
  language: system
  pass_filenames: false

lint_nucliadb_node:
  name: Lint nucliadb_node
  entry: make -C nucliadb_node lint
  language: system
  pass_filenames: false

lint_nucliadb_node_binding:
  name: Lint nucliadb_node_binding
  entry: make -C nucliadb_node_binding lint
  language: system
  pass_filenames: false

lint_nucliadb_performance:
  name: Lint nucliadb_performance
  entry: make -C nucliadb_performance lint
  language: system
  pass_filenames: false

lint_nucliadb_sdk:
  name: Lint nucliadb_sdk
  entry: make -C nucliadb_sdk lint
  language: system
  pass_filenames: false

lint_nucliadb_telemetry:
  name: Lint nucliadb_telemetry
  entry: make -C nucliadb_telemetry lint
  language: system
  pass_filenames: false

lint_nucliadb_utils:
  name: Lint nucliadb_utils
  entry: make -C nucliadb_utils lint
  language: system
  pass_filenames: false

rustfmt_nucliadb:
  name: fmt
  entry: cargo fmt --check
  language: system
  pass_filenames: false

clippy_nucliadb:
  name: clippy
  entry: cargo clippy --all-features -- -D warnings
  language: system
  pass_filenames: false

Fix
  nucliadb_utils/src/nucliadb_utils/utilities.py
Due: lint_nucliadb_utils

Reserve fields in protobuf
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.py
  nucliadb_protos/resources.proto
  nucliadb_protos/writer.proto
Due: none

Azure blob storage connection tweaks (#2252)
  nucliadb/src/nucliadb/ingest/processing.py
  nucliadb/src/nucliadb/search/predict.py
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/src/nucliadb/writer/tus/__init__.py
  nucliadb/src/nucliadb/writer/tus/azure.py
  nucliadb/tests/fixtures.py
  nucliadb_node/src/settings.rs
  nucliadb_utils/requirements-storages.txt
  nucliadb_utils/src/nucliadb_utils/settings.py
  nucliadb_utils/src/nucliadb_utils/storages/azure.py
  nucliadb_utils/src/nucliadb_utils/tests/azure.py
  nucliadb_utils/src/nucliadb_utils/utilities.py
  pdm.lock
  pyproject.toml
Due: lint_nucliadb, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

Add tests
  nucliadb/tests/nucliadb/integration/test_ask.py
  nucliadb_sdk/tests/test_ask.py
Due: lint_nucliadb, lint_nucliadb_sdk

Better API for answer_json_schema (#2253)
  nucliadb/tests/nucliadb/integration/test_ask.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_sdk/tests/test_ask.py
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_sdk

Missing TX commit
  nucliadb/tests/train/fixtures.py
Due: lint_nucliadb

Readme
  README.md
Due: none

Remove tikv->pg replication
  nucliadb/src/nucliadb/common/maindb/pg.py
Due: lint_nucliadb

Update deps in pdm
  pdm.lock
Due: none

wip
  nucliadb/src/nucliadb/ingest/service/writer.py
  nucliadb/src/nucliadb/writer/api/v1/knowledgebox.py
  nucliadb/tests/nucliadb/integration/test_deletion.py
Due: lint_nucliadb

wip
  nucliadb/tests/nucliadb/integration/test_deletion.py
Due: lint_nucliadb

Answer Object
  nucliadb/src/nucliadb/search/predict.py
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

Missing SyncAsk
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb_models

Tweaks
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_sdk

Answer Object (#2255)
  nucliadb/src/nucliadb/search/predict.py
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_sdk

wip
  Cargo.lock
  nucliadb/src/nucliadb/common/cluster/manager.py
  nucliadb/src/nucliadb/ingest/orm/brain.py
  nucliadb/src/nucliadb/ingest/service/writer.py
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/src/nucliadb/writer/api/v1/knowledgebox.py
  nucliadb/tests/nucliadb/integration/test_deletion.py
  nucliadb_node_binding/Cargo.toml
  nucliadb_paragraphs3/src/writer.rs
Due: lint_nucliadb

Fix get kb config on write transactions
  nucliadb/src/nucliadb/migrator/datamanager.py
  nucliadb/src/nucliadb/reader/api/v1/knowledgebox.py
Due: lint_nucliadb

Better transaction usage to check if kb object exists
  nucliadb/src/nucliadb/ingest/orm/processor/__init__.py
  nucliadb/src/nucliadb/search/search/summarize.py
Due: lint_nucliadb

More
  nucliadb/src/nucliadb/ingest/service/writer.py
  nucliadb/src/nucliadb/train/uploader.py
Due: lint_nucliadb

More
  nucliadb/src/nucliadb/ingest/service/writer.py
Due: lint_nucliadb

Fix more of them
  nucliadb/src/nucliadb/common/cluster/rebalance.py
  nucliadb/src/nucliadb/migrator/datamanager.py
  nucliadb/src/nucliadb/reader/api/v1/knowledgebox.py
Due: lint_nucliadb

Reduce number of select for updates (#2256)
  nucliadb/src/nucliadb/common/cluster/rebalance.py
  nucliadb/src/nucliadb/ingest/orm/processor/__init__.py
  nucliadb/src/nucliadb/ingest/service/writer.py
  nucliadb/src/nucliadb/migrator/datamanager.py
  nucliadb/src/nucliadb/reader/api/v1/knowledgebox.py
  nucliadb/src/nucliadb/search/search/summarize.py
  nucliadb/src/nucliadb/train/uploader.py
Due: lint_nucliadb

Fix get_current_active_shard
  nucliadb/src/nucliadb/ingest/orm/processor/__init__.py
  nucliadb/src/nucliadb/writer/back_pressure.py
Due: lint_nucliadb

More
  nucliadb/src/nucliadb/common/cluster/rebalance.py
  nucliadb/src/nucliadb/common/cluster/rollover.py
Due: lint_nucliadb

Remove debug breakpoints
  nucliadb/src/nucliadb/common/cluster/manager.py
  nucliadb/src/nucliadb/ingest/service/writer.py
  nucliadb/src/nucliadb/search/search/find.py
Due: lint_nucliadb

Mark fields to delete paragraphs from in delete_metadata
  nucliadb/src/nucliadb/ingest/orm/brain.py
Due: lint_nucliadb

Be more Bw/c with paragraph deletion
  nucliadb_paragraphs3/src/writer.rs
Due: none

Fix test
  nucliadb/tests/nucliadb/integration/test_deletion.py
Due: lint_nucliadb

Test for experimental and stable KBs
  nucliadb/tests/nucliadb/integration/test_deletion.py
Due: lint_nucliadb

fix
  nucliadb/src/nucliadb/common/cluster/rollover.py
Due: lint_nucliadb

Fix rollover unit test
  nucliadb/src/nucliadb/common/cluster/rollover.py
Due: lint_nucliadb

Reduce more the number of select for updates (#2257)
  nucliadb/src/nucliadb/common/cluster/rebalance.py
  nucliadb/src/nucliadb/common/cluster/rollover.py
  nucliadb/src/nucliadb/ingest/orm/processor/__init__.py
  nucliadb/src/nucliadb/writer/back_pressure.py
Due: lint_nucliadb

More ro txn
  nucliadb/src/nucliadb/ingest/orm/resource.py
Due: lint_nucliadb

More ro txn (#2258)
  nucliadb/src/nucliadb/ingest/orm/resource.py
Due: lint_nucliadb

Commit deletions (so txn don't get too big)
  nucliadb_paragraphs3/src/writer.rs
Due: none

Complete test
  nucliadb/tests/nucliadb/integration/test_deletion.py
Due: lint_nucliadb

Fix ingest test
  nucliadb/tests/ingest/integration/ingest/test_ingest.py
Due: lint_nucliadb

Path conditions:
  lint_nucliadb: any of: (^nucliadb/) and \.py$
  lint_nucliadb_dataset: any of: (^nucliadb_dataset/) and \.py$
  lint_nucliadb_models: any of: (^nucliadb_models/) and \.py$
  lint_nucliadb_node: any of: (^nucliadb_node/) and \.py$
  lint_nucliadb_node_binding: any of: (^nucliadb_node_binding/) and \.py$
  lint_nucliadb_performance: any of: (^nucliadb_performance/) and \.py$
  lint_nucliadb_sdk: any of: (^nucliadb_sdk/) and \.py$
  lint_nucliadb_telemetry: any of: (^nucliadb_telemetry/) and \.py$
  lint_nucliadb_utils: any of: (^nucliadb_utils/) and \.py$
  rustfmt_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
  clippy_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
