Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint_nucliadb
        name: Lint nucliadb
        entry: make -C nucliadb lint
        language: system
        files: (^nucliadb/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_dataset
        name: Lint nucliadb_dataset
        entry: make -C nucliadb_dataset lint
        language: system
        files: (^nucliadb_dataset/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_models
        name: Lint nucliadb_models
        entry: make -C nucliadb_models lint
        language: system
        files: (^nucliadb_models/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_node
        name: Lint nucliadb_node
        entry: make -C nucliadb_node lint
        language: system
        files: (^nucliadb_node/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_node_binding
        name: Lint nucliadb_node_binding
        entry: make -C nucliadb_node_binding lint
        language: system
        files: (^nucliadb_node_binding/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_performance
        name: Lint nucliadb_performance
        entry: make -C nucliadb_performance lint
        language: system
        files: (^nucliadb_performance/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_sdk
        name: Lint nucliadb_sdk
        entry: make -C nucliadb_sdk lint
        language: system
        files: (^nucliadb_sdk/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_telemetry
        name: Lint nucliadb_telemetry
        entry: make -C nucliadb_telemetry lint
        language: system
        files: (^nucliadb_telemetry/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_utils
        name: Lint nucliadb_utils
        entry: make -C nucliadb_utils lint
        language: system
        files: (^nucliadb_utils/)
        types: ["python"]
        pass_filenames: false

      - id: rustfmt_nucliadb
        name: fmt
        entry: cargo fmt --check
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nucliadb
        name: clippy
        entry: cargo clippy --all-features -- -D warnings
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

Fix test on nucliadb_models
  nucliadb_models/tests/test_search.py
Due: lint_nucliadb_models

Remove another pagination test
  nucliadb/tests/search/fixtures.py
  nucliadb/tests/search/integration/api/v1/test_search.py
Due: lint_nucliadb

Fix search test
  nucliadb/tests/search/unit/search/search/chat/test_ask.py
Due: lint_nucliadb

Don't overwrite partitioning utility
  nucliadb_utils/src/nucliadb_utils/utilities.py
Due: lint_nucliadb_utils

Add generated_by to ORM field
  nucliadb/src/nucliadb/ingest/fields/base.py
  nucliadb/src/nucliadb/ingest/fields/text.py
Due: lint_nucliadb

Autoset field author while processing don't do so
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
  nucliadb/tests/ingest/integration/orm/test_send_to_process_generated_fields.py
Due: lint_nucliadb

Add label to BASE_LABELS
  nucliadb_models/src/nucliadb_models/labels.py
Due: lint_nucliadb_models

Add alias for generated.data-augmentation label
  nucliadb/tests/nucliadb/integration/test_data_augmentation_field_generation.py
  nucliadb_models/src/nucliadb_models/labels.py
Due: lint_nucliadb, lint_nucliadb_models

Add generated_by to text fields
  nucliadb_protos/python/src/nucliadb_protos/dataset_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2_grpc.pyi
  nucliadb_protos/resources.proto
  nucliadb_protos/rust/src/resources.rs
Due: none

Don't start processing utility twice
  nucliadb/src/nucliadb/ingest/processing.py
Due: lint_nucliadb

Label fields tagged with DA author
  nucliadb/src/nucliadb/ingest/orm/brain.py
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/tests/ingest/integration/orm/test_send_to_process_generated_fields.py
Due: lint_nucliadb

Test filtering out data augmentation generated fields
  nucliadb/tests/nucliadb/integration/test_data_augmentation_field_generation.py
Due: lint_nucliadb

Rename test
  nucliadb/tests/nucliadb/integration/test_data_augmentation_field_generation.py
Due: lint_nucliadb

MockerFixture rename
  nucliadb/tests/nucliadb/integration/search/post_retrieval/test_rank_fusion.py
  nucliadb/tests/nucliadb/integration/search/post_retrieval/test_reranker.py
  nucliadb/tests/nucliadb/integration/test_data_augmentation_field_generation.py
  nucliadb/tests/writer/test_resources.py
Due: lint_nucliadb

Add warning when overwriting utilities
  nucliadb_utils/src/nucliadb_utils/utilities.py
Due: lint_nucliadb_utils

Improve ORM fields typing
  nucliadb/src/nucliadb/ingest/fields/base.py
  nucliadb/src/nucliadb/ingest/fields/conversation.py
  nucliadb/src/nucliadb/ingest/fields/file.py
  nucliadb/src/nucliadb/ingest/fields/link.py
  nucliadb/src/nucliadb/ingest/fields/text.py
Due: lint_nucliadb

Add task_id as a filter for DA
  nucliadb/src/nucliadb/common/ids.py
  nucliadb/src/nucliadb/ingest/orm/brain.py
  nucliadb/tests/nucliadb/integration/test_data_augmentation_field_generation.py
  nucliadb/tests/nucliadb/unit/common/test_ids.py
Due: lint_nucliadb

More realistic test
  nucliadb/tests/nucliadb/integration/test_api.py
Due: lint_nucliadb

Use oneof with messages instead of an enum
  nucliadb/src/nucliadb/ingest/fields/base.py
  nucliadb/src/nucliadb/ingest/fields/text.py
  nucliadb/src/nucliadb/ingest/orm/brain.py
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/tests/nucliadb/integration/test_data_augmentation_field_generation.py
  nucliadb_protos/python/src/nucliadb_protos/dataset_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2_grpc.pyi
  nucliadb_protos/resources.proto
  nucliadb_protos/rust/src/resources.rs
Due: lint_nucliadb

Raise an error when there's no value for field
  nucliadb/src/nucliadb/ingest/fields/text.py
Due: lint_nucliadb

update generative responses
  nucliadb/src/nucliadb/search/predict.py
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/tests/nucliadb/integration/test_ask.py
  nucliadb/tests/search/unit/test_predict.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

Bw/c: use default when top_k is None
  nucliadb/src/nucliadb/search/api/v1/resource/search.py
Due: lint_nucliadb

Use assert instead of exception for invalid condition
  nucliadb/src/nucliadb/ingest/fields/text.py
Due: lint_nucliadb

Auto label to data augmentation generated fields (#2719)
  nucliadb/src/nucliadb/common/ids.py
  nucliadb/src/nucliadb/ingest/fields/base.py
  nucliadb/src/nucliadb/ingest/fields/conversation.py
  nucliadb/src/nucliadb/ingest/fields/file.py
  nucliadb/src/nucliadb/ingest/fields/link.py
  nucliadb/src/nucliadb/ingest/fields/text.py
  nucliadb/src/nucliadb/ingest/orm/brain.py
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/ingest/processing.py
  nucliadb/tests/ingest/integration/orm/test_send_to_process_generated_fields.py
  nucliadb/tests/nucliadb/integration/search/post_retrieval/test_rank_fusion.py
  nucliadb/tests/nucliadb/integration/search/post_retrieval/test_reranker.py
  nucliadb/tests/nucliadb/integration/test_api.py
  nucliadb/tests/nucliadb/integration/test_data_augmentation_field_generation.py
  nucliadb/tests/nucliadb/unit/common/test_ids.py
  nucliadb/tests/writer/test_resources.py
  nucliadb_models/src/nucliadb_models/labels.py
  nucliadb_protos/python/src/nucliadb_protos/dataset_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2_grpc.pyi
  nucliadb_protos/resources.proto
  nucliadb_protos/rust/src/resources.rs
  nucliadb_utils/src/nucliadb_utils/utilities.py
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_utils

Shallow pagination removal (#2734)
  nucliadb/src/nucliadb/search/api/v1/find.py
  nucliadb/src/nucliadb/search/api/v1/resource/search.py
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/src/nucliadb/search/search/query_parser/parser.py
  nucliadb/tests/nucliadb/integration/search/test_search_sorting.py
  nucliadb/tests/nucliadb/integration/test_api.py
  nucliadb/tests/nucliadb/knowledgeboxes/ten_dummy_resources.py
  nucliadb/tests/search/fixtures.py
  nucliadb/tests/search/integration/api/v1/test_search.py
  nucliadb/tests/search/unit/search/search/chat/test_ask.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_models/tests/test_search.py
  nucliadb_sdk/tests/test_search.py
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_sdk

Remove pagination: build_find_response
  nucliadb/src/nucliadb/search/search/cut.py
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/src/nucliadb/search/search/find_merge.py
  nucliadb/tests/search/unit/test_find_merge.py
  nucliadb/tests/search/unit/test_find_post_index.py
Due: lint_nucliadb

Remove pagination: merge_results
  nucliadb/src/nucliadb/search/api/v1/resource/search.py
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/search/merge.py
  nucliadb/tests/search/unit/test_merge.py
Due: lint_nucliadb

Fix test
  nucliadb/tests/nucliadb/integration/search/post_retrieval/test_reranker.py
Due: lint_nucliadb

Better reconnect handling for nats, handling interruptions
  nucliadb_utils/src/nucliadb_utils/nats.py
Due: lint_nucliadb_utils

Fix rename
  nucliadb/src/nucliadb/search/api/v1/search.py
Due: lint_nucliadb

Remove outdated comment
  nucliadb/src/nucliadb/search/search/query_parser/parser.py
Due: lint_nucliadb

Move catalog endpoints to a separate file
  nucliadb/src/nucliadb/search/api/v1/__init__.py
  nucliadb/src/nucliadb/search/api/v1/catalog.py
  nucliadb/src/nucliadb/search/api/v1/search.py
Due: lint_nucliadb

test
  nucliadb_utils/src/nucliadb_utils/nats.py
  nucliadb_utils/tests/unit/test_nats.py
Due: lint_nucliadb_utils

Remove extra print
  nucliadb_utils/tests/unit/test_nats.py
Due: lint_nucliadb_utils

Catalog parser + catalog doesn't use QueryParser anymore
  nucliadb/src/nucliadb/search/api/v1/catalog.py
  nucliadb/src/nucliadb/search/search/pgcatalog.py
  nucliadb/src/nucliadb/search/search/query_parser/models.py
  nucliadb/src/nucliadb/search/search/query_parser/parser.py
  nucliadb/tests/search/unit/search/search/test_pgcatalog.py
Due: lint_nucliadb

Better reconnect handling for nats, handling interruptions (#2738)
  nucliadb_utils/src/nucliadb_utils/nats.py
  nucliadb_utils/tests/unit/test_nats.py
Due: lint_nucliadb_utils

Fix test
  nucliadb/tests/nucliadb/integration/search/post_retrieval/test_rank_fusion.py
Due: lint_nucliadb

Add a TODO
  nucliadb/src/nucliadb/search/search/query_parser/models.py
Due: lint_nucliadb

Remove pagination: paragraph_query_to_pb
  nucliadb/src/nucliadb/search/api/v1/resource/search.py
  nucliadb/src/nucliadb/search/search/query.py
Due: lint_nucliadb

Remove page_number from QueryParser
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/tests/search/integration/requesters/test_utils.py
  nucliadb/tests/search/unit/search/test_query.py
Due: lint_nucliadb
