Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: isort_nucliadb
        name: Isort
        entry: isort --profile black -c
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)
        types: ["python"]

      - id: black_nucliadb
        name: Black
        entry: black --check --verbose
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)
        types: ["python"]

      - id: flake8_nucliadb
        name: Flake8
        entry: flake8 --config=nucliadb/setup.cfg
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)
        types: ["python"]

      - id: rustfmt_nucliadb
        name: fmt
        entry: cargo +nightly fmt --check
        language: system
        files: (^nucliadb_vectors/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_paragraphs/)|(^nucliadb_texts/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nucliadb
        name: clippy
        entry: cargo clippy --all-features -- -D warnings
        language: system
        files: (^nucliadb_vectors/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_paragraphs/)|(^nucliadb_texts/)
        types: ["rust"]
        pass_filenames: false

download export files if not there
  .github/workflows/nucliadb_performance.yml
  nucliadb_performance/Makefile
  nucliadb_performance/nucliadb_performance/utils/metrics.py
  nucliadb_performance/nucliadb_performance/utils/misc.py
Due: none

add readme
  nucliadb_performance/README.md
Due: none

Trigger perf tests on merges to main (#1653)
  .github/workflows/nucliadb_performance.yml
  nucliadb_performance/Makefile
  nucliadb_performance/README.md
  nucliadb_performance/nucliadb_performance/utils/metrics.py
  nucliadb_performance/nucliadb_performance/utils/misc.py
Due: none

fix metadata usage to always use cache (#1661)
  nucliadb_node/src/replication/replicator.rs
  nucliadb_node/src/replication/service.rs
  nucliadb_node/src/shards/metadata.rs
  nucliadb_node/src/shards/providers/unbounded_cache/async_unbounded_writer.rs
  nucliadb_node/src/shards/providers/unbounded_cache/unbounded_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

wip
  .github/workflows/nucliadb_ingest.yml
  .github/workflows/nucliadb_search.yml
Due: none

safer
  nucliadb/nucliadb/common/datamanagers/resources.py
  nucliadb/nucliadb/writer/api/v1/resource.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

done
  nucliadb/nucliadb/common/datamanagers/resources.py
  nucliadb/nucliadb/tests/integration/test_resources.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix
  nucliadb/nucliadb/writer/api/v1/resource.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Garbage collection returns a status
  nucliadb_node/nucliadb_node/listeners/gc_scheduler.py
  nucliadb_node/src/grpc/grpc_writer.rs
  nucliadb_node/src/shards/shard_writer.rs
  nucliadb_node_binding/src/writer.rs
  nucliadb_protos/nodewriter.proto
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2_grpc.py
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2_grpc.pyi
  nucliadb_protos/rust/src/nodewriter.rs
  nucliadb_vectors/src/service/writer.rs
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

Simple test to validate GC try later don't trigger sentry
  nucliadb_node/nucliadb_node/tests/unit/test_gc_scheduler.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Implement from protos for gc status
  nucliadb_node/src/grpc/grpc_writer.rs
  nucliadb_node/src/shards/shard_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Garbage collection returns a status (#1664)
  nucliadb_node/nucliadb_node/listeners/gc_scheduler.py
  nucliadb_node/nucliadb_node/tests/unit/test_gc_scheduler.py
  nucliadb_node/src/grpc/grpc_writer.rs
  nucliadb_node/src/shards/shard_writer.rs
  nucliadb_node_binding/src/writer.rs
  nucliadb_protos/nodewriter.proto
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2_grpc.py
  nucliadb_protos/python/nucliadb_protos/nodewriter_pb2_grpc.pyi
  nucliadb_protos/rust/src/nodewriter.rs
  nucliadb_vectors/src/service/writer.rs
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

Add missing return
  nucliadb_node/nucliadb_node/writer.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Add missing return (#1665)
  nucliadb_node/nucliadb_node/writer.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

add lead+ as code owner
  .github/CODEOWNERS
Due: none

Resource change event should happen for every replica node?
  nucliadb/nucliadb/common/cluster/manager.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Better flaps download response handling
  nucliadb_utils/nucliadb_utils/storages/nuclia.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Retry transient PG server errors
  nucliadb/nucliadb/common/cluster/manager.py
  nucliadb/nucliadb/common/maindb/pg.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix
  nucliadb/nucliadb/ingest/serialize.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Safer resource slug patching (#1663)
  nucliadb/nucliadb/common/datamanagers/resources.py
  nucliadb/nucliadb/tests/integration/test_resources.py
  nucliadb/nucliadb/writer/api/v1/resource.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

this is failing all of a sudden?
  nucliadb_sdk/nucliadb_sdk/tests/test_chat.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

make max connection pool size configurable
  nucliadb/nucliadb/common/maindb/pg.py
  nucliadb/nucliadb/common/maindb/utils.py
  nucliadb/nucliadb/ingest/settings.py
  nucliadb_utils/nucliadb_utils/settings.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

more verbose on errors
  e2e/test_e2e.py
Due: none

Add retries
  nucliadb/nucliadb/common/cluster/manager.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

add pg storage tests
  nucliadb_utils/nucliadb_utils/tests/conftest.py
  nucliadb_utils/nucliadb_utils/tests/integration/storages/test_pg.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

log erro
  nucliadb_utils/nucliadb_utils/storages/pg.py
  nucliadb_utils/nucliadb_utils/tests/integration/storages/test_pg.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix
  nucliadb_utils/nucliadb_utils/tests/conftest.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Onprem fixes (#1667)
  nucliadb/nucliadb/common/cluster/manager.py
  nucliadb/nucliadb/common/maindb/pg.py
  nucliadb/nucliadb/ingest/serialize.py
  nucliadb_sdk/nucliadb_sdk/tests/test_chat.py
  nucliadb_utils/nucliadb_utils/storages/nuclia.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

add pg storage tests (#1669)
  nucliadb_utils/nucliadb_utils/storages/pg.py
  nucliadb_utils/nucliadb_utils/tests/conftest.py
  nucliadb_utils/nucliadb_utils/tests/integration/storages/test_pg.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix audit chat when citations are present
  nucliadb/nucliadb/search/api/v1/chat.py
  nucliadb/nucliadb/search/search/chat/query.py
  nucliadb/nucliadb/search/tests/unit/search/search/chat/test_query.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

make sure audit logic is covered in tests
  nucliadb/nucliadb/tests/integration/test_chat.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Refactor header into a const
  nucliadb/nucliadb/search/predict.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

increase coverage of chat
  nucliadb/nucliadb/search/tests/unit/test_predict.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Fix audit chat when citations are present (#1670)
  nucliadb/nucliadb/search/api/v1/chat.py
  nucliadb/nucliadb/search/predict.py
  nucliadb/nucliadb/search/search/chat/query.py
  nucliadb/nucliadb/search/tests/unit/search/search/chat/test_query.py
  nucliadb/nucliadb/search/tests/unit/test_predict.py
  nucliadb/nucliadb/tests/integration/test_chat.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

mark as deleted functionality added
  nucliadb_node/src/shards/providers/unbounded_cache/async_unbounded_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

better naming and default values
  nucliadb/nucliadb/common/maindb/pg.py
  nucliadb/nucliadb/common/maindb/utils.py
  nucliadb/nucliadb/ingest/settings.py
  nucliadb_utils/nucliadb_utils/settings.py
  nucliadb_utils/nucliadb_utils/storages/pg.py
  nucliadb_utils/nucliadb_utils/utilities.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

add additional safety
  nucliadb_node/src/shards/providers/unbounded_cache/async_unbounded_writer.rs
  nucliadb_node/src/shards/shard_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

ifxes
  nucliadb_node/src/shards/providers/unbounded_cache/async_unbounded_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb
