Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

lint_nucliadb:
  name: Lint nucliadb
  entry: make -C nucliadb lint
  language: system

lint_nucliadb_dataset:
  name: Lint nucliadb_dataset
  entry: make -C nucliadb_dataset lint
  language: system

lint_nucliadb_models:
  name: Lint nucliadb_models
  entry: make -C nucliadb_models lint
  language: system

lint_nucliadb_node:
  name: Lint nucliadb_node
  entry: make -C nucliadb_node lint
  language: system

lint_nucliadb_node_binding:
  name: Lint nucliadb_node_binding
  entry: make -C nucliadb_node_binding lint
  language: system

lint_nucliadb_performance:
  name: Lint nucliadb_performance
  entry: make -C nucliadb_performance lint
  language: system

lint_nucliadb_sdk:
  name: Lint nucliadb_sdk
  entry: make -C nucliadb_sdk lint
  language: system

lint_nucliadb_telemetry:
  name: Lint nucliadb_telemetry
  entry: make -C nucliadb_telemetry lint
  language: system

lint_nucliadb_utils:
  name: Lint nucliadb_utils
  entry: make -C nucliadb_utils lint
  language: system

rustfmt_nucliadb:
  name: fmt
  entry: cargo +nightly fmt --check
  language: system
  pass_filenames: false

clippy_nucliadb:
  name: clippy
  entry: cargo clippy --all-features -- -D warnings
  language: system
  pass_filenames: false

Rewrite in a more clear way start_field_upload
  nucliadb/nucliadb/writer/api/v1/upload.py
  nucliadb/nucliadb/writer/tests/unit/api/v1/test_upload.py
Due: lint_nucliadb

Remove no longer used function
  nucliadb/nucliadb/writer/api/v1/resource.py
Due: lint_nucliadb

Delete KB only by id
  nucliadb/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/nucliadb/ingest/orm/processor/__init__.py
  nucliadb/nucliadb/ingest/service/writer.py
  nucliadb/nucliadb/ingest/tests/fixtures.py
  nucliadb/nucliadb/ingest/tests/integration/ingest/test_ingest.py
  nucliadb/nucliadb/ingest/tests/unit/service/test_writer.py
Due: lint_nucliadb

Remove more slug/rid conditionals from upload and resource api
  nucliadb/nucliadb/writer/api/v1/resource.py
  nucliadb/nucliadb/writer/api/v1/upload.py
Due: lint_nucliadb

Remove ResourceFieldExists call from ingest gRPC
  nucliadb/nucliadb/ingest/service/writer.py
  nucliadb/nucliadb/writer/tests/unit/api/v1/test_upload.py
  nucliadb_protos/python/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/writer_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/writer_pb2_grpc.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2_grpc.pyi
  nucliadb_protos/rust/src/fdbwriter.rs
  nucliadb_protos/writer.proto
Due: lint_nucliadb

Add small test for datamanager
  nucliadb/nucliadb/tests/integration/common/datamanagers/test_resources.py
Due: lint_nucliadb

Use protos values instead of hardcoded ones
  nucliadb_core/src/lib.rs
Due: none

Cleanup ingest gRPC and id/slugs (#2080)
  nucliadb/Makefile
  nucliadb/nucliadb/common/datamanagers/resources.py
  nucliadb/nucliadb/common/datamanagers/utils.py
  nucliadb/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/nucliadb/ingest/orm/processor/__init__.py
  nucliadb/nucliadb/ingest/orm/resource.py
  nucliadb/nucliadb/ingest/service/writer.py
  nucliadb/nucliadb/ingest/tests/fixtures.py
  nucliadb/nucliadb/ingest/tests/integration/ingest/test_ingest.py
  nucliadb/nucliadb/ingest/tests/integration/servicer/test_knowledgebox_servicer.py
  nucliadb/nucliadb/ingest/tests/unit/orm/test_resource.py
  nucliadb/nucliadb/ingest/tests/unit/service/test_writer.py
  nucliadb/nucliadb/tests/integration/common/datamanagers/test_resources.py
  nucliadb/nucliadb/writer/api/v1/field.py
  nucliadb/nucliadb/writer/api/v1/resource.py
  nucliadb/nucliadb/writer/api/v1/upload.py
  nucliadb/nucliadb/writer/tests/test_files.py
  nucliadb/nucliadb/writer/tests/test_reprocess_file_field.py
  nucliadb/nucliadb/writer/tests/test_resources.py
  nucliadb/nucliadb/writer/tests/unit/api/v1/test_upload.py
  nucliadb_protos/python/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/nucliadb_protos/writer_pb2.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/writer_pb2_grpc.py
  nucliadb_protos/python/nucliadb_protos/writer_pb2_grpc.pyi
  nucliadb_protos/rust/src/fdbwriter.rs
  nucliadb_protos/writer.proto
Due: lint_nucliadb

Open index readers only need path, not config (#2099)
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_paragraphs2/src/reader.rs
  nucliadb_paragraphs3/src/reader.rs
  nucliadb_relations2/src/reader.rs
  nucliadb_relations2/tests/test_reader.rs
  nucliadb_texts2/src/reader.rs
  nucliadb_texts2/tests/common/mod.rs
  nucliadb_texts2/tests/test_reader.rs
  nucliadb_texts2/tests/test_writer.rs
  nucliadb_vectors/src/service/reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Cleanup optionals from metadata file (#2100)
  nucliadb_core/src/lib.rs
  nucliadb_node/src/cache/writer_cache.rs
  nucliadb_node/src/grpc/grpc_writer.rs
  nucliadb_node/src/replication/replicator.rs
  nucliadb_node/src/replication/service.rs
  nucliadb_node/src/shards/metadata.rs
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_node_binding/src/writer.rs
  nucliadb_protos/python/nucliadb_protos/replication_pb2.py
  nucliadb_protos/python/nucliadb_protos/replication_pb2.pyi
  nucliadb_protos/replication.proto
  nucliadb_protos/rust/src/replication.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Put resource serialization into spawn blocking
  nucliadb_node/src/grpc/grpc_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Remove option from vector similarity as it was always required
  nucliadb_core/src/vectors.rs
  nucliadb_node/src/shards/metadata.rs
  nucliadb_node/src/shards/shard_writer.rs
  nucliadb_vectors/src/service/reader.rs
  nucliadb_vectors/src/service/writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Remove dead code
  nucliadb_node/src/shards/shard_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Parse env var properly
  nucliadb_node/src/settings.rs
Due: rustfmt_nucliadb, clippy_nucliadb

proper default
  nucliadb_node/src/settings.rs
Due: rustfmt_nucliadb, clippy_nucliadb

change order
  nucliadb_node/src/settings.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Revert "Bigger k during layer>0 search (#2064)"
  nucliadb_vectors/src/data_point/ops_hnsw.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Faster HNSW insertion
  nucliadb_vectors/src/data_point/ops_hnsw.rs
  nucliadb_vectors/src/data_point/params.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Use Versions instead of hardcoding version numbers
  nucliadb_node/src/shards/shard_writer.rs
  nucliadb_node/src/shards/versioning.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Add shard indexes metadata file module
  nucliadb_node/src/shards/indexes.rs
  nucliadb_node/src/shards/mod.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Same for reader
  nucliadb_core/src/query_planner.rs
  nucliadb_node/src/shards/shard_reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Try
  nucliadb/nucliadb/search/tests/integration/api/v1/test_search.py
  nucliadb/nucliadb/search/tests/node.py
  nucliadb_node/nucliadb_node/tests/fixtures.py
  nucliadb_node/nucliadb_node/tests/integration/test_indexing.py
  nucliadb_node/nucliadb_node/tests/unit/test_indexer.py
  nucliadb_node/src/settings.rs
Due: lint_nucliadb, lint_nucliadb_node, rustfmt_nucliadb, clippy_nucliadb

cleanup
  nucliadb_node/nucliadb_node/tests/fixtures.py
  nucliadb_node/nucliadb_node/tests/integration/test_indexing.py
  nucliadb_node/nucliadb_node/tests/unit/test_indexer.py
Due: lint_nucliadb_node

Use shard indexes file and automatically create it
  nucliadb_node/src/shards/indexes.rs
  nucliadb_node/src/shards/mod.rs
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_node/src/shards/shard_writer.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Revert "Bigger k during layer>0 search (#2064)" (#2101)
  nucliadb_vectors/src/data_point/ops_hnsw.rs
Due: rustfmt_nucliadb, clippy_nucliadb

fix identation
  nucliadb/nucliadb/common/cluster/rollover.py
Due: lint_nucliadb

fix identation (#2104)
  nucliadb/nucliadb/common/cluster/rollover.py
Due: lint_nucliadb

Add rollover test
  nucliadb/nucliadb/common/cluster/rollover.py
  nucliadb/nucliadb/tests/integration/common/cluster/test_rollover.py
Due: lint_nucliadb

Create hashmap with default directly
  nucliadb_node/src/shards/indexes.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Validate against adding same vectorset name twice
  nucliadb_node/src/shards/indexes.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Ship pingcap cert
  .github/workflows/nucliadb.yml
  .github/workflows/nucliadb_ingest.yml
  scripts/pingcap-com.pem
Due: none

Ship pingcap cert (#2105)
  .github/workflows/nucliadb.yml
  .github/workflows/nucliadb_ingest.yml
  scripts/pingcap-com.pem
Due: none

Adapt test
  nucliadb/nucliadb/tests/unit/common/cluster/test_rollover.py
Due: lint_nucliadb

Upgrade grpc stack
  nucliadb/requirements.txt
  nucliadb_node/requirements.txt
  nucliadb_protos/python/setup.py
  nucliadb_telemetry/setup.py
  test-requirements.txt
Due: lint_nucliadb_telemetry

stubs
  nucliadb/requirements.txt
  test-requirements.txt
Due: none

Added limits to pagination
  nucliadb/nucliadb/search/api/v1/utils.py
  nucliadb/nucliadb/search/search/query.py
  nucliadb_models/nucliadb_models/common.py
  nucliadb_models/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

Fix
  nucliadb/nucliadb/search/api/v1/utils.py
  nucliadb_models/nucliadb_models/common.py
  nucliadb_models/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

Add tests
  nucliadb/nucliadb/tests/integration/test_api.py
  nucliadb_models/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

Add test
  nucliadb/nucliadb/tests/integration/test_api.py
Due: lint_nucliadb

try
  Makefile
Due: none

Path conditions:
  lint_nucliadb: any of: (^nucliadb/) and \.py$
  lint_nucliadb_dataset: any of: (^nucliadb_dataset/) and \.py$
  lint_nucliadb_models: any of: (^nucliadb_models/) and \.py$
  lint_nucliadb_node: any of: (^nucliadb_node/) and \.py$
  lint_nucliadb_node_binding: any of: (^nucliadb_node_binding/) and \.py$
  lint_nucliadb_performance: any of: (^nucliadb_performance/) and \.py$
  lint_nucliadb_sdk: any of: (^nucliadb_sdk/) and \.py$
  lint_nucliadb_telemetry: any of: (^nucliadb_telemetry/) and \.py$
  lint_nucliadb_utils: any of: (^nucliadb_utils/) and \.py$
  rustfmt_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
  clippy_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
