Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort_nucliadb, black_nucliadb, flake8_nucliadb, rustfmt_nucliadb, clippy_nucliadb

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: isort_nucliadb
        name: Isort
        entry: isort --profile black -c
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)
        types: ["python"]

      - id: black_nucliadb
        name: Black
        entry: black --check --verbose
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)
        types: ["python"]

      - id: flake8_nucliadb
        name: Flake8
        entry: flake8 --config=nucliadb/setup.cfg
        language: system
        files: (^nucliadb_utils/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_dataset/)|(^nucliadb_client/)|(^nucliadb_sdk/)|(^nucliadb_models/)|(^nucliadb/)
        types: ["python"]

      - id: rustfmt_nucliadb
        name: fmt
        entry: cargo +nightly fmt --check
        language: system
        files: (^nucliadb_vectors/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_paragraphs/)|(^nucliadb_texts/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nucliadb
        name: clippy
        entry: cargo clippy --all-features -- -D warnings
        language: system
        files: (^nucliadb_vectors/)|(^nucliadb_node/)|(^nucliadb_telemetry/)|(^nucliadb_paragraphs/)|(^nucliadb_texts/)
        types: ["rust"]
        pass_filenames: false

release version
  VERSION
Due: none

Increase size in integration tests too
  nucliadb/nucliadb/tests/integration/export_import/test_datamanager.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Fix uploads to GCS (#1415)
  nucliadb/nucliadb/export_import/datamanager.py
  nucliadb/nucliadb/tests/integration/export_import/test_datamanager.py
  nucliadb/nucliadb/tests/unit/export_import/test_datamanager.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix rust bindings build
  .github/workflows/nucliadb.yml
  .github/workflows/nucliadb_train.yml
  Makefile
  nucliadb_node/Cargo.toml
Due: none

fix rust bindings build
  .github/workflows/nucliadb.yml
  .github/workflows/nucliadb_train.yml
Due: none

bump node binding version req (#1406)
  nucliadb/requirements.txt
Due: none

Fix import resumable logic
  nucliadb/nucliadb/export_import/utils.py
  nucliadb/nucliadb/tests/integration/test_export_import.py
  nucliadb/nucliadb/tests/unit/export_import/test_importer.py
  nucliadb/nucliadb/tests/unit/export_import/test_utils.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

cleanups - removed trailing space
  nucliadb_protos/audit.proto
  nucliadb_protos/knowledgebox.proto
  nucliadb_protos/migrations.proto
  nucliadb_protos/nodereader.proto
  nucliadb_protos/noderesources.proto
  nucliadb_protos/resources.proto
  nucliadb_protos/utils.proto
  nucliadb_protos/writer.proto
Due: none

cleanups - removed trailing space (#1420)
  nucliadb_protos/audit.proto
  nucliadb_protos/knowledgebox.proto
  nucliadb_protos/migrations.proto
  nucliadb_protos/nodereader.proto
  nucliadb_protos/noderesources.proto
  nucliadb_protos/resources.proto
  nucliadb_protos/utils.proto
  nucliadb_protos/writer.proto
Due: none

Add PrometheusMetricObserver abstraction
  nucliadb_core/src/metrics/meters/mod.rs
  nucliadb_core/src/metrics/meters/prometheus.rs
  nucliadb_core/src/metrics/metric/grpc_ops.rs
  nucliadb_core/src/metrics/metric/mod.rs
  nucliadb_core/src/metrics/metric/request_time.rs
Due: none

stricter condition
  nucliadb/nucliadb/export_import/utils.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Fix import resumable logic (#1417)
  nucliadb/nucliadb/export_import/utils.py
  nucliadb/nucliadb/tests/integration/test_export_import.py
  nucliadb/nucliadb/tests/unit/export_import/test_importer.py
  nucliadb/nucliadb/tests/unit/export_import/test_utils.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

another flag
  Makefile
Due: none

tweak
  Makefile
Due: none

few more tweaks
  nucliadb/nucliadb/common/context/__init__.py
  nucliadb/nucliadb/export_import/exceptions.py
  nucliadb/nucliadb/export_import/exporter.py
  nucliadb/nucliadb/export_import/importer.py
  nucliadb/nucliadb/export_import/utils.py
  nucliadb/nucliadb/reader/api/v1/export_import.py
  nucliadb/nucliadb/tests/integration/test_export_import.py
  nucliadb/nucliadb/tests/unit/export_import/test_utils.py
  nucliadb/nucliadb/writer/api/v1/export_import.py
  nucliadb_models/nucliadb_models/export_import.py
  nucliadb_utils/nucliadb_utils/const.py
  nucliadb_utils/nucliadb_utils/featureflagging.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

few more tweaks
  nucliadb/nucliadb/tasks/consumer.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Fix bug
  nucliadb_utils/nucliadb_utils/helpers.py
  nucliadb_utils/nucliadb_utils/tests/unit/test_helpers.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

rbs integration
  .github/workflows/nucliadb.yml
  .github/workflows/nucliadb_train.yml
  scripts/download-build.sh
Due: none

Remove GC integration since it is moved to the index node writer
  nucliadb/nucliadb/common/cluster/manager.py
  nucliadb/nucliadb/common/cluster/standalone/grpc_node_binding.py
  nucliadb_node/nucliadb_node/pull.py
  nucliadb_node/nucliadb_node/tests/unit/test_pull.py
  nucliadb_node/nucliadb_node/writer.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fix
  nucliadb_node/nucliadb_node/pull.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

one more
  nucliadb/nucliadb/tests/unit/common/cluster/test_manager.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Fix bindings build (#1416)
  .github/workflows/nucliadb.yml
  .github/workflows/nucliadb_train.yml
  Makefile
  nucliadb_node/Cargo.toml
  scripts/download-build.sh
Due: none

give me the absolute path
  nucliadb_node/src/shards/shard_reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

implemented the apis
  Makefile
  nucliadb_node/src/grpc/grpc_reader.rs
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_protos/rust/src/noderesources.rs
  nucliadb_protos/rust/src/resources.rs
Due: rustfmt_nucliadb, clippy_nucliadb

rename/refactor
  nucliadb_node/src/shards/shard_reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

added a test
  nucliadb_node/tests/test_download.rs
Due: rustfmt_nucliadb, clippy_nucliadb

cleanups
  nucliadb_node/src/shards/shard_reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

savepoint
  nucliadb_node/src/grpc/grpc_reader.rs
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_protos/nodereader.proto
  nucliadb_protos/rust/src/nodereader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

plugged all the boiler-plate code
  nucliadb_node/src/grpc/grpc_reader.rs
  nucliadb_node/src/shards/shard_reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

better naming
  nucliadb_node/src/grpc/grpc_reader.rs
  nucliadb_node/src/shards/shard_reader.rs
  nucliadb_node/tests/test_download.rs
  nucliadb_protos/nodereader.proto
  nucliadb_protos/rust/src/nodereader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

no metrics here for now
  nucliadb_node/src/grpc/grpc_reader.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Address PR comments
  nucliadb/nucliadb/common/context/__init__.py
  nucliadb/nucliadb/export_import/importer.py
  nucliadb/nucliadb/tasks/consumer.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

A few more export/import polishments (#1423)
  nucliadb/nucliadb/common/context/__init__.py
  nucliadb/nucliadb/export_import/exceptions.py
  nucliadb/nucliadb/export_import/exporter.py
  nucliadb/nucliadb/export_import/importer.py
  nucliadb/nucliadb/export_import/utils.py
  nucliadb/nucliadb/reader/api/v1/export_import.py
  nucliadb/nucliadb/tasks/consumer.py
  nucliadb/nucliadb/tests/integration/test_export_import.py
  nucliadb/nucliadb/tests/unit/export_import/test_utils.py
  nucliadb/nucliadb/writer/api/v1/export_import.py
  nucliadb_models/nucliadb_models/export_import.py
  nucliadb_utils/nucliadb_utils/const.py
  nucliadb_utils/nucliadb_utils/featureflagging.py
  nucliadb_utils/nucliadb_utils/helpers.py
  nucliadb_utils/nucliadb_utils/tests/unit/test_helpers.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Done
  docs/tutorials/EXPORT_IMPORT.md
  nucliadb/nucliadb/common/datamanagers/kb.py
  nucliadb/nucliadb/export_import/utils.py
  nucliadb/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/nucliadb/reader/api/v1/export_import.py
  nucliadb/nucliadb/writer/api/v1/export_import.py
  nucliadb_utils/nucliadb_utils/keys.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

Done
  nucliadb/nucliadb/reader/api/v1/export_import.py
  nucliadb/nucliadb/writer/api/v1/export_import.py
Due: isort_nucliadb, black_nucliadb, flake8_nucliadb

fmt
  nucliadb_node/tests/test_download.rs
Due: rustfmt_nucliadb, clippy_nucliadb

Retry tikv install 3 times
  .github/workflows/nucliadb.yml
  .github/workflows/nucliadb_ingest.yml
  scripts/run-tikv.sh
  scripts/wait-for-service.sh
Due: none

bump
  nucliadb/requirements.txt
  nucliadb_models/VERSION
  nucliadb_sdk/VERSION
  nucliadb_sdk/requirements.txt
Due: none
