Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

lint_nucliadb:
  name: Lint nucliadb
  entry: make -C nucliadb lint
  language: system
  pass_filenames: false

lint_nucliadb_dataset:
  name: Lint nucliadb_dataset
  entry: make -C nucliadb_dataset lint
  language: system
  pass_filenames: false

lint_nucliadb_models:
  name: Lint nucliadb_models
  entry: make -C nucliadb_models lint
  language: system
  pass_filenames: false

lint_nucliadb_node:
  name: Lint nucliadb_node
  entry: make -C nucliadb_node lint
  language: system
  pass_filenames: false

lint_nucliadb_node_binding:
  name: Lint nucliadb_node_binding
  entry: make -C nucliadb_node_binding lint
  language: system
  pass_filenames: false

lint_nucliadb_performance:
  name: Lint nucliadb_performance
  entry: make -C nucliadb_performance lint
  language: system
  pass_filenames: false

lint_nucliadb_sdk:
  name: Lint nucliadb_sdk
  entry: make -C nucliadb_sdk lint
  language: system
  pass_filenames: false

lint_nucliadb_telemetry:
  name: Lint nucliadb_telemetry
  entry: make -C nucliadb_telemetry lint
  language: system
  pass_filenames: false

lint_nucliadb_utils:
  name: Lint nucliadb_utils
  entry: make -C nucliadb_utils lint
  language: system
  pass_filenames: false

rustfmt_nucliadb:
  name: fmt
  entry: cargo fmt --check
  language: system
  pass_filenames: false

clippy_nucliadb:
  name: clippy
  entry: cargo clippy --all-features -- -D warnings
  language: system
  pass_filenames: false

Add test for list vectorsets
  nucliadb/tests/nucliadb/integration/test_vectorsets_api.py
Due: lint_nucliadb

Remove DocumentSearchRequest
  nidx/nidx_text/src/lib.rs
  nidx/nidx_text/src/reader.rs
  nidx/nidx_text/src/search_query.rs
  nidx/nidx_text/tests/test_flow.rs
  nidx/nidx_text/tests/test_search.rs
  nidx/src/searcher/query_planner.rs
  nidx/src/searcher/shard_search.rs
  nucliadb_protos/nodereader.proto
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.pyi
Due: none

Add list vectorsets to the SDK
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
Due: lint_nucliadb_sdk

Improve awful vectorset test
  nucliadb_sdk/tests/test_vectorsets.py
Due: lint_nucliadb_sdk

Remove unused params + use image version from deploy workflow
  .github/workflows/_build-img-nucliadb.yml
Due: none

Clippy pass
  nidx/nidx_vector/src/data_point/mod.rs
  nucliadb_protos/nodereader.proto
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.pyi
Due: none

Forgot to commit
  nidx/nidx_paragraph/src/request_types.rs
  nidx/nidx_text/src/request_types.rs
  nidx/nidx_vector/src/request_types.rs
Due: none

Fix unit tests
  nucliadb/tests/search/unit/search/test_query.py
  nucliadb/tests/search/unit/search/test_query_parsing.py
Due: lint_nucliadb

Fix relation search
  nucliadb/src/nucliadb/search/search/find.py
Due: lint_nucliadb

Remove replaced vectorset task
  nucliadb/src/nucliadb/search/search/query.py
Due: lint_nucliadb

Do not fuse results if we only have one list (#2853)
  nucliadb/src/nucliadb/search/search/find_merge.py
Due: lint_nucliadb

Add list vectorsets endpoint (#2854)
  charts/nucliadb_reader/templates/reader.vs.yaml
  nucliadb/src/nucliadb/reader/api/v1/__init__.py
  nucliadb/src/nucliadb/reader/api/v1/vectorsets.py
  nucliadb/tests/nucliadb/integration/test_vectorsets_api.py
  nucliadb_models/src/nucliadb_models/vectorsets.py
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
  nucliadb_sdk/tests/test_vectorsets.py
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_sdk

Remove debug print
  nucliadb/src/nucliadb/search/search/query_parser/fetcher.py
Due: lint_nucliadb

Remove Skip Step
  .github/workflows/_build-img-nucliadb.yml
Due: none

Clippy all the things
  .github/workflows/ci.yml
  nidx/nidx_relation/tests/common/mod.rs
  nidx/tests/test_search_relations.rs
  nidx/tests/test_shards_api.rs
Due: none

Last test before merge main
  .github/workflows/_build-img-nucliadb.yml
  .github/workflows/deploy.yml
Due: none

Remove some node protos (#2855)
  .github/workflows/ci.yml
  nidx/nidx_paragraph/src/lib.rs
  nidx/nidx_paragraph/src/reader.rs
  nidx/nidx_paragraph/src/request_types.rs
  nidx/nidx_paragraph/src/search_query.rs
  nidx/nidx_paragraph/tests/reader.rs
  nidx/nidx_relation/tests/common/mod.rs
  nidx/nidx_text/src/lib.rs
  nidx/nidx_text/src/reader.rs
  nidx/nidx_text/src/request_types.rs
  nidx/nidx_text/src/search_query.rs
  nidx/nidx_text/tests/test_flow.rs
  nidx/nidx_text/tests/test_search.rs
  nidx/nidx_vector/src/data_point/mod.rs
  nidx/nidx_vector/src/data_point_provider/reader.rs
  nidx/nidx_vector/src/lib.rs
  nidx/nidx_vector/src/request_types.rs
  nidx/nidx_vector/tests/test_basic_search.rs
  nidx/nidx_vector/tests/test_hidden.rs
  nidx/src/searcher/query_planner.rs
  nidx/src/searcher/shard_search.rs
  nidx/tests/test_search_relations.rs
  nidx/tests/test_shards_api.rs
  nidx/tests/test_synced_searcher.rs
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb_protos/nodereader.proto
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/nodereader_pb2.pyi
Due: lint_nucliadb

Add new building pipeline for nucliadb images (#2851)
  .github/actions/push-img-nucliadb/action.yml
  .github/workflows/_build-img-nucliadb.yml
  .github/workflows/deploy.yml
Due: none

Move labels, synonyms and entities to fetcher
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/src/nucliadb/search/search/query_parser/fetcher.py
Due: lint_nucliadb

Vectorset can't be None anymore
  nucliadb/src/nucliadb/search/search/query.py
Due: lint_nucliadb

Move optimization to avoid 2 calls to predict to fetcher
  nucliadb/src/nucliadb/search/search/query.py
  nucliadb/src/nucliadb/search/search/query_parser/fetcher.py
Due: lint_nucliadb

Fix more unit tests
  nucliadb/tests/search/unit/search/test_query.py
Due: lint_nucliadb

Fix debug in ask response
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
Due: lint_nucliadb_sdk

Set exclude_unset=True again
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
  nucliadb_sdk/tests/test_ask.py
Due: lint_nucliadb_models, lint_nucliadb_sdk

Add security group header
  nucliadb/src/nucliadb/standalone/settings.py
  nucliadb/tests/nucliadb/integration/test_security.py
  nucliadb_utils/src/nucliadb_utils/authentication.py
Due: lint_nucliadb, lint_nucliadb_utils

Fix missing await
  nucliadb/src/nucliadb/search/search/query_parser/fetcher.py
Due: lint_nucliadb

Test implement sdk (#2824)
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_sdk/src/nucliadb_sdk/tests/fixtures.py
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
  nucliadb_sdk/tests/test_ask.py
  nucliadb_sdk/tests/test_export_import.py
  nucliadb_sdk/tests/test_request_serialization.py
Due: lint_nucliadb_models, lint_nucliadb_sdk

fix test
  nucliadb/tests/nucliadb/integration/test_security.py
Due: lint_nucliadb

fix
  nucliadb/tests/nucliadb/integration/test_security.py
Due: lint_nucliadb

add processing_id to audit proto
  nucliadb_protos/audit.proto
  nucliadb_protos/python/src/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/audit_pb2.pyi
Due: none

Debug
  nucliadb/tests/nucliadb/integration/test_security.py
Due: lint_nucliadb

separate
  nucliadb/tests/nucliadb/integration/test_security.py
Due: lint_nucliadb

Remove debug raise exception
  nucliadb/src/nucliadb/search/search/query_parser/fetcher.py
Due: lint_nucliadb

Fix indexer traces
  nidx/src/indexer.rs
  nidx/src/searcher/shard_search.rs
  nidx/src/searcher/shard_suggest.rs
Due: none

Inject header into payload
  nucliadb/src/nucliadb/search/api/v1/ask.py
  nucliadb/tests/nucliadb/integration/test_security.py
Due: lint_nucliadb

Share prefiltering struct with paragraphs
  nidx/Cargo.lock
  nidx/nidx_paragraph/src/lib.rs
  nidx/nidx_paragraph/src/reader.rs
  nidx/nidx_paragraph/src/search_query.rs
  nidx/nidx_paragraph/src/set_query.rs
  nidx/nidx_paragraph/tests/reader.rs
  nidx/nidx_text/src/prefilter.rs
  nidx/nidx_text/src/reader.rs
  nidx/nidx_text/tests/test_search.rs
  nidx/nidx_types/Cargo.toml
  nidx/nidx_types/src/lib.rs
  nidx/nidx_types/src/prefilter.rs
  nidx/src/searcher/query_planner.rs
  nidx/src/searcher/shard_search.rs
  nidx/src/searcher/shard_suggest.rs
Due: none

Path conditions:
  lint_nucliadb: any of: (^nucliadb/) and \.py$
  lint_nucliadb_dataset: any of: (^nucliadb_dataset/) and \.py$
  lint_nucliadb_models: any of: (^nucliadb_models/) and \.py$
  lint_nucliadb_node: any of: (^nucliadb_node/) and \.py$
  lint_nucliadb_node_binding: any of: (^nucliadb_node_binding/) and \.py$
  lint_nucliadb_performance: any of: (^nucliadb_performance/) and \.py$
  lint_nucliadb_sdk: any of: (^nucliadb_sdk/) and \.py$
  lint_nucliadb_telemetry: any of: (^nucliadb_telemetry/) and \.py$
  lint_nucliadb_utils: any of: (^nucliadb_utils/) and \.py$
  rustfmt_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
  clippy_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
