Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nidx, clippy_nidx

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint_nucliadb
        name: Lint nucliadb
        entry: make -C nucliadb lint
        language: system
        files: (^nucliadb/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_dataset
        name: Lint nucliadb_dataset
        entry: make -C nucliadb_dataset lint
        language: system
        files: (^nucliadb_dataset/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_models
        name: Lint nucliadb_models
        entry: make -C nucliadb_models lint
        language: system
        files: (^nucliadb_models/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_sdk
        name: Lint nucliadb_sdk
        entry: make -C nucliadb_sdk lint
        language: system
        files: (^nucliadb_sdk/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_telemetry
        name: Lint nucliadb_telemetry
        entry: make -C nucliadb_telemetry lint
        language: system
        files: (^nucliadb_telemetry/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_utils
        name: Lint nucliadb_utils
        entry: make -C nucliadb_utils lint
        language: system
        files: (^nucliadb_utils/)
        types: ["python"]
        pass_filenames: false

      - id: rustfmt_nidx
        name: Rust format check for nidx
        entry: cargo fmt --check --all --manifest-path nidx/Cargo.toml
        language: system
        files: (^nidx/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nidx
        name: Clippy warning check for nidx
        entry: cargo clippy --all-features --manifest-path nidx/Cargo.toml -- -D warnings
        language: system
        files: (^nidx/)
        types: ["rust"]
        pass_filenames: false

Instrument search merge
  nidx/src/searcher/shard_merge.rs
Due: rustfmt_nidx, clippy_nidx

Tests for key_value processing status
  nucliadb/tests/nucliadb/integration/test_processing_status.py
Due: lint_nucliadb

Instrument scatter-gather cycle
  nidx/src/searcher/grpc.rs
Due: rustfmt_nidx, clippy_nidx

Consider KV field modifications in processor as processed
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/tests/nucliadb/integration/test_processing_status.py
Due: lint_nucliadb

Mark KV fields from processor/DA as processed (#3782)
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/tests/nucliadb/integration/test_processing_status.py
Due: lint_nucliadb

Add more instrumentation to nidx distributed search (#3781)
  nidx/src/searcher/grpc.rs
  nidx/src/searcher/shard_merge.rs
Due: rustfmt_nidx, clippy_nidx

Security bump
  nidx/Cargo.lock
Due: none

Mark test as flaky and rerun it
  nucliadb/tests/nucliadb/integration/search/test_search.py
Due: lint_nucliadb

Mark test as flaky and rerun it (#3784)
  nucliadb/tests/nucliadb/integration/search/test_search.py
Due: lint_nucliadb

Security bump (#3783)
  nidx/Cargo.lock
Due: none

Update Dockerfile Rust version
  Dockerfile.nidx
Due: none

Shutdown JoinSet before exiting current span
  nidx/src/searcher/grpc.rs
Due: rustfmt_nidx, clippy_nidx

Shutdown JoinSet before exiting current span (#3787)
  nidx/src/searcher/grpc.rs
Due: rustfmt_nidx, clippy_nidx

Add tests
  nucliadb/src/nucliadb/search/api/v1/predict_proxy.py
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
  nucliadb_utils/tests/unit/audit/test_stream.py
Due: lint_nucliadb, lint_nucliadb_utils

bump nuclia models
  nucliadb/pyproject.toml
  nucliadb_sdk/pyproject.toml
  uv.lock
Due: none

Fix backup restore read for less data than requested
  nucliadb/src/nucliadb/backups/restore.py
Due: lint_nucliadb

Validate query params too
  nucliadb/src/nucliadb/ingest/consumer/auditing.py
  nucliadb/src/nucliadb/ingest/consumer/shard_creator.py
  nucliadb/src/nucliadb/search/api/v1/catalog.py
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
  nucliadb_utils/tests/unit/audit/test_stream.py
Due: lint_nucliadb, lint_nucliadb_utils

Fix
  nucliadb/src/nucliadb/ingest/consumer/auditing.py
Due: lint_nucliadb

Update rust deps
  nidx/Cargo.lock
  nidx/Cargo.toml
  nidx/src/telemetry.rs
  nidx/src/telemetry/log_format.rs
Due: rustfmt_nidx, clippy_nidx

Fix unit tests
  nucliadb/tests/ingest/unit/consumer/test_shard_creator.py
Due: lint_nucliadb

Fix backup restore read for less data than requested (#3798)
  nucliadb/src/nucliadb/backups/restore.py
Due: lint_nucliadb

Explain errors
  nidx/src/searcher/shard_search.rs
Due: rustfmt_nidx, clippy_nidx

Refactor scatter-gather to play better with async tracing
  nidx/src/searcher/grpc.rs
Due: rustfmt_nidx, clippy_nidx

Validate KB and backup bucket exist before restore
  nucliadb/src/nucliadb/backups/const.py
  nucliadb/src/nucliadb/backups/restore.py
Due: lint_nucliadb

Fix scatter-gather async tracing (#3801)
  nidx/src/searcher/grpc.rs
  nidx/src/searcher/shard_search.rs
Due: rustfmt_nidx, clippy_nidx

Publish pending API endpoints
  nucliadb/src/nucliadb/writer/api/v1/field.py
Due: lint_nucliadb

Update ty and clean type: ignores
  nucliadb/src/nucliadb/search/api/v1/augment.py
  nucliadb/src/nucliadb/search/augmentor/augmentor.py
  nucliadb/src/nucliadb/search/predict.py
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/tests/ingest/unit/orm/test_resource.py
  nucliadb/tests/ingest/unit/service/test_writer.py
  nucliadb/tests/nucliadb/ask/test_ask_security.py
  nucliadb/tests/nucliadb/integration/test_security.py
  nucliadb/tests/nucliadb/integration/test_vectorsets.py
  nucliadb/tests/nucliadb/unit/common/test_back_pressure.py
  nucliadb/tests/nucliadb/unit/common/test_context.py
  nucliadb/tests/nucliadb/unit/export_import/test_datamanager.py
  nucliadb/tests/search/integration/requesters/test_utils.py
  nucliadb/tests/search/unit/search/search/test_fetcher_cache.py
  nucliadb/tests/train/test_get_entities.py
  nucliadb_models/tests/test_metadata.py
  nucliadb_models/tests/test_search.py
  nucliadb_models/tests/test_security.py
  nucliadb_utils/tests/unit/storages/test_storage.py
  nucliadb_utils/tests/unit/test_transaction.py
  uv.lock
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_utils

Publish pending API endpoints (#3802)
  nucliadb/src/nucliadb/writer/api/v1/field.py
Due: lint_nucliadb

Add tests
  nucliadb/src/nucliadb/backups/restore.py
  nucliadb/tests/nucliadb/integration/test_backups.py
Due: lint_nucliadb

Address comments
  nucliadb/src/nucliadb/ingest/consumer/auditing.py
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
  nucliadb_utils/tests/unit/audit/test_stream.py
Due: lint_nucliadb, lint_nucliadb_utils

Address comments
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
Due: lint_nucliadb_utils

Fix flaky test
  nucliadb/tests/nucliadb/integration/search/test_search.py
Due: lint_nucliadb

fix_test
  nucliadb/tests/ingest/unit/orm/test_resource.py
Due: lint_nucliadb

Fix condition
  nucliadb/src/nucliadb/backups/restore.py
Due: lint_nucliadb

Validate KB and backup bucket exist before a restore (#3800)
  nucliadb/src/nucliadb/backups/const.py
  nucliadb/src/nucliadb/backups/restore.py
  nucliadb/tests/nucliadb/integration/test_backups.py
Due: lint_nucliadb

Sanitize user data sent to audit (#3790)
  nucliadb/pyproject.toml
  nucliadb/src/nucliadb/ingest/consumer/auditing.py
  nucliadb/src/nucliadb/ingest/consumer/shard_creator.py
  nucliadb/src/nucliadb/search/api/v1/catalog.py
  nucliadb/src/nucliadb/search/api/v1/predict_proxy.py
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/tests/ingest/unit/consumer/test_shard_creator.py
  nucliadb_sdk/pyproject.toml
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
  nucliadb_utils/tests/unit/audit/test_stream.py
  uv.lock
Due: lint_nucliadb, lint_nucliadb_utils

misc prod improvements
  nucliadb/src/nucliadb/common/back_pressure/materializer.py
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
  nucliadb/src/nucliadb/reader/api/v1/resource.py
  nucliadb/src/nucliadb/writer/resource/field.py
Due: lint_nucliadb

do not capture twice
  nucliadb/src/nucliadb/ingest/orm/processor/processor.py
Due: lint_nucliadb

use exc_info instead
  nucliadb/src/nucliadb/common/back_pressure/materializer.py
Due: lint_nucliadb

Fix
  nucliadb/src/nucliadb/writer/resource/field.py
Due: lint_nucliadb
