Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

lint_nucliadb:
  name: Lint nucliadb
  entry: make -C nucliadb lint
  language: system
  pass_filenames: false

lint_nucliadb_dataset:
  name: Lint nucliadb_dataset
  entry: make -C nucliadb_dataset lint
  language: system
  pass_filenames: false

lint_nucliadb_models:
  name: Lint nucliadb_models
  entry: make -C nucliadb_models lint
  language: system
  pass_filenames: false

lint_nucliadb_node:
  name: Lint nucliadb_node
  entry: make -C nucliadb_node lint
  language: system
  pass_filenames: false

lint_nucliadb_node_binding:
  name: Lint nucliadb_node_binding
  entry: make -C nucliadb_node_binding lint
  language: system
  pass_filenames: false

lint_nucliadb_performance:
  name: Lint nucliadb_performance
  entry: make -C nucliadb_performance lint
  language: system
  pass_filenames: false

lint_nucliadb_sdk:
  name: Lint nucliadb_sdk
  entry: make -C nucliadb_sdk lint
  language: system
  pass_filenames: false

lint_nucliadb_telemetry:
  name: Lint nucliadb_telemetry
  entry: make -C nucliadb_telemetry lint
  language: system
  pass_filenames: false

lint_nucliadb_utils:
  name: Lint nucliadb_utils
  entry: make -C nucliadb_utils lint
  language: system
  pass_filenames: false

rustfmt_nucliadb:
  name: fmt
  entry: cargo fmt --check
  language: system
  pass_filenames: false

clippy_nucliadb:
  name: clippy
  entry: cargo clippy --all-features -- -D warnings
  language: system
  pass_filenames: false

add back search and suggestion kb_usage
  nucliadb/src/nucliadb/search/api/v1/ask.py
  nucliadb/src/nucliadb/search/api/v1/suggest.py
Due: lint_nucliadb

send search event on find
  nucliadb/src/nucliadb/search/search/find.py
Due: lint_nucliadb

not needed here
  nucliadb/src/nucliadb/search/api/v1/ask.py
Due: lint_nucliadb

move suggestion
  nucliadb/src/nucliadb/search/api/v1/suggest.py
Due: lint_nucliadb

Do not log error when we are being optimisting about field presence on rag strategy prompt building
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/src/nucliadb/search/search/paragraphs.py
Due: lint_nucliadb

fix not receiving searches and suggestions to kb_usage (#2349)
  nucliadb/src/nucliadb/search/api/v1/suggest.py
  nucliadb/src/nucliadb/search/search/find.py
Due: lint_nucliadb

Try to catch all errors and send to sentry
  nucliadb/src/nucliadb/common/cluster/rebalance.py
  nucliadb/src/nucliadb/purge/__init__.py
Due: lint_nucliadb

better utils lifecycle order
  nucliadb/src/nucliadb/common/cluster/rebalance.py
Due: lint_nucliadb

Catch all errors on purge and rebalance commands (#2351)
  nucliadb/src/nucliadb/common/cluster/rebalance.py
  nucliadb/src/nucliadb/purge/__init__.py
Due: lint_nucliadb

Do not log error when we are being optimisting about field presence on rag strategy prompt building (#2350)
  nucliadb/src/nucliadb/search/search/chat/prompt.py
  nucliadb/src/nucliadb/search/search/paragraphs.py
Due: lint_nucliadb

Rollover uses resource date, not origin date
  nucliadb/src/nucliadb/common/cluster/rollover.py
  nucliadb/src/nucliadb/common/cluster/utils.py
  nucliadb/src/nucliadb/common/datamanagers/resources.py
  nucliadb/tests/nucliadb/unit/common/cluster/test_rollover.py
Due: lint_nucliadb

Lint
  nucliadb/src/nucliadb/common/cluster/rollover.py
  nucliadb/src/nucliadb/common/cluster/utils.py
Due: lint_nucliadb

Rollover uses resource date, not origin date (#2352)
  nucliadb/src/nucliadb/common/cluster/rollover.py
  nucliadb/src/nucliadb/common/cluster/utils.py
  nucliadb/src/nucliadb/common/datamanagers/resources.py
  nucliadb/tests/nucliadb/unit/common/cluster/test_rollover.py
Due: lint_nucliadb

Added
  nucliadb/src/nucliadb/common/locking.py
  nucliadb/src/nucliadb/common/maindb/driver.py
  nucliadb/src/nucliadb/common/maindb/pg.py
  nucliadb/src/nucliadb/writer/api/v1/resource.py
  nucliadb/src/nucliadb/writer/api/v1/slug.py
  nucliadb/src/nucliadb/writer/api/v1/upload.py
Due: lint_nucliadb

Extend test
  nucliadb/tests/nucliadb/integration/common/test_locking.py
Due: lint_nucliadb

Add more tests
  nucliadb/tests/nucliadb/integration/test_resources.py
Due: lint_nucliadb

fix kb_usage report utility not sending messages
  nucliadb_utils/src/nucliadb_utils/nuclia_usage/utils/kb_usage_report.py
  nucliadb_utils/src/nucliadb_utils/utilities.py
Due: lint_nucliadb_utils

Check for uniqueness inside slug lock
  nucliadb/src/nucliadb/writer/api/v1/slug.py
Due: lint_nucliadb

fix test
  nucliadb/tests/ingest/fixtures.py
Due: lint_nucliadb

fix test
  nucliadb_utils/tests/unit/nuclia_usage/test_kb_usage_report.py
Due: lint_nucliadb_utils

fix test
  nucliadb/tests/fixtures.py
Due: lint_nucliadb

Update nucliadb/src/nucliadb/common/maindb/pg.py
  nucliadb/src/nucliadb/common/maindb/pg.py
Due: lint_nucliadb

fix test
  nucliadb/tests/ingest/fixtures.py
  nucliadb/tests/ingest/integration/consumer/test_materializer.py
  nucliadb_utils/tests/unit/nuclia_usage/test_kb_usage_report.py
Due: lint_nucliadb, lint_nucliadb_utils

fix lint
  nucliadb_utils/src/nucliadb_utils/settings.py
Due: lint_nucliadb_utils

Safer slug uniqueness logic (#2353)
  nucliadb/src/nucliadb/common/locking.py
  nucliadb/src/nucliadb/common/maindb/driver.py
  nucliadb/src/nucliadb/common/maindb/pg.py
  nucliadb/src/nucliadb/writer/api/v1/resource.py
  nucliadb/src/nucliadb/writer/api/v1/slug.py
  nucliadb/src/nucliadb/writer/api/v1/upload.py
  nucliadb/tests/nucliadb/integration/common/test_locking.py
  nucliadb/tests/nucliadb/integration/test_resources.py
Due: lint_nucliadb

format
  nucliadb/tests/ingest/fixtures.py
Due: lint_nucliadb

more fixes
  nucliadb_utils/src/nucliadb_utils/nuclia_usage/utils/kb_usage_report.py
  nucliadb_utils/tests/unit/nuclia_usage/test_kb_usage_report.py
Due: lint_nucliadb_utils

test order utilities
  nucliadb/src/nucliadb/ingest/app.py
  nucliadb/src/nucliadb/search/lifecycle.py
Due: lint_nucliadb

revert kb_usage utility changes
  nucliadb/src/nucliadb/ingest/app.py
  nucliadb/src/nucliadb/ingest/consumer/auditing.py
  nucliadb/src/nucliadb/ingest/consumer/materializer.py
  nucliadb/src/nucliadb/ingest/consumer/service.py
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/api/v1/suggest.py
  nucliadb/src/nucliadb/search/lifecycle.py
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/tests/fixtures.py
  nucliadb/tests/ingest/fixtures.py
  nucliadb/tests/ingest/integration/consumer/test_materializer.py
  nucliadb/tests/ingest/integration/ingest/test_ingest.py
  nucliadb/tests/ingest/unit/consumer/test_auditing.py
  nucliadb_utils/src/nucliadb_utils/audit/audit.py
  nucliadb_utils/src/nucliadb_utils/audit/basic.py
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
  nucliadb_utils/src/nucliadb_utils/nuclia_usage/utils/kb_usage_report.py
  nucliadb_utils/src/nucliadb_utils/utilities.py
  nucliadb_utils/tests/unit/audit/test_stream.py
  nucliadb_utils/tests/unit/nuclia_usage/test_kb_usage_report.py
Due: lint_nucliadb, lint_nucliadb_utils

remove audit kb
  nucliadb/tests/ingest/integration/ingest/test_ingest.py
Due: lint_nucliadb

fix test
  nucliadb/tests/search/integration/api/v1/test_ask_audit.py
Due: lint_nucliadb

fix lint
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
  nucliadb_utils/src/nucliadb_utils/utilities.py
  nucliadb_utils/tests/unit/audit/test_stream.py
Due: lint_nucliadb_utils

fix tests
  nucliadb_utils/tests/unit/audit/test_stream.py
Due: lint_nucliadb_utils

fix lint
  nucliadb/tests/ingest/integration/ingest/test_ingest.py
Due: lint_nucliadb

revert kb_usage utility changes (#2356)
  nucliadb/src/nucliadb/ingest/app.py
  nucliadb/src/nucliadb/ingest/consumer/auditing.py
  nucliadb/src/nucliadb/ingest/consumer/materializer.py
  nucliadb/src/nucliadb/ingest/consumer/service.py
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/src/nucliadb/search/api/v1/search.py
  nucliadb/src/nucliadb/search/api/v1/suggest.py
  nucliadb/src/nucliadb/search/lifecycle.py
  nucliadb/src/nucliadb/search/search/find.py
  nucliadb/tests/fixtures.py
  nucliadb/tests/ingest/fixtures.py
  nucliadb/tests/ingest/integration/consumer/test_materializer.py
  nucliadb/tests/ingest/integration/ingest/test_ingest.py
  nucliadb/tests/ingest/unit/consumer/test_auditing.py
  nucliadb/tests/search/integration/api/v1/test_ask_audit.py
  nucliadb_utils/src/nucliadb_utils/audit/audit.py
  nucliadb_utils/src/nucliadb_utils/audit/basic.py
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
  nucliadb_utils/src/nucliadb_utils/nuclia_usage/utils/kb_usage_report.py
  nucliadb_utils/src/nucliadb_utils/utilities.py
  nucliadb_utils/tests/unit/audit/test_stream.py
  nucliadb_utils/tests/unit/nuclia_usage/test_kb_usage_report.py
Due: lint_nucliadb, lint_nucliadb_utils

Propagate similarity function properly to pinecone indexes
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
Due: lint_nucliadb

Propagate similarity function properly to pinecone indexes
  nucliadb/tests/nucliadb/integration/test_pinecone_kb.py
Due: lint_nucliadb

Use proper index metrics pinecone (#2357)
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
  nucliadb/tests/nucliadb/integration/test_pinecone_kb.py
Due: lint_nucliadb

Path conditions:
  lint_nucliadb: any of: (^nucliadb/) and \.py$
  lint_nucliadb_dataset: any of: (^nucliadb_dataset/) and \.py$
  lint_nucliadb_models: any of: (^nucliadb_models/) and \.py$
  lint_nucliadb_node: any of: (^nucliadb_node/) and \.py$
  lint_nucliadb_node_binding: any of: (^nucliadb_node_binding/) and \.py$
  lint_nucliadb_performance: any of: (^nucliadb_performance/) and \.py$
  lint_nucliadb_sdk: any of: (^nucliadb_sdk/) and \.py$
  lint_nucliadb_telemetry: any of: (^nucliadb_telemetry/) and \.py$
  lint_nucliadb_utils: any of: (^nucliadb_utils/) and \.py$
  rustfmt_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
  clippy_nucliadb: any of: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/) and \.rs$
