Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nidx, clippy_nidx

lint_nucliadb:
  name: Lint nucliadb
  entry: make -C nucliadb lint
  language: system
  pass_filenames: false

lint_nucliadb_dataset:
  name: Lint nucliadb_dataset
  entry: make -C nucliadb_dataset lint
  language: system
  pass_filenames: false

lint_nucliadb_models:
  name: Lint nucliadb_models
  entry: make -C nucliadb_models lint
  language: system
  pass_filenames: false

lint_nucliadb_sdk:
  name: Lint nucliadb_sdk
  entry: make -C nucliadb_sdk lint
  language: system
  pass_filenames: false

lint_nucliadb_telemetry:
  name: Lint nucliadb_telemetry
  entry: make -C nucliadb_telemetry lint
  language: system
  pass_filenames: false

lint_nucliadb_utils:
  name: Lint nucliadb_utils
  entry: make -C nucliadb_utils lint
  language: system
  pass_filenames: false

rustfmt_nidx:
  name: Rust format check for nidx
  entry: cargo fmt --check --all --manifest-path nidx/Cargo.toml
  language: system
  pass_filenames: false

clippy_nidx:
  name: Clippy warning check for nidx
  entry: cargo clippy --all-features --manifest-path nidx/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

add reasoning to /ask (#3270)
  nucliadb/pyproject.toml
  nucliadb/src/nucliadb/search/predict.py
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/src/nucliadb/search/search/metrics.py
  nucliadb/src/nucliadb/search/search/predict_proxy.py
  nucliadb/tests/nucliadb/integration/test_ask.py
  nucliadb_models/src/nucliadb_models/search.py
  nucliadb_protos/audit.proto
  nucliadb_sdk/pyproject.toml
  nucliadb_sdk/src/nucliadb_sdk/v2/sdk.py
  nucliadb_sdk/tests/test_ask.py
  nucliadb_utils/src/nucliadb_utils/audit/audit.py
  nucliadb_utils/src/nucliadb_utils/audit/basic.py
  nucliadb_utils/src/nucliadb_utils/audit/stream.py
  nucliadb_utils/tests/unit/audit/test_stream.py
  uv.lock
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_sdk, lint_nucliadb_utils

Ask for preload of HNSW index
  nidx/nidx_vector/src/segment.rs
Due: rustfmt_nidx, clippy_nidx

Update nidx deps
  nidx/Cargo.lock
  nidx/nidx_vector/Cargo.toml
  nidx/nidx_vector/src/hnsw/ops_hnsw.rs
  nidx/nidx_vector/src/hnsw/ram_hnsw.rs
Due: rustfmt_nidx, clippy_nidx

Update nidx deps (#3278)
  nidx/Cargo.lock
  nidx/nidx_vector/Cargo.toml
  nidx/nidx_vector/src/hnsw/ops_hnsw.rs
  nidx/nidx_vector/src/hnsw/ram_hnsw.rs
Due: rustfmt_nidx, clippy_nidx

Ask for preload of HNSW index (#3277)
  nidx/nidx_vector/src/segment.rs
Due: rustfmt_nidx, clippy_nidx

Nidx chart: Allow setting api replicas (#3274)
  charts/nidx/README.md
  charts/nidx/templates/api-deploy.yaml
  charts/nidx/templates/api-pdb.yaml
  charts/nidx/templates/api-svc.yaml
  charts/nidx/templates/indexer-deploy.yaml
  charts/nidx/templates/scheduler-deploy.yaml
  charts/nidx/templates/searcher-deploy.yaml
  charts/nidx/templates/worker-deploy.yaml
  charts/nidx/values.yaml
Due: none

Add kb and resource metrics
  nucliadb/src/nucliadb/metrics_exporter.py
  nucliadb/tests/nucliadb/unit/test_metrics_exporter.py
Due: lint_nucliadb

Add kb and resource metrics (#3279)
  nucliadb/src/nucliadb/metrics_exporter.py
  nucliadb/tests/nucliadb/unit/test_metrics_exporter.py
Due: lint_nucliadb

Set env vars on ci
  .github/workflows/ci.yml
  nucliadb/tests/standalone/integration/test_upload_download.py
Due: lint_nucliadb

Retry bucket creation errors
  nucliadb_utils/src/nucliadb_utils/storages/exceptions.py
  nucliadb_utils/src/nucliadb_utils/storages/gcs.py
  nucliadb_utils/src/nucliadb_utils/storages/s3.py
Due: lint_nucliadb_utils

simplify more
  nucliadb/src/nucliadb/writer/tus/gcs.py
Due: lint_nucliadb

fix test
  nucliadb_utils/tests/unit/storages/test_gcs.py
Due: lint_nucliadb_utils

improve more typings
  nucliadb_utils/src/nucliadb_utils/storages/gcs.py
  nucliadb_utils/src/nucliadb_utils/tests/gcs.py
  nucliadb_utils/src/nucliadb_utils/utilities.py
Due: lint_nucliadb_utils

Fix
  nucliadb_utils/src/nucliadb_utils/storages/gcs.py
  nucliadb_utils/src/nucliadb_utils/tests/gcs.py
  nucliadb_utils/tests/unit/test_utilities.py
Due: lint_nucliadb_utils

Retry bucket creation errors (#3281)
  nucliadb/src/nucliadb/writer/tus/gcs.py
  nucliadb_utils/src/nucliadb_utils/storages/exceptions.py
  nucliadb_utils/src/nucliadb_utils/storages/gcs.py
  nucliadb_utils/src/nucliadb_utils/storages/s3.py
  nucliadb_utils/src/nucliadb_utils/tests/gcs.py
  nucliadb_utils/src/nucliadb_utils/utilities.py
  nucliadb_utils/tests/unit/storages/test_gcs.py
  nucliadb_utils/tests/unit/test_utilities.py
Due: lint_nucliadb, lint_nucliadb_utils

Hydration tests: related paragraphs
  nucliadb/src/nucliadb/search/api/v1/hydrate.py
  nucliadb/tests/nucliadb/integration/search/test_hydration.py
  nucliadb/tests/utils/broker_messages/__init__.py
  nucliadb/tests/utils/broker_messages/fields.py
Due: lint_nucliadb

Development version of the Hydration API
  nucliadb/src/nucliadb/common/ids.py
  nucliadb/src/nucliadb/ingest/fields/base.py
  nucliadb/src/nucliadb/search/api/v1/__init__.py
  nucliadb/src/nucliadb/search/api/v1/hydrate.py
  nucliadb_models/src/nucliadb_models/hydration.py
Due: lint_nucliadb, lint_nucliadb_models

More tests, improvements and hacks
  nucliadb/src/nucliadb/search/api/v1/hydrate.py
  nucliadb/tests/nucliadb/integration/search/test_hydration.py
  nucliadb/tests/utils/broker_messages/__init__.py
  nucliadb/tests/utils/broker_messages/fields.py
  nucliadb_models/src/nucliadb_models/hydration.py
  nucliadb_utils/src/nucliadb_utils/storages/storage.py
Due: lint_nucliadb, lint_nucliadb_models, lint_nucliadb_utils

store augmented context on activity logs
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/query.py
Due: lint_nucliadb

-
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/src/nucliadb/search/search/predict_proxy.py
Due: lint_nucliadb

fix generative reasoning first chunk time
  nucliadb_utils/tests/unit/audit/test_stream.py
Due: lint_nucliadb_utils

Validate title size due to a pg catalog limitation
  nucliadb_models/src/nucliadb_models/writer.py
Due: lint_nucliadb_models

lower
  nucliadb_models/src/nucliadb_models/writer.py
Due: lint_nucliadb_models

Validate title size due to a pg catalog title index limitation (#3284)
  nucliadb_models/src/nucliadb_models/writer.py
Due: lint_nucliadb_models

fix
  nucliadb/src/nucliadb/search/search/predict_proxy.py
Due: lint_nucliadb

change var name
  nucliadb/src/nucliadb/search/search/predict_proxy.py
Due: lint_nucliadb

increase timeout e2e postgresql pod
  .github/workflows/e2e.yml
Due: none

Fix generative reasoning first chunk time (#3285)
  .github/workflows/e2e.yml
  nucliadb/src/nucliadb/search/search/predict_proxy.py
  nucliadb_utils/tests/unit/audit/test_stream.py
Due: lint_nucliadb, lint_nucliadb_utils

try
  .github/workflows/e2e.yml
Due: none

Bump
  .github/workflows/e2e.yml
Due: none

test
  nidx/nidx_vector/src/segment.rs
Due: rustfmt_nidx, clippy_nidx

now minio
  .github/workflows/e2e.yml
Due: none

Use bitnami legacy image
  .github/workflows/e2e.yml
Due: none

Update e2e.yml
  .github/workflows/e2e.yml
Due: none

Azure storage for nidx
  .github/workflows/ci.yml
  nidx/Cargo.lock
  nidx/Cargo.toml
  nidx/src/settings.rs
  nucliadb/src/nucliadb/common/nidx.py
  nucliadb/tests/standalone/integration/test_upload_download.py
  nucliadb_utils/src/nucliadb_utils/storages/azure.py
  nucliadb_utils/src/nucliadb_utils/storages/settings.py
  nucliadb_utils/src/nucliadb_utils/tests/azure.py
  nucliadb_utils/src/nucliadb_utils/utilities.py
  uv.lock
Due: lint_nucliadb, lint_nucliadb_utils, rustfmt_nidx, clippy_nidx

Path conditions:
  lint_nucliadb: any of: (^nucliadb/) and \.py$
  lint_nucliadb_dataset: any of: (^nucliadb_dataset/) and \.py$
  lint_nucliadb_models: any of: (^nucliadb_models/) and \.py$
  lint_nucliadb_sdk: any of: (^nucliadb_sdk/) and \.py$
  lint_nucliadb_telemetry: any of: (^nucliadb_telemetry/) and \.py$
  lint_nucliadb_utils: any of: (^nucliadb_utils/) and \.py$
  rustfmt_nidx: any of: (^nidx/) and \.rs$
  clippy_nidx: any of: (^nidx/) and \.rs$
