Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_nucliadb, lint_nucliadb_dataset, lint_nucliadb_models, lint_nucliadb_node, lint_nucliadb_node_binding, lint_nucliadb_performance, lint_nucliadb_sdk, lint_nucliadb_telemetry, lint_nucliadb_utils, rustfmt_nucliadb, clippy_nucliadb

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint_nucliadb
        name: Lint nucliadb
        entry: make -C nucliadb lint
        language: system
        files: (^nucliadb/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_dataset
        name: Lint nucliadb_dataset
        entry: make -C nucliadb_dataset lint
        language: system
        files: (^nucliadb_dataset/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_models
        name: Lint nucliadb_models
        entry: make -C nucliadb_models lint
        language: system
        files: (^nucliadb_models/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_node
        name: Lint nucliadb_node
        entry: make -C nucliadb_node lint
        language: system
        files: (^nucliadb_node/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_node_binding
        name: Lint nucliadb_node_binding
        entry: make -C nucliadb_node_binding lint
        language: system
        files: (^nucliadb_node_binding/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_performance
        name: Lint nucliadb_performance
        entry: make -C nucliadb_performance lint
        language: system
        files: (^nucliadb_performance/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_sdk
        name: Lint nucliadb_sdk
        entry: make -C nucliadb_sdk lint
        language: system
        files: (^nucliadb_sdk/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_telemetry
        name: Lint nucliadb_telemetry
        entry: make -C nucliadb_telemetry lint
        language: system
        files: (^nucliadb_telemetry/)
        types: ["python"]
        pass_filenames: false

      - id: lint_nucliadb_utils
        name: Lint nucliadb_utils
        entry: make -C nucliadb_utils lint
        language: system
        files: (^nucliadb_utils/)
        types: ["python"]
        pass_filenames: false

      - id: rustfmt_nucliadb
        name: fmt
        entry: cargo fmt --check
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

      - id: clippy_nucliadb
        name: clippy
        entry: cargo clippy --all-features -- -D warnings
        language: system
        files: (^nucliadb_vectors*/)|(^nucliadb_node*/)|(^nucliadb_paragraphs*/)|(^nucliadb_texts*/)|(^nucliadb_relations*/)
        types: ["rust"]
        pass_filenames: false

WIP charts
  charts/nucliadb/Chart.yaml
  charts/nucliadb/templates/nidx-deploy.yaml
  charts/nucliadb/templates/nidx-svc.yaml
  charts/nucliadb/templates/nucliadb-deploy.yaml
  charts/nucliadb/templates/nucliadb-svc.yaml
  charts/nucliadb/values.yaml
  nidx/.sqlx/query-4ae09f2c08e2f324bee01bb8487a8f37678a1c5e9d327339235c50d4921a8949.json
  nidx/.sqlx/query-5db25f97d8578d6d78f2f6bd4b72cc82a9b1b82805c6422d967ac63b20d99db4.json
  nidx/.sqlx/query-a945191bb4b3e37d6823ed3ad499339d007d69983105de8567777d9daf517b28.json
  nidx/.sqlx/query-e61329fbb184d48a81fbe18bb66b8f1947724b77bada24ebd56b0fbb800b2c7e.json
Due: none

Use suggest for fuzzy matching entities instead of predict
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/src/nucliadb/search/search/graph_strategy.py
  nucliadb/src/nucliadb/search/search/merge.py
Due: lint_nucliadb

Push Options
  nucliadb_models/src/nucliadb_models/processing.py
Due: lint_nucliadb_models

Change conditions for when title is updated from file extracted data
  nucliadb/src/nucliadb/ingest/orm/resource.py
Due: lint_nucliadb

fix
  nucliadb/src/nucliadb/ingest/orm/resource.py
Due: lint_nucliadb

Multi hop
  nucliadb/src/nucliadb/common/ids.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/src/nucliadb/search/search/graph_strategy.py
  nucliadb/src/nucliadb/search/search/merge.py
  nucliadb/tests/search/unit/test_graph_strategy.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

Refactor + fix tests
  nucliadb/src/nucliadb/search/search/chat/ask.py
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/src/nucliadb/search/search/graph_strategy.py
  nucliadb/tests/nucliadb/integration/search/test_search.py
  nucliadb_sdk/tests/test_ask.py
Due: lint_nucliadb, lint_nucliadb_sdk

Refactor
  nucliadb/src/nucliadb/search/search/graph_strategy.py
Due: lint_nucliadb

lock pdm version
  Dockerfile
  Dockerfile.node_sidecar
  Dockerfile.pipbinding
  Dockerfile.withbinding
Due: none

lock pdm version (#2776)
  Dockerfile
  Dockerfile.node_sidecar
  Dockerfile.pipbinding
  Dockerfile.withbinding
Due: none

Better testing
  nucliadb/src/nucliadb/search/search/chat/query.py
  nucliadb/src/nucliadb/search/search/graph_strategy.py
  nucliadb/src/nucliadb/search/search/merge.py
  nucliadb/tests/nucliadb/integration/test_ask.py
  nucliadb/tests/search/unit/search/test_graph_strategy.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

remove todos
  nucliadb/src/nucliadb/search/search/graph_strategy.py
Due: lint_nucliadb

More coverage
  nucliadb/tests/nucliadb/integration/test_ask.py
Due: lint_nucliadb

Better api docs
  nucliadb_models/src/nucliadb_models/processing.py
  nucliadb_models/src/nucliadb_models/writer.py
Due: lint_nucliadb_models

Fix automatic title for file resources (#2775)
  nucliadb/src/nucliadb/ingest/orm/resource.py
Due: lint_nucliadb

Add extract_strategy on all field types
  nucliadb_models/src/nucliadb_models/conversation.py
  nucliadb_models/src/nucliadb_models/file.py
  nucliadb_models/src/nucliadb_models/link.py
  nucliadb_models/src/nucliadb_models/processing.py
  nucliadb_models/src/nucliadb_models/text.py
Due: lint_nucliadb_models

Parse extract strategy
  nucliadb/src/nucliadb/ingest/processing.py
  nucliadb/src/nucliadb/writer/resource/field.py
  nucliadb_models/src/nucliadb_models/conversation.py
  nucliadb_models/src/nucliadb_models/link.py
  nucliadb_models/src/nucliadb_models/text.py
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/resources.proto
  nucliadb_protos/rust/src/resources.rs
Due: lint_nucliadb, lint_nucliadb_models

Added integration test
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/writer/resource/field.py
  nucliadb/tests/nucliadb/integration/test_api.py
  nucliadb_models/src/nucliadb_models/file.py
  nucliadb_models/src/nucliadb_models/link.py
  nucliadb_models/src/nucliadb_models/text.py
Due: lint_nucliadb, lint_nucliadb_models

Add extract_strategy on all field types
  nucliadb/src/nucliadb/writer/api/v1/upload.py
Due: lint_nucliadb

Add storage key to vectorsets to be able to know where are vectors stored
  nucliadb_protos/knowledgebox.proto
  nucliadb_protos/python/src/nucliadb_protos/knowledgebox_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/knowledgebox_pb2.pyi
  nucliadb_protos/rust/src/knowledgebox.rs
Due: none

wip
  nucliadb/src/nucliadb/common/datamanagers/fields.py
  nucliadb/src/nucliadb/ingest/fields/base.py
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb_protos/python/src/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/rust/src/fdbwriter.rs
  nucliadb_protos/writer.proto
Due: lint_nucliadb

wip
  nucliadb/src/nucliadb/common/datamanagers/fields.py
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/ingest/serialize.py
Due: lint_nucliadb

Add unit test for int field type ids
  nucliadb/tests/nucliadb/unit/common/test_ids.py
Due: lint_nucliadb

Fixes from feedback
  nucliadb/src/nucliadb/search/api/v1/suggest.py
  nucliadb/src/nucliadb/search/search/graph_strategy.py
  nucliadb/src/nucliadb/search/search/merge.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models

Document merge relations
  nucliadb/src/nucliadb/search/search/merge.py
Due: lint_nucliadb

Always set storage_field_key on KB creation
  nucliadb/src/nucliadb/ingest/orm/knowledgebox.py
Due: lint_nucliadb

Fixes creating a KB from an Import
  nucliadb/src/nucliadb/writer/api/v1/knowledgebox.py
Due: lint_nucliadb

Writer sets resource status
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/writer/api/v1/field.py
  nucliadb/src/nucliadb/writer/api/v1/resource.py
  nucliadb/src/nucliadb/writer/resource/field.py
  nucliadb_protos/python/src/nucliadb_protos/train_pb2.pyi
  nucliadb_protos/python/src/nucliadb_protos/train_pb2_grpc.pyi
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/resources.proto
  nucliadb_protos/rust/src/fdbwriter.rs
  nucliadb_protos/writer.proto
Due: lint_nucliadb

Do not use new status yet
  nucliadb/src/nucliadb/ingest/orm/resource.py
Due: lint_nucliadb

Undo serialize changes for now
  nucliadb/src/nucliadb/ingest/serialize.py
Due: lint_nucliadb

Migration
  nucliadb/src/migrations/0028_backfill_field_status.py
  nucliadb/src/nucliadb/ingest/orm/resource.py
Due: lint_nucliadb

Use same names for field/resource status
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/writer/api/v1/field.py
  nucliadb/src/nucliadb/writer/api/v1/resource.py
  nucliadb/src/nucliadb/writer/resource/field.py
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/writer_pb2.pyi
  nucliadb_protos/rust/src/fdbwriter.rs
  nucliadb_protos/writer.proto
Due: lint_nucliadb

done
  nucliadb/src/nucliadb/writer/api/v1/upload.py
  nucliadb/tests/nucliadb/integration/test_api.py
Due: lint_nucliadb

Better api docs
  nucliadb_models/src/nucliadb_models/file.py
  nucliadb_models/src/nucliadb_models/link.py
  nucliadb_models/src/nucliadb_models/text.py
Due: lint_nucliadb_models

fix
  nucliadb/src/nucliadb/writer/api/v1/upload.py
Due: lint_nucliadb

Add extract strategy for text, file and link fields (#2774)
  nucliadb/src/nucliadb/ingest/orm/resource.py
  nucliadb/src/nucliadb/ingest/processing.py
  nucliadb/src/nucliadb/writer/api/v1/upload.py
  nucliadb/src/nucliadb/writer/resource/field.py
  nucliadb/tests/nucliadb/integration/test_api.py
  nucliadb_models/src/nucliadb_models/file.py
  nucliadb_models/src/nucliadb_models/link.py
  nucliadb_models/src/nucliadb_models/processing.py
  nucliadb_models/src/nucliadb_models/text.py
  nucliadb_models/src/nucliadb_models/writer.py
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.py
  nucliadb_protos/python/src/nucliadb_protos/resources_pb2.pyi
  nucliadb_protos/resources.proto
  nucliadb_protos/rust/src/resources.rs
Due: lint_nucliadb, lint_nucliadb_models

Addressed comments
  nucliadb/src/nucliadb/search/search/find_merge.py
  nucliadb/src/nucliadb/search/search/graph_strategy.py
  nucliadb/src/nucliadb/search/search/merge.py
  nucliadb_models/src/nucliadb_models/search.py
Due: lint_nucliadb, lint_nucliadb_models
